[2015-04-20 22:01] Zidane opened #1 "Implement gamemode switching between worlds (as part of the WorldBuilder)"
(Hurrah to issue #1 on SpongeCommon!)

@bloodmc

When we pull over the world management impl to common, we need to implement switching gamemodes between worlds.

I think we considered making a permission in-which a player can override the gamemode switch. Something like

    sponge.gamemode.override

?

[2015-04-21 04:36] Zidane opened #2 "SpongeCommon is downloading VanillaGradle when executing build script"
This is for @Minecrell

Not so much an issue but more a question: Should common be pulling this dependency vs. SpongeVanilla?

[2015-04-21 04:40] Minecrell commented on #2
Common is using the Vanilla Minecraft source, as this is the shared base we have for both implementations. In order to provide the Vanilla source we need to use VanillaGradle currently. SpongeVanilla is also using VanillaGradle, but Sponge is using ForgeGradle directly.

[2015-04-21 04:44] Zidane commented on #2
@Minecrell

Can you discuss on IRC further right now?

[2015-04-21 04:46] Minecrell commented on #2
@Zidane I could join #lapis for like 5-10 minutes, but I gtg then and don't have the other channels setup from the iPad.

[2015-04-21 05:29] gabizou opened #3 "Update the README.md"
Currently, the README file is a copy pasta of the Sponge implementation. We should document what SpongeCommon really is etc.

[2015-04-21 17:14] ryantheleach commented on #1
If this is to have a creative world, and a survival world in the same server, wouldn't it make more sense to either remember the last used gametype per world, or going further and having the option to keep seperate userdata/inventory/falldamage/statistics per universe?

I've used multiverses gametype enforcing before and both allowing users to have an override permission allowing them to bring cre

[2015-04-21 17:32] Zidane commented on #1
We won't be keeping inventory/etc isolated per world. Remember we want to try and keep things mostly Vanilla gameplay.

With that said, having gamemode in the builder does complicate things. Namely cause it does break vanilla gameplay doesn't it.

@SpongePowered/developers thoughts?

[2015-04-22 13:24] Minecrell commented on #2
@Zidane I guess this is solved now, nobody mentioned additional problems in IRC after I explained why Common is using the Vanilla Minecraft source. The additional decompile time is of course kinda a problem, but let's hope that is going to be improved with FG2.

[2015-04-22 13:24] #2 closed

[2015-04-22 14:52] ryantheleach commented on #1
If I understand correctly from reading the spongedocs, in sponge a world is a collection of dimensions, unlike Bukkit which relocated the dimensions into their own worlds?

So cross-dimension same world teleports is the "vanilla" behaviour and thus is why gamemode is preserved.

When is the players gamemode set in vanilla (without command intervention)? Is it a once off thing that gets remembered

[2015-04-22 16:00] Azatik opened #5 "Add ability to disable the message of death."
Add ability to disable the message of death.
And according to the configuration file: DeathMessages = true/false.

[2015-04-22 16:14] zml2008 commented on #5
This should be event + plugin

[2015-04-22 16:19] Azatik commented on #5
Okay.So make a plugin.

[2015-04-22 16:25] #5 closed

[2015-04-23 22:31] RobertHerhold opened #6 "Broken static colored Text instances"
It seems that whenever you build a static Text instance with a color, like the following:

[code]
the TextColor is interpreted as null somewhere, and so when the Text is sent to a player, they would see: `nullMy red text!` (uncolored).

This is a continuation from SpongePowered/Sponge#216

[2015-04-23 22:32] Mumfrey commented on #6
This should be fixed by the registry overhaul I'm working on.

[2015-04-24 05:43] gabizou opened #7 "Implement DataManipulators"
A Checklist of data manipulators

**TileData**
- [x] BannerData
- [x] BeaconData
- [x] BrewingData
- [x] CooldownData
- [x] FurnaceData
- [x] LockableData
- [x] NoteData
- [x] SignData

**EntityData**
- [ ] AchievementData
- [x] AgeableData
- [x] AgentData
- [x] AggressiveData
- [x] AngerableData
- [x] ArtData
- [ ] BanData
- [x] BodyPartRotationalData
- [x] BreathingData
- [x] BreedableData
- [x]

[2015-04-24 05:49] gabizou opened #8 "Implement DataProcessors"
Given that Data API is rather large when it comes to the amount of data it is supposed to handle, this is a checklist of the data that is implemented.

If you'd like to implement one, please follow these guidelines by copy pasting this code block into your PR description and check mark as necessary:

----------

Implementation of `REPLACE_WITH_DATA_MANIPULATOR`.
- [x] Registration of field getters

[2015-04-24 06:22] Zidane opened #9 "Issues with PlayerBreakBlockEvent vs. BlockBreakEvent"
This applies to both Sponge and SpongeVanilla.

The original implementation of PlayerBlockBreakEvent in Sponge is mixed into BlockEvent.Break from Forge. An API change, at some point, landed and changed the interface; it was granted a Direction facing. This presents a problem because:

* tryHarvestBlock (where Forge fires their event) in ItemInWorldManager has no parameter for the facing direction

[2015-04-24 06:30] Zidane commented on #1
@ryantheleach

In Sponge, each world has its own dimension and are treated as true worlds. The only reason why world and DIM1/-1 seem "linked" is cause of their portal targets.

As I mentioned above, we have to mostly keep vanilla functionality:

* We won't isolate inventory per world. Plugin can do this.
* Gamemode is tricky. In vanilla currently, you keep your gamemode.

So its probably better t

[2015-04-24 15:57] Zidane commented on #3
@Grinch typically cleans up READMEs and polishes them. Gonna have him PR one to cleanup each project for us.

[2015-04-26 02:16] Deamon5550 opened #10 "Correct biomes matching dimensions rather than terrain."
Currently when you create a world with a certain GeneratorType and a different Dimension Type (for example overworld terrain in a nether dimension), the final biomes of the world match the dimension rather than the terrain. This should be the reverse with the biomes matching the terrain.

This is easy to see using the WorldTest and traveling to any of the mixed worlds (netherend, endnether, overen

[2015-04-26 04:44] Gregabyte opened #11 "Safe Spawn doesn't allow spawn on glass blocks"
Found that safe spawn doesn't allow a spawn point on glass blocks.  It will teleport user to closest piece of dirt.

[2015-04-26 17:39] Azatik opened #12 "Implement "weather.getName()" and "weather.getId()""
Not implemented "weather.getName()" and "weather.getId()".
https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/weather/SpongeWeather.java

[2015-04-28 02:26] Zidane commented on #12
@gabizou implemented this here: https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/weather/SpongeWeather.java

[2015-04-28 03:06] #12 closed

[2015-04-29 06:48] Zidane opened #15 "Restore Pre-1.8 Server Spawn Protection Behavior"
As some may know, in 1.8 the server disables spawn point protection if the server has no known OPs. In my opinion, this is an incredibly stupid design decision and, as evidenced by looking at various forum posts, many server admins were under a false impression that spawn protection broke.

Put simply, you shouldn't HAVE to have an OP specified for spawn protection work. Its an easy change to Dedi

[2015-04-29 06:54] Deamon5550 commented on #15
Seems very logical to me, from a safety standpoint you don't want the spawn protection to break if the ops.json file has any issues.

[2015-04-29 07:00] gabizou commented on #15
I agree with @Deamon5550 on this. It does seem like a silly change that sadly shouldn't have been made in the first place.

[2015-04-29 11:24] ZephireNZ commented on #15
Perhaps add this as an optional module (or to an existing one), similar to the other ones we have already? That way Sponge can be as vanilla as possible, or add in these "logical" changes if wanted.

[2015-04-29 11:34] modwizcode commented on #15
Config option and yes this should be added.

[2015-04-29 22:37] AnUnknownMiner commented on #15
Agree with this, I don't know what they were thinking.. :+1:

[2015-04-30 20:44] Zidane commented on #11
Ice, glass, and snow need to be added to the safe teleporter block list and that will resolve this issue.

[2015-05-01 02:26] kenzierocks opened #16 "OP permission not given in SSP"
When running in SSP, even starting a LAN server with "Cheats" enabled doesn't give the overall OP permission. This prevents use of any higher level commands without a permission plugin installed.

[2015-05-01 02:41] kenzierocks commented on #16
[This](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/mixin/core/entity/player/MixinEntityPlayerMP.java#L210) needs to be OP sensitive.

[2015-05-01 06:38] zml2008 commented on #16
no, that is not what needs to change. getParents() in UserSubject is what needs to be corrected (and I think it was corrected -- it worked last time I tried at least)

[2015-05-01 18:07] gratimax opened #17 "Convert Text colors to legacy format for sending with ChatTypes.ACTION_BAR"
Mojang text handling is inconsistent between different chat types. For all other chat types (mostly the standard player chat), all properties of chat work fine. However, with the action bar colors specified in JSON format do not work, they only work in legacy format. There are probably reasons behind this, but it comes at great inconvenience to plugin developers.

The proposed fix would be to sile

[2015-05-01 19:50] #17 closed

[2015-05-03 17:09] Azatik opened #20 "PlayerInteractBlockEvent performed twice."
PlayerInteractBlockEvent performed twice.
This occurs when:
I hold in my hand the subject;
The reason for the event - use.

CODE
[code]

Job CODE
![2015-05-03_22 07 45](https://cloud.githubusercontent.com/assets/10154956/7445962/fcb0c416-f1e0-11e4-8ed7-261362282bf7.png)

[2015-05-03 17:14] Zidane commented on #20
https://github.com/SpongePowered/Sponge/issues/260

Closing this to bring over all feedback to the other issue.

[2015-05-03 17:14] #20 closed

[2015-05-04 04:03] kenzierocks opened #21 "Build link in README is wrong"
Should be linking to the SpongeCommon build, not the Sponge build.

[2015-05-04 04:42] kenzierocks opened #22 "Errors with unqualified access to instance variables."
These places don't use `this.` for access to instance variables:

- [MixinChunk:154](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/mixin/core/world/MixinChunk.java#L154)
- [MixinChunk:206](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/mixin/core/world/MixinChunk.java#L206)
- [MixinWorldType:117](h

[2015-05-04 05:22] Deamon5550 opened #23 "Ongoing Minor Issue List"
__Minor Issues List__

- [ ] Discover Minor Issues
- [ ] Build link in README should be linking to the SpongeCommon build, not the Sponge build.

__Checkstyle warnings__

File | Problem
---- | ----
Unqualified instance access | [MixinChunk:154](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/mixin/core/world/MixinChunk.java#L154)
Unqualified instanc

[2015-05-04 05:23] Deamon5550 commented on #22
Covered in #23

[2015-05-04 05:23] #22 closed

[2015-05-04 05:23] Deamon5550 commented on #21
Covered in #23

[2015-05-04 05:23] #21 closed

[2015-05-05 22:47] boformer opened #24 "Canceling a CommandEvent causes "Command not found" warning in chat"
This happens when you cancel the event that refers to a registered command,
and when you cancel an event that refers to an unknown command. Always.

Tested with different event orders (PRE, EARLY, LATE).

Expected behaviour: When you cancel a command event, no "Command not found" message should appear.

Tested with Sponge-1.8-1371-2.1DEV-437

This issue did not appear with old versions of Sponge (

[2015-05-07 13:47] Zidane commented on #24
I'd almost say its better to say no command found. My opinion though.

@SpongePowered/developers thoughts?

[2015-05-07 13:49] Minecrell commented on #24
If a plugin wants to supress any command execution, e.g. by cancelling the `CommandEvent` and sending a message instead the unknown command message should really not be displayed. Cancelling the event should prevent any further processing.

[2015-05-07 14:36] boformer commented on #24
Exactly.

[2015-05-07 15:29] DDoS commented on #24
I don't like the idea of sending "Command not found". The server shouldn't lie about what commands it knows because it could cause some major confusion for users.

I think it should print a message defined by the canceller, with a default value of "Command cancelled" (with the source of the cancellation if possible).

[2015-05-07 23:12] MikaalSky opened #26 "Custom naming of DefaultConfig, or maybe just an internal rename?"
I personally would love my plugin's config to look like something nice ("config.conf") but for defaultconfig, it's impossible to set.

[2015-05-07 23:23] RobertHerhold commented on #26
So just follow my logic for a little bit. If you have the annotation `@DefaultConfig(sharedRoot = true`, then that means your config will be put in the `config` folder, along with every other plugin's configuration. Assuming everyone's plugin's sharedRoot value is true, then everyone's configuration will be placed in the same folder. Therefore, it would make sense that they would be identified as

[2015-05-07 23:25] MikaalSky commented on #26
@RobertHerhold It wouldn't need to be a fixed name, it could be set by the plugin's creator, or possibly toggled manually between config.conf and PluginName.conf

[2015-05-07 23:28] RobertHerhold commented on #26
But you were suggesting `config.conf` be the **default** configuration name, correct?

[2015-05-08 00:15] boformer commented on #24
@DDoS It should not send a message at all if a plugin cancels the event (the plugin can do that).

[2015-05-08 00:18] boformer commented on #26
I like ``plugin-id.conf``.

You can still create individual configs with different names.

[2015-05-08 00:21] MikaalSky commented on #26
It would be great if we could change the **default** name to config.conf.

[2015-05-08 00:35] RobertHerhold commented on #26
Do you see the issue with that? You can't build a system in which there are conflicts **by default**. If the default for everyone's plugin is `config.conf`, then you'll have tons of issues with conflicts and overwriting files, like I mentioned above.

[2015-05-08 02:21] DDoS commented on #24
I'm a bit worried about a plugin not doing that. When it comes to user stuff, you really don't want to be vague or unclear.

[2015-05-08 03:33] zml2008 commented on #24
When the event is cancelled, the result set in the event is used as the result. If no result is set, the command is treated as having not been found.
To suppress the message, set a command result in the CommandEvent when cancelling it.

[2015-05-08 06:05] ST-DDT commented on #24
Is `SUCCESS` the right command result to det or should we have something like `CANCELLED` in the API? With and without message.

[2015-05-08 09:07] Azatik opened #27 "Event PlayerDropItemEvent is not triggered upon death."
Event ```PlayerDropItemEvent``` is not triggered upon death.
Behavior is for player death to drop all items at once.
CODE:
[code]

[2015-05-08 14:03] simon816 commented on #27
This should be an issue with Sponge or SpongeVanilla rather than SpongeCommon

In Sponge, the event is mixed-in to Forge's `ItemTossEvent` (see [`MixinEventPlayerDropItem`](https://github.com/SpongePowered/Sponge/blob/865d6ffbe0e7a339ae848f63047050b08ecc53ac/src/main/java/org/spongepowered/mod/mixin/core/event/player/MixinEventPlayerDropItem.java#L43)). It looks like the event is only fired when a

[2015-05-08 14:43] Azatik commented on #27
I am writing here, when i do not know where to write.

[2015-05-09 21:14] MikaalSky opened #29 "Texts.fromLegacy("§r") isn't processed properly."
fromLegacy ignores §r, acting as if it doesn't even exist.

[2015-05-10 11:02] #29 closed

[2015-05-10 16:13] MikaalSky opened #30 "DisplayNameData throws AbstractMethodError..."
Calling .getDisplayNameData() on a player throws an AbstractMethodError, which suggests it hasn't been implemented, but according to this: https://github.com/SpongePowered/SpongeCommon/issues/7, it has.

[2015-05-10 18:25] Zidane commented on #30
Need more information. Paste some code.

[2015-05-10 19:13] MikaalSky commented on #30
game.getServer().getPlayer(event.getSource().getName()).get().getDisplayNameData();

[2015-05-10 19:26] gabizou commented on #30
The individual method is not implemented. The manipulator itself works and you can get the display name data by the traditional method getData.

[2015-05-10 19:27] Zidane commented on #30
@gabizou

Don't close the issue if the method he is using isn't implemented. Once it is, then it will be closed.

[2015-05-11 02:02] MikaalSky opened #31 ".fromLegacy seems to axe off all previous non-formatted text."
So if I had
String myMessage = "nonform&5colors!";
And sent it through
Texts.fromLegacy(myMessage,'&');
It would remove "nonform" from the message. Might be an issue with detecting the first color code or something.

[2015-05-11 14:53] #31 closed

[2015-05-11 15:42] TheE opened #32 "SqlServiceImpl creates new connection pools even if a pool with such a configurartion already exists"
Usage of `SqlService.getDataSource(String)` leads to creation of new connection pools whenever called, even if a pool has already been created with identical URL and credentials. An example is illustrated [here](https://forums.spongepowered.org/t/using-sqlservice-connection-pool-not-closing/7160).

I assume this happens, because the `SqlServiceImpl.ConnectionInfo`, that is used to identify created

[2015-05-14 03:55] pqqqqq opened #33 "SyncScheduler has incorrect delay compensation"
When using the SynchronousScheduler#runTaskAfter method (implemented by SyncScheduler), the delay given by the command in ticks is sometimes not used. For example, when using this code in a command:
[code]
Usually a server averages about 20tps, so this delay would be 10 seconds, however this value returns 51 milliseconds.

Doing a similar test with 2000 ticks (which is usually about 100 seconds) g

[2015-05-14 04:02] RobertHerhold commented on #33
I ran into the same issue: SpongePowered/Sponge#220

[2015-05-14 04:03] pqqqqq commented on #33
Didn't realize this was posted previously. Might as well bring an old issue back to life, especially with a reproducible way to experience it.

[2015-05-14 04:03] RobertHerhold commented on #33
I still have the same issue today, so a resolution would be appreciated :)

[2015-05-14 04:13] Zidane commented on #33
[code]

Outputs

[code]

I can't reproduce this now and I couldn't before but I used SpongeVanilla to test. Anyway either of you could pull it down and test on it? I can also try it with Sponge itself and see (though this mimic'd the results in the past).

What OS is everyone on? Windows 8.1 here. What JRE? Java 8 u 45 here.

[2015-05-14 04:16] RobertHerhold commented on #33
I'll try it out again sometime tomorrow

Ubuntu 15.04, JRE 7u79 (OpenJDK)

[2015-05-14 04:17] pqqqqq commented on #33
I can set up a quick SpongeVanilla server and test the same code on it. I'm on Windows 8.1 with Java 7 u 74.

[2015-05-14 04:50] gabizou commented on #33
I just tested on Mac OS X with Java 8 update 45:

SpongeVanilla:
[21:12:35] [Server thread/INFO]: 10022

Sponge:
[21:46:53] [Server thread/INFO]: 10016

Aside from some minor delay using `ServerStartingEvent`, I wouldn't really see this as reproducible.

[2015-05-14 04:55] kenzierocks commented on #33
So people with 7 have bug, with 8 do not? Might be JRE related.

[2015-05-14 17:23] gabizou opened #34 "Load Existing Worlds Whose Plugin No Longer Exists"
So, in the past, Bukkit functionality had maintained that a world could be loaded by an external plugin, such as [Multiverse](http://dev.bukkit.org/bukkit-plugins/multiverse-core/), the world would only be loaded if Multiverse was running on the server, otherwise, only the default world as defined by the `server.properties` file would be loaded. In SpongeAPI implementations, this isn't the case, i

[2015-05-14 17:45] Zidane commented on #34
@gabizou

We discussed this at length last night. I will say that when @bloodmc first got the world changes working in Sponge and I removed the plugin, it surprised me when they still loaded.

The beauty of this is it isn't too...difficult to support this as we can simply track if a world is set to load and then only load worlds that fit this criteria. Question is, should this be the expected beha

[2015-05-14 17:47] Zidane commented on #33
@pqqqqq

Are you in the position of using Java 8? Could you try and see what your mileage is?

Could you also paste all of your plugin's code?

[2015-05-14 17:57] gabizou commented on #34
That's why I created the issue so we can get some feedback from other people ;)

[2015-05-14 18:16] Mumfrey commented on #34
Maybe actually allow the plugin to control this? Plugin creating world can say "load this even if I'm not present" or "only load if I am present". Could even be as simple as marking the world with an "owner" (plugin), which if present is required to load the world, and if left blank (by the seeding plugin) will allow the world to load regardless.

The import of this issue resolves to plugins which

[2015-05-14 18:42] boformer commented on #34
If you want provide multi-world support, do it right: Add a worlds config and maybe some commands to load/create/unload worlds.

Or follow the vanilla behavior: Without plugins, only load one world.

[2015-05-14 19:55] ST-DDT commented on #34
Yes. World should only be loaded if the server is requested to do so. Either by config oder method call.

[2015-05-14 20:23] pqqqqq commented on #33
@Zidane
I've just tried this on java 8 u 45 and the same issue persists. I've tried it on both Sponge and SpongeVanilla on Windows 8.1. In addition, my Sponge public server running Linux ubuntu 14.04 java 8 u 45 (SUN jre) has the same issue. I'll message you the source since I'd rather keep it private.

[2015-05-14 21:26] Zidane commented on #33
@Minecrell

Read the OP's edit. Seems to happen when issuing this from a command. Want to take a look at this sometime?

[2015-05-14 23:35] gabizou commented on #30
Perfectly handled by #8.

[2015-05-14 23:35] #30 closed

[2015-05-14 23:41] RobertHerhold commented on #33
The issue I was working on had the same setup. Command executed --> schedule task. I made a pull request for it: SpongePowered/Sponge#225 which I'm fairly certain is a valid fix. I could never reproduce the scheduled task working at the correct delay without it. I'll test this out again, and I'll post my results

[2015-05-15 00:19] zml2008 commented on #24
There are CommandResult.success() for a generic successful command and CommandResult.empty() for a generic failed command. With not found message is an absent CommandResult (iirc setResult(null) in the event).

Since this is an issue of not marking the command event as handled, gonna close this.

[2015-05-15 00:19] #24 closed

[2015-05-15 02:46] #32 closed

[2015-05-15 02:47] boformer commented on #24
This should be mentioned in the CommandEvent.setCancelled javadoc.

[2015-05-15 16:35] RobertHerhold commented on #33
...And I was correct! My PR does work! If you want to reproduce, checkout [my fork of SpongeCommon](https://github.com/RobertHerhold/SpongeCommon) and build it. I tested this with [BLWarps](https://github.com/BlockLaunch/BLWarps/releases/tag/v0.2.1). To reproduce:
* Use both the BLWarps plugin and my fork of SpongeCommon
* In game, make a warp: "/addwarp mywarp"
* Warp to the newly created warp: "

[2015-05-15 21:41] zml2008 commented on #16
Tested this, cannot reproduce. Works fine for me -- permissions are given based on the assigned op level for singleplayer with cheats.

[2015-05-15 21:41] #16 closed

[2015-05-16 03:15] ConnorStone opened #36 "Tasks will not stop if canceled during run()"
Both Async and Sync Schedulers use the same similar code to process every task, every run.

[code]
startTask() ends up calling run() on the task as expected but the task is always set to the RUNNING state once completed, which means if task.cancel() is called during run() of the task, it will be ignored and set back to RUNNING, and never stop.

[2015-05-18 22:10] nikosgram13 opened #39 "AbstractMethodError at EntityPlayerMP.getGameModeData()"
[code]

Java Version: `1.8`
Minecraft Version: `1.8.4`
Sponge Version: `1.8-1371-2.1DEV-449`
Forge Version: `1.8-11.14.1.1404-universal`

My code in line 111:
[code]

[2015-05-18 22:42] nikosgram13 opened #40 "Optional.get() cannot be called on an absent value."
[code]

Java Version: `1.8`
Minecraft Version: `1.8.4`
Sponge Version: `1.8-1371-2.1DEV-449`
Forge Version: `1.8-11.14.1.1404-universal`

My code:
[code]

[2015-05-18 22:45] gratimax commented on #40
Optional.get() [throws an exception](https://github.com/google/guava/blob/35c470b214182b163e3030c0e59cb6ee5c53944d/guava/src/com/google/common/base/Absent.java#L47) when called on Absent, you are using it incorrectly.

You need to do:
[code]

This is why optionals exist, to make "null checks" more explicit and needed.

[2015-05-18 22:45] #40 closed

[2015-05-18 22:48] nikosgram13 commented on #40
I never understand the Optional's methods.

[2015-05-18 23:13] kenzierocks commented on #40
- https://code.google.com/p/guava-libraries/wiki/UsingAndAvoidingNullExplained
- [Javadoc](http://docs.guava-libraries.googlecode.com/git/javadoc/com/google/common/base/Optional.html)

[2015-05-18 23:46] simon816 opened #41 "Event Implementation Progress Tracker"
# NOTE: THIS IS WILDLY OUT OF DATE

**Event Progress Trackers:** [SpongeForge](https://github.com/SpongePowered/SpongeForge/issues/274) | **SpongeCommon** | [SpongeVanilla](https://github.com/SpongePowered/SpongeVanilla/issues/168)
## Progress tracker for events

**Please keep this updated Sponge devs!**

`achievement.GrantAchievementEvent`
- [ ] Fired from **all** relevant parts of the Minecraft/

[2015-05-19 06:42] me4502 commented on #41
I'm working in https://github.com/SpongePowered/SpongeCommon/tree/feature/eventsme4502

I've so far just implemented BlockRandomTickEvent

[2015-05-19 07:11] Voltasalt commented on #41
Should I check off the ones I've done in feature/events, or wait till they're in master?

[2015-05-19 08:20] simon816 commented on #41
This should only be for events in master. You could edit the issue to make a note that it is done in another branch (then finalize by ticking the box when merged)

[2015-05-19 09:36] me4502 commented on #41
I've checked off the ones ive done, to show people they have already been done. This should be a list of what needs to be done, versus what is in master.

[2015-05-21 09:40] me4502 commented on #41
Added LeafDecayEvent

[2015-05-21 10:31] Aaron1011 commented on #41
@simon816: All of the fishing events are fired (except for the Human ones, since there's no support for Humans atm).

[2015-05-23 03:56] me4502 commented on #41
I just removed EntityChangeHealthEvent from here, due to API changes.

[2015-05-23 11:33] modwizcode commented on #27
I'll take a look at this in SpongeVanilla

[2015-05-23 17:28] ConnorStone commented on #36
Ping

[2015-05-24 00:09] theboomer opened #45 "Placing a decorated banner = Fatal error, FutureTask - optional get()"
Upgraded to sponge dev 456 to confirm:

Solid color banners can be placed about just fine.  Dye a banner, place it, and the banner does not appear, inventory is decreased to a red 0 in client (which can also go negative as placed more times).  Block-update the area with a regular block or solid banner, and all the placed banners (including the ones below 0) appear in client.  Other clients will se

[2015-05-24 00:10] theboomer commented on #45
Also, this was tested with JUST forge, and does not occur - it is a sponge thing

[2015-05-25 01:44] Zidane commented on #26
Closing this as it will rename the plugin-id.conf. No reason to rename it.

[2015-05-25 01:44] #26 closed

[2015-05-25 14:34] spongieDev opened #48 "PassengerData not working on minecarts"
I get a "java.lang.IllegalStateException: Optional.get() cannot be called on an absent value" exception when trying to put a block inside a minecart. Code: http://pastebin.com/CsYqXzQq . Thanks for helping, as I cannot keep working with this error.

[2015-05-26 01:08] ryantheleach commented on #48
According to this, this effect is done using minecartfurnaces http://www.reddit.com/r/Minecraft/comments/1m3fm8/diagonal_blocks_are_much_easier_now_with_summon/

Is this the effect you want, or are you attempting to get an actual fallingblock entity in a minecraft, which will probably have a limited lifespan.

[2015-05-26 16:59] spongieDev commented on #48
I am trying to get the same result as if I had executed this command: /summon MinecartRideable ~ ~1 ~ {CustomDisplayTile:1,DisplayTile:dirt}

[2015-05-26 22:21] ZephireNZ commented on #48
What you're trying to do and what you're actually doing are different. PassengerData is made for entities such as horses, pigs etc that have another entity riding on top of them.

The CustomDisplayTile tag is specific to minecarts, they render a block inside the card (or above/below, in some cases) - it is not a seperate entity.

@gabizou Perhaps we need another data type?

[2015-05-26 22:22] ZephireNZ commented on #48
PassengerData seems to specific to entities for it to be used for minecarts.

[2015-05-27 01:34] gabizou commented on #48
You are right about that, he's forgetting to spawn the mincer, then spawning in the `FallingBlock` entity.

There is no limitation on `PassengerData` about whether the passenger can be a `Living` or anything like that. It's closer to the `SpongePassengerProcessor` returning absent when it shouldn't.

Not sure what you mean here, picture?

No it isn't.

[2015-05-27 04:46] #11 closed

[2015-05-27 04:47] ZephireNZ commented on #48
With minecarts, you have a few optional fields to show a custom block inside the minecart:

- *CustomDisplayTile* - Whether or not to show a custom tile.
- *DisplayTile* - Block ID of the tile to show.
- *DisplayData* - Integer durability for the block
- *DisplayOffset* - draw the tile above or below the usual position in the cart.

This kind of metadata is completely different to PassengerData. P

[2015-05-27 05:38] kashike opened #49 "Tab completion issues"
Vanilla (and SpongeAPI) commands to not tab-completing correctly.

`/scoreboard <TAB>`:

expected:

_______________________________________

`/tpworld Kashike <TAB>`: (expected)

_______________________________________

`/tpworld Kashike n<TAB>`:

expected:

[2015-05-27 05:45] #3 closed

[2015-05-27 16:22] zml2008 commented on #49
The issues in Sponge commands are related to SpongePowered/SpongeAPI#604 I think. (Vanilla commands are a separate thing)

[2015-05-27 23:12] kashike opened #50 "Provide a sub-command off /sponge to get a list of plugins"
It would be a huge plus to have a command (`/sponge plugins` or similar) to get a list of plugins currently active. It would be permission-based like the rest of the `/sponge` commands (currently only implemented in Sponge).
This command is helpful when helping users with issues (conflicting plugins, etc), and is much more reliable than someone manually typing a list of plugins (spelling issues, m

[2015-05-28 12:21] simon816 commented on #36
I have fixed this in my scheduler cleanup PR. The state is set to running just _before_ it actually runs the task
See [`SchedulerBase#startTask`](https://github.com/SpongePowered/SpongeCommon/pull/47/files#diff-168ace8114caeb27d02b38cad72bc18eR177)

[2015-05-28 14:47] Zidane opened #52 "Discussion: Procedures for managing Overwrite methods in mixins"
(Moved into common)

Calling @SpongePowered/developers for comments.

It is my belief that we need to put a procedure (or at least some reasonably strict guidelines) in place for managing `@Overwrite` methods in mixins. This thought is largely triggered by [these two behemoths](https://github.com/SpongePowered/Sponge/blob/master/src/main/java/org/spongepowered/mod/mixin/core/server/MixinServerConf

[2015-05-28 14:51] Zidane commented on #52
Just to make clear, this was Mumfrey's original post so direct inquiries to him.

[2015-05-28 15:37] zml2008 commented on #50
I think this would be useful to have, along with a /sponge version <plugin> -type command.

Though, this could also appear within the help system.

[2015-05-28 16:09] ST-DDT commented on #50
A nice utility command that would help us supporting user issues would be useful as well.
 * /sponge dump

This command would print all `Platform` details (to the console) and this details could then be added/copied to the error description. And it would already contain all useful information about the platform. And a list of plugins (maybe with their version number as well.
I we have a well known

[2015-05-28 16:16] Mumfrey commented on #52
I actually forgot about this, I started writing it up but got super frustrated with the crappy *not-quite-as-flexible-as-markdown* markup that the docs project uses. I will finish writing up when I get a minute.

[2015-05-28 23:31] kashike commented on #50
@ST-DDT I like the sound of that, good thought.

[2015-05-29 07:47] Buuz135 opened #53 "When using fromLegacy with a string that contains "& " it cuts the string at that point."
As explained here https://github.com/Buuz135/ExtraChat/issues/27 when you have a string that contains & (& is the char used in fromLegacy) and a space after it it cuts the string at that point.

[2015-05-29 14:36] #53 closed

[2015-05-29 20:12] randombyte-developer opened #55 "AsyncScheduler groups tasks' delay"
Hello!

I execute this:
[code]

I get the following output:

[code]

The first Runnable runs at the right time. The next three are grouped together and are executed with the delay of the last Task in this "group"(6 seconds delay). And the forth Task runs at a completely wrong time: It starts the delay from the last Task(20 seconds, see the log time) and counts up to 28 seconds but it should start

[2015-05-29 20:33] kenzierocks commented on #55
Will be fixed by #47

[2015-05-29 20:38] randombyte-developer commented on #55
Thank you!

Sorry, I really should read everything(from issues to PRs) next time... :smile:

[2015-05-29 20:38] #55 closed

[2015-05-31 10:05] ST-DDT commented on #23
[`SpongeItemStackBuilder.fromItemStack(ItemStack)`](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/item/SpongeItemStackBuilder.java#L89)
[code]
does not work as specified in the API
[`ItemStackBuilder.fromItemStack(ItemStack)`](https://github.com/SpongePowered/SpongeAPI/blob/master/src/main/java/org/spongepowered/api/item/inventory/ItemStackBuilder

[2015-06-02 11:40] nikosgram13 opened #59 "The CatalogType of Weather is empty!"
I tried to get the Weather Types and the result was to return a empty collection.

Source:
[code]

The SpongeGameRegistry needs revision. https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/registry/SpongeGameRegistry.java#L1079

[2015-06-02 11:51] nikosgram13 opened #60 "CatalogType does not ignore case."
I tried to get a GameMode type from the CatalogType and I noticed the following. When the Type name is in Lower Case the CatalogType can't find the type.

Example:
[code]

[2015-06-02 12:31] simon816 commented on #59
There is a TODO marker beside the `Weather` catalog map, [`SpongeGameReigistry:504`](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/registry/SpongeGameRegistry.java#L504), so this will get done at some point (likely at the same time as several other registry TODOs)

[2015-06-02 19:26] Deamon5550 commented on #60
I'm pretty sure we probably do want these keys to be case insensitive, I can't see us wanting to allow registering types with keys that differ only by case, it would follow then that we make the keys case insensitive.

Thoughts @SpongePowered/developers ?

[2015-06-02 19:35] Aaron1011 commented on #60
I agree with this idea. I can't imagine any case where we'd have keys that were distinguishable just be case, so I think we should change this.

[2015-06-02 20:29] gabizou commented on #60
@Deamon5550 I agree with keys being case insensitive. I'm sure though @Mumfrey's `GameRegistry` changes will likely fix this in the very near future.

[2015-06-03 10:34] TBlueF opened #62 "Implementation of the InteractEntityEvent"
According to [this](https://github.com/SpongePowered/Sponge/issues/274) Event Progress Tracker and my Plugin, the **PlayerInteractEntityEvent** is not jet implemented.
_Deamon5550 said [here](https://github.com/SpongePowered/Sponge/issues/272): "Opening issues like these does help us prioritize which events we're implementing." So i thougt i'll open this issue, since this is the last missing event

[2015-06-03 21:23] RafVDL commented on #62
I quickly wrote this (it needs to be inserted into MixinNetHandlerPlayServer):
[code]
I can't test it completely as I'm having issues with my workspace (SpongePowered/SpongeAPI#673), but I can confirm that the event gets posted.

[2015-06-04 11:45] modwizcode opened #63 "Human Entity Issues"
Here are some issues I have found with the human entity
- [X] = Solved

~~They don't persist across server restarts.~~ - All mobs
- [x] When quitting and rejoining the entities lose the skin set originally
- [x] Setting AI goals on SpongeHuman works, but pathing doesn't so most AI is useless.

The last one might be a mistake of how I'm writing that code.

[2015-06-04 13:44] Zidane commented on #63
A. They are MOBS and are removed when chunks unload. The API needs to be able to toggle this (but should be a feature across all entities).

B. This is because your client is really slow at rendering (bad computer?). There is an option on the server to change the time before we remove them from the PlayerList. See https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepo

[2015-06-04 13:45] modwizcode commented on #63
B is not the case. Computer is fine, only happens after disconnect and
rejoin. Could the same issue happen I'd the system is too fast?
On Jun 4, 2015 8:44 AM, "Chris Sanders" <notifications@github.com> wrote:

[2015-06-04 13:47] Zidane commented on #63
@modwizcode

Doesn't happen for me. Again, back to the same point...your client is being told to remove the player list entries before it can cache the GameProfile in the client.

[2015-06-04 14:02] modwizcode commented on #63
Alright I'll look into it. Maybe I'm just on an outdated build. Can you
post your code for AI? All I'm doing is casting back to SpongeHuman
clearing the task list and adding a new task before spawning the entity in.

[2015-06-04 14:10] Zidane commented on #63
@modwizcode

I don't have it handy. I need to see your code. Also, there is no such thing as SpongeHuman...

[2015-06-04 14:12] modwizcode commented on #63
Hmm I'm not looking at my code it was probably EntityHuman in that case.

[2015-06-07 06:01] kashike opened #65 "BungeeCord support"
Sponge (overall) has no BungeeCord/proxy support.

__Existing implementations for reference:__

*Vanilla*
http://www.spigotmc.org/resources/vanillacord.952/
https://github.com/thinkofdeath/vanillacord/blob/master/src/main/java/uk/co/thinkofdeath/vanillacord/util/BungeeHelper.java

*CraftBukkit/Spigot*
https://github.com/OvercastNetwork/SportBukkit/blob/real1.8/CraftBukkit/0004-Make-AsyncPlayerPreL

[2015-06-07 11:04] ST-DDT commented on #23
`org.spongepowered.common.mixin.core.block.MixinBlockLeaves` and `org.spongepowered.common.mixin.core.block.MixinBlockLog`
import `sun.reflect.generics.tree.Tree` and a few other it does not need.
Especially this one is nasty since its shows a warning.

[2015-06-08 10:36] kashike opened #66 "Re-think world configurations location"
Currently, the configurations for each world are in the `config` directory.
Example:
[code]

It makes sense to group them under one folder, does it not? It seems messy right now, and world configurations will be mixed in with mods and plugins.

Revised:
[code]

[2015-06-08 12:13] simon816 commented on #66
How about putting the config for each world in that world's data directory?
Then you can copy worlds and send them to other people, for example, without forgetting any config properties that you may want to include.

[2015-06-09 18:07] thomas15v opened #67 "Scheduled tasks don't throw exception output!"
I don't know if it happens everywhere.
But I runned a task with
```getAsyncScheduler().runRepeatingTask()``` And the runnable had an exception. And I spended 2 hours figuring out why the code didn't worked.

[2015-06-09 19:09] simon816 commented on #67
All scheduler related issues should be fixed in #47

[2015-06-12 14:01] Tzky commented on #65
Sponge currently has no official bungeecord support, yes. But but can you currently setup a sponge or spongevanilla server that makes use of bungeecord (even if unsupported) or does everything literally break?

[2015-06-12 14:40] ST-DDT commented on #65
Yes that should work.
There are the same issues you had with CraftBukkit. Wrong Client IP, cannot easyly teleport between Servers etc.

[2015-06-13 03:34] Aaron1011 commented on #45
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/e2073473d7b606d729be568e7260a33a3e74d6a5

[2015-06-13 03:34] #45 closed

[2015-06-16 20:56] simon816 commented on #63
@modwizcode Are you still having issues?

[2015-06-16 21:08] modwizcode commented on #63
I'm still on vacation and haven't pulled to test. I'll check this on Monday.

[2015-06-18 06:02] zml2008 commented on #50
@ST-DDT I have that in PEX. Nobody reads the template, they just post the unfilled-out template as an issue (still provided more info than usual). I'll take a look at migrating that reporting system into Sponge at some point (it's on my to-do list), probably in addition to Sponge's existing error reporting facilities.

[2015-06-18 06:03] #50 closed

[2015-06-18 11:53] ST-DDT commented on #50
So did you discard the `/sponge dump` command idea?
I agree with you that normal users will not use the template or post the dump command on issue creation. But if you explicitly ask them to post the results they usually do this.

[2015-06-18 16:40] zml2008 commented on #50
Generating error reports on request will be part of the system.

[2015-06-20 23:53] modwizcode opened #70 "Inventory implementation"
I'm not entirely sure that I'm missing something that's been worked on already. But I started trying to implement recipes and realized before I could do that I needed to convert between sponge and vanilla inventory types. Then I discovered that the Inventory has no implementation that I can see.

I would assume someone is already working on this and I wanted to let them show that before I work too

[2015-06-21 00:00] me4502 commented on #70
@Mumfrey Is working on this

[2015-06-21 00:00] simon816 commented on #70
@Mumfrey is working on inventory implementation.
I worked on recipes a bit (experimental). FWIW here's the branch https://github.com/SpongePowered/SpongeCommon/compare/master...simon816:recipe-impl

[2015-06-21 00:03] modwizcode commented on #70
Ah excellent thanks. Can someone get this into the milestone that makes sense?

[2015-06-22 07:38] WhippyCleric opened #71 "Retrieving Sponge Common from a Repo"
Hi

I am aware this is not really an issue and as such does not belong here but can't find anywhere else to currently ask these types of questions. I am trying to use the ItemStackBuilder implementation from sponge common but I can't find the jar in a repo anywhere. Is there a different repo than the one which contains the API that contains sponge common somewhere I can reference in my pom?

Thank

[2015-06-22 10:19] RobertHerhold commented on #71
You shouldn't be using any classes specific to an implementation. You can access the ItemStackBuilder [from the GameRegistry](https://github.com/SpongePowered/SpongeAPI/blob/master/src/main/java/org/spongepowered/api/GameRegistry.java#L139).

[2015-06-22 10:40] WhippyCleric commented on #71
Thanks for the advice, I will try to create an account on Esper for future queries. Issue can be closes now

[2015-06-22 10:40] #71 closed

[2015-06-22 12:26] dualspiral commented on #65
What you are really asking for is support for IP/UUID Forwarding - rather than BungeeCord supporting Sponge - and it's a more wide ranging problem than you think.

Simply put, as it stands, Sponge works just fine with BungeeCord unless you rely on the user's UUID and actual IP.

@me4502 has already aired this at https://github.com/SpigotMC/BungeeCord/issues/1328 - much of the reasoning why this ha

[2015-06-22 17:02] modwizcode commented on #63
Seems fixed.

[2015-06-22 17:02] #63 closed

[2015-06-22 19:06] modwizcode commented on #39
I just finished writing this.

[2015-06-22 20:28] #39 closed

[2015-06-25 01:17] #33 closed

[2015-06-25 01:17] #36 closed

[2015-06-25 01:17] #67 closed

[2015-06-25 01:28] Zidane commented on #10
This was fixed in the merge of unified world changes.

[2015-06-25 01:28] #10 closed

[2015-06-25 03:53] #66 closed

[2015-06-27 17:13] modwizcode opened #75 "Default permissions are not applied properly"
While op's receive all permissions as proper, when a `TRUE` (or `FALSE`) value is assigned to the default permission data, it doesn't effect `getPermission` on a `Subject`. The value comes out UNDEFINED every time.

I did see some interesting behavior where when using the console I was able to get a TRUE value the first time and then UNDEFINED after that. It seems from my investigations that when

[2015-06-27 21:15] DarkArc opened #76 "Crash on leaf decay"
[code]

[2015-06-27 21:27] simon816 commented on #76
https://github.com/SpongePowered/Sponge/issues/299
Turns out the fix I pushed yesterday was incomplete. Should be fine now https://github.com/SpongePowered/Sponge/commit/da0208023715d8c89aaff9a39b6c743c996b8cff

[2015-06-27 22:13] Deamon5550 opened #77 "BlockTypes are not present in the registry"
As seen here [in the registry](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/registry/SpongeGameRegistry.java#L521) BlockTypes are currently not able to be fetched from the GameRegistry.

This issue is blocking the completion of VoxelSniper which we would like for Minecon.

[2015-06-27 22:17] DarkArc commented on #76
@simon816 nope
[code]

[2015-06-27 22:32] ST-DDT commented on #77
Wasn't there a PR with a very long list of block states?
https://github.com/SpongePowered/SpongeAPI/pull/725#issuecomment-111794367
I guess we can use that code to initially fill the map.
But there is still the issue with updating the map. How do we trigger the update?

[2015-06-27 22:40] simon816 commented on #76
OK, `BlockSnapshot` is not fully implemented. I'll do that now.

[2015-06-27 22:57] #76 closed

[2015-06-27 23:06] DarkArc commented on #76
@simon816 Still not fixed...
[code]

[2015-06-27 23:34] simon816 commented on #76
Should be good now https://github.com/SpongePowered/Sponge/commit/a9702ad2b2ad0da5cf113cee5cac5447dc10c0d3

[2015-06-28 03:43] gabizou commented on #77
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/a54ccacee333283dc1579598812ded138980a8a5

[2015-06-28 03:43] #77 closed

[2015-06-29 17:06] modwizcode commented on #75
Fixed by https://github.com/SpongePowered/SpongeCommon/commit/cbbff9aea734906939b7081b1c67c7700e6e782a

[2015-06-29 17:06] #75 closed

[2015-07-01 23:31] Glitchfinder opened #79 "AbstractMethodError at WorldServer.addScheduledUpdate()"
[code]
Java Version: 1.8.0_31
Minecraft Version: 1.8.7
Sponge Version: 1.8-1446-2.1DEV-508
Forge Version: 11.14.3.1446

The relevant code can be found [here](https://github.com/Glitchfinder/Unleafer/blob/master/src/main/java/com/azthec/Unleafer.java#L85)

I tried every variation of the call I could find in the code, and all had the same result. A full log of the issue can be found [here](http://be

[2015-07-01 23:43] simon816 commented on #79
I implemented `ScheduledBlockUpdate` a few days ago in SpongeCommon, https://github.com/SpongePowered/SpongeCommon/commit/319da5a537497fea0b1a64f9f00e45d803e9d606. However those changes have not yet propagated to Sponge because the submodule hasn't updated yet, I'll update it now. The next Sponge build should work fine.

[2015-07-01 23:43] #79 closed

[2015-07-02 00:44] Glitchfinder commented on #79
Ah, thank you. I just tested with a home-build and it works beautifully. If I might ask, how often are official builds released?

[2015-07-02 02:07] ryantheleach commented on #79
It should be every time a commit hits master.

[2015-07-02 04:05] Glitchfinder commented on #79
Which master, though? I see several repositories that get combined into the final product.

[2015-07-02 04:20] kenzierocks commented on #79
Sponge master.

[2015-07-02 05:08] ryantheleach commented on #79
Sponge master will trigger a new Sponge build, SpongeAPI master will trigger a new API build, SpongeVanilla will trigger a SpongeVanilla build.

It's pretty straight forward.

[2015-07-02 08:25] Glitchfinder commented on #79
The reason I'm asking is because I'm either looking at the wrong build system, or your ci is busted. According to your [maven repo](https://repo.spongepowered.org/maven/org/spongepowered/sponge/), the latest official build still has the problem that b65c94a1305e1d27ebcf531b6f71c476023bfd5d fixed. I verified the fix with a local build, so it certainly isn't the code base at this point.

[2015-07-03 15:52] gabizou opened #83 "Chunk position methods use full block location, not relative location within chunk"
Issues occur that a `Location` for block within a Chunk, relative to the 0,0 of the Chunk since not all chunks contain 0,0,0.

[2015-07-03 16:04] DDoS commented on #83
It was decided not to use relative positions for chunks to simplify generators (which almost always use the world coordinate space, especially for noise generation) and provide a homogeneous system across worlds and chunks, which lets you substitute the two easily. This means that the BlockVolume, BiomeArea and by extension Extent all use world coordinate space. Since Location is a pointer in an E

[2015-07-03 16:13] DDoS commented on #83
I'm completing the world access API after Minecon. This will allow users to get relative views from any Volume or Area

    Location location = chunk.relativeView().getLocation(0, 0, 0);
    location.getPosition() // prints (0.0, 0.0, 0.0)

The relative view could even be cached in chunks for practically zero object cost.

[2015-07-03 16:13] #83 closed

[2015-07-05 03:03] liach commented on #23
A mixin example issue: [MixinEntityPlayerExample] (https://github.com/SpongePowered/SpongeCommon/blob/master/src/example/java/org/spongepowered/mod/mixin/MixinEntityPlayerExample.java) is not on the [json] (https://github.com/SpongePowered/SpongeCommon/blob/master/src/example/resources/mixins.spongeexamples.json).
Suggestion: The package of the example might be renamed to `org.spongepowered.common

[2015-07-07 14:13] simon816 commented on #23
* Does not create a new builder
  * I assume the first part of the javadocs are wrong, since the current behaviour is the expected one from my point of view

I believe the javadocs for that are wrong. I'll add it to the API minor issues list.

@Mumfrey related to @liach's comment, IMO the mixin examples should be in the Mixin repo rather than SpongeCommon, how about moving them there?

[2015-07-07 16:22] mcmacker4 opened #88 "Client not updated when sign changes."
I have been trying to create a PlayerInteractBlockEvent that changes a sign's text when it is right clicked. It has been impossible. I have been confirmed that there is an error in the implementation.
The following code was ran where *loc* was a valid sign placed in the world. The sign's text didn't change until the player disconnected and reconnected. Also [Here] (https://github.com/SpongePowered

[2015-07-08 19:57] clienthax opened #89 "Sponge ignores level-type paramater in server properties"
setting level-type=FLAT in server.properties yields normal world generation,
There is also not a option to specify a generator/type in the sponge world/dim specific configurations

Would be nice to break it out to the specific world configs under the sponge folder when fixing.

[2015-07-08 20:06] ryantheleach commented on #89
Testing with Forge without sponge, world generates as flat.

[2015-07-10 14:40] ryantheleach opened #90 "Minor Config issues."
# Controls whether or not this config is enabled.
    # Note: If enabled, World configs override Dimension and Global, Dimension configs override Global.
    config-enabled=true

The wording on config-enabled comment is ambiguous. enabling the global config makes sub-configs override the global one, what happens if it isn't enabled? Does it disable the global config or disable the inheritance? if

[2015-07-10 15:19] ryantheleach commented on #90
/sponge -g config asdf adf results in a null pointer exception instead of easy help text.

[2015-07-10 21:02] #89 closed

[2015-07-12 20:49] DarkArc opened #91 "Scheduler timing is off"
Currently there is an issue where the task delay will be used as the delay between the initial two iterations of a repeating scheduler.

For instance, the following code will execute once with no delay, then execute with a 1 tick delay, then operate with the correct 1 second delay:
https://github.com/Skelril/Skree/blob/master/src/main/java/com/skelril/skree/service/internal/dropclear/DropClearServ

[2015-07-13 00:13] simon816 commented on #91
Ah, after a lot of debugging I have found the problem.
The sync scheduler works fine when the time measurement (ticks/wall clock) is the same, but when mixing the two, like in your case a delay in ticks and an interval in seconds, there is a problem - the scheduler switches from ticks to currentTimeMillis, but realizes that the absolute time is passed the threshold in ticks, so will execute again

[2015-07-13 00:44] #91 closed

[2015-07-13 12:56] JBYoshi commented on #60
@Zidane Close?

[2015-07-13 13:02] JBYoshi commented on #60
Never mind. It's not in master yet.

[2015-07-13 13:05] JBYoshi commented on #59
Mumfrey's working on an overhaul of the game registry that should take care of this (see #61)

[2015-07-13 13:10] JBYoshi commented on #34
I agree with Mumfrey - allow the `WorldBuilder` to set this.

[2015-07-14 01:24] ryantheleach commented on #48
Can you ride a minecart with a custom display tile? That will be the real test on whether they are different or not from an abstracted view.

[2015-07-16 07:23] mmonkey opened #95 "overworld worldUniqueId is zeros"
The UUID for the default overworld is 00000000-0000-0000-0000-000000000000.
The nether and end world UUID's are generated as expected.

[2015-07-16 07:23] ryantheleach opened #96 "Math rotation issues with BlockRay"
The following seems to only ever make you move east, I would have expected it to have teleported the player in the direction that they are facing.

Does the blockLimit get applied before or after the filter? I would have expected it to be applied before the filter, but was unable to debug this further due to the direction bug.
[code]

@DDoS

[2015-07-16 15:55] DDoS commented on #96
Can you try using a random vector as a direction, see if this is only an issue with retrieving the direction from the player?

[2015-07-16 17:09] simon816 commented on #95
Doesn't happen for me. The only thing I can think of is that the `level_sponge.dat` file is missing the `uuid_most` and `uuid_least` entries. Could be that your world was created before the world creation was added or something. Shouldn't happen on a clean world. Delete `level_sponge.dat` and let it regenerate, it should have a random UUID assigned.

[2015-07-17 02:14] JBYoshi commented on #62
IMO this should be part of Sponge and SpongeVanilla, not SpongeCommon. Forge has its own event for this - `net.minecraftforge.event.entity.player.EntityInteractEvent`.

[2015-07-17 18:37] modwizcode commented on #96
Is this related to the fact that getRotation() from player (which shows the eye rotation), returns a value of -180->180 degrees which isn't really cooperative with our rotation api's?

[2015-07-17 20:04] ryantheleach commented on #96
@hsyyid any further luck?

@hsyyid is the original person who discovered the problem, I was just helping them test at the time.

[2015-07-17 21:52] DDoS commented on #96
When I first wrote the tracer, I tested it a lot with the `from(Entity)` builder and had no issues with it. It would obtain the player's target block.

[2015-07-17 23:22] hsyyid commented on #96
@ryantheleach I haven't tried it out yet. Will later today.

[2015-07-25 21:00] ghacproductions opened #104 "Not able to connect to sponge server behind BungeeCord proxy"
It's not able to connect to a sponge server which is behind a BungeeCord proxy. The sponge server does not give out any information of a try of connection to the server.

There are no error-messages, the player simply does not connect to the server. The bungeecord-proxy says, that the player connected but also shows that he disconnected in the next message. There are no logs at the sponge server.

[2015-07-25 21:59] JBYoshi commented on #104
I'm unable to reproduce it. Could you provide your configs (Bungee config.yml and Sponge server.properties)?

[2015-07-25 22:04] progwml6 commented on #104
several staff members have managed to reproduce it

[2015-07-25 23:41] me4502 commented on #104
Make sure ip forwarding is disabled.

[2015-07-26 00:05] theboomer opened #106 "Build sponge-1.8-1487-2.1DEV-524 unable to initialize"
No plugins - just forge 1487 and dev-524              (  dev-523 downgrade no problem)
FML Loader crashes with an IllegalStateException
http://pastebin.com/zEicL2K0

crashlog:
http://pastebin.com/N8sckEQ8

[2015-07-26 00:09] Zidane commented on #106
I noticed this earlier, thanks for the report.

We'll get it fixed up.

[2015-07-26 00:17] #106 closed

[2015-07-26 00:18] Deamon5550 opened #107 "Biome terrain height usability"
Currently the min and max heights in BiomeType are the internal values used by the generator which do not translate into usable numbers very well. It would be good to change these values to a more usable value which can be translated to actual Y values.

For reference the current height values are
[code]

[2015-07-26 00:49] JBYoshi commented on #107
Sounds a lot like raw Y values to me.

[2015-07-26 00:52] Zidane commented on #107
@JBYoshi

Do you come onto IRC at all? If so, what is your handle?

[2015-07-26 00:52] JBYoshi commented on #107
No I don't.

[2015-07-26 00:53] Zidane commented on #107
@JBYoshi

I'd like to talk to you "face to face" sometime. Do you do TS perhaps?

[2015-07-26 00:54] JBYoshi commented on #107
Unfortunately, I don't have that either.

[2015-07-26 01:00] Zidane commented on #107
@JBYoshi

Could you get one or the either perhaps? Or maybe an email chain? You can reach me at zidane@spongepowered.org

[2015-07-26 01:12] Deamon5550 commented on #107
@JBYoshi yeah thats one option, but not very viable.

The final height is based on:
- the min and max from the surrounding 5x5 area averaged with a 2D parabolic field
- an offset and weight from the world settings
- a multiplier if the world is amplified
- a whole lot of magic modifiers
- a whole lot of noise functions

[For reference](https://gist.github.com/Deamon5550/86cd02987bcc7fba3e19)

[2015-07-26 01:30] JBYoshi commented on #107
@Deamon5550 ...Whoa.

[2015-07-26 01:51] JBYoshi commented on #107
@Zidane I'll get an IRC handle in a couple days.

[2015-07-26 20:19] ghacproductions commented on #104
It works with disabled ip-forwarding.

[2015-07-26 20:20] Mumfrey commented on #104
Closing since this is a duplicate of #65

[2015-07-26 20:20] #104 closed

[2015-07-27 16:01] JBYoshi commented on #88
I'd say wait for #94 and SpongePowered/SpongeAPI#685.

[2015-07-27 19:02] JBYoshi commented on #23
MixinSubject implements IMixinCommandSource. However, it doesn't implement or use any of the methods from it.

Moved from #111.

[2015-07-28 18:58] DDoS commented on #96
Tested using

    public static void test(Entity e) {
        BlockRay.from(e).filter(BlockRay.ONLY_AIR_FILTER).end().get().getLocation().setBlockType(BlockTypes.GOLD_BLOCK);
    }

Works as expected, a gold block is placed at the cursor position (well, just under because eye location data isn't implemented yet).

[2015-07-29 14:57] Zidane opened #112 "Implementation Repo Changes"
Pinging @SpongePowered/developers

This has been brewing internally for a bit but now we want to take the first steps at fixing up our repo setup so that it isn't so painful to work on the Sponge implementation. Here is what needs to happen (looking at you @Minecrell ). Any assistance you can add would be great @AbrarSyed .

1. Rename Sponge to SpongeForge. Only happens when the below is finished.

[2015-07-30 06:20] mmonkey commented on #95
This is happening in single player.

[2015-07-30 17:55] ryantheleach opened #113 "Scoreboard not updating on death"
Scoreboards tracking deaths don't update the client.

Tested on SpongeForge 1.8-1487-2.1DEV-527

[2015-07-30 19:26] bloodmc commented on #52
This looks good to me.

[2015-07-30 21:04] ST-DDT commented on #23
`ItemType.getTranslation()` returns an invalid `Translation` (at least for working bench.)
`tile.workbench` instead of `tile.workbench.name`

Same for:
* `Ladder`
* `IronSword`
* probably all Items (ItemTypes)

I found this issue during working on https://github.com/SpongePowered/SpongeCommon/pull/108.
You can verify this using https://github.com/SpongePowered/SpongeAPI/pull/779's TextFormat.jar (

[2015-07-31 16:47] #95 closed

[2015-07-31 21:49] ryantheleach opened #114 "NPE on /sponge -g config asdf adf"
/sponge -g config asdf adf results in a null pointer exception instead of easy help text.

Sponge-1.8-1446-2.1DEV-515

retested on SpongeMod: 1.8-1499-2.1DEV-530+unknown-b530.git-unknown

[code]

[2015-07-31 21:51] ryantheleach opened #115 "SQL Category type missing from generated config."
In the code SQL is still a category type, but it's not being written out to the global.conf.

Tested on
SpongeMod: 1.8-1499-2.1DEV-530+unknown-b530.git-unknown

https://github.com/SpongePowered/SpongeCommon/blob/ed5b96c03ad68bea48ecc604269fff549a63e1bf/src/main/java/org/spongepowered/common/configuration/SpongeConfig.java#L204

[2015-07-31 23:17] #90 closed

[2015-08-01 02:31] ryantheleach opened #116 "World data files inconsistent with vanilla (and forge)"
Comparison table : http://imgur.com/hESNLki

![image](https://cloud.githubusercontent.com/assets/141554/9020329/02882c12-3845-11e5-9d80-f231f435fc07.png)

Of note: DIM1 & DIM-1 level.dat's empty playerdata folders, and village_nether.dat Fortress.dat

Tested on Minecraft 1.8.8 vs forge-1.8-11.14.3.1499-universal vs sponge-1.8-1499-2.1DEV-532 vs https://github.com/SpongePowered/SpongeVanilla/commit

[2015-08-01 15:13] Zidane commented on #116
@bloodmc

You know more about these files than I. Please comment on the above.

[2015-08-02 05:46] zml2008 commented on #112
(Updated main comment to use numbers for easier referencing)

So 3-5 can happen at any time without breaking PRs -- they're just build process tweaks
2 probably won't have much impact since there usually isn't much implementation-specific happening ever
6. Removing the hassle of dealing with submodules is why I wanted one repo in the first place -- it also reduces the overhead of contributing to b

[2015-08-02 05:51] mmonkey opened #117 "player.hasPermission() > null pointer"
I get a null pointer error when checking player.hasPermission("warp.admin").

using sponge build 533, forge 1499 in single player.

Also, I am not using a permission plugin of any kind.

[2015-08-02 05:59] zml2008 commented on #117
Post the stacktrace...

[2015-08-02 06:01] mrgoodrich commented on #117
Speaking of which, @zml2008 is it better to post question in a git issue or on the forums?  I want to do what is the most convenient for those who will likely answer.

[2015-08-02 06:07] zml2008 commented on #117
@mrgoodrich for Sponge bugs, post on GH, especially if you can provide useful corroborating information -- this is where most of us go to look for issues, and what is linked to more people's email, and is more directly connected with actual code changes.

[2015-08-02 06:10] mmonkey commented on #117
[code]

[2015-08-02 06:41] mmonkey commented on #117
I actually get this error when running any command that checks permissions (/time set day)

[2015-08-02 06:41] zml2008 commented on #117
Are you running the server in offline mode?

[2015-08-02 06:47] mmonkey commented on #117
no, I am just running in single player worlds.

[2015-08-02 06:48] zml2008 commented on #117
is the client running in offline mode? But yeah, this issue has been seen before, and seems to be an issue with game profile resolution clientside -- @simon816 changed that code recently.

[2015-08-02 07:24] bloodmc commented on #116
As I stated on IRC, level.dat files are intended to be different in Sponge as we use a savehandler per world unlike Vanilla/Forge which use a single savehandler for all worlds. I'll look into the other issues soon.

[2015-08-02 16:43] bloodmc commented on #117
This issue can be caused by 2 things:

1. Running the client in offline mode which we will not support.
2. Mojang auth server temporarily blocking your request for GameProfile properties on login. This is what you would see in log

[12:37:02] [pool-4-thread-1/WARN]: Couldn't look up profile properties for com.mojang.authlib.GameProfile@a1d2215[id=uuid,name=UserName,properties={},legacy=false]
com.

[2015-08-02 16:56] #114 closed

[2015-08-02 17:07] #60 closed

[2015-08-02 17:27] ST-DDT commented on #117
Is this exception happening client side or server side?
I'm asking because of this:

Developing and testing plugins is quite hard if you only have one player, i usually use offline mode to allow my test players to connect and interact with the world (and i don't want to buy more accounts just for testing purposes). I don't need real/full offline support, but at least it should not throw an excepti

[2015-08-02 17:46] JBYoshi commented on #117
@ST-DDT mmonkey said he "was just running in singleplayer worlds". Based on the stack trace, it's on the server thread.

[2015-08-02 17:59] ST-DDT commented on #117
Okay, I got that from the stack trace as well, but i wasnt sure which one.
I just thought it would affect dedicated servers as well.

[2015-08-02 22:02] bloodmc commented on #117
@ST-DDT agreed, I'll look into a fix for testing purposes.

[2015-08-04 00:38] zRaptor opened #118 "Unexpected world-teleportation behavior when "allow-nether" is set to false"
Teleporting to newly-generated worlds does not seem to work properly when `allow-nether` is set to `false` in `server.properties`.

This problem can be replicated by running the WorldsTest plugin that is available in the Cookbook. It is expected that, after the server has started, typing `/tpworld skylands` will take you to the Skylands world. Instead, you are teleported to a void of absolutely no

[2015-08-04 00:43] simon816 commented on #118
See https://github.com/SpongePowered/Sponge/issues/287
"allow-nether" really means "allow multi-dimensions"

[2015-08-04 00:47] zRaptor commented on #118
Ah, thanks - didn't see that issue. That's a rather strange design decision imo, but I'll go with it.

Closing this in favor of the issue you linked.

[2015-08-04 00:47] #118 closed

[2015-08-04 00:48] JBYoshi commented on #118
IMO teleporting the player to an empty world seems like a bad decision. I think it would be better to just report an error (kick the player? throw an exception?).

[2015-08-04 00:53] DDoS commented on #96
I'm going to close this from a lack of response and my test results. Feel free to reopen if you can confirm the bug here is from BlockRay.

[2015-08-04 00:53] #96 closed

[2015-08-04 05:27] ST-DDT commented on #118
There shouldnt be a world to teleport him to.
Because you need a world to teleport a player if you don't have that world you cannot be teleported to it.

[2015-08-04 14:54] Zidane opened #119 "Cancelling PlaceBlockEvent/PlaceEvent does not stop activations"
There is a bug with world snapshots in Forge and Sponge/SpongeVanilla where block physics is allowed to run while block snapshots are being captured.

This allows exploits such as spawning TNT explosions in protected areas (if activated by existing redstone torch) or laying down additional redstone wire connected to powered redstone wire. I've provided a simple mod class:

https://gist.github.com/

[2015-08-05 03:54] #119 closed

[2015-08-05 04:27] Zidane commented on #112
After more discussion, @bloodmc put forth the idea of versioning common. This actually solves many issues:

Pros:

* We can target different versions of common in SpongeForge and SpongeVanilla (fixes lockstep)
* We can stop doing submodules altogether for the impl.
* We keep setupDecompWorkspace to a min (1 per impl, as was before).

Cons:

* Increased developer responsibility. Impl devs will need

[2015-08-05 04:51] zml2008 commented on #112
For folks working on common, that would be 3 total setupDecompWorkspaces, unless you could make gradle just depend on packaged sources or something (using common only as a source repo would be 2 SDWs).

However, this new method is fairly simple to set up -- @progwml6 has to get common set up to CI, then delete the submodules, and change the dependency spec. Only other change is to figure out how t

[2015-08-06 01:06] DarkArc commented on #112
Perhaps the arguments of both of the original sides (those who wish to see the repos merged, and those who do not) would be helpful in determining the best solution.

This is not helpful to anyone not completely familiar with the discussion. It is not clear what issues need to be solved, and what specifically has already been considered. I appreciate your time invested, but this discussion might a

[2015-08-06 01:38] Zidane commented on #112
@DarkArc

...and to this day I've yet to see your script solution put onto paper and up for review. This issue was made so that team members could keep up to speed with what is going on AND community members can see that we are moving on solving this issue. This isn't like other projects, I don't keep things behind closed doors.

The problem you aren't getting with submodules is the gradle scripts

[2015-08-06 03:04] JBYoshi commented on #107
@Zidane Would we be able to meet on IRC tomorrow (August 6) evening? I should be available around 8 PM central.

[2015-08-06 03:45] DarkArc commented on #112
#### Git submodule troubles

Well has using a git hook been considered? I'd have to test it to make sure, but this (or something like it) should work:
https://github.com/chaitanyagupta/gitutils/blob/master/submodule-hooks/post-merge-checkout

The benefit here being, we don't have to invest time in converting the build system, nor concern ourselves with the extra bandwidth.

Additionally, has it be

[2015-08-06 03:55] modwizcode commented on #112
Excellent analysis. I agree wholeheartedly with the final point.

[2015-08-06 05:19] #115 closed

[2015-08-06 15:33] JBYoshi commented on #112
Some pros and cons of the various setups (just from what I've heard here and what I can think of off the top of my head):

#### Current setup
Pros:
- Forge and Vanilla can have separate common versions

Cons:
- Implementation developers have to work with separate repositories
- 1 `setupDecompWorkspace` per repository (common, Forge, vanilla)
- Lots of "bump common ref"s

#### Submodules, common as

[2015-08-06 15:37] kenzierocks commented on #112
You missed what I think is the biggest con of submodules, and that's the difficulty for beginners. We need something that won't block people from helping. Additionally, we need an easy way to say which repo to pull from, so that PRs can be built by Travis.

[2015-08-06 15:43] JBYoshi commented on #112
@kenzierocks Added.

[2015-08-06 15:44] Zidane commented on #112
@JBYoshi

Your current cons are incorrect. Doing a setupDecompWorkspace on Sponge or SpongeVanilla does a setupDecompWorkspace as well for its SpongeCommon. So it takes double time and therefore is 2 per impl.

[2015-08-06 15:46] JBYoshi commented on #112
@Zidane Fixed.

[2015-08-06 16:45] Zidane commented on #112
[code]

Couple of things @DarkArc .

* There was simply no way to write the Sponge impl first with building the API at the same time because the technology to do it correctly (Mixins) wasn't ready for at least 6 MONTHS after the project started. We wouldn't be where we are today so no.
* An API, just like any software, is an evolving construct. SpongeAPI will never be "finished" nor will the Spong

[2015-08-06 17:58] DDoS commented on #112
This might be a stupid idea, but do we even need to build common? Is there any way of just having it as a source that gets included with the SpongeForge/Vanilla build?

[2015-08-06 18:00] JBYoshi commented on #112
@DDoS That was part of the original idea (#3).

[2015-08-06 18:13] progwml6 commented on #112
My main concern relying on building common is that it will make pulling in PR's locally for testing difficult

[2015-08-06 19:03] JBYoshi commented on #112
From what I've heard, you can just pull a hidden branch in the API and common repositories and just leave SpongeForge as is. See https://help.github.com/articles/checking-out-pull-requests-locally/

[2015-08-06 19:53] progwml6 commented on #112
@JBYoshi if we were relying on builds of common in the maven repo to build spongeforge/spongevanilla I think it might be difficult for the dev team to test the PR's

[2015-08-06 21:51] JBYoshi commented on #112
I get it. Added.

[2015-08-08 13:04] simon816 commented on #117
I think I know what's happening here

It's because forge has used up the request limit for a player's profile. The session service limits to once per UUID per minute.
In fact, forge actually surpasses the limit and suffers `The client has sent too many requests within a certain amount of time` itself.
Due to the changes in https://github.com/MinecraftForge/MinecraftForge/pull/1832, the game makes

[2015-08-09 00:10] bloodmc commented on #65
@kashike I'll be pushing support for IP/UUID Forwarding as @dualspiral mentioned shortly. Everything is working properly in my workspace so stay tuned =)

[2015-08-09 02:32] kashike commented on #49
This is still an issue @zml2008.

[2015-08-09 04:58] #65 closed

[2015-08-09 06:51] kashike opened #122 "Configurable messages"
https://korobi.io/network/esper/channel/spongedev/logs/2015/08/09/#L797-815

`NetHandlerHandshakeTCP.processHandshake(C00Handshake)`:
- `"Outdated server! I\'m still on 1.8"`
- `"Outdated client! Please use 1.8"`

`ServerConfigurationManager.allowUserToConnect(SocketAddress, GameProfile)`:
- banned player:
  - `"You are banned from this server!\nReason: "`
  - `"\nYour ban will be removed on "`
-

[2015-08-09 17:28] simon816 commented on #122
For `allowUserToConnect`, the message can be changed in the `GameClientConnectEvent.setDisconnectMessage`

[2015-08-09 18:46] kashike commented on #122
@simon816 The point of this issue is to make the "core" messages configurable for users who do not know how to write a plugin to change the message.

[2015-08-10 00:22] #7 closed

[2015-08-10 00:23] gabizou commented on #8
I am taking requests and offering the public to freely implement a DataProcessor and the associated ValueProcessors for the DataManipulator.

[2015-08-10 02:52] RobertHerhold commented on #8
VelocityData please :)

[2015-08-10 04:06] Aaron1011 commented on #8
I'll take `GamemodeData`.

[2015-08-12 02:25] mmonkey commented on #8
I second the VelocityData!

[2015-08-12 02:32] gabizou commented on #8
I'm implementing `SignData` as we speak. I'll get to VelocityData likely tonight as well.

[2015-08-12 05:03] kashike opened #127 "LegacyTextRepresentation replace method does not work as intended."
https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/text/LegacyTextRepresentation.java#L180

**Input:** `&cK&ea&as&bhi&9k&de`
**Expected:** `§cK§ea§as§bhi§9k§de`
**Output:** `§§K§§a§as§bhi§§k§§e`

[2015-08-12 06:53] kenzierocks commented on #127
Condition just needs to check that `result[pos] == from`.

[2015-08-12 15:59] ST-DDT commented on #8
I'll help with `StatisticData` and `AchievementData`.

[2015-08-12 16:25] gabizou commented on #8
Note that you'll have to implement far more than just the `StatisticDataProcessor` and `StatisticValueProcessor` since there is NO implementation of statistics in general in SpongeCommon.

[2015-08-12 16:36] ST-DDT commented on #8
I know. I already mentioned it last weekend that I would start doing so before the data API merge.
I just checked in this issue, whether the data part is already implemented, and mentioned it here for documentation purposes.
However I cannot start immediately as I have to update my pending PRs first.

Thanks for your hint anyway.

[2015-08-12 18:42] ST-DDT commented on #23
- [ ] The input param `key` is not validated
[`MixinDataHolder`](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/mixin/core/data/MixinDataHolder.java#L103)
  - Proof: [`NullpointerException`](http://pastebin.com/j033VRhR)

[2015-08-12 19:35] modwizcode commented on #8
I'll work on TradeOfferData.

[2015-08-12 19:36] zml2008 commented on #122
Or the users could download a plugin that makes those messages configurable...

[2015-08-15 05:07] hsyyid commented on #8
I'd like to work on PassengerData

[2015-08-15 21:13] DDoS commented on #8
Where's AABBData? It should be a common data (blocks and entities have it).

[2015-08-16 03:15] hsyyid commented on #8
I'd like to work on `Whitelist Data`

[2015-08-16 09:37] #127 closed

[2015-08-16 22:08] kamcio96 commented on #8
I will work on TargetedLocationData.
But DataManipulatorBuilder has create method. I don't know what is should return.

[2015-08-17 22:18] ryantheleach commented on #8
Currently working on TameableData https://github.com/SpongePowered/SpongeCommon/pull/134

[2015-08-18 07:12] gabizou opened #137 "DataProcessors and ValueProcessors need to handle ItemStack data"
Various entity related data can also be stored on `ItemStack`s, and it's being shown that various implementations are only partial to the more self-evident cases of an `Entity` being an obvious target, but the non-obvious target being an `ItemStack` that has an `EntityTag` `NBTTagCompound` filled with the necessary information to recreate the various `DataManipulator`s and `Value`s.

Some cases cu

[2015-08-18 07:18] gabizou commented on #8
Tagging @SpongePowered/SpongeAPI#812

[2015-08-18 14:12] Aaron1011 commented on #8
I'm taking `PotionEffectData`

[2015-08-18 17:30] hsyyid commented on #8
I'm taking `IgniteableData`

[2015-08-18 19:07] hsyyid commented on #8
I'd like to work on `FlyingData`

[2015-08-19 15:27] Zidane commented on #112
For @Minecrell

In making these changes, please adjust the toolchain so that checkstyle runs dead last (and not before licenseFormat). Unless I'm badly mistaken, this is happening in reverse currently.

[2015-08-19 18:12] Faithcaio opened #141 "Per World Default Respawnlocation"
I'd like to be able to configure the default respawnlocation for a world so that a setup like this is possible without having to listen for PlayerRespawnEvent:
![Diagrams are awesome](http://puu.sh/jH70g/d77aaec5bc.png)

[2015-08-19 18:24] gabizou commented on #141
More than likely can set this in `WorldProperties`.

[2015-08-19 19:03] simon816 commented on #141
I don't see why you wouldn't listen to `PlayerRespawnEvent` since it is the appropriate event for this kind of thing.
`Dimension` has `allowsPlayerRespawns()`, if that is true, the player will respawn in the same dimension they died in, otherwise it will send them to the overworld.
Simply use the event to change this, as the event will overrule anything already set.

[2015-08-19 20:38] modwizcode commented on #141
Agreed. Some things are a better implemented through events even though they have traditionally been conceptualized as properties.

[2015-08-19 22:08] JBYoshi opened #142 "Issue with MixinText"
I encountered this when testing #100, but as I don't change `MixinText`, I'm going to pass it off to SpongeCommon.

[code]

Current commits (before my changes):
- SpongePowered/SpongeAPI@96ba8cb40d54508ce346ed04290442bdfe12ab9d
- SpongePowered/SpongeCommon@9c5b21378c7e3c9069ae1421cc72d4fc86ba38bb
- SpongePowered/Sponge@e2b4a082451aa1b30b86357b137a51a076e9d364

Probably related to the changes in Sp

[2015-08-19 22:20] JBYoshi commented on #142
Updated to the latest commits. This still occurs.
- SpongePowered/SpongeAPI@f164da66e3d0294f30379810ad9b82afa798a519
- SpongePowered/SpongeCommon@d2d3b90f263760657118dc58ccd1e92024adbc3e

[2015-08-19 22:32] #142 closed

[2015-08-19 22:48] JBYoshi commented on #142
Thanks! I'll go import that and continue testing.

[2015-08-20 04:54] bloodmc commented on #6
@gratimax is this still an issue?

[2015-08-20 04:59] gratimax commented on #6
Yes, there's been no fix (no registry overhaul, etc.) yet

[2015-08-20 16:20] Minecrell commented on #112
Ok, so the plan is to update the build environment to the new [ForgeGradle](https://github.com/MinecraftForge/ForgeGradle) version together with these changes. This will allow us to remove the [temporary Vanilla support Gradle plugin](https://github.com/Minecrell/VanillaGradle) we used up to now because [ForgeGradle 2](https://github.com/MinecraftForge/ForgeGradle/releases/tag/v2.0.0) supports Van

[2015-08-21 02:31] JBYoshi commented on #112
Would it be possible to choose either to share a Minecraft JAR between common and Forge/vanilla or to have two separate ones?

[2015-08-21 02:35] JBYoshi commented on #88
@gabizou From looking at [`SignDataProcessor`](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/data/processor/data/tileentity/SignDataProcessor.java#L148), this doesn't seem to be fixed yet. I think it needs a call to `World.markBlockForUpdate()`.

[2015-08-21 02:38] JBYoshi commented on #137
@gabizou

That's not in 1.8. It will be part of 1.9, but that can wait until 1.9 is released.

[2015-08-21 03:08] gabizou commented on #137
Why should we limit ourselves to vanilla functionality when we can perfectly start storing the data onto `ItemStack`s NOW for plugins to use NOW?

[2015-08-21 12:53] Minecrell commented on #112
@JBYoshi It would be probably _theoretically_ possible; however it would mess and complicate the build system setup even more than it's already now. Most people contributing would most likely use the first (and therefore recommended) option anyway so at the end it would probably not help much.

[2015-08-22 20:41] gabizou opened #145 "EntityHuman should likely use more Player related Data"
Currently, EntityHuman has a very limited set of use with the Data API, however, I believe that we should try to make EntityHuman use as much data that can be associated with it as possible, including the following:

- [ ] GameModeData

There's of course others that should be mentioned, but the matter remains, it currently doesn't follow much of the "use cases" that a `Player` would otherwise foll

[2015-08-22 23:05] simon816 commented on #145
I had a list of things available to players that may or may not be relevant to humans, #46.
I don't think it really makes sense for humans to have gamemodes, it's exclusive to players. Humans are just another mob and I don't see how some features of gamemodes would work.

[2015-08-22 23:09] gabizou commented on #145
Yes, but there's various instances where plugins will want to know if the `Human` has a `GameMode` since `GameMode`s do have a huge play with regards to damage events, placement etc.

[2015-08-23 16:33] Faithcaio opened #146 "EntityType Registry"
Trying to get an EntityType by its Id is not working.
For example ```game.getRegistry().getType(EntityType.class, EntityTypes.HORSE.getId())``` will return absent.

Getting an EntityType seems to only work with the Strings set here (Lowercased Fieldnames?):
https://github.com/SpongePowered/SpongeCommon/blob/a4f30c2daf499237d7551a3a5c77bfb47fddf1ad/src/main/java/org/spongepowered/common/registry/Sp

[2015-08-23 17:21] Zidane commented on #146
@Faithcaio

Unfortunately, Minecraft doesn't do it via "minecraft:entityhorse" unlike Blocks and Items which have the minecraft portion in it.

@bloodmc what do you want to do for this?

[2015-08-24 11:21] modwizcode commented on #88
That's correct. I used that method in the portals plugin I wrote to fix sign functionality.

[2015-08-24 11:30] JBYoshi commented on #88
Pinging @gabizou

[2015-08-25 04:15] DarkArc opened #147 "Adding an item to the world has a default velocity"
[code]
In a previous version of Sponge, the above code would result in an item being spawned at "pos" without being "thrown"/assigned a default velocity. Now, this results in the equivalent of a natural item spawn, where the item is thrown as if a block has been mined.

While both functionalities (no velocity, and vanilla random spawn velocity) are desirable, this behavior seems strange for the ab

[2015-08-26 11:54] ST-DDT commented on #146
This has nothing to do with minecraft vanilla.
Sponge registers it that way.
IMO we should add the well known aliases as well. And especially enforce `T a = gr.getType(T.class, a.getId())`.

[2015-08-26 15:11] #146 closed

[2015-08-29 18:17] RobertHerhold opened #149 "Misleading VelocityData values"
While testing out the newly implemented `VelocityData`, I found something odd: while at rest, the player's (entity's) velocity is: `(0.0, -0.0784000015258789, 0.0)`. Obviously, the player should not have a downward velocity while at rest. When I jumped, I got the following output:

[code]
And while these values make sense relative to each other, the issue still persisted. Additionally, while just

[2015-08-29 19:01] JBYoshi commented on #149
I think the y value would be due to gravity?

[2015-08-29 19:18] RobertHerhold commented on #149
But the entity is not moving down, so the velocity should not be anything but 0. I see what you're saying, but it doesn't make sense logically.

[2015-08-29 19:30] ST-DDT commented on #149
@RobertHerhold Have you tested this with non-player entities as well?

[2015-08-29 21:40] DDoS commented on #149
I think someone mistook gravity for velocity...

[2015-08-29 23:36] RobertHerhold commented on #149
@ST-DDT I just tested it with a minecart, and it's velocity is `(0.0, -0.0, 0.0)` when it is at rest

[2015-08-30 02:05] JBYoshi commented on #149
In that case, blame the movement packet. Sponge could do some custom calculations server-side though.

[2015-08-31 08:39] nickrobson commented on #149
I'm just going to go ahead and point out that you don't experience that behaviour in Vanilla or Bukkit, so it is **definitely** Sponge.

[2015-08-31 09:43] NeumimTo opened #150 "Itemstack builder, allow negative or zero item quantity"
In a vanilla minecraft we can have itemstacks with 0 or even negative quantity. This vanilla feature(/ glitch?) can be useful in inventory menus.
![image](https://i.gyazo.com/0636d77e6dd8b004117d0b529b479c6c.png)
However sponge implementation of itemstackbuilder will throw an exception if someone tries to use value lesser or equal to zero.

Would be possible to remove this restriction?

[2015-08-31 09:51] ST-DDT commented on #150
This is a quite nice feature for shop plugins.
However we should keep the restrictions in this call and add an `unsafeQuantity(int)` or `unboundQuantity(int)` one to ensure nobody accidentally set a zero or negative value.

[2015-09-04 18:06] samu05 opened #153 "juni94"

[2015-09-04 18:11] kenzierocks commented on #153
plz

[2015-09-04 18:50] Mumfrey commented on #153
I think we should consider this

[2015-09-04 19:28] JBYoshi commented on #153
Okay... What is this all about?

[2015-09-04 19:30] RobertHerhold commented on #153
juni94 is obviously the issue...

[2015-09-04 19:31] zml2008 commented on #153
Oh wow how could we have forgotten this!?!  Without this we pretty much don't have an implementation!

[2015-09-04 19:51] mcsnetworks commented on #153
We simply cannot afford to finance such a large change at this time.

[2015-09-04 22:50] jomo commented on #153
but what if juni94 was not kill?

[2015-09-05 00:11] hsyyid commented on #153
We need this.

[2015-09-06 15:36] Xfel opened #156 "NBTTranslator and byte/int arrays inconsistence"
When using the NBTTranslator class to convert a NBT tree with ByteArrayTags or IntArrayTags to a DataContainer, it will properly represent these as byte[] or int[]. However, the resulting data container cannot be converted back, as the NBTTranslator.getBaseFromObject method will only convert Byte[], not byte[] (and the same for ints). Is this inconsistence intentional?

[2015-09-06 17:46] gabizou commented on #156
Can you provide some code snippet for testing?

[2015-09-07 14:16] JBYoshi opened #158 "Internal Exception: java.lang.NoClassDefFoundError: Could not initialize class org.spongepowered.api.event.SpongeEventFactoryUtils"
When I try to load a world, I get stuck on the main menu. The first tile you try to log in, the log displays `[08:55:54] [Server thread/INFO]: com.mojang.authlib.GameProfile@20bd291a[...] (local:E:bc712f6a) lost connection: Internal Exception: java.lang.NoClassDefFoundError: org/spongepowered/api/eventgencore/PropertySearchStrategy`. (Afterwards, it gives a much less helpful exception with a recur

[2015-09-07 14:23] Aaron1011 commented on #158
This should be fixed in https://github.com/SpongePowered/Sponge/commit/4766778d6a2b35c8bef85afee5737efcb188f74d.

[2015-09-07 15:00] JBYoshi commented on #158
Never mind. I just needed to re-add my Eclipse run configuration.

[2015-09-07 15:00] #158 closed

[2015-09-07 15:22] ST-DDT commented on #158
The gradle refresh dependency menu entry does this quite well.

[2015-09-07 15:39] JBYoshi commented on #158
Maybe I should check out the Gradle Eclipse plugin. :smile:

[2015-09-07 18:49] #153 closed

[2015-09-07 19:05] JBYoshi commented on #153
What is juni94 anyway? Or was this all a joke?

[2015-09-08 01:11] JBYoshi commented on #118
I think this was accidentally closed? The above commit was supposed to close SpongePowered/Sponge#118.

[2015-09-08 22:36] lucdon commented on #8
i will work on LoreData

[2015-09-08 22:45] JBYoshi commented on #8
I'll work on `BreakableData` and `PlaceableData`. https://github.com/JBYoshi/SpongeCommon/tree/data/placeable-breakable

[2015-09-09 04:23] zml2008 opened #160 "Properly fix profile resolver on the client so builtin permissions work properly"
@bloodmc has a quick hackfix, but this should be fixed properly so clients don't have issues with some permissions setups.

[2015-09-09 23:08] JBYoshi commented on #117
I've been looking into this, and I've found it to happen:
- When "`The client has sent too many requests in a certain amount of time`", as mentioned above
- When *the client is running without being properly authenticated* (as it is when rinning it from development), OR **on the dedicated server** *when it is in offline mode*. In this case, the failure is `profile.isComplete()` returning `false` a

[2015-09-10 21:30] zyczu1 opened #162 "Sponge permission service queries Mojang Servers when creating EntityPlayerMP even in offline mode!"
Stacktrace: http://pastebin.com/VMZfAWG6

I don't know what is the purpose of doing so even on a online mode server, because when EntityPlayerMP is contructed, the GameProfile contains both name and UUID...

Mojang servers should never be queried in offline mode. Doing so will make Sponge a premium-only server software, which woudn't be good for non-US minecraft community, where most people haven'

[2015-09-10 22:51] JBYoshi commented on #162
I believe this also happens when the client is not properly authenticated (e.g. development mode). This should be fixed.

Related (see comment): https://github.com/SpongePowered/SpongeCommon/issues/117#issuecomment-139068648

[2015-09-11 01:53] progwml6 commented on #162
@zyczu1 we will NEVER support users who don't own the game

[2015-09-11 01:55] JBYoshi commented on #162
@progwml6 There are, however, two exceptions to this:
- BungeeCord requires offline mode on the server, even if you are using IP forwarding.
- When doing development, the client is not (usually) authenticated; unless you're using a custom development launcher, it's just `Player` followed by a random number.

[2015-09-11 02:30] mcsnetworks commented on #162
When doing client-side development you can setup the IDE to pass your credentials properly through the IDE to authentication servers so that part is a non-issue.

[2015-09-11 02:32] mcsnetworks commented on #162
And to be perfectly honest if your spending the time to work on a game you haven't paid for, don't be expecting any support of any kind from the Sponge Team.

[2015-09-11 02:38] mcsnetworks commented on #162
BungeeCord doesn't require offline, so defeated on that point too.

[2015-09-11 03:13] JBYoshi commented on #162
@mcsnetworks Is there some modification to Sponge that skips the encryption request stage when Bungee is enabled? Because Bungee doesn't support encryption requests as it doesn't know the client's access token.

Also, you might want to test with multiple users on one server, and if you only have one account, that wouldn't work.

[2015-09-11 07:25] ST-DDT commented on #162
You may also need different usernames or ids.
Image implementing a game with a global highscore showing the top ten players and you have only one username to test.

[2015-09-11 07:59] zyczu1 commented on #162
@progwml6 "@zyczu1 we will NEVER support users who don't own the game"
@mcsnetworks "if your spending the time to work on a game you haven't paid for, don't be expecting any support"

I DO own the game, but players on my server do not, and they'll never do so. They'd rather quit playing. Sad but true. There are other countries in the world than USA, countries where people don't have much money, an

[2015-09-11 10:54] Mumfrey commented on #162
Regardless of the reasons, offline mode exists in the base game so we should support it. Arguments about the ethics of it are basically irrelevant to whether a bug exists or not and frankly we shouldn't be so rude as to assume that everyone who wants to run an offline server is a pirate - that's between them and Mojang and has precisely nothing to do with us. While we obviously won't provide suppo

[2015-09-11 12:29] simon816 commented on #160
This should fix it: fbd36216718b7711c8ed3f12f72f10377815bc2e

[2015-09-11 13:38] #117 closed

[2015-09-11 13:44] Zidane commented on #162
@Mumfrey

This started out on the wrong foot and would have been best to let it drop as we've been aware of this bug for a while, just no one has got around to fix it.

If you look at the activity tracker, you'll see that @simon816 has been working on resolving this to correctly poll perms when it should be done:

https://github.com/SpongePowered/SpongeCommon/commit/c0f971d6bd7c3c00740f98bcb35cbae

[2015-09-11 13:44] #162 closed

[2015-09-12 02:43] gabizou commented on #8
Just to alert people of various PR's and intentions to implement, there have been recent [changes](https://github.com/SpongePowered/SpongeCommon/commit/98504b97a1ef58ea1742e377bf86bc232becca75) to implementing `DataProcessor`s for `Entity` related data, so please, consider reading the changes.

[2015-09-12 03:12] hsyyid commented on #8
Okay

[2015-09-12 09:58] Xfel commented on #156
[code]
The general question here is: Shouldn't DataView support primitive type arrays? I can query for a List<Byte> so that would probably be the correct translation, but this is a horribly inefficient way to store this data. Also, if I translate a List<Byte> to NBT, I will get a NBTTagList containing NBTTagBytes.

[2015-09-12 10:03] simon816 commented on #156
I think it's happening because of this: https://github.com/SpongePowered/Sponge/commit/01d15339e12a17fcc1e4ade16622cd2764588f95#commitcomment-10376027

[2015-09-12 15:30] sanman00 commented on #8
I'm working on ```WetData```.

[2015-09-12 20:38] Aaron1011 commented on #41
When implementing a `CauseTracked` event, please update it on https://github.com/SpongePowered/SpongeAPI/issues/839 as well.

[2015-09-13 06:08] DarkArc opened #168 "Add world limit protection measures"
So, currently you can teleport beyond the limits of Minecraft if using the API. I don't believe this should be possible, and I think we probably shouldn't be crashing like this if someone manages to go beyond the generate-able world:

[code]

[2015-09-13 07:55] ST-DDT commented on #168
Which limits? World border, beyond far lands?
Could you post the teleport command/params?

I agree on this, this should throw in `IllegalArgumentException` in that case.

[2015-09-13 08:24] ST-DDT commented on #23
The help command could not be found inside the help command:
[code]

[2015-09-13 21:18] DarkArc commented on #168
Well, the far lands were removed in Beta 1.8. However, there is a game engine limitation of X/Z: ±30,000,000, which we are breaking if chunks past that point are requested.

[2015-09-14 01:27] gabizou commented on #156
So, here's the conundrum, either I store arrays as just arrays (whereby you cast from get(DataQuery) from Object)), or explicitly support arrays in `DataView`. Ultimately I do understand how it's happening, just a rather unfortunate reality of Java.

[2015-09-14 01:54] JBYoshi commented on #168
@DarkArc Vanilla actually does generate chunks past that limit; players can't enter them, however. The real limit is 33,554,432 for each (X and Z) based on calculations from `BlockPos`.

[2015-09-14 01:56] DarkArc commented on #168
Well I was just going off of what the MC wiki detailed to be the limit.

[2015-09-15 22:40] MoeBoy76 opened #169 "Excessive arrows causing Stack Overflow crash"
A player has built a death trap with 10 dispensers filled with arrows in the following pattern
`| D | P | P | P | P | P | D | `
D = Dispenser, P = Pressure Plate
each row has an individual redstone signal so both dispensers fire when a player walks across

The only problem with this contraption seemed to be a little bit of lag due to how many entities are spawned until the server crashed with a st

[2015-09-15 23:10] MoeBoy76 commented on #168
if a non-creative player goes outside the border they get insta-killed and creative players are unable to interact with anything but chunk loading could be a problem if players start loading chunks outside the border

[2015-09-15 23:21] JBYoshi commented on #169
Here's the problem. It happens when one of the chunks containing the arrows loads:
- The `World` tries to load the chunk.
- The `Chunk` tries to load the `Arrow`.
- The `Arrow` tries to load the `ProjectileSource` via the `ProjectileSourceSerializer`.
- The `ProjectileSourceSerializer` tries to get something from the `World`.
- The `Chunk` hasn't been registered with the `World` yet (since it hasn

[2015-09-16 12:17] simon816 commented on #169
I can see why this is happening. Ultimately it's because `AnvilChunkLoader.loadEntities` loads entities __first__ then tile entities __second__.
When the Arrow entity is loaded and reads from NBT, [`ProjectileSourceSerializer`](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/entity/projectile/ProjectileSourceSerializer.java) discovers the `projectil

[2015-09-16 12:32] DDoS commented on #169
Mark chunks that are in progress of loading and ignore these when a load request is received?

[2015-09-16 12:41] simon816 commented on #169
I could easily add a check for `worldObj.isBlockLoaded(pos)` and don't load the tile entity if it's not loaded, but then there needs to be a way to set the projectile source on the arrow once the tile entity becomes available.

[2015-09-16 16:46] ryantheleach commented on #168
I just checked this in vanilla 1.8.8 for the record. http://puu.sh/kdr46/cbf0e43626.jpg

Teleporting to 29 999 999 ~ 29 999 999 teleported me outside the default world border, which appeared at 29999983 ~ 29999983.

Nor did terrain generate beyond that point. http://puu.sh/kdrf8/43e4156e9d.jpg

This was done using a superflat world with the redstone ready preset, in case this changes things.

[2015-09-17 16:33] #156 closed

[2015-09-18 13:29] bloodmc commented on #169
@MoeBoy76 Please upload a test world where the issue can be reproduced.

[2015-09-18 21:08] MoeBoy76 commented on #169
it should crash instantly when you load it up, which should make for a quicker debug
http://moeboy76.com/downloads/arrowcrash.zip

[2015-09-19 11:28] lucdon opened #170 "DisplayNameData on books doesnt work correctly"
found a bug:
if you set the display name of a book then it only sets the Name in the NbtSubCompound "display" and not the "title" value at the main compound. so when you try to get the display name again it looks for the "title value" which hasnt been set.

if i create the pageData first then the title gets set to "invalid" if i change the display name of the book it still stays "invalid" because

[2015-09-19 22:13] RobertHerhold opened #171 "Event implementation guide?"
I just wanted to create this to get started implementing some events that I would like to use. I have asked around a bit, but haven't gotten many solid responses, so I was wondering if someone could provide some more information. There is [a PR to the docs](https://github.com/SpongePowered/SpongeDocs/pull/321) for data implementation, but no such documentation exists for event implementation. Woul

[2015-09-19 22:41] JBYoshi commented on #171
To implement an event in SpongeForge, create a mixin targeting the Forge event and implementing the Sponge event interface, then fill in the methods.

To implement an event in SpongeCommon or SpongeVanilla, you'll need to mix in to the various locations where the event should be fired and add some code similar to [this](https://github.com/SpongePowered/SpongeCommon/blob/c3984ebf6ee1369ce81a69f5566

[2015-09-19 23:40] #169 closed

[2015-09-20 12:38] Aaron1011 commented on #171
@JBYoshi: Unfortunately, the Great Event Refactor has made it much more complicated to use the corresponding Forge event.

@bloodmc can comment more on this, but the process requires syncing data between different Forge and Sponge event instances.

[2015-09-20 17:28] ryantheleach commented on #170
Is it possible for a book to have a different display name then it's title? Or are they one and the same as far as minecraft is concerned?

[2015-09-20 18:34] gabizou commented on #170
@ryantheleach It's possible to have a different title and display name. I vaguely remember this problem before hand and I seemingly forgot to pay attention to it when porting the display name processors.

[2015-09-20 19:07] KAISERslin commented on #8
I really need "RepresentedItemData" to finish two of my open RPG Plugins.

[2015-09-20 19:09] JBYoshi commented on #8
@KAISERslin `RepresentedItemData` was implemented with the recent `Block` data changes. af86add69d6cc75b618196461f2310ca9576b6b7

@gabizou Could you update this on the list?

[2015-09-22 06:44] gabizou opened #172 "Get represented Item data for TileEntities.JUKEBOX"
Yeah, as it says, need to get the itemstack for a jukebox.

[2015-09-22 13:32] TBlueF commented on #62
After event-refactor: Still valid issue, just an other name. Waiting patiently... =)

[2015-09-23 06:27] ZephireNZ commented on #23
Many exception errors messages in `org.spongepowered.common.data.builder.block.tileentity` refer to Banner.

[2015-09-23 08:54] ZephireNZ commented on #8
`ElderData` implemented in #173

[2015-09-23 09:34] gabizou commented on #8
After giving some thought with `DataProcessor`s and `ValueProcessor`s, I've decided to make a requirement for any and all PR's:

The PR must include a demo plugin (can be as simple as a listener listening for block changes that set the item in hand with various data) that uses all aspects of the processor implementations as expected (notwithstanding making API calls to try and retrieve data from k

[2015-09-23 22:29] lucdon commented on #8
I'm working on ExperienceHolderData

[2015-09-24 20:44] Zidane commented on #112
@Minecrell

I've checked a few entries off on this list above for you. Lets get some tracking going on finishing up the rename and the rest of the entries.

[2015-09-25 17:17] ST-DDT commented on #8
I have a question regarding the Data API.

How can mods/plugins make their custom entities return existing data instances for data that are not supported over inheritance.

Example. A new special protester/demonstrator villager carries a (readable) sign with some text on it.
The plugin author wants to use SignData for this for obvious reasons. However the registered DataProcessors only support blo

[2015-09-25 17:31] gabizou commented on #8
Multiple processor registration. If you have your own custom entity, you're already interacting with forge, and what you can do is register the processors directly in your mod or in a compatibility module. SpongeCommon already handles multiple processor registration quite well (it's how it works already).

[2015-09-25 18:10] ST-DDT commented on #8
@gabizou Thanks.
One more thing, could you check/flag the recently merged data classes? (Ignite, Sneaking...)

[2015-09-26 12:32] Aaron1011 commented on #88
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/c3c35de85dae415967e4a5ad8c11e477c885f68e.

[2015-09-26 12:32] #88 closed

[2015-09-26 22:43] JBYoshi commented on #8
@gabizou `EnchantmentData`, `GoldenAppleData`, `IgniteableData`, `LoreData`, `PagedData`, `RepresentedItemData`, and `SneakingData` have been implemented. Could you update these on the list?

[2015-09-27 18:33] Tzky commented on #8
``FlyingData`` was just pushed too.

[2015-10-01 20:18] JBYoshi commented on #8
Implementing `CoalData`, `CookedFishData`, and `FishData`, please wait...

[2015-10-01 20:35] gabizou commented on #8
I'm going to make some minor changes to the implementation regarding getting cached values. The functionalities will still remain the same, nothing will break code wise, but getting cached values will be easier.

Namely, what will be doable is the following:
[code]

[2015-10-02 11:35] JBYoshi commented on #88
This also needs to be updated in `SignLinesValueProcessor`.

[2015-10-03 16:30] TBlueF opened #181 "Leads Crash Server"
This is a little different than [this Issue](https://github.com/SpongePowered/Sponge/issues/312).
Here is the Exception: http://pastebin.com/1JeDXSmc
I don't know why an `UnleashEntityEvent` needs a `Rider` or a `Vehicle` but for me it seems like they being `null` is causing the crash.
Loading the Server without Sponge fixes the Problem just temporarily.

[Here is it crashing](https://github.com/S

[2015-10-03 18:09] saladoc opened #182 "add .launch files to .gitignore"
As wonderful as it is to have a matching launch configuration automagically generated when `gradle eclipse` is run, it not being ignored by the .gitignore file is rather annoying. Zidane told me to blame @Minecrell for this, which I gladly do.

Same Issue goes for Sponge (and I suppose SpongeVanilla)

[2015-10-03 18:11] Minecrell commented on #182
There needs to be something else going wrong then, I added it in https://github.com/SpongePowered/SpongeCommon/commit/c21f90b9e71dc939c7fa3003e58ab8dcb0c87544#diff-a084b794bc0759e7a6b77810e01874f2R77

[2015-10-03 18:19] saladoc commented on #182
My bad, I noticed this issue on sponge and immediatly assumed it was on SpongeCommon as well. Should I reopen this in the Sponge project? :D
I have now double-checked and the line is only missing in Sponges .gitignore. SpongeVanilla and SpongeCommon are fine.

[2015-10-03 18:20] Minecrell commented on #182
Oh I see, my bad - seems like I missed it there.

[2015-10-03 18:23] #182 closed

[2015-10-03 23:32] lucdon commented on #8
implemented AuthorData while listening to SoS6

[2015-10-04 08:37] gabizou opened #186 "PSA for Contributing Mixins"
Due to the bump to Java 8, it has been discovered that the previous Java 8 attempt failed due to a hidden issue from the massive changes bundled. The issue stemmed from a Mixin failing to apply correctly, and namely, we were under the illusion that we simply couldn't mix in Java 8 code into Java 6.

Since our tests have started, we've found that not only can we succeed in the Java 8 upgrade, but I

[2015-10-04 09:24] ST-DDT commented on #186
Is this a temporary issue with Java 6
or a general issue with Mixins that will still apply when MC is updated to Java 8?

[2015-10-04 09:25] gabizou commented on #186
It's an issue with Anonymous classes having a class reference to the Mixin class that doesn't exist at runtime.

[2015-10-04 09:28] ST-DDT commented on #186
So theoretically it would be possible to update the Mixin tool to rewrite the internal class reference as well? Some kind of implicit `@Shadow` on a none existing field.

[2015-10-04 14:02] jk-5 opened #187 "ConstructWorldEvent not called for vanilla worlds"
ConstructWorldEvent is not called for vanilla worlds like the overworld, nether or end. This makes it impossible to change world generation settings before the world is loaded.

[2015-10-04 21:38] gabizou commented on #186
I would think @Mumfrey can explain the horrors of anonymous classes and why Mixins still doesn't handle them.

[2015-10-04 23:56] clienthax opened #188 "PositionOutOfBoundsException: Position is out of bounds: expected in range (-30000000, 0, -30000000) to (29999999, 255, 29999999) but got (0, -1, 0)"
http://pastebin.ubuntu.com/12686149/

[2015-10-05 00:42] Deamon5550 commented on #188
Duplicate of spongepowered/Sponge#357

[2015-10-05 00:42] #188 closed

[2015-10-05 12:09] saladoc opened #189 "NPE on Interacting with Wolves"
Interacting with a wolf while empty-handed will crash the server throwing an NPE.
I think this is because the [MixinEntityWolf](https://github.com/SpongePowered/SpongeCommon/blame/master/src/main/java/org/spongepowered/common/mixin/core/entity/living/animal/MixinEntityWolf.java#L73) does not take into account that the currentItemStack may be null.

[2015-10-05 12:16] TBlueF commented on #189
Could this be similar to #181?

[2015-10-05 20:16] hsyyid commented on #8
I'll do the value processor for Keys.CAN_FLY

[2015-10-05 21:25] JBYoshi commented on #112
@Zidane

You neglected to mention what issues you discussed. What issues would submodules fix, and what issues would they create?

[2015-10-06 01:19] #187 closed

[2015-10-06 17:36] Zerthick commented on #171
Any progress on this?  I'd like to start implementing some event's I'd like to use as well :smile:

[2015-10-08 03:21] skinny121 commented on #186
Although lambdas might be semantically the same thing as anonymous classes in bytecode they are completely different.

How it works is that the lambda body is extracted in another instance method(if the lambda is in an instance method) called something like lambda$get$0().  And where the lambda was declared is replaced by an call to LambdaMetafactory.metafactor(...)(actually an invokedynamic call

[2015-10-08 17:16] #181 closed

[2015-10-08 17:16] #189 closed

[2015-10-08 17:21] bloodmc commented on #59
This was fixed by gabizou in commit https://github.com/SpongePowered/SpongeCommon/commit/af86add69d6cc75b618196461f2310ca9576b6b7

[2015-10-08 17:21] #59 closed

[2015-10-10 04:12] Aaron1011 commented on #8
I'm taking `FuseData`

[2015-10-10 19:12] hsyyid commented on #8
I'm taking `InvisibilityData`

[2015-10-10 22:23] Feeliiix commented on #8
Started work in the FurnaceData

[2015-10-10 22:51] gabizou commented on #149
Is this still broken?

[2015-10-10 23:27] gabizou commented on #8
I've updated the issue description for what I'd like to see in every Data PR as the top PR description (the first post).

[2015-10-11 00:16] RobertHerhold commented on #149
@gabizou Yes. I updated the gist to the latest version of the API.

[2015-10-11 13:24] clienthax commented on #8
Taking SittingData

[2015-10-11 19:56] clienthax opened #198 "Entitys removed for bounding box restrictions crash server"
Produced by making a size 20+ slime
[code]

[2015-10-11 20:03] JBYoshi commented on #198
Well, that's an easy fix... someone just forgot to add `cancellable = true` to the annotation on line 249.

[2015-10-11 23:14] Aaron1011 commented on #198
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/7bab2983e3417000b35cff822a0f2946a496c369

[2015-10-11 23:14] #198 closed

[2015-10-12 01:12] Aaron1011 commented on #8
I'm taking VillagerZombieData.

[2015-10-12 17:54] bloodmc commented on #9
This is no longer an issue with our new ChangeBlockEvent.

[2015-10-12 17:54] #9 closed

[2015-10-13 22:50] hsyyid opened #204 "Keys.FOOD_LEVEL is registered twice in KeyRegistry."
Keys.FOOD_LEVEL is registered twice.

1) https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/data/key/KeyRegistry.java#L94

2) https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/data/key/KeyRegistry.java#L101

[code]

[2015-10-14 19:52] Feeliiix commented on #8
I'm taking the BrewingData

[2015-10-14 20:42] #204 closed

[2015-10-14 21:26] hsyyid commented on #8
I'm taking `SizeData`

[2015-10-15 08:05] gabizou commented on #8
Updated the list as of this comment.

[2015-10-15 08:07] gabizou commented on #8
Any updates on this @kamcio96? It's been two months and haven't seen any PR's for `TargetedLocationData`.

[2015-10-15 20:45] theboomer opened #206 "Expressing interest in Stone-data and Prismarine-data datamanipulator implimentation"
Per recommendation https://forums.spongepowered.org/t/so-many-ways-that-do-not-work-is-there-one-that-does/9590/5

I am making a post to show interest for some particular data-manipulators.
Requesting for data manipulators for stone-data (to allow placing/changing of granite, andesite, diorite blocks ) and prismarine-data (to allow placing/changing of prismarine bricks and darkprismarine blocks)

[2015-10-15 22:22] lucdon commented on #8
will implement stone and prismarine data #206

[2015-10-16 03:04] hsyyid commented on #8
I'm taking `MapItemData`

[2015-10-16 03:22] gabizou commented on #8
Note that you'll have to write and implement Map API as well for that to work.

[2015-10-16 03:35] hsyyid commented on #8
@gabizou Yep

[2015-10-16 17:34] RobertHerhold opened #207 "DisplaceEntityEvent.Move.TargetPlayer fires when a player teleports"
Please correct me if I am wrong, but the `Move` event is only supposed to fire when a player walks, jumps, etc. However, if I use [this plugin](https://gist.github.com/RobertHerhold/3d97bb65895b0754e6c2) and teleport somewhere, the console will report that the `DisplaceEntityEvent.Move.TargetPlayer` has been fired, which it should not be doing.

[2015-10-18 00:35] kenzierocks commented on #8
I will dutifully take `ColoredData`.

[2015-10-18 01:41] Aaron1011 commented on #113
This has been fixed. If the issues re-appears, this issue can be re-opened, or a new one created.

[2015-10-18 01:41] #113 closed

[2015-10-18 06:24] DarkArc opened #212 "Subcommands don't show proper suggestions or hint text"
Given some command `a` with a sub command `b` which takes arguments `c d` the following will occur:

[code]

The expected behaviour is to list the options for C, not list the sub command again. Additionally, the hint text will be wrong.
Given the input:

[code]

You will receive:

[code]

Which does not help the user what so ever.

[2015-10-18 16:42] SocraticPhoenix commented on #8
Rather than attempt to implement one and fail horribly, I'll politely request that AgentData be implemented to the point that we can enable/disable AI.

[2015-10-18 20:53] Minecrell opened #214 "Make building the Sponge faster"
Currently building a Sponge can take quite long, especially because the style is checked for all projects which takes a lot of time for all 3 projects together. There should be a way to build Sponge without having to execute all these tasks that are not related to the quality of the resulting task.

The idea is to add a special Gradle task that will build the Sponges with only the necessary tasks

[2015-10-18 21:34] Minecrell opened #215 "Simplify submodule initialization/updating and project setup"

[2015-10-18 21:35] Minecrell commented on #112
Closing this, I've opened #214, #215 and SpongePowered/SpongeForge#377 for the remaining things to be done.

[2015-10-18 21:35] #112 closed

[2015-10-18 22:24] JBYoshi commented on #215
If submodules are such a hassle, why does Sponge use them at all?

[2015-10-18 22:26] Minecrell commented on #215
We would need a completely different project setup, and up to now there where no ways we came up with to remove the submodules without other disadvantages.

[2015-10-18 22:27] JBYoshi commented on #215
@Minecrell "up to now"?

[2015-10-19 06:58] Minecrell commented on #215
@JBYoshi Still none. Right now the plan is to make a Gradle plugin which will keep the submodules up to date and has a task which will setup the complete workspace, including decompiling etc.

The difficulty is to make it still possible to test submodule changes without having the plugin reset them every time the project is built.

[2015-10-20 09:03] theboomer opened #218 "Inconsistancy in CommandContext & CommandSpec (specifically GenericArguments)"
The command context components .getOne(), .getAll(), .hasAny() etc used in the the command executor retrieve a keyed-value that was designated by the command registration process, and that key isa String.  ie:
`String warpname = (String) args.getOne("warpame").get();
`
Yet the parser setup assigns the keyname as a Text object.
`CommandSpec cmdCreate =CommandSpec.builder()
.arguments(GenericArgumen

[2015-10-20 09:38] gabizou opened #219 "Refactor DataConstants"
Currently, throughout the Data implementation, there are various "constants" that are thrown around, and some constants are not evident and in some cases, aren't retained between uses.

I'm working on a `DataConstants` class that will achieve something similar to what `NbtDataUtil` does with the `NbtTagCompound` related keys used in various places.

To see what I mean:
![DataConstants Example](htt

[2015-10-20 13:26] ST-DDT commented on #219
While this is a nice feature. I see an issue with these defaults. Some implementations do not have one default they choose their initial value at random (Career). At least they will not be available/known during API compile time.

[2015-10-21 01:43] zml2008 commented on #218
The usage of Text is for translatable parameter names -- usage messages use the Text representation.

[2015-10-21 04:40] theboomer commented on #218
Translatable parameter names? What does that mean?
Why are the key parameters defined as Text keys, but accessed as String keys.  If Text is required to "modify" a string into a special thing that a string cant represent, then how is it supposed to be accessed when only a string is provided for the key accession?

[2015-10-21 05:54] zml2008 commented on #218
the string used as a mapping key is untranslated. the Text itself is what is sent to the user, translated into that user's language.

[2015-10-21 06:14] theboomer commented on #218
So where in my code there does "warpname" appear to the user, and how can I modify this key so that it translates to whatever - again still though, im selecting the name for the key as 'warpname'.  Minecraft is capable of translating my keynames?  And it requires a Text to do so?

[2015-10-21 17:30] Zidane opened #222 "EventManager is inconsistent on allowing private/public Listeners"
Reported originally by Feeliiix on IRC

Given the following plugin:

[code]

Both listeners are baked and fired yet GameInit is private. If I make interact private, it doesn't get fired. @Aaron1011 you are getting assigned to this.

[2015-10-21 17:36] Feeliiix commented on #222
The plugin will not work, yet. Its created to test the furnace data. Its not implemented yet, working on it #216

[2015-10-21 17:41] simon816 commented on #222
Listeners should always be pubic
https://github.com/SpongePowered/SpongeForge/issues/223

[2015-10-21 17:51] Zidane commented on #222
@simon816

The point is, its working currently when the listener above is clearly PRIVATE. This is a bug.

[2015-10-21 18:41] saladoc commented on #222
@Zidane this already surfacedon my test plugin. You mentioned it on IRC and told @Aaron1011 to fix it.

[2015-10-21 21:24] Minecrell commented on #222
This is not actually a problem of the EventManager, but rather of [the way how SpongeForge is handling state event handlers](https://github.com/SpongePowered/SpongeForge/blob/master/src/main/java/org/spongepowered/mod/plugin/SpongeModPluginContainer.java#L117-L148). That should be probably refactored to use the event manager if possible anyway, considering it is optimized to call events efficientl

[2015-10-21 21:33] Zidane commented on #222
@Minecrell

I knew where the issue is, it needs to get resolved as no listener should be private.

[2015-10-22 06:14] gravityfox opened #223 "BlockEvent Chain Cause Tracking"
Block Events triggered by players will have a cause of the player who interacted with it.
However, it only reports the owner of of the block if the cause isn't immediate. I.E. A redstone switch.

Tracking the last player/entity to interact with a block will be especially useful for event chains that happen over time.

Here is a simple world setup with a lever, two redstone, and a piston.
https://g

[2015-10-25 02:31] clienthax commented on #8
Taking AgentData

[2015-10-25 02:34] gabizou commented on #8
List is updated to here.

[2015-10-25 06:54] me4502 commented on #8
I'm claiming the following:

MoistureData
FluidLevelData
FilledData

[2015-10-25 07:28] clienthax commented on #8
Taking OpenData

[2015-10-25 11:18] lucdon commented on #8
@me4502 im trying to finish my pr today and else tomorrow

[2015-10-25 15:51] sanman00 commented on #8
I'm taking `LockableData`.

[2015-10-26 00:46] clienthax commented on #8
taking ChargedData

[2015-10-26 01:48] clienthax commented on #8
taking PlayerCreatedData

[2015-10-26 01:51] hsyyid commented on #8
Taking `OccupiedData`

[2015-10-26 07:19] bloodmc commented on #223
@gravityfox So I was able to spend this weekend working on this issue and managed to get tracking of blocks such as redstone to work. Essentially, I am now storing the last player that notifies blocks at each position. I am currently using the following redstone map as a test case

http://www.planetminecraft.com/project/some-redstone-creations/

So far majority of the things on this map work fine.

[2015-10-26 07:40] clienthax commented on #8
Taking ShatteringData

[2015-10-26 12:58] hsyyid commented on #8
`InWallData` was also done..

[2015-10-26 23:16] JBYoshi commented on #223
@bloodmc One thing to consider. Assume that a repeater is placed and set to 4 ticks, with a lever connected to the input. If Player 1 turns on the lever, then Player 2 turns the lever off *before the repeater turns on*, would the cause for the repeater turning on still be listed as Player 1?

[2015-10-27 14:12] Feeliiix opened #230 "Error by running setupDecompWorkspace"
Infos:
- IDE: Intellij IDEA
- cloned using SSH
- own gradle clone

While i ran <code>setupDecompWorkspace</code> on a new clone (nothing changed, first thing after cloning) i got this error:
[code]

[2015-10-28 14:27] Minecrell commented on #230
This should be fixed by https://github.com/MinecraftForge/ForgeGradle/commit/993adcc335573143f3f4251df13a142ca10321cf, please reopen if this is still an issue.

[2015-10-28 14:27] #230 closed

[2015-10-29 01:20] lucdon commented on #170
i see it has been fixed

[2015-10-29 01:20] #170 closed

[2015-10-30 17:08] Zidane opened #236 "Thrown potions can only be used if not looking at a block"
You must not be targeting a block to throw a potion. This breaks Vanilla behavior.

[2015-10-30 17:09] Zidane opened #237 "Post tick captures are applying properties on the incorrect blocktype."
[code]

[2015-10-30 17:09] Zidane commented on #237
The above came from Thaumcraft 5.

[2015-10-30 17:12] Zidane commented on #236
Another thing this bug breaks is the fact that any interactions, when targeting a block, fail to execute the right click on the item in hand.

Good example is Portable Hole in Thaumcraft.

[2015-10-30 18:11] saladoc commented on #236
Or trying to read a book

[2015-10-30 19:39] liach commented on #237
Feels like that thaumcraft causes error when trying to get block metadata. Could @Azanor help?

[2015-10-30 19:49] Kiskae commented on #237
Looking at the stack trace, this appears to occur during the blockbreak event and appears to involve a block being set to air earlier than thaumcraft assumes it would be.
Perhaps event order issue / sponge changing minecraft's internal data too soon?

[2015-10-30 22:02] JBYoshi commented on #237
@Zidane I can't find a `callBlockBreakEvent` in `SpongeForgeEventFactory`... Which SpongeForge commit is this?

[2015-10-30 22:08] Zidane commented on #237
@JBYoshi

Thinking back on it, I think my local sources are messed up

[2015-10-30 22:12] Zidane commented on #237
@JBYoshi

https://github.com/SpongePowered/SpongeForge/blob/master/src/main/java/org/spongepowered/mod/event/SpongeForgeEventFactory.java#L766

[2015-10-30 22:16] JBYoshi commented on #237
@Zidane In your test condition, did it happen when placing a block or breaking a block? (I know it was placing/breaking since it involves an air block and a non-air block.)

[2015-10-30 22:47] lucdon commented on #8
working on attributedata and the attribute implementation(and some api changes)

[2015-10-30 22:50] ZephireNZ commented on #8
@lucdon Attributes got removed from the API in SpongePowered/SpongeAPI@a6391b6

[2015-10-30 23:07] #236 closed

[2015-10-30 23:13] lucdon commented on #8
@ZephireNZ ahh thx did not update my api fork so i didnt see it.
@gabizou can you remove attribute data from this issue

[2015-10-30 23:43] Zidane commented on #237
Break

[2015-10-31 01:05] Zidane commented on #237
Got another one when breaking a dispenser while cancelling all change block events caused by me:

[code]

[2015-10-31 01:08] Zidane opened #238 "Cancelling ChangeBlockEvent has no effect on activations."
If you run the following code:

[code]

and step on a pressure plate connected to redstone which connects to a redstone lamp the block will be activated when you step on it, light up the redstone wire, and then the lamp. For as long as you are on the pressure plate, it'll flicker the blocks.

[2015-10-31 06:53] me4502 commented on #8
I'm going to hate myself for this, but I'll take FireworkData as well.

[2015-10-31 07:23] bloodmc commented on #237
Fixed in commit https://github.com/SpongePowered/SpongeForge/commit/eace33dc0a6195feebba7a3159dc7507cd8b436b

[2015-10-31 07:23] #237 closed

[2015-10-31 19:15] bloodmc commented on #207
This is intended as a teleport is still considered moving.

[2015-10-31 19:15] #207 closed

[2015-10-31 19:55] clienthax opened #239 "Offering Sign_Lines to a sign doesn't send a update packet"
[code]

Where getLocation is a Location<World> of a placed sign
will not update the text on the client view until the player relogs

[2015-10-31 22:58] Kiskae commented on #239
Looking at the data processor (for SignData):
https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/data/processor/data/tileentity/SignDataProcessor.java#L163
and the value processor (for Keys.SIGN_LINES):
https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/data/processor/value/tileentity/SignLinesValueProcesso

[2015-11-01 10:54] clienthax commented on #239
https://github.com/SpongePowered/SpongeCommon/pull/240

[2015-11-01 21:30] Feeliiix commented on #8
FurnaceData and BrewingStandData finished!

Taking FlamableData now!

[2015-11-02 20:09] lucdon commented on #8
AttachedData
 AxisData
 ConnectedDirectionData
 DirectionalData
 DisarmedData
 DropData
 ExtendedData
 GrowthData
 OpenData
 PoweredData
 RedstonePoweredData
 SeamlessData
 SignaledOutputData
 SnowedData
 SuspendedData

taking the 15 remaining block data manipulators

[2015-11-04 21:03] gabizou commented on #223
@bloodmc I assume that the latest branch will end up closing this issue once merged into master?

[2015-11-04 21:03] gabizou commented on #239
Fixed with the closure of #240 .

[2015-11-04 21:03] #239 closed

[2015-11-04 21:06] gabizou commented on #219
Granted, but there's still a notion of "defaults" that all of Data encompasses around.

No default should be known in the API as it's purely implementation detail, that's the reason for `getDefault()` in `BaseValue`, the issue stems from caching of `ImmutableValue`s such that having differing "defaults" for a specific `Key` will result in n times more possible combinations, while caching shouldn't

[2015-11-04 21:07] gabizou commented on #218
I'm just going to take a gander that this also has to deal with text formatting, am I correct, @Minecrell and @zml2008 ?

[2015-11-04 21:08] gabizou commented on #212
@zml2008 Anything on this?

[2015-11-04 21:08] gabizou commented on #206
This has been implemented.

[2015-11-04 21:08] #206 closed

[2015-11-04 21:09] gabizou commented on #171
I believe this issue is closer related to the docs, and likely should be handled there.

[2015-11-04 21:09] #171 closed

[2015-11-04 21:10] gabizou commented on #186
@SpongePowered/docs If possible, this issue should be resolved with the contributing docs and eventually updated with Mixin is able to appropriately handle anonymous classes and lambda relocations.

[2015-11-04 21:10] #186 closed

[2015-11-04 21:12] gabizou commented on #160
@simon816 did those commits actually fix the issue?

[2015-11-04 21:13] gabizou commented on #141
If this is still something desired, quite literally needs to be exposed in the API, not implementation.

[2015-11-04 21:13] #141 closed

[2015-11-04 21:16] gabizou commented on #150
@Zidane should this be allowed? It's an easy change in the API and implementation.

[2015-11-04 21:19] gabizou commented on #107
@Deamon5550 would this be likely resolved with your world generation changes (in any of the phases)?

[2015-11-04 21:20] gabizou commented on #62
@TBlueF I'm just going to say that the `InteractEntityEvent`s and such have been implemented at least partially implemented in almost all cases. However, if there is an interaction that is missing an event (and you've tested it), please let me know, otherwise this issue should be resolved.

[2015-11-04 21:43] ZephireNZ commented on #8
@me4502 have you made progress on fireworks? I got partially into implementing it before I saw you your comment haha

[2015-11-04 21:52] me4502 commented on #8
@ZephireNZ I haven't started it yet, I've been waiting on my first data PR to be accepted before doing more.

[2015-11-04 21:54] ZephireNZ commented on #8
Did you want to keep it, or shall I do it? :)

[2015-11-04 21:54] me4502 commented on #8
@ZephireNZ You can do it, I only grabbed it as I wanted it done, and no one else had grabbed it.

[2015-11-04 21:55] ZephireNZ commented on #8
Sweet :)

[2015-11-04 22:09] Faithcaio opened #244 "feature/redstone-tracking Issues"
Console Output generated with: http://pastie.org/private/7dx06c550clnpwuigt8sw
- [x] http://puu.sh/l9zIo/2f19c7215c.jpg Pressing the left button causes weird stuff to happen: http://pastie.org/pastes/10529962/text?key=ofvodjezrdmv2xxzsshhla (Playercause is always there)
   - 1st event Buttonpress Ok
   - 2nd event Piston extend part 1 (wtf why is there an ItemFrame???)
   - 3rd event Piston extend

[2015-11-04 22:09] gabizou commented on #48
So, I take it this should be an API addition, @ZephireNZ since you know a bit more than I do, can you properly make an Issue or PR for it? Thanks!

[2015-11-04 22:09] #48 closed

[2015-11-04 22:10] gabizou commented on #27
I somehow doubt this is an issue anymore, confirmation @bloodmc and @Zidane ?

[2015-11-04 22:22] Deamon5550 commented on #107
Sure but the issue is more how to resolve it...

[2015-11-04 22:23] gabizou commented on #1
Considering this is partially handled by data, during the event being thrown for someone transferring between worlds, this shouldn't be much of an issue from the implementation side.

That being said, I do believe it should be handled as vanilla deems fit, and plugins interacting with the player (setting game mode in the event) will take priority for obvious reasons.

[2015-11-04 22:29] TBlueF commented on #62
Nope, nice work! :)

[2015-11-04 22:29] #62 closed

[2015-11-04 23:05] kashike commented on #150
I have to agree with @ST-DDT, this can be helpful in GUIs.

[2015-11-04 23:09] gabizou commented on #150
The biggest issue with those types of itemstacks is they're prone to duplication glitches, and that is the last thing we want to encourage.

[2015-11-05 00:01] bloodmc commented on #244
@Faithcaio Please test the following again

Detector Rail deactivation
Placing minecart/restart

[2015-11-05 01:08] Zidane commented on #150
@gabizou So long as you make sure to not allow dupes, you have a go.

[2015-11-05 04:42] ZephireNZ commented on #48
This has been done in SpongePowered/SpongeAPI#904

[2015-11-05 05:23] kenzierocks commented on #8
I'll take `BlockItemData`.

[2015-11-05 07:44] Zidane commented on #244
[] Tossing an item into a hopper doesn't transfer the notifier from the EntityItem to the hopper.

[] Owner/notifier sometimes doesn't transfer onto Minecart Chest entities and therefore doesn't transfer to blocks that entity notifies.

[2015-11-05 14:15] ryantheleach opened #247 "InteractEvent not firing for Primary click."
[code]

InteractEvent when interacting with Nothing or air, currently does not fire for the primary click.

Tested using blood's redstone testing build with arrows in hand.

Additionally unless it's an Interact with an entity there is no way to tell if it was a Primary or Secondary interaction.

InteractBlockEvent also fires for right click in air, but has a strange location of 0,0,0.

[2015-11-05 14:20] ryantheleach opened #248 "BlockRay fails to set blocks when direction == (0.0 -1.0, 0.0)"
[code]

If the direction output in chat has x and z values close to 0 the block ray will draw, otherwise nothing happens.

Works: http://puu.sh/lahNB/d5713f4a2d.jpg

Doesn't work: http://puu.sh/lahP3/776f8666f8.png

log

[code]

**Edit:** further testing with help of /tp ~ ~ ~ 0 0 shows that this is an issue no matter which of the xyz are 0 as long as 2 or more are 0.

[2015-11-05 17:13] simon816 commented on #160
It did, but has since been commented out: https://github.com/SpongePowered/SpongeCommon/commit/eeddcb1bb9faa6d188560ea9b26a95c8842bf7a7#diff-8560402e5ab8aa9de45f947a0ce49b95

I also fixed an issue in forge related to this, and it seems to work fine now on the client.
So I guess the only thing left to do is to either move or remove the client code in `SpongeProfileResolver`

[2015-11-05 20:12] gabizou commented on #8
Updated the description up to here.

[2015-11-05 20:14] gabizou commented on #8
Also, a correction: `OccupiedData` may be implemented in that the manipulator exists, but the actual implementation backing it is not done. So, it's still up for grabs, maybe @lucdon ?

[2015-11-05 21:40] clienthax commented on #8
@SocraticPhoenix AgentData is implemented and merged

[2015-11-05 21:56] gabizou commented on #8
@clienthax, yes, as the description said, it was implemented...

[2015-11-05 21:58] JBYoshi commented on #8
@gabizou What's the difference between `AngerableData` and `AggressiveData`?

[2015-11-05 22:01] ZephireNZ commented on #8
@JBYoshi Angerable is for mobs like pigmen I believe. As for Aggressive I believe that's for "hostile" mobs

[2015-11-06 00:13] SocraticPhoenix commented on #8
@clienthax thanks
Now all I need is InvisibilityData to be completed and my NPCs will be complete!

[2015-11-06 01:36] hsyyid commented on #8
@SocraticPhoenix I'm working on it :wink:

[2015-11-06 05:37] zml2008 commented on #218
I don't think this is a valid issue -- it's a question about how to use Translatables (the refererence there is ResourcePackTranslationHelper, which has some appropriate example code).

[2015-11-06 05:37] #218 closed

[2015-11-06 05:39] zml2008 commented on #212
this is a known issue due to how trimming is handled on command arguments. I think there's already an issue dealing with it.

[2015-11-06 17:53] lucdon commented on #8
will implement 'OccupiedData' with the rest of the blockData

[2015-11-06 18:57] lucdon commented on #8
will implement these 3 too because only the manipulators are created and nothing more(and @hsyyid  thought the were implemented which is false)
InWallData
LayeredData
DecayableData

[2015-11-06 18:59] gabizou commented on #8
So, just to make sure, @hsyyid isn't going to be implement those?

[2015-11-06 21:40] JBYoshi commented on #8
Taking `LockableData`.

[2015-11-07 01:08] SocraticPhoenix commented on #8
I'd like to request that FallingBlockData be implemented

[2015-11-07 01:57] gabizou commented on #8
Updated to here. Added SplashPotionData.

[2015-11-07 08:22] saladoc commented on #8
`SignaledOutputData` is on the list, but does not seem to exist in the API.

[2015-11-07 22:28] hsyyid commented on #8
@gabizou No. @lucdon is correct, I thought they were done, but they're only half done. I am fine with @lucdon doing them instead, as he's already done most if not all blcokdata processors.

[2015-11-07 22:31] gabizou commented on #6
Having experimented with the monstrous #249 Registry PR, I'm going to leave this image to give people an understanding of static class initializers:

![static](http://puu.sh/ld8tP/bbedbe3e15.png)

The issue is that plugin's main classes are being loaded far too early for any registration to take place. So early that the registry hasn't been initialized yet.

One option that @Mumfrey mentioned to m

[2015-11-07 22:53] simon816 commented on #6
Could have an early hook maybe in the coremod or as soon as the sponge mod is constructed for things like text that aren't dependent on any particular load order

[2015-11-07 23:18] gabizou commented on #6
Ok, so did further testing, I can get texts to be usable as soon as class loading of plugins.

https://gist.github.com/gabizou/1d8d9440802c9e33982c#file-gistfile1-txt-L124
Relevant log based on the registry changes.

[2015-11-08 10:29] lucdon commented on #8
@gabizou what about creating delayableData for RedstoneRepeaters?

[2015-11-08 17:35] gabizou commented on #8
Yep, go ahead and add it @lucdon

[2015-11-09 03:57] #6 closed

[2015-11-09 08:05] me4502 opened #255 "Add Property changes to ChangeBlockEvent.Modify"
Currently the only thing stopping ChangeBlockEvent.Modify from being used as a perfect way to detect redstone changes is the absence of property changes calling the event. As 'PoweredProperty' is a property, and not a data value, it does not call the event.

[2015-11-09 08:39] gabizou commented on #255
@me4502 @bloodmc has a redstone tracking branch that does add the event hooks for redstone.

[2015-11-09 22:00] clienthax commented on #8
Taking FallingBlockData

[2015-11-09 22:40] JBYoshi commented on #222
@Zidane Status?

[2015-11-10 01:49] SocraticPhoenix commented on #8
@clienthax Thank you!

[2015-11-10 19:16] sanman00 commented on #8
I'm working on `SkeletonData`.

[2015-11-10 21:25] Feeliiix commented on #8
Hey guyz,

i started to implement the <code>FlammableData</code>, but in my opinion it does not store what it has to store. At the moment <code>FlammableData</code> returns is a entity is aflame, but i think flammable means if something could burn and not if something is aflame.

There are 2 reasons i think:
1. Rename <code>FlammableData</code> to something like <code>AFlameData</code>
2. Create a

[2015-11-10 21:58] JBYoshi commented on #8
@Feeliiix Any entity that [supports](https://github.com/SpongePowered/SpongeAPI/blob/master/src/main/java/org/spongepowered/api/data/value/mutable/CompositeValueStore.java#L149) `FlammableData` can be set aflame.

[2015-11-11 05:34] Feeliiix commented on #8
@JBYoshi right but in my opinion than it should be store a boolean if it support that and not a boolean that represents the aflame state
<code>
/**
     * Gets the {@link Value} for the "aflame" state.
     *
     * @return The value for the aflame state
     */
</code>

[2015-11-11 07:00] ST-DDT commented on #8
There was a discussion for this on IRC lately, but it did not have an answer.
The suggestion there was:
`BurningData` for things that are on fire and `FlammableProperty` for things that could be on fire.

[2015-11-11 07:57] gabizou commented on #8
The way I thought of it is that since it only stores the "ticks" of being on fire, it's only available when the entity is actually on fire. If the entity is not on fire, then there's no flamabledata to get. Also, I'd appreciate not cluttering up this issue in the future to take it to a new issue, possibly in API as it most directly affects that more than anything.

[2015-11-11 12:29] Feeliiix commented on #8
@gabizou I See your point, but i suggesting a rename because the name is very cunfusingly, when it does only store the ticks, the entity is aflame

[2015-11-12 15:45] l0lkj opened #259 "Client lost connection message doesn't format correctly"
The message printed in console whenever a client disconnects from the server is not printed correctly. As it prints now:
*[13:29:40] [Server thread/INFO]: l0lkj lost connection: TextComponent{text='Disconnected', siblings=[], style=Style{hasParent=false, color=null, bold=null, italic=null, underlined=null, obfuscated=null, clickEvent=null, hoverEvent=null, insertion=null}}*

Tested on:
jvm: 1.8.0_

[2015-11-12 16:24] kashike commented on #259
This is what vanilla does, Sponge doesn't break it.

[2015-11-12 16:28] l0lkj commented on #259
Does vanilla own the TextComponent class, og Vanilla minecraft? Either way, it should be fixed as far as I am concerned. Gratimax said it should be an easy fix.

[2015-11-12 16:50] kashike commented on #259
`TextComponent` is a vanilla class, yes. If anything, this is a Minecraft bug, not a Sponge bug.
https://bugs.mojang.com/browse/MC-59535

[2015-11-12 17:14] l0lkj commented on #259
Okey, thank you for clearing that up. I'll close this issue :)

[2015-11-12 17:14] #259 closed

[2015-11-13 06:55] theboomer opened #260 "Bizzare scheduler issue when adding repeating task into a sequence of delayed tasks"
Zidane recommended posting here and tagging  @simon816 as nothing looked wrong (just odd :) ) with my issue cause.  I reduced it down to the simplest form of my plugin problem, chaining methods one after another scheduled with delays, which merely print to the log when executed.   I want to have 10 methods chained in a row, each one doing a job and scheduling a delayed call to the next phase metho

[2015-11-13 12:19] JBYoshi commented on #260
Ah... When you finish building a task, you simply reuse the same builder, retaining the same settings. So once you first set the `delayTicks`, all later tasks are configured as if you set the `delayTicks` on them as well. After you build each task, either grab a new builder object, or call `reset()` on the builder (if it exists).

[2015-11-13 13:25] simon816 commented on #260
@JBYoshi is correct. A builder is used to create a single instance, don't use it on another occasion.
In short, your method `phase4` calls `tbldr.intervalTicks`, this will set the interval for the builder, any future task creations from the builder will inherit the builder's configuration.

Simplest solution is to create a method that returns a new builder instance
[code]
Then replace all accesses

[2015-11-13 17:25] Deamon5550 commented on #260
I find it a little odd that TaskBuilder has no reset method as that would also be a good solution.

[2015-11-13 17:45] theboomer commented on #260
Perfect - I was certain it had to be something like that, and now thinking about it it does make sense..
I'll assume other builders work similarly then as well, where I have used them as a shared object

[2015-11-13 17:45] ST-DDT commented on #260
Just for reference: [TaskBuilder]8https://github.com/SpongePowered/SpongeAPI/blob/9ae1a308a3e140074f57687fe245d2d3f785eb46/src/main/java/org/spongepowered/api/service/scheduler/TaskBuilder.java)

@simon816 If the builder is meant to be used only once, then subsequent calls after `build()` should throw an `IllegalStateException`.
I expect the instance to either throw that Exception or clear the `Co

[2015-11-13 17:46] theboomer commented on #260
problem is that this is a builder that doesn't have a build() method per se

[2015-11-13 17:48] ST-DDT commented on #260
@theboomer: Nope, some/most other builders overwrite previous settings such as ItemType etc instead of adding them twice/multiple times.

[2015-11-13 22:10] theboomer commented on #260
that was my thinking behind reusing it, like the particle effect builder, doesn't give momenum to an effect made after one that does, etc ;)  So im glad its an 'interpretation' thing that is the source of the flaw here, if others have interpreted the same way, and something might be doable to 'save' people from hurting themselves

[2015-11-16 01:11] #223 closed

[2015-11-17 02:36] Zidane commented on #255
Redstone tracking is now in master.

[2015-11-17 02:36] #255 closed

[2015-11-17 02:38] Zidane commented on #244
Redstone tracking is in master. Create new issues if bugs crop up.

[2015-11-17 02:38] #244 closed

[2015-11-17 02:38] gabizou commented on #260
`TaskBuilder#reset()` has been [implemented](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/service/scheduler/SpongeTaskBuilder.java#L127) now.

[2015-11-17 02:38] #260 closed

[2015-11-17 02:40] gabizou commented on #160
@simon816 if the code is not needed anymore, just remove it and close this issue.

[2015-11-17 02:41] gabizou commented on #150
We'll allow zero quantity itemstacks, but we won't allow negative quantity itemstacks.

[2015-11-17 02:42] Zidane commented on #122
Leaving this up to plugins...our only job is to provide these in events where relevant.

[2015-11-17 02:42] #122 closed

[2015-11-17 03:13] Zidane commented on #145
Closing this as it sets a dangerous precedent.

EntityHuman is as alike to Players as Skeletons are in 1.9...they use the same model (Skeletons use a different texture albeit). In no way should they ever be considered "Just Players but not Players" and should be treated completely the same as Skeleton and Zombie.

[2015-11-17 03:13] #145 closed

[2015-11-17 03:21] Zidane commented on #1
Closing this as we follow what Vanilla does. Plugins can easily change the GameMode during events. I'll be removing it from the WorldBuilder.

[2015-11-17 03:21] #1 closed

[2015-11-17 03:22] Zidane commented on #27
Already implemented.

[2015-11-17 03:22] #27 closed

[2015-11-17 03:26] Zidane commented on #238
Closing this as redstone tracking has been merged into master.

[2015-11-17 03:26] #238 closed

[2015-11-17 03:29] Zidane commented on #147
@DarkArc

Is this still valid?

[2015-11-17 03:31] DarkArc commented on #147
As far as I've seen yes.

[2015-11-17 07:45] me4502 opened #263 "NotifyNeighborBlockEvent not being fired since Redstone Tracking merged into master."
The title basically says it all, nothing worked in the notify event, so I put a System.out.println in there to test if anything actually happened. At the top of the method nothing is outputted at all.

[2015-11-17 15:12] simon816 commented on #147
This would have been an effect of #37
The velocity can easily be set to zero after creating the entity,
[code]
The question is, when creating an entity should sensible defaults take priority over setting everything to zero?

[2015-11-17 15:28] simon816 commented on #150
Like @ST-DDT suggested, I believe we need something like `unsafeQuantity`, perhaps just `zeroQuantity()`. It could be a programming error to set the quantity to 0 if using the `quantity(int)` method. It should be made explicit so the developer doesn't make an accidental mistake.

[2015-11-17 16:35] Zidane commented on #147
@simon816

Not sensible defaults, whatever is happening in the entities' constructor by default in the base game is exactly the same we should be doing.

[code]

Which means that you should set the velocity to ZERO as simon suggests @DarkArc after creating the Entity but before spawning it.

[2015-11-17 16:35] #147 closed

[2015-11-17 18:04] kenzierocks commented on #150
I would prefer `unsafeQuantity(int)` so that I could use `0->whatever` without a branch.

[2015-11-17 18:47] simon816 commented on #122
@Zidane Currently we don't have an event for the initial `C00Handshake` packet in the API. Should we add one?

[2015-11-17 18:58] simon816 commented on #160
Yeah I'll remove it.

[2015-11-17 18:58] #160 closed

[2015-11-17 20:07] Zidane commented on #122
@simon816

You can but its really only used for the message.

[2015-11-18 00:02] DarkArc commented on #147
@Zidane I would like to bring a counter point that we should always go for the bare minimum behavior (nothing more than has been requested).

When we introduce the constraint that we're going to be relying on the default construction of the object, that opens us up for our behavior to change unexpectedly between versions of Minecraft.

A good example of how this can be a problem is one I encounter

[2015-11-18 05:41] me4502 commented on #263
Thanks blood

[2015-11-18 08:43] Inscrutable opened #266 "No value present in Optional (PigZombie)"
I was playing around with a server with TerrainControl for Forge (2.7.3 build 101) and SpongeForge 826 (+ Forge 1568), recreating the world we used for Minecon using the same settings. It spits the dummy and crashes when it gets to the Hell biome region,     ``caused by: java.util.NoSuchElementException: No value present at java.util.Optional.get(Unknown Source) ~[?:1.8.0_65].``       It seems to

[2015-11-18 09:45] me4502 opened #267 "Redstone Tracking minor issue"
Hi,

So the following code listens for redstone nearby a sign triggering.

http://pastebin.com/RUyZ8EgD

Now, when the cause is printed to a string when a player toggles a lever near a sign, with a redstone wire separating it, the player is not in the cause.

This basically marks a place where a player is missing from the cause, when it should be in there.

Using the debug options in the client, I

[2015-11-18 14:48] simon816 commented on #266
Ah I see, `AngerableData` has not been implemented yet. [This line](https://github.com/SpongePowered/SpongeCommon/blob/011932b6fffd816ccf05141749aa517ef620344e/src/main/java/org/spongepowered/common/mixin/core/entity/living/monster/MixinEntityPigZombie.java#L66) will need to be temporarily commented out.

[2015-11-19 00:16] clienthax commented on #8
@SocraticPhoenix FallingBlockData is in master now

[2015-11-19 00:36] SocraticPhoenix commented on #8
@clienthax
thank you

[2015-11-19 05:18] bloodmc commented on #267
@me4502 I cannot reproduce this. You need to provide a test world and steps to reproduce.

[2015-11-19 07:32] #267 closed

[2015-11-19 14:58] Zidane commented on #222
@Aaron1011

I believe your commit addressed this?

[2015-11-19 16:00] kenzierocks opened #271 "Request for DisplaceEntityEvent to be implemented"
For my plugin to be working for the competition, I need this event implemented for arbitrary entities. It can either be this one or just the `Move` sub-event, as I don't need `Teleport`. I could implement this myself but I have a few questions if I were to attempt it.

[2015-11-19 19:55] Aaron1011 commented on #222
Yes - this was closed in https://github.com/SpongePowered/SpongeForge/commit/22dd21c58b9040be1765fffeff74acdc8ebb10e7. My commit linked to an issue within SpongeForge, instead of in SpongeCommon, so this wasn't automatically closed.

[2015-11-19 19:55] #222 closed

[2015-11-20 03:00] gravityfox opened #273 "Named Causes conflict."
http://pastebin.com/HmiCF8wh

I tried printing out the name in question:
"unknown0NamedCause"

Not sure how that is happening, but is instanceof somehow returning false?

[2015-11-20 03:01] me4502 commented on #273
Did you build from source? If so, make sure SpongeAPI is up to date.

[2015-11-20 03:02] gravityfox commented on #273
i did:
git pull --all
git submodules update --recursive
gradle setupDecompWorkspace

[2015-11-20 03:04] gravityfox commented on #273
I also noticed that block changes that happen on their own during chunk generation have their owner set to the player that generated them.

As an example, as I was flying around, I saw a village, but when i hovered over the crops, it said I was the owner.

[2015-11-20 03:25] gravityfox commented on #273
Just realized this issue belongs in SpongeAPI

[2015-11-20 08:59] me4502 commented on #273
Fixed.

[2015-11-20 08:59] #273 closed

[2015-11-20 18:23] gravityfox opened #275 "WorldGen Cause Tracking"
Owners and notifiers are being tracked during world gen block events, even though they really shouldn't.

[2015-11-20 18:55] #275 closed

[2015-11-21 16:23] sanman00 commented on #8
I'm working on `OcelotData` and `RabbitData` alongside `SkeletonData`.

[2015-11-22 22:39] JBYoshi opened #279 "Question: Moving DataProcessor.with() and DataProcessor.fill()"
`DataProcessor`s appear to be primarily intended for moving `DataManipulator`s in and out of `DataHolder`s. However, there are two methods that aren't related to this, and they can be annoying for modders who want to integrate with Sponge:
* `Optional<I> with(Key<? extends BaseValue<?>> key, Object value, I immutable);`
* `Optional<M> fill(DataContainer container, M m);`

Could they be moved to th

[2015-11-22 22:59] gabizou commented on #279
Is used [here](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/data/manipulator/immutable/common/AbstractImmutableData.java#L144).

And `fill` is used as a delegate for building data. The only thing people have to do is just return `Optional.empty()` since they can safely ignore them. This isn't hard to do and this is why multi-processor handling do

[2015-11-22 22:59] #279 closed

[2015-11-22 23:01] JBYoshi commented on #279
Thanks for clarifying.

[2015-11-23 01:46] simon816 commented on #49
@zml2008 Update?

[2015-11-23 02:21] simon816 commented on #149
From testing the value is always `-0.0784000015258789` at rest.

I have done some investigation and found out how this value came to be.

This snippet is in `EntityLivingBase.moveEntityWithHeading`, towards the end of the method

[code]
`motionY` is `0` , then it subtracts `0.08` and multiplies by `0.98`
`-0.08 * 0.9800000190734863 = -0.0784000015258789`

`moveEntityWithHeading` gets called as par

[2015-11-23 02:26] simon816 commented on #212
Related: #49

[2015-11-23 02:28] simon816 commented on #219
@gabizou completed now?

[2015-11-23 02:32] simon816 commented on #247
Sounds like the return of https://github.com/SpongePowered/SpongeForge/issues/260

[2015-11-23 02:42] simon816 commented on #150
@gabizou / @Zidane Is there confirmation for the following changes to be added to `ItemStack.Builder`?

[code]

[2015-11-23 02:54] gabizou commented on #219
@simon816 no. I'll close it when I'm done going through it.

[2015-11-23 03:03] gravityfox opened #280 "Add option for Sponge Event Logging to be stored in separate file."
Sponge config has a section to allow logging of certain events. However these events have a tendency to clutter the console output and resultant log file. I think it would be best to add a config option to dump all this console log info into a separate file (and not in the console).

[2015-11-23 03:54] gravityfox opened #281 "Disable Hikari Debug Logging."
I'm finding it increasingly frustrating for my log file to be filled with statements like:

`[19:51:52] [Hikari housekeeper (pool HikariPool-0)/DEBUG] [com.zaxxer.hikari.pool.HikariPool]: Before cleanup	pool HikariPool-0 stats (total=25, active=0, idle=25, waiting=0)
[19:51:52] [Hikari housekeeper (pool HikariPool-0)/DEBUG] [com.zaxxer.hikari.pool.HikariPool]: After cleanup	pool HikariPool-0 stats

[2015-11-23 07:52] ST-DDT commented on #280
IMO this can and should be configured in the Log4J2.xml config.

[2015-11-23 07:56] ST-DDT commented on #281
IMO this can and should be configured using Log4J2.xml config. However I agree that it should be disabled by default or at least a sicriplet with the necessary changes in the config should be exposed somewhere.

[2015-11-23 08:40] gabizou opened #282 "DamageEntityEvent Checklist"
- [x] Throw DamageEntityEvents for all damage calls
- [x] Write Armor modification function implementation for both forge and vanilla
- [x] Associated DamageSources with "associated" objects in a `Cause`
 - [ ] Associated weapons for "Attack" causes
 - [x] Associated Entity owners with `EntityDamageSource`s
 - [x] Test with Thaumcraft
- [ ] Write Attack modifiers
- [x] Test Absorption modifier and

[2015-11-23 16:09] Zidane commented on #149
@nickrobson

Maybe not Bukkit but Vanilla has this issue as @simon816 points out above :P.

@simon816

Changing this in Vanilla isn't happening so I guess we can report this as "0".

[2015-11-23 22:45] Minecrell commented on #281
We don't really have control about the log4j configuration from SpongeForge (only using a lot of hacks). The design of the logging framework Minecraft is using makes it difficult to change certain options like this at runtime (e.g. by a config option) so the recommended way (right now) to fix this issue is to take the Forge log4j2 config and customize it for your needs.

[2015-11-23 22:54] gravityfox commented on #281
Would it be possible to import a log4j file externally in spongeforge?

[2015-11-23 23:49] #149 closed

[2015-11-24 05:51] Minecrell commented on #281
You can use the `log4j.configurationFile` system property when starting the server, e.g. `-Dlog4j.configurationFile=mycustomconfig.xml’

[2015-11-24 06:17] bloodmc commented on #247
@ryantheleach Mojang does not send the server a packet when players left click air. The only way to determine this is to raytrace after receiving an animation packet which wouldn't always be accurate. InteractBlockEvent on right-click air showing location of 0,0,0 is a seperate issue. Open another issue for it.

[2015-11-24 06:17] #247 closed

[2015-11-24 07:32] Faithcaio commented on #281
I do this in my plugin to prevent hikari spam:
[code]

[2015-11-24 23:53] CrystalMageX opened #285 "SpongeCommon won't compile"
"./gradlew" doesn't work.

[log.txt](https://github.com/SpongePowered/SpongeCommon/files/43333/log.txt)

[2015-11-25 00:38] Mumfrey commented on #285
Please follow the instructions in the readme

[2015-11-25 00:38] #285 closed

[2015-11-25 01:01] CrystalMageX commented on #285
Whoops. It seems that I forgot to do "setupDecompWorkspace" Sorry for that.

[2015-11-25 23:13] clienthax opened #286 "PaginationService improvement"
instead of selectively removing the arrows on the first / last page,
keep the arrows there, but gray them out so the bottom line is constant across all pages

[2015-11-25 23:30] #286 closed

[2015-11-26 03:19] kenzierocks opened #288 "NbtTranslator has bad logic or formatting."
[This line](https://github.com/SpongePowered/SpongeCommon/blob/11a77b370af6119cb660fcb4bc7a21b84f9d8654/src/main/java/org/spongepowered/common/service/persistence/NbtTranslator.java#L88) should be `else if` or formatted properly if it should be an `if`.

[2015-11-26 11:43] ryantheleach commented on #149
I get wanting to correct this, but this only fixes it for the rest state right? so wouldn't anything not at rest still be incorrect? or is it only because it's always colliding that the velocity is incorrect?

This seems like a nextVelocity value more then a velocity value.

[2015-11-26 20:31] Zidane commented on #149
@ryantheleach Data always gives you the now so this is the velocity  now.

[2015-11-26 20:36] Deamon5550 commented on #149
Non-rest states would be correct as the velocity does accurately represent the change in position. It is only once at rest that the velocity is not displaying as what it should be at rest (0, 0, 0).

Someone should double check that walking into a wall does not show a velocity into the wall though as this would not surprise me...(and our lives will get a lot more complicated if this is the case)

[2015-11-26 21:55] JBYoshi commented on #149
@Deamon5550 I tested it, and here are my results:

* When the player moves on the ground, the X and Z velocities remain at 0, even when moving upwards via slabs/stairs.
* When the player jumps or falls, the velocity works properly (X, Y, and Z).
* When the player climbs a ladder, the Y velocity behaves as if the player was jumping (immediately jumps to a positive value, then decreases to -0.2254).

[2015-11-26 22:18] CrystalMageX commented on #288
Definitely ```else if```, since it can't be a ```Boolean``` if it's an ```DataView```

[2015-11-27 01:18] #288 closed

[2015-11-27 07:50] gravityfox commented on #281
Not working for me. Compile Errors. Can you explain how you're using that?

[2015-11-27 08:16] gravityfox opened #291 "UserStorage Service not available during GameState#INITIALIZATION"
It throws this error if I try and use it.
<http://pastebin.com/F7CLiiyc>
This feels like a bug, but I'm not sure.

[2015-11-27 08:20] gravityfox opened #292 "There isn't a way to obtain the root world directory until worlds load."
Calling Game#getSavesDirectory() just returns the root directory of the server.

It would be nice to have a method that gives me the root world directory before the world loads, so that I can actually do some meaningful loading of data that has to happen before the worlds load.

The way I have been doing it is to wait for all the worlds to load first, and then get the name of the default world and

[2015-11-27 08:34] gabizou commented on #291
Most services aren't completely finished loading by init. To be honest, the services should only really be considered ready for use by post init or load complete. Might be worth a few tests with the different phases and probably share your findings.

[2015-11-27 08:39] gravityfox commented on #291
UserStorage feels a little strange being a service, considering that it's one of those things you might use for loading.

[2015-11-27 08:52] gabizou commented on #291
@gravityfox It's likely going to no longer remain as a "service" from the same standpoint as other services, much like `SerializationManager` and such.

[2015-11-27 13:03] kashike commented on #281
You need to reference log4j2 classes there, not slf4j/jul.

[2015-11-27 14:55] gravityfox commented on #292
Also it appears impossible to actually obtain the root world directory if someone makes a new world on the client in single player, Since the world save name is different than the dimension name.

[2015-11-27 17:29] Zidane commented on #292
I'll look into this @gravityfox .

[2015-11-28 00:12] bloodmc commented on #292
@gravityfox That is the whole point of ConstructWorldEvent which happens before a world loads.
Calling getSavesDirectory will be available after overworld loads which is always the first world to load.
You can also use https://github.com/SpongePowered/SpongeAPI/blob/master/src/main/java/org/spongepowered/api/Server.java#L130
to construct the root directory easily.

[2015-11-28 00:35] gravityfox commented on #292
I understood that bit, and that is how I am currently getting the world directory. However I have data that needs to be loaded before the first world is even constructed, and I want to be able to store that data into the root world folder. The root folder should be just loaded from properties.

[2015-11-28 01:13] bloodmc commented on #292
I don't understand how this is an issue with the ConstructWorldEvent. Please post the code you are trying to get working.

[2015-11-28 01:17] gravityfox commented on #292
My code isn't consolidated into one place unfortunately.

I can try moving some code toward the end of world loading and use world construction to load the initial data, but that just seems disorderly.

Also, does getSavesDirectory() return different things pre and post loading of the overworld?

[2015-11-28 02:32] JBYoshi commented on #292
@gravityfox At what point are you trying to get the per-world data?

[2015-11-28 07:15] gravityfox commented on #292
So I have data pertaining to the world save in general, and then i have data that is specific to each dimension. I need the general data to load BEFORE the world specific data, and I would like to load the general data before any of the world dimensions actually start loading.

[2015-11-28 07:25] bloodmc commented on #292
You need to provide EXACTLY what you are trying to do. Stating "general data" doesn't help one bit.

[2015-11-28 07:45] gravityfox commented on #292
I am trying to load a database file that resides in the root world directory. Then i need to load a database file for every dimension. The database files for the dimensions need to be loaded after the database in the root world directory, or else they data that they reference won't be available, and loading out of order causes issues. I also need to support single player mode, where getting the sa

[2015-11-28 08:30] ST-DDT commented on #292
And why exactly must it be loaded before the worlds are constructed?

PS: The javadocs on ConstructWorldEvent and LoadWorldEvent should be improved to state when they are called.

Example, may be wrong:
Construct before anything is created only the WorldSettings have been read..
Load is called (shortly) after ConstructEv3nt after the world has been instantiated and all settings are loaded but befo

[2015-11-28 08:34] gravityfox commented on #292
The loading process for each dimension refers to a global set of data that should still be unique to the worlds in general. It doesn't feel appropriate the load the global data during a ConstructWorldEvent because that data isn't tied to any particular world.

[2015-11-28 08:45] bloodmc commented on #292
OK, I'll fix getSavesDirectory tomorrow.

[2015-11-28 08:50] ST-DDT commented on #292
You could also listen to GameStateEvents.
[GameState](https://github.com/SpongePowered/SpongeAPI/blob/master/src/main/java/org/spongepowered/api/GameState.java)
Especially the game INITIALIZATION step and SERVER_ABOUT_TO_START step may be the events you could use instead.

[2015-11-28 08:52] gravityfox commented on #292
That's what I want to do. However with the current API and implementation, you can't get the root world directory until the overworld has been constructed.

INITIALIZATION and SERVER_ABOUT_TO_START happen before that.

This is literally why I made this issue in the first place.

[2015-11-28 08:54] ST-DDT commented on #292
if the global data are not bound to a world they should not be stored in one.

[2015-11-28 09:07] gravityfox commented on #292
But that data IS important to the WORLDS as a WHOLE.
It just isn't bound to any singular world.

[2015-11-28 09:12] ST-DDT commented on #292
if you want to package your worlds as a single folder and make it available for download to play your Game/RPG then at least IMO they are world dependend. And than you should use the ConstructWorldEvent. You can even use that check to validate that the worlds are loaded in the correct order. As an alternative you could load the global database with the first world that needs it. Just check the par

[2015-11-28 09:14] gravityfox commented on #292
And then you have to check for default worlds and check if it's single player or multiplayer.

Now I get this messy code that I started with where things load out of order and check global variables for load status.

The problem isn't that it doesn't work. It's that it doesn't work in the most logically reasonable manner.

[2015-11-28 09:19] ST-DDT commented on #292
Why the check for SP or MP?
You will always need complex code to avoid odering/initialization issues.
Imagine somebody uses your special worlds with a MultiWorld plugin. Then the precious global world data won't be in the default world anymore...

[2015-11-28 09:22] gravityfox commented on #292
The consensus of Sponge was to keep the default minecraft world directory structure.

If a plugin decides to mess with that, I will expect it to also redirect a method like
getDefaultWorldDirectory() to a new, meaningful location.

[2015-11-28 09:40] ST-DDT commented on #292
The MultiWorld plugin does not alter the server behaviour at all.
It just loads a different default world and your world as an extesion world.

You either habe to introduce structural limitations or deal with every possible case in case..

Are you using the default hierachical world setup or a flat world setup?
In one case placing the global world data in the default world is enough and you can ea

[2015-11-28 09:41] gravityfox commented on #292
That is lazy resource loading. Something I SPECIFICALLY want to avoid.

[2015-11-28 11:16] ryantheleach commented on #291
I thought the original thinking behind having UserStorage as a service, was so you could swap it out for a plugin that provides a MySQL UserStorage implementation for example?

[2015-11-28 16:37] simon816 commented on #291
Remember that user storage gets its data from the world playerdata files, so that means the worlds would have to be loaded in order to know where to look. I think `SERVER_ABOUT_TO_START` or `SERVER_STARTING` would be the earliest time this data is available

[2015-11-28 16:40] simon816 commented on #292
Remember that the API doesn't define any particular method of world storage so generally speaking making assumptions on the structure of the implementation is a bad idea. I think at some point it could have been possible for world data to be stored in a mysql database and have no flatfile storage at all. Don't think the API allows this freedom anymore since `getSavesDirectory` was added

[2015-11-29 03:01] JBYoshi opened #294 "Implement Entity.damage()"
See https://forums.spongepowered.org/t/damaging-mobs/10044.

[2015-11-29 21:59] Zerthick opened #295 "Inconsistencies with DropItemEvent.Destruct Causes"
Hello All!  I've be messing around with detecting the Cause of a [DropItemEvent.Destruct](https://jd.spongepowered.org/org/spongepowered/api/event/item/inventory/DropItemEvent.Destruct.html) event and noticed a few inconsistencies.  The following are a few captures I've made:

Killing a chicken with a sword:
```Cause[{Name=unknown1org.spongepowered.common.entity.SpongeEntitySnapshot, Object={Spong

[2015-11-29 23:35] Zerthick commented on #295
I've also discovered that when a piston breaks a block that can't be moved, like crops, the DropItemEvent.Destruct is not fired, however the more generic DropItemEvent is fired, is this the intended behavior?

[2015-11-30 00:12] gabizou commented on #8
Updated the checklist as of now.

[2015-11-30 21:30] gabizou opened #298 "Perform proper null checks at Data implementation entry points"
Currently, there's a few null checks lacking in various places of the Data API implementation.

[2015-12-01 18:02] Deamon5550 commented on #107
I think that there probably isn't a way that we can better represent these values, other than changing their names at least because min and max height is completely wrong.

[2015-12-01 19:01] #295 closed

[2015-12-01 19:06] bloodmc commented on #295
@Zerthick please confirm this issue is resolved with latest build.

[2015-12-01 21:13] hsyyid opened #299 "WeatherEffects Stopped Spawning [Again...]"
Using this code: http://pastebin.com/Z9Egjcdh

It appears that recently a change was made to SpongeCommon that resulted in WeatherEffects no longer working. The entity is spawned, however the corresponding weather effect is not being spawned. I am not sure if this issue is a mistake of my own, or an actual bug in SpongeCommon, so I figured I'd post an issue to find out. :smile:

[2015-12-01 22:42] Deamon5550 commented on #299
[The code is still there](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/mixin/core/world/MixinWorld.java#L681). So I'm not sure what could be causing this.

[2015-12-01 22:45] hsyyid commented on #299
@Deamon5550 Yeah, @kashike mentioned this - for some reason several of my users, as well as myself have noticed this issue as of late.

[2015-12-02 00:15] Zerthick commented on #295
@bloodmc I can't of course confirm that it's working on the latest dev build, since one incorporating your changes doesn't exist yet, but running tests of a fresh build of master on my machine seems to have resolved the problem.  I like how you encapsulated the object doing the damage inside of either a DamageSource or IndirectDamageSource!  It will make filtering these events based on damage sour

[2015-12-02 01:08] ZephireNZ commented on #8
I'm taking MobSpawnerData

[2015-12-02 01:27] Zerthick opened #301 "SpawnEntityEvent does not fire when ExperienceOrbs Spawn"
Hello all, I've been fiddling with detecting when [ExperienceOrb](https://jd.spongepowered.org/org/spongepowered/api/entity/ExperienceOrb.html)s spawn and I've discovered that [SpawnEntityEvent](https://jd.spongepowered.org/org/spongepowered/api/event/entity/SpawnEntityEvent.html) does not fire when ExperienceOrbs spawn. Some sample code for my listener
[code]
This does not fire at all, I have tes

[2015-12-02 02:11] gabizou commented on #8
@ZephireNZ you'll have to wait for @Deamon's world gen PR

[2015-12-02 02:13] ZephireNZ commented on #8
Can do, which part of his PR am I needing?

[2015-12-02 03:25] Deamon5550 commented on #8
@ZephireNZ The WeightedTable and related value changes in api and common.

[2015-12-02 15:06] bloodmc commented on #301
[10:03:17] [Server thread/INFO] [STDOUT]: [org.spongepowered.mod.plugin.SpongeWorldTest:onEntitySpawn:668]: SPAWNED ENTITY EntityXPOrb['Experience Orb'/1112, l='ChunkTest1', x=-395.55, y=65.00, z=150.45]

Definitely does work. Why are you checking for the class? I pass the actual Entity object, not the class. Just do the following check

[code]

[2015-12-02 15:06] #301 closed

[2015-12-03 15:30] ryantheleach opened #303 "Should scheduled updates fire tick events?"
I'm not 100% sure, but are Scheduled Updates considered block ticking?

If so can they please fire BlockTickEvent? If not, is there a similar event that could be created that makes sense?

https://gist.github.com/ryantheleach/95274ea2e642a294d512

From IRC

[code]

[2015-12-04 07:34] ryantheleach commented on #49
/particle heart ~ ~ ~ 1 2 3 4 5<tab> results in no tab completion on vanilla minecraft.
/particle heart ~ ~ ~ 1 2 3 4 5 <tab> results in the tab completion of force/normal on vanilla minecraft.

/particle heart ~ ~ ~ 1 2 3 4 5 <tab> incorrectly results in no tab completion on SpongeForge.
and /particle heart ~ ~ ~ 1 2 3 4 5<tab> correctly results in no tab completion on SpongeForge

/particle hear

[2015-12-04 15:31] theboomer opened #305 "Falling Block entities disappear immediately"
Falling block entities work fine if an entity is spawned at the location of a solid block of that type to convert the solid block to falling block.  But a falling block spawned in an air or water (or any unmatching default block-state block)  flickers into existance and disappears immediately.

Is this intentional?  Do we need to first convert a location into a particular block state, and THEN spa

[2015-12-04 17:13] kenzierocks commented on #305
You can set the time to 1. There's a Key for that.

[2015-12-04 17:48] theboomer commented on #305
Ahhah yes, thank you that was the missing piece.  Its not really an obvious counter-paired setting to set though :) Is that a workaround that happens to work, or is that the way it is intended to be?

[2015-12-04 17:58] kenzierocks commented on #305
It is the way the entity is written, but it should probably be changes in Sponge so keep this open.

[2015-12-04 18:27] kashike opened #307 "Timings should use the plugin id"
Currently, timings are currently using the plugin name in many places ([here](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/co/aikar/timings/SpongeTimingsFactory.java#L91), [here](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/co/aikar/timings/SpongeTimingsFactory.java#L93), [here](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main

[2015-12-04 19:52] sanman00 commented on #8
I'm working on `AggressiveData`.

[2015-12-04 21:14] JBYoshi commented on #49
@ryantheleach Which of those example commands have spaces at the end, and which don't?

[2015-12-05 04:52] ryantheleach commented on #49
Github stripped my \< \>

[2015-12-06 05:35] theboomer opened #309 "Request for human entity skin implimentation"
for entity.offer(Keys.SKIN, validUUIDobject)  to assign a skin to the spawned human player mob

[2015-12-06 15:04] theboomer opened #311 "Request for weather-changed event implimentation"
Please implement  ChangeWorldWeatherEvent

[2015-12-07 18:56] simon816 commented on #299
Tested and it seems `processingCaptureCause` is true when I attempted to spawn a lightning bolt (from a command) which means [that code is never executed](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/mixin/core/world/MixinWorld.java#L582)

[2015-12-07 19:12] #299 closed

[2015-12-07 19:13] simon816 commented on #299
@bloodmc If this is the wrong _actual_ fix (i.e. `processingCaptureCause` should not be `true` when spawning weather) then please fix properly when you can

[2015-12-07 20:53] simon816 opened #313 "Explosion caused by a ghast's fireball doesn't have a useful Cause"
(Originally reported https://github.com/SpongePowered/SpongeAPI/issues/935 and https://forums.spongepowered.org/t/solved-explosion-types/10028)

The event `ExplosionEvent` is fired when a fireball explodes that was shot by a Ghast.
However, the event's cause does not have any useful information in it.
Every time the event is fired the cause is just simply:
[code]

[2015-12-07 22:30] #309 closed

[2015-12-08 04:26] gabizou commented on #305
What key are you guys talking about?

[2015-12-08 04:36] Zidane commented on #305
Closed in https://github.com/SpongePowered/SpongeCommon/commit/1e08be13731af519e40899ce72f430826da19f0e

[2015-12-08 04:36] #305 closed

[2015-12-08 04:43] Zidane commented on #307
@kashike

Either @simon816 or myself will fix this up.

[2015-12-08 04:44] #294 closed

[2015-12-08 15:08] ryantheleach opened #316 "Directions incorrect on debug screen."
SpongeForge spongeforge-1.8-1577-2.1-DEV-884
![image](https://cloud.githubusercontent.com/assets/141554/11658897/508e156c-9e15-11e5-88df-918bb636bc83.png)

Vanilla 1.8.8
![image](https://cloud.githubusercontent.com/assets/141554/11658924/73cfb47c-9e15-11e5-8853-1e76c32581bf.png)

[2015-12-08 16:10] #316 closed

[2015-12-08 16:10] gabizou commented on #316
For future reference, only SpongeForge can be on the client (so issues like this should be made in SpongeForge).

[2015-12-08 16:16] ryantheleach commented on #316
I thought it may have been implying a deeper issue, rather then just the debug screen as I was struggling with directions again, but it was my own code fail instead.

[2015-12-08 22:27] theboomer opened #318 "Display name for human entity not hidden"
Skins work on human mobs just great now, thanks!
But the ShowsDisplayName has no effect regardless of being set true or false, yet its offer result is a success in either case. Is this the wrong key to be using to hide the name overhead, and applies to somethinge else?  Is hiding the name possible?  (Setting to "" will still show  highlight space overhead, which is an okay compromise i guess)

[co

[2015-12-08 22:55] ryantheleach commented on #8
Keen to see AgeableData implemented soon, if someone tackles it, could they also consider keys for BABY / ADULT?

[2015-12-09 03:51] JBYoshi commented on #318
Looks like whoever wrote the `EntityHuman` class was aware of this, but it notes a potential workaround.
https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/entity/living/human/EntityHuman.java#L69
[code]

[2015-12-09 11:45] Aaron1011 commented on #318
@theboomer @JBYoshi: The reason for this is that, as far as the client is concerned, Humans are actual Players. The only way to hide a player's display name is to set the nametag `Visibility` on a team, such that their nametag is only displayed to certain players.

It's an imperfect solution, but the only one that's possible in Vanilla. Making `Keys.SHOWS_DISPLAY_NAME` work for humans would requir

[2015-12-09 13:05] gabizou commented on #313
The issue stems from `EntityLargeFireball` not including any `Entity` object as the source. I'm not 100% sure that changing that is a wise idea.

[2015-12-09 13:40] #313 closed

[2015-12-09 13:41] gabizou commented on #313
Just leaving as assurance of it being fixed, the output of the Cause now for this specific case is:
[code]

[2015-12-09 16:22] Azatik opened #319 "Message in console: "Fetching addPacket for removed entity"."
Message in console: "Fetching addPacket for removed entity". What does it mean?

Code:
[code]

Screen:
![image](https://cloud.githubusercontent.com/assets/10154956/11690920/a3d946a6-9eba-11e5-9975-3ebbb61a2f21.png)

Second question: What happens to the message LostConnection?

[2015-12-09 16:44] kashike commented on #319
This is a vanilla warning, caused by the entity tracker entry calling `addPacket` when the tracked entity is dead.

[2015-12-09 17:02] theboomer commented on #318
okay, manipulating the system to get an hidden display is fine.  Basically, Keys.SHOWS_DISPLAY_NAME doesn't apply to humans, its the wrong key / not work by design.

So the process would be to create a team that no player belongs to and add the human mob to it, set nametag visibility for team....    shows-display-name not part of the equation after that still?

[2015-12-09 18:14] sanman00 commented on #8
I'm working on `SplashPotionData`.

[2015-12-09 19:52] Aaron1011 commented on #318
@theboomer: You would need to set the visibility for the team that actual players are on. For example, you could set it to NONE

[2015-12-09 19:52] #318 closed

[2015-12-09 19:54] Deamon5550 commented on #318
We should change the it to not return success when offering to the entity if we're not going to support it.

[2015-12-09 22:29] JBYoshi commented on #319
The "lost connection" message means the client left the server without notifying the server that it was about to leave. If you intentionally left the server, you can ignore this.

[2015-12-09 22:55] kashike commented on #319
To add onto what @JBYoshi stated: If you're asking why the message is formatted like that, the answer is: that's the way it is in Vanilla.

[2015-12-10 03:31] simon816 commented on #319
You're calling `entity.remove()` which will remove the entity from the world. If you're wanting to remove it from the items in the drop event then use `event.filterEntities(Predicate)`

[2015-12-10 03:36] simon816 commented on #318
The open question I left on EntityHuman was to suggest that Humans could be of a special team (internal sponge team - not accessible from API) in order to achieve the hiding name tag effect.
Would this be up for consideration or shall we just say you can't?

[2015-12-10 04:07] Aaron1011 commented on #318
@simon816: That won't work. Remember that a player can only be on one team, and it's the team of actual players (not humans) that really matters. There's no way to accomplish this automatically without messing with a player's scoreboard team behind the scenes, which we should not do.

[2015-12-10 04:56] Azatik commented on #319
@simon816 I need to remove them from the world.

[2015-12-10 05:33] gabizou commented on #318
Yeah, to be honest, the issue is that data is simply saying it "supports" it, when it should not. The likelihood is that `DisplayNameData` is going to be split up so that it's properly handled (this is actually handled nicely because `ItemStack`s too can't be made to be "hidden".

[2015-12-10 05:37] gabizou commented on #319
I think the issue is that `filter(Predicate)` doesn't actually mutate the list in the event, which makes sense in this case because the entities can't otherwise be removed (or we add a setter for the entities).

[2015-12-10 06:25] kashike opened #320 "Dimensions stored by class name could lead to issues"
When writing to the compound tag of `level_sponge.dat`, `WorldInfo` stores: `dimensionType:"net.minecraft.world.WorldProviderSurface"` (as well as the respective class name for `WorldProviderEnd` and `WorldProviderHell`).
If the package or class name changes for the providers, things go boom - this is more likely to happen with mod-based providers, but there's always the chance that an MCP class n

[2015-12-10 16:54] gabizou commented on #320
The likelihood of the vanilla classes changing are slim. Sadly, there's no real "identifier" we can enforce on dimension types since this is our API we're providing, and mods likely won't provide a string identifier anytime soon (short of their class name).

[2015-12-10 21:57] Zerthick opened #321 "[Request] Enhance causes for Experince_Orb SpawnEntityEvent"
Hello all, I've been investigating disabling exp spawning from particular sources and have noticed that currently there is no way to distinguish between several exp spawn cases.  See some example captures I've made below, while listening to the [SpawnEntityEvent](https://jd.spongepowered.org/org/spongepowered/api/event/entity/SpawnEntityEvent.html):

[code]
Notice that the cause between killing a

[2015-12-11 04:06] kashike commented on #307
@Zidane If possible, it might be good to change [this](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/co/aikar/timings/SpongeTimingsFactory.java#L62) to be of `debug` type.

[2015-12-12 18:48] simon816 commented on #320
Aren't world providers registered in the `DimensionManager`?

[2015-12-12 23:22] gabizou opened #324 "MixinExplosion does not work on breaking blocks"
Currently, MixinExplosion will return whether the explosion `isSmoking` when calling `shouldBreakBlocks()`. The boolean should be added and the explosion should actually be injected to override the blocks as long as the boolean is `true`.

[2015-12-13 01:59] MikaalSky opened #325 "DyeColor died"
Idk what the problem is, but here's a crash log.
Something about the mixin.
https://gist.github.com/anonymous/b157d629d68fffa7f738

[2015-12-13 02:03] MikaalSky commented on #325
Might be my plugin, hold on.

[2015-12-13 02:03] gabizou commented on #325
Update your API, this was changed a couple of weeks ago.

[2015-12-13 02:03] #325 closed

[2015-12-13 03:47] JBYoshi commented on #320
Yeah... there's `dimensionProviderType` (see `DimensionManager.getProviderType()`).

[2015-12-14 05:42] #320 closed

[2015-12-14 16:20] Cybermaxke opened #326 ""Ocelot" alias for the entity types in addition to the "Ozelot" id."
Add a alias that allows the ocelot entity type to be retreived by using "ocelot" instead of "ozelot".

[2015-12-14 16:25] gravityfox opened #327 "Cancelling block interact secondary does not prevent bucket use."
Exactly as it says on the tin.

If you cancel InteractBlockEvent.Secondary when someone tries to use a bucket, it will not prevent them from interacting with fluids. Water still places as normal.

It shouldn't do that.

[2015-12-14 16:48] ST-DDT commented on #326
Well you could just use the `item` instead of `minecraft:item` to get the type.
Or do I miss the point here?

IMO it should return the correct values for both.
Thats why I had the following hint in my Improve CatalogType PR.
`"The GameRegistry [..] return values for well known aliases"`

[2015-12-14 17:07] Cybermaxke commented on #326
inside the getById() method is the "item" string to converted to "minecraft:item", but the mappings map only contains "item" as the key.

[2015-12-14 20:52] Zidane commented on #327
Fairly sure @bloodmc told me this needs to be cancelled in UseItemStackEvent. He can say better.

Remember that InteractBlock.Secondary is when a BLOCK is receiving a right click and you want to cancel that. It isn't when an ItemStack received a right click and you want to cancel that action.

[2015-12-15 00:52] #327 closed

[2015-12-15 02:22] JBYoshi commented on #8
I'll write `CloneableData` and upload a *copy* of it. (Pun intended.)

[2015-12-15 06:03] gabizou commented on #8
@JBYoshi, it's now GenerationData

[2015-12-15 11:35] Cybermaxke commented on #326
@ST-DDT Nvm, the problem is that you need to use "ozelot" to get the "ocelot" type and that makes it a bit confusing, so the alias system would be nice for this purpose.

[2015-12-15 12:27] JBYoshi commented on #8
Okay, thanks.

[2015-12-15 22:11] simon816 commented on #326
This shouldn't be a problem because of this code: https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/registry/type/EntityTypeRegistryModule.java#L191-L194

For me, `System.out.println(Sponge.getRegistry().getType(EntityType.class, "item"));`
prints: `Optional[SpongeEntityType{id=1, name=item, modid=minecraft, class=net.minecraft.entity.item.EntityItem}

[2015-12-15 22:57] #326 closed

[2015-12-15 23:40] JBYoshi commented on #23
- [ ] Remove unused `SpongeKey` class. `KeyRegistry` uses `KeyFactory` methods instead.

[2015-12-15 23:48] JBYoshi opened #329 "Change the Sponge DataManipulators to extend the API abstract classes."
With SpongePowered/SpongeAPI#940, the abstract superclasses used in SpongeCommon for the `DataManipulator`s (such as `AbstractIntData`) were moved to SpongeCommon. However, the old classes still remain in the implementation, and many manipulators still use them. Would it be possible to delete the abstract superclasses from SpongeCommon and change the manipulators to use the API versions of those c

[2015-12-15 23:51] ZephireNZ commented on #329
One of the major roadblocks we have is that many of the Abstract classes provide caching functionality which the API implementations do not. The is mainly the boolean, enum and catalog typed values, as far as I'm aware.

[2015-12-16 00:55] gabizou commented on #329
No. There's a reason why I didn't change their implementations. The API classes don't use any of the reflection utils or caching utils.

[2015-12-16 00:55] #329 closed

[2015-12-16 01:05] Darktilldawn opened #330 "Features and Requests"
Player logging and tracking. Instead of having it log all the tracking through the console, add a log and folder for separate worlds to track and log everything that happens. The reason for the individual tracking logs is for plugin logability. So you can make a plugin that uses the actual sponge tracking logs for it's in game interface and Inspector tools and logging and tracing in game.

Folders

[2015-12-16 01:32] me4502 commented on #330
I don't believe sponge currently outputs all of that to the console?

[2015-12-16 01:33] Darktilldawn commented on #330
It does, Talked to blood about it today. When you enable the logging features in the sponge config, it would log to your console everything I've posted up there.

[2015-12-16 01:38] wizjany commented on #330
there's a big difference between outputting things to console for debugging and storing logs of everything that happens. storing all the info, both in disk and in memory, would be a performance nightmare. there's a reason that every logging plugin uses databases to store and retrieve records on a per-need basis.

[2015-12-16 01:39] Darktilldawn commented on #330
Can't they make a database for all the logging then? Plugins are able to do with minimum performance or disk space.

[2015-12-16 01:40] zml2008 commented on #330
I see no reason for this to be built into Sponge. It makes more sense for this to be available as a plugin.

[2015-12-16 01:41] Darktilldawn commented on #330
It seems pretty useless to have a console logging system for it if it's not going to log it to a readable file though?

[2015-12-16 01:52] wizjany commented on #330
it's not a console logging system. it's a debugging system.

[2015-12-16 11:17] #107 closed

[2015-12-16 13:47] Azatik opened #331 "Bug "Get ImmutableSignData from ChangeBlockEvent.Break""
Bug "Get ImmutableSignData from ChangeBlockEvent.Break".

Code:
[code]

Error:
[code]

Note: Tried different variants. Result - this error.
Error because of the line: `ImmutableSignData data = trans.getOriginal().getOrCreate(ImmutableSignData.class).get();`
Forum topic: https://forums.spongepowered.org/t/how-to-get-target-tileentity-from-changeblockevent-break/10252

[2015-12-16 17:57] Aaron1011 commented on #331
@Azatik: I don't believe you can directly get the immutable version of a `DataManipulator` from a `DataHolder` (unless the holder is an `ImmutableDataHolder`, such as `BlockState`.

In your case, you'd want to use `trans.getOriginal().getOrCreate(SignData.class).get().asImmutable()`

[2015-12-16 18:14] Azatik commented on #331
I wrote this code:
![image](https://cloud.githubusercontent.com/assets/10154956/11849643/ac7623d4-a44a-11e5-8a9d-92207305aeee.png)

[2015-12-16 18:22] gabizou commented on #331
The problem is that an `ImmutableDataHolder`, in this case, a `BlockSnapshot` isn't able to magically define what it can and can't create. If a Sign did have sign data to begin with, it would be included in the `BlockSnapshot` already (though if it isn't then that's a bug and I know where to look).

[2015-12-16 18:30] Aaron1011 commented on #331
Since this is a sign, you'd need to get the `SignData` from the `Sign` tile entity.

[2015-12-16 18:38] Azatik commented on #331
Code:
[code]
The result is the same.
Error on line:
`TileEntity tileEntity = location.getTileEntity().get();`

[2015-12-16 19:06] Aaron1011 opened #332 "DisplayNameDataProcessor has incorrect behavior for Humans."
`DisplayNameDataProcessor` treats `Human`s like any other entity. However, a `Human` *always* has a display name - even if it's the empty string (or `Text`). While other entities can have a display name fully removed, this is not possible for `Human`s.

[2015-12-16 19:30] Aaron1011 commented on #8
Implementing `remove` properly can sometimes be tricky to get right. When writing it, keep these things in mind:

(Note: there is an [open issue](https://github.com/SpongePowered/SpongeCommon/issues/332) regarding the behavior of `DisplayNameData` with relation to `Human`s. For the purpose

---------

1. Does the data in question always exist (even if it's some 'empty' or 'null' value)? If so, `re

[2015-12-16 19:44] gabizou commented on #8
@saladoc @Tzky probably want to include the above in the contributing docs.

[2015-12-17 13:54] clucky opened #334 "Cancelling ChangeBlockEvent.Modify Does Not Cancel Redstone Output"
In the case of buttons, levers, pressure plates, tripwire and any other block that outputs a redstone signal, cancelling the `ChangeBlockEvent.Modify` event does not cancel the redstone signal that is outputted immediately. There is a very short redstone signal output that is still sent out from the block, which is just long enough for a redstone repeater to detect. I would recommend that you use

[2015-12-18 07:09] kashike opened #336 "Title packets are cached when they shouldn't be"
When sending a [`Title`](https://github.com/SpongePowered/SpongeAPI/blob/master/src/main/java/org/spongepowered/api/text/title/Title.java) to `Player`s, the `subtitle` and `title` packets [are cached](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/mixin/api/text/title/MixinTitle.java#L54) along with the others, causing wrong `Text`s being sent to p

[2015-12-18 07:20] Zidane commented on #336
@kashike

Agreed. If the caching is necessary, it should be a map of Locale, Packet[]....

[2015-12-18 11:39] Minecrell commented on #336
I think that broke together with [the locale changes](https://github.com/SpongePowered/SpongeForge/commit/032f57ac9adb3fc7826cca7ab9190a470268fe4b) @zml2008 made, I'll fix this in the next few days.

[2015-12-18 15:08] bloodmc commented on #334
@clucky Have you tried cancelling the NotifyNeigborBlockEvent? This should happen before the modify and should fix the issue you are having. Just check permissions on all neighbor blocks and if any do not have correct permission, remove it from the list. The filterPredicate method is bugged so dont use that, just remove it directly from the neighbor list passed.

[2015-12-18 21:37] bloodmc commented on #334
@clucky I'm implementing CollideBlockEvent which should be the best way to handle these type of events as the player will be the root cause.

[2015-12-18 21:47] kashike opened #337 "Add .gitignore entry for classes"
IntelliJ IDEA seems to create a `classes` directory when running, but the `.gitignore` for common, forge, and vanilla do not include it.

[2015-12-18 21:49] JBYoshi commented on #337
I've been playing around with IntelliJ, and it doesn't have any `classes` directory in it. If you delete it, is it recreated? If so, what causes it to be recreated?

[2015-12-18 21:57] #337 closed

[2015-12-18 22:50] Aaron1011 opened #338 "'/sponge plugins' fails when a plugin id has spaces."
Clicking on one of the text entries produced by `/sponge plugins` does not work when the ID of the link's plugin contains spaces.

Do we want to allow spaces in plugin ids, or should the command be modified to support them?

[2015-12-18 22:56] gabizou commented on #338
Plugin ID's with spaces are a bad thing since you can't parse over spaces in a command properly.

[2015-12-18 22:57] simon816 commented on #338
Perhaps the argument parser could handle quoted strings?

[2015-12-18 23:29] Zidane commented on #338
Regardless of that @simon816 ...plugin ids shouldn't have spaces. That should prompt a plugin to fail loading lol.

[2015-12-18 23:33] zml2008 commented on #338
On December 18, 2015 3:29:02 PM PST, Chris Sanders <notifications@github.com> wrote:

Anyways we already support both quoted and backslash escaped strings

[2015-12-19 03:38] clucky commented on #334
@bloodmc I have not yet tried the NotifyNeighborBlockEvent. Would this CollideBlockEvent replace the need to do NotifyNeighborBlockEvent for pressure plates, or would that event still be required?

[2015-12-19 03:41] bloodmc commented on #334
@clucky Cancelling CollideBlockEvent will remove the need to worry about NotifyNeigborBlockEvent. I'll be pushing it shortly.

[2015-12-19 04:08] #334 closed

[2015-12-19 04:10] bloodmc commented on #334
@clucky Please confirm cancelling the CollideBlockEvent fixes your issue. Thanks!

[2015-12-19 19:40] sanman00 commented on #8
I'm working on `CommandData`.

[2015-12-20 00:57] kenzierocks opened #339 "Deobf jar not fully usable"
This (is/will be) partially fixed by #289, but the deobf jar is not easy to use at the moment. SpongeCommon must be present in some maven repo, which is not any right now. It also appears to generate a jar with `srg` names instead of `MCP` names, which means it doesn't work as a deobf jar.

@Minecrell.