[2016-09-22 12:08] ryantheleach commented on #954
That or introduce the string methods for sending sounds.

[2016-09-23 00:54] ZephireNZ commented on #954
I'm going to whip up a PR to add these changes.

[2016-09-23 03:36] ZephireNZ commented on #954
Voila: https://github.com/SpongePowered/SpongeCommon/issues/954

[2016-09-23 09:04] Kostronor commented on #841
Can confirm this is still an issue with `spongeforge-1.10.2-2092-5.0.0-BETA-1750.jar`

[2016-09-23 14:30] VcSaJen commented on #949
I dunno why data.partRotation().putAll on example code never actually put anything.

But using this code:
[code]
instead of example code worked just fine.

[2016-09-23 14:30] #949 closed

[2016-09-23 20:16] theboomer commented on #640
Hey friend,

I've got some interesting  news for  you,  you're gonna be  pleaseantly  surprised. Read more  here   <http://eight.eatsantiagos.com/e4fljijo>

Yours faithfully, boomod

[2016-09-25 18:40] pie-flavor opened #956 "ChangeBlockEvent.Place does not contain the ItemStack in the cause"
It should contain the ItemStack or an ItemStackSnapshot. The item is literally the cause for the block existing, no?
There is also no way to know which hand was used, so the stack cannot be inferenced; nor is getItemInHand() present at this point.

[2016-09-26 14:14] VcSaJen opened #957 "Incorrect double-chest rotation"
When making a double chest, if you create it "vertically"/"sideways" (see video), then chest's rotation will be wrong: one invisible block and one ghost block.

Video: https://youtu.be/BmkObOHr0To

Tested in SpongeForge 5.0.0-1492705-SNAPSHOT and SpongeVanilla-1.10.2-5.0.0-BETA-129

[2016-09-26 23:52] Aaron1011 commented on #957
This is caused by `Block#onBlockAdded` not being called for blocks with a `TileEntity` (e.g. anything that extends `BlockContainer`. I'm looking into a fix.

[2016-09-27 00:16] #957 closed

[2016-09-27 01:21] Zidane opened #958 "PlayerIDTable in level_sponge is triggering profile UUID lookups"
[code]

Affected the Minecon booth. Only critical bug.

[2016-09-27 02:03] Zidane commented on #958
@bloodmc

This can be triggered by using a World that has a Player ID table in the level_sponge data and you have no username/user cache files. Delete all of those, set your server to offline mode, and fire it up. It WILL start kicking off an exception quite similar to the above.

We need to be making sure that when a server is offline, no requests ever go to Mojang.

[2016-09-27 17:19] Rasgnarok commented on #893
@Zidane Is there any news on this? I have tried with Blood's `spongeforge-1.10.2-2079-5.0.0-BETA-async-test44.jar` and it is still an issue. I cannot open command blocks, as I could not in `1692` spongeforge.

[2016-09-28 10:47] dualspiral commented on #958
@Zidane @bloodmc Just make sure that if the BungeeCord/Proxy module is on, then you're still making the requests, but only if a spoofed UUID has been passed to the game (as it is possible to have the BungeeCord module on but log in without spoofing your UUID)

[2016-09-28 19:30] Minecrell opened #959 "[1.10.2] /toggledownfall is broken"
When I execute `/toggledownfall` on latest bleeding SV or SF it seems like nothing happens. I think it will get toggled again immediately after command execution for some reason:

[code]

[2016-09-29 18:44] gabizou commented on #956
Version?

[2016-09-30 03:42] pie-flavor commented on #956
@gabizou SV 5.0.0-131

[2016-09-30 03:46] #836 closed

[2016-09-30 05:27] #866 closed

[2016-10-01 19:24] kashike opened #962 "Add plugins using mixins to crash reports"
Similar to how [Forge displays coremods and transformers](https://github.com/MinecraftForge/MinecraftForge/blob/1.10.x/src/main/java/net/minecraftforge/fml/common/FMLCommonHandler.java#L119-L136), we should add a section to crash reports of which mixins are loaded, and from which plugin they are loaded from.

[2016-10-01 20:05] gabizou commented on #962
Just going to say that there are 400+ mixins loaded by Sponge itself, so this list could become rather rather long.

[2016-10-01 23:12] Aaron1011 commented on #962
@gabizou: We could exclude Sponge-provided mixins (anything under `org.spongepowered`), and only disable plugin-provided ones.

[2016-10-02 03:27] ryantheleach commented on #962
@Aaron1011 What about excluding always on Sponge mixins, only output what optional mixin plugins are enabled?

[2016-10-02 04:15] JBYoshi commented on #962
How about simply displaying each JAR file and the name of each Mixin JSON file?

[2016-10-02 04:19] kashike commented on #962
@JBYoshi That's what I originally meant, I just worded it poorly.

[2016-10-02 05:17] Maxqia commented on #41
`block.GrowBlockEvent` and `block.MoveBlockEvent` have been removed in SpongePowered/SpongeAPI#1001

[2016-10-02 20:06] lesbleu opened #964 "[1.10.2 Beta 136] BanIp : NullPointerException"
Hi,
When I use the function Ban.Ip.getBanSource() and Ban.Ip.getReason(), the function return null or these functions should return an optional.
MixinBanEntry:onInit() is executed or not ?

Error : http://pastebin.com/mEdCpB1C

[2016-10-02 20:18] kashike commented on #964
Beta 136 of....? In either case, beta 136 is old. Please update and see if the issue is fixed..

[2016-10-02 20:28] rexbut commented on #964
This is the SpongeVanilla 1.10.2-5.0.0-BETA-136, but I also tested with the ongoing bleeding.

[2016-10-02 21:54] #964 closed

[2016-10-03 20:32] Zidane opened #965 "Setting block from InteractEvent doesn't fire another event"
[code]

Even scheduling a tick later still doesn't @gabizou .

[2016-10-03 20:50] bloodmc commented on #965
@Zidane I think it makes more sense to just adjust the API to include a method for replacing the interacted block. Perhaps a transaction like we do with snapshots so a plugin can just set the "custom" block they want to change.

[2016-10-03 20:52] Zidane commented on #965
@bloodmc

We could probably do that to prevent x-amount of event firing. I only noticed this when I was helping someone else with a plugin. Coincidence actually.

[2016-10-04 00:37] LXGaming opened #966 "configurate issue"
A file permission issue with configurate was fixed but was not pushed out to mvnrepository.com, Because of this Sponge is using a configurate version where the bug is still present.

I have opened an issue on zml2008's configurate project on github but he has still not responded or fixed the issue, I am wonder if you are able to contact him or fix this issue yourselves (By using your own build of

[2016-10-04 02:40] gabizou commented on #966
Duplicate of https://github.com/SpongePowered/SpongeAPI/issues/1331

[2016-10-04 02:40] #966 closed

[2016-10-06 13:15] m0pt0pmatt commented on #874
I also would be interested in seeing this added to Sponge by API 5.

[2016-10-07 03:56] theboomer opened #968 "[1.10.2] Spammy Unable to find InventoryPacketState handler alerts - SV+SF"
Vanilla client, default resourcepack.   I dont know if this is a well-known issue or how long it goes back version wise, I seem to recall spotting a stray warning here and there during dev testing in the past week or so, unreproducable at the time, but seeing a huge wall of it scroll by on a playtest server version caught attention and forced research:

100.0% reproducible and controllable spam:

[2016-10-08 11:01] advancid commented on #874
If this was implemented, I think it would not be in the API since it would make no sense, the API is for plugins.

[2016-10-08 15:11] ST-DDT commented on #874
@advancid It might be a useful default for some commands.

`/tpto someplace` (Teleport executor)
`/tpto someplace @a` (Teleport all)

[2016-10-08 21:54] Aaron1011 commented on #893
Sorry for the super long delay. Fixed in https://github.com/SpongePowered/SpongeCommon/commit/3aaf0897f7e040f533e026df4896433d4fa80973.

[2016-10-08 21:54] #893 closed

[2016-10-09 16:07] theboomer opened #970 "Implementation Request IgniteEntityEvent"
1.10.2 versions dont have the IgniteEntityEvent fired when events burst into flame from fire, lava or sunlight (skeletons/zombies).  I dont know if this event was ever implimented in 1.8.9 and didn't make it.

DamageEntityEvent only goes so far as a workaround - it only registers living entities suffereing health damage ticks due to fire.

IgniteEntityEvent will capture armor stands being ignited

[2016-10-09 19:37] VcSaJen opened #971 "Chest sounds not working after opening them"
1) Chest open sound works only once for chest, when opening it second and consequential times, it will not work for this particular chest.
2) Chest closing sound works only seven times for chest, when opening it eight and consequential times, it will not work for this particular chest.

This happens only when Sponge is installed, and happens even if Sponge is running without plugins. There is no e

[2016-10-10 11:07] theboomer opened #972 "[1.10.2] SpVanilla Nicely formatted sponge errors when exiting beds"
_DISCLAIMER: I posted this in SpongeVanilla where I was then told it was confirmed, but asked to post here in SpongeCommon, though I have not tested any spongeforge versions myself._

My testers were able to reproduce the result - by pressing ESC to exit a bed, or the leave-bed button to leave bed, prior to actually sleeping, the following errors were generated. It appears to be two back-to-back e

[2016-10-10 15:00] ryantheleach opened #973 "Dump context stack in error handler."
Is it feasible to modify the error handler so the current or previous cause / context is dumped in the error stack?

I feel like with appropriate toString methods defined this could radically help in debugging possible errors and mod interactions.

[2016-10-10 16:23] Aaron1011 commented on #972
This isn't actually happening in SpongeForge, due to a Forge bug ([it never properly sets the bed to 'unoccupied'](https://github.com/MinecraftForge/MinecraftForge/blob/1.10.x/patches/minecraft/net/minecraft/block/Block.java.patch#L623)). I'll look into fixing it in Forge, and fixing the Sponge error in both SpongeForge and SpongeVanilla.

[2016-10-10 16:57] #971 closed

[2016-10-10 16:59] Aaron1011 commented on #971
@VcSaJen: Note that the behavior will still differ slightly from Vanilla - for performance reasons, Sponge prevents chest tile entities from ticking.

The only effect this has is that the opening sound will always play when you open a chest, and the closing sound will always play when the chest starts to close. In vanilla, the opening sound only plays if the chest has completely closed, and the cl

[2016-10-11 14:28] theboomer commented on #972
Thank you for promptly looking into this, Aaron1011.  I hope its an easy fix.

[2016-10-12 03:27] ryantheleach commented on #913
https://github.com/SpongePowered/SpongeCommon/commit/1c061c43e389c7171807c59b3d0500eb5afbc0ce

[2016-10-13 04:32] Rhonim opened #974 "[1.10.2] Issue when canceling double shift clicked items"
Currently having some issues when trying to cancel the moving/removal of items when the player does a shift + double primary click. Some of the items will still move over to the player's inventory even when cancelled.

I tested this using both and old and latest version of sponge forge, all you need to do to reproduce it is put multiple of the same item into a double chest, then cancel the ClickIn

[2016-10-13 20:22] TheRaspPie opened #975 "Explosion#shouldDamageEntities/shouldBreakBlocks doesn't work"
Version: spongevanilla-1.8.9-4.2.0-BETA-352
I didn't try it with SpongeForge, although I didn't find code referencing it, so I suspect it may be not implemented.

When shouldDamageEntities is set to false with
`world.triggerExplosion(Explosion.builder().shouldDamageEntities(false)....build())`,
it damages myself in survival mode anyway.

When shouldBreakBlocks is set to false
- in an ExplosionEven

[2016-10-14 00:23] ryantheleach opened #976 "[1.10.2] Pagination Service needs to account for user's unicode settings."
First step would be to auto-set based on locale, next would be to have a specific toggle command that could be included in the Title of every pagination.

[2016-10-14 02:46] me4502 opened #977 "[1.10.2] Error when using the AssetManager in GameStartedServerEvent (Sponge not Initialized)"
Here's the stacktrace,

http://pastebin.com/fZ0FxKUs

The code I'm using specifically, inside the event handler, is

[code]

This occurs when using [SpongeVanilla 72084b0](https://github.com/SpongePowered/SpongeVanilla/commit/72084b03a3e46e255dc8392c97e1648133d9bba7)

[2016-10-14 03:25] me4502 commented on #977
Okay - tried with a fresh clone of SV, still the same. Tried a fresh clone of SF, it worked. I'm thinking this may be SV only.

[2016-10-14 07:11] Minecrell commented on #977
I can imagine that this is a SV only problem. Looking at the stack trace it looks like just another class loader problem. I added a classloader exception for `PluginContainer` to fix https://github.com/SpongePowered/SpongeVanilla/issues/268, on the other hand it will now try to find the `Game` instance that is only initialized within the Launch classloader.

I really need to cleanup this classload

[2016-10-14 07:21] #977 closed

[2016-10-15 14:52] ryantheleach opened #979 "[1.10.2] Emerald Ore does not generate in extreme hills."
Moved from: https://github.com/SpongePowered/SpongeForge/issues/960

Created a new world using an Extreme Hills only preset.

[code]

[Copy of EmeraldTestForge.zip](https://github.com/SpongePowered/SpongeForge/files/531189/Copy.of.EmeraldTestForge.zip)

World file included, regions deleted, on load should place player directly looking at emerald ore.

Found an Emerald Ore location in vanilla, Note

[2016-10-16 12:10] simon816 opened #981 "Keys.CAN_PLACE_AS_BLOCK doesn't actually work"
In [`CanPlaceAsBlockValueProcessor`](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/data/processor/value/entity/CanPlaceAsBlockValueProcessor.java#L52) and [`FallingBlockDataProcessor`](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/data/processor/multi/entity/FallingBlockDataProcessor.java#L61)

[2016-10-17 06:22] Solidflip opened #982 "KeepInv + Sponge 1.10.2 - 5.0.0-BETA-1808"
Players who die keep their inventory even when Gamerule KeepInv is set to false. This happens in all worlds and with no mods/plugins or with them as well.

Saw a guy on the forums with the same problem that wasnt resolved: https://forums.spongepowered.org/t/items-kept-on-death/14436

I ran into this issue with a modpack installed and a few plugins, as well as when i removed all of that and just ra

[2016-10-18 13:56] TheRedCoderGit opened #984 "Shields and banners"
Shields should have the same data (color, patterns, etc).
Trying to create a black banner is rather simple:
ItemStack banner = builder.itemType(ItemTypes.BANNER).build();
banner.offer(Keys.BANNER_BASE_COLOR, DyeColors.BLACK);
it works, however, if i change the item type to shild, it doesn't work

[2016-10-18 17:49] gabizou commented on #984
The problem is the Data implementation hasn't been updated to support shields yet (they were most all written during the 1.8 period, so updating for new features isn't terribly difficult). Thanks for pointing it out!

[2016-10-18 22:44] ZephireNZ opened #985 "Adding custom data to ItemStacks does not work as expected"
Someone on IRC had an issue with a custom value being applied to an ItemStack returing FAILURE but without mentioning the values that failed in the `DataTransactionResult`.

@simon816 pointed out the issues lies here: https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/item/MixinItemStack.java#L399

ItemStack does not fully implement the sp

[2016-10-18 22:44] ZephireNZ commented on #985
@gabizou

[2016-10-19 00:09] AlphaWolf21 commented on #982
Having the exact same issue, a release to fix this would be great!

[2016-10-19 00:17] Aaron1011 commented on #982
@AlphaWolf21: Are you able to reproduce this on a fresh world, with fresh Sponge configs? I haven't been able to do so locally.

[2016-10-19 01:01] AlphaWolf21 commented on #982
I have, i am running on a dedicated server using OVH, and the problem only occurs when sponge is installed, i have tried to create a server on my local pc and try and the same problem persists. I am using spongeforge, this probably goes under spongeforge but i found this issue open and continued it instead of making a new one.

[2016-10-19 18:50] trentech opened #987 "SpongeParticleHelper error"
http://pastebin.com/DTHtWwt2

I think this error is related to this

https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/effect/particle/SpongeParticleHelper.java#L123

[2016-10-19 19:19] Cybermaxke commented on #987
This is a duplicate issue of SpongePowered/SpongeVanilla#275 and will be fixed with #986

[2016-10-19 19:39] #987 closed, assigned to nobody

[2016-10-20 16:07] FerusGrim opened #989 "Entity removal of Player doesn't kick"
Currently when a Player is removed (`Entity#remove()`), they just exist in some kind of weird state where they can't interact with anything, and updates are no longer sent to them (outside of the time).

My suggestion is that `Player` override `remove()` and re-direct it to whatever handles kicking a player.

/shrug

https://forums.spongepowered.org/t/entity-removal-help/15336

[2016-10-20 16:39] ryantheleach commented on #989
It shouldn't kick.
What it does isn't surprising, because it removes the player from the worlds trackers.
I can't really see a usecase for it even being exposed to plugins however, since remove would be internally handled on log out, or on world change...

There is probably some esoteric use for it though.

[2016-10-20 20:13] caseif commented on #974
This seems to occur when two clicks occur in the same tick. In my environment, a player is shown a custom inventory which is supposed to be immutable. If a player double-clicks an item from their inventory fast enough, it'll disappear completely. If they double-click something from the custom inventory, it'll get duped and moved to their inventory.

[2016-10-20 20:27] caseif opened #990 "CustomInventory capacities are broken"
A custom inventory created with archetype `CHEST` will not accept items inserted into slots greater than ordinal `26` (the max slot in a single-chest), regardless of actual capacity (set via the `InventoryDimension` property). Futhermore, attempting to create an inventory of this archetype with fewer than 27 slots will result in an `IndexOutOfBoundsException` upon calling `build`. [Stack trace](ht

[2016-10-20 20:55] Dockter commented on #990
I sense some hard coded values somewhere...

[2016-10-20 20:56] caseif commented on #990
I'd say it's probably getting tripped up on some validation code within MInecraft or something.

[2016-10-20 21:02] kashike commented on #990
@Faithcaio

[2016-10-20 21:15] #990 closed, assigned to nobody

[2016-10-20 21:19] Aaron1011 commented on #974
@bloodmc's code doesn't address the root cause, as it should never be possible to modify an inventory if all `InventoryClickEvent`s are being cancelled. I'll be looking into fixing this.

[2016-10-20 21:31] Aaron1011 commented on #974
I've reproduced the issue, and noticed something interesting: In Vanilla, there's no such thing as a 'double shift click'. If you're holding down shift, you're unable to double click at all, as the initial click always moves the item to the opposite inventory (e.g. player inv -> chest inv or vice versa), without giving you a chance to click again.

However, if you hold down shift after the first c

[2016-10-20 21:35] caseif commented on #974
I replicated it by simply shift-clicking the item repeatedly. Of course, I'm not sure whether the item is clicked the second time or if it's simply the (temporarily) empty slot that's clicked. In the latter case, it may be easier to determine exactly why the bug is occurring.

[2016-10-21 02:17] #974 closed

[2016-10-21 02:42] Aaron1011 opened #991 "Inventory item restoration issues"
There are currently many issues in Sponge when it comes to restoring items in cancelled `ChangeInventoryEvent`s or cancelled `SlotTransactions`. This issue servers as a general tracker for them.

Known issues:
- [ ] Cancelling events when in creative can cause the client to become desynced (the item is still in its original place on the server, but disappears from the slot on the client).
- [ ] Sh

[2016-10-21 03:14] axle2005 commented on #989
Its really not hard to exclude once you realize its a thing. Upon figured out this was my issue, I just prevented "minecraft:player" from being affected by any of my code anyway.

[2016-10-21 03:27] octylFractal commented on #989
Entity removal shouldn't kick because that's not what happens in vanilla. In vanilla, when you die (your entity is removed) you are simply respawned. If anything is changed, that might be the best option.

[2016-10-21 06:35] #991 closed, assigned to nobody

[2016-10-21 11:19] simon816 commented on #989
I think it should throw an `IllegalStateException` if you try to remove a player.

Edit: `UnsupportedOperationException` makes more sense here

[2016-10-21 13:26] bloodmc commented on #956
@pie-flavor Is there a reason you cannot simple compare the BlockType placed and BlockType in hand if any? The placement order will always attempt main-hand first followed by offhand. We can add a fix for this event in future but this should be feasible for now.

[2016-10-21 15:49] JayPeaSize commented on #989
Why would it throw an exception? You can do it in vanilla, no need to prevent it. Nor should it be a kick. In any platform, bukkit, forge etc. Its always just allowed you to do it. Its nothing new. Just skip it when itterating through if you need to.

[2016-10-21 15:58] Zidane commented on #989
@Rhonim

The remove function in Vanilla is an internal method. It actually needs to put you through the death process if remove is allowed to affect a Player. In Sponge, your EntityPlayerMP entity is never re-created.

[2016-10-22 03:49] StoneLegion opened #992 "Chunk Generator in Sponge does not seem to read from the current regions?"
I'm quite new to this stuff but I used to plugins so far nucleus and one I like better with more settings projectborders.

The issue here is if you stop or sadly crash with any of these it does not seem to read from the world/regions so it has to generate from scratch. Of course it does not chunk generate but it has to open 1000's of chunks all over again before it gets to new chunks/regions to co

[2016-10-22 03:54] gabizou commented on #992
@KaneHart The problem would only arise in any case if the region is not _saved_ before the crash. If the server hasn't had a chance to save to disk the already generated chunks, then none of it will persist between a crash and restart.

[2016-10-22 03:55] inklit commented on #992
I tested this on 1.8.9 and can say that it is definitely going through every chunk from the beginning and reading them before actually generating anything.

When you stop the server and start the generator again, it will start from the beginning even though it should start where the last region leaves off instead of the beginning.

[2016-10-22 03:59] StoneLegion commented on #992
1.10.2 Here and I know for a fact it's going through from the start again as well. I'm actually watching it happen live. I have region files up into the 50's and I'm in the 20's right now slowly going through them. My file size of course also has not changed for over 20%.

If I stop it will do it all over again and again sadly.

[2016-10-22 04:10] StoneLegion commented on #992
Just crashed here is a prime example:

I have 130 regions and starting again with any of these mods I sadly start all the way from the start as you can see from this (last modified)

https://i.imgur.com/kb2tZIj.png

[2016-10-22 04:14] bloodmc commented on #992
@DDoS Please look into this issue.

[2016-10-22 09:02] Faithcaio opened #993 "Canceling collect to cursor causes items to disappear"
http://i.imgur.com/uTH8wIc.png
-> DoubleClick on the 63 Stack
-> Let First Event (picking up the stack) go trough
-> Items get collected on cursor (removes 1 item from the other inventory)
-> Cancel Event
-> Resets ItemStack on cursor but not the Top Inventory
http://i.imgur.com/o1AUOgl.png

@bloodmc you did fix #974, this might be related

[2016-10-22 17:21] Faithcaio commented on #993
This is still happing.
Test-Listener:
http://pastie.org/private/isuzttynmcyungn4w8xp2q

[2016-10-22 22:57] bloodmc commented on #993
@Faithcaio OK thanks, i'll take a look soon.

[2016-10-23 16:10] #993 closed, assigned to nobody

[2016-10-23 17:25] Aaron1011 opened #994 "Ghost item stacks when shift double clicking"
When performing a 'shift double click' in an open container (such as a Chest), ghost items are created on the client, which disappear on clicking them.

Steps to reproduce:
1. Add [this listener](http://pastie.org/private/isuzttynmcyungn4w8xp2q) (courtesy of @Faithcaio) to a plugin, and run Sponge.
2. Place and open a chest
3. Place two full stacks of a particular item (e.g. gold blocks) in the lo

[2016-10-23 21:00] #994 closed, assigned to nobody

[2016-10-23 21:29] Proxying opened #997 "Inventory Issue"
Within Spigot, a popular form of GUI's were the form that could be navigated by a player (as they clicked on one item, it opened another GUI, etc etc.) now that Sponge has a base Inventory API setup, something similar should be possible soon, which would bring Sponge into a better state for developers to use. However, I've came across this issue, upon opening another inventory via the ClickInvento

[2016-10-24 00:17] #968 closed

[2016-10-24 00:52] theboomer commented on #968
Thanks Aaron1001!  I look forward to upgrading to it and being able to glance at my server console page to follow conversations and spot stray errors from a much quieter baseline now :)

[2016-10-24 01:42] ryantheleach commented on #997
Please don't screenshot code unless you are trying to show highlighting errors and need support. It makes it a lot harder to reproduce the error as opposed to just pasting in a section of the code as text, or using a gist.

[2016-10-24 13:49] simon816 opened #998 "Calling setBlock does not fire any ChangeBlockEvents"
Simple listener

[code]

Calling `World#setBlock` from command handler or interact event (and probably anywhere) does not fire a `ChangeBlockEvent`
Using spongeforge bleeding https://github.com/SpongePowered/SpongeForge/commit/ec945eedf4752f052f104c6c0d006f63865be1f3
This essential feature worked fine on 1.8.9

Also, it looks like `ChangeBlockEvent.Post` is fired when a player places/breaks a bloc

[2016-10-24 13:50] Zidane commented on #998
@simon816

Need your code for calling setBlock. Paste your listener.

[2016-10-24 14:07] simon816 commented on #998
@Zidane OK here's a minimal example. It will break the block beneth you when running `/testcmd`

[code]

[2016-10-24 22:25] simon816 opened #999 "DestructEntityEvent does not fire for non-living entities"
Listener:

[code]

Example: drop sand from a height. The fallingsand entity dies but never fires the event.
This worked fine in 1.8.9

[2016-10-26 15:02] Zidane commented on #982
I believe this was fixed in: https://github.com/SpongePowered/SpongeForge/commit/6016383ff0570c74d81e3b32b5e3434fac9c2ab9

[2016-10-26 15:02] #982 closed, assigned to nobody

[2016-10-27 03:51] TheoKah opened #1001 "ExperienceOrb from mob_spawners problem"
When breaking a spawner, we get the SpawnEntityEvent event of the EntityXPOrb BEFORE we get the ChangeBlockEvent.Break event of the mob_spawner, meaning if we cancel the break, experience is still spawned.

Moreover, the source cause of the ExperienceOrbs event in that case is considered a "Placement" from the EntityPlayerMP that breaked the spawner instead of the spawner itself, making it hard to

[2016-10-27 05:11] ziceptor opened #1002 "[Server thread/ERROR] [Sponge]: Could not pass DestructEntityEvent$Death$Impl to Plugin{id=walletdrop"
[http://pastebin.com/WHD1M7yD](http://pastebin.com/WHD1M7yD)

latest api5

[2016-10-27 06:17] gabizou commented on #1002
You're requesting `AgeableData` when there is none available. Refer to #8.

[2016-10-27 06:17] #1002 closed, assigned to nobody

[2016-10-27 09:18] trentech opened #1003 "EntitySnapshot toContainer NullPointerException"
SpongeForge 1.10.2-2107-6.0.0-BETA-1844

http://pastebin.com/t8W8kMC7

This only happens when using the EntitySnapshot Builder

[2016-10-28 09:57] Yeregorix opened #1004 "CauseTracker error on inventory click"
I created a custom `GridInventory` using `Inventory.builder()` and I'm listening and cancelling any ClickInventoryEvent. On a test server, I opened the custom inventory to a player (me), and when I click on an item in the inventory, the CauseTracker throw this error : http://pastebin.com/4rWXuZiv

SpongeForge env : A clone of commit d7287a1

[2016-10-28 13:47] Zidane commented on #1001
@gabizou

Similar issue to blood's GP issue of not having entities spawned from block breaks not tied together. I know you have a fix for this on the way.

[2016-10-28 13:51] Zidane commented on #927
@ryantheleach

Always the tough questions :p.

[code]

This should be the correct behavior. Can you PR a fix?

[2016-10-28 13:51] #954 closed

[2016-10-28 13:53] Zidane commented on #884
Is this still an issue in the latest builds?

[2016-10-28 19:39] #1004 closed, assigned to Aaron1011

[2016-10-28 20:22] Yeregorix commented on #1004
Since your last commit I have bug even more strange, in same conditions, when I click on an item almost all items are cleared except some random items and the item I clicked

[2016-10-28 21:56] ryantheleach commented on #927
I'll give it a shot.

[2016-10-29 01:05] gabizou commented on #1001
Just so everyone is aware, I'll be gone the next three days after which I'll be able to continue working on a fix for this.

[2016-10-29 12:13] KasperFranz commented on #825
@Zidane  what did your decision end with :)?

[2016-10-29 16:40] Aaron1011 opened #1005 "Collision config doesn't function properly when right-clicking entities"
Currently, `MixinChunk_Collisions` just uses the source `BlockSnapshot` or `Entity` in the current `PhaseContext` to determine what collisions to perform. However, this can lead to issues when interacting with mod items, such as in [this issue](https://github.com/SpongePowered/SpongeForge/issues/1000#issuecomment-257101497). Our collision system will see the source entity as a `Player`, rather tha

[2016-10-31 06:56] #885 closed

[2016-10-31 11:44] ryantheleach opened #1006 "Waterfall & SpongeForge/SpongeVanilla incompatible in IP Forwarding."
Setting up a proxy server for the first time in several years, so thought this was on me at first.

SpongeCommon:
LobbyServer OfflineMode / no forwarding works,
LobbyServer OfflineMode + IP Forwarding does not work.
LobbyServer OnlineMode + IP Forwarding does not work.

Paper:
LobbyServer OfflineMode + IP Forwarding works.

Tested on
Waterfall.jar (build 63)
paperclip-902.jar
spongevanilla-1.10.2-

[2016-10-31 16:04] bloodmc commented on #1006
You need to turn on ip-forwarding in sponge's global config.

[code]

[2016-10-31 16:14] bloodmc commented on #1006
Ah I see you already tried this.
@dualspiral any idea?

@ryantheleach Did you enable bungeecord in sponge config? Because if you don't, none of this will work.

[2016-10-31 16:21] bloodmc commented on #1006
Bungeecord works fine on my end. Make sure you turn on the bungeecord module.

[2016-10-31 16:21] #1006 closed, assigned to nobody

[2016-10-31 23:01] ryantheleach commented on #1006
You mean this one?

[code]

Unless there is some other secret setting, there is a difference between what we are doing / using blood.

[2016-10-31 23:06] Deamon5550 commented on #1006
@ryantheleach under modules

[code]

[2016-10-31 23:07] ryantheleach commented on #1006
Thanks, I'm dumb, I swear I had looked for something else.

Edit: Works.

[2016-11-01 11:53] TBlueF opened #1009 "ParticleEffect.builder().from(..)... causes an UnsupportedOperationException"
If you build a ParticleEffect...
[code]
... and from this one, try to create a new builder ...
[code]
It throws this Exception:
[code]

I think this is because the SpongeParticleEffectBuilder class tries to modify an ImmutableMap:
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/effect/particle/SpongeParticleEffectBuilder.java#L79
__(`particleEffec

[2016-11-01 12:12] Cybermaxke commented on #1009
This is my mistake, I will fix this in: https://github.com/SpongePowered/SpongeCommon/pull/986

[2016-11-04 05:58] me4502 opened #1013 "Setting RepresentedPlayerData on a Skull ItemStack does not set the skin."
The following code is the test case. It sets the Owner tag on the Skull, but it doesn't set the skin. The default skin is still used.

[code]

[2016-11-04 06:43] ZephireNZ commented on #1013
This is likely because the skin shown is via the skin property blob, not the UUID. Further more the blob has to be signed by Mojang's servers (if I remember correctly), so you can't just create the ProfileProperty yourself.

[2016-11-04 06:51] me4502 commented on #1013
The profile I'm providing has the skin I want, how should I be applying it?

[2016-11-04 07:02] kashike commented on #1013
@me4502 has provided a `toContainer` of the stack:
`[16:58:41] [Server thread/INFO] [STDOUT]: [com.sk89q.craftbook.sponge.mechanics.HeadDrops:onItemDrops:109]: MemoryDataContainer{safety=ALL_DATA_CLONED, map={ContentVersion=1, ItemType=minecraft:skull, Count=1, UnsafeDamage=3, UnsafeData=MemoryDataView{path=UnsafeData, safety=ALL_DATA_CLONED, map={SkullOwner=MemoryDataView{path=UnsafeData.SkullOwn

[2016-11-04 07:03] kashike commented on #1013
As far as I can tell, from code and the `toContainer` above, the `SkullOwner` tag is being set correctly, so it's some other issue such as the stack losing the `SkullOwner` tag during send, or the client having some sort of issue.

[2016-11-04 08:27] me4502 commented on #937
The issue here is that no Cause is provided. Without a cause, offer only supports TileEntities.

Now, whether or not this is intentional is the question. @gabizou is this intentional? If so, this can be closed.

[2016-11-04 09:07] ZephireNZ commented on #937
Yes, it's intentional. All changes to the world need a `Cause`.

I believe this will be going away once the causetracker 2.0 gets implemented, but for now offer will require a cause for block changes.

[2016-11-04 09:09] me4502 commented on #937
I'm more asking if it's intentional that tile entities don't have the restriction.

[2016-11-04 09:19] gabizou commented on #937
@me4502 since `TileEntity` changes do not provide a feasible way to mark a tile entity as being changed that is capturable with our cause tracking system, it's somewhat difficult to throw an event for every single tile entity change for every tick. Considering that in this case, the lever is a block change, it does currently require a valid `Cause` to be provided. When SpongePowered/SpongeAPI#1370

[2016-11-04 09:19] #937 closed

[2016-11-04 09:19] me4502 commented on #937
Okay, thanks

[2016-11-04 17:35] ziceptor commented on #958
Maybe it's useful
https://github.com/SpongePowered/SpongeForge/issues/843

But the error appeared again and I don't know how to fix it.

[2016-11-05 01:02] gravityfox opened #1014 "[stable-5] Fired arrows don't have creators or notifiers."
This happens when firing arrows from dispensers OR from bows.

On branch stable-5

[2016-11-05 01:06] Deamon5550 commented on #1014
Check bleeding

[2016-11-05 08:41] Deamon5550 opened #1016 "No InteractItemEvent.Primary.MainHand for left clicking a block with an empty hand"
Currently we only throw an `InteractBlockEvent.Primary.MainHand` for this action with no preceding `InteractItemEvent.Primary.MainHand`. When I right click there is an `InteractItemEvent.Secondary.MainHand` thrown as I would expect.

~~There are also currently no events thrown at all when I right click while looking at the sky and not holding an item but I can't remember if this is a case where we

[2016-11-05 13:59] Zidane commented on #1016
Unfortunately client doesn't send anything if you right click air with no item in hand.

[2016-11-05 17:39] Deamon5550 commented on #1016
@Zidane yeah I figured, what a pity.

[2016-11-05 22:34] Maxqia opened #1017 "Trying to create a player's inventory throws a NPE"
When I use [this](http://pastebin.com/7abXvaUZ) code to try and create and display a player's inventory, it throws a NPE. Log : http://pastebin.com/EWa9vhui

[2016-11-06 18:42] Faithcaio commented on #1017
I might be able to fix the problem when building the inventory.
But displaying will not be possible as mentioned in the comment on the Archetype.

Try using `InventoryArchetypes.CHEST` instead.

[2016-11-06 19:18] #1017 closed, assigned to Aaron1011, Faithcaio

[2016-11-07 20:04] #1016 closed, assigned to nobody

[2016-11-07 22:00] caseif opened #1018 "ConcurrentModificationException when clicking ItemStack fast enough if the transaction is cancelled"
ItemStacks can be effectively duplicated if they are clicked more than once per tick and the click event is cancelled, with the server throwing a CME in the process. This appears to be a regression of #974.

[Stack trace](http://pastebin.com/Zw9xaKrb)

[2016-11-07 22:04] #1018 closed, assigned to nobody

[2016-11-08 01:10] caseif opened #1019 "ClickInventoryEvent.Drop and all subclasses are never fired"
To my knowledge, all sub-events of `ClickInventoryEvent` are implemented besides subclasses of `ClickInventoryEvent.Drop`. This particular event type seems to never be triggered.

[2016-11-12 10:00] ryantheleach commented on #927
This may actually be https://github.com/SpongePowered/SpongeCommon/pull/1020/files

[2016-11-12 15:30] inklit opened #1022 "onBlockPre discrepency between 1.8.9 and 1.10.2 with ComputerCraft and GriefPrevention"
## Explanation
ComputerCraft Turtles on 1.10.2 are unable to break **any** blocks in GP claims, even if the claim owner was the last person to interact with or place the Turtle.
From my understanding, isBlockProtected returns true if onBlockPre is cancelled, which prevents the Turtle from breaking blocks with GriefPrevention.
I believe that Sponge is not properly attaching the event cause to Grief

[2016-11-13 18:41] Feeliiix commented on #984
Working on it.

[2016-11-14 12:19] randombyte-developer opened #1024 "Extending `AbstractEvent`"
I created an event in my plugin: [`CurrentEditorScrolledEvent`](https://github.com/randombyte-developer/free-blocks/blob/8e4af57a1c5bd4e095008737bc7ae5d2ede01952/src/main/kotlin/de/randombyte/freeblocks/CurrentEditorScrolledEvent.kt)

I updated SpongeVanilla to test the plugin again and I see that the custom event that is fired needs to extend `AbstractEvent` because of [this](https://github.com/S

[2016-11-14 18:13] kashike commented on #1024
According to @Aaron1011 it is intended, and won't be fixed.

[2016-11-14 18:13] #1024 closed, assigned to nobody

[2016-11-14 19:58] Aaron1011 commented on #1024
I'll make it more clear in the javadocs and in SpongeDocs that custom events need to extend `AbstractEvent`.

[2016-11-15 05:30] inklit commented on #1022
I think that this issue may reside in isBlockProtected, not in onBlockPre. Could anybody investigate this?

[2016-11-15 19:05] rexbut commented on #910
Keys :
- `Key<Value<Color>> COLOR`
- `Key<Value<Float>> AREA_CLOUD_RADIUS`
- `Key<Value<ParticleType>> AREA_CLOUD_PARTICLE`
- `Key<Value<Integer>> AREA_CLOUD_DURATION`
- `Key<Value<Integer>> AREA_CLOUD_WAIT_TIME`
- `Key<Value<Float>> AREA_CLOUD_RADIUS_ON_USE`
- `Key<Value<Float>> AREA_CLOUD_RADIUS_PER_TICK`
- `Key<Value<Integer>> AREA_CLOUD_DURATION_ON_USE`
- `Key<Value<Integer>> AREA_CLOUD_REAPPL

[2016-11-16 02:48] me4502 opened #1025 "[1.11] Leaving a bed causes error relating to CauseTracker."
From https://www.reddit.com/r/admincraft/comments/5d68la/spongevanilla_experimental_builds_for_minecraft/da268w9/

This pastebin error report was included, http://pastebin.com/CnvXJvqn

[2016-11-16 14:26] gabizou commented on #1025
Fixed in the next production build.

[2016-11-16 14:26] #1025 closed, assigned to nobody

[2016-11-17 08:33] me4502 commented on #981
I noticed this issue the other day when porting CraftBook's BetterPhysics over. It appears the value is just inverted.

[2016-11-18 03:02] GershonR commented on #958
Any news on this?

[2016-11-18 08:28] me4502 commented on #1013
It appears this only happens when behind BungeeCord, or when in Offline mode.

[2016-11-18 18:45] rexbut commented on #910
Implemented in commit https://github.com/SpongePowered/SpongeCommon/commit/6b31d50b91d2d2eb489cad8940759bb7526fc255

[2016-11-18 19:35] #910 closed

[2016-11-19 04:34] JBYoshi commented on #742
I talked with @gabizou at Minecon about this. The problem with only firing one event per value per tick is that it can be changed several times with different `Cause`s. So I proposed having a single `ChangeValueEvent` subinterface for each `Key`; that way, the event can be fired multiple times per tick, and only listeners interested in that specific `Key` would receive events.

I've been busy sinc

[2016-11-20 15:00] Limeth opened #1028 "ItemStack display names don't preserve colors properly"
[code]

[2016-11-20 18:04] kashike commented on #1028
Are you sure it isn't applied to a child of the `Text`?

[2016-11-20 18:59] ST-DDT commented on #1028
The color `RESET` is not preserved, since `RESET` cleans the previous color information.
Every other color is kept as it. If this behavious is wrong then its only the Text ApI that is lacking here. Although IMO it works as expected.

[2016-11-20 19:27] kashike commented on #1028
The `RESET` colour should be retained.

[2016-11-21 06:35] vectrixdevelops commented on #1013
I've noticed adding the NBT data to the item in game via command only loads the skin if the player was online when the skull was created. Not running bungeecord. On SpongeVanilla.

Edit: Not sure if this is connecting or a whole other issue.

[2016-11-21 07:32] kashike commented on #981
https://github.com/SpongePowered/SpongeCommon/commit/6f8b39afdaaa693041e6658e1e0b1a9604a5d3a4

[2016-11-23 19:32] Maxqia opened #1029 "Cancelling a Piston Move Event doesn't work"
When canceling a piston move event, It breaks the piston and/or leaves duplicate blocks everywhere.
Code Sample : http://pastebin.com/MZbmvvNj
Stack Trace on the Item Spawned : http://pastebin.com/q9rub4tu

[2016-11-23 23:19] Maxqia commented on #1029
I think it's a problem with SpongeBlockSnapshot not removing the tile entity when restoring by doing TileEntityPiston.clearPistonTileEntity()

[2016-11-24 06:14] bloodmc commented on #1014
This should be resolved in latest builds.

[2016-11-24 06:14] #1014 closed, assigned to nobody

[2016-11-24 16:37] windy1 opened #1030 "Impossible to spawn ItemFrame (or probably any Hanging entity)"
There is currently no data processor for `Hanging`'s `DirectionalData` which in itself would make it impossible to spawn them since the hanging direction is initialized to `null`. I implemented a data processor for the data [here](https://github.com/windy1/SpongeCommon/commit/52762981d9c1959399cc32b58a8ae02413aa11bb) and I can verify that it's working properly however now it seems as if there's an

[2016-11-25 00:42] kashike commented on #569
Is this still an issue?

[2016-11-25 06:46] bloodmc commented on #1029
I'm currently looking into this.

[2016-11-25 08:34] #1030 closed, assigned to nobody

[2016-11-25 08:37] windy1 commented on #1003
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/7dd9c916f42c5da5e484d9e62956c68434effa1c#diff-d22b05657e065a1afc570ae52da1b621R119

[2016-11-25 08:38] #1003 closed, assigned to gabizou

[2016-11-25 08:42] windy1 commented on #956
@bloodmc The stack is removed before the event is fired. I had to workaround this issue recently by listening to both the `InteractBlockEvent` and `ChangeBlockEvent.Place` events and caching the stack from the former so I could use it in the latter.

[2016-11-25 09:19] #1029 closed, assigned to nobody

[2016-11-25 15:59] JBYoshi commented on #742
I'm almost done with the API side, and I have some ideas for the implementation. However, there's one problem: getting a default `Cause` when a plugin calls `offer()` without a `Cause` (the methods with a `Cause` aren't even implemented yet). SpongePowered/SpongeAPI#1370 should fix this, but it seems to have gone stale, despite being marked as a "major feature".

[2016-11-25 16:37] gabizou commented on #742
@JBYoshi the reason for it to become stale is because we're working on pushing API 6 for a 1.11 release sooner than later. The last time that we accepted major implementation changes it cost us a few months to officially update to 1.10.2 (remember how 1.9.4 was in bleeding for a while but didn't finish?). It is definitely something we will merge in, just not at this very moment.

[2016-11-25 17:38] Limeth opened #1033 "Impossible to tell whether InteractItemEvent was aimed at a block"
Currently, there isn't an easy way to tell whether the player is looking at a block in range (so it draws an outline around it on the client-side) when listening to `InteractItemEvent`s.

[2016-11-25 21:41] #1033 closed, assigned to nobody

[2016-11-25 21:41] JBYoshi commented on #742
@gabizou Okay. Thanks for clarifying!

[2016-11-26 13:36] stephan-gh commented on #972
I'm pretty sure this was fixed in https://github.com/SpongePowered/SpongeCommon/commit/f82761129aeb563967754a42dae2b714018f2959

[2016-11-26 13:36] #972 closed

[2016-11-26 13:37] stephan-gh commented on #959
Doesn't happen on latest SV anymore.

[2016-11-26 13:37] #959 closed

[2016-11-26 13:42] stephan-gh commented on #921
Works fine on the latest SpongeVanilla so this was either fixed or is a SpongeForge problem. Can you test it again using the latest SpongeForge?

[2016-11-26 13:48] stephan-gh commented on #842
Works fine on latest SpongeForge.

[2016-11-26 13:48] #842 closed

[2016-11-26 14:17] #1028 closed, assigned to stephan-gh

[2016-11-26 18:37] ziceptor commented on #958
@Zidane @kashike I figured it out. This is happening after migrating the configuration files to the new server. In particular due to the presence of PEX in the config IDs of the players. Error disappear after the player accesses to the server.

[2016-11-26 19:57] ziceptor opened #1035 "[1.10.2-1.11] Doesn't drop loot from the mobs"
Doesn't drop loot from the mobs. Experience falls.
[code]
Other mods is not installed. If remove the sponge, then drops!
Probably has value: http://pastebin.com/35EgpNR5

[2016-11-26 22:42] Maxqia commented on #1035
Confirmed!

[2016-11-26 22:45] Zerthick opened #1037 "DropItemEvent.Pre not firing in all vanilla cases."
While doing some testing I've discovered that [`DropItemEvent.Pre`](https://jd.spongepowered.org/5.0.0/org/spongepowered/api/event/item/inventory/DropItemEvent.Pre.html) is not correctly firing for certain actions. So far it does not fire for:

- [x] The Items dropped when an Entity is killed

- [ ] The Items dropped when a Dispenser is triggered

- [x] Items dropped by the Player from their inven

[2016-11-26 22:49] bloodmc commented on #1035
Latest 1.10.2 (5.1.0) build works fine. This issue is only present in 1.11

[2016-11-27 01:04] bloodmc commented on #894
Tested latest SF, issue does not occur while hovering over items.

[2016-11-27 01:04] #894 closed

[2016-11-27 01:12] Zerthick opened #1040 "Cancelling DropItemEvent.Dispense does not preserve itemcount when dispensed with "q""
As the title says, canceling [`DropItemEvent.Dispense`](https://jd.spongepowered.org/5.0.0/org/spongepowered/api/event/item/inventory/DropItemEvent.Dispense.html) does not preserve the item count when dispensed with "q" the item count is decremented by 1 even though the item is not dropped, when dispensed with "ctr+q" the entire itemstack is destroyed!

Tested on SpongeVanilla 1.10.2-5.1.0-BETA-35

[2016-11-27 01:14] #1040 closed, assigned to nobody

[2016-11-27 02:33] me4502 opened #1041 "DamageEntityEvent caused by EnderPearl hitting entity does not contain EnderPearl in the cause."
When an EnderPearl hits an entity, it causes damage, which fires the DamageEntityEvent. However, the EnderPearl is not in the cause.

Test code, this outputs null.

[code]

Tested in both 1.10.2 and 1.11

[2016-11-27 03:36] ziceptor commented on #1035
Doesn't drop loot from the mobs.
`spongeforge-1.10.2-2123-5.1.0-BETA-1911.jar`

[2016-11-27 11:12] Wundero opened #1042 "LocaleCache error"
In the latest build of SpongeVanilla, I tried joining using the locale "lol_us", and I get this error:
http://pastebin.com/vTmcY18c
After looking through the code, it seems to be that the default Java locale implementation does not include such languages as lolcats and pirate speak. Perhaps some kind of catcher for minecraft locales could be implemented?
(Note: this error occurred on join)

[2016-11-27 12:18] JBYoshi commented on #1042
I think it's just for lol speak. Java expects all locales to be in the format `xx_XX`. `lol` has too many characters for Java to allow.

[2016-11-27 12:19] Wundero commented on #1042
That makes sense. It likely should have it's own special case then, unless a better way can be found to fix that.

[2016-11-27 12:54] simon816 commented on #1042
I found out that you can put anything in the `lang` option in the client's `options.txt` and it will blindly send it to the server. For example `lang:something_unknown` and it will throw the same exception on the server.

Perhaps there should be a sanity check and use a default if it fails

[2016-11-27 14:35] 14mRh4X0r opened #1043 "NullPointerException in SpongeWhitelistService.getWhitelist through PreYggdrasilConverter"
When starting Sponge(Vanilla) in an older minecraft server folder, the following exception arises while trying to convert pre-Yggdrasil whitelists:
[code]

After a bit of debugging, it turns out that `getPlayerList` (`func_184103_al` in 1.10.2) returns `null`:
[code]

[2016-11-27 21:17] Misseal opened #1044 "Fireballs not damaging blocks"
(this is a repost from https://github.com/SpongePowered/SpongeVanilla/issues/279 )

Using 1.10.2-5.1.0-BETA-355 (this is visible in 6.0 builds as well), Fireballs only applies fire to blocks without destroying them.
For example, using `/summon Fireball ~ ~ ~ {ExplosionPower:10,direction:[0.0,0.0,0.0]}` then hitting the resulting entity towards the ground does not create a gigantic hole as expected

[2016-11-28 00:47] Wundero commented on #1042
True, however I think that, given the language lol_US is a legitimate translation on the client side, there should be note of it somehow. Another thing to consider is that this error was not present in Sponge API 5 (I was using SpongeVanilla in both cases for the test, with only one plugin installed on my test environment), however it is now present in API 6.

[2016-11-28 08:48] #1042 closed, assigned to kashike

[2016-11-28 23:51] #1044 closed, assigned to nobody

[2016-11-29 00:23] caseif opened #1045 "Odd behavior when closing and opening separate inventory in same tick"
I've written the following (mostly) MWE to demonstrate this bug, reproduced on the latest SpongeVanilla and SpongeForge 5.1.0 builds: https://git.io/v1t6u

Essentially this small plugin creates and opens a custom inventory when a command is run. When either item from this inventory (each with its own respective custom NBT, for tracking) is clicked, the event is cancelled, the custom NBT is printed

[2016-11-29 00:40] kashike commented on #23
I've cleaned most of the issues up, and deleted the corresponding comments.

@randombyte-developer Could you please let me know if your "awkward parameter names" are still around, and link to them again?

[2016-11-29 06:14] bloodmc commented on #426
ChangeBlockEvent.Pre was added to handle spreads, flows, etc..

[2016-11-29 06:14] #426 closed

[2016-11-29 06:16] bloodmc commented on #827
Does this occur in 1.10.2?

[2016-11-29 06:18] bloodmc commented on #1035
@ziceptor Loot definitely drops from mobs in 1.10.2. Remove all your plugins/mods and retest.

[2016-11-29 23:41] #1035 closed, assigned to nobody

[2016-11-30 04:29] inklit commented on #1022
This was fixed in the latest build of SpongeForge (1923)

[2016-11-30 04:29] #1022 closed, assigned to nobody

[2016-11-30 10:49] me4502 opened #1047 "[1.11] Human entity fails to deserialize from NBT"
The human entity, which is made spawnable by Sponge, fails to load when saved in a world.

http://pastebin.com/mf1Y9ZjV

[2016-11-30 14:44] ziceptor commented on #1035
@bloodmc @Maxqia Sorry for bad English.
Deleting plugins doesn't help. I found that with new world loot drops. I installed only the plugins for the sponge. Some plugin broke the world. Perhaps the issue is worth exploring!
Logs https://cloud.mail.ru/public/5pXz/k1S1D3aaQ
Configs https://cloud.mail.ru/public/LQAj/pDPTAEmri

Thank you for your patience!

[2016-11-30 16:08] pie-flavor commented on #942
aaanyone?

[2016-11-30 16:27] Deamon5550 commented on #942
why is this in spongecommon?

[2016-11-30 17:50] TheRaspPie opened #1048 "Sponge identifies world by internal NBT world name"
If you load a world with Server#loadWorld(String) or get its name with World#getName()
the expected/returned world name is the one from the internal NBT data, not the name of the world folder.
So if you rename the world folder like you were easily able to do with Bukkit, the world won't load with the new name. If you have tens of worlds which got renamed a long time ago and whose internal names di

[2016-11-30 21:09] caseif opened #1049 "Inventory#parent returns null if no parent"
Despite its JavaDoc specifying that `Inventory#parent` should return itself if it has no parent, it instead returns `null`.

[2016-11-30 22:44] pie-flavor commented on #942
I did not realize that lol

[2016-11-30 22:44] #942 closed

[2016-11-30 23:25] Maxqia commented on #1035
Do you have the gamerule doEntityDrops/doMobLoot disabled? Sponge stores gamerules differently so it might not transfer them to vanilla minecraft.

[2016-12-01 14:34] ziceptor commented on #1035
@Maxqia You are right! doMobLoot disabled! Thank you!

[2016-12-02 01:02] Maxqia opened #1050 "Inventory.offer(ItemStack) not adding item to inventory"
When I offer an item to a chest/player inventory on 1.11, it doesn't add the ItemStack to the inventory.

[2016-12-02 07:04] Faithcaio commented on #1050
I probably fixed it in this branch, but did not have time to test it yet.
https://github.com/SpongePowered/SpongeCommon/tree/fix/itemstack-null

[2016-12-02 15:52] bloodmc commented on #931
1.8.9 is no longer supported. Update to latest SF 1.10.2+ build.

[2016-12-02 15:52] #931 closed

[2016-12-02 15:53] bloodmc commented on #898
@ryantheleach Does this happen in 1.10.2+? If not, close ticket.

[2016-12-02 16:10] bloodmc commented on #510
This is fixed in SF 1.10.2+.

[2016-12-02 16:10] #510 closed

[2016-12-02 16:12] bloodmc commented on #577
This has been done.

[2016-12-02 16:12] #577 closed

[2016-12-02 16:12] bloodmc commented on #775
Turn on auto-populate.

[2016-12-02 16:12] #775 closed

[2016-12-02 16:13] #827 closed

[2016-12-02 16:14] bloodmc commented on #621
Closing as this should already be done.

[2016-12-02 16:14] #621 closed

[2016-12-02 16:15] bloodmc commented on #439
You can now use InteractItemEvent.

[2016-12-02 16:15] #439 closed

[2016-12-02 16:16] bloodmc commented on #901
Update to latest SF build.

[2016-12-02 16:16] #901 closed

[2016-12-02 16:16] bloodmc commented on #898
I don't have this issue in GP 1.10.2 which uses JoinData fine.

[2016-12-02 16:16] #898 closed

[2016-12-02 18:53] #303 closed

[2016-12-02 18:54] Zidane commented on #595
Re-test with stable-5 and report back if still an issue and we will re-open.

[2016-12-02 18:54] #595 closed

[2016-12-02 18:55] Zidane commented on #597
Closing this as I don't think its relevant anymore @gabizou . Re-open if I'm wrong.

[2016-12-02 18:55] #597 closed

[2016-12-02 18:56] Zidane commented on #659
@Minecrell @gabizou @Aaron1011 Comments? This issue shouldn't still exist...

[2016-12-02 18:57] Zidane commented on #723
@gabizou

Status?

[2016-12-02 18:57] Zidane commented on #727
@bloodmc

Thoughts on this?

[2016-12-02 18:58] Zidane commented on #729
Re-test with stable-5 and reply back if still an issue. We'll re-open in the event that it is.

[2016-12-02 18:58] #729 closed

[2016-12-02 18:59] Zidane commented on #732
@gabizou

Thoughts?

[2016-12-02 18:59] Zidane commented on #741
@gabizou

Thoughts?

[2016-12-02 19:00] #770 closed

[2016-12-02 19:01] Zidane commented on #795
@gabizou

We need to get this finally resolved as its plagued us for a while...

[2016-12-02 19:02] Zidane commented on #804
@Minecrell

Status?

[2016-12-02 19:03] Zidane commented on #771
Re-test with stable-5 and report back if it still occurs. We'll re-open in the event that it does.

[2016-12-02 19:03] #771 closed

[2016-12-02 19:03] Zidane commented on #810
@gabizou

Status?

[2016-12-02 19:04] Zidane commented on #833
1.8.9 is no longer supported.

[2016-12-02 19:04] #833 closed

[2016-12-02 19:05] Zidane commented on #838
Shouldn't be an issue anymore as entity spawn causes were expanded.

[2016-12-02 19:05] #838 closed

[2016-12-02 19:06] Zidane commented on #849
1.8.9 is no longer supported.

[2016-12-02 19:06] #849 closed

[2016-12-02 19:06] Zidane commented on #878
1.8.9 is no longer supported.

[2016-12-02 19:06] #878 closed

[2016-12-02 19:07] Zidane commented on #884
1.8.9 is no longer supported.

Re-test with stable-5 and report back if it still occurs. We'll re-open in the event that it does.

[2016-12-02 19:07] #884 closed

[2016-12-02 19:11] Zidane commented on #979
@Deamon5550

Status?

[2016-12-02 19:12] #981 closed

[2016-12-02 19:17] Zidane commented on #985
@ZephireNZ

Could you submit us a PR as a fix?

[2016-12-02 19:36] DDoS commented on #992
Just as an update, I'm really busy right now finishing my university semester, but I should have time to work on this later this month. I'm considering one of two solutions:

- Find a way to check which chunks are generated by doing a few as possible file system operations
- Add functionality to let the plugin know which chunks have been generated, and tell the pre-generator which chunks should be

[2016-12-02 22:15] Deamon5550 commented on #992
You should only have to open up each region file and read the first 8KB from the start of them which contains the information on what chunks are present in the the region file.

[2016-12-02 22:17] Deamon5550 commented on #979
Uhh it should as seen here https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/world/biome/MixinBiomeHills.java#L74-L82 I'll have to test it sometime.

[2016-12-02 22:20] Deamon5550 commented on #979
@ryantheleach if you're basing it purely off that spawn rather than looking around for the ore then it is almost certainly the case that the seeding is just slightly changed by sponge as where the ore spawns is entirely dependent on the exact ordering of the world generator's process.

[2016-12-03 00:52] me4502 commented on #727
Doesn't `TickBlockEvent` already have two subclasses, one for random and one for scheduled?

[2016-12-03 03:42] ryantheleach commented on #979
@Deamon5550 It wasn't based just off that spawn, that was just my litmus test. I looked around a fair bit in case it was a case of the seed changing, but I wasn't able to find any. I could have been incredibly unlucky though, as I used visual inspection rather then mcedit or something.

[2016-12-03 06:01] Deamon5550 commented on #979
Alright yeah I just did some testing and it would seem that they are not being placed for some reason, you can use `/fill ~-15 ~-15 ~-15 ~15 ~15 ~15 air 0 replace stone` to hollow out the area around you to check for ores.

[2016-12-03 06:37] Deamon5550 commented on #979
Got it ![emeralds](http://puu.sh/sCwIH/8d94595b96.jpg)

[2016-12-03 06:37] #979 closed

[2016-12-03 22:08] Maxqia commented on #1050
Do you have a PR for that? (If not, can I make one including my fixes)

[2016-12-04 11:02] #1009 closed, assigned to nobody

[2016-12-04 15:37] Faithcaio commented on #1050
There is no PR yet.
Go for it.

[2016-12-04 19:07] #1043 closed, assigned to stephan-gh

[2016-12-04 21:09] liach commented on #621
@gabizou Would you optimize furnaces?

[2016-12-04 23:08] RobertHerhold opened #1052 "Fails to write Schematic NBT data with the RequiredMods field"
When I include the `RequiredMods` field in my schematics and try to serialize, it fails to translate the `String` array to `NBTBase`. There is no error when I do not include the `RequiredMods` field.

My test code:

[code]

produces:

[code]

[2016-12-04 23:09] RobertHerhold commented on #1052
Pinging @Deamon5550

[2016-12-04 23:11] kashike commented on #1052
You shouldn't be using an array, you should be using a list, if I remember correctly.

[2016-12-04 23:12] RobertHerhold commented on #1052
The [specification](https://github.com/SpongePowered/Schematic-Specification/blob/master/versions/schematic-1.md#metadataObject) says it should be an array. Does this need changed?

[2016-12-04 23:14] kashike commented on #1052
In the json it's an array, sure, but not in the code. @Deamon5550 could add an array serialiser, of course.

[2016-12-04 23:16] RobertHerhold commented on #1052
Thanks for the correction.

[2016-12-05 12:00] me4502 opened #1053 "Offering Keys.ART to a Painting entity should fail if the painting doesn't fit in the area."
Currently any 'Art' instance can be given to a Painting, even if they don't fit on the surface. This should fail, allowing the plugin to check the DataTransactionResult to see that the painting art isn't valid for the painting.

The following code, when put inside an event listener (Such as InteractEntityEvent), sets the painting to the next art type.

[code]

[2016-12-05 12:40] me4502 opened #1054 "Changing a block state does not trigger block notifications"
Offering a powered state to a lever used to do the lever flick state noise, and update nearby redstone. This no longer occurs as of 1.11. This worked in 1.10.2.

The question is, is whether this should be considered a bug or proper behaviour. With the existence of the 'Fake Player' API that is soon to be implemented, it could make sense to use that API instead of offering the powered state here.

[2016-12-05 19:52] trentech opened #1055 "Cannot rename worlds"
Player appeared to stumble across this with Project Worlds. The world in unloaded worlds Collection and Server#getWorld() returns empty as expected, however when executing Server#renameWorld() I receive this error.

http://pastebin.com/QypsF1ZL

Also getting an error with DIM-1 and DIM1, and dimensions appear in the unloaded worlds Collection even though they are clearly loaded. I don't know what

[2016-12-06 17:49] bloodmc commented on #958
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/1db378a1277ce1b91e3ee6bdc03fca7c06245d1a

[2016-12-06 17:49] #958 closed

[2016-12-06 18:02] Proxying opened #1057 "ResourcePackStatusEvent not firing."
It seems that the ResourcePackStatusEvent is not firing at all upon player joining. Example here; I've set my clientside resourcepack information to force the server to prompt me for the resource pack, my selection should fire the event. Nothing appears in chat from the initial broadcast, and upon declining it, the player is not kicked.

Code here;
http://hastebin.com/ujehawerar.cs

SpongeForge 1.

[2016-12-06 18:50] Cybermaxke commented on #1057
Try to remove the `@Root Player player` argument from the method,  it's probably not provided in the cause because it's already directly provided through the event `getPlayer`.

[2016-12-06 18:54] Proxying commented on #1057
Removing that has no effect, that's what I initially was running, tried to add it to see if it'd change anything. Let me edit the hastebin.

[2016-12-07 02:47] JBYoshi commented on #1057
I'll take care of this.

[2016-12-07 03:00] #825 closed

[2016-12-07 04:54] JBYoshi commented on #1057
This just got a lot harder than I initially realized. When sending a resource pack to the client, the server can optionally provide a value called a hash, which is unique for each resource pack. In previous versions of Minecraft, when the client sent the status back to the server (which would call the `ResourcePackStatusEvent`), it would include the hash; I used that to identify the resource pack

[2016-12-07 10:36] mcmonkey4eva opened #1058 "Sounds hilariously wrong for common minecraft things"
Lightning flash? That's the sound of a shovel breaking!
Zombie spawned and caught fire? Oh no, sounds like a villager in drowning...

I think some map somewhere got mixed up. No idea what it would be, though.

[2016-12-07 10:39] mcmonkey4eva commented on #1050
Can confirm this - also it actually successfully gives if you have the item already.
Meaning, if you have one blaze rod gotten naturally, then offer a new blaze rod, you'll accurately have two blaze rods.

[2016-12-07 10:57] kashike commented on #1058
I reproduced this the other day, but now I can't.

[2016-12-07 15:52] kashike commented on #1050
https://github.com/SpongePowered/SpongeCommon/commit/982dffaa80d39fb23ed8f958990a7d25113a081a

[2016-12-07 15:52] #1050 closed, assigned to nobody

[2016-12-08 05:17] kashike commented on #1057
@JBYoshi The hash was removed from the serverbound resource pack response packet since it isn't officially needed.
Best thing would be to just remove the list/queue/etc that we have now and just wait for a response packet.

[2016-12-08 05:23] kashike commented on #1058
So this is apparently happening with Forge as well.
[code]

[2016-12-09 09:08] Rolphoe opened #1061 "Shields doesn't protect you"
Hello, I've been told to open this issue here. I was playing on  my server and was using a shield to protect from skeletons or creepers. The hurt sound doesn't play, but I still receive the damage. Can you fix this?

[2016-12-09 14:48] thomas15v opened #1062 "Plugin/Config folder enviroments"
This is more an enhancement idea that I think will be really useful if you run a bungee network where the server nodes have a lot of common configuration/plugins.

Basically instead defining the plugin and config folder statistically. I would like to have an array of possibly plugins and config locations. Like this

[code]

[2016-12-09 20:08] Aaron1011 commented on #1061
@Rolphoe: I'll be pushing a fix to this today along with some other improvements related to shield damage in the API.

[2016-12-09 21:16] Yeregorix opened #1063 "Slot#clear() throws NullPointerException"
I created a task which frequently call Slot#clear() but I keep getting this error : http://pastebin.com/PSjBSZnT

[2016-12-09 22:34] Rolphoe commented on #1061
Ok thx

[2016-12-09 22:43] Aaron1011 commented on #1063
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/6880b5ecd7a2ed3a3d60241ce7c3ed627a36643a.

[2016-12-09 22:43] #1063 closed, assigned to nobody

[2016-12-10 00:20] phit commented on #795
any progress?

[2016-12-10 05:08] Maxqia commented on #1062
Doesn't the Sponge Config already have a config for plugin/config dir?

-- snip --
[code]
-- snip --
Also couldn't you just symlink the configs?

[2016-12-10 09:46] Yeregorix opened #1065 "Slot#peek() returns an ItemStack of type (minecraft:air)"
`Slot#peek()` returns an `ItemStack` of type `(minecraft:air)` when the slot is empty but in the API we don't have `ItemTypes.AIR`, we only have `ItemTypes.NONE` and it's =/= at runtime. Either the method musts return `ItemTypes.NONE` instead of `(minecraft:air)`, either we must add `ItemTypes.AIR` in the API (instead of `ItemTypes.NONE`?)

[2016-12-10 12:01] Deamon5550 commented on #1062
Symlinking does seem to be the most logical option. I don't see any use for this not covered by a few symlinks.

[2016-12-10 13:02] kashike commented on #1062
Not to mention it would extremely hard, if not impossible, to support more than one default plugin configuration directory.

[2016-12-10 15:44] thomas15v commented on #1062
@Deamon5550 You can't symlink if the servers have some slight modifications between them. And symlinking plugins separately is a pain. I tried it before, and its even harder than copying plugins separately to each server.
@kashike Couldn't you just pass a the config directory to each plugin?

[2016-12-10 18:15] kashike commented on #1062
No, that's not how it works.

[2016-12-10 19:11] Maxqia commented on #1062
Why symlink them seperately?

cp -rs file1 file2
-r recursive
-s symlink

[2016-12-11 06:25] AnthonyAMC opened #1066 "Warnings on startup"
@gabizou requested this be posted as to not forget, so here it is.
[code]

[2016-12-11 14:51] Limeth opened #1067 "Custom data is not applied to BlockTransaction results"
In a `ChangeBlockEvent.Place`, the custom data is not applied correctly.
[code]
The resulting placed block does not contain the custom data.
There is a way to work around this issue by delaying the addition of the custom data:
[code]

The same behavior occurs in a `ChangeBlockEvent.Break`, when breaking a block with custom data assigned to it and the transaction is invalidated (`Transaction#setVal

[2016-12-11 14:55] kashike commented on #1067
![](http://www.memecreator.org/static/images/templates/1422886.jpg)

[2016-12-11 15:17] Cybermaxke commented on #1057
You can also resend the resource pack packet until they actually click the yes or no button. And queue the resource packs to wait for a response before sending the next one.

[2016-12-11 17:06] ziceptor opened #1068 "Crash Report"
[crash-2016-12-10_20.54.45-server.txt](http://pastebin.com/BBkeKXeN)

[2016-12-11 17:24] #1068 closed, assigned to nobody

[2016-12-11 20:56] JosephMA007 opened #1069 "[1.11] Adding Non Player Entity To Team Creates Error"
Adding an non player entities team representation to a team causes a java.lang.IllegalArgumentException

Error Log:
[http://pastebin.com/1pB85TWb](http://pastebin.com/1pB85TWb)

[2016-12-11 21:58] #1069 closed, assigned to nobody

[2016-12-13 03:43] JBYoshi commented on #1057
I'm working on a similar idea to what @Cybermaxke suggested.

* All resource pack requests are stored in a queue. If a request is made when the queue is empty, it is sent to the client and added to the queue. If a request is made when the queue isn't empty, it's only queued.
* If the player hits Escape, the resource pack request won't immediately pop back up. However, if the player does something

[2016-12-13 08:31] gravityfox opened #1072 "BlockChangeEvent.Post shouldn't be constantly fired."
So after some conversations between blood and myself, the Post event was added to block change events.

Post was originally meant as a solution to bulk block events that don't consist entirely of place, break, modify, grow, and decay transactions. This special Post event would fire for odd things like pistons and daylight sensors.

Now, Post fires for ALL events, even if they are not hybrid events

[2016-12-13 19:36] gabizou commented on #1072
Post was originally designed as a multi event, where two separate `ChangeBlockEvent`s could be fired (`Break`, and `Place`) and then a third event containing the multiple events would be fired thereafter.

Depends on the circumstance, if you take the circumstance of placing a block and breaking other blocks, the post would technically be the third event. In the logic of how they're processed, Post

[2016-12-14 17:09] ziceptor opened #1073 "In console: sp plugins<Tab>"
http://pastebin.com/t4LaZuDF
forge-1.11-13.19.0.2178-universal.jar
spongeforge-1.11-2178-6.0.0-BETA-1988.jar

[2016-12-14 19:06] Faithcaio commented on #1065
I'll change the method to return an empty Optional for now when there is an Air Item.
We can change the API later if we want to return the actual empty Air Itemstack

[2016-12-14 19:07] #1065 closed, assigned to Faithcaio

[2016-12-14 22:05] windy1 opened #1074 "Human entities don't seem to be saved to disk"
Human entities do not persist across server restarts (tested on 1.10.2 / SpongeVanilla 5.1.0)

[2016-12-16 22:46] windy1 commented on #1074
Update:

Tested on 1.11 now, entity seems to be saved to disk, but is not loaded (or not loaded properly) on start.

[2016-12-17 08:58] me4502 opened #1078 "MixinWorldInfo#ensureLevelnameMatchesDirectory sets levelName to null before save, causing crash."
http://pastebin.com/jamC1dr5

Through testing I've found that ensureLevelNameMatchesDirectory is setting `this.levelName` to null, right before a save.

[2016-12-17 09:00] Deamon5550 commented on #1078
That error doesn't actually mean empty strings but rather that the string passed in was null.

[2016-12-17 09:02] me4502 commented on #1078
Ah, just assumed it was that one as when I checked the level.dat it was the only empty string. Any idea on the cause? Trying to look into fixing it.

[2016-12-17 19:21] vectrixdevelops opened #1079 "Containers not dropping the correct quantity of items"
Referring to this post, https://forums.spongepowered.org/t/chest-item-drop-bug/16224

When destroying a chest with items inside sometimes it does not drop the full stack and sometimes even nothing at all.

@gabizou (gravityfox wanted a tag for you)

EDIT: Happens to furnaces too.

SpongeVanilla-1.11-6.0.0-BETA-187

[2016-12-17 21:36] FiveEYZ commented on #795
Still unable to destroy the crystals after re-summoning the dragon.

spongeforge-1.10.2-2171-5.1.0-BETA-1992
forge-1.10.2-12.18.3.2185-universal

turns out it had nothing to do with draconic evo

[2016-12-18 01:25] me4502 commented on #1074
Related to https://github.com/SpongePowered/SpongeCommon/issues/1047

[2016-12-18 01:38] #1078 closed, assigned to nobody

[2016-12-18 02:01] windy1 commented on #1074
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/73ce67dcc44213c936eeeb4b30d2825a419f7b8e

Gonna work on a few other fixes before this gets merged. Will also require an API change because `Human` must extend `Living` and not `Creature` because of `DataParameter` ID collisions. @gabizou

This was causing an expected byte data param to actually be a float. Specifically `AI_FLAGS`.

[2016-12-18 04:17] simon816 commented on #1074
@windy1 `EntityHuman` should extend at least `EntityLiving` in order to attach AI, handle armor inventory and a few other things.

What seems to be the case is that it's using DataParameters from EntityPlayer and merging them with parameters in EntityLiving.
From what I can tell, DataParameters are supposed to be private instances for a particular entity. I think all that needs to happen is to def

[2016-12-18 05:09] windy1 commented on #1074
@simon816 Yes that's exactly what's happening and you might be on to something there. Are the player parameters even used elsewhere? Are they necessary at all even?

[2016-12-18 15:28] #1073 closed, assigned to stephan-gh

[2016-12-18 16:27] simon816 commented on #1074
OK So I just realised a slight problem with the attributes. Using private instances of the parameters will still cause issues.
Index 11 now overlaps from ['Player'](http://wiki.vg/Entities#Player) and ['Insentient'](http://wiki.vg/Entities#Insentient)
On the client, it spawns an `EntityOtherPlayerMP` therefore the client expects all attributes from Player to exist at the indexes listed on http://w

[2016-12-18 16:35] windy1 commented on #1074
@simon816 The lack of AI_FLAGS being registered was the cause of the initial issue when the entity was being written to NBT and `EntityLiving` expects it to write the handedness property. I believe it's critical in other places on the server as well for `EntityLiving`.

[2016-12-18 23:27] Zerthick opened #1082 "Inventory#query throws NullPointerException when querying for CraftingOutput.class in Workbench inventories"
As the titles says, when querying a Workbench inventory for [CraftingOutput.class](http://jd.spongepowered.org/5.0.0/org/spongepowered/api/item/inventory/crafting/CraftingOutput.html) a null pointer exception is thrown.

*SpongeVanilla 1.10.2-5.1.0-BETA-366*

**Stacktrace:**
[code]

**Code:**
[code]

Of note however is this code works perfectly for player inventories.

[2016-12-19 00:01] codeHusky opened #1083 "Inventory#contains() and similar not implemented"
Trying to check if an Inventory contains a certain item type or item stack returns a static "false". This is a really, really useful feature that needs to be implemented.

[2016-12-19 14:25] codeHusky commented on #1058
I did notice that on some rare occasions, method parameter names don't match up with parameter types. Someone must've been drunk over at Forge last month.

[2016-12-19 16:37] Limeth commented on #1058
Having the same issue. When I post an implementation of the `ChangeBlockEvent.Place`, the block is placed and a sound of a dog breathing is played.

[2016-12-19 16:44] ziceptor commented on #1079
I confirm that I have the same error.

forge-1.11-13.19.1.2195-universal.jar
spongeforge-1.11-2195-6.0.0-BETA-2001.jar

[2016-12-19 17:10] codeHusky commented on #1058
@Limeth That's, uh, kind of terrifying.

[2016-12-20 08:41] Limeth opened #1084 "Exception when creating the `FishHook` entity"
This line of code:
[code]

Results in this error:
[code]

Additionally, I don't think there's a method on `FishHook` to set the entity who casted the hook.

[2016-12-20 13:56] JBYoshi commented on #1084
All fishing hooks need to be launched by a `ProjectileSource` (typically either a dispenser or an entity). Use `ProjectileSource.launchProjectile()` instead.

[2016-12-20 16:21] Limeth commented on #1058
Snowmen have skeleton sounds. Weirdly, this bug is only affecting my local server instance, I am not encountering any odd sounds on my public server. Maybe something got incorrectly generated somewhere? Weird.

[2016-12-20 16:25] Limeth commented on #1084
I see. Would it be possible to make an `ArmorStand` cast a fishing rod, even though it's not an instance of `ProjectileSource`?
Maybe this should be documented somewhere, or possibly the error could explain what to do.

[2016-12-20 16:33] Limeth opened #1088 "Calling `ChangeBlockEvent`s affects the world"
If I implement the `ChangeBlockEvent.Place` and send it to the event manager using `EventManager#post(Event)`, the block is placed after the event is processed, if the method didn't return `true` (didn't get cancelled).
I want to change the place sound to something else, but I can't remove the sound caused by the automatic placement of the block.

I may have figured out one workaround:
Instead of

[2016-12-20 17:13] #1083 closed, assigned to nobody

[2016-12-20 17:15] codeHusky commented on #1083
@Faithcaio thank you omg

[2016-12-20 17:16] Faithcaio commented on #1083
I hope you dont need "exact" contains which checks for the stack size too. That might only come after an API change.

[2016-12-20 17:18] codeHusky commented on #1083
That would be nice, but this will work for now. I'm not sure why I even needed contain ATM but I'll figure it out.

[2016-12-20 17:25] Faithcaio commented on #1083
Well with a contains WITH amount you could check if a player has at least x of an item.
You can still do that now by comparing: `inventory.query(stack).totalItems()`

This one only checks if you have any amount of given ItemStack

[2016-12-20 23:14] kashike commented on #1084
No, this is a vanilla issue. There is no `World`-only constructor in `EntityFishHook`.

[2016-12-20 23:21] Zidane commented on #1084
@kashike

It wouldn't be pretty but we could add an interface under Entity that would classify Entities that can be created this way (and not via launchProjectile). That way, it becomes quite clear you can't do this simply cause the projectile wouldn't be of that type.

[2016-12-21 00:57] simon816 commented on #1084
In `MixinWorld#createEntity` there is the ability to use a specific constructor if the expected one doesn't work.
Note that in my PR from long ago (https://github.com/SpongePowered/SpongeCommon/pull/37) I commented that spawning a fish hook doesn't work in some cases. I think this is still an issue

[2016-12-21 02:25] vectrixdevelops commented on #1079
Got an error for this. https://gist.github.com/connorhartley/68c6756b2e39d72571bfe626a0e556f5

[2016-12-21 18:16] JBYoshi commented on #1088
I can't reproduce this. Could you post your code and the versions of Sponge and (if applicable) Forge?

[2016-12-21 21:45] Limeth commented on #1088
I found out it was entirely my fault, I must've got lost in my code when I sent this issue. Please, forgive me for wasting your time. :blush:
[Derp](https://github.com/Limeth/CustomItemLibrary/commit/48c6092a34424c15672b5be292346e022d10d83d).

[2016-12-21 21:45] #1088 closed, assigned to nobody

[2016-12-22 01:01] Cybermaxke commented on #150
This issue should be closed, negative quantities are no longer allowed in 1.11

[2016-12-22 18:15] #150 closed

[2016-12-22 18:59] Limeth opened #1091 "`Location#setBlockType` does not trigger a block update"
When I use the following line of code on a block surrounded by water, the water doesn't update.
`location.setBlockType(BlockTypes.AIR, BlockChangeFlag.ALL, cause);`

Version:
`forge-1.11-13.19.1.2195-universal.jar`
`spongeforge-1.11-2195-6.0.0-BETA-2004.jar`

[2016-12-23 05:05] codeHusky opened #1093 "ClientConnectionEvent.Login not fired when banned user tries to join"
For some reason, and I'm not quite sure exactly why, Login is not fired when a banned user attempts to join.
[code]

[2016-12-23 07:56] gabizou opened #1094 "Upgrade policy on CatalogTypes"
So, having the native data fixers for upgrading old serialized world data, and Data API's own `ContentUpdater` system, I've figured it would be relatively easy to figure out how to make a system to where queries for various `CatalogType`s could alternatively no longer fail (due to either type name updates between MC versions, or types being removed altogether). What I've considered was a registrat

[2016-12-23 12:02] simon816 commented on #1093
Try `ClientConnectionEvent.Auth`. I think the ban check happens there

[2016-12-23 14:14] windy1 commented on #1094
Sounds like a good idea. On a slightly different note, I noticed it would be nice if `CatalogType`s could be serialized directly to NBT natively via the data API for custom data implementations.

[2016-12-23 14:42] Zidane commented on #1094
Honestly, I like the idea but might be trying to go too far in the realm of perfection. I can see this leading to developer laziness as why update the id if the registry module will just "remap" it to the correct one for you?

[2016-12-23 17:51] Aaron1011 commented on #1093
If the player is banned, the event will [be automatically cancelled](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/event/network/ClientConnectionEvent.java#L95-L102), which means that you'll need to use `@IsCancalled(Tristate.UNDEFINED)`

However, this behavior isn't very intuitive, so I'm thinking of changing it to pass in some kind log 'LoginCause'.

[2016-12-23 20:12] gabizou commented on #1094
@Zidane because the issue boils down to custom data, since the ID's are persisted between updates, updating the custom data through it is going to be a little different than just developer laziness.

Catalog types are currently serialized by their ID's. Not sure how you'd want them to be serialized any other way.

[2016-12-23 22:17] windy1 commented on #1094
@gabizou Maybe I'm doing something wrong, but I get an exception in `NbtTranslator` when trying to serialize a `CatalogType`. I looked at the code and it looks like there are only cases for primitives and `DataSerializable` which `CatalogType` does not extend.

https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/data/persistence/NbtTranslator.java#L98

[2016-12-24 03:22] me4502 commented on #1091
Potentially related to https://github.com/SpongePowered/SpongeCommon/issues/1054

[2016-12-24 13:13] ziceptor opened #1096 "crash-2016-12-22_23.36.41-server"
http://pastebin.com/8TtDXyhS

[2016-12-24 13:15] ziceptor opened #1097 "crash-2016-12-22_23.36.47-server.txt"
http://pastebin.com/ykSSbQaf

[2016-12-24 13:18] ziceptor commented on #1079
This happens with furnaces, dispensers, etc.

forge-1.11-13.19.1.2195-universal.jar
spongeforge-1.11-2195-6.0.0-BETA-2004.jar

[2016-12-24 13:45] ziceptor commented on #1079
http://pastebin.com/xuwXDyae

[2016-12-25 03:03] vectrixdevelops opened #1098 "ChangeBlockEvent.Break cancelling issues"
If you break a block, which a sign is hanging off. Cancelling the sign break event does not stop the sign item from dropping. Instead the sign is dropped along with the event for the block broken behind it. I do not think this is intended.

[2016-12-25 03:51] liach commented on #1098
You probably should subscribe to `org.spongepowered.api.event.block.ChangeBlockEvent`.

[2016-12-25 04:07] vectrixdevelops commented on #1098
Whoops that is what I meant yeah.

[2016-12-25 04:21] liach commented on #1098
You should try to listen to the outer class event but not the subclass one.

[2016-12-25 05:34] vectrixdevelops commented on #1098
I have. It still does the same thing.

[2016-12-25 19:43] Deamon5550 commented on #1096
Your server timed out, increase the max-tick-time or use a `/sponge timings` or a profiler to find out why your under too much load.

[2016-12-25 19:43] #1096 closed, assigned to nobody

[2016-12-25 19:54] TheRaspPie opened #1099 "Wrong block type in ChangeBlockEvent.Break"
Tested this in SpongeVanilla 1.11-6.0.0-BETA-190.

When a player breaks a block (or some other cause) the transaction contains a block state that has the block type `BlockTypes.AIR`. This happens regardless of which type the actual broken block has.

[2016-12-25 20:06] vectrixdevelops commented on #1099
Even for the original transaction?

[2016-12-26 04:28] me4502 opened #1100 "Starting a server without a DataManipulator present corrupts all TileEntities that had the data attached."
I accidentally started up my CraftBook test server earlier today without the plugin injected into the classpath - this of course caused all of the data to disappear. However, when I started it up again with the plugin, all of the signs that had the data attached are corrupted.

This is what they look like ingame, http://imgur.com/tE6HySD
There are no errors beyond the initial ones from the data ma

[2016-12-26 07:00] me4502 commented on #1099
Could you please provide some test code for this? Also, ensure that you're using getOriginal, rather than getFinal or getCustom

[2016-12-26 10:00] Faithcaio commented on #1049
@caseif is this still happening?

[2016-12-26 10:55] Faithcaio commented on #1082
This happens because there is no fallback lens for containers when the lens is not provided.
This will be fixed with https://github.com/SpongePowered/SpongeCommon/pull/1010

[2016-12-26 16:25] caseif commented on #1049
It looks to have been fixed by 8d8eb4b2c6200d6bfe4ba53675a498063020eed8 - I'll test it later today when I get a chance just to be certain.

[2016-12-26 17:45] caseif commented on #1049
The bug is resolved in `bleeding`.

[2016-12-26 17:45] #1049 closed, assigned to Faithcaio

[2016-12-26 18:29] Zerthick commented on #1079
I can confirm this also occurs for chests on spongevanilla-1.10.2-5.1.0-BETA-366

[2016-12-26 19:43] Faithcaio commented on #1079
Not quite sure how to solve it yet, but this is what I could figure out:

A registered `DropItemEvent.Destruct` Listener will get called twice.

After breaking the chest the entities are created and added to a list to pass onto events etc.

The error happens in the if block starting at `PacketFunction:432` (`state == INTERACTION`)
First the items are spawned at:
`PacketFunction:435` -> `TrackingUt

[2016-12-27 04:23] codeHusky opened #1101 "Can't set Inventory's name"
It's impossible to set an Inventory's name unless you create an entirely new Inventory through an InventoryBuilder. This is kind of delaying development of one of my plugins, and I don't see an actual reason why we couldn't change the inventory's name on demand.

[2016-12-27 04:41] kashike commented on #1101
This should be opened on the [API repo](https://github.com/SpongePowered/SpongeAPI/issues).

[2016-12-27 04:41] #1101 closed, assigned to nobody

[2016-12-27 07:54] gabizou commented on #1091
Yes, related entirely to #1054.

[2016-12-27 07:54] #1091 closed, assigned to nobody

[2016-12-27 08:38] gabizou opened #1102 "Refactor Custom Data Serialization"
Currently, Custom Data is serialized in a way where it's entirely based on a `Class` lookup. There are multiple problems with this.

This issue is more of a mental note for myself to fix.

The current structure of custom data in NBT is as follows:
[code]

As one can imagine, this doesn't bode well with persisting custom data when a plugin fails to load. What should happen however, is where custom

[2016-12-27 08:39] gabizou commented on #1100
Superseded by https://github.com/SpongePowered/SpongeCommon/issues/1102

[2016-12-27 08:39] #1100 closed, assigned to nobody

[2016-12-27 15:20] TheRaspPie commented on #1099
Ok, this is really embarrassing.
I was using getFinal instead of getOriginal. I really don't know how I missed that.
Thanks for your quick help anyway.

[2016-12-27 15:20] #1099 closed, assigned to nobody

[2016-12-29 00:22] ziceptor commented on #1096
This happened when the server starts. Due to the violation of the lower world.

[2016-12-29 01:22] codeHusky opened #1103 "Inventory/Slot#set() sets the slot, then all after the slot."
Instead of doing what is expected (setting the item of the current slot), set(ItemStack) sets the current slot, then any slot following it in an inventory for some bizarre reason. I haven't been able to figure out why, but I've replicated the issue multiple times on my test server.

[2016-12-29 01:25] codeHusky commented on #1103
Actually, just a weird bug with my custom built one. Closing.

[2016-12-29 01:25] #1103 closed, assigned to nobody

[2016-12-29 07:30] codeHusky opened #1104 "Player#isViewingInventory() needs to be implemented"
I'm trying to enforce keeping a certain inventory open on the client side, but this method always returns false, suggesting that it's not implemented.

[2016-12-29 10:37] Yeregorix opened #1105 "Custom Inventory issue"
I created a custom `Inventory` with archetype `MENU_GRID`, I filled the inventory with random items, every time I click on an item, all items disappear except the clicked one.
I remember having seen a similar issue in past but I can't find it anymore.
The server is a recent clone of SpongeForge/bleeding and there is no error in the log. Also, I'm cancelling any `ClickInventoryEvent.Primary` of the

[2016-12-29 13:45] Faithcaio commented on #1105
Could you provide your code (Inventory creation + Listener) please?

[2016-12-29 14:12] Yeregorix commented on #1105
http://pastebin.com/G867HwNq
http://pastebin.com/RVNgjNZS
http://pastebin.com/2qjHwW3H
http://pastebin.com/w3a9entG
These sources are part of a pretty big plugin, if you need some details just ask

[2016-12-29 14:31] Zidane commented on #1104
We accept PRs.

[2016-12-29 16:17] codeHusky commented on #1104
I'd love to do that if I understood anything besides your topmost layer of abstraction.

[2016-12-29 16:46] Zidane commented on #1104
@codeHusky

Fair enough, that is my blanket response to requests such as these in hopes I can convince someone to help :p.

[2016-12-29 18:01] Faithcaio commented on #1105
ok... so the ClickInventoryEvent has around 300-400 Transactions in it.
It seems the inventory changes made in the repeating task are attributed to the player. (accumulated via `MixinContainer#detectAndSendChanges`)
When canceling the event all of those transactions get reset.
@bloodmc @gabizou

[2016-12-29 18:06] Faithcaio commented on #1104
Well to be fair inventories are a mess...

But that method works for me. It is even implemented in the API interface: `return getOpenInventory().isPresent();`
What version are you using?

[2016-12-29 18:42] Yeregorix commented on #1105
This large number of transactions is only related to the item being clicked, or to the fact that the inventory is filled with many items randomly?

[2016-12-29 18:46] Faithcaio commented on #1105
Its the random items. But imo they should not be part of the Event.
On ClickInventoryPrimary there should be a single SlotTransaction.

[2016-12-29 20:44] Favorlock opened #1106 "The specified mapping 'snapshot_20161129' does not exist!"
Attempting to clone the repo and setup the workspace, however, I'm getting the error specified in the title. I've followed the steps as shown in the readme. Any ideas why I'm getting this error?

[2016-12-29 21:05] stephan-gh commented on #1106
Unfortunately, the server hosting the MCP mappings is down currently (http://export.mcpbot.bspk.rs). You will need to wait until it's back up.

[2016-12-29 22:19] parlough opened #1107 "Custom event fails to cast to AbstractEvent"
SpongeVersion: SpongeVanilla: 1.11.2-6.0.0-BETA-192

We are trying to post a custom event, but for some reason we get this problem where the event(which implements Event and Cancellable) fails to cast to AbstractEvent.

The custom event: https://github.com/IchorPowered/Latch/blob/master/src/main/java/com/meronat/latch/events/LockCreateEvent.java

The class we post the event from:
https://github.co

[2016-12-29 22:34] Deamon5550 commented on #1107
Duplicate #1024 Custom events need to extend `AbstractEvent`.

[2016-12-29 22:34] #1107 closed, assigned to nobody

[2016-12-29 22:49] char commented on #1106
Raises an issue concerning single-points-of-failure, really. (But that's out of scope for a SpongeCommon issue.)

[2016-12-29 23:17] #1106 closed, assigned to nobody

[2016-12-30 00:37] codeHusky commented on #1104
The latest publically available build of SpongeVanilla.

[2016-12-30 00:52] liach commented on #1097
Someone should close this

[2016-12-30 00:56] liach commented on #1061
Is this fixed?

[2016-12-30 08:35] Slind14 opened #1108 "Data inconsistency: player data and world save"
When using
[code]
and doing the save manually via. /save-all command the world and player data gets out of sync on shutdown (crash, out of mem..).

We are running the saves our self as we want the distance between saves to be in real time (to match the players experience of time) and so we can delay saves while backups are in progress to avoid corruption and inconsistency of backups.

[2016-12-30 17:32] gabizou commented on #1106
To be honest, the mappings repository being down would affect far more than just sponge at this point, since it's the backbone for forge modding and other modding development communities. That being said, it's the [internet, sometimes things go down.](https://www.cnet.com/news/google-goes-down-for-5-minutes-internet-traffic-drops-40/)

[2016-12-30 17:37] gabizou commented on #1097
Can't reproduce, and the NPE is pointing to non-sponge code. Re-open if it's reproduced on the latest build.

[2016-12-30 17:37] #1097 closed, assigned to nobody

[2016-12-31 03:08] Inscrutable opened #1109 "Dispensed Liquids not flowing, nor rendering on Client"
Dispensed Lava and Water is often invisible to players (using vanilla clients), and does not flow in this state. It does not always happen, but frequently enough to be disturbing. The blocks still exist, and have the appropriate effects on players, and are rendered properly if the players log out and in again, or die and return.

This was tested and confirmed by worm424, TrunksNeo and I on the 1.1

[2016-12-31 04:57] theboomer opened #1110 "[1.11] and [1.11.2] SPV SPF :Breaking containers gives partial drops, consistant Sponge errors"
_**[01:33:42] [Server thread/ERROR] [EntityTracker]: "Silently" catching entity tracking error.
net.minecraft.util.ReportedException: Adding entity to track**_

Noticed in Spongevanilla 1.11 (188) for a while now, spurious errors in logs, finally identified source and can highly reproduce: When breaking a chest or furnace (and likely other containers), anywhere from none to a few to almost all of

[2016-12-31 05:07] caseif opened #1111 "Player#getOpenInventory().get().first() causes NullPointerException"
The gist of it is that calling `player.getOpenInventory().get(),first()` can cause a `NullPointerException` to be thrown within Sponge. This is due to `InventoryAdapter#getRootLens()` returning `null` somehow. Stack trace is below.

https://gist.github.com/caseif/957eb9c66d9fc7732ad86781f96c0815

Replicated on SpongeForge #2010 with Forge #2171.

**Edit:** This seems to occur consistently when the

[2016-12-31 10:35] Faithcaio commented on #1111
This happens because there is no fallback lens for containers when the lens is not provided.
This will be fixed with https://github.com/SpongePowered/SpongeCommon/pull/1010

also duplicate to https://github.com/SpongePowered/SpongeCommon/issues/1082

[2016-12-31 10:35] #1111 closed, assigned to nobody

[2017-01-01 18:34] AshmitOld opened #1112 "Exception Exiting Phase"
This happens randomly in console
http://pastebin.com/DbJLBfDh
its upside down
not sure sure if this is the right section but thought i should just inform
sorry if this is nothing important

[2017-01-01 19:01] Aaron1011 commented on #1112
Can you pastebin your full `fml-server-latest.log`?

[2017-01-01 19:44] Zerthick opened #1113 "Deserializing Booleans in Custom Data from Config Nodes throws InvalidDataException"
While working with saving items with custom data attached to config nodes I've discovered some strange behavior with regards to how Booleans are serialized and deserialized. Booleans are correctly serialized to either a 1 or 0 when saved in a custom data manipulator, however, when the relevant DataManipulatorBuilder attempts to reconstruct the itemstack from the config node an `InvalidDataExecepti

[2017-01-01 20:28] AshmitOld commented on #1112
tried but
![image](https://cloud.githubusercontent.com/assets/24188806/21582906/f327c2e4-d08e-11e6-9f2a-016e222cf87a.png)

[2017-01-01 21:30] chasem-dev commented on #1057
I was wondering if this could be added to 1.10!

Also, would it be possible to add a way to prompt/send the player the resourcepack on our own terms? Say from a command or some sort of NPC.

Tried something along the lines of
player.sendResourcePack(Sponge.getServer().getDefaultResourcePack().get());

[2017-01-02 04:43] JBYoshi commented on #1057
The default resource pack is automatically sent when the player joins. You can't change that behavior. However, you can remove it from `server.properties` and create and send your own.

[2017-01-02 04:44] JBYoshi commented on #1112
You can try https://gist.github.com. I believe the limits are much higher there.

[2017-01-02 08:14] AshmitOld commented on #1112
https://gist.github.com/Ashmit7509/041e60fa37de3a05c640862702f3a2ee
there you go that has the same error happening again with a diff ign too

[2017-01-02 19:56] JBYoshi commented on #1104
@On my end, it always returns true. <s>I'm fixing always returning true</s>, but I can't reproduce the original problem.

[2017-01-02 20:53] TheSebakl opened #1114 "Velocity 0 to launch projectile"
When i do player.launchProjectile it doesn't give velocity
the problem come from modulo system i think

[2017-01-02 22:32] Zerthick commented on #1110
Duplicate of #1079

[2017-01-02 22:41] Cybermaxke commented on #1104
I already opened a pr to fix this issue (always returning true). #1011

[2017-01-03 01:35] TheRaspPie opened #1116 "Error while loading migrated Bukkit world"
1. Migrate worlds from Bukkit by dropping them into the server folder and starting.
2. Load one of these worlds. Loads just fine.
3. Load a second one of these worlds. The console shows the following error:

[code]

The error points to this line:
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/world/WorldManager.java#L331

So I suspect that someho

[2017-01-03 03:13] JBYoshi commented on #1114
What projectile are you trying to launch? Sponge has different behavior for each type.

[2017-01-03 03:32] #1109 closed, assigned to nobody

[2017-01-03 04:03] Rasgnarok opened #1118 "[1.10.2 SF] Too many files open with Chunk Unload"
Using `lsof` in my linux terminal to find open files and print them into a folder, I found that there were approx. 130-140 region files there with 30 players online - and of course, `view-chunk-distance` is very low. This normally also parallels an error seen after the server has been running for 6+ hours, where console is suddenly flooded by "Too Many Open Files" java errors.

Here is a timings,

[2017-01-03 08:51] JonoColwell commented on #795
This issue is still occurring, any updates?

@gabizou?

[2017-01-03 09:12] FiveEYZ commented on #795
only after changing gamemode to creative are you able to interact with the newly re-spawned crystals
then anything will work to destroy them even a arrow shoot by someone in creative.

stuff done in survival wont do anything

the dragon can still be killed and resummoned again, even if the crystals are intact if enough damage is done.

[2017-01-04 14:14] XakepSDK commented on #1079
spongeforge-1.11.2-2201-6.0.0-BETA-2018.jar
forge-1.11.2-13.20.0.2201-universal.jar
has same error.

[2017-01-05 04:44] bloodmc commented on #1118
Set "deny-chunk-requests" to true in global.conf then retest. This is normally true by default to prevent many chunk load requests, from various sources, loading unneeded chunks.

[2017-01-06 19:12] Rasgnarok commented on #1118
Has not happened since - 41 players and 1760 chunks. I believe that is acceptable, non?

[2017-01-06 20:56] caseif opened #1120 "Server#getBoundAddress throws IllegalArgumentException"
If `DedicatedServer#getHostname` returns `null`, `Server#getBoundAddress` will throw an `IllegalArgumentException`. [This line](https://github.com/SpongePowered/SpongeCommon/blob/e7841a5/src/main/java/org/spongepowered/common/mixin/core/server/MixinDedicatedServer.java#L633) is the culprit.

[2017-01-07 01:37] EchoF commented on #795
Any word on this issue? It's making it impossible to kill the ender dragon on servers.

[2017-01-07 04:33] gabizou commented on #795
Yes, it's being worked on.

[2017-01-07 08:54] Yeregorix commented on #1105
Would calling `detectAndSendChanges()` (without capturing transactions) before the `CPacketClickWindow` and `detectAndSendChanges()` (capturing transactions) after the `CPacketClickWindow` fix the issue? It would separate plugins's transactions and players's transactions

[2017-01-07 14:21] leonbaronick commented on #1058
Definitely reproducable but it only happens with spongeforge. spongevailla works fine. It also happens with just forge installed so i think it is a forge bug and has nothing to do with sponge.

[2017-01-07 14:29] stephan-gh commented on #1120
When would `getHostname()` return null? This sounds like you are calling it before `server.properties` is actually loaded.

[2017-01-07 19:31] Deamon5550 commented on #1058
Is there a forge issue open for this then?

[2017-01-07 20:01] Zerthick opened #1121 "API 6 Allow Setting the Quantity of an Itemstack to -1"
It seems in API 6 the ability to set the quantity of an ItemStack to -1 was removed, however this functionality is necessary for [Inventory#Query](https://jd.spongepowered.org/6.0.0-SNAPSHOT/org/spongepowered/api/item/inventory/Inventory.html#query-org.spongepowered.api.item.inventory.ItemStack...-)  as setting the quantity to -1 is how you query ignoring the size of the actual itemstack. Either t

[2017-01-07 20:23] Deamon5550 commented on #1121
Covered by Spongepowered/SpongeAPI#1437

[2017-01-07 20:23] #1121 closed, assigned to nobody

[2017-01-07 23:07] kashike commented on #1058
https://github.com/MinecraftForge/MinecraftForge/issues/3613

[2017-01-08 03:14] caseif commented on #1120
I have no idea why it would be `null`, but this is happening long after server initialization.

[2017-01-08 16:58] TheSebakl commented on #1114
i tried to launch a snowball, i do player.launchProjectile(Snowball.class)
(i don"t have my codes open here)
and the snowball spawn at player and fall like a sh*t

[2017-01-08 17:21] Maxqia opened #1122 "Objective.Builder NPE"
SpongeObjectiveBuilder throws a NPE when there isn't a display name set. That should instead take the value of name and use that instead (which it does in SpongeObjective).

Fix (For Me) : https://gist.github.com/Maxqia/faca58415c68b6a0afd5207e866e5bb3

[2017-01-08 21:45] vectrixdevelops opened #1123 "Mixin error"
For the newest versions of experimental 1.11.2 SpongeVanilla (which I have tested, may also occur on SpongeForge) there is a mixin error at launch.

https://gist.github.com/connorhartley/e3c8c0eb8f5ed0b5ef3c9068b142e224

Running a completely new server with no plugins.

[2017-01-08 23:28] #1122 closed, assigned to kashike

[2017-01-09 01:23] Maxqia commented on #1123
Yup. Testing against 629b59f3c1bf57a2c6df57a179b2473965713f72 works though (haven't run a bisection yet, but I'd guess that  657d1ace3afb9b187464a218845f9f791b15950b broke it)

[2017-01-09 01:41] #1123 closed, assigned to nobody

[2017-01-09 01:41] Rasgnarok commented on #1118
Have now 15 players, and 1400 chunks as per timings. https://timings.aikar.co/?id=c08638d849a843fdb6e9f40f4bbe0da6

[2017-01-09 13:33] Mumfrey commented on #1123
Why did you assign me? I already fixed this,

[2017-01-09 15:07] stephan-gh commented on #1123
@Mumfrey I've assigned you because you fixed it, not because you still have to fix it. ;)

[2017-01-09 17:20] codeHusky opened #1124 "Setting an inventory slot causes a cascade of setting"
When you set a certain slot's value, you set all of the slots below or to the right of it to that same item, no matter what.

[2017-01-09 17:29] windy1 commented on #1124
I've also experienced this.

[2017-01-09 18:17] codeHusky commented on #1124
This makes it fairly hard to make Chest GUIs that work on higher latency clients, so a fix ASAP would be perfect.

[2017-01-10 03:16] caseif opened #1125 "FishingEvent.Stop does not fire if no entity is hooked"
Not sure if this is by design or not. If it is, the problem lies in SpongeAPI instead, in that no event exists for when fishing concludes without an entity being hooked.

[2017-01-10 19:48] JessiahC opened #1126 "World Save Method not implemented"
Class org.spongepowered.api.world.World;

World.save() Method is not implemented, results in:
`
java.lang.AbstractMethodError: Method net/minecraft/world/WorldServer.save()Z is abstract at net.minecraft.world.WorldServer.save(SourceFile) ~[ls.class:?]`

Moving from API to SpongeCommon as per https://github.com/SpongePowered/SpongeAPI/issues/1458

[2017-01-10 22:29] vectrixdevelops opened #1127 "EnchantmentData translation error"
https://gist.github.com/connorhartley/23b3a362bea664c3a764577c9e43d951

[2017-01-12 07:37] vectrixdevelops opened #1128 "ChangeDataHolderEvent implementation progress"
Is the ChangeDataHolderEvent being worked on somewhere? 🍰

[2017-01-12 08:30] me4502 commented on #1128
Potential answer, https://github.com/SpongePowered/SpongeCommon/issues/742#issuecomment-262993173

[2017-01-12 22:28] rexbut opened #1129 "Error Ban.Profile#getCreationDate()"
Ban.Profile#getCreationDate() return the value of Ban.Profile#getExpirationDate().

There is an error in the UserListBansEntry :
![Error](http://image.noelshack.com/fichiers/2017/02/1484259647-ban.png)

[2017-01-13 02:15] gabizou commented on #1128
No, don't open issues just asking about the progress of them. As they're added to the API, they will be implemented.

[2017-01-13 02:15] #1128 closed, assigned to nobody

[2017-01-13 19:51] JonathanBrouwer opened #1130 "Error when breaking leaves"
This error is printed in the console when I break a leaves block.
http://pastebin.com/FeqNJB5a
Also happends with no mods installed (only spongeforge)

EDIT: This seems to only happen when I run a test server in intellij

[2017-01-14 00:04] ghost opened #1131 "Pixelmon breaks and can not be thrown out"
After seeing this in console:
https://hastebin.com/yihoveyibu.css < -- Not sure if this is related!

....Pixelmon are unable to be thrown out and seem to not even register to try to be thrown out due to no "X has been sent out" message in chat. Seems to happen frequently on Sponge version 2029.

http://pixelmonmod.com/tracker.php?p=2&t=11375

[2017-01-14 00:08] Rasgnarok commented on #1131
Referencing off of this, does it happen in the same manner as these two times?
https://github.com/SpongePowered/SpongeForge/issues/949
https://github.com/SpongePowered/SpongeForge/issues/901

[2017-01-14 00:57] #1131 closed, assigned to nobody

[2017-01-14 05:02] ghost opened #1132 "Server crash"
Issue opened by request of Blood:
http://pastebin.com/2eayAW22

[2017-01-14 06:47] parlough opened #1133 "SlotTransactions from other viewers of containers are included in your slot transactions"
So there is a duplication bug with our locking plugin Latch. We have a donation chest which only people who are added to can remove from but everyone can add to. How it works is basically the people who are not the owner or added as an accessor cannot remove items, move them, or similar. The problem arises when someone without access is viewing someone with access removing items. Once the person w

[2017-01-14 06:52] Faithcaio commented on #1133
might be related to: https://github.com/SpongePowered/SpongeCommon/issues/1105

[2017-01-14 07:39] parlough opened #1134 "Sometimes removing items from chest calls/posts ClickInventoryEvent but has 0 transactions"
We cancel removal of items from containers for people without access, but for some reason if they keep shift clicking fast enough sometimes ClickInventoryEvent is called/posted but has zero transactions so we cannot cancel the movement of that item and they can take from someone else's container.

You can see how we tested this with the log statements in our [ClickInventoryEvent listener](https://

[2017-01-14 07:54] joeyasselin commented on #1105
@Yeregorix One thing you can do until the issue is fixed is filter out the transactions from the event yourself. If you remove them from the event.getTransactions() list I found that I was able to prevent items from reappearing/disappearing when I cancelled the event.

[2017-01-14 08:42] Yeregorix commented on #1105
The idea is good but I don't see how to differentiate plugins's transactions and player's transactions.

[2017-01-15 03:46] #1132 closed, assigned to nobody

[2017-01-15 19:20] simon816 commented on #1129
Looks like a mistake in vanilla.
I quickly tested by getting the vanilla server to convert an old `banned-players.txt` file to the new format because it calls this constructor.
[code]

[code]
"created" should be `2016-01-01 12:00:00 +0000` but is instead `2018-01-01 12:00:00 +0000`

[2017-01-15 19:54] simon816 commented on #1114
I have confirmed this issue. It appears that Mojang changed the `EntityThowable` constructor and moved some velocity handling logic into a new method that needs to be called by the calling party.
Since sponge's projectile launcher hasn't been updated to reflect these changes the velocity isn't getting set.

[2017-01-16 21:46] #1114 closed, assigned to simon816

[2017-01-17 10:49] me4502 opened #1139 "Error when clicking respawn in the Nether"
Players are unable to respawn in the nether.

http://pastebin.com/SvWb1EL7

[2017-01-17 17:57] srs-bsns opened #1140 "ClassCastException in WorldManager when calling DimensionManager#getDimensions from MCF"
Making a call to `net.minecraftforge.common.DimensionManager#getDimensions` from a Forge mod produces a `ClassCastException` in `org.spongepowered.common.world.WorldManager#getRegisteredDimensionIdsFor`

---
[code]
---
Introduced here: https://github.com/SpongePowered/SpongeCommon/commit/6fcfe3834d6cc2d63fdb7cb93858cc7f006c6abd#diff-a8aa5fca736782044847540106419020R214

But the same code exists in

[2017-01-17 18:10] simon816 commented on #1139
Huh. History repeats itself
https://github.com/SpongePowered/SpongeVanilla/commit/9e4f711d0f230614cf1477b717ec72825f04830e#diff-37b668064b9c94b0afaa1f7e5ab1c7afL66

https://github.com/SpongePowered/SpongeVanilla/commit/09edb026ecfb7f3475691d446c0359e6ae77eb54#diff-37b668064b9c94b0afaa1f7e5ab1c7afR71

https://github.com/SpongePowered/SpongeVanilla/commit/19e3158daa8e73d7677fed1d11a8479bb17794a6#dif

[2017-01-17 19:01] #1139 closed, assigned to nobody

[2017-01-17 21:29] ghost opened #1142 "NullPointerException loading configuration"
I have ran into an issue loading configs (Initial discussion: https://forums.spongepowered.org/t/nullpointerexception-loading-configuration-after-initial-save/16648/7).

I believe this may be an issue in Sponge.

[2017-01-17 23:34] vorburger opened #1143 "ClassEventHandlerFactory method.getDeclaringClass() instead of getClass().getClassLoader()"
Would there be any way that 1 & 1/2 years later I would be able to do anything to convince you to accept the 2 line change I had originally proposed on https://github.com/SpongePowered/SpongeCommon/pull/82/files after all, to use `method.getDeclaringClass()` instead of `getClass().getClassLoader()` in [ClassEventHandlerFactory](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/j

[2017-01-17 23:39] Deamon5550 commented on #1143
That change wasn't actually valid as the classloader would be immediately garbage collected and the generated class with it. There is however a PR open right now (#1090) which does the same thing in a better way.

[2017-01-17 23:39] #1143 closed, assigned to nobody

[2017-01-18 08:54] #1013 closed, assigned to nobody

[2017-01-19 04:41] parlough opened #1144 "ChangeBlockEvent does not ever include blocks broken by piston"
I am trying to detect if a piston breaks a block, but for some reason the broken block is never part of the transactions(or cause) of any ChangeBlockEvent, only the piston tile entity. This is the print out of the cause and transactions when a piston is breaking a door.

http://pastebin.com/MaWT246W

SpongeVanilla
    Minecraft: 1.11.2
    SpongeAPI: 6.0.0-SNAPSHOT-4fbaf78
    SpongeVanilla: 1.11.

[2017-01-19 04:57] parlough commented on #1144
This happens for all blocks that can be destroyed, not just doors, for example flowers.

[2017-01-19 07:42] DawnTheFawn1 opened #1145 "Player#getLocale() seems to always return Locales.EN_US"
I'm working on a system for my plugins going forward where I want to translate a message differently depending on their locale. As of spongeforge 5.1.0-BETA-2042 for 1.10.2, getting a player's Locale doesn't seem to work properly. Here's a short demo [video](https://youtu.be/RuzrAconSZE) and using [this](http://pastebin.com/8Gd7Gv5f) code for the output shown in the video.

[2017-01-19 07:55] kashike commented on #1145
`Player#getLocale` will *always* return `en_US` when a client joins - the `Player`'s locale gets updated after joining, when packet `0x04`/`CPacketClientSettings` is sent to the server.

[2017-01-19 07:55] #1145 closed, assigned to nobody

[2017-01-19 07:59] DawnTheFawn1 commented on #1145
Yea, I apologize for this, I for some reason thought that packet was sent before the player finishes joining the server. I was sending a message on join previously to test which was also why my previous tests weren't working. I guess in the future I should really test more thoroughly next time, I'm sorry for the trouble.

[2017-01-19 20:53] JonathanBrouwer opened #1146 "NullPointerException while getting invalid gamemode"
I get a NullPointerException when I request an invalid gamemode, while it should just return Optional.empty().

Example error:
http://pastebin.com/wYQuH9AC

This is caused by this line:
https://github.com/SpongePowered/SpongeCommon/blob/9e6acff2f9c25f346151420d368a26a0e3578a5b/src/main/java/org/spongepowered/common/registry/type/entity/GameModeRegistryModule.java#L50

Optional.of() should be repla

[2017-01-19 21:22] ST-DDT commented on #1146
See also: https://github.com/SpongePowered/SpongeCommon/issues/739

Last time I checked it wasn't.

[2017-01-20 15:46] Bammerbom commented on #1146
I wouldn't consider this an OCD issue, considering it actually breaks stuff, but I might be wrong.

[2017-01-20 16:44] TheRaspPie commented on #1116
Still occurs on _SpongeVanilla 1.10.2-5.1.0-BETA-366_.

EDIT:
I may also note that worlds that have the same internal name (saved in NBT), but different folder names, both appear as their internal names, not their folder names, in the server log.
Maybe we should only ever use the folder name, and stop relying on the NBT name completely. Also, world UUIDs seem to make problems all the time, if two

[2017-01-20 18:39] #1146 closed, assigned to kashike

[2017-01-20 20:07] caseif opened #1148 "Backporting closeInventory fix to stable-5"
Currently, `Player#closeInventory` does not work at all in `stable-5`. I'd like to request that a0e0fb0c302df092af762c1d2e8b41379f037730 be backported to allow use of this method.

[2017-01-21 01:46] bloodmc commented on #1144
Pistons are tracked differently than others, the list of blocks it affects will be available in ChangeBlockEvent.Pre

[2017-01-21 01:46] #1144 closed, assigned to nobody

[2017-01-21 06:47] #1148 closed, assigned to nobody

[2017-01-21 12:37] lesbleu commented on #1129
I opened an issue on Mojang.
https://bugs.mojang.com/browse/MC-112684

[2017-01-21 16:53] simon816 commented on #1142
Here's the sample peice of code that causes the NPE:
[code]

[2017-01-21 21:53] OldDogy commented on #795
any news on this ? it's been quite a while :/

[2017-01-21 22:40] #1055 closed, assigned to stephan-gh

[2017-01-21 22:58] #1140 closed, assigned to stephan-gh

[2017-01-21 23:58] #1110 closed, assigned to nobody

[2017-01-22 00:20] stephan-gh commented on #1126
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/b676c6feba5ce865c65fe693457920b85e0d18dd

[2017-01-22 00:20] #1126 closed, assigned to nobody

[2017-01-22 00:25] #1120 closed, assigned to nobody

[2017-01-22 16:08] TheSebakl opened #1150 "InteractBlockEvent.Secondary bug with alex"
I report a bug about the event InteractBlockEvent.Secondary, who is not active when you are alex.

[2017-01-22 16:45] liach commented on #1150
?

[2017-01-22 16:47] TheSebakl commented on #1150
When i try the event InteractBlockEvent.Secondary with an account with Alex skin, the event is not read.

[2017-01-23 01:52] #795 closed

[2017-01-23 09:11] randombyte-developer opened #1152 "TextTemplate and Text.Builder inconsistency"
[code]

`t1` and `t2` are right: The `[Click]` part can be clicked and the `[NoClick]` part not.
In `t3` the `[Click]` and `[NoClick]` part can be clicked.

Is this intended or am I using it in a wrong way?

<sub>I hope this is correctly placed in SpongeCommon</sub>

Edit: I found a workaround:
`Text clickText = Text.of(`__Text.of()__`, TextActions.suggestCommand("Clicked!"), "[Click]");`

Also I

[2017-01-23 09:16] parlough opened #1153 "Cannot control pagination padding color properly"
I am trying to create a paginated list and attempting to set the padding to gray equal signs but for some reason the color I set is not what appears. The code is for the list called "IPLog Help" in the screenshot.

![image](https://cloud.githubusercontent.com/assets/18372958/22198008/2f6f5bae-e11a-11e6-88fa-217a6a04b128.png)

[2017-01-23 22:30] dogboy21 opened #1154 "Commands with same name override their permissions"
_To illustrate this issue I'm using Pixelmon, but every other plugin should work too_
Pixelmon adds an administrative `/unlock` command with the permission `pixelmon.command.unlock`. If there's another plugin which also adds a command named `/unlock` the permission node required for the Pixelmon command gets overwritten.
I created [a plugin](https://github.com/dogboy21/PermissionTest) to demonstra

[2017-01-23 22:42] ryantheleach commented on #1154
related: https://github.com/SpongePowered/SpongeCommon/pull/1008

[2017-01-23 22:43] dogboy21 commented on #1154
Oh, okay. I haven't found an issue for this ^^

[2017-01-24 13:46] TheSebakl opened #1155 "Get custom of Anvil inventory"
I want to get the final item of an custom inventory of anvil, i can have default, but not the custom item, it's return Optional.empty

Thx

[2017-01-24 13:53] TheSebakl opened #1156 "Armor Stand Invisibility"
Hello, for a lot of design i need to use Armor Stand, but i can't use a command block.
it's sad to have an armorstand visible... do you know when the invisibility data will be implemented?
thx

[2017-01-24 13:59] me4502 commented on #1156
I believe this is already implemented. What code are you using?

[2017-01-24 14:04] TheSebakl commented on #1156
oh, yes, i've not tested since i putted the code. i asked because i will need it in few days. Thx ;-)

[2017-01-24 14:04] #1156 closed, assigned to nobody

[2017-01-24 15:29] JonathanBrouwer commented on #1130
I can no longer reproduce this on my server, so I guess it got fixed.

[2017-01-24 15:29] #1130 closed, assigned to nobody

[2017-01-25 04:32] pie-flavor commented on #956
@Zidane I had almost forgotten about this, but it should not be closed as it is still true in the latest build (1.11.2-6.0.0-BETA-206).

[2017-01-25 05:01] gabizou opened #1158 "Implement MixinItem#getDefaultProperty"
General todo, since most `ItemStack` related properties are defined by their `ItemType`, this method was missed to be implemented.

[2017-01-25 15:26] JonathanBrouwer opened #1160 "Getting a key by id doesn't work"
All of these return Optional.empty()
Sponge.getRegistry().getType(Key.class, "health")
Sponge.getRegistry().getType(Key.class, "HEALTH")
Sponge.getRegistry().getType(Key.class, "sponge:health")
Sponge.getRegistry().getType(Key.class, "sponge:HEALTH")

Related IRC discussion:
http://pastebin.com/hEF0sFRh

[2017-01-26 03:18] Time6628 opened #1162 "ParticleTypes.MOB_SPELL is the incorrect effect"
mobSpell via /particle command: http://i.imgur.com/ZGLWwHp.png
MOB_SPELL from Sponge: http://i.imgur.com/YugcLFK.png
it's the little circles, they just fly everywhere even with no velocity set

Sample Code:
[code]

[2017-01-26 03:33] drakmirv opened #1163 "server.saveWorldProperties doesn't appear to save values to world.conf"
Edits to the WorldProperties object are saved into level.dat on server.saveWorldProperties(...) calls.

However, the values contained in config/sponge/worlds/minecraft/overworld/<worldname>/world.conf file are not updated.

This results in those values being overridden on the next server startup / world load.

A workaround that seems to work is to call this immediately after calling saveWorldPrope

[2017-01-26 06:32] rexbut commented on #1162
[ParticleRegistryModule Line 135](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/registry/type/effect/ParticleRegistryModule.java#L135) : It's not EnumParticleTypes.END_ROD but EnumParticleTypes.SPELL_MOB

[2017-01-26 18:50] #1054 closed, assigned to nobody

[2017-01-26 18:55] #1162 closed, assigned to nobody

[2017-01-26 20:05] #1125 closed, assigned to Aaron1011

[2017-01-27 05:10] joeyasselin commented on #1074
@windy1 I'm noticing this issue too, but no error like me4502 mentioned above. Is this issue fixed in the fix/humans branch or is there more to do?

[2017-01-27 13:59] rexbut opened #1164 "Unnecessary permission verification : "minecraft.commandblock""
Every time there is a placement of block, there is a check of the permission "minecraft.commandblock" : [MixinPlayerInteractionManager : Line 189](https://github.com/SpongePowered/SpongeCommon/blob/5f7115501a5f8201ed772be1e37fa8902ef00043/src/main/java/org/spongepowered/common/mixin/core/server/management/MixinPlayerInteractionManager.java#L189)

Would it be possible to verify that the item is rea

[2017-01-27 16:41] lantren opened #1165 "unable to save world difficulty"
any time a single worlds difficulty is changed it gets changed back to what it was before after a server restart.

so for example. world "A" and world "B" both have a difficult of easy. If you change world "B" to have a difficulty of normal. It only stays that way until the server is restarted.

[2017-01-27 19:42] caseif opened #1166 "Cancelling an InventoryClickEvent and closing the inventory on the same tick results in erratic behavior"
In the case that an `InventoryClickEvent` is cancelled and the inventory in question is closed on the same tick, erratic behavior will occur and [an exception may be thrown](https://git.io/vDf1R) by the packet phase handler and the event will not be properly cancelled. This is caused by [this line](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/e

[2017-01-28 05:41] #1133 closed, assigned to Aaron1011

[2017-01-28 18:47] OblivionNW commented on #1142
https://www.bountysource.com/issues/41059044-nullpointerexception-loading-configuration. It's not much but it's some incentive.

[2017-01-28 19:37] #1061 closed, assigned to nobody

[2017-01-28 20:36] ziceptor opened #1167 "Shulker Box"
The box disappears when exposed to the piston. In single player it drops out.

1.11.2-2201-6.0.0-BETA-2097

[2017-01-28 21:30] drakmirv opened #1168 "Creating a world from a WorldArchetype doesn't use randomized seeds"
The WorldArchetype object seems to only get a random seed when it is initialized.  This results in multiple calls to server.createWorldProperties(name, archetype) resulting in the same world.

An example command executor is shown below.  The results of running this on bleeding are:

[16:24:59] [Server thread/INFO] [cp-quest]: [StandardArchetype] Seed for World1-d186904b-0444-4b6f-89b8-4d9c52c2c62d

[2017-01-28 21:53] drakmirv opened #1169 "Creating a world from a WorldArchtype doesn't pass GeneratorSettings through properly"
It seems that WorldArchetype gets its settings from server.properties always instead of from the Archetype.  This means that passing arguments into custom WorldGeneratorModifier objects (or custom GenerationType objects in the future) doesn't work.

Command showing issue is pasted below.  Logger outputs:
[16:52:43] [Server thread/INFO] [cp-quest]: Expected generator settings:
customSettings="{\"ak

[2017-01-28 21:55] drakmirv commented on #1165
Reference #1163 - I think this may be the same issue.  (There is an ugly workaround in 1163 that may work for you)

[2017-01-29 03:01] me4502 opened #1171 "Deserializing BlockStates in Config fails due to not finding valid CatalogueType in registry."
Stacktrace: http://pastebin.com/rvzBBfnZ

It also appears to toggle between two serialization types,

here's the first,

[code]

Here's the second,

[code]

UPDATE: Appears to be mostly a configurate issue - https://github.com/zml2008/configurate/issues/75

[2017-01-29 04:45] drakmirv opened #1172 "World.getDirectory() throws exception when called"
It appears that the method call is not hooked up properly to return the directory where the world is stored.

Method net/minecraft/world/WorldServer.getDirectory()Ljava/nio/file/Path; is abstract
java.lang.AbstractMethodError: Method net/minecraft/world/WorldServer.getDirectory()Ljava/nio/file/Path; is abstract
	at net.minecraft.world.WorldServer.getDirectory(WorldServer.java) ~[WorldServer.class:

[2017-01-29 04:46] drakmirv commented on #1172
Unsure if this is SpongeCommon or SpongeVanilla.  This is happening on the SpongeVanilla build (bleeding branch)

[2017-01-29 04:53] drakmirv commented on #1163
Note that world.save() doesn't appear to save these values either.

[2017-01-29 04:55] drakmirv commented on #1163
This may also be affecting the ability to "enable" a world that is "disabled".  I think this happens since you can't programmatically save the "enabled" flag into world.conf.  The "sponge save" command (hack) above doesn't work for an unloaded world and you can't load a world marked as disabled.

[2017-01-29 05:01] Aaron1011 opened #1173 "Player.closeInventory cannot be called from a click inventory event listener"
In PacketFunction.INVENTORY, we assume that the player's open container stays the same throughout the duration of the event. However, players can call closeInventory from within their handler, which ends up causing problems.

[2017-01-29 07:39] me4502 opened #1174 "NotifyNeighborBlockEvent isn't being thrown in numerous circumstances."
Currently there are a few circumstances where NotifyNeighborBlockEvent aren't actually being thrown.

If redstone is toggled from standing on a pressure plate, getting off the pressure plate does not throw an event.

If redstone is toggled by a plugin (Eg a plugin setting a lever), the redstone that comes from it doesn't throw an event.

[2017-01-29 19:17] ghost opened #1175 "Custom Inventory items cloned if event is cancelled"
This issue was brought up in the topic https://forums.spongepowered.org/t/custom-inventories/17219

When some inventory events are cancelled if an item is clicked in a custom inventory it is sometimes cloned and put into a random slot in the users inventory or is dropped on the ground. If the action of the item clicked is to clear the inventory, everything is cleared apart from the clicked item.

[2017-01-29 19:39] codeHusky commented on #1142
This is a result of trying to get the value of the root of the config as far as i've determined. Dumb mistake really 👍

[2017-01-29 20:51] codeHusky commented on #1142
#Correction
As it turns out, the issue was more of setting a location as a key and trying to get it back.
Still possibly an issue but not sure quite yet

[2017-01-30 05:51] Deamon5550 commented on #1142
Yeah there are definitely some issues with the ConfigurateTranslator when the keys aren't present. I also don't think it is translating lists entirely correctly.

[2017-01-30 11:43] me4502 commented on #1174
So I've been doing a bit of debugging. It appears the 'source' for standing on the pressure plate is the source of the immediate block update, but for getting off it's the original source.

Pastebin: http://pastebin.com/1zrzbXqu

[2017-01-31 08:49] refparo opened #1176 "crash when installed on client"
It crashed when I'm opening a world.
[fml client log](https://gist.github.com/Problem233/cc12248ea3a5e2924f45645ce218e416)

[2017-01-31 12:49] simon816 commented on #1176
Looks like it is conflicting with liteloader, @Mumfrey could that be the case?

[2017-02-01 06:03] XakepSDK commented on #1173
#1166 ?

[2017-02-01 18:42] eternel22 opened #1178 "Cancelling DropItemEvent.Pre destroys the ItemStack in some cases"
When a player drops an item by pressing _**"ctrl+q"**_ and the event called is cancelled, the whole stack **disappears**.

![bug](https://cloud.githubusercontent.com/assets/23460744/22520894/590dad78-e8b6-11e6-84b1-3ad113f3f2a1.gif)

[2017-02-01 19:04] eternel22 opened #1179 "Cancelling InteractBlockEvent.Secondary doesn't update the item count on the client side"
When a player **place a block** and the event called is cancelled, the **item count** doesn't update on the client side.
![bug2](https://cloud.githubusercontent.com/assets/23460744/22521661/00e5db2c-e8b9-11e6-8df1-4e2b5a93da86.gif)

[2017-02-01 22:05] TheSebakl opened #1180 "Anvil get Custom"
Hello, i've created a custom inventory of an anvil, i want to get the value of the result of new item (the name)
i've tried by myself with .getCursorTransaction() and there is nothing here, i've tried to get all transactions with getTransactions() and i get something at index 0 with propriety default but i get item without any change. I saw there is a custom value but with Optional.empty

How can

[2017-02-01 22:06] #1155 closed, assigned to nobody

[2017-02-01 22:27] Aaron1011 commented on #1173
You're right, it's a duplicate. Thanks!

[2017-02-01 22:27] #1173 closed, assigned to nobody

[2017-02-02 05:07] codeHusky opened #1181 "Worlds do not have persisting UUIDs"
Saving and loading a position from a config after a restart results in a deserialization error because...
[code]

They don't persist, it's rather frustrating.

[2017-02-04 10:44] #1174 closed, assigned to nobody

[2017-02-05 08:56] parlough commented on #1079
I thought this was caused by my plugin originally, but when I saw this issue and I got more reports I tested it further and it seems to occur to all containers. You will rarely, if ever, see the original amount of the item drop. Generally a random amount of the original stack is dropped or nothing at all, there is no rhyme or reason to it.

Here is a small video if it occurring with a chest and fu

[2017-02-05 15:37] eiskasten opened #1188 "World modifiers not working"
If I change `world-generation-modifiers=[]` to `world-generation-modifiers=["sponge:void"]` in `config/sponge/worlds/minecraft/overworld/world/world.conf`, the server resets the value on the next start and generates a normal world. This issue is related to spongevanilla-1.10.2-5.1.0-BETA-371. I tested it in the lates 1.8.9 build and there it works. What I noticed is, that the path changed from `co

[2017-02-06 06:58] kherock opened #1189 "End gateway portals fail to save exit portal"
I've found that in the latest 1.11.2 builds, end gateway portals fail to create an exit portal and a safe teleport location. For example, the server will log

[code]

for seed -4451667846734335168.

[2017-02-07 03:33] JBYoshi commented on #1167
I think I have a fix. *Fixing in progress, please wait...*

[2017-02-07 19:07] #1079 closed, assigned to nobody

[2017-02-07 19:18] randombyte-developer commented on #23
@kashike I just wanted to post a new discovery and I saw that you pinged me. But I seem to never have got a message, sorry about that.

The parameter names are still there: [Here](https://github.com/SpongePowered/SpongeCommon/blob/9789215fc7a9b9a5c62dd2f0cf757787e523f4c5/src/main/java/org/spongepowered/common/entity/living/human/EntityHuman.java#L248), [here](https://github.com/SpongePowered/Spong

[2017-02-07 19:53] Aaron1011 commented on #1189
@rockmacaca: Set `deny-chunk-requests` to `false` in your `global.conf` for now. I'm working on a more comprehensive fix for this issue, but that will solve the problem without affecting anything for now.

[2017-02-07 19:53] #1189 closed, assigned to nobody

[2017-02-08 16:07] seema84 commented on #1066
please fix this issue

[2017-02-09 20:24] Aaron1011 commented on #841
Is this still an issue with @dualspiral's pre-gen refactor merged?

[2017-02-10 04:13] parlough opened #1193 "Cancelling the ClickInventoryEvent when removing from a furnace does not stop experience creation"
I cancel the `ClickInventoryEvent` if a player is removing from a certain container, and when this happens to be from the resulting box of a furnace, the removal is cancelled but the experience is still created. This leads to issues where players can infinitely create experience. I can stop the spawning of the experience by listening to that as a work around, but I feel this should be handled in S

[2017-02-10 20:59] parlough opened #1194 "Furnace is not in cause of SpawnEntityEvent for experience orb from removing result from furnace"
This is the result of printing out the entities and the cause when an experience orb is spawned from removing the result of a furnace. I would expect there to be the furnace in the cause in some way or at least the location of it, but it seems only the player and his/her location is.

![image](https://cloud.githubusercontent.com/assets/18372958/22843906/4683544a-efa1-11e6-8905-7e7fcb8ebfc8.png)

T

[2017-02-11 05:17] parlough commented on #1193
I'm not exactly sure but it seems the experience is spawned before the `ClickInventoryEvent` is even fired.

[2017-02-11 16:39] vorburger opened #1195 "IllegalArgumentException: Invalid input debug_all_block_states was found"
Just this, no idea what it means, but looks like something you may want to know about?

Happened while using http://nucleuspowered.org/docs/modules/world.html on a spongevanilla 1.10.2-5.1.0-BETA-371 while typing /world create -g <TAB> in server console:

[code]

[2017-02-11 17:31] vorburger opened #1196 "WorldProperties.setGeneratorType(GeneratorType) does not work on existing worlds (or is this "normal" ?)"
I've attempted to use:

`player.getWorld().getProperties().setGeneratorType(GeneratorTypes.AMPLIFIED);`

to try to turn an existing world from default to amplified, but this does not seem to work.

There is no exception, and a subsequent `getGeneratorType()` pretends it's AMPLIFIED - but in-game testing, in a completely fresh new world and /tppos'd far away to where I've never been, which should s

[2017-02-11 18:36] vorburger commented on #1196
PS: [It's possible to work around this by direct NBT editing](http://blog2.vorburger.ch/2017/02/how-build-mono-app-like-eg-minecraft.html).

[2017-02-11 22:14] vectrixdevelops opened #1197 "Sleep player data is not set false when the bed is removed"
As the title says, plus this causes the server to crash when it first happens.

[2017-02-11 22:50] gabizou commented on #1197
Could you provide us with a stack trace (I understand how to reproduce the issue, but a stack trace would still be nice to avoid the server crash in the future).

[2017-02-12 02:34] vectrixdevelops commented on #1197
I found one. :P

First time the bed is destroyed: https://gist.github.com/connorhartley/36c68ee364a8230db0707573f0244f66
Join error: https://gist.github.com/connorhartley/75194fc4d0e2d416b67c2f6d61abc38b

[2017-02-12 02:59] Aaron1011 commented on #1197
@connorhartley: What version of SpongeForge/SpongeVanilla are you running?

[2017-02-12 03:50] vectrixdevelops commented on #1197
@Aaron1011 SpongeVanilla-1.11.2-6.0.0-BETA-217

[2017-02-12 18:40] #992 closed, assigned to DDoS

[2017-02-13 00:12] dualspiral opened #1198 "Keys.BOOK_PAGES and PagedData giving unexpected results."
I've only tested this on API 5.1. I will test this on API 6 tomorrow, but I want to get this down now.

When using `Keys.BOOK_PAGES` (which is of type `List<Text>`) on books, both writable and written, it seems to give odd results - tabulated below. I am working with the text "test text", and the returned value will be the result of `toPlain`.

-> | book.get(Keys.BOOK_PAGES).get() - printed on scr

[2017-02-13 00:28] Aaron1011 commented on #1198
I think this is a duplicate of https://github.com/SpongePowered/SpongeCommon/issues/509.

[2017-02-13 00:30] dualspiral commented on #1198
Ah, my mistake - it looks like it is. Let me comment over there.

[2017-02-13 00:30] #1198 closed, assigned to nobody

[2017-02-13 00:37] dualspiral commented on #509
Just come up against this now too (see #1198) - it's something I would like to see fixed too!

I personally disagree with this keeping it the same API. Sponge should be representing what is available, and using such data misrepresents this, as @Aaron1011 correctly notes. It caught me out, as I hadn't realised that books were two different types, precisely because it was using the same API.

I woul

[2017-02-13 19:53] writeescape opened #1199 "allow humans to be spawned"
at the moment you have to write in a plugin the ability to spawn a human.
please allow /summon sponge:human to be a thing as right now it errors.

[2017-02-13 20:43] Zidane commented on #1199
Can I ask why you want this?

[2017-02-13 20:54] windy1 commented on #1199
@Zidane Slightly off-topic but I thought I'd mention that EntityHuman is rather broken at this point. It is currently impossible to write a decent NPC plugin in it's current state. I began fixing a few issues with [this branch](https://github.com/SpongePowered/SpongeCommon/tree/fix/humans) but I don't think I'll have an opportunity to finish it anytime soon.

I'm sure many plugin devs would apprec

[2017-02-13 21:51] writeescape commented on #1199
mainly so that the entity list is complete so that it could be worked upon rather then error into a stacktrace

[2017-02-13 22:04] dogboy21 opened #1200 "World Modifiers get reset after world reset"
After resetting a world (deleting the whole dimension folder) the world generation modifiers in the Sponge world config are gone. Every other world config keeps it's previous value.

**Test environment**

SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 5.1.0-SNAPSHOT-6459642
    SpongeForge: 1.10.2-2221-5.1.0-BETA-2142
    Minecraft Forge: 12.18.3.2221

**Steps to reproduce**

- Add a world modif

[2017-02-13 22:26] Deamon5550 commented on #1200
duplicate #1188

Its not the modifiers its that when the world is created the config is recreated rather than just loaded.

[2017-02-13 22:26] #1200 closed, assigned to nobody

[2017-02-13 22:41] dogboy21 commented on #1200
I saw that issue, but IMO it's not related to deleting the world. Also it doesn't apply to the whole config, I also changed the chunk-gc settings to test this, and the settings were still changed after the world reset, just the modifiers were gone.
Btw @bloodmc said that this behaviour doesn't make any sense so I created the issue

[2017-02-14 03:27] Deamon5550 commented on #1200
alright not quite caused by what I was thinking, but its still identical to the other issue.

[2017-02-14 05:14] #1188 closed, assigned to nobody

[2017-02-14 05:30] TheRaspPie opened #1202 "Cannot cancel world saving"
I tried cancelling SaveWorldEvent, but it saves anyways.
After researching, I noticed that the events are posted, but it is not checked whether it was cancelled:

https://github.com/SpongePowered/SpongeCommon/blob/10c4e2f31c5bacd0b6e4b9018e528ca0cb9dd3fe/src/main/java/org/spongepowered/common/mixin/core/world/MixinWorldServer.java#L890.
Also line 899.

I also looked in SpongeForge and SpongeVanill

[2017-02-14 05:42] kashike commented on #1202
Feel like submitting a pull request?

[2017-02-14 13:38] mcmonkey4eva commented on #1199
@windy1 +1 to getting that worked on more. I don't want us to have to make our own damn cross-compatible human code when Sponge could helpfully do it for us.

[2017-02-14 17:17] Ptilopsis opened #1204 "Change InvulnerabilityData to boolean"
As someone who tries to move from Spigot to Sponge, I noticed some strange inconsistencies within org.spongepowered.api.data.manipulator.mutable.entity.

The interface InvulnerabilityData offers me the possiblity to make an entity invulnerable.
But it requires me to specify an amount of ticks, which seems rather unnecessary and makes the plugin logic somewhat harder, as even Integer.MAX_VALUE isn'

[2017-02-15 01:00] LoganSchmalz opened #1206 "launchProjectile() method failing"
Something seems to have changed between the SpongeVanilla-1.11.2-6.0.0 versions 196 and 198 where the player.launchProjectile() method is no longer working. This also affects Forge (although I'm not sure when it changed) and running the exact same plugin on 196 works whereas it does not on 198.

[2017-02-15 01:03] Deamon5550 commented on #1206
Is there anything in the console when it fails to work?

[2017-02-15 01:12] LoganSchmalz commented on #1206
Only if you try to access it, it will just say that it can't find the object (NoSuchElementException). Otherwise, nothing. 196 works fine, launches the object and it can be modified, but 198 does not.

[2017-02-15 01:39] JBYoshi commented on #1193
Confirmed. The XP orb is not being captured.

Test code:
[code]

To test, smelt some sand and try to remove the glass. Be aware that smelting glass does not always give XP; try removing it repeatedly.

[2017-02-15 02:01] simon816 commented on #1206
Can I see the whole error? Also, what plugin are you referring to/what code is failing?

[2017-02-15 03:26] LoganSchmalz commented on #1206
It's for a plugin I am writing. I marked a spot that will write to the logger.

My code:
`logger.info("This is where it fails, no arrow launched");
Projectile arrow = player.launchProjectile(Arrow.class, getNewArrowVelocity(player, 1.5)).get();`

Logger on 198:
`[21:20:15] [Server thread/INFO] [bowta]: This is where it fails, no arrow launched
[21:20:15] [Server thread/ERROR] [Sponge]: Could not p

[2017-02-15 15:33] simon816 commented on #1206
Oh I think I know why, since 1.9 there are different types of arrow, and the `Arrow` interface became a common superinterface between the types. Use `TippedArrow` for a standard arrow

[2017-02-15 16:33] Zidane commented on #1199
@windy1 @mcmonkey4eva Humans have always been my baby (Though @simon816 technically gave birth). My professional work is winding down so this seems like a good way to kick back up Sponge dev work.

@windy1 PM or create me an issue with the current problems with Humans and I'll take that branch and modify it to address the issues.

[2017-02-16 00:04] LoganSchmalz commented on #1206
Interesting. That seems to have fixed it. I'm a little surprised that this change was so random just inbetween two versions, I guess that is to be expected between the experimental releases.

[2017-02-16 00:29] JBYoshi commented on #1206
Since this is pretty much an invisible change between the two versions, would it be possible to implement some default behavior for `Arrow`, or to log an information message for developers to see?

[2017-02-16 02:13] JBYoshi commented on #1167
Just posted a better fix that comes with another issue. #1210

[2017-02-16 02:58] JBYoshi commented on #1194
Once #1207 is merged, you will be able to get the `Container` in the cause. You can then check if it's a `CarriedInventory` and, if so, whether the `Carrier` is a `Furnace` (and, of course, get it).

[2017-02-17 08:41] vectrixdevelops opened #1211 "Villagers need sex education"
Villagers will not pick up food items used to encourage breeding as determined by the MC wiki. Tested on the Sponge Public Server.

Sponge Vanilla 6.0.0 BETA 217 : 1.11.2

"Not shagging!" - Inscrutable

[2017-02-17 20:19] #1167 closed, assigned to nobody

[2017-02-17 21:02] #1193 closed, assigned to nobody

[2017-02-19 16:43] #1053 closed, assigned to nobody

[2017-02-19 18:55] #1082 closed, assigned to nobody

[2017-02-19 22:20] TBlueF opened #1212 "Infinite item despawn-delay is not working"
I tried to make an item never despawn using `item.offer(Keys.INFINITE_DESPAWN_DELAY, true);`
But the items are still despawning after 5 minutes.
*The "INFINITE_PICKUP_DELAY" however is working fine!*

I tested it using this code: https://gist.github.com/TBlueF/b82539453671bb90e24350024acb69d3
on both:
Sponge Vanilla *(1.11.2-6.0.0-BETA-217)*
and Sponge Forge *(1.11.2-2227-6.0.0-BETA-2148 using For

[2017-02-20 05:11] Deamon5550 opened #1213 "Event listener Order not checked to allow cancellation"
In the [API javadocs on Order](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/event/Order.java) we mention that in certain order phases events are read-only and cannot be cancelled. Currently neither of these are enforced.

[2017-02-21 20:37] johnfriedrich opened #1215 "Sponge doesn't use Forge name cache, only minecraft vanilla cache"
Plugins using the spongeapi to get the playername/uuid will fail, if the player doesn't exist in usercache.json.

This happens, as players that haven't been online for more than 1 month are getting removed from vanilla usercache.json. (expiry date)
Users are still in forge cache (usernamecache.json), but sponge doesn't use it.

I am not a dev, so I don't know the exact method, to get a player, but

[2017-02-22 11:48] randombyte-developer commented on #1204
I also asked for this earlier https://github.com/SpongePowered/SpongeAPI/issues/1317

[2017-02-22 16:59] #1215 closed, assigned to nobody

[2017-02-22 17:25] gabizou commented on #1204
Duplicate of SpongePowered/SpongeAPI#1317.

[2017-02-22 17:25] #1204 closed, assigned to nobody

[2017-02-22 19:04] Wadimich opened #1216 "Console spam: Tried to assign a mutable BlockPos to tick data..."
Hello, here is log: http://pastebin.com/ZJ4Txyzp
This is happen on sponge 2178 and forge 2221 and only when item from mod is generation redstone signal and it's accepting something like lamp. Vanilla ways to output redstone signal works fine.

[2017-02-22 20:01] Aaron1011 commented on #1216
Does this occur with only Forge and the mod installed (e.g. without Sponge)?

[2017-02-22 20:27] Wadimich commented on #1216
Yes, it occurs when Sponge isn't loaded, new trace: http://pastebin.com/krTZtYQ9

[2017-02-22 20:33] Deamon5550 commented on #1216
Report it to that mod then.

[2017-02-22 20:33] #1216 closed, assigned to nobody

[2017-02-22 20:41] JonathanBrouwer opened #1217 "Getting BiomeType from id does not work with minecraft: prefix"
Getting a BiomeType from id using the following code returns Optional#empty
Sponge.getRegistry().getType(CatalogTypes.BIOME_TYPE, "minecraft:mesa");

While this returns a result
Sponge.getRegistry().getType(CatalogTypes.BIOME_TYPE, "mesa");

Using minecraft:mesa should world considering the BiomeType#getId() does return the correct id with the minecraft: prefix.

**Second issue:**
Some biome types

[2017-02-22 21:39] Deamon5550 commented on #1217
The mutated plains biome is actually called `sunflower_plains` I'm guessing the ids are broken. I'll look into all of these.

[2017-02-22 21:59] JonathanBrouwer commented on #1202
This should be closed considering the PR has been merged.

[2017-02-22 22:05] #1202 closed, assigned to nobody

[2017-02-23 02:22] kashike commented on #1217
@Deamon5550 No it isn't, it is `mutated_plains`.
[code]

[2017-02-23 02:31] Deamon5550 commented on #1217
@kashike [in our registry](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/registry/type/world/gen/BiomeTypeRegistryModule.java#L113) it's `sunflower_plains` because I wrote that before biomes had string ids in the base game. The fact that you can't get it as mutated_plains is a separate issue:

- getById needs to append minecraft: if no namespace

[2017-02-23 02:43] kashike commented on #1217
Ah, so our registry just needs to be updated to match, then - alright. I thought you were referring to the real ids.

[2017-02-23 18:17] Yeregorix opened #1218 "GridInventory.getSlot(x, y) returns a Slot with an incorrect position"
I have a git clone of the `SpongeForge` project, some parts of my plugin which worked in past now have strange behaviors, to identify the problem I did some tests, here is the result :

Test code : http://pastebin.com/GZUWTb0D
Test log : http://pastebin.com/eK4ZMzWg
Test screenshots : http://imgur.com/a/fLSDu

[2017-02-24 08:54] Wadimich opened #1219 "Crash java.util.NoSuchElementException"
Hello! Here is crashlog: http://pastebin.com/MGKyeBbq

This is on Sponge 2185 and Forge 2221.

[2017-02-24 16:01] Faithcaio commented on #1218
Where are you getting your grid from?
Is it really a GridInventory?

Generally the Inventories you get from an Event are NOT GridInventories.
You can query for GridInventories in them and then get the slot by SlotPos:
[code]
Btw. usually you can access the "upper" viewed inventory by calling
`container.iterator().next()`

[2017-02-24 17:05] Yeregorix commented on #1218
The GridInventory does not come from any event, it's a custom one, created using `Inventory.builder()`, look at the constructor of this class http://pastebin.com/BsDiV64p. Method `onInteract()` is called from an external event listener.

[2017-02-24 17:27] Faithcaio commented on #1218
Works fine in latest bleeding...
http://i.imgur.com/NQqk6Mm.png

[2017-02-24 18:58] Yeregorix commented on #1218
Very strange.. I will make a new clean git clone and try again.

[2017-02-25 11:04] JonathanBrouwer opened #1220 "TNT Error"
**System information:**
Windows 10 64 bits
SpongeForge 1.11.2-2227-6.0.0-BETA-2190

**Steps to reproduce:**
1. Place 2 blocks of tnt right next to eachother
2. Ingnite one of the blocks of TNT
3. Once the TNT blows up, this error is thrown.
Sometimes it seems to result in a full server crash, but that only happened once to me and I can't reproduce it anymore. The error is consistent tho.

http://p

[2017-02-25 18:36] Zidane commented on #1199
https://github.com/SpongePowered/SpongeCommon/commit/fd4aca2ca58a04b86f545869558d6249c095a470

https://github.com/SpongePowered/SpongeCommon/commit/8b37cb29c7ed95a9e75d0d355ae1e017edc6c9b2

Humans now persist between restarts.

Summon command is working fine:

[code]

What other issues are there?

[2017-02-25 19:39] writeescape commented on #1199
Setting a player skin to them?

On 25 Feb 2017 6:37 p.m., "Chris Sanders" <notifications@github.com> wrote:

[2017-02-26 00:58] Aaron1011 commented on #1219
Can you upload your `fml-server-latest.log`?

[2017-02-26 07:18] #1171 closed, assigned to nobody

[2017-02-26 07:25] Wadimich commented on #1219
Yes, here it is
[fml-server-3.zip](https://github.com/SpongePowered/SpongeCommon/files/801770/fml-server-3.zip)

[2017-02-26 07:50] ghost opened #1222 "CustomContainer.getPlugin() is not implemented"
When called in a listener (and presumably from other places, as well), an instance of `CustomContainer` (as returned from `ClickInventoryEvent.getTargetInventory()`) throws an `AbstractMethodError` when its `getPlugin()` method is called.

[Here is the stacktrace](http://pastebin.com/bsgYvmqp)
[Here is my listener code that triggers the error](http://pastebin.com/xRURH76m)

[2017-02-26 09:30] darkcamo12 opened #1223 "SF3 animal spawn with spongeforge 2168 or greater"
we are running skyfactory 3 3.0.6 for Minecraft 1.10.2
and we had noticed a lack of passive mobs spawning so we started doing some testing loading a server up with just skyfactory3's default mods and only spongeforge 2188 installed

our set up was a large grass platform in a brand new empty void world we waited anywhere up to if not more then 20 mins for passive mobs such as cows, chickens and pig

[2017-02-26 12:29] dualspiral opened #1224 ""deny-chunk-requests" option prevents world pregeneration"
In the latest versions of Sponge for 1.10 and 1.11, the `deny-chunk-requests` feature prevents world pregeneration from taking place correctly. Whilst no error is returned, the effect is that the pre-generator suggests that tens of thousands of chunks are being generated every tick, and whilst it would be _nice_ if that was true, all this is happening is that "empty chunks" are being returned.

To

[2017-02-26 12:39] NeumimTo opened #1225 "ClickInventoryEvent - returns wrong inventory archetype"
[code]

[code]

Click on an item which is present in the inventory, we just created. Method getArchetype returns archetype UNKNOWN instead of DOUBLE_CHEST.

Tested with 1.11.2-6.0.0-BETA-224 Sponge vanilla

[2017-02-26 14:50] Faithcaio commented on #1225
Thats because it is not a DoubleChest. Its a Container viewing a DoubleChest and PlayerInventory.

[2017-02-26 14:57] lantren commented on #1165
@drakmirv , thank you for the suggestion. Unfortunately, that is beyond the scope of a basic server administration task, since in can't be accomplished by a server admin.

[2017-02-26 15:39] NeumimTo commented on #1225
@Faithcaio What would be a correct approach then?
A spongebuild from the start of February returned in the same case either archetype PLAYER or DOUBLE_CHEST (depending on which inventory player clicked)

[2017-02-26 16:26] Aaron1011 commented on #1219
Can you re-test on the latest SpongeForge? I've [fixed a bug](https://github.com/SpongePowered/SpongeCommon/commit/ba3642a3d8d086c270d60ad7892c8407587e8ce8) which cause causing chunk loading (and therefore CauseTracker phase completion) to happen off of the main thread.

[2017-02-26 16:38] Aaron1011 commented on #1224
This should be fixed in [the latest SpongeForge](https://github.com/SpongePowered/SpongeCommon/commit/0cd9650e1fe168ba60110c5ee3c8e00afdc0d9b1).

[2017-02-26 16:38] #1224 closed, assigned to nobody

[2017-02-26 16:45] Aaron1011 commented on #1223
@bloodmc Can you take a look at this?

[2017-02-26 16:47] dualspiral commented on #1224
Yep, can confirm, thanks.

[2017-02-26 16:57] Wadimich commented on #1219
Sure, updating. It will take some time, cause i don't really know, how to 100% reproduce this bug, i'll write later, if got same.

[2017-02-26 17:03] Aaron1011 commented on #1219
That's to be expected, as this crash was caused by a race condition. Btw, make sure to download SpongeForge from [here](https://www.spongepowered.org/downloads/spongeforge/stable/1.10.2), as the other downloads page is having issues.

[2017-02-26 18:50] bloodmc commented on #1223
Just raise the spawn limits in config.

[2017-02-26 19:30] Aaron1011 commented on #1220
@gabizou Can you take a look at this?

[2017-02-26 20:54] darkcamo12 commented on #1223
I tried that and well setting the spawn limit to 1500 on a new server with no players except myself and patch of grass about 100x100 didn't do anything

[2017-02-26 20:58] DamageDoctor commented on #1223
Passive mobs didn't naturally spawn at all until we rolled back to the earlier build. This was both on test and production servers built completely separately.

[2017-02-26 21:28] darkcamo12 commented on #1223
Also just as a side note hostile mobs seem to be working fine

[2017-02-26 22:08] #1223 closed, assigned to nobody

[2017-02-26 23:01] vectrixdevelops commented on #1197
Fixed by https://github.com/SpongePowered/SpongeVanilla/commit/93cf8fbf2c3daf8d88772e76122116b05d7e319c

[2017-02-26 23:01] #1197 closed, assigned to nobody

[2017-02-27 03:27] Yorkforce commented on #841
It does still seem to be an issue on Edit: spongeforge-1.10.2-2221-5.2.0-BETA-2202.jar

Generated 2 chunks in 0s 089ms, 41% complete
Overworld, Generator: BIOMESOP, Entities: 2834, Loaded chunks: 8527

After running and re-running pregen it appears that newly generated chunks stay loaded, which in turn keeps entities loaded until the server is restarted.

[2017-02-27 03:37] bloodmc commented on #841
This is no longer an issue. @Yorkforce you wont receive any support running outdated builds.

[2017-02-27 03:37] #841 closed

[2017-02-27 03:50] Flibio opened #1226 "Issues removing custom data"
Currently, if a plugin is removed that has assigned custom data to a player and the player joins, an error gets outputted to the console every single time. This can annoy server owners, and sway developers away from using custom data, which in my opinion is an awesome feature of Sponge. There are a few solutions that could possibly be implemented, listed below.

1. Only output the error once, the

[2017-02-27 05:31] gabizou commented on #1226
Currently it will emit only once the data fails to load, per entity that fails to load

Somewhat difficult to do to only put it in the log files (would have to rely on debugging options). Perhaps @Minecrell can assist with configuring it.

Data is deleted currently once encountered on that entity. If it fails to load, it isn't loaded or temporarily stored again. Other entities that have not loaded

[2017-02-27 10:01] Yeregorix commented on #1218
It works fine for me now. I come back if I see the problem again.

[2017-02-27 10:01] #1218 closed, assigned to nobody

[2017-02-27 10:55] Yorkforce commented on #841
@bloodmc
Sorry, was meant to write Spongeforge 1.10.2-2221-5.2.0-BETA-2202
(was very tired)

We are unable to use pregen at all right now because of the above issue. Once it hits about 40% the TPS plummets to around 1 and it takes around 18 seconds to generate 2 chunks irrespective of the above timing report, I don't think it would reach 50% before the server dies.

For more information we are try

[2017-02-27 11:28] dualspiral commented on #841
@Yorkforce This is what I have tried to fix in my refactor that @Aaron1011 asked about, or at least provide the hooks to do so, in API 6. Because of the fact that API 5.x is non-breaking, this hasn't been backported. If the Sponge team would like this, I may see if I can backport anything (it'd probably only be the events and the ability to skip chunks), but it'd be limited, if I am able to.

We'v

[2017-02-27 11:32] Yorkforce commented on #841
@dualspiral Ah I see that makes more sense, thanks.
I was searching github issues for the same/similar problem and noticed this issue which sounded pretty much like what we were experiencing. I'll keep my ears to the ground on Nucleus.
Edit: and I just noticed this is the SpongeCommon github, time for that coffee I think ;)

[2017-02-27 14:09] Tencao commented on #1219
I would like to confirm for me this issue has not come back as of yet. It was very reproduce-able for me simply by turning on the world generation via plugin, however on the latest sponge this crash no longer happens.

[2017-02-27 14:14] Wadimich commented on #1219
I still haven't crashes, looks like the issue is fixed.

[2017-02-27 14:28] Flibio commented on #1226
Thanks for the response @gabizou! I have a question about your statement that currently it will emit the error only once per entity that fails. If I assign the data to a player and then remove the plugin, no matter how many times I restart the server and disconnect and rejoin, the error still shows. Are players an exception to this rule?

[2017-02-27 15:32] #1219 closed, assigned to nobody

[2017-02-27 16:52] ghost commented on #1222
I have found a possible solution where in the `MixinCustomInventory` class, a few tweaks need to be made. The diff is [here](http://pastebin.com/DGFr7yFw). I did not make this fix into a pull request as it would be too short.

[2017-02-28 19:12] gabizou commented on #1226
Quite possibly if the player's data has not been saved without the custom data after it failed to load, then it will continue to emit that error. I'm working on a new serialization strategy with possibly a special log/config that will highlight what data is to be removed, what data was noticed to be removed etc. It will have to of course include a command to highlight all registered data as a poss

[2017-02-28 19:25] Deamon5550 commented on #1226
Deleting data because a plugin fails to load is pretty bad behaviour...

[2017-02-28 22:41] Flibio commented on #1226
@gabizou: Okay, thanks!

@Deamon5550: Yes I agree, but that is not necessarily what has to happen with the new system. According to gabizou's first comment, that is what currently happens. I just left it on the possibilities list anyways, even though it may not be the best option.

[2017-03-01 19:49] Grinch opened #1227 "Unable to trample crops/farmland"
Attempting to trample crops doesn't result in anything. They never get trampled.

**Minecraft:** 1.11.2
**SpongeAPI:** 6.0.0-SNAPSHOT-c641cb0
**SpongeForge:** 1.11.2-2227-6.0.0-BETA-2205
**Minecraft Forge:** 13.20.0.2252

[2017-03-01 19:58] Grinch opened #1228 "Buckets prevent proper interaction with buttons"
I have an iron door with a button on each side. If I right-click either button with a bucket in-hand it causes a client-side press animation/sound but the door will not open.

**Minecraft:** 1.11.2
**SpongeAPI:** 6.0.0-SNAPSHOT-c641cb0
**SpongeForge:** 1.11.2-2227-6.0.0-BETA-2205
**Minecraft Forge:** 13.20.0.2252

[2017-03-01 21:09] bloodmc commented on #1163
This was fixed in a recent commit

https://github.com/SpongePowered/SpongeCommon/blob/stable-5/src/main/java/org/spongepowered/common/world/WorldManager.java#L442

[2017-03-01 21:09] #1163 closed, assigned to nobody

[2017-03-02 01:11] #1168 closed, assigned to Deamon5550

[2017-03-02 04:17] me4502 commented on #1211
Was the mobGriefing GameRule disabled? It appears that entities can only pickup items if mobGriefing is allowed.

[2017-03-02 17:22] bloodmc commented on #1175
@Faithcaio please look into this.

[2017-03-02 17:22] bloodmc commented on #1142
@gabizou Can you look into this?

[2017-03-02 19:26] Faithcaio commented on #1175
@OblivionNW
first of all:
 - `slot.peek().get().setQuantity(0);` only modifies a copy of the ItemStack in the inventory you always have to offer ItemStacks back.
 - When you cancel an event there is no need to set all the transactions to invalid.

And I am unable to reproduce the issues you are describing. (using latest SpongeForge)
If it still happens it would be nice if you could simplify your l

[2017-03-02 20:51] TheRaspPie opened #1229 "Cancelled InventoryClickEvent resets slot in new inventory"
1. Open a custom inventory.
![](http://puu.sh/urfDf/8d9dab8558.png)
2. Click on a slot in the inventory and cancel the resulting InventoryClickEvent.
3. Open another custom inventory in the InventoryClickEvent handler.
4. The item from the slot you clicked will be placed in the same slot in the newly opened inventory.
![](http://puu.sh/urg5J/305f392911.png)

Related to #1175 and #1045.
Verified on

[2017-03-03 02:33] #1227 closed, assigned to nobody

[2017-03-03 03:36] #1228 closed, assigned to nobody

[2017-03-03 04:31] elementalistic opened #1230 "Constant not used in mob/animal spawning limits"
Looking at the Mixin MixinWorldEntitySpawner.java file, I noticed the code uses the formula for maxCount as

`int maxCount = limit * chunkSpawnCandidates / MOB_COUNT_DIV;`

but a bit further down it recalculates it for the moblimit as

`int mobLimit = (limit * chunkSpawnCandidates / 256) - entityCount + 1;`

Shouldn't the 256 be the constant as well, or even just referencing the maxCount variable?

[2017-03-03 11:59] Inscrutable commented on #1211
I just tested that, with difficulty peaceful. They eat, but they still don't reproduce. SV 218.

[2017-03-03 16:22] Grinch opened #1231 "Significant delay between block break and item frame break"
To better explain. Putting an item frame with a clock (haven't tested anything else) in it on any block and breaking that block it is attached to you'll see the item frame sit there for a good 2-4 seconds before it breaks.

**Minecraft:** 1.11.2
**SpongeAPI:** 6.0.0-SNAPSHOT-8aabd12
**SpongeForge:** 1.11.2-2227-6.0.0-BETA-2218
**Minecraft Forge:** 13.20.0.2228

[2017-03-03 20:44] mcmonkey4eva opened #1232 "Equipment not implemented"
Method EntityPlayerMP.equip(EquipmentType, ItemStack) is abstract

Methods for entities in general that have equipment are all seeming to be abstract as well .-.

[2017-03-04 06:08] Deamon5550 opened #1234 "Concurrency issues with async lighting"
Recently a feature was added to [update lighting asynchronously](https://github.com/SpongePowered/SpongeCommon/commit/9997dca424377e08bc8468bd95a502353b4e4667). Great in theory however there is a problem with the current implementation. It relates to the Long2ObjectOpenHashMap that the chunks are stored in and is made worse by the `CachedLong2ObjectOpenHashMap` that we have, although removing the

[2017-03-04 14:22] ghost commented on #1175
My issue seems to be related to #1229 where if instead I close the inventory, the item is also dropped.

[2017-03-04 14:42] ryantheleach commented on #1231
Vanilla SSP Creative 1.11.2 for reference.

https://www.youtube.com/watch?v=55SvjB3Bj3c&feature=youtu.be

@Grinch Close this? or was it significantly longer?
I suspect this will be intended behavior expected after sponges entity ticking optimizations.

[2017-03-04 18:11] Grinch commented on #1231
No, it was about the same time. Didn't expect it to be that way in Vanilla as well. I will close this. :)

[2017-03-04 18:11] #1231 closed, assigned to nobody

[2017-03-05 04:49] JBYoshi commented on #1229
Duplicate of #1175.

[2017-03-05 04:50] JBYoshi commented on #1074
Can this be closed?

[2017-03-05 04:55] JBYoshi commented on #1166
I think the link you posted would be the problematic code for #1045, #1105, and #1175. Fixing this should fix all of those.

[2017-03-05 05:02] JBYoshi commented on #1166
I think the code link you posted is also the problematic code for #1045, #1175, and #1229. Fixing this should fix all of those.

[2017-03-05 05:53] windy1 commented on #1074
No

[2017-03-05 12:15] #1057 closed, assigned to nobody

[2017-03-05 13:18] JBYoshi commented on #1074
I thought @Zidane said in SoS that he fixed this?

[2017-03-05 16:12] windy1 commented on #1074
My mistake, hadn't realized.

[2017-03-05 16:12] #1074 closed, assigned to nobody

[2017-03-05 16:53] floomat opened #1235 "Magma Blocks are not generated naturally."
According to the Minecraft Wiki Magma Blocks should be [generated naturally](http://minecraft.gamepedia.com/Magma_Block#Natural_generation) in the Nether, but they seem to be missing on Sponge Servers at all, tried with newest Version of Spongeforge (1.11.2-2227-6.0.0-BETA-2221) with a fresh map and without mods.

No need to hurry with this, as you can craft them they are not completly missing. :)

[2017-03-05 19:39] rmnaderdev opened #1236 "[1.10.2] MissingFormatArgumentException | Server Crash on Startup"
Just updated the All the Mods mod pack this morning and I started the server and just after it loads the world I get this crash: http://pastebin.com/rk888RPw

Looks like a string call error: Format specifier '%20S' at org.spongepowered.common.SpongeImplHooks.onTileEntityError(SpongeImplHooks.java:721)

[2017-03-05 20:04] #1236 closed, assigned to nobody

[2017-03-06 16:00] SjsolisZXA opened #1237 "ChangeBlockEvent.Place Doesn’t Detect Block Changes Caused By Pluggin"
So I'm trying to track block changes, specifically when blocks are placed, so I can later undo them. I have an executioner that creates blocks in a specified location, but those block changes are not being detected by my listener. In the listener below, I expected to receive spam messages telling me what blocks were being changed by my executioner, but the event was not fired.

[code]

[2017-03-07 01:22] JBYoshi commented on #1237
Could you post the code that creates the blocks?

[2017-03-07 01:34] SjsolisZXA commented on #1237
This is a shortened version of the code that creates the blocks:

[code]

[2017-03-07 04:28] Waterpicker opened #1238 "DropItemEvent.Destruct doesn't track cause properly when caused by a block breaking"
When I try to listen for the DropItemEvent.Destruct event and read out the causes. I get this as a result.

The BlockSpawnCause is always air regardless of what block type I break.

I used the code below to listen.

`
    @Listener
    public void onItemDrop(DropItemEvent.Destruct event) {
        event.getCause().all().forEach((c) -> logger.info(c.toString()));
    }
`

[2017-03-07 13:17] phit opened #1239 "Sponge Plugins list String too big"
running `/sponge plugins` on big packs can kick you from the server

`[16:01:13] [Netty Server IO #1/ERROR]: io.netty.handler.codec.EncoderException: String too big (was 36841 bytes encoded, max 32767)`

old issue https://github.com/SpongePowered/SpongeForge/issues/918

[2017-03-08 13:52] seema84 commented on #1066
update build 230

[code]

[2017-03-09 02:09] Grinch opened #1240 "Zombies do not break wooden doors"
Zombies do not seem to break wooden doors as they typically would.

**Minecraft:** 1.11.2
**SpongeAPI:** 6.0.0-SNAPSHOT-8aabd12
**SpongeForge:** 1.11.2-2227-6.0.0-BETA-2221
**Minecraft Forge:** 13.20.0.2228

[2017-03-09 02:10] Grinch opened #1241 "Squids do not spawn naturally"
I've searched high and low for a squid and cannot find any. I'm convinced they are not spawning right now.

**Minecraft:** 1.11.2
**SpongeAPI:** 6.0.0-SNAPSHOT-8aabd12
**SpongeForge:** 1.11.2-2227-6.0.0-BETA-2221
**Minecraft Forge:** 13.20.0.2228

[2017-03-09 21:27] SjsolisZXA commented on #1237
So is this something that will be looked at?

[2017-03-09 22:43] Grinch opened #1242 "Help command doesn't follow Vanilla usage"
In Minecraft we have the help command which follows this syntax for page traversal `/help [page]`. So `/help 2` works fine and as expected.

If you try to do this in Sponge you are met with a "Unknown command. Try /help for a list of commands". Instead you must do `/page 2` to traverse the pages. This completely breaks what people would expect from this command.

[2017-03-09 22:48] Zidane commented on #1047
This should already be fixed by me in bleeding/etc.

[2017-03-09 22:48] #1047 closed, assigned to Zidane

[2017-03-09 22:52] kashike commented on #1242
This is the same with other sponge commands afaics.

[2017-03-09 22:52] kashike commented on #1242
I'm not exactly sure why we even replace the vanilla help command with our... worse version.

[2017-03-09 23:15] Deamon5550 commented on #1242
Its particularly bad if you call it from the console as there is no prompt or any indication of now to get to the next page.

[2017-03-10 16:42] malte-laukoetter commented on #1001
any updates on this?

[2017-03-10 16:43] dogboy21 commented on #1241
We're also encountering this bug. Squids and even bats do not spawn naturally

**Minecraft**: 1.10.2
**SpongeAPI**: 5.2.0-SNAPSHOT-982a6b0
**SpongeForge**: 1.10.2-2221-5.2.0-BETA-2223
**Minecraft Forge**: 12.18.3.2254

[2017-03-10 18:27] johnfriedrich opened #1243 "minecraft:command calls plugin permissions"
Issue is described here in more detail
https://github.com/NucleusPowered/Nucleus/issues/739

, but short story:
Install Nucleus (or probably any other plugin that overrides vanilla mc commands)
Give user `nucleus.time.base` perm
Player should be ONLY have perms to do `/time` to get the time (no perms to change it)
Use `/minecraft:time set xx`
Output:
server changes time
Permission called `nucleus.

[2017-03-10 21:33] parlough opened #1245 "Cannot teleport players"
I cannot teleport to other players or teleport one person to another, I get this error instead. I have not verified this on SpongeForge yet, only SpongeVanilla.

![image](https://cloud.githubusercontent.com/assets/18372958/23813904/a51d84e2-05a6-11e7-8a57-393f4a255eca.png)

SpongeVanilla -
Minecraft: 1.11.2
SpongeAPI: 6.0.0-SNAPSHOT-e108372
SpongeVanilla: 1.11.2-6.0.0-BETA-231

[2017-03-11 09:37] #1235 closed, assigned to Deamon5550

[2017-03-11 11:03] Deamon5550 commented on #1245
This was fixed in d29616bc75a625f415a67bb98b4c1df9de70ef85

[2017-03-11 11:03] #1245 closed, assigned to nobody

[2017-03-11 11:42] Deamon5550 commented on #1240
They only break doors if the local difficulty is above a certain threshold (which depends on several factors). I forced it to true and they break doors just fine.

[2017-03-11 13:10] ShieLian commented on #1241
One more here. When I disable the sponge-forge, they appear.
Minecraft: 1.10.2
SpongeForge: spongeforge-1.10.2-2221-5.1.0-BETA-2210.jar and spongeforge-1.10.2-2221-5.1.0-BETA-2262.jar
Minecraft Forge: 12.18.3.2239

[2017-03-11 13:27] Faithcaio opened #1248 "Exception attempting to capture or spawn an Entity when canceling BlockChanges"
Setup: TNT narby Fire http://i.imgur.com/d9JD2sU.png

Cancel BlockChanges using:
[code]
Error:
https://gist.github.com/Faithcaio/9c29d59c4c59847785901d508d516d20

tested using latest SpongeForge

[2017-03-11 23:18] Grinch commented on #1240
My server has the difficulty set to hard though I still cannot get them to break doors. What other factors does it depend on?

[2017-03-11 23:59] Deamon5550 commented on #1240
From the code its between a 0-10% that a zombie will be set as able to break doors (calculated only once upon spawning not when loading from nbt).

Difficulty calculation (it uses the clamped additional difficulty): https://gist.github.com/Deamon5550/dd84ed526b1c87ab5d1b0ca65660a515

[2017-03-12 01:19] Grinch commented on #1240
Interesting. I'll go ahead and close this issue. Thanks!

[2017-03-12 01:19] #1240 closed, assigned to nobody

[2017-03-12 14:44] ST-DDT commented on #1239
Addressed by PR: https://github.com/SpongePowered/SpongeCommon/pull/1250

[2017-03-12 16:24] lesbleu opened #1251 "Duplicate Block ChangeBlockEvent cancelled"
Hi,
when I cancelled event "ChangeBlockEvent" on gravity block. The block is duplicated
Event SpawnEntityEvent is launched before ChangeBlockEvent.

Example Gravity Block : [Sand](https://www.youtube.com/watch?v=7-Tj5ZfsJDs&feature=youtu.be)
Example No Gravity Block : [Rail & Cactus](https://www.youtube.com/watch?v=41hv5wo_2D8)

Version : SpongeVanilla-1.11.2-6.0.0-BETA-231

[2017-03-12 20:49] lesbleu opened #1252 "ChangeBlockEvent never launched when player use bucket"
Hi,
when player is using water bucket or lava bucket, the event ChangeBlockEvent.Place isn't launched.
And when player is using bucket or others blocks to remove lava or water,
event ChangeBlockEvent.Break

[Example](https://www.youtube.com/watch?v=i71Bm3GPZMM&feature=youtu.be)

Tested on SpongeVanilla-1.11.2-6.0.0-BETA-231 and SpongeForge-1.11.2-2227-6.0.0-BETA-2232.
And there are no bug on API 5

[2017-03-12 21:11] ladehaug commented on #1234
I'm currently stuck at build 2169 because monster spawners are not behaving correctly. I'm running a server with doomlike dungeons installed. When using build 2172 or later the spawners are almost not spawning any mobs at all, even when they are placed in pitch dark. The same issue can be seen in ordinary dungeons generated by vanilla minecraft as well. This surely needs to be fixed.

--
Geir

[2017-03-13 01:44] Inscrutable commented on #1211
Villagers are now plundering crops with abandon, but no offspring result. SV 231.

[2017-03-13 01:56] Inscrutable opened #1253 "Shulker boxes throwing errors"
Interacting with Shulker boxes throw a massive error on console. Here's the relevant slice of the latest.log: http://pastebin.com/jaKc4ZV8
This has been happening on the Sponge Community Server, currently with SpongeVanilla 1.11.2 build 231 (although it's been happening since at least build 228).

[2017-03-13 02:03] liach commented on #1253
Fixed in #1214, needs check.

[2017-03-13 05:25] liach commented on #1253
@gabizou Can you manage this?

[2017-03-13 19:57] floomat opened #1254 "Server crashes when trading with leatherworker"
Everytime if someone tries to trade with a leatherworker in a village the server crashes and i need to restart it.[This](https://forums-cdn.spongepowered.org/uploads/default/optimized/3X/2/8/2813c43b0101feb201e94be02df2908f1fd21aca_1_690x415.gif) shows it really good.

I have two error/crash logs:
1: http://pastebin.com/GXSFwvmh
2: http://pastebin.com/FfXnMLFq

According to the logs the Leatherwor

[2017-03-13 22:28] hfreeb commented on #1254
The crash logs can't be viewed.

[2017-03-14 00:17] ladehaug commented on #1241
I installed a clean server setup with the most recent build 2231 (forge 2254) with only SpongeForge installed (essentially a vanilla setup) and can confirm that there are no squids spawning in the world. It also explains why I haven't seen a bat on my server for quite some time.. Tried adjusting a number of settings in the config file with no luck.

--
Geir

[2017-03-14 06:35] floomat commented on #1254
It should work now, sorry. :)
1: http://pastebin.com/GXSFwvmh
2: http://pastebin.com/FfXnMLFq

[2017-03-14 09:12] gabizou commented on #1254
This should be fixed once the branch fixing all the catalog type registries is merged in (after more fixes and assurances that an alias system is in place due to some id changes to match the internal id's).

[2017-03-15 10:51] randombyte-developer commented on #23
[Too many spaces](https://github.com/SpongePowered/SpongeCommon/blob/3801b2948972633512500dc636fec4c444acc401/src/main/java/org/spongepowered/common/event/tracking/phase/packet/DropItemOutsideWindowState.java#L80)

[2017-03-16 13:06] ziceptor opened #1256 "java.lang.Exception: null"
http://pastebin.com/hkASXX8n

[code]

[code]

[2017-03-17 16:30] JBYoshi commented on #1256
I just unknowingly created a PR that should fix this: #1258.

[2017-03-17 23:03] johnfriedrich commented on #1256
Getting this aswell
https://pastebin.com/eNryzT5t

plugins:
https://pastebin.com/QTGCYix5

[2017-03-18 12:39] JonoColwell commented on #1241
This issue is still unfixed
Minecraft 1.10.2
SpongeAPI: 5.2.0-SNAPSHOT-a3257a0
Spongeforge: 1.10.2-2254-5.2.0-BETA-2231
Minecraft Forge: 12.18.3.2254

[2017-03-18 17:41] rexbut commented on #1160
I had the same problem, but it will be solved with the PR : https://github.com/SpongePowered/SpongeCommon/pull/1257

[2017-03-18 21:11] JaSpr commented on #1241
We are also experiencing an issue with no squids spawning whatsoever in our world.
    Minecraft: 1.10.2
    SpongeAPI: 5.2.0-SNAPSHOT-a3257a0
    SpongeForge: 1.10.2-2254-5.2.0-BETA-2231
    Minecraft Forge: 12.18.3.2254

[2017-03-19 18:25] phit opened #1259 "Broken legacy formatting codes in chat messages"
Regarding https://github.com/SpongePowered/SpongeCommon/commit/56833c6c13ce468fba22a2811210aa2097194a44 , this change breaks various plugin and mod messages.

It seems to strip legacy formatting codes for no apparent reason.

## Some examples
**Breaking Forge mod help output (In this case cofh core)**
![](http://i.imgur.com/EtezuJs.png)

**Plugin Messages (in this case WonderTrade)**
![](http://i.

[2017-03-20 07:02] JaSpr commented on #1259
This appears to be affecting multiple server-side messages sent to players.

Nucleus /tps command is almost unreadable:

[code]

[2017-03-20 09:33] #1259 closed, assigned to simon816

[2017-03-20 12:35] randombyte-developer commented on #23
[Typo](https://github.com/SpongePowered/SpongeCommon/blob/9e6acff2f9c25f346151420d368a26a0e3578a5b/src/main/java/org/spongepowered/common/data/util/DataVersions.java#L51) and [typo but unsure if intended](https://github.com/SpongePowered/SpongeCommon/blob/9e6acff2f9c25f346151420d368a26a0e3578a5b/src/main/java/org/spongepowered/common/data/builder/manipulator/InvisibilityDataAddVanishUpdater.java#L

[2017-03-20 22:45] #1243 closed, assigned to nobody

[2017-03-21 06:21] poqdavid opened #1261 "Some InventoryArchetypes aren't fully functional"
Well i been attempting to open Anvil, EnchantingTable, Workbench but EnderChest is the only one working that rest just returns no items even when i try to use click event my self

[2017-03-21 07:39] Faithcaio commented on #1261
Do you mean the output-slot of those inventories?
Custom Inventories currently have no additional logic behind them, so the output-slot will never actually change on its own. (They basicly are chests that look like an Anvil etc.)
The Client however does not know this and displays an item in there regardless.

I am working on allowing to replicate vanilla behaviour of those containers in:
https://g

[2017-03-21 14:29] Inscrutable opened #1263 "TNT Chain Reactions are broken"
When TNT detonates next to other TNT blocks, they simply get destroyed. In normal Vanilla MC behavior, they should ignite as well and generate a bigger explosion.
MC 1.11.2, SpongeVanilla build 234. This was reproduced on the SCS and also the _Guardian_ test server.

[2017-03-21 19:17] Faithcaio commented on #848
Signs are also very unsafe it seems.

[2017-03-23 06:58] gabizou commented on #1195
Should be fixed with the latest builds of both SpongeForge#2262 and SpongeVanilla#235.

[2017-03-23 06:58] #1195 closed, assigned to nobody

[2017-03-23 06:59] gabizou commented on #1160
Should be fixed with the latest builds of both SpongeForge#2262 and SpongeVanilla#235.

[2017-03-23 06:59] #1160 closed, assigned to nobody

[2017-03-23 06:59] #1194 closed, assigned to nobody

[2017-03-23 07:02] #1072 closed, assigned to nobody

[2017-03-23 07:03] gabizou commented on #1066
Should be resolved now.

[2017-03-23 07:03] #1066 closed, assigned to gabizou

[2017-03-23 07:04] gabizou commented on #739
Most all of this should be fixed. Care to verify any additional issues?

[2017-03-23 07:04] gabizou commented on #999
Is this still an issue? I distinctly remember there being a commit attempting to fix this.

[2017-03-23 07:05] gabizou commented on #1058
Closing as this is more of a forge bug that could possibly be fixed in forge or Spongeforge itself.

[2017-03-23 07:05] #1058 closed, assigned to nobody

[2017-03-23 07:07] gabizou commented on #478
Can you verify this is still an issue? Granted, this is very old now, and long before CauseTracker was rewritten (though it might suffer from the same issue).

[2017-03-23 07:07] gabizou commented on #41
We need this to be updated, @simon816?

[2017-03-23 10:34] DarkArc commented on #478
I'm not currently setup for MC dev. I will go ahead and close this.. After I get my new computer built, I'll set something up and try that out. Should be about a week or a little over.

[2017-03-23 10:34] #478 closed

[2017-03-23 12:22] ST-DDT commented on #739
Yes. I will try to do this this evening or this WE.

[2017-03-23 15:51] ziceptor opened #1265 "Spongeforge-1.11.2-2227-6.0.0-BETA-2242"
http://pastebin.com/6hBJNN74
http://pastebin.com/GH1kStfr

[2017-03-23 18:19] #1265 closed, assigned to nobody

[2017-03-23 18:47] ST-DDT commented on #739
@gabizou: Tested with `spongeforge-1.11.2-2227-6.0.0-BETA-2242.jar`:

Most of the errors have been fixed but there are still ~25 issues left
(~1900 single failures total , ~1700 being missing translations (broken translation keys) for `Statistics`).

[CatalogTest-Short.log](https://gist.github.com/ST-DDT/391cdd00d00a6458b5d19a2839a3cdd4)

[Test-Plugin.java](https://gist.github.com/ST-DDT/dd6962a30

[2017-03-23 19:05] ST-DDT commented on #739
@gabizou: Tested with `spongeforge-1.11.2-2227-6.0.0-BETA-2242.jar`:

Most of the errors have been fixed but there are still ~25 issues left
(~1900 single failures total , ~1700 being missing translations (broken translation keys) for `Statistics`).

[CatalogTest-Short.log](https://gist.github.com/ST-DDT/391cdd00d00a6458b5d19a2839a3cdd4)

[Test-Plugin.java](https://gist.github.com/ST-DDT/dd6962a30

[2017-03-23 19:38] ST-DDT commented on #739
@gabizou Added some more tests and found some registries that did not contain any entries.

TestCases:
* Is not a catalog type but listed as one: clazz
* Failed entirely on: clazz
* Failed id on: clazz
* Failed name on: clazz
* Failed translate on: clazz
* Failed server translation on class: clazz
* Missing server translation on key: 'CTType: id' = 'translationId'
* Failed toString on: clazz
* Fai

[2017-03-25 15:25] johnfriedrich opened #1266 "Exception while updating neighbours org.spongepowered.common.util.CachedLong2ObjectMap.get"
Forge: 2254
SF: 2241
MC: 1.10.2

Thats a causetracker issue  with liquids somehow.
This server is heavily modded (FTB Beyond 1.2.1), but this still shouldn't crashed by sponge.
`java.lang.NullPointerException
    at org.spongepowered.common.util.CachedLong2ObjectMap.get(CachedLong2ObjectMap.java:39) ~[CachedLong2ObjectMap.class:1.10.2-2254-5.2.0-BETA-2241]`
Error:
https://pastebin.com/CWV0cmei
Cra

[2017-03-25 17:02] SjsolisZXA opened #1267 "Scoreboard DisplaySlots.BELOW_NAME Bug"
**Sponge API:** 6.0.0-20170323.180311-60
**Sponge Forge Build:** spongeforge-1.11.2-2227-6.0.0-BETA-2244
**Forge Build:** forge-1.11.2-13.20.0.2227-universal
**Java Version:** 1.8.0_121-b13

About a month ago, I had posted an issue on the Plugin Development forums with Scoreboards. I presume it's a bug, since Aaron1011 didn't get back to me on my last post, so I thought I post it here so you guys

[2017-03-25 19:18] Deamon5550 commented on #1266
Hello #1234

[2017-03-25 22:16] lesbleu opened #1268 "InteractEntityEvent.Secondary cancelled : Client isn't updated"
Hi,
When i cancelled event "InteractEntityEvent.Secondary", the client doesn't receive the update.
Example : [Video](https://youtu.be/6BHe10VJeaQ)

Tested on SpongeVanilla-1.11.2-6.0.0-BETA-234

[2017-03-26 00:54] #1045 closed, assigned to Faithcaio

[2017-03-26 01:08] #1166 closed, assigned to nobody

[2017-03-26 02:04] #1154 closed, assigned to nobody

[2017-03-26 03:14] bloodmc commented on #1175
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/2406e2f0114c0955b0910dff7001456a9a1e1b52

[2017-03-26 03:14] #1175 closed, assigned to Faithcaio

[2017-03-26 03:15] bloodmc commented on #1229
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/2406e2f0114c0955b0910dff7001456a9a1e1b52

[2017-03-26 03:15] #1229 closed, assigned to nobody

[2017-03-26 08:34] #1220 closed, assigned to gabizou

[2017-03-26 08:34] #1263 closed, assigned to gabizou

[2017-03-26 12:13] JBYoshi commented on #1256
The next SpongeForge build should fix this.

[2017-03-26 14:15] poqdavid commented on #1261
Yah well i worked on it and now my plugin works here https://github.com/poqdavid/VirtualTool/commit/304b49ccffd89fa84fe3ff6e3905464dda4975d2 maybe that helps

[2017-03-26 15:47] #1256 closed, assigned to nobody

[2017-03-26 21:41] LemADEC opened #1269 "Cavernic creeper: Exception trying to process over a phase!"
As of
forge-1.10.2-12.18.3.2254-universal.jar
spongeforge-1.10.2-2254-5.2.0-BETA-2245.jar

We're still observing cause tracker issues related to explosion with Cavernic creeper from http://minecraft.curseforge.com/projects/cavern

[code]

[2017-03-26 21:42] LemADEC commented on #1269
this was initially reported here https://github.com/SpongePowered/SpongeForge/issues/1385 but it's actually a different issue

[2017-03-26 22:10] JBYoshi commented on #1256
The fix is released in 1.11.2-2227-6.0.0-BETA-2249.

[2017-03-26 22:34] johnfriedrich commented on #1256
Do we get a backport for 1.10.2 aswell?

[2017-03-26 23:02] rexbut opened #1270 "Exception when a painting is destroyed by TNT"
The exception is thrown only if the player is not in creative mode.

Log : http://pastebin.com/RrVe0T9V

Tested on SpongeVanilla-1.11.2-6.0.0-234 and bleeding

[2017-03-27 01:29] JBYoshi commented on #1269
I think I have a fix. I will test it and then submit it.

[2017-03-27 02:38] ryantheleach commented on #23
[code]

Spaces needed in between string joins on this exception message.
"whena" "toldto" "phases.This" "reportis"

[2017-03-27 02:40] JBYoshi commented on #1269
Having a bit of trouble setting up the 1.10.2 environment. Here's the diff if someone else wants to test and commit the fix:
[code]

[2017-03-27 03:52] gabizou commented on #1256
@i9hdkill It's going to be difficult to do so, an attempt will be made, but I can't guarantee it will be as successful since it did involve breaking the API for API 6.

[2017-03-27 04:00] gabizou commented on #1269
@JBYoshi The issue is that forge overwrites this as well, so the patch will not work (look at the updated commit on bleeding directing this with an overwrite). I'm going to be porting the entire commit to 1.10.2 as well as I can, with some sacrifice to requiring a world object.

I'll keep this issue open until a commit is made to `stable-5` branch to fix this.

[2017-03-27 04:04] gabizou commented on #1270
This is already fixed, we just need to get SpongeVanilla an update.

[2017-03-27 07:02] LemADEC commented on #1269
As of spongeforge-1.10.2-2254-5.2.0-BETA-2250.jar, this specific issue is reproduced by blowing up a Terraqueous tree with a Cavern cavenic creeper.

A similar exception happens by blowing up a Terraqueous tree with vanilla TnT:
[code]

[2017-03-27 07:12] gabizou commented on #1269
Closed with https://github.com/SpongePowered/SpongeCommon/commit/ce9fcfbc89abcf1a20bad56a9b6d4e6b5f6bdfe7

[2017-03-27 07:12] #1269 closed, assigned to gabizou

[2017-03-27 07:19] LemADEC opened #1271 "Console spamming "Could not find a Source block!" with AbyssalCraft fire"
As of
spongeforge-1.10.2-2254-5.2.0-BETA-2250.jar
AbyssalCraft-1.10.2-1.9.3.10.jar
forge-1.10.2-12.18.3.2254-universal.jar
When an entity walks into fire placed by Abyssalcraft Demon pig, the console is spammed with:
[code]

Steps to reproduce (method 1):
- give yourself a Demon pig spawn egg
- spawn Demon pigs until ones start placing fire on the floor
- spawn a vanilla chicken in the fire => con

[2017-03-27 16:09] rexbut commented on #1270
There is always the error in SpongeVanilla-1.11.2-6.0.0-BETA-239.

Log : https://pastebin.com/GdbvFQep

[2017-03-27 19:40] #1266 closed, assigned to bloodmc

[2017-03-27 19:40] #1234 closed, assigned to bloodmc

[2017-03-27 19:53] bloodmc commented on #1271
@LemADEC Update to latest SpongeForge and retest.

[2017-03-27 20:26] LemADEC commented on #1271
Issue is reproduced with spongeforge-1.10.2-2254-5.2.0-BETA-2254.jar

[2017-03-27 20:27] LemADEC commented on #1269
Issue is reproduced with spongeforge-1.10.2-2254-5.2.0-BETA-2254.jar

[2017-03-27 20:28] LemADEC commented on #1269
https://pastebin.com/GCyxPL8T

[2017-03-27 20:33] johnfriedrich opened #1272 "Mixin apply failed mixins.common.core.optional.json:util.math.MixinMutableBlockPos"
Forge: 2254
SF: 2254

I think I first saw this error with SF 2254, but not 100% sure.
startup forge log:
https://pastebin.com/iHrRhEHq
error:
https://pastebin.com/Q2N3Z6wq

[2017-03-27 20:55] LemADEC opened #1273 "Vitality wand causing "Completing incorrect phase""
As of
forge-1.10.2-12.18.3.2254-universal.jar
spongeforge-1.10.2-2254-5.2.0-BETA-2254.jar
vitality-2.4.jar  https://minecraft.curseforge.com/projects/vitality https://github.com/raphydaphy/Vitality/tree/master

When a player tries to transmute a Vitality altar with not enough essence, a cause tracker issue is reported:
[code]

Steps to reproduce:
1- build a 5x5 platform of Nether quartz blocks (1

[2017-03-27 21:55] simon816 commented on #41
Guess we forgot about this.
I'll go through and update the list of events we have.
It will take several days for me to verify they are fully implemented (involves setting up event handlers and verifying they fire whenever they should according to the event's javadoc)

[2017-03-27 22:31] Deamon5550 commented on #41
@simon816 if you're going through that, could you store the cause that gets thrown as well? Just in a gist or whatever is fine, it'd save me some time testing the cause refactor.

[2017-03-27 22:40] simon816 commented on #999
Just tested this on latest bleeding (SpongePowered/SpongeForge@55d753c8d21dcd6ee4c4f6754de0e4e7e93a225c), still no event fired when the falling sand entity turns into sand block

[2017-03-28 01:15] #1271 closed, assigned to nobody

[2017-03-28 03:23] #1273 closed, assigned to nobody

[2017-03-28 04:06] bloodmc commented on #1273
Our part is fixed, the main problem is due to the mod calling a client class on server side as shown in this trace

https://gist.github.com/bloodmc/7edf67448c9fcf053038a27eff0bcd44#file-stacktrace-txt-L66

Open a ticket with mod dev to fix it.

[2017-03-28 04:08] bloodmc commented on #1248
This is fixed in latest builds.

[2017-03-28 04:08] #1248 closed, assigned to nobody

[2017-03-28 13:31] LemADEC opened #1274 "Animalium + Sponge = The property 'targetEntity' was not provided!"
As of
forge 12.18.3.2254
spongeforge-1.10.2-2254-5.2.0-BETA-2259
Animalium-0.1.6 https://minecraft.curseforge.com/projects/animalium
when a player disconnects after being targeted by Rats, the server will crash on world loading with the following exception:
[code]

[code]
Above crash is from reproducing in single player.
Issue was initially seen on a dedicated server chain crashing until we set
[c

[2017-03-28 14:44] Rob5Underscores-zz opened #3177 "Region not unloaded after all of its chunks unloaded"
Hi.

Attempting to unload all chunks within a region so that the region will unload. I'm unloading them all (and have even tried unloading all chunks in the world), however, the region file is not unloaded from memory (and therefore doesn't respond to changes to the file directly).

Is there a way to unload a region or even trigger a cleanup that might do it?

Thanks

[2017-03-28 15:05] Deamon5550 commented on #3177
The only way you can guarantee that its safe to write to the world is to completely unload the world, make your changes, and then load it again

[2017-03-28 15:16] Rob5Underscores-zz commented on #3177
Is there any way I can see which regions are loaded?

[2017-03-28 18:06] Zidane commented on #1272
[code]

You've got a mod doing some shady ASM. Remove mods one by one until you find the culprit.

[2017-03-28 18:06] #1272 closed, assigned to nobody

[2017-03-28 18:10] Zidane commented on #1230
@bloodmc Can you comment on this?

[2017-03-28 18:11] Zidane commented on #1199
@writeescape make a new issue for that then.

[2017-03-28 18:11] #1199 closed, assigned to nobody

[2017-03-28 18:13] Zidane commented on #464
@SpongePowered/developers

Status update on this or close it if not an issue.

[2017-03-28 18:25] Zidane commented on #416
I'm closing this as I feel this should be re-opened as a possible toggle-able option in Mixin with a warning that gets triggered.

@Mumfrey may disagree though..

[2017-03-28 18:25] #416 closed

[2017-03-28 18:29] Mumfrey commented on #416
My official position is that basically any `Shift-By` with a `by` value greater than 1 should be replaced with slices. Slices are more expressive and have better fail-fast behaviour. Since this feature has been in the wild for some time, I feel like it's justified to set `WARN` threshold on `by` values and guide people towards writing with slices as a better solution.

[2017-03-28 19:58] simon816 commented on #41
Updated the list of events

# Events added
`block.ChangeBlockEvent.Pre`
`block.CollideBlockEvent.Impact`
`block.InteractBlockEvent.Primary.MainHand`
`block.InteractBlockEvent.Primary.OffHand`
`block.InteractBlockEvent.Secondary.MainHand`
`block.InteractBlockEvent.Secondary.OffHand`
`block.TickBlockEvent.Random`
`block.TickBlockEvent.Scheduled`
`entity.AttackEntityEvent`
`entity.CollideEntityEvent.

[2017-03-28 20:23] asiekierka commented on #1272
This is probably a better/more efficient option than removing mods one by one: https://asie.pl/Projects/Minecraft/Mods/EnvironmentChecker

[2017-03-28 22:04] LemADEC opened #1275 "InvalidMixinException on field_177997_b / net.minecraft.util.math.BlockPos$MutableBlockPos"
As of
forge-1.10.2-12.18.3.2254-universal.jar
spongeforge-1.10.2-2254-5.2.0-BETA-2259.jar
with various packs like Invasion, Direwolf20, SkyFactory3, and Beyond,
an InvalidMixinException is reported during boot time:
[code]

[2017-03-28 22:18] Deamon5550 commented on #1275
Duplicate #1272 disable `optimizedBlockPos` in the config of foamfix.

[2017-03-28 22:18] #1275 closed, assigned to nobody

[2017-03-29 02:22] SjsolisZXA opened #1276 "PotionEffect Retrieval Bug"
**Sponge API:** 6.0.0-20170323.180311-60
**Sponge Forge Build:** spongeforge-1.11.2-2227-6.0.0-BETA-2244
**Forge Build:** forge-1.11.2-13.20.0.2227-universal
**Java Version:** 1.8.0_121-b13

I've seem to have found a bug, which simon816 has confirmed on the forums, with the with `DataSerializable` in regards to `PotiotionEffect`s.

**Here is the original post:**

I have the following code, which s

[2017-03-29 15:44] Rob5Underscores-zz commented on #3177
Bump @Deamon5550 any idea?

[2017-03-29 16:17] VapidLinus commented on #1237
I'm also having this issue.

How I place the blocks:

[code]

How I track the changes:

[code]

The event is fired when players/minecraft places blocks but not when I do it in my plugin.

[2017-03-30 10:06] Faithcaio commented on #1253
similar to https://github.com/SpongePowered/SpongeForge/issues/1362
I'm fixing it in:
SpongePowered/SpongeCommon@7719eee

[2017-03-30 11:27] Inscrutable commented on #1211
I suspect Golem spawning is also affected, as none have appeared in any villages. SV 234.

[2017-03-30 16:00] liach commented on #1253
My pull gets killed again :thinking:

[2017-03-30 16:15] Faithcaio commented on #1253
sry, but i'm including some of it

[2017-03-30 17:04] Faithcaio commented on #1253
fixed in https://github.com/SpongePowered/SpongeCommon/commit/ba2a27ffa83ee972a024407921fbd36c01e768c0

[2017-03-30 17:04] #1253 closed, assigned to nobody

[2017-03-30 21:47] lantren commented on #1165
apparently it's not the same as #1163 since that issue has been closed as resolved and this issue still persists.

[2017-03-31 19:23] caseif opened #1278 "Phase incompatibility on clicking item"
I've been observing this warning a lot recently. Not entirely sure what it entails, as I have only a rough understanding of the cause system. Furthermore, I apologize if this is not an issue with Sponge directly - I'm unsure of the conditions required to trigger the warning, and frankly, I'm not really sure how to track it down.

Relevant log: https://gist.github.com/caseif/640c73863eec8a426626ce1