[2018-07-24 02:50] ryantheleach commented on #2014
@gabizou How can we better communicate the game life cycles to people? This seems more a UX / docs / Read The Manual type issue.

Our current docs: https://docs.spongepowered.org/stable/en/plugin/lifecycle.html?highlight=lifecycle

Our current JD: https://github.com/SpongePowered/SpongeAPI/tree/stable-7/src/main/java/org/spongepowered/api/event/game/state

[2018-07-24 08:01] Lignium commented on #2013
Updated report...

[2018-07-24 20:35] limbo-app opened #2018 "offline inventory enderchest"
This issue was originally submitted by @02Miki in [SpongePowered/SpongeForge#2281](https://github.com/SpongePowered/SpongeForge/issues/2281).
___
Idk if this is the right section, couldn’t create a new ticket in pull requests; can you add offline inventories for enderchest, like the same thing you did with player inventories

[2018-07-24 21:29] ImMorpheus commented on #1380
Trying to follow the stacktrace, it looks like it's crashing here
https://github.com/SpongePowered/SpongeCommon/blob/cf17df1c6e1b26cb6c0bd1b0bbb5469232a24186/src/main/java/org/spongepowered/common/registry/type/entity/EntityTypeRegistryModule.java#L252

So clazz is null and it was passed here
https://github.com/SpongePowered/SpongeCommon/blob/cf17df1c6e1b26cb6c0bd1b0bbb5469232a24186/src/main/java/

[2018-07-24 23:34] bloodmc commented on #2013
@Lignium Have you tested SpongeForge?

[2018-07-25 09:15] Lignium commented on #2013
@bloodmc No, I tested only SpongeVanilla.

[2018-07-25 11:13] XakepSDK commented on #2013
Test this with SF, if you can.

[2018-07-25 13:57] XakepSDK opened #2019 "registerDefaults not called or called twice"
**I am currently running**
- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-93.jar

I'm writing some plugin and this plugin uses registry system.

Registry src: https://gist.github.com/XakepSDK/71bcbce4428e509639b7782976c2c49c
How i register registry: https://gist.github.com/XakepSDK/8e83d15ed0e01bcbe3bcb829ebdcae47

`registerDefaults()` isn't called, and if i annotate it with `AdditionalR

[2018-07-25 14:51] ImMorpheus commented on #1443
I'm able to reproduce this on bleeding (https://github.com/SpongePowered/SpongeCommon/commit/a0675944bd8e75cf59e48e87a42380a0d07507d5).
[code]

[2018-07-25 14:55] Zidane commented on #2013
Right button to block: Fired SECONDARY event with full data. However, also fired SECONDARY event of the off hand.

This will happen no matter the platform as we have no idea what you're right clicking with as Vanilla doesn't even know and just sends the packet for both of them.

@bloodmc ^

[2018-07-25 15:09] bloodmc commented on #2013
Yes, the right click on block is not a bug and is working as intended.

[2018-07-26 07:12] gabizou commented on #1443
@ImMorpheus Ignore bleeding... We're focusing on stable-7.

[2018-07-26 08:25] #1443 closed, assigned to bloodmc

[2018-07-26 09:06] XakepSDK commented on #2019
UPD: doesn't called twice, my code issue. But its not called without `DelayedRegistration` annotation.
It should be called at pre init state even without annotation.

[2018-07-26 11:11] XakepSDK opened #2020 "inventory.offer broken"
**I am currently running**

- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-93

I'm iterating over custom inventory, created by my plugin:
[code]

I'm trying to set items in empty slots:
[code]
Only first slot item will be replaced.
InventoryTransactionResult is:
https://gist.github.com/XakepSDK/0844bd97a2c7af5fe6a0e410bfcd4397

[2018-07-26 17:10] bloodmc commented on #2011
@XakepSDK Is this occuring on latest SF?

[2018-07-26 17:16] XakepSDK commented on #2011
I'll test this today or tomorrow.

[2018-07-26 17:27] bloodmc commented on #1948
This was fixed with PR #1968 which has been merged.

[2018-07-26 17:27] #1948 closed, assigned to nobody

[2018-07-26 17:28] bloodmc commented on #1899
@Aaron1011 please take a look at this.

[2018-07-26 17:29] bloodmc commented on #1833
This was actually a bug with the timings website itself and has since been resolved.

[2018-07-26 17:29] #1833 closed, assigned to nobody

[2018-07-26 17:40] bloodmc commented on #1767
This code has been completely changed in latest SF builds. Create a new ticket if something similar occurs.

[2018-07-26 17:40] #1767 closed, assigned to nobody

[2018-07-26 17:42] bloodmc commented on #1727
Minecrell has answered this ticket so this issue can be closed.

[2018-07-26 17:42] #1727 closed, assigned to nobody

[2018-07-27 00:15] ryantheleach commented on #1899
This would indicate at first glance that the post construct events are failing to fire.

[2018-07-27 01:20] ryantheleach commented on #1833
For reference:

https://github.com/aikar/timings/commit/dc50bb2449d1f74d9997abbc2528b8777d5651db

[2018-07-27 11:30] XakepSDK opened #2021 "Advancement loading errors SF-3355"
[code]
https://gist.github.com/XakepSDK/249e9ca265f5c6b5c1ccb069ea6d4aa2

Should be fixed by https://github.com/SpongePowered/SpongeCommon/pull/1999, but seems to be not fixed.

[2018-07-27 12:50] m1zark opened #2022 "Error trying to cancel ClickInventoryEvent"
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3233
- Java version: Java 8

[code]

So I was using this code to block placing items in a workbench or anvil if it had lore, just to stop people from renaming or editing special items. Well the workbench part works just fine, but whenever I try the same item in an anvil the item just disappears and I get the following error.

[https://pastebin.com/LHXp

[2018-07-27 14:00] Cybermaxke commented on #2021
Looks like there is a mod removing recipes without removing their unlock advancements.

[2018-07-27 14:21] XakepSDK commented on #2011
Yes.
https://gist.github.com/XakepSDK/01d2dcf397f0ccbfda3b876f5d6bcfcf
Log includes versions and mod/plugin list.

[2018-07-27 14:29] XakepSDK commented on #2011
More exceptions: now with full startup failure.
Same version, but bit more mods.
https://gist.github.com/XakepSDK/72dd931c35bde04463ff269eb1a7a36f

[2018-07-27 14:31] XakepSDK commented on #2021
You're right. Caused by pams harvestcraft.

[2018-07-27 15:11] phit commented on #2021
mod bug that happens with just forge

[2018-07-27 15:11] #2021 closed, assigned to nobody

[2018-07-27 17:07] Faithcaio commented on #2018
I moved the method from `Player` to `User` in API8

Maybe API7 too? @gabizou @Zidane

[2018-07-27 17:27] Faithcaio commented on #2022
Probably already fixed as I've done work on inventories since. Try with latest. If you are able to reproduce it we will re-open the issue.

[2018-07-27 18:06] ryantheleach commented on #2018
So being on User means the User would already be loaded right? There's no need to make like, an async request or something because they want offline access?

[2018-07-27 18:12] Faithcaio commented on #2018
For `Player` nothing changes.
For `User` the inventory is loaded lazily when you request it.
Making changes to it marks it as dirty.
Dirty users are saved eventually but before the player joins.

[2018-07-27 18:14] ryantheleach commented on #2018
request the user, or request the inventory? If the latter, would it be worth making it async?

[2018-07-27 18:21] Faithcaio commented on #2018
User nbt is loaded into memory before.

[2018-07-27 19:30] Faithcaio commented on #2016
`Slot#getStackSize` is the same as `Inventory#totalItems` so i'll remove it completly.
For API7 I "fixed" the Javadocs. Returning -1 makes no sense.

[2018-07-27 19:30] #2016 closed, assigned to nobody

[2018-07-27 22:28] gabizou commented on #2018
Moving the method from Player to User is still going to be valid, just add a proper override annotation in `Player`.

[2018-07-27 22:38] #2011 closed, assigned to nobody

[2018-07-28 05:36] #2018 closed, assigned to nobody

[2018-07-28 18:06] Yeregorix commented on #2020
Does `getIcon()` recreates a new `ItemStack` for each call ? Otherwise it's normal because `offer(ItemStack)` consumes the stack.

[2018-07-28 18:17] Yeregorix opened #2024 "ArmorEquipable getters throw IllegalStateException"
**I am currently running**

- SpongeForge version: 1.12.2-2705-8.0.0-BETA-3348:dev
- Java version: 1.8.0_162
- Operating System: Windows 10 x64

**Issue Description**
ArmorEquipable `.getBoots()` `.getLeggings()` `.getChestplate()` and `.getHelmet()` throw IllegalStateException when called on a `Player` with no armor. (I've not tested with other entity types or other getters.)

Stacktrace: https:/

[2018-07-28 18:33] XakepSDK commented on #2020
Forgot to close. Already found this yesterday.

[2018-07-28 18:33] #2020 closed, assigned to nobody

[2018-07-28 19:09] Faithcaio commented on #2024
MixinArmorEquipable#getEquipped returns optional for empty items :/ it should not

[2018-07-28 20:02] #2024 closed, assigned to nobody

[2018-07-28 21:33] ImMorpheus commented on #723
@ryantheleach "pr pending" please

[2018-07-29 09:59] Yeregorix commented on #2024
Is it possible to also fix the issue in `bleeding` ? ^^

[2018-07-29 11:37] Faithcaio commented on #2024
should be..

[2018-07-29 12:17] Yeregorix commented on #2024
Sorry I didn't watch the good commit. ^^'

[2018-07-29 13:29] Yeregorix opened #2025 "GridInventory positions are incorrect"
**I am currently running**

- SpongeForge version: 1.12.2-2705-8.0.0-BETA-3359:dev
- Java version: 1.8.0_162
- Operating System: Windows 10 x64

I can't really explain the issue but an example should be sufficient.

**Code**
[code]

**Result**
![inv](https://user-images.githubusercontent.com/10995968/43366802-9c7322c6-9343-11e8-99f9-c0605f886cac.png)

[2018-07-29 16:30] ImMorpheus commented on #1380
@phit Thoughts ?

[2018-07-30 10:17] phit commented on #1380
if it pops up again, can always reopen

[2018-07-30 10:17] #1380 closed, assigned to nobody

[2018-07-30 16:59] ImMorpheus opened #2027 "Minecart CommandBlock missing manipulators"
**I am currently running**

- SpongeForge version: bleeding branch (SpogeCommon https://github.com/SpongePowered/SpongeCommon/commit/ad1a7de9a3d3f9d04d591c1c8b2bb98e03b2878b)
- SpongeVanilla version:

**Issue Description**
Minecart CommandBlock is missing manipulators.
Ex. place a minecart command block, burn it and try to retrieve IgniteableData or Keys.FIRE_TICKS.

[code]

I've found this while

[2018-07-30 17:01] gabizou commented on #2027
As i know the systems in great length, can you test on stable branches instead of bleeding? It’s getting repetitive to keep asking this.

[2018-07-30 17:14] ImMorpheus commented on #2027
I thought bleeding was synced with stable recently.

Anyway the problem is also there since `MixinEntityMinecartCommandBlock#supplyVanillaManipulators` is not calling `super#supplyVanillaManipulators`.

https://github.com/SpongePowered/SpongeCommon/blob/dcbf53c72268c79e65280f920d67c19bb71b4e90/src/main/java/org/spongepowered/common/mixin/core/entity/MixinEntityMinecartCommandBlock.java#L51-L53

Ap

[2018-07-30 19:02] Lignium commented on #2013
Similarly with the InteractItemEvent... :(

[2018-07-30 19:08] Lignium opened #2028 "ChangeBlockEvent.Break not fired when block break by water"
**I am currently running**

- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-93
- Java version: OpenJDK Version "1.8.0_171"
- Operating System: Linux Mint 18.3 Sylvia (Kernel: x86_64 Linux 4.13.0-45-generic)
- Plugins/Mods: Empty (Only one my experimental plugin)

**Issue Description**

The ChangeBlockEvent.Break not fired when block break by water. It's not logical...

[2018-07-30 19:11] Zidane commented on #2028
@Lignium I believe that @bloodmc elected to only have those fire ChangeBlockEvent.Pre due to performance concerns.

Granted this was years ago. Performance has came a long way. @bloodmc we may be able to have this again.

[2018-07-30 19:11] ryantheleach commented on #2013
@Lignium I suspect there's some confusing at the result you expect.

Are you complaining about lack of context of what the player is holding?
Who is doing the clicking?

Essentially, for the 4 above, can you outline what you see (on each platform), what you expect, and why you have made the issue?

Originally (before your edits) it seemed you believed they wern't being fired at all.

A test plugin

[2018-07-30 19:20] Lignium opened #2029 "ConstructEntityEvent.toString() throws NPE"
**I am currently running**

- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-93
- Java version: OpenJDK Version "1.8.0_171"
- Operating System: Linux Mint 18.3 Sylvia (Kernel: x86_64 Linux 4.13.0-45-generic)
- Plugins/Mods: Empty (Only one my experimental plugin)

**Issue Description**

My listener:
[code]

When a player connect to the server, NPE is thrown:

[code]

Remapped: (ryan)
[code

[2018-07-30 19:50] ryantheleach commented on #2029
Proposed fix, have a null check in the to String, and use `name != null ? "\"" + name +"\"" : "null"` as a substitute for the name method.

But the chances of it being that simple with the event generator are slim.

It's likely a symptom of a larger problem, in that Player's (and maybe other entities) arn't fully constructed when this event is called.

Changing the order that stuff is initialized

[2018-07-31 00:22] LXGaming commented on #2013
There are inconsistencies with the InteractBlockEvent and InteractItemEvent between SpongeForge and SpongeVanilla as shown in the following image

![SpongeEvents](https://i.imgur.com/6R1oMUz.png)

Most notable is the missing events when `Holding minecraft:stick, Looking at nothing` as this would break something like the GriefPrevention claim inspection wand or the VirtualChest plugin as I have obs

[2018-07-31 04:08] Aaron1011 opened #2030 "Inventory modifications from scheduled tasks are sometimes included in inventory events"
Plugins often modify a player's inventory, or an open GUI, from a (synchronous) scheduled task. However, if these modifications occur during the same tick as an inventory packet, the plugin's modifications may be captured and included in the event.

From what I can see, the issue occurs when `detectAndSendChanges` is not called between the scheduled task and the packet phase unwinding. This causes

[2018-07-31 05:38] bloodmc commented on #2028
Definitely not going to make water fire break as it is very spammy and the event itself would require block snapshots which would hurt performance. Use `ChangeBlockEvent.Pre` for water and check the locations affected.

[2018-07-31 05:38] #2028 closed, assigned to nobody

[2018-07-31 21:13] ImMorpheus commented on #2027
Fixed by https://github.com/SpongePowered/SpongeCommon/pull/2023. PR pending.

[2018-08-01 12:14] luckyrill opened #2032 "Failed to process all PhaseContext captured!"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3361
- Java version: 8 Update 181
- Operating System: Ubuntu 16.04

- Plugins/Mods: industrialcraft-2-2.8.94-ex112

Simulation a problem in the game: Open tool_box (ic2), move opened tool_box in a another slot, and it disappears.
With the same event in a single game, tool_box droped out.

Console log:

Failed to process all

[2018-08-01 12:34] XakepSDK commented on #2032
debug.log and latest.log required

[2018-08-01 12:42] luckyrill commented on #2032
@XakepSDK
[latest.log](https://github.com/SpongePowered/SpongeCommon/files/2249445/latest.log)
[debug.log](https://github.com/SpongePowered/SpongeCommon/files/2249446/debug.log)

[2018-08-01 12:45] XakepSDK commented on #2032
Use this service: https://gist.github.com/

[2018-08-01 12:52] luckyrill commented on #2032
@XakepSDK
[latest.log](https://gist.github.com/luckyrill/60b34b23e4bcdc9c6445027c3a1fcec1)
[debug.log](https://gist.github.com/luckyrill/ec0637b08cc6aee1a744613094eb8459)

[2018-08-02 00:41] randombyte-developer commented on #1853
`1.12.2-7.1.0-BETA-98`

As xakep reported, the fireworks particle builder doesn't do anything, no color, no shape, no flicker is applied.

[2018-08-02 09:00] SawFowl opened #2034 "ConstructPortalEvent. The event is not canceled."
**I am currently running**

- SpongeForge version:  1.12.2-2705-7.1.0-BETA-3364
- SpongeVanilla version: 1.12.2-7.1.0-BETA-78
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
- Operating System: Windows 7 / Debian 9

- Plugins (28): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge,  FastAsyncWorldEdit, BeanCore, CatClearLag, CommandSync, EconomyLite, GriefPrevention, Hu

[2018-08-02 09:14] SawFowl opened #2035 "A bug in the method. inventory.offer(ItemStack.of(item, 1));"
**I am currently running**
- SpongeForge version:  1.12.2-2705-7.1.0-BETA-3364
- SpongeVanilla version: 1.12.2-7.1.0-BETA-78
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_171-b11)
- Operating System: Windows 7 / Debian 9

- Plugins (28): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge,  FastAsyncWorldEdit, BeanCore, CatClearLag, CommandSync, EconomyLite, GriefPrevention, Hus

[2018-08-02 09:38] Faithcaio commented on #2035
This is to be expected. The player inventory includes the armor slots.

Query for `MainPlayerInventory` before offering if you only want the main inventory to be filled.

The restriction to what item can be worn only applies to player interaction with Containers.
No such code exists on the Inventory.

[2018-08-02 09:38] #2035 closed, assigned to nobody

[2018-08-02 14:22] ImMorpheus opened #2036 "sponge -g/-w reload not working"
**I am currently running**

- SpongeForge version: bleeding branch (SpongeCommon commit https://github.com/SpongePowered/SpongeCommon/commit/d1b8572f639d71267955becc8e2e263fa4f34770)
- SpongeVanilla version:

**Issue Description**

(I'm testing on SpongeForge so "deny-chunk-requests" is off by default).

- Start the server
- A default global.conf with `deny-chunk-requests=false` has been generated

[2018-08-02 14:30] ImMorpheus commented on #2034
Not implemented. https://github.com/SpongePowered/SpongeCommon/pull/1608

Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/1916, https://github.com/SpongePowered/SpongeCommon/issues/1559

[2018-08-02 15:42] mmis1000 opened #2037 "Memory leak of listeners add by Inventory.builder()"
**I am currently running**

 -  Minecraft: 1.12.2
 -  SpongeAPI: 7.1.0-SNAPSHOT-7105dfc
 -  SpongeForge: 1.12.2-2705-7.1.0-BETA-3361
 -  Minecraft Forge: 14.23.4.2736

 - Plugins/Mods:
 - Plugins (6): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, InventoryEventListenerLeak, NPCs
 - Mods (11): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, App

[2018-08-02 17:01] phit commented on #2036
don't bother testing on bleeding, you are wasting your time seriously.. there's so many commits missing

if it isn't an issue on stable its basically a nonissue

[2018-08-02 17:09] #2034 closed, assigned to nobody

[2018-08-02 17:30] Aaron1011 commented on #2037
Duplicate of https://github.com/SpongePowered/SpongeAPI/issues/1874

[2018-08-02 17:30] #2037 closed, assigned to nobody

[2018-08-02 19:02] limbo-app opened #2038 "RCON overloads all CPU cores"
This issue was originally submitted by @Ewallee in [SpongePowered/SpongeForge#2354](https://github.com/SpongePowered/SpongeForge/issues/2354).
___
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3361
- Forge version: 1.12.2-forge1.12.2-14.23.4.2744
- Java version: 8
- Operating System: ubuntu 18.04

- Plugins/Mods: no mods, no plugins

Everything works as it should, until I start using R

[2018-08-02 19:05] ryantheleach commented on #2038
Sounds like the RCON mixin might be somewhat out of date.

[2018-08-02 19:28] ryantheleach commented on #2036
For context, in case you arn't currently aware: https://forums.spongepowered.org/t/community-vote/24729

Most of development has been focused on stable for months, and the 2 branches have drifted. It's planned for bleeding to be relevant again soon for plugin authors, but not until that vote is resolved and we sort out which direction we are going in.

Even then, I'd only be testing against bleedi

[2018-08-02 20:02] ImMorpheus commented on #23
https://github.com/SpongePowered/SpongeCommon/blob/stable-7/src/main/java/org/spongepowered/common/world/SpongeProxyBlockAccess.java

(There's also a mixin of this class in SpongeForge).

[2018-08-02 20:54] ImMorpheus commented on #2036
I'm well aware. The thing is, #1957 is targeting bleeding. Why bother testing stable-7 ? Little did I know the commit was cherry-picked soon after.

Just tested on the other branch.
I'm able to reproduce this on stable-7 (updated to commit https://github.com/SpongePowered/SpongeCommon/commit/751b801e1becc7a72dbeda43c9c5bf9725024160).
Sadly this is an issue.

[2018-08-02 21:15] gabizou opened #2039 "Upgrade Data implementation to allow upgrading Sponge's Schematic Format"
With our Schematic format needing an update to support EntityArchetypes and Minecraft's Data Version to pipe not through DataFixers (which Mojang has not implemented yet on their own schematic format, because it's assumed that structures are still only somewhat used for creating structures in code).

Here's my proposal for changes necessary for Schematics v2 (or 1.1?) which will also affect how im

[2018-08-02 21:32] #1996 closed, assigned to gabizou

[2018-08-03 00:07] randombyte-developer opened #2040 "No configurability of fireworks"
**I am currently running**
`1.12.2-7.1.0-BETA-98`

The shape does not change to creeper with the following code. Also color changes don't apply. I don't know what 'flickers' and 'trails' look like, but when changing that I also don't see any changes.

[code]

[2018-08-03 11:04] Inscrutable commented on #2039
SpongeDocs has a [Data section](https://docs.spongepowered.org/stable/en/plugin/data/index.html) with a few sub-pages, but nothing at all on _schematics_.  There would be more data stuff, but the [Issue](https://github.com/SpongePowered/SpongeDocs/issues/335) has gone cold since Saladoc went away, and we have few people who feel confident enough to write about it.
The aforementioned pages would ne

[2018-08-03 12:05] limbo-app opened #2041 "Crop trampling"
This issue was originally submitted by @NeumimTo in [SpongePowered/SpongeAPI#1698](https://github.com/SpongePowered/SpongeAPI/issues/1698).
___
According to bloodmc https://github.com/MinecraftPortCentral/GriefPrevention/issues/525#issuecomment-345590668 its not possible to cancel block break events fired when an entity falls down on a crop-block due to missing cause/context in sponge.

[2018-08-03 13:58] m1zark commented on #2022
[https://pastebin.com/CsruWJrz](https://pastebin.com/CsruWJrz)

Here is the error on the latest version, 3361. It's exactly the same as before. While in the anvil UI, I click on the item in my bar and the item disappears and I get that error in console.

[2018-08-04 12:22] #2022 closed, assigned to nobody

[2018-08-04 12:39] #2025 closed, assigned to nobody

[2018-08-04 16:56] Zerthick opened #2043 "Slots within anvil transactions not correctly typed"
**I am currently running**
- SpongeVanilla version: 1.12.2-7.1.0-BETA-59

**Issue Description**
I discovered this issue when players were reporting my ColorAnvil plugin was no longer working.  The issue is that when intercepting the slot transaction of the player removing a named item from the anvil output slot, the slot within the transaction is not correctly assigned an ArchType of `OutputSlot`

[2018-08-04 17:45] Zerthick opened #2044 "Cancelling DropItemEvent.Pre still removes items from the player's inventory"
**I am currently running**
- SpongeVanilla version:  1.12.2-7.1.0-BETA-59

**Issue Description**
As the title says, cancelling `DropItemEvent.Pre` prevents an item from being dropped, however the item is still removed from the player's inventory. This should not be the behavior per https://github.com/SpongePowered/SpongeCommon/issues/1678

[2018-08-04 18:39] benazarenko commented on #2038
Same bug happens on Ubuntu 16.04.5, 8Gb DDR3 (1600 Mhz), i3-3220. I hope you will fix it soon.

[2018-08-05 08:21] #2043 closed, assigned to nobody

[2018-08-05 08:53] Faithcaio commented on #2044
It is possible to use `ClickInventoryEvent.Drop`.

[2018-08-05 09:03] Faithcaio commented on #2030
It gets captured in `detectAndSendChanges` because thats what sends the changes to the Client as well.
So probably just calling `detectAndSendChanges` an additional time after scheduled tasks were run is the solution.

Should not be too bad for performance. Players do this already every tick.

[2018-08-05 09:26] #1984 closed, assigned to nobody

[2018-08-05 18:40] hsyyid opened #2045 "NoSuchElementException on getInventoryProperty"
**I am currently running**
- SpongeForge version: `1.12.2-2705-7.1.0-BETA-3361`

**Issue Description**

Stacktrace:

[code]

Looks like it's being thrown from the following code, when I try to get the `InventoryTitle` property.

Yes, I realize I do not check if the property is present, but if you look at the stacktrace it's erroring before I call `get()`

Note this code worked without issue prior

[2018-08-05 18:42] hsyyid commented on #2045
Seems like there should be a `hasNext` call on this line before it calls `next` here:

https://github.com/SpongePowered/SpongeCommon/blob/2b340b7d4fe878428525183e69aaf99f89460c7c/src/main/java/org/spongepowered/common/item/inventory/adapter/impl/AdapterLogic.java#L303

[2018-08-06 02:10] ryantheleach commented on #2045
~qa

[2018-08-06 11:24] mmis1000 opened #2047 "Access custom data inside custom smelting recipe failed"
**I am currently running**

- SpongeForge version: 3374
- Java version: OpenJDK 64-Bit Server VM, version 1.8.0_171
- Operating System: Linux

- Plugins/Mods:

**Issue Description**
Use custom data inside custom smelting recipe will fail

[code]

It seems [getDelegate(Key<?> key)](https://github.com/SpongePowered/SpongeCommon/blob/9ee7075d2842763be7993afc7e7c67d9c9d591da/src/main/java/org/spongepo

[2018-08-06 11:51] ryantheleach commented on #2047
@pie-flavor Would you be able to give the test plugin a look over since it's in Kotlin? + Data?

[2018-08-06 15:10] mmis1000 opened #2048 "SmeltingRecipeRegistry try to compute item at preInit, but it is not safe to do so."
**I am currently running**

 -  SpongeForge version: 3374
 -  Java version: OpenJDK 64-Bit Server VM, version 1.8.0_171
 -  Operating System: Linux

 -  Plugins/Mods:

- Plugins/Mods:

**Issue Description**

[SmeltingRecipeRegistry](https://github.com/SpongePowered/SpongeCommon/blob/c08377fdde93f96ee16123304da2fb32122b5c06/src/main/java/org/spongepowered/common/mixin/core/item/recipe/smelting/Mixi

[2018-08-06 16:01] hsyyid commented on #1875
Related: #2045

[2018-08-07 00:28] Trillo7 opened #2049 "Spongeforge 3361+ at least won't load with forge 39"
**I am currently running**

- SpongeForge version: 3361
- Java version: 8
- Operating System: windows 10

- Plugins/Mods:  sponge wont load

**Issue Description**
Sponge 3361 wont load with Forge 2739.
I can for example use Sponge 3206 and it loads.
But latest sponge it just won't load like if u didnt put the .jar, also tried beta versions and the same. 3206 works fine. Modpack is enigmatica 2

[2018-08-07 02:06] ryantheleach commented on #2049
If by Forge 39 you mean, Forge build 39, then this is a side effect of us being a coremod that mixes into Forge classes. It's not by design, but is expected and won't be fixed.

Your forge build should match the forge build specifier (or at least be close to it) in the spongeforge filename.

39 is a very very different build then Forge '2705' I'm honestly surprised it worked at all.

I'd suggest u

[2018-08-07 02:30] Trillo7 commented on #2049
Im sorry I meant forge 2739

[2018-08-07 02:31] ryantheleach commented on #2049
~move sf

[2018-08-07 02:32] ryantheleach commented on #2049
~move to sf

[2018-08-07 02:32] limbo-app commented on #2049
Hey @trender7! I've moved your issue to [SpongePowered/SpongeForge#2370](https://github.com/SpongePowered/SpongeForge/issues/2370).

[2018-08-07 02:32] #2049 closed, assigned to nobody

[2018-08-08 15:55] Yeregorix opened #2052 "MoveEntityEvent#setToTransform does nothing"
**I am currently running**
- SpongeForge version: 1.12.2-2705-8.0.0-BETA-3362:dev
- Java version: 1.8.0_162
- Operating System: Windows 10 x64

**How to reproduce**
[code]

**Result**
The player receive the message when he is moving under y=0 but he is not moved.

[2018-08-08 16:48] ResponsibleBear opened #2053 "liquids and buckets dupe"
https://github.com/MinecraftPortCentral/GriefPrevention/issues/746

Hello.
[GP] Running GriefPrevention 1.12.2-4.3.0.646
[GP] Running SpongeForge 1.12.2-2705-7.1.0-BETA-3374
[GP] Running luckperms 4.2.51

[2018-08-08 21:05] phit commented on #2053
we have an issue template, please use it

[2018-08-08 21:05] #2053 closed, assigned to nobody

[2018-08-10 12:55] Yeregorix opened #2056 "Text v4 error breaks almost everything"
**I am currently running**

- SpongeForge version: 1.12.2-2705-8.0.0-BETA-3387:dev
- Java version: 1.8.0_162
- Operating System: Windows 10 x64

**Issue Description**
My plugin has been updated to use text api v4 but when I start my test server I can't even connect and the console is spammed of stacktraces. It looks like most methods related to the text api are broken.

**Logs**
https://pastebin.c

[2018-08-10 13:29] ryantheleach commented on #2056
@Yeregorix Thanks for the report!

Bleeding Text changes were tested against Nucleus, Some Binary incompatibility changes were observed.

As you know, API 8 isn't released, and breakages between API versions happen.

Moving the text to implementation has been a long-planned change, that was known to have a knock-on effect across almost all plugins.

But I'm looking for a little more info to accomp

[2018-08-10 14:01] Yeregorix commented on #2056
I've fully recompiled my plugin. In fact I had to modify few things in my code to make it compatible with the new API. Mostly things like: `Text.EMPTY` -> `Text.empty()`, `Text.NEW_LINE` -> `Text.newLine()`.
For the mcv example I will try to do my best if you really need it but I'm not sure it's even needed. If you look at the logs there are stacktraces that are not even related to any plugin: (li

[2018-08-10 17:11] gabizou commented on #2056
Fixed, thanks for the report!

[2018-08-10 17:11] #2056 closed, assigned to nobody

[2018-08-11 12:46] limbo-app opened #2057 "Inventory NoSuchElementException error"
This issue was originally submitted by @Shmeeb in [SpongePowered/SpongeAPI#1894](https://github.com/SpongePowered/SpongeAPI/issues/1894).
___

![image](https://user-images.githubusercontent.com/141554/43991790-fad16ebc-9db2-11e8-8976-d653e42e6e89.png)

![image](https://user-images.githubusercontent.com/141554/43991794-07838cc6-9db3-11e8-808f-ab852d0f3ad7.png)

Running:

![image](https://user-image

[2018-08-11 14:09] JBYoshi commented on #2052
Can reproduce on stable as well.

[2018-08-11 14:16] JBYoshi commented on #2052
[code]

![](http://discordemoji.com/assets/emoji/thonk.png)

[2018-08-11 15:09] #2052 closed, assigned to JBYoshi

[2018-08-12 12:43] Yeregorix opened #2058 "Can't serialize ItemStackSnapshot in a ConfigurationNode"
**I am currently running**
- SpongeForge version: 1.12.2-2705-8.0.0-BETA-3394:dev
- Java version: 1.8.0_162
- Operating System: Windows 10 x64

**Issue Description**
I was used to serialize and to deserialize `ItemStackSnapshot`s and now I'm getting an exception.

**How to reproduce**
[code]
This example use `ItemStack` but the problem is exactly the same with `ItemStackSnapshot`.

**Result**
[cod

[2018-08-12 13:23] XakepSDK commented on #2058
Issue with CatalogKeys, not text.
Merged PR that (95%) introduced this regression:
https://github.com/SpongePowered/SpongeCommon/pull/1554

[2018-08-12 19:26] randombyte-developer commented on #2057
I experience that bug too. I thought I was doing something wrong and through a Sponge update something got tighter enforced. I "fixed" it by checking if the inventory has children `Inventory.hasChildren()` before calling the `getInventoryProperty` method.

Btw, I also am using this for InventoryTitle, maybe it's exclusive for that one, maybe not.

Edit: It appeared on Pixelmon. It was reported to

[2018-08-12 19:27] randombyte-developer commented on #2057
#2045 duplicate

[2018-08-13 10:07] mmis1000 commented on #1391
Found some workaround to make use `HoconConfigurationLoader.Builder#setRenderOptions` possible with spongeForge.
By just relocate reference of `com.typesafe` to `configurate.typesafe` to match the method signature in spongeForge

[code]

[2018-08-13 14:21] randombyte-developer opened #2059 "Wrongly fired AffectSlotEvent"
**I am currently running**

[code]

I have a plugin which listens for `AffectSlotEvent`s on `EquipmentSlot`s to prevent any modifications there. There are some checks to allow the plugin itself to put items with some special data in those `EquipmentSlot`s though.

I encountered something odd:

1. Call `Player#equip(EquipmentType, ItemStack)`
2. Let the player open the inventory
3. An `AffectSlotEv

[2018-08-13 16:13] Faithcaio commented on #2059
Creative Mode is weird like that. IIRC there is no real way to check what type of interaction the client made. So we just always fire events when the clients sends us stuff for creative mode.

[2018-08-13 21:00] randombyte-developer commented on #2059
Ok thanks for the response. Then I'll close this as it seems to be unfixable.

[2018-08-13 21:00] #2059 closed, assigned to nobody

[2018-08-16 06:08] ResponsibleBear opened #2061 "Liquids and buckets dupe"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3400
- Java version:  64-Bit Server VM (build 25.151-b12, mixed mode)
- Operating System: Debian

- Plugins/Mods:
Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge,  FastAsyncWorldEdit, Broadcast, CarrotShop, CatClearLag, CrazyFeetSponge, DimReseter, GriefPrevention, Holograms, LuckPerms, MMCRestrict, Mirage

[2018-08-17 01:48] JBYoshi commented on #2061
~move to sf

[2018-08-17 01:48] limbo-app commented on #2061
Hey @ResponsibleBear! I've moved your issue to [SpongePowered/SpongeForge#2385](https://github.com/SpongePowered/SpongeForge/issues/2385).

[2018-08-17 01:48] #2061 closed, assigned to nobody

[2018-08-17 02:34] #2058 closed, assigned to JBYoshi

[2018-08-17 02:42] JBYoshi commented on #1865
Can this be closed now?

[2018-08-17 02:46] JBYoshi commented on #2057
Duplicate of #2045.

[2018-08-17 02:46] #2057 closed, assigned to Faithcaio

[2018-08-17 06:20] #1865 closed, assigned to nobody

[2018-08-17 07:45] randombyte-developer commented on #2045
https://github.com/SpongePowered/SpongeCommon/issues/2057#issuecomment-412365898

[2018-08-17 09:14] Faithcaio commented on #1875
https://github.com/SpongePowered/SpongeCommon/compare/7702de741c87...e7d7978abd03

[2018-08-17 09:14] #1875 closed, assigned to nobody

[2018-08-17 09:39] Faithcaio commented on #2044
Clarified in API.

[2018-08-17 09:39] #2044 closed, assigned to nobody

[2018-08-17 09:46] SawFowl commented on #2038
I confirm this problem.
- Intel(R) Xeon(R) CPU E3-1246 v3 @ 3.50GHz

- Debian 9
- Java(TM) SE Runtime Environment (build 1.8.0_171-b11)

- SpongeAPI: 7.1.0-SNAPSHOT-6cd2dc3
- SpongeForge: 1.12.2-2705-7.1.0-BETA-3403
- Minecraft Forge: 14.23.4.2747
- Mods (48): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Better Questing, CoFH Core, CoFH World, CodeChi

[2018-08-17 16:11] Aaron1011 commented on #2038
I'm completely unable to reproduce this issue, in both development and prodcution. Server memory usage remains constant, and the server CPU usage remains close to 0%.

[2018-08-18 09:59] Ewallee commented on #2038
Ok, im not too lazy to point out what you should do to reproduce this issue:
`Everything works as it should, until I start using RCON (SENDING !!! (with RCON!) messages and commands to servers console)`

[2018-08-18 16:22] Aaron1011 commented on #2038
That's exactly what I did - the server continued to run properly.

[2018-08-18 16:45] Yeregorix commented on #2056
Everything works fine now except that I'm still getting the pretty formatted error message at line 77.

[2018-08-18 17:37] RussianJeb opened #2063 "Problem with creating a local message channel."
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3403
- Java version: Java 8 update 181 64 bit
- Operating System: Windows 10 Enterprise

- Plugins/Mods: Not used

**Issue Description**
I’ve been trying to create a local channel using different methods. At this moment I’m using this one:
[code]

But I found a problem. When many objects like XP bottles and mobs are in a rad

[2018-08-18 22:43] benazarenko commented on #2038
@Aaron1011 https://youtu.be/gr0l6k7Qfyg

[2018-08-18 22:48] phit commented on #2038
didn't watch the full video yet, but just to clarify straight away: this has nothing to do with not believing any of you!
it simply means @Aaron1011 was unable to reproduce it when following the same steps you guys did, that doesn't mean the issue doesn't exist, possibly this only happens in production and not in a dev environment

[2018-08-18 22:53] Aaron1011 commented on #2038
I tested both in development and in production - I couldn't reproduce the issue in either.

[2018-08-19 02:42] Zidane commented on #2038
nvm, shouldn't fast forward a video lol...

[2018-08-19 02:52] phit commented on #2038
@Zidane first in video is without sponge to show the issue starts when sponge is added..

[2018-08-19 02:57] Zidane commented on #2038
Oh I completely didn't realize that! Oops.

[2018-08-19 04:57] ryantheleach commented on #2063
@bloodmc There's been several issues relating to **different** symptoms of `max-entities-within-aabb` causing unexpected behavior for people. Should we maybe disable it by default?

@Marsadnes I'm 99% sure this is due to max-entities-within-aabb in global.conf

https://docs.spongepowered.org/stable/en/server/getting-started/configuration/sponge-conf.html?highlight=max-entities-within-aabb

max-ent

[2018-08-19 21:18] benazarenko commented on #2038
@Zidane I wanted to show the bug so I sped it up until it's "Done".
Btw forgot to mention — JDK 8u181

[2018-08-20 10:19] Lignium commented on #2013
Something has changed, but not all. The event is still inadequately behaving.
The second experiment, the conditions are the same.

Console output:

**Left button to air**

[code]

**Right button to air**

[code]

**Left Button to block**

[code]

**Right button to block**

[code]

**Left button to air:** Missing context, BlockSnapshot is NONE (it should be).
**Right button to air:** Working, but B

[2018-08-20 18:22] masaru09 commented on #2038
me too
https://www.youtube.com/watch?v=mtjGYLHDUZY

[2018-08-20 20:04] ImMorpheus commented on #2036
@phit Can you remove the bleeding label ? This was reproduced on stable-7

[2018-08-20 23:34] hsyyid commented on #2045
Commit e7d7978 by @Faithcaio did not resolve the issue.

Updated stacktrace:

[code]

[2018-08-20 23:39] hsyyid commented on #2045
https://github.com/SpongePowered/SpongeCommon/blob/e7d7978abd03fac83a02d3a4884962292dc4cd89/src/main/java/org/spongepowered/common/item/inventory/adapter/impl/AdapterLogic.java#L303

Still no check if the list is empty.

[2018-08-21 09:16] Faithcaio commented on #2045
Because that list should never be empty.
What Container is that without any slots in it?
You literally cannot view it.

Fabric should abstract away that list.

I guess i'll put the check in there. But I still don't get how its possible to get a Container without slots

[2018-08-21 15:36] hsyyid commented on #2045
@Faithcaio reproducible using a Pixelmon PC

Move Pokemon around in the GUI

[2018-08-21 15:37] #2045 closed, assigned to nobody

[2018-08-21 15:39] Faithcaio commented on #2045
Would not help me to understand how this happens. I would need the code for that.
Anyways I just return null in the fabric when the container has no slots.
Works fine for now as I only check the container slots for inventories built with sponge anyways.

[2018-08-22 01:06] maodus opened #2066 "Items dropping in ChangeBlockEvent.Decay when they're not supposed to"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3206
- Java version: 8, 181 64 bit
- Operating System: Windows 7

- Plugins/Mods:
griefprevention-1.12.2-4.3.0.628, Pixelmon-1.12.2-6.3.4-universal

**Issue Description**
Both cancelling the event and setting the transaction to be invalid in the ChangeBlockEvent.Decay event stop the block from disappearing but they do not st

[2018-08-22 03:01] ewized commented on #2013
I can confirm that its not acting correctly, one can not throw items like enderpearls, eggs, and snowballs when they are looking at a block.

[2018-08-22 14:10] Ewallee commented on #2038
@Aaron1011
May be you could record a video on how you made it to work with no lag?
I believe several people here would like to know how to run the server properly...
Try to record all the steps you did, if possible.
Thanks in advance

[2018-08-23 16:48] yoshikixxxx opened #2068 "Failure to display scoreboard value with tellraw command."
**_I posted to Issue of SpongeForge, but since SpongeVanilla encountered a similar problem, I also posted it here. (https://github.com/SpongePowered/SpongeForge/issues/2391)_**

**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3406
- SpongeVanilla version: spongevanilla-1.12.2-8.0.0-BETA-445
- Forge version: 1.12.2-forge1.12.2-14.23.4.2705
- Java version: 1.8.0

[2018-08-23 21:57] Aaron1011 commented on #2068
I've fixed this in the next build of SpongeForge.

[2018-08-23 21:57] #2068 closed, assigned to nobody

[2018-08-24 08:29] mmis1000 opened #2069 "unable to use custom boolean data"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3410
- Java version: Java 8
- Operating System: Linux

- Plugins/Mods:
- Plugins: Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, A Plugin that make sponge human lie down, Galaxy, NPCs, SpongePrometheusExporter, VillageMarkerSponge, packetgate/
- Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft For

[2018-08-24 08:31] dualspiral commented on #2069
This might be due to a quirk in the custom data system. The first time you offer custom data, you must offer the Data Manipulator first, not the key. You can use the key after you have done that.

[2018-08-24 13:34] 14mRh4X0r opened #2070 "SpongeBlockStateMatcherBuilder#build() throws a NegativeArraySizeException when no traits are specified"
This can be fixed by removing the - 1 part in new BlockTrait<?>[this.traits.size() - 1].

(Creating an issue instead of a PR because it is a trivial change)

Copied over from SpongePowered/SpongeAPI#1835 since implementation was moved here.

[2018-08-24 14:54] ryantheleach commented on #2070
@Gabizou ~fixed this in bleeding 14 days ago~ when it was moved to implementation in bleeding.

However this is still a bug in the API on stable.

[2018-08-24 15:41] 14mRh4X0r commented on #2070
The logic is still flawed; it will allocate an array one element too small for the traits. This is probably better fixed by using `new BlockTrait<?>[0]`, in most cases [that's more efficient anyway](https://shipilev.net/blog/2016/arrays-wisdom-ancients/).

[2018-08-24 16:19] yoshikixxxx commented on #2068
Thank you for fixing.
We implemented [SpongeForge 7.1.0-BETA-3415] and confirmed the operation, we are working normally.
Thank you very much.

![Image of list](https://i.imgur.com/wXIaH0A.png)

[2018-08-24 18:31] phit commented on #2032
~move to sf

[2018-08-24 18:31] limbo-app commented on #2032
Hey @luckyrill! I've moved your issue to [SpongePowered/SpongeForge#2406](https://github.com/SpongePowered/SpongeForge/issues/2406).

[2018-08-24 18:31] #2032 closed, assigned to nobody

[2018-08-24 18:47] phit commented on #2040
@randombyte-developer was this fixed now that the PR is merged?

[2018-08-24 21:44] randombyte-developer commented on #2040
No sadly not.

[2018-08-24 23:01] simon816 opened #2072 "Unhelpful cause when piston places a block"
**I am currently running**
Bleeding SpongeCommon 24c9c6cef190bac16c07803dc6bf74a187b18067

This is a regular piston pushing a crafting_table.
In API 5, I could get the piston TE in the cause object:
[code]

This is a regular piston pushing a stone block.
But in latest bleeding API 8 snapshots, I don't get the piston:
[code]

(See [this](https://github.com/simon816/Industrialization/blob/c675a56ba1

[2018-08-24 23:02] phit commented on #2072
is this also an issue on api7?

[2018-08-24 23:02] gabizou commented on #2072
Literally useless to test bleeding. 1.13's changes are drastic enough to require rewriting a majority of the handling for all of this which I've spent some time already preparing the API changes for and structural planning changes for implementation.

[2018-08-24 23:08] simon816 commented on #2072
OK I'll test on stable-7

[2018-08-24 23:50] phit opened #2073 "Named hostile mobs despawn"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3413
- SpongeVanilla version:

- Plugins/Mods: none

**Issue Description**
hostile mobs named with a name tag are despawning

Repro
* put a nametag on a zombie
* leave and enter area

[2018-08-25 00:03] simon816 commented on #2072
Same happens on stable-7 (462bc424647de5d418e4a8a4e8c542874a886d92)
[code]

[2018-08-25 09:25] simon816 commented on #2072
Also the cause is not very helpful when the piston initially breaks the block:

API 5:
[code]

API 7:
[code]

[2018-08-25 13:22] dualspiral commented on #2038
Spotted it. Fixing now.

[2018-08-25 13:26] #2038 closed, assigned to dualspiral

[2018-08-25 13:34] dualspiral commented on #2038
Technical explanation: this only started to occur once RCON clients disconnected. We weren't handling the "end of file" read properly, so we ended up with infinite loops running for each disconnected RCON client, after four, that'll take up most of the capacity of a quad core CPU, meaning that the server thread competed for time from an RCON thread, and hence, severe TPS losses.

I put a check in

[2018-08-27 20:09] #2073 closed, assigned to nobody

[2018-08-27 20:09] phit commented on #2073
non issue, used summon assuming it does the same as nametags

[2018-08-27 20:37] limbo-app opened #2076 "auto-populate broken since config rework"
This issue was originally submitted by @PorPit in [SpongePowered/SpongeForge#2393](https://github.com/SpongePowered/SpongeForge/issues/2393).
___
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3409
- Forge version: forge-1.12.2-14.23.4.2705
- Java version: 1.8
- Operating System: windows server 2012

- Plugins/Mods:
Plugins (27): Minecraft, Minecraft Coder Pack, SpongeAP

[2018-08-27 20:53] ImMorpheus commented on #1286
PR merged.

`Sponge.getRegistry().getType(ParticleType.class, "heart")` is still returning Optional#empty()

[2018-08-27 23:44] Lignium commented on #2013
Full analysis of interaction events at last build (1.12.2-7.1.0-BETA-110):
1) **Red** - Missing data.
2) **Blue** - "UsedItem" context, probably should be present (in InteractItemEvent.Secondary.MainHand is present).
3) **Orange** - Bad data. Should be NONE and Optional.empty.

![interact events](https://user-images.githubusercontent.com/41531939/44692381-57704c00-aa6b-11e8-948c-85af4c06004e.png)

[2018-08-28 07:41] SawFowl opened #2077 "Entity Fireball. UnknownProjectileSource."
**I am currently running**
- SpongeForge: 1.12.2-2705-7.1.0-BETA-3422
- SpongeVanilla: 1.12.2-7.1.0-BETA-111
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_181-b13)
- Operating System: Debian 9

- Plugins (7): Minecraft, Mod Coder Pack, SpongeAPI, SpongeVanilla, LuckPerms, Nucleus, Wasted

**Issue Description**

Code:
[code]
I also tried to use SmallFireball.

A similar code with arr

[2018-08-28 08:21] mmis1000 opened #2078 "Sponge does not properly shutdown async lighting thread when world got killed"
**I am currently running**

- SpongeForge version: 3422
- Java version: OpenJDK 8
- Operating System: linux

- Plugins/Mods: Galaxy, LuckPerms, SpongePrometheusExporter, VillageMarkerSponge, AppleSkin, Duplicate Entity UUID Fix (DEUF), JMFixer, JourneyMap, Just Enough Items, RandomPatches

**Issue Description**

Sponge async lighting seems does not shutdown properly when world is killed.

Our serv

[2018-08-28 08:58] ryantheleach commented on #2077
@Mr-Krab
1. Where did the fireball come from? (Physically, in the world)
2. Did it load / unload at any stage?
3. Where is the 'killer' coming from in your code, I assume a cause of some kind?

[2018-08-28 09:04] SawFowl commented on #2077
@ryantheleach
1. I used the dispenser.
2. Everything happens in one chunk. Not unloaded.
3. Here is another code, I hope it will be so clearer.
[code]
That is, the player's killer is a fire ball, I'm trying to get the source that launched this ball.

[2018-08-28 09:23] ryantheleach commented on #2077
@ImMorpheus @RedNesto I know you guys recently tackled some projectile causes, do you mind taking a look?

As for expected results, Idealistically I'd be expecting that the notifier of the dispenser, got transferred as the owner (or maybe notifier) of the fireball.

I'm not sure whether the killer is expected to be the fireball, or a blocksource, or the player though.

[2018-08-28 09:30] XakepSDK commented on #2077
@Mr-Krab Dispenser is a TileEntity, TileEntities are not normal Entities. Your `Optional<EntityDamageSource>` must be empty, when you launch projectile using Dispenser.

[2018-08-28 09:36] SawFowl commented on #2077
@XakepSDK
Code:
[code]
Works fine, but not with fireballs.

[2018-08-28 11:52] ImMorpheus commented on #2077
@Mr-Krab What event are you listening to ?

[2018-08-28 12:02] SawFowl commented on #2077
@ImMorpheus DestructEntityEvent.Death

[2018-08-28 12:19] ImMorpheus commented on #1052
Kashike's comment is self-explanatory. It was just a misunderstanding on what language. [type](https://github.com/SpongePowered/Schematic-Specification/blob/master/versions/schematic-1.md#metadataObject) was referring to.

The array serializer is a long-standing issue https://github.com/SpongePowered/configurate/issues/95.

EDIT: having the array serializer wouldn't have resolved the issue, since

[2018-08-28 12:19] #1052 closed, assigned to nobody

[2018-08-28 13:39] ImMorpheus commented on #1067
I'm able to reproduce this on 1.12 (stable-7 updated to https://github.com/SpongePowered/SpongeCommon/commit/9e07c8e78f9056d7cbce189b44c2a1a0d354d4d8)

[code]

Place a chest then left-click on it.

[2018-08-28 14:15] ImMorpheus commented on #1564
The issue started as:
`public void chat(MessageEvent event, @Root Player player)` is called even if `player` is `null` (That listener should only be called when the root cause of the MessageEvent is a Player).

However

To make things clear, here's a modified example:

[code]
Keep in mind ClientConnectionEvent.Login is TargetUserEvent, there shouldn't be any player (and the listener should not be

[2018-08-28 16:20] ImMorpheus commented on #2077
PR merged.

[2018-08-28 16:20] #2077 closed, assigned to nobody

[2018-08-29 08:36] Yeregorix opened #2081 "QueryOperationTypes.ITEM_STACK_IGNORE_QUANTITY incorrect behavior"
**I am currently running**
- SpongeForge version: 1.12.2-2705-8.0.0-BETA-3423:dev
- Java version: 1.8.0_162
- Operating System: Windows 10 x64

**How to reproduce**
[code]

**Issue Description**
This code remove stone from your inventory if you have stone but if it's not the case it will remove others items, such as grass, dirt, etc ..

[2018-08-29 08:40] ryantheleach commented on #2081
Leave the bleeding bugs well alone until 1.13 sponge is nearing release.

[2018-08-29 08:40] #2081 closed, assigned to nobody

[2018-08-29 13:04] ImMorpheus commented on #1450
Closing this issue, as of Jan 1st 2018 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue on Minecraft 1.12.2 and this issue was wrongly closed, please o

[2018-08-29 13:04] #1450 closed, assigned to gabizou

[2018-08-29 13:04] ImMorpheus commented on #1396
Closing this issue, as of Jan 1st 2018 1.10.2 and 1.11.2 are not longer supported. If a sufficiently, decent, and tested Pull Request is made to fix this bug/issue, it will still be considered, however, it is NOT to be expected that any bug fixes made for 1.12.2 will be back ported to 1.11.2 or 1.10.2.

If you can reproduce this issue on Minecraft 1.12.2 and this issue was wrongly closed, please o

[2018-08-29 13:04] #1396 closed, assigned to gabizou

[2018-08-29 19:05] ImMorpheus commented on #804
See https://github.com/SpongePowered/SpongeAPI/pull/1902#issuecomment-417063950

[2018-08-29 19:14] ImMorpheus commented on #985
I'm able to reproduce this on stable-7 (updated to https://github.com/SpongePowered/SpongeCommon/commit/f082f78f9548d16f1c184302290202df92c1dce0)

Code:

[code]

You can put that in a custom testplugin (MyHomes.FRIENDS is part of the myhomes testplugin)

[2018-08-29 19:30] ImMorpheus commented on #2047
Java setup:

[code]
(MyHomes is part of the myhomes testplugin)

[2018-08-29 19:49] phit commented on #2076
after discussion and some testing, the issue is the config system rework which got rid of config-enabled

`getActiveConfig` will now always return the world specific config, due to how the fallback works in the new system
sadly it is currently impossible to see which config has actually set auto-populate set explicitly, as a temporary fix we should for now always force auto-populate to go to the g

[2018-08-29 20:53] Yeregorix opened #2085 "InteractInventoryEvent.Open is never fired on entity right click"
**I am currently running**
- SpongeForge version: 1.12.2-2705-8.0.0-BETA-3423:dev
- Java version: 1.8.0_162
- Operating System: Windows 10 x64

**Issue Description**
InteractInventoryEvent.Open is never fired when right clicking an `Entity` that contains a openable inventory.

**How to reproduce**
Add a debug listener for `InteractInventoryEvent.Open` and right click an entity such as a mule with

[2018-08-29 20:59] Yeregorix commented on #2085
I don't think it hurts to report issues.

[2018-08-30 00:39] ryantheleach commented on #2085
@Yeregorix Consider that large parts of the Sponge implementation will need rewriting when it moves to 1.13

Morph is only working off of the limited information I gave him, which was from the limited information some of the core devs gave me. Consider talking to @gabizou directly if you disagree, and I'll adjust my behaviour.

[2018-08-30 08:55] stephan-gh commented on #804
The implementation issue shouldn't be closed in my opinion. It shouldn't be in the API, yes, but this issue is only about the implementation in SpongeCommon. Especially considering plugin mixins load really early, most of the API is not intialized yet anyway.

Basically this should just be a simple method in the launch code provided for convenience for plugin mixin authors, obviously without guara

[2018-08-30 09:33] ryantheleach commented on #804
I'm not 100% sure of the technical merits, but my argument for it remaining in the API, was so that it will work reliably no matter which platform implements Sponge. If there is a **technical** reason that this method can't be in the same Jar as the API, then clearly it's impossible.

Yes, which is why the API method has **nothing** to do with mixins, aside from where it's placed inside the API ja

[2018-08-30 10:13] dualspiral commented on #804
@ryantheleach I think there is still some confusion here about what this issue is really about - it is not an API issue and no API should be created to support this.

I fail to see why it _should_ it be in the API when we're trying to solve an implemention dependant issue.

This issue is a SpongeCommon issue, not an API one. It was never one about exposing this in the API. My point on the API PR w

[2018-08-30 10:24] ryantheleach commented on #804
I'm not arguing about the PR.

I'm arguing about one single thing.

If it can **possibly** be standardized, it should be. That's it.

No need to look at 3 different implementations to work out how to detect them, your code for detecting an implementation can be standard, and in one place.

If it can't be done nicely at all, then I'm happy for it to not be in the API, if it can be done nicely, I'd

[2018-08-30 13:01] ImMorpheus commented on #1921
@Yeregorix Can you reproduce this on stable-7 ?

[2018-08-30 13:47] Yeregorix commented on #1921
Good question, I will try 🤔

[2018-08-30 14:17] Yeregorix commented on #1921
This issue also affects SV 1.12.2-7.1.0-BETA-111 and SF 1.12.2-2705-7.1.0-BETA-3422.

[2018-08-30 14:25] Yeregorix commented on #2085
Anyway, I've just tested on api 7 and this issue also affects SV 1.12.2-7.1.0-BETA-111 and SF 1.12.2-2705-7.1.0-BETA-3422.
I will test first on api 7 now before reporting issues.

[2018-08-30 14:52] RedNesto commented on #1921
I searched a bit and it seems it's a Minecraft "behavior".
It seems the `BossInfoServer` is only updated when a player enters or leaves a boss zone, but not when a player is killed and respawned.

It can be easily fixed by a plugin by listening to `RespawnPlayerEvent` to restore the bossbar to the player based on the `getOriginalPlayer` return value.

But it needs a fix in Sponge IMO.

[2018-08-30 15:07] ImMorpheus commented on #1921
I don't think we should be fixing minecraft intended behaviour. If it's a bug with the game, you need to open an issue on their issue tracker.

[2018-08-30 15:37] Zidane commented on #1921
@ImMorpheus

It is a bug, not intended behavior and likely something they missed internally when testing bars. Generally one doesn't respawn on top of a boss. Fixing this in Sponge doesn't break any behavior, just because the Player object got re-created doesn't mean the Player isn't still applicable to the bar in question (again so long as they are within range of it). This wouldn't be the first

[2018-08-30 15:42] Yeregorix commented on #1921
I think it's neither a bug, neither an intended behavior, in vanilla, boss bars are removed on player death, Mojang just didn't thought that some developers will use boss bars in other situations. Anyway, it would be easier for plugin developers if Sponge API can guarantee that `getPlayers()` never contains an outdated `Player` object.

[2018-08-30 15:45] Zidane commented on #1921
@Yeregorix

It is a bug lol. They just didn't remove the old object and then add you back to the bar after respawn if you're still in range of it. It is a consequence of how they handle respawn itself. You fix that and then the List is fine lol.

[2018-08-30 20:21] LemADEC opened #2086 "BlockRay with onlyAirFilter returns before reaching a non-air target"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3417 & https://github.com/SpongePowered/SpongeForge/commit/6e1e92f6f0465db52420d14fb98633b9ab868693
- SpongeVanilla version: -
- Java version: 1.8.0u171
- Operating System: CentOS & Windows10

- Plugins/Mods:
n/a

**Issue Description**
BlockRay returns a reached position while still inside air blocks while onlyAirFilter is se

[2018-08-31 00:40] ryantheleach commented on #1921
In addition, the boss bar commands are a first class minecraft feature in 1.13.

[2018-09-01 03:05] wysohn opened #2088 "Create a new event to track players damaging tools."
Javadocs for ChangeDataHolderEvent:
`An event that is associated with a DataHolder that may have some BaseValues changed, offered, or removed. Note that calling any methods relating to modifying a DataHolder while this event is being processed may produce awkward results.`

As a plugin developer, I would assume the change of Keys.ITEM_DURABILITY should be hooked by the event.

According to the doc

[2018-09-01 18:19] gabizou commented on #2088
So, investigating further, this is rather difficult to manage when mods are involved, as mods can change an item stack's compound without impunity, but it is possible to implement this specifically for
monitored item stacks from common parents, like players and possibly other living entities getting their inventories serialized. I'm not 100% sure about how inventories from tile entities are persis

[2018-09-01 18:36] nihiluis opened #2089 "Doc says fully customized skins are not possible while in fact they are"
**I am currently running**

- SpongeForge version: 2705
- SpongeVanilla version: ????
Spogne APi version 7
- Java version:  8
- Operating System: arch linux

- Plugins/Mods: irrelevant ...

**Issue Description**
i think I found wrong information in the docs. you can change the skin of any player and Human to anything you want ... you can just upload png to mineskin.org service and then he gives yo

[2018-09-01 18:42] Cybermaxke commented on #2089
This is already fixed in bleeding, so for API8+, it won't be for API 7 because it caused breaking changes.
Got fixed by this PR: https://github.com/SpongePowered/SpongeAPI/pull/1836

[2018-09-01 18:47] nihiluis commented on #2089
looks pretty good, hope its merged

[2018-09-01 18:47] #2089 closed, assigned to nobody

[2018-09-01 18:49] Cybermaxke commented on #2089
Yeah, it's merged: https://github.com/SpongePowered/SpongeAPI/commit/a3431307f06996321489b69664b16202e8806042

[2018-09-01 19:42] wysohn commented on #2088
Didn't even think about the fact that durability can be changed by something other than player atm.

In Bukkit API, there is a event called PlayerItemDamageEvent, and this event only monitors the durability change when it's damaged by the player.

Perhaps it can be go under `org.spongepowered.api.event.item.inventory` package with name something like DamageItemStackEvent? And cause stack can inclu

[2018-09-02 09:50] LemADEC opened #2090 ""Could not find slot #%s in Container %s""
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3422
- SpongeVanilla version: n/a
- Java version: 1.8.0b171
- Operating System: CentOS

- Plugins/Mods:
Mods (129): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Aether Legacy, AetherWorks, Akashic Tome, Aquaculture, Astral Sorcery, AutoRegLib, Bad Wither No Cookie! Reloaded, Baub

[2018-09-02 14:26] mmis1000 opened #2091 "ResourceBundleTranslation is half broken"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3415
- Java version: OpenJDK 8
- Operating System: Linux

- Plugins/Mods: AppleSkin, JMFixer, JourneyMap, RandomPatches, NPCs, SpongePrometheusExporter, VillageMarkerSponge

**Issue Description**

The `ResourceBundleTranslation` is half broken, and can't be really be used in `Text` API, see example following

**code to repod

[2018-09-03 12:48] XakepSDK commented on #1853
@Zidane i think, this can be closed?

[2018-09-03 15:20] randombyte-developer commented on #1853
When was this fixed?

[2018-09-03 15:43] limbo-app opened #2093 "ClickInventoryEvent getting Item with all data"
This issue was originally submitted by @NanitSoft in [SpongePowered/SpongeAPI#1907](https://github.com/SpongePowered/SpongeAPI/issues/1907).
___
Hi! I created custom inventory with ItemStack's with custom data. But ItemStackSnapshot don't have any data, which i put in ItemStack. How i can get original item with all puted data?
`
ItemStackSnapshot item = e.getCursorTransaction().getOriginal();
Syst

[2018-09-03 17:05] Zerthick opened #2094 "ItemStack#builder#fromContainer not correctly deserializing HOCON containers"
**I am currently running**
- SpongeVanilla version: 1.12.2-7.1.0-BETA-100

**Issue Description**
As the title says, when attempting to recreate an itemstack with custom data manipulators attached from a HOCON string, those custom manipulators are lost.

Serialization/Deserialization Code:
[code]

The string I'm attempting to deserialize (which was created by the above code) is as follows:
[code]

[2018-09-03 17:06] XakepSDK commented on #1853
https://github.com/SpongePowered/SpongeCommon/commit/75f2f1fec0171ca6a559a753b8e5541c6b2acd14, i haven't tested this.

[2018-09-04 19:42] #2078 closed, assigned to nobody

[2018-09-04 19:43] Aaron1011 commented on #2078
Fixed in the latest SpongeForge.

[2018-09-05 17:54] ghost commented on #2093
Okay, new information. Now i'm not prevented event and i get next result. When i click on item, it not have any data. When i try put item to inventory, the click event activated and if i debug this i see all item data `¯\_(ツ)_/¯`

[2018-09-06 02:29] clienthax commented on #2040
Turns out the data wasn't actually being used when making the packet.
https://github.com/SpongePowered/SpongeCommon/pull/2096

[2018-09-06 04:41] mmis1000 commented on #2078
@Aaron1011
Is it supposed to kill the lighting thread before check the world unloading should be cancelled or not?
I saw there is a check to cancel world unloading right after disabling lighting thread

[2018-09-06 06:52] XakepSDK commented on #2040
Already known issue: https://github.com/SpongePowered/SpongeCommon/issues/1853

[2018-09-06 17:51] gabizou commented on #804
Going to just say, the entirety of SpongeAPI is not usable at mixin plugin initialization/configuration. Mixin does provide some detection of obfuscation environments, but it does not have the ability to determine platforms at such an early stage. This is why the SpongeCoreMod (and likewise SpongeVanilla launcher) don't have forge bundled into one (and why our implementations are still separated i

[2018-09-07 18:21] Lignium opened #2097 "CraftItemEvent does not fire first few time"
**I am currently running**

- SpongeVanilla version: 1.12.2-7.1.0-BETA-115
- SpongeAPI version: 7.1.0
- Java version: OpenJDK Version "1.8.0_181"
- Operating System: Linux Mint 19 Tara (Kernel: x86_64 Linux 4.13.0-45-generic)
- Plugins/Mods: Empty (Only one my experimental plugin)

**Issue Description**

The CraftItemEvent first few times does not fire when crafting inventory (workbench) has opene

[2018-09-08 13:13] ghost commented on #2093
In API v7.1.0 work perfectly. Issue closed.

[2018-09-08 15:15] #2093 closed, assigned to nobody

[2018-09-09 13:52] RussianJeb opened #2098 "CraftItemEvent#Preview does not edit items"
**I am currently running**

- SpongeVanilla version: 1.12.2-7.1.0-BETA-115
- Java version: 1.8
- Operating System: Windows 10

When I’m crafting 1 item it becomes a stick. But when I’m put a few items 1st item becomes a stick and others become the standard result of crafting.

Code:
[code]

[2018-09-11 15:46] gabizou commented on #2030
Just to add on, interaction events that get cancelled server side already have to forcibly send the player's inventory back to the client to avoid client ~~stupidity~~ misrepresenting expectations (like cancelling bucket placement/filling requires sending the full inventory down the wire because we don't know which slot a new item stack was sent into).

I understand it may not be cheap to do, but

[2018-09-12 03:49] limbo-app opened #2099 "MoveEntityEvent.teleport does not apply to spectator mode teleporting"
This issue was originally submitted by @TheCrunchy in [SpongePowered/SpongeAPI#1908](https://github.com/SpongePowered/SpongeAPI/issues/1908).
___
While in spectator mode you can middle click and use the icons to teleport to other people, the MoveEntityEvent.teleport event doesnt listen for this.

[2018-09-12 03:50] ryantheleach commented on #2099
@TheCrunchy Can you provide details, e.g. test plugin, what implementations you tested on etc.

[2018-09-12 12:23] TheCrunchy commented on #2099
@ryantheleach
API - spongeapi-7.1.0-20180820.174752-54-shaded
Running on - spongeforge-1.12.2-2705-7.1.0-BETA-3438

Using this code - https://pastebin.com/bhR0BP9C

[2018-09-12 17:15] ST-DDT opened #2100 "Use LinkedHashSets for Set serialization in configs"
The `TypeSerializer` for `Set`s currently uses a plain `HashSet` as an implementation, however this is confusing/frustrating for server owners, because they might put some logic  into their entries.
It would be nice if we could switch to a `LinkedHashSet`, similar to the `MapSerializer` that is provided by Configurate which explicitly uses a `LinkedHashMap` to retain the order.
Internally the `Set

[2018-09-12 17:17] ST-DDT commented on #2100
Found while testing for https://github.com/SpongePowered/SpongeDocs/pull/766

[2018-09-13 23:29] limbo-app opened #2101 "API7 - Not possible to register custom damage type into the catalog registry"
This issue was originally submitted by @NeumimTo in [SpongePowered/SpongeAPI#1909](https://github.com/SpongePowered/SpongeAPI/issues/1909).
___
The current way to register an element into any catalog registry is to listen to the event GameRegistryEvent.Register.

I created some custom damage types, but cannot register them. The event GameRegistryEvent.Register<DamageType> event wont fire.

[2018-09-14 03:39] gabizou commented on #1093
I'd say this is intended, since causes already serve and event filters already serve. We don't want to have plugins unintentionally setting up data for already banned players, and since the ban service already says the player is banned, it makes sense that the event is "pre-cancelled".

Seeing as it's almost been two years since the issue was opened but no advancements have been made, I'm electing

[2018-09-14 03:39] #1093 closed, assigned to nobody

[2018-09-14 13:40] Faithcaio commented on #2090
https://github.com/SpongePowered/SpongeForge/issues/2337

[2018-09-14 13:40] #2090 closed, assigned to nobody

[2018-09-14 17:56] realGWM opened #2102 "Incorrect(?) behavior of InteractItemEvent[.Secondary.MainHand]"
**I am currently running**
- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-59.jar
- Java version: 1.8.0_181
- Operating System: Arch Linux 4.14.69-1-lts

- Plugins/Mods:
SpongeBug.jar

**Issue Description**

Code: https://gist.github.com/GreWeMa/b6267ab4417bfc555ea408ba1cd6da58
This code cancels **InteractItemEvent.Secondary.MainHand** if player holds stick in hand (item does't matter, an

[2018-09-14 19:04] gabizou commented on #2102
Retest on 116, we went and fixed a few bugs with interactions but have yet to make a new recommended build pending some more bug fixes.

[2018-09-14 19:05] Faithcaio commented on #2090
This Issue got probably also fixed in latest. If you still got those messages spamming post a new log

[2018-09-14 20:08] realGWM commented on #2102
Retested on 116.
Now it works almost as expected, except that **InteractItemEvent.Secondary.MainHand** is now not fired at all if I click on air (works as expected if I click on blocks).
On 59 it **is** fired on click on air.
But this sounds like a different problem, should I close this issue and open a new one?

[2018-09-15 05:20] LXGaming opened #2103 "Entity Duplication with Nether Portals"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3445
- SpongeVanilla version: 1.12.2-7.1.0-BETA-116
- Java version: 1.8
- Operating System: Linux / Windows

- Plugins/Mods:
GriefPrevention v1.12.2-4.3.0.654 (**Only on SpongeVanilla**)
LuckPerms v4.2.99
Nucleus v1.5.5-S7.0-MC1.12.2

**Issue Description**
Items dropped into a Nether Portal are getting duplicated when the ta

[2018-09-15 11:24] ImMorpheus commented on #2102
Related: https://github.com/SpongePowered/SpongeCommon/issues/2013

[2018-09-16 11:19] Faithcaio commented on #2098
fixed in latest

[2018-09-16 11:19] #2098 closed, assigned to nobody

[2018-09-17 02:15] JBYoshi commented on #2103
Can reproduce. The item appears to be loaded twice (the same UUID each time). I'm using SpongeForge, with both GP and Nucleus installed (I am not using LP).

[2018-09-17 02:41] JBYoshi commented on #2103
Latest findings: In `EntityUtil.transferEntityToDimension()`, the call to `toWorld.spawnEntity(entity)` adds the item to the spawn list in the tracker (not sure if that's intended). Then, when it calls `toWorld.updateEntityWithOptionalForce(entity, false)`, the item is added directly to the chunk. Somehow this gets corrected when entering the dimension, so when the world is unloaded and then reloa

[2018-09-18 20:11] #168 closed

[2018-09-18 20:11] #651 closed

[2018-09-19 04:36] #2047 closed, assigned to nobody

[2018-09-19 16:18] RedNesto opened #2104 "Cause stack corruption exceptions thrown at high rate"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3452
- SpongeVanilla version: local version with latest SpongeCommon commits (92dbbdcc283d7f7b4f9b5c35ee690e8187f46111)
- Java version: 1.8.0_181
- Operating System: Windows 7

- Plugins/Mods: _None_

**Issue Description**
The console is filled with Cause stack related stacktraces ([like this](https://gist.github.com/RedNesto

[2018-09-19 16:39] mmis1000 commented on #2104
[code]

I though this pattern is broken after the commit sponge common 92dbbdc
The `SpongeCauseStackManager` now reject to add new cause to the list if it already has.
But it will still pop the cause no matter previous push success or not.
Result in the cause list altered in a completely unexpected way.

Maybe a list of counter can solve this issue by ensuring you won't pop the cause that you did

[2018-09-20 06:58] #2104 closed, assigned to gabizou

[2018-09-24 08:41] Sir-Will opened #2108 "map-optimization causing ConcurrentModificationException crash"
I was updating sponge and unfortunately discovered that `map-optimization` which was added in build 3392 causes the server to crash once a player joins. Disabling this got rid of the issue. I also wasn't able to reproduce this with a fresh world.

Not sure if it is possible to fix this without finding which mod causes this incompatibility with this sponge optimization tweak.

spongeforge-1.12.2-27

[2018-09-24 16:21] phit commented on #2108
it's caused by twilight forest https://github.com/SpongePowered/SpongeForge/issues/2398

[2018-09-24 16:21] #2108 closed, assigned to nobody

[2018-09-25 04:56] limbo-app opened #2109 "Redundant serialized data of Location"
This issue was originally submitted by @Lignium in [SpongePowered/SpongeAPI#1914](https://github.com/SpongePowered/SpongeAPI/issues/1914).
___
As it was already noted earlier at Discord, a world name and a block type is redundant data. Furthermore the block type may not be coincide with a block type which located in the world...

Source code:
[code]

Result (formatted):
[code]

[2018-09-27 00:33] #985 closed, assigned to gabizou

[2018-09-27 00:33] #2076 closed, assigned to nobody

[2018-09-27 00:33] #2040 closed, assigned to nobody

[2018-09-27 12:44] randombyte-developer commented on #2109
A fix/refactor should be paired with this (from discord,  July 11th 2018 by @ryantheleach)

[code]

as I hit an issues with deserializing a Location whose World isn't loaded yet or was deleted: [Fix commit](https://github.com/randombyte-developer/unity/commit/1664c2d844a7e237f4f55d9d381906ce816f1c5a#diff-27540bb80c2793d00a7980b241fc77dcR34)

Also duplicate of https://github.com/SpongePowered/Spong

[2018-09-28 17:53] Rasgnarok commented on #1794
https://github.com/MinecraftPortCentral/GriefPrevention/issues/746

Bumping this up because it is still an issue, has anyone taken a look? According to blood in this ticket, it should not be happening if the flag is denied.

[2018-09-28 19:56] gabizou commented on #1794
Pretty sure I fixed this with the previous bucket issue of placing and picking up bucket items. Retest?

[2018-10-05 05:50] HaniXP opened #2111 "Cannot setup world Gamemodes [World Gamemode doesnt save - World Manager Problem?]"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3477
- SpongeVanilla version:
- Java version: Version 8 - 181
- Operating System: Windows 7 Ultimate (64 - bit)

- Plugins/Mods:
Plugins :
Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, CatClearLag, EconomyLite, FlexibleLogin, GriefPrevention, LuckPerms, MMCRestrict, MagiBridge, NPCs, Nations, Nucleus, PlaceholderA

[2018-10-06 18:50] IBGnova commented on #2111
I'm currently having an issue where when I disable worlds, they come re-enable after reboots. They stay disabled for the duration of the server up-time, but right when the server comes back from a restart they seem to be back and players can enter with portals. I was told this issue might be related to the one listed above, and to comment this here. :p

[2018-10-07 06:08] ginyai opened #2112 "CaptureInventory of IMixinContainer does not set to false after switch hotbar"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3477
- Java version: 1.8.0_162
- Operating System: Windows10

**Issue Description**
In survival mode.
Put an itemstack in the hotbar, select that slot, press F to swap the itemstack in mainhand and offhand, and click the inventory.
`ClickInventoryEvent#getTransactions` contains the transactions made by swaphand.

[2018-10-07 21:55] HaniXP opened #2114 "World Properties not saving"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3477
- Java version: Version 8 - 181
- Operating System: Windows 7 Ultimate (64 - bit)

- Plugins/Mods:
Plugins :
Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, CatClearLag, EconomyLite, FlexibleLogin, GriefPrevention, LuckPerms, MMCRestrict, MagiBridge, NPCs, Nations, Nucleus, PlaceholderAPI, UltimateCore

Mods :

[2018-10-09 17:23] gabizou commented on #1798
So, having recently revisited this sort of issue with @Zidane, currently, our implementation is as such:

Player places a sapling in a world, it is naturally grown over time into a tree. The creator and notifier of those tree blocks is the same owner as the original sapling.

When a player places a sapling and someone else uses bonemeal on the sapling, the tree grown is formed with the notifier of

[2018-10-09 20:43] gabizou commented on #1794
Closing as it's not been reproduced or commented on in over a week. Feel free to comment to request re-opening with some better details of the reproduction on newer builds.

[2018-10-09 20:43] #1794 closed, assigned to nobody

[2018-10-09 20:57] gabizou commented on #1084
@Zidane looks like in 1.13, we won't have a choice about spawning these sorts of entities without specific types. There are certain entities that cannot be re-created and are explicitly disabled for serialization and summoning.

For 1.12 (API 7.2+), we can expose this as a new method in `EntityType` to determine if it's possible to spawn/summon said entity, without using other means like Projectil

[2018-10-10 00:47] ryantheleach commented on #1798
That would solve this issue, but it's my suspicion that it will make plugins such as Prism a lot more complicated for the logging of 'viral' blocks.

Would/does mycelium, grass, vines, (in future kelp) ender plants, Ice, match the current (or proposed) behavior of trees?

[2018-10-10 01:28] gabizou commented on #1798
Currently:

Any passive growth, from saplings to grass to whatever occurs during "random ticks" for growth, will associate both the Owner and Notifier of the original block placed that is causing the spread.

Proposed:
Any passive growth, from saplings to grass to whatever occurs during "random ticks" for growth, will associate only the new blocks as having no new Owner, but instead, have the Noti

[2018-10-10 16:37] kencinder opened #2117 "Exploit Check causing entity movement related flags in GriefPrevention to no longer work"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3477
- Java version: OpenJDK 64-Bit Server VM, version 1.8.0_181
- Operating System: Debian 9

**Issue Description**

Was told this is something that would need to be fixed on Sponge side. Original GP ticket - https://github.com/MinecraftPortCentral/GriefPrevention/issues/788

Sponge config for exploits `update-tracked-chunk

[2018-10-10 17:53] Aaron1011 commented on #2117
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/af82eca3132dc8756b218db2bdaac65c5a7adca2.

[2018-10-10 17:53] #2117 closed, assigned to nobody

[2018-10-11 22:33] limbo-app opened #2118 "ChangeBlockEvent.Pre fires on chest open"
This issue was originally submitted by @Shmeeb in [SpongePowered/SpongeAPI#1918](https://github.com/SpongePowered/SpongeAPI/issues/1918).
___
Minecraft: 1.12.2
    SpongeAPI: 7.1.0-ff990df
    SpongeForge: 1.12.2-2705-7.1.0-BETA-3477
    Minecraft Forge: 14.23.4.2705

[2018-10-12 18:24] ImMorpheus commented on #1819
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/999

[2018-10-12 18:24] #1819 closed, assigned to nobody

[2018-10-13 16:53] ImMorpheus commented on #1637
Updated.

I have no idea what is happening. Some of the data processors have been marked as "implemented" even if they are not.

Code to reproduce:

[code]

[2018-10-15 18:10] Lignium opened #2120 "Invalid return value of World#getBlockMax()"
**I am currently running**

- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-121
- Java version: 1.8.0_181
- Operating System: Kubuntu 18.04 Bionic
- Plugins/Mods: None

**Issue Description**

The `World#getBlockMax()` method returns incorrect value. Instead of (29999999, 255, 29999999), it returns (30000000, 256, 30000000), that is, at one larger. Along with that breaks the `World#getBloc

[2018-10-17 07:09] ginyai commented on #2112
Code:
[code]
When I switch hotbar slots:
[code]
Tested with spongeforge-1.12.2-2705-7.1.0-BETA-3481

[2018-10-17 07:35] ginyai commented on #2112
It seems that `SwitchHotbarScrollState` does not use the data IMixinContainer captured.

[2018-10-17 19:26] NamStalker commented on #2120
From what I can tell, the World#getBlockMax() should return (30000000, 256, 30000000), but the World#getBlockSize() is actually wrong and is returning with the added 1 to all values. I can submit a PR to fix this, but it seems like the first method is returning as intended.

Let me know if I may misunderstand what it should be returning.

[2018-10-17 19:52] Lignium commented on #2120
The default world length is 60M. 30M blocks for negative values (from -30M to -1 inclusive), and remaining 30M blocks for positive values with zero (from 0 to 29,999,999 inclusive). The fact is that we confuse coordinates of blocks and coordinates of points in the world. Coordinates of a block are given by the coordinate of it center + Vector3d(-0.5, -0.5, -0.5). This means that at a block with co

[2018-10-17 21:14] NamStalker commented on #2120
Ok, I see what happened there. I'll look into this once I get home. If anyone else wants to look into this or has more info, it is related to the change in #1958

[2018-10-19 02:39] Dockter opened #2121 "BreedEntityEvent, CauseTracker returning more than expected."
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3477
- Sponge API **7.2.0** << this is not a typo

I have this listener setup:

@Listener
public void onBreedEntity(final BreedEntityEvent.Breed event) {
      final List<Animal> parents = event.getCause().allOf(Animal.class);
}

Issue:  the parents list is returning 3 animals, both parents and then a copy of the 1st parent

[2018-10-19 15:49] REVIEWGAMINGMAN opened #2122 "bounding box restrictions"
I am trying to troubleshoot bounding box restrictions Minecraft Cauldron/kCauldron

[2018-10-19 16:07] dualspiral commented on #2122
We're not Cauldron or any derivative thereof. We do not provide support for anything but Sponge. Nor could we help anyway, because you've provided next to no information about what your problem is.

If you need help with **Sponge**, please visit us on our forums, IRC or Discord as they are more appropriate places for support. Cauldron is dead, if you need support for any Cauldron derivative, pleas

[2018-10-19 16:07] #2122 closed, assigned to nobody

[2018-10-20 00:53] #509 closed

[2018-10-20 10:48] Faithcaio commented on #2112
Fixed in latest.
Thanks for the investigation really saved a lot of time.

[2018-10-20 10:48] #2112 closed, assigned to nobody

[2018-10-20 12:05] Faithcaio commented on #2030
We already had markDirty() on Fabrics so just needed to use it.
For Containers (open Inventories) it will immediatly call detectAndSendChanges. So it should not capture anything.
For the (closed) Player Inventory I check for dirty state after scheduled Tasks ran and then run detectAndSendChanges when needed.

I think this should cover it.

[2018-10-20 12:05] #2030 closed, assigned to nobody

[2018-10-20 20:44] ImMorpheus commented on #2102
Ok, no, this is an issue with SpongeVanilla. See https://github.com/SpongePowered/SpongeVanilla/issues/389

[2018-10-20 20:44] #2102 closed, assigned to nobody

[2018-10-20 23:18] kencinder opened #2126 "Non player entity tracking not functioning correctly for multiple events"
**I am currently running**

- SpongeForge version: 1.12.2-2768-7.1.2
- Java version: OpenJDK 64-Bit Server VM, version 1.8.0_181
- Operating System: Debian 9.5

- Plugins: BetterChunkLoader, GriefPrevention, LuckPerms, MMCReboot, Nucleus, SleepVote, spark

Sources returned in a griefprevention debug are showing `none` for non-player entities. `block-break`, `block-place`, `explosion`, `entity-dama

[2018-10-20 23:45] gabizou commented on #2126
I don’t know what I’m looking at in relation to reproducing what is being recorded as none.

[2018-10-21 01:23] kencinder commented on #2126
The first instance of `entity-damage` in that debug where the target is `minecraft:spider` and the source is `none`, the source was actually `minecraft:creeper` from the creeper exploding, as are all of the `block-break`, `explosion` and `explosion-surface` with the source showing `none`, they should all be attributed to `minecraft:creeper`.

[2018-10-24 18:37] Lignium commented on #2097
Demonstration of the bug: https://www.youtube.com/watch?v=LW30EB2J3ME (deleted)

A listener that is blocking preview and craft an item:
[code]

[2018-10-24 22:56] MoeBoy76 commented on #2126
Sponge is not tracking or not passing on the base cause of the explosion and therefore block break events and entity damage events. It _should_ be easy to reproduce by checking the events in the same way blood does in GriefPrevention

[2018-10-26 16:33] #2097 closed, assigned to nobody

[2018-10-26 17:58] ImMorpheus commented on #1962
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/461

[2018-10-26 17:58] #1962 closed, assigned to nobody

[2018-10-26 18:06] ImMorpheus commented on #2121
Not able to reproduce on stable-7 branch.

Fixed by https://github.com/SpongePowered/SpongeCommon/commit/19929c7d392ea7029e0a432b86dd1e54c2fdedfb

[2018-10-26 18:06] #2121 closed, assigned to nobody

[2018-10-26 19:45] Dockter commented on #2121
This is because @Zidane and I fixed in with the 3497 commit.

[2018-10-27 10:46] wiwiho opened #2128 "The result of Note#offer(NoteData) is not correct"
**I am currently running**
- SpongeVanilla version: 1.12.2-7.1.3-RC131
- Java version: 1.8.0_171
- Operating System: Windows 10

**Issue Description**
The pitch that is offered and the final pitch are different.

[code]

It should print 2 same pitch names in 1 line, but it doesn't:
![image](https://user-images.githubusercontent.com/26143491/47602871-081cac80-da17-11e8-94e6-98463eede9be.png)

[2018-11-04 11:55] ryantheleach commented on #2088
1.14 will have Dispensers causing damage to item stacks, (shears on wool, currently)

[2018-11-04 17:16] ustc-zzzz opened #2131 "Wrong implementation of `BlockType#getItem`"
**I am currently running**
- SpongeVanilla version: 1.12.2-7.1.4
- Java version: 1.8.0_171
- Operating System: GNU/Linux

**Issue Description**

The return value of "`BlockTypes.AIR.getItem()`" should have been `Optional.of(ItemTypes.AIR)` but it is actually `Optional.empty()` now. The implementation is located in [`MixinBlock.java`](https://github.com/SpongePowered/SpongeCommon/blob/stable-7/src/

[2018-11-04 18:24] #2131 closed, assigned to nobody

[2018-11-06 13:55] XakepSDK opened #2132 "Shutting down piston by redstone path explosion isn't detected"
**I am currently running**
- SpongeVanilla version: spongevanilla-1.12.2-7.1.4
- Java version: 1.8.0_192
- Operating System: Arch Linux
- Plugins/Mods: TestPiston

**Issue Description**
Depowering piston by redstone explosion doesn't detect explosion owner.

Test code:
[code]

Result:
[19:50:31 INFO] [STDOUT]: Piston Retract: WorldServer{Name=world, DimensionId=0, DimensionType=minecraft:overworld

[2018-11-13 06:22] caseif opened #2134 "Furnaces no longer dispense XP when output is shift-clicked"
_Preface: This issue only occurs in SpongeForge, but is caused by a change to SpongeCommon, and so I'm creating the issue here._

When the output item of a furnace is shift-clicked, the furance will fail to dispense any XP orb entities. This bug was introduced by cda9583f3b7f4bf58db7f76098ebade64c8ded42 and still occurs in the most recent version of SpongeForge.

For clarity, this occurs without a

[2018-11-14 23:33] XakepSDK opened #2135 "Inventory query for ItemType does not work if inventory contains only 1 stack"
**I am currently running**

- SpongeVanilla version: spongevanilla-1.12.2-7.1.4.jar

- Plugins/Mods: test plugin

**Issue Description**
Inventory query for item type doesn't work if inventory contains only 1 stack.

Test code:
[code]

1. Take stack of gold blocks
2. Inventory must contain only one stack of ItemType
2. Write something in chat
3. You got 0 output
4. Divide stack, run again - works f

[2018-11-14 23:43] XakepSDK commented on #2135
UPD:
for won't iterate over query if query contains only 1 element.
proof:
[code]

[2018-11-15 00:17] XakepSDK commented on #2135
Query creates new SlotAdapter, slot adapter uses AbstractInventoryAdapter, that implements iterator method using InventoryIterator call, InventoryIterator calls lens.getSpanningChildren and this call returns empty list.

SlotAdapter iterator() method is commented and unimplemented. I hope this will be fixed soon.

[2018-11-15 18:17] #2135 closed, assigned to nobody

[2018-11-16 14:26] Lignium opened #2137 "Incomplete serialized data of quartz column"
- SpongeVanilla version: spongevanilla-1.12.2-7.1.4
- Java version: openjdk_1.8.0_181
- Operating System: Kubuntu 18.04
- Plugins/Mods: A simple test plugin

**Issue Description**
At the stage of converting BlockState of a quartz column BlockState (and maybe others) into a DataContainer, rotation information is lost.

`BlockState#toString() -> minecraft:quartz_block[variant=lines_z]`
`BlockState#t

[2018-11-17 18:05] Eufranio opened #2138 "Arrows don't go invisible with Keys.INVISIBLE"
**I am currently running**
- SpongeVanilla version: 1.12.2-7.1.0-BETA-121
- Java version: 1.8.0_121
- Operating System: Windows 10

Spawning an arrow then offering `Keys.INVISIBLE` will not make it invisible, while it works with other entities.

[code]
This code will spawn an visible arrow. I've tried offering the data after spawning, no success.

[2018-11-19 18:59] teitss opened #2140 "Issue with custom data."
**I am currently running**
- SpongeForge version: RB 7.1.4
- SpongeVanilla version: -
- Java version: 8
- Operating System: Debian 9

- Plugins/Mods: spongeforge, pixelmon, economylite, luckperms, pixelmoney, uniquecosmetics

**Issue Description**
After updated my server to SpongeForge RB  7.1.4, some players are throwing exceptions when trying to login. Before SpongeForge RB 7.1.4 I was running S

[2018-11-19 21:10] gabizou commented on #2140
Your plugin needs to register keys during the event. The problem here is that the server has long since started and keys are only being constructed then, when they should be constructed during the registration event.

I'm leaving the issue open because we can improve the error handling and message to make this clearer for others in the future.

[2018-11-19 22:57] teitss commented on #2140
Alright, now I'm registering my data and keys during correct events, it's working fine, ty

[2018-11-22 03:04] JBYoshi commented on #2138
It looks like `Keys.INVISIBLE` is somewhat confusing overall.

* The only place where there's real control over `Keys.INVISIBLE` is in the case of armor stands. For armor stands, it hides the armor stand itself while showing the armor on it.
* For all other living entities, `Keys.INVISIBLE` is updated whenever the potion effects change. It's set to true when the entity has the invisibility status

[2018-11-22 03:06] Eufranio commented on #2138
I cannot use vanish for my arrow, since I still want the client to know about it. My use case is that I'm spawning an invisible arrow then adding the player as its rider, so the player "sits" on it. If I vanish it, the client will just dismount from it client side (while still mounted server side).

[2018-11-22 04:06] JBYoshi commented on #2137
Can reproduce. It appears that `BlockState.getId()` is missing information.

I don't think there is a way to handle updating old IDs at the moment, so fixing this would probably break existing save data.

[2018-11-22 23:17] JBYoshi commented on #2138
What are you trying to use this for?

[2018-11-22 23:38] #2128 closed, assigned to nobody

[2018-11-23 00:40] gabizou commented on #2138
It’s almost better to keep an armor stand as the ridden entity and then update the position of the armor stand from a vanished arrow.

[2018-11-23 01:14] JBYoshi commented on #2128
This should be fixed in the latest build.

[2018-11-23 03:28] #2134 closed, assigned to nobody

[2018-11-23 04:12] Eufranio commented on #2138
I'm using the arrows on my [seats plugin](https://github.com/Eufranio/OpenSeats/blob/master/src/main/java/io/github/eufranio/openseats/SeatListeners.java#L91). I can use any entity for that, but arrows were known to be the `ridden entities` in the past, so I first tried with them.

[2018-11-23 04:39] JBYoshi commented on #2132
I can't reproduce this on the latest versions of SpongeForge or SpongeVanilla.

[2018-11-23 04:41] JBYoshi commented on #2138
In that case, I'd recommend using an armor stand instead of an arrow.

[2018-11-23 05:38] ryantheleach commented on #2138
Arrows were only used before armor stands existed. and even then, IIRC the arrows were always visible, just usually cleverly hidden inside blocks where possible.

[2018-11-23 21:18] GDVE opened #2141 "Long receiving UUID players."
I am currently running

SpongeForge version: 1.12.2-2768-7.1.2
Forge version: 1.12.2-14.23.5.2768
Java version: 1.8.0_181
OpenJDK Runtime Environment (build 1.8.0_181-8u181-b13-1~deb9u1-b13)
OpenJDK 64-Bit Server VM (build 25.181-b13, mixed mode)
Operating System: Debian 9
Plugins/Mods: LuckPerms, Nucleus, RedProtect, UltimateChat, PixelAutoMessages.
Issue Description
For example, to call this pro

[2018-11-23 21:21] ImMorpheus commented on #2141
Spamming issues is not going to speed things up

Duplicate of https://github.com/SpongePowered/SpongeForge/issues/2490

[2018-11-23 21:21] #2141 closed, assigned to nobody

[2018-11-23 21:44] 02Miki opened #2142 "Add Contextual Data to sponge"
This can explain it better than me:

https://github.com/NucleusPowered/Nucleus/issues/179

If ya need more info i can try to collect em

[2018-11-23 21:47] DrZoddiak commented on #2142
https://github.com/SpongePowered/SpongeCommon/pull/451

[2018-11-23 22:09] #2142 closed, assigned to nobody

[2018-11-24 17:11] johnfriedrich opened #2143 "Class cast exception when using sponge -g reload"
**I am currently running**
- SpongeForge version:  7.1.4

class cast exception during sponge -g reload
error: https://pastebin.com/XhFfxdmQ
config: https://pastebin.com/XhFfxdmQ

- Plugins/Mods: Direwolf 2.3.0

Install Direwolf20, reload config without any changes made in config

Not sure, but one mod might have added entities/tiles that sponge added to his config. All mods are still present, but

[2018-11-24 18:22] ImMorpheus commented on #2143
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/2349

[2018-11-24 18:22] #2143 closed, assigned to nobody

[2018-11-25 16:16] Lignium opened #2144 "Construct and spawn entity events when broken block dropping item"
**I am currently running**

- SpongeVanilla version: spongevanilla-1.12.2-7.1.4
- Java version: OpenJDK 1.8.0_181
- Operating System: Kubuntu 18.04
- Plugins/Mods: Only one experimental plugin

**Issue Description**

Hi, SpongePowered team!

I conducted a very large analysis of events data which occurs when a broken block dropping an item. In total, I checked 11 different ways to break a flower po

[2018-11-25 23:07] gabizou commented on #2144
Perhaps it would be beneficial as well to include stack traces to the already detailed pdf. The legend is helpful, however, I'm seeing some results of various areas that are phase state dependent, such that debugging would be aided by having said stack traces.

A lot of what you're seeing are indeed bugs, as the data is being predetermined by the [phase state that is handling said events during po

[2018-11-26 15:04] Lignium commented on #2144
@gabizou, I understand correctly, do I need to run `Thread.currentThread().getStackTrace()` code for all 11 cases?

[2018-11-28 02:14] gabizou commented on #2144
Yes.

[2018-11-28 06:57] #2101 closed, assigned to nobody

[2018-11-28 07:01] gabizou commented on #965
Fairly sure at this point it does throw a new event now, especially since listeners flow through the same logic as any other event now. Re-open if it's still an issue these days.

[2018-11-28 07:01] #965 closed

[2018-11-29 01:46] johnfriedrich commented on #2126
I wrote a very simple test plugin. When I got hurt by a creepers explosion, sponge told me the correct damage source.
But when checking for ChangeBlockEvent.pre when a creepers explodes, it gave me net.minecraft.world.Explosion@176cbd7b as event source. Similiar weird string when checking for ExplosionEvent. This could be normal because I stringified the object. ( I am not familiar with sponge cod

[2018-11-29 02:09] ryantheleach commented on #2126
That weird string is a result of calling Object.toString() on an object that doesn't override it.

By default, java will output the type, and Object.hashCode() so that you can attempt to (weakly, visually) see whether objects have an implication(but not guarantee) of reference equality.

@i9hdkill What you have confirmed is that the explosion itself, is the source, rather then the entity causing t

[2018-11-30 19:31] ghost opened #2146 "java.util.NoSuchElementException: No value present in specific circumstance of InteractItemEvent"
**I am currently running**

- SpongeVanilla version: 1.12.2-7.1.5-RC139
- Java version: 1.8.0_192
- Operating System: Windows 10

- Plugins/Mods: No mods; only plugins include an event logger and event handler (listen, cancel).

**Issue Description**
Optional returned by `((InteractItemEvent) event).getInteractionPoint()` is empty for `InteractItemEvent.Primary.MainHand` when punching `minecraft:e

[2018-11-30 20:09] ghost commented on #2146
This is not an issue with Sponge; InteractItemEvent fires when interacting with entities and may not return an interaction point.

[2018-11-30 20:09] #2146 closed, assigned to nobody

[2018-12-01 05:11] Sir-Will opened #2147 "entity-spawn logging not working"
Enabled `entity-spawn` logging in the config and restarted the server but nothing is being logged when mobs are spawning.

spongeforge-1.12.2-2768-7.1.5-RC3506

[code]

[2018-12-01 06:00] ghost opened #2148 "SqlService incompatible with MySQL 8.0.x (failing to read password)"
**I am currently running**

- SpongeForge version:
- SpongeVanilla version: 1.12.2-7.1.5-RC139
- Java version: 1.8.0_192
- Operating System: Windows 10
- SQL Server: mysql 8.0.13

- Plugins/Mods: Irrelevant.

**Issue Description**
Despite proper URL syntax (checked against SqlService regex), a password is not being read when it is provided.
`Access denied for user 'user'@'localhost' (using passwor

[2018-12-01 10:21] phit commented on #2148
Duplicate of #2008

[2018-12-01 10:23] phit commented on #2148
I know its technically not the same symptoms, but we really don't need two issues to track that the libs are outdated.

[2018-12-01 10:25] ryantheleach commented on #2148
I'm not sure that's the root cause, after investigation it was found that updating it didn't help.

[2018-12-01 10:30] phit commented on #2148
@brjcarbone server version?

[2018-12-01 10:32] ryantheleach commented on #2148
Edited in the mysql server version from information in discord.

[2018-12-01 16:10] ryantheleach commented on #2148
Testing with the following plugin code:

https://gist.github.com/ryantheleach/ed688fb6510c32d93785a72a0752da13

With the following Sponge config

[code]

Resulted in the following exception:

[code]

**NOTE:** Mine differs to your exception in that it was indeed using the password.

I accidentally installed mysql 5, as it was the default mysql for my linux distribution.

I suspected (once I learne

[2018-12-01 16:42] ryantheleach commented on #2148
Using the same user database, on MySQL 8, results in #2008

Sorry I'm unable to replicate, It's either something OS specific, or you have an error in your mysql users table. I'll reopen if someone else on windows can replicate, when they can connect with mysql workbench but not a sponge alias.

[2018-12-01 16:45] ryantheleach commented on #2008
@gabizou What amount of testing would be required to get this relatively simple dependency change into the next minor/major (assuming has binary changes, and that the connector follows semver) SpongeAPI builds.

[2018-12-02 02:47] #2111 closed, assigned to nobody

[2018-12-02 14:36] ryantheleach commented on #2148
@brjcarbone As a followup, I updated the mariadb connector locally, and it indeed did fix #2008.

You either have a windows specific issue, or an issue with your mysql configuration.

[2018-12-02 14:39] ryantheleach commented on #2008
I've done a minimal amount of testing against `org.mariadb.jdbc:mariadb-java-client:2.3.0` .

Using that connector you can indeed make a connection, and execute a query (as long as you are using an authentication method mariadb-java-client supports, see comments on #2148).

I'm no expert of the advanced usages of jdbc connectors, so I'm not sure what else would need testing, other then running wit

[2018-12-02 15:11] onyn commented on #2148
Access denied error is related only to mariadb client library.

In mysql 8.0 default authentication plugin was changed from `mysql_native_password` to `caching_sha2_password`. This new authentication scheme is not supported by mariadb java library. Even in latest version (2.3.0). Only official mysql connector have support of it as of version 5.1.46. So upgrading mariadb client library is not an op

[2018-12-02 15:16] ryantheleach commented on #2148
@onyn I believe I was using mysql_native_password the whole time, as I updated from mysql 5.

Thanks for the addition info, I'll look into what our plans will be.

For now, I've reported this to the mariadb team, who have fixed this in the C connector, but not the Java connector: https://jira.mariadb.org/browse/CONJ-663

[2018-12-02 15:27] onyn commented on #2148
You can verify what plugin used by each user for authentication:

[code]

[2018-12-02 15:37] nihiluis opened #2150 "InventoryClickEvent OffHand SlotINdex/EquipmentType Property Inconsistent Retrieval Issue"
**I am currently running**

    Minecraft: 1.12.2
    SpongeAPI: 7.1.0-SNAPSHOT-7105dfc
    SpongeForge: 1.12.2-2705-7.1.0-BETA-3361
    Minecraft Forge: 14.23.4.2705

- Java version:  8
- Operating System: archie linux

- Plugins/Mods:
i only use prviate mod + nuclear and lucksperms

**Issue Description**
im using InventoryClickEvent in code. i want to check which item you put in a specific slot.

[2018-12-02 18:02] gabizou commented on #2150
No clue what SpongeForge 1427 means....

[2018-12-02 18:33] nihiluis commented on #2150
sorry this is it:

    Minecraft: 1.12.2
    SpongeAPI: 7.1.0-SNAPSHOT-7105dfc
    SpongeForge: 1.12.2-2705-7.1.0-BETA-3361
    Minecraft Forge: 14.23.4.2705

[2018-12-02 20:40] Eufranio opened #2151 "Keys.LAST_DATE_PLAYED is empty, while JoinData is present"
**I am currently running**
- SpongeVanilla version: 1.12.2-7.1.0-BETA-121
- Java version: 1.8.0_121
- Operating System: Windows 10

When getting the last played instant from a user by using `user.get(Keys.LAST_DATE_PLAYED)`, the returned optional is empty, but when getting via the JoinData, via `user.get(JoinData.class).get().lastPlayed().get()` both are present.

[code]

[2018-12-03 01:53] ryantheleach commented on #2148
I've reopened this to track problems with `caching_sha2_password` separately from #2008 .

On the off-chance that we update the mariadb drivers before the mariadb team has a fix, Or if the team decides to add mysql connector as an extra dependency to prevent issues like this in the future.

[2018-12-03 02:10] ryantheleach commented on #2150
I'm having difficulty understanding the images / hand writing, and your code is in Kotlin, which while unfamiliar I can **attempt** to read with some difficulty, So can you confirm the following:

Do you mean to say,

During a ClickInventoryEvent (ClickInventoryEvent.Primary and ClickInventoryEvent.Drop specifically), you can get the slot number by (getting the cursorSlot transaction, or the first

[2018-12-03 03:02] Faithcaio commented on #2150
The cursor transaction is in fact **never** a SlotTransaction.

[2018-12-03 03:04] ryantheleach commented on #2150
@Faithcaio

[code]

Testing with this, does indeed show that the order of the transactions is inconsistent for the offhand slot.

[2018-12-03 03:07] Faithcaio commented on #2150
The SlotTransactions are (maybe always, there may be exeptions for events that do not deal with Containers) ordered by SlotIndex.
Thats because when creating the Transaction I go in that same order.
I'd call that pretty consistent.

[2018-12-03 03:54] ghost opened #2154 "CooldownEvent.Set API is not functional"
**I am currently running**
- SpongeVanilla version: 7.1.5-RC139
- Java version: 1.8.0_192
- Operating System: Windows 10

- Plugins/Mods: Irrelevant.

**Issue Description**
You cannot cancel `CooldownEvent.Set` nor can you set a custom cooldown. :)

[2018-12-03 10:29] nihiluis commented on #2150
[code]

I want to listen/call callbacks when a certain slot in my inventory is clicked on with a specific item. At the same time I want it to be the same system for multiple (also modded) inventories.

I don't know of anything that is more comfortable than passing a certain SlotIndex.

[code]
hmm, makes sense, thank you

[2018-12-03 10:29] #2150 closed, assigned to nobody

[2018-12-03 12:24] phit commented on #2154
what happens when you use the test plugin?
https://github.com/SpongePowered/SpongeCommon/blob/a9423c7ec9f2b423b52c273f7e7a23818a8f3e41/testplugins/src/main/java/org/spongepowered/test/CooldownTrackerTest.java

[2018-12-03 20:19] #2148 closed, assigned to nobody

[2018-12-04 01:52] HallowedDream opened #2155 "Piston/Shulker box Duplication Bug Spongeforge"
**I am currently running**

- SpongeForge version: 1.12.2-2768-7.1.4
- SpongeVanilla version: N/A
- Java version: build 1.8.0_171-b11
- Operating System: Windows v1803 (OS Build 17134. 407)

- Plugins/Mods: Pixelmon 6.3.4, Nucleus-1.6.1-S7.1-MC1.12.2, griefprevention-1.12.2-4.3.0.646.jar

**Issue Description**
using spongeforge 1.12.2-2768-7.1.4  the sticky piston / shulker box dupe is still activ

[2018-12-04 16:46] gabizou commented on #2155
Duplicate of
https://github.com/SpongePowered/SpongeForge/issues/2443

The fix is rather complicated and needs more time to be developed without breaking a ton of stuff.

[2018-12-04 16:46] #2155 closed, assigned to nobody

[2018-12-05 08:34] MoeBoy76 commented on #2072
this likely relates to https://github.com/SpongePowered/SpongeForge/issues/2443 which seems unlikely to be fixed

[2018-12-06 02:49] tenten8401 opened #2156 "Fix needed for chunk savestate dupe glitch"
**I am currently running**
- Minecraft: 1.12.2
- SpongeAPI: 7.1.0-4f54ce0d
- Sponge: 1.12.2-7.1.5-SNAPSHOT
- SpongeForge: 1.12.2-2768-7.1.5-RC3506
- Minecraft Forge: 14.23.5.2768

**Issue Description**
There's apparently a dupe bug in vanilla minecraft that needs to be fixed, I don't know if there's an issue for it already but I couldn't seem to find one. It allows the player to prevent a chunk fr

[2018-12-06 18:23] ryantheleach commented on #1841
Related PR: https://github.com/SpongePowered/SpongeCommon/pull/86

[2018-12-06 18:27] ryantheleach commented on #1816
@ImMorpheus That would solve the issue they are having, but what about the expected behavior of the work around?

@dualspiral @ImMorpheus
Is

"However, through testing I have found that org.spongepowered.common.config.DataSerializableTypeSerializer does NOT use the parent options' serializers, and therefore does not recognize the array serializers."

Works as Intended as far as Configurate goes?

[2018-12-06 18:39] ryantheleach commented on #2100
Not sure if related, since sets are values in hocon, but just in case:

Upstream Hocon:
https://github.com/lightbend/config/issues/365
https://github.com/lightbend/config/issues/35

Add a set serializer to the default type serializers: https://github.com/SpongePowered/configurate/issues/89

Call to disable alphabetical order. : https://github.com/SpongePowered/configurate/issues/31

[2018-12-06 18:51] ryantheleach commented on #2114
@dualspiral Are these steps from Nucleus world management? Do you have any insight?

[2018-12-06 18:56] ryantheleach commented on #2086
It's my suspicion that this may be due to the block ray being exactly along the vertical.

[2018-12-06 18:58] ryantheleach commented on #1963
What is the expected result? (I mean, clearly not throwing a NPE)?

Should this instead be moved to Configurates issue tracker.

[2018-12-06 19:18] ghost commented on #2086
Whatever creates the issue affects VoxelSniper as well. FWIW, the Vector3d GenericArgument has a working BlockRay in it.

[2018-12-06 19:23] ghost commented on #2154
I haven't used that plugin; this is what I've tried:

[code]
[code]
Second one throws an error. First one doesn't work.

[2018-12-06 22:03] ghost opened #2157 "A player using a bucket is not the root cause."
**I am currently running**

- SpongeVanilla version: 7.1.5
- Java version: 1.8.0_192
- Operating System: Windows 10

This may or may not be an issue, but it appears to be one the only inconsistency I've found thus far with regard to direct player interactions not putting the player as the root cause in the stack. `@First` is a workaround, but I firmly believe that I emptied these water buckets on

[2018-12-07 03:23] limbo-app opened #2158 "Canceled water placement can still destroy rails and causes an error when the rail is replaced."
This issue was originally submitted by @brjcarbone in [SpongePowered/SpongeVanilla#395](https://github.com/SpongePowered/SpongeVanilla/issues/395).
___
SpongeVanilla 7.1.5 (RC139 with MySQL PR merged).

[code]

Use a water bucket on a rail and it will get destroyed which can be used to bypass regional protections. Replacing the rail returns this: https://paste.md-5.net/pupetobelu.tex

It will also

[2018-12-07 03:26] ryantheleach commented on #2158
Post by @DrZoddiak:

___
Post by @DrZoddiak:

[2018-12-07 03:45] ryantheleach commented on #1853
Assuming fixed for now, based on issue feedback. Happy to reopen should it not be fixed.

[2018-12-07 03:45] #1853 closed, assigned to Aaron1011

[2018-12-12 02:42] runescapejon commented on #1903
So this issue happen to me very odd behavior because it's was very strange one you can only perform this dupe bug with having SpongeForge and specific level.dat you get a nether portal and you grab a minecart chest put the item you want to dupe with in there then push the minecart chest through the portal and inside of the nether world it push out two minecart chest that contain the one has the it

[2018-12-12 02:43] #2151 closed, assigned to nobody

[2018-12-12 07:09] ryantheleach opened #2159 "Listening for GameRegistryEvent.Register<CraftingRecipe> fails to run listeners."
**I am currently running**

SpongeForge
    Minecraft: 1.12.2
    SpongeAPI: 7.1.0-6eb292fd
    Sponge: 1.12.2-7.1.5-SNAPSHOT
    SpongeForge: 1.12.2-2768-7.1.5-RC0
    Minecraft Forge: 14.23.5.2768

**Plugins/Mods:**
- Modified RecipeTest : https://gist.github.com/ryantheleach/40ce23eee453afd69f396070f8b5afc5

**Issue Description**
Listening for the Game Registry event, as opposed to preinit fail

[2018-12-12 07:19] ryantheleach commented on #2151
I would have expected Last_Date_Played to be the previous date played. not now. but maybe my memory is rusty.

[2018-12-12 08:48] ryantheleach commented on #2159
On second thoughts, maybe we should split this into SC / SV for the unable to be overwritten aspect.

[2018-12-12 08:48] ryantheleach opened #2160 "SpongeVanilla can not overwrite recipes but SpongeForge can."
**Using:**
Minecraft: 1.12.2
    SpongeAPI: 7.1.0-4f54ce0d
    Sponge: 1.12.2-7.1.5-SNAPSHOT
    SpongeVanilla: 1.12.2-7.1.5-RC135

While using vanilla it seems the Minecraft ID cannot be "overwritten", in this case "minecraft:arrow" which can be done using SpongeForge.
Server crashes logging this: https://hastebin.com/cenumefave.rb

_Originally posted by @Mariomm-marti in https://github.com/Spong

[2018-12-12 08:48] #2160 closed, assigned to nobody

[2018-12-12 08:50] ryantheleach commented on #2160
Used this issue as a test to try to create issues from comments, to see what would happen. Needed to move cross-repo to SV, so I just did it manually.

[2018-12-12 23:41] #2103 closed, assigned to nobody

[2018-12-12 23:44] JBYoshi commented on #1903
@runescapejon I just fixed #2103. Try again on RC3511 (when it comes out in a few minutes) and see if it's still happening.

[2018-12-13 00:37] runescapejon commented on #1903
@JBYoshi  Yes can confirm it's fixed thanks you very much.

[2018-12-16 18:16] kasdo opened #2162 "Sponge 1.12.2 crash"
SpongeForge
Minecraft: 1.12.2
SpongeAPI: 7.1.0-6eb292fd
Sponge: 1.12.2-7.1.5-SNAPSHOT
SpongeForge: 1.12.2-2768-7.1.5-RC3511
Minecraft Forge: 14.23.5.2768

https://github.com/Chisel-Team/Chisel/blob/1.12/dev/src/main/java/team/chisel/common/item/ChiselController.java#L147

Plugins: Minecraft, Minecraft Coder Pack, SpongeAPI, Sponge, Eagle Factions, GriefPrevention, Holograms, LuckPerms, Nucleus, Pl

[2018-12-16 18:19] phit commented on #2162
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/1972
also wrong repo for mod reports

[2018-12-16 18:19] #2162 closed, assigned to nobody

[2018-12-20 15:13] Lignium commented on #2144
Updated PDF... A month later :D

[2018-12-20 17:52] gabizou commented on #2007
Oh hey, somehow this issue got left aside. Some core structure changes have been taking place on the capture side of the tracking code. I'll investigate further, likely after I get #2155 fixed with https://github.com/SpongePowered/SpongeCommon/pull/2163.

[2018-12-22 21:16] randombyte-developer commented on #2156
Updated link: https://github.com/PaperMC/Paper/blob/master/Spigot-Server-Patches/0403-Book-Size-Limits.patch

[2018-12-22 21:42] gabizou commented on #2156
Someone can write a PR for this.

[2018-12-22 23:51] Shybella commented on #2156
I tested this dupe at one point and wasn't successful. Have you attempted this?

[2018-12-25 14:35] tenten8401 commented on #2156
@Shybella I had some players successfully do it on my Spongeforge server.

[2018-12-27 17:35] ImMorpheus commented on #2158
I'm not able to reproduce this with the Interactevents PR.

Try testing with https://github.com/SpongePowered/SpongeCommon/pull/2125 if you're able to setup a local dev environment

[2018-12-29 00:05] phit commented on #1626
`infinite-water-source` seems to be dead aswell

[2018-12-29 19:35] Lignium opened #2166 "Missing contexts in UseItemStackEvent"
**I am currently running**

- SpongeVanilla version: spongevanilla-1.12.2-7.1.5-RC143
- Java version: OpenJDK 1.8.0_191
- Operating System: Kubuntu 18.04
- Plugins/Mods: Only one experimental plugin

**Issue Description**

I analyzed the work of UseItemStackEvent and discovered that not all events have player information in context. This is certainly not such a big problem, since the player is in

[2018-12-29 19:46] Aaron1011 commented on #2166
Can you pastebin the plugin code you're using?

[2018-12-29 19:58] Lignium commented on #2166
The most common unremarkable code... [Spongeriment.java](https://pastebin.com/iKDhn7kB)

[2018-12-29 20:32] #2166 closed, assigned to nobody

[2018-12-29 20:36] Lignium commented on #2166
Ha-ha, I did not have time to write, in the context you need to add used item. Thanks!

[2018-12-31 07:47] bluelightning32 opened #2168 ""Shift T" feature from Quark raises IllegalStateException exception"
**I am currently running**
- SpongeForge version:  1.12.2-2768-7.1.5-RC3512
- Java version: OpenJDK 64-Bit Server VM, version 1.8.0_191, running on Linux:amd64:4.19.8-300.fc29.x86_64
- Operating System: Fedora 29

- Plugins/Mods:
Lots of mods present. The one mod relevant to the bug is Quark. I also have the ultimatechat plugin install. I'm not sure if that's a factor.

**Issue Description**
Quark

[2018-12-31 10:04] bluelightning32 commented on #1453
For anyone else who stumbles upon this bug, this is the luckperms command to disable spawn protection in the end:
[code]

[2018-12-31 14:53] JBYoshi commented on #2168
It looks like Quark is sending chat messages on the wrong thread. I'm pretty sure it's *supposed* to use the main thread, but I can't figure out *why*, except for Sponge compatibility. The involved `ItemStack` is a copy, so the only ways it could affect the outside world are `PlayerList.sendMessage()` (sends a chat message to all players; Sponge tries to fire an event here) and `NetHandlerPlayServ

[2018-12-31 15:35] phit commented on #2168
~move to sf

[2018-12-31 15:36] limbo-app commented on #2168
Hey @bluelightning32! I've moved your issue to [SpongePowered/SpongeForge#2542](https://github.com/SpongePowered/SpongeForge/issues/2542).

[2018-12-31 15:36] #2168 closed, assigned to nobody

[2019-01-03 09:54] Lignium opened #2169 "Listeners GameRegistryEvent.Register<DataTranslator<?>> never calling"
**I am currently running**

- SpongeVanilla version: spongevanilla-1.12.2-7.1.4
- Java version: OpenJDK 1.8.0_181
- Operating System: Kubuntu 18.04
- Plugins/Mods: Only one experimental plugin

**Issue Description**

Listeners `GameRegistryEvent.Register<DataTranslator<?>>` never calling and impossible to register correctly `DataTranslator`s.

[2019-01-03 11:05] Cybermaxke commented on #2169
Right now it's not allowed to register custom `DataTranslator`s.
https://github.com/SpongePowered/SpongeCommon/blob/stable-7/src/main/java/org/spongepowered/common/registry/type/data/DataTranslatorRegistryModule.java#L99

[2019-01-04 02:15] Lignium commented on #2169
I need to serialize to `DataContainer` instances of a regular class that is not associated with Data API. `DataTranslator` is best suited for this. It is very important that this happens automatically when calling the appropriate methods in `DataView` class. Why then need `DataManager#registerTranslator()` method? The fact that the event is not triggered is more like a bug.

[2019-01-04 15:14] Cybermaxke commented on #2169
For now use the `DataManager#registerTranslator()` method, I will fix it when I have the time.

[2019-01-05 23:13] Rasgnarok commented on #1948
Heads up, I am running 3392 (old, I know), but I just had it happen again. I'd like to have this opened, considering it's hard to reproduce, but definitely does occur even after blood's PR. Indeed the build I run was released according to minecraftforge site as  `7.1.0-BETA-3392 | 2705 | 08/10/18 10:48 PM`, and the PR dates a month before it.

As for testing with a newer version, I'll update my pr

[2019-01-05 23:20] Rasgnarok commented on #1948
![image](https://user-images.githubusercontent.com/18584380/50730232-9ea3d300-1116-11e9-94dd-c25e6d7c250a.png)

[2019-01-05 23:55] liach commented on #1948
that is how vanilla works when you have a very deep advancement tree. it checks if one of its ancestors is invisible.

[2019-01-07 02:57] Lignium commented on #2169
There is another problem... Work of methods `DataManager#registryTranslator()` and `GameRegistryEvent.Register#register()` somewhat different. When registering a `DataTranslator` with `GameRegistryEvent.Register#register()` then methods `DataView#getObject()` and `DataView#getObjectList()` can't get data translator.

In practice, it is not yet possible to test, due to the bug described above.

I m

[2019-01-07 06:07] Cybermaxke commented on #2169
Yes, I already noticed that the two methods are currently doing different things.

[2019-01-08 12:49] #2169 closed, assigned to Cybermaxke

[2019-01-08 12:54] Cybermaxke commented on #2169
@Lignium The event should work now as expected.

[2019-01-10 05:14] bloodmc commented on #2126
This was a GP bug. Fixed in commit https://github.com/MinecraftPortCentral/GriefPrevention/commit/923eebede8e2fd1071f94b17627f98ab92c67e9a

[2019-01-10 05:14] #2126 closed, assigned to nobody

[2019-01-11 18:37] pie-flavor opened #2172 "Extents with a Y above 0 can't run getHighestYAt"
I have an Extent that is one block high, and the one block is at 1 instead of 0. If I call `extent.getHighestYAt(x, z)` it gives me `org.spongepowered.api.util.PositionOutOfBoundsException: Position is out of bounds: expected in range (-32, 1, 176) to (-17, 1, 191) but got (-32, 0, 176)`

[2019-01-12 00:38] XakepSDK commented on #448
Second solution sounds good.

[2019-01-12 00:40] XakepSDK commented on #1353
@Cybermaxke please, check this.

[2019-01-12 20:40] ImMorpheus commented on #1323
dual is correct.
content of dat file:

[code]

Fixed since the PR was merged a long time ago

[2019-01-12 20:40] #1323 closed, assigned to nobody

[2019-01-13 14:24] mattysweeps commented on #874
Sorry to wake an old issue. Does anyone still want this?

Sponge Causes have come a long way since this was submitted. Does anyone have a better idea of whether or not it is feasible? Or a better idea whether or not it belongs as a part of Sponge?

[2019-01-13 14:38] #1879 closed, assigned to Faithcaio

[2019-01-13 14:40] Faithcaio commented on #1879
https://github.com/SpongePowered/SpongeAPI/commit/81ce267dc845e37caf3bed3f3fdc9432a8b14bf6
https://github.com/SpongePowered/SpongeCommon/commit/750088ff008213f4587a7d389ca0259d069ad5b3

[2019-01-15 01:05] Zerthick opened #2173 "Inventory Archetype in CraftItemEvent.Preview is always UNKNOWN"
**I am currently running**
- SpongeVanilla version: 1.12.2-7.1.5-RC145

**Issue Description**
When getting the inventory archetype from the inventory invovled in a CraftItemEvent.Preview, the archtype is always returned as Unknown.

[code]

[2019-01-20 13:58] Faithcaio commented on #1402
The recently merged ChangeEntityEquipmentEvent was the last missing one.

For Enchant Event there is another issue: https://github.com/SpongePowered/SpongeAPI/issues/1303

[2019-01-20 13:58] #1402 closed, assigned to nobody

[2019-01-20 14:19] Faithcaio commented on #2173
If you call `getArchetype()` on `getTargetInventory()` it works.
For `getCraftingInventory` it returns unknown because it is not actually a real inventory but only an Adapter provided by Sponge.

The whole InventoryArchetype thing is not really fully implemented.
Only works for creating custom inventories and the base vanilla inventories/containers we mixin into.

[2019-01-22 23:12] Cybermaxke commented on #2159
This will be fixed for bleeding in https://github.com/SpongePowered/SpongeCommon/pull/2174 and I will backport the fix to stable after it gets merged.

[2019-01-23 11:40] Lignium commented on #2013
@ImMorpheus, thanks for the work and time spent but unfortunately there are still shortcomings...

The conditions of the experiment are the same. In the main hand a stick.

- **Red** - Missing the data.
- **Orange** - An event wasn't fired. (I understand that this has already been discussed)
- **Violet** - Missing the data. I think `InteractBlockEvent` must containing block hit in the context.
- *

[2019-01-25 00:53] gabizou commented on #2007
Reviewing SpongePowered/SpongeForge#2297, I believe the fix is now actually done for that which should cover this issue.

To explain the *why* there's multiple types of captures:
We have the common understanding that Sponge will keep track of a `List` of `Entity` and `BlockSnapshot` objects that are either changing or spawning in a `World` during any specific `PhaseState`. `PhaseState` itself is j

[2019-01-25 01:15] pau101 commented on #2007
Looks all good now!

[2019-01-25 01:26] #2007 closed, assigned to gabizou

[2019-01-25 23:10] ImMorpheus commented on #2013
@Lignium

Red: The PR was about right-click events. I will look into left-click.

Green: Can you clarify ?

Orange: that's not an issue. there's no point in firing multiple Interact events for the same packet except breaking a whole lot of things.

[2019-01-26 18:39] Cybermaxke commented on #2159
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/bfdea2de6d5f34b102eb77ca0ad61534d8470aac

[2019-01-26 18:39] #2159 closed, assigned to Cybermaxke

[2019-01-26 23:29] #2120 closed, assigned to nobody

[2019-01-26 23:34] #1356 closed, assigned to nobody

[2019-01-30 05:49] Aaron1011 opened #2178 "Investigate MixinPlayerChunkMapEntry#resendUpdatedBiomes"
While working on 'natural chunk regen' with @bloodmc, I noticed that sending a player a `new SPacketChunkData(chunk, 65535)` for an *existing* chunk can have strange effects. Specifically, it causes entities to become invisible client-side (even though they still exist in the client world) until they move out of the chunk.

We use this same approach in `MixinPlayerChunkMapEntry#resendUpdatedBiomes

[2019-02-01 02:13] #2156 closed, assigned to nobody

[2019-02-01 15:16] ImMorpheus commented on #2070
PR merged and cherry-picked to stable

[2019-02-01 15:16] #2070 closed, assigned to nobody

[2019-02-01 16:44] mmis1000 opened #2179 "Calling transferToWorld on boat player is riding on only teleport the boat to other world"
**I am currently running**

- Minecraft: 1.12.2
- SpongeAPI: 7.1.0-70763aa8
- Sponge: 1.12.2-7.1.3-SNAPSHOT
- SpongeForge: 1.12.2-2768-7.1.3-RC3495
 -Minecraft Forge: 14.23.4.2765

- Plugins/Mods: AppleSkin, FoamFix, FoamFixCore, JMFixer, JourneyMap, RandomPatches, VanillaFix, OKTW Galaxy, PacketGate, SpongePrometheusExporter, VillageMarkerSponge

**Issue Description**

When a player is on a boat,

[2019-02-01 17:19] XakepSDK opened #2180 "BlockSnapshotBuilder world uuid check"
Add check for world uuid here:
https://github.com/SpongePowered/SpongeCommon/blob/stable-7/src/main/java/org/spongepowered/common/block/SpongeBlockSnapshotBuilder.java#L222

SpongeBlockSnapshot checks world uuid, but builder doesn't.

[2019-02-01 17:24] ImMorpheus commented on #2180
SpongeBlockSnapshotBuilder doesn't check the world when building the block snapshot.
https://github.com/SpongePowered/SpongeCommon/blob/2bcf872366579dca175e327adf88a5ea6772e91e/src/main/java/org/spongepowered/common/block/SpongeBlockSnapshotBuilder.java#L91

The correct way should be to add a message to the exception like we did for blockstate.

https://github.com/SpongePowered/SpongeCommon/blob/2

[2019-02-01 18:07] #1367 closed, assigned to JBYoshi

[2019-02-01 22:01] ImMorpheus commented on #2180
Fixed by https://github.com/SpongePowered/SpongeCommon/commit/f0e8373b84bc392841d3f865ad9f2b579b47b019

[2019-02-01 22:01] #2180 closed, assigned to nobody

[2019-02-01 22:58] zand commented on #2156
I don't think https://github.com/SpongePowered/SpongeCommon/commit/0f8df35e74e1e1cce7974220e8c5e1df68acd9fa fixes the problem describe in the video as they state its due to compressed chunks being limited to 1MB in size. They discuss different ways they thought of to trigger the bug starting with "shulker boxes" and only did it with books because it seemed the easiest.

A proper fix would be to ge

[2019-02-02 20:02] ImMorpheus commented on #2118
Cannot reproduce.
`
ChangeBlockEvent.Break.Pre` does not exist.
I'm assuming you mean `ChangeBlockEvent.Break` which is not fired for me when opening a chest.

[2019-02-02 20:12] Lignium commented on #2013
@ImMorpheus

Green: Well, look carefully at the values of this data. There should not be integers. There must be coordinates of an intersection point with a block surface, logically.

[2019-02-03 21:21] codeHusky opened #2182 "EventContextKeys.USED_ITEM is no longer present in ChangeBlockEvent.Place Event Context"
**I am currently running**
- SpongeForge version: 1.12.2-2768-7.1.5-RC3539
- SpongeVanilla version: 1.12.2-7.1.5 (Recommended)
- Java version: 1.8.0_181
- Operating System: Win 10 / Linux

**Issue Description**
EventContextKeys.USED_ITEM is no longer present in ChangeBlockEvent.Place's event context.

`event.getContext().get(EventContextKeys.USED_ITEM).isPresent()` returns false.

[code]

[2019-02-05 09:59] Faithcaio commented on #2118
Maybe it's just `.Pre` ? I remember having a similar issue with opening chests.
Should it even fire any ChangeBlockEvent when opening a chest?

[2019-02-05 10:10] Shmeeb commented on #2118
``
    @Listener
    public void onBreak(ChangeBlockEvent.Break.Pre e, @First Player player) {
``

definitely exists in 7.1.0

[2019-02-05 11:07] dualspiral commented on #2118
So does `ChangeBlockEvent.Break.Decay.Place.Break.Break.Break.Post.Pre`, thanks to how Java handles inheritance and nested interfaces - it's just an alias for `ChangeBlockEvent.Pre` (it becomes `org.spongepowered.api.event.block.ChangeBlockEvent$Pre` in the bytecode).

The interfaces `ChangeBlockEvent.Break.Pre` and `ChangeBlockEvent.Pre` are the same, the former becomes the latter in this case. `

[2019-02-06 18:45] realGWM commented on #2013
I am not sure what was already discussed about InteractItemEvent, but it is not fired at all when I am doing a right click on a block.
Tested on "spongeforge-1.12.2-2768-7.1.6-RC3561.jar" and "spongeforge-1.12.2-2768-7.1.5.jar", works fine with "spongeforge-1.12.2-2768-7.1.5-RC3515.jar"...

[2019-02-06 19:56] phit commented on #2013
@GreWeMa that is intentional when the hand is empty <https://github.com/SpongePowered/SpongeCommon/pull/2125#issuecomment-453771117>

[2019-02-06 21:59] realGWM commented on #2013
@phit I tested it with an item in hand

[2019-02-08 14:48] Shmeeb commented on #2118
I didn't think it was intended for a BlockBreakEvent of any kind to be fired when I open a chest, which is why I filed the issue.

[2019-02-08 17:59] gabizou commented on #2118
It's intended to have the `ChangeBlockEvent.Pre` fire here because of the pending block state change of the chest that will take place within the same tick in the world. There are several block states that exist even for chests, and the fact that you're opening it, changes that state.

This is working as intended.

[2019-02-08 17:59] #2118 closed, assigned to nobody

[2019-02-08 21:32] ImMorpheus commented on #2013
@GreWeMa Open an issue with the steps to reproduce your issue. (minimal code snippet + instructions).

@Lignium Keeping in mind that orange is working as intended, ListenableFutureTask can be ignored, is there anything else which is not working ?

[2019-02-08 22:43] randombyte-developer commented on #23
https://github.com/SpongePowered/SpongeCommon/blob/a9423c7ec9f2b423b52c273f7e7a23818a8f3e41/src/main/java/org/spongepowered/common/data/persistence/NbtTranslator.java#L61

`BOOLEAN_IDENTIFER`

[2019-02-09 15:16] ImMorpheus commented on #2172
Fixed by https://github.com/SpongePowered/SpongeCommon/commit/f408ee509fb434404e29e7cbba3be16a71abb0ab

[2019-02-09 15:16] #2172 closed, assigned to nobody

[2019-02-09 15:43] ImMorpheus commented on #2147
Fixed by https://github.com/SpongePowered/SpongeCommon/commit/532001684fd60a1a3b1babf256d184e5decc6d13

Note: most of those settings are not implemented. It's not a bug.

[2019-02-09 15:43] #2147 closed, assigned to nobody

[2019-02-09 15:59] ImMorpheus commented on #1970
Fixed by https://github.com/SpongePowered/SpongeCommon/commit/fbfebe53258ed9323ef29ecb1c7c975240efc20c

[2019-02-09 15:59] #1970 closed, assigned to nobody

[2019-02-09 16:42] ImMorpheus commented on #1286
PR merged

[2019-02-09 16:42] #1286 closed, assigned to gabizou

[2019-02-09 17:00] realGWM commented on #2013
@ImMorpheus

SF spongeforge-1.12.2-2768-7.1.5-RC3515.jar:
Works as expected, InteractItemEvent is fired whenever I'm doing a right click.

SF spongeforge-1.12.2-2768-7.1.6-RC3561.jar/spongeforge-1.12.2-2768-7.1.5.jar:
InteractItemEvent is fired when I'm doing a right click at air, it is also fired when I'm doing a right click at a block with a "non-placeable" item in hand (stick, arrow, feather et

[2019-02-09 17:05] ImMorpheus opened #2184 "InteractItemEvent not fired"
@ImMorpheus

SF spongeforge-1.12.2-2768-7.1.5-RC3515.jar:
Works as expected, InteractItemEvent is fired whenever I'm doing a right click.

SF spongeforge-1.12.2-2768-7.1.6-RC3561.jar/spongeforge-1.12.2-2768-7.1.5.jar:
InteractItemEvent is fired when I'm doing a right click at air, it is also fired when I'm doing a right click at a block with a "non-placeable" item in hand (stick, arrow, feather et

[2019-02-09 17:26] ImMorpheus commented on #1857
From the wiki: `name must be at most 16 characters. display name must be at most 32 characters. `

Fixed by https://github.com/SpongePowered/SpongeCommon/commit/92c5aad6fbfad1fc20da6fb4516efd321d8257e4

[2019-02-09 17:26] #1857 closed, assigned to Aaron1011

[2019-02-09 17:42] ImMorpheus commented on #1874
Duplicate of https://github.com/SpongePowered/configurate/issues/95

[2019-02-09 17:42] #1874 closed, assigned to nobody

[2019-02-09 17:49] Lignium commented on #2013
@ImMorpheus If everything else is fixed, then everything is fine.

[2019-02-09 18:04] ImMorpheus commented on #2086
I'm not able to reproduce this on SF (stable-7) SC (commit https://github.com/SpongePowered/SpongeCommon/commit/92c5aad6fbfad1fc20da6fb4516efd321d8257e4)

`[Server thread/INFO]: From (15.3 256.0 5.7) to (15.3 0.0 5.7) returned Optional[BlockRayHit{(15.336572534665102, 129.0, 5.699999988079071) in WorldServer{Name=DIM-1, DimensionId=-1, DimensionType=minecraft:nether, DimensionTypeId=-1}}]`

`[Serv

[2019-02-09 18:04] #2086 closed, assigned to nobody

[2019-02-09 19:33] #2027 closed, assigned to nobody

[2019-02-09 20:45] Lignium commented on #2013
@ImMorpheus Has the "green" and "blue" problems been fixed? I cannot find the code that reflects this in your [pull request](https://github.com/SpongePowered/SpongeCommon/pull/2181).

[2019-02-10 09:16] liach opened #2185 "Container minecart lens are constructed without a size check"
**I am currently running**

- SpongeForge version: 1.12.2-2768-7.1.5-RC3542
- SpongeVanilla version: not applicable
- Java version: 1.8.0_191
- Operating System: Windows 10 (amd64) version 10.0

- Plugins/Mods: See the crash report mod list section at https://pastebin.com/5SVgA4Xj

**Issue Description**
When a minecart's lens is constructed, there is no check for the size of the lens. In contrast,

[2019-02-11 23:05] LXGaming opened #2187 "CapturedTransactions tracking issue"
**I am currently running**
- SpongeForge version: 1.12.2-2768-7.1.6-RC3563
- SpongeVanilla version: 1.12.2-7.1.6-RC154
- Java version: 1.8
- Operating System: Linux, Windows

- Plugins/Mods:
  - LuckPerms-Sponge-4.3.94
  - Nucleus-1.8.3-S7.1-MC1.12.2-plugin
  - Custom Plugin listening to `ChangeInventoryEvent.Pickup`

**Issue Description**
CapturedTransactions are not getting tracked/cleared corre

[2019-02-11 23:08] Zidane commented on #2187
@Faithcaio Did you break this again?

[2019-02-12 07:29] Faithcaio commented on #2187
No?

[2019-02-13 22:01] Lignium commented on #2015
This issue may be closed. As you wrote I need to listen to SpawnEntityEvent which as you know is somewhat broken (https://github.com/SpongePowered/SpongeCommon/issues/2144).

[2019-02-13 22:01] #2015 closed, assigned to nobody

[2019-02-14 01:18] gabizou commented on #2144
So, not to dissuade that this issue isn't being worked on, I've started to actively add [test plugins](
https://github.com/SpongePowered/SpongeCommon/commit/679a1abd1154a2ea2f0266fac55e4bcda3882c13)  to target the tests outlined by this issue (validating and verifying the causes and context and position information that will be affecting construct.pre events etc). As soon as I can verify that the

[2019-02-15 01:36] Aaron1011 commented on #2187
@LXGaming Can you re-test on the latest SpongeForge?

[2019-02-15 01:45] LXGaming commented on #2187
Still an issue on 3577

[2019-02-15 02:02] Aaron1011 commented on #2187
@LXGaming: I can't seem to reproduce this. Can you confirm that this happens with no plugins (other than a plugin with just the custom listener you included)?

[2019-02-15 02:56] LXGaming commented on #2187
Confirmed on a completely fresh server.

Here is a YouTube video which demonstrates the issue: https://www.youtube.com/watch?v=134ziWPkSzk

Updated Event Code (To provided some reference to the chat messages)
[code]

[2019-02-16 08:58] #2185 closed, assigned to nobody

[2019-02-16 12:03] LemADEC opened #2190 "World configuration arrays are being reset to 'null'"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-1.12.2-14.23.5.2768-7.1.6-RC3582.jar
- SpongeVanilla version:
- Java version: 1.8.0_191-b12
- Operating System: CentOS 7.6

- Plugins/Mods:
none

**Issue Description**
By default, the world.conf has `block-blacklist=[]` and `world-generation-modifiers=[]`.
After restarting the server, they are `block-blacklist=null` and `world-ge

[2019-02-17 23:18] phit commented on #2190
can't reproduce with spongeforge-1.12.2-2768-7.1.6-RC3586.jar

deleted world, went to `config/sponge/worlds/minecraft/overworld/world.conf`

and set
[code]

after starting the server the overworld is void, stopping and starting server left the config untouched

[2019-02-18 00:06] Dockter opened #2193 "CauseTracker leaking context data"
Working with Bloodshot, found that the CauseTracker is leaking context data in a way where events suddenly start seeing the player as causes for certain things happening naturally.  Using latest code as of 2/17/2019 from SC/SF

[2019-02-18 00:12] #2193 closed, assigned to nobody

[2019-02-18 02:59] Dockter commented on #2184
This could be related and is already fixed.  Can you try latest build?  https://github.com/SpongePowered/SpongeCommon/issues/2193

[2019-02-18 04:59] LXGaming commented on #2187
This issue isn't limited to a lava bucket it works with certain items such as consuming Food/Potions, Throwing Splash Potions/Ender Pearls/Eggs, Firing a bow and even equipping armor by shift right clicking while it's in your hand.

I've tracked the build that introduced this back to `spongeforge-1.12.2-2705-7.1.0-BETA-3293` & `spongevanilla-1.12.2-7.1.0-BETA-80` (Which are 7 months old)

Commits

[2019-02-18 18:24] phit commented on #1978
this just happened to me with a completely empty tracker file.. i just enabled auto populate and ran `sponge reload -t` in a decent size modpack

[2019-02-18 20:12] lucko commented on #1978
Uhm, yeah reloading async would probably solve it, but also, a 1MB config file seems a bit much. Perhaps the format of that could be improved?

[2019-02-18 20:17] phit commented on #1978
well in my case the tracker.conf was actually empty and stock, i enabled auto-populate by editing the file and then ran the reload
i think it then tried to auto-populate everything it knew about in one go which stalled the server until the watchdog killed it

not sure how the format could be improved, here's an example https://gist.github.com/phit/00da80dc0634ded42b21bd7d0e6a0480

there's just a l

[2019-02-20 07:28] SawFowl opened #2194 "Player Inventory isViewingInventory() always true"
**I am currently running**
- SpongeForge version: 1.12.2-2768-7.1.6-RC3592
- SpongeVanilla version: 1.12.2-7.1.6-RC155
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_201-b09)
- Operating System: Windows 10 and Debian 9.6

- Plugins: MyTest
- Mods: None

**Issue Description**
Since the developers of mods often make the same mistake in work with the containers that open when using the

[2019-02-20 07:47] Cybermaxke commented on #2194
This is a limitation of the client. The client doesn't send a packet when the player inventory gets opened, so the server assumes it's always open.

[2019-02-20 07:49] SawFowl commented on #2194
So, I need to check the name of the open inventory?

[2019-02-20 07:51] Cybermaxke commented on #2194
Do you just want to know if a non player inventory is open?

[2019-02-20 07:55] SawFowl commented on #2194
I check if the player’s inventory is open, as well as the discarded object and whether there is an object with the same id in his main hand or if there is air there.
If these conditions are met, then I close the player's inventory.

[2019-02-20 07:56] SawFowl commented on #2194
It seems I have found a way to get around this restriction.

[code]

[2019-02-20 22:26] Lignium commented on #2013
So I tested it again... This time I made two tests, with an item stack in my hand and without.

- **Red** - Missing data about the player. Owner and notifier cannot be used as a source of this data.
- **Violet** - Invalid data.
- **Blue** - Last time I wrote about it, but you did not fix it. Please look carefully at these values ​​and see what is wrong here.
- **Orange** - How did it turn out?!

W

[2019-02-22 17:10] #1607 closed, assigned to nobody

[2019-02-22 22:23] realGWM commented on #2184
Hello!
I tried spongeforge-1.12.2-2768-7.1.6-RC3596 and still, InteractItemEvent is not fired when placing a block (by "placing a block" I mean doing a right click on a block with a "placeable" item in hand).

[2019-02-23 06:01] Dockter opened #2196 "Inventory Stack trace - phase tracker issue?"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2768-7.1.6-RC3594
- Forge:  1.12.2 - build 2814

Not sure what is causing this, randomly seeing this on server console:  https://gist.github.com/Dockter/ef048e321aa3ebc9416754d49a9049ee

Post this regardless of that fact by the request of @Zidane

[2019-02-23 06:01] Dockter commented on #2196
Tagging @Faithcaio

[2019-02-23 11:01] Faithcaio commented on #2196
Looks like `Container#slotClick` `this.inventorySlots.get(slotId)`.
No Mods?
Looks like the slotId is just wrong and there are no range checks before.

[2019-02-23 19:07] bloodmc opened #2198 "updateHealthPriorToArmor causing performance issues on large servers"
I've received numerous spark results from servers showing `updateHealthPriorToArmor` using 4-5% usage as its called every tick for each player.

Here are a few samples

https://sparkprofiler.github.io/?l09ftzunWm
https://sparkprofiler.github.io/?bNEgGLGEya

net.minecraft.entity.player.EntityPlayerMP.handler$updateHealthPriorToArmor$zhb000()4.05%
net.minecraft.entity.player.EntityPlayerMP.handler$u

[2019-02-23 20:56] limbo-app opened #2199 "Asynchronous tasks with interval don't wait for the previous occurrence of the task to terminate"
This issue was originally submitted by @KaiKikuchi in [SpongePowered/SpongeForge#1261](https://github.com/SpongePowered/SpongeForge/issues/1261).
___
From [Sponge JavaDoc Task.Builder class, interval method](https://jd.spongepowered.org/5.0.0/org/spongepowered/api/scheduler/Task.Builder.html#interval-long-java.util.concurrent.TimeUnit-):

I'm not sure if I misunderstood. This should avoid that a s

[2019-02-23 23:29] Dockter commented on #2196
I have quite a few (26) mods but the stack trace didn't point to anything.  Need additional information?

[2019-02-24 04:55] Dockter commented on #2196
Seems the bug may be triggered from the backpacks mod.  They haven't updated in a while and our inventory stuff changed so I have a feeling that its our changes causing this issue.

[2019-02-24 15:13] LemADEC commented on #2190
spongeforge-1.12.2-2768-7.1.6-RC3584.jar works with your syntax. I guess the line break is mandatory in that configuration file or something was fixed for in 3583 / 3584 ?

[2019-02-24 21:33] phit commented on #2190
didnt see any commits to anything touching it, so yeah i assume you need the line breaks

[2019-02-24 21:33] #2190 closed, assigned to nobody

[2019-02-26 17:32] NeumimTo opened #2200 "Unable to change speed or direction of falling block"
- SpongeForge version: spongeforge-1.12.2-2768-7.1.5-RC3542
- Java version: Java 8
- Operating System: Win 10

Im trying to make FallingBlock entity to fly slowly upwards. it appears no matter what velocity i set it never goes up. in fact this code creates a entity which is destroyed in the next tick.

     iterator = BlockRay.from(entity.getLocation().getExtent(), position)
                .narro

[2019-02-28 01:36] phit opened #2201 "Water tracking freezes server"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2768-7.1.6-RC3588
- SpongeVanilla version: n/a

- Plugins/Mods: none

**Issue Description**

crash with lots of water taking too long to process
https://gist.github.com/Krominicon/72b5c48728142d043eea892a1105b622

previous related issue https://github.com/SpongePowered/SpongeCommon/issues/1871

I'll add a test chunk for this once

[2019-02-28 04:06] liach commented on #2201
@phit Any warmroast report, etc.? That might help identifying the cause.

I have a similar fluid report from users about modded fluid at https://sparkprofiler.github.io/?XVBT2D74Sb , don't know if they are related.

[2019-02-28 04:13] phit commented on #2201
ill profile once i have the chunk to repro it, didn't have time yet to grab it from my server
the above stall report isn't from me even, just someone with the same issue was in discord

[2019-03-01 03:45] runescapejon opened #2202 "MoveEntityEvent using old Player momentarily during respawn"
**I am currently running**

- SpongeForge version:  1.12.2-2768-7.1.5-RC3512
- SpongeVanilla version:  n/a
- Java version:  8
- Operating System: windows and ubuntu

- Plugins/Mods:
BorderProtector

**Issue Description**
So, let me get start it by this I use Nucleus in a way to obtain if your outside the world border on here for *testing purposes only* https://github.com/NucleusPowered/Nucleus/blo

[2019-03-01 21:44] #2036 closed, assigned to nobody

[2019-03-02 01:19] phit commented on #2201
test world https://phit.link/s/dawdadwadawd.zip
just go to -146, 62, -147

[2019-03-02 11:00] ImMorpheus commented on #2182
I'm not able to reproduce this on stable-7 updated to https://github.com/SpongePowered/SpongeCommon/commit/7de73b25245c0f7d8a5e24091095ab758874ebc0

This was probably fixed with other issues when working on EventContextKeys

[2019-03-02 11:00] #2182 closed, assigned to nobody

[2019-03-02 15:56] Lignium commented on #2013
@bloodmc As I understand you already fixed the red problem? https://github.com/SpongePowered/SpongeCommon/commit/7de73b25245c0f7d8a5e24091095ab758874ebc0

[2019-03-03 07:55] james58899 opened #2205 "Inventory close event not receive"
**I am currently running**

- SpongeForge version: 1.12.2-2768-7.1.6-RC3604
- SpongeVanilla version: N/A
- Java version: OpenJDK 1.8.0_202-b26
- Operating System: Arch Linux

- Plugins/Mods:
[code]

**Issue Description**
Use `Inventory.builder()` register event listener cannot receive close event

Can receive event use `@Listener` on plugin main class

Can receive event on SF 1.12.2-2768-7.1.6-RC3

[2019-03-03 14:46] XakepSDK commented on #2205
Show your code and listener

[2019-03-03 15:06] james58899 commented on #2205
builder https://github.com/OKTW-Network/Galaxy/blob/ac8800b9555fd379bedfe864ed568154c395f094/src/main/kotlin/one/oktw/galaxy/gui/Confirm.kt#L46

listener https://github.com/OKTW-Network/Galaxy/blob/ac8800b9555fd379bedfe864ed568154c395f094/src/main/kotlin/one/oktw/galaxy/gui/GUI.kt#L53

it can receive other event but close not received

[2019-03-03 15:07] james58899 commented on #2205
oops click wrong button

[2019-03-03 15:10] XakepSDK commented on #2205
@Aaron1011 looks like event fired after inventory closed, so your change removes listener before event fired, but i'm not sure.

[2019-03-03 20:08] GlassSpirit opened #2206 "Server.copyWorld() gives same dimensionIDs if world copied multiple times"
**I am currently running**

- SpongeForge version: 1.12.2-2768-7.1.5
- Java version: 1.8
- Operating System: Windows 7

**Issue Description**
`Sponge.getServer().copyWorld()` gives same dimensionIDs for copied worlds if that world is copied multiple times.
For example if I copy default world with `dimensionId = 0`, first copied world would have `dimensionId = 2` because of nether and end. But if I

[2019-03-03 23:44] randombyte-developer opened #2208 "Inventory close event never fired"
SpongeForge version: `spongeforge-1.12.2-2768-7.1.6-RC3616`

Probably introduced in https://github.com/SpongePowered/SpongeCommon/commit/c5234c33e88a67b3b4d183e93a7cfd898b942bc4

Maybe a duplicate of #2205. I've got a minimal working example: https://github.com/randombyte-developer/sponge-inv-listener-bug
Plugin class (for saving just a few clicks): https://github.com/randombyte-developer/sponge-i

[2019-03-03 23:51] randombyte-developer commented on #2200
I once did a thing where a falling block floated in the air. I did this by adding the falling block to a marker armor stand as a passenger: https://github.com/randombyte-developer/free-blocks/blob/master/src/main/kotlin/de/randombyte/freeblocks/FreeBlock.kt#L83
Then disabling the gravity of the armorstand and giving it a velocity might work.

[2019-03-06 13:46] ginyai commented on #2184
#2125 That pull request's SpongeForge and SpongeVanilla parts remove the call of `InteractItemEvent.Secondary` on handling right click block at MixinPlayerInteractionManager

Listener code:
[code]
Output when place a block
In spongevanilla-1.12.2-7.1.5-RC148
and spongeforge-1.12.2-2768-7.1.5-RC3526
[code]
In spongevanilla-1.12.2-7.1.5-RC151 & RC156
and spongeforge-1.12.2-2768-7.1.5-RC3539 & 7.1.6-

[2019-03-06 16:57] Zidane opened #2209 "Modify incorrectly firing for trees generated via bonemeal"
Right now when a tree is generated by a Player with bonemeal, the PhaseTracker is incorrectly firing a Modify when it shouldn't.

Chain of events:

- Break (Sapling is broken)
- Modify (Transactions seem to only have the leaf states and not the log states)
- Place (Transactions include both leaf and log states)

[2019-03-06 16:59] Zidane opened #2210 "Missing snapshot in cause during tree generation"
When a Place event is being fired due to a Player generating a tree via bonemeal, the cause is missing the BlockSnapshot of the sapling that was broken. The cause does contain the used_item context of the dye at least.

[2019-03-07 00:46] gabizou commented on #2209
Current chain of events:
- Place (Transaction includes sapling being replaced with log and intermediary changes such as sapling to air, then air to log).
- Post (containing place)

Debugging screenshot:
![sapling transaction](https://i.imgur.com/bK9af42.png)

Intermediary transactions:
![intermediary](https://i.imgur.com/8V7he4F.png)

Should be fixed now (since Break was a side effect of the sapli

[2019-03-07 00:46] #2209 closed, assigned to nobody

[2019-03-08 05:30] Zidane commented on #2210
Resolved in latest stable-7.

[2019-03-08 05:30] #2210 closed, assigned to nobody

[2019-03-08 19:05] Zidane commented on #2206
Closed in PR that was merged.

[2019-03-08 19:05] #2206 closed, assigned to nobody

[2019-03-09 04:36] Aaron1011 commented on #2205
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/9f886382ffc1aa5739d5946f6ea46bedefc51519

[2019-03-09 04:36] #2205 closed, assigned to nobody

[2019-03-09 04:36] Aaron1011 commented on #2208
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/9f886382ffc1aa5739d5946f6ea46bedefc51519

[2019-03-09 04:36] #2208 closed, assigned to nobody

[2019-03-09 13:13] ImMorpheus commented on #2158
Tested with SV (https://github.com/SpongePowered/SpongeVanilla/commit/d26e6a06309f601510f871236e176a48ab0a8be8) and SF (https://github.com/SpongePowered/SpongeForge/commit/1c1d1328c13a02960ccca626fa4713f6ce43c8e0)

(SC updated to https://github.com/SpongePowered/SpongeCommon/commit/4063674e2d3f0c2c71cbf37ac7db505ba4eeeb17)

Using the test code above:
[code]

Not able to reproduce

Not able to repr

[2019-03-09 13:13] #2158 closed, assigned to nobody

[2019-03-09 13:20] ImMorpheus opened #2212 "Rails dupe with water bucket"
**I am currently running**

Tested with SV (https://github.com/SpongePowered/SpongeVanilla/commit/d26e6a06309f601510f871236e176a48ab0a8be8) and SF (https://github.com/SpongePowered/SpongeForge/commit/1c1d1328c13a02960ccca626fa4713f6ce43c8e0)
(SC updated to https://github.com/SpongePowered/SpongeCommon/commit/4063674e2d3f0c2c71cbf37ac7db505ba4eeeb17)

- Plugins/Mods: none

**Issue Description**

[c

[2019-03-09 20:03] ImMorpheus commented on #2114
Not able to reproduce with SF (updated to https://github.com/SpongePowered/SpongeForge/commit/1c1d1328c13a02960ccca626fa4713f6ce43c8e0) and SC (updated to https://github.com/SpongePowered/SpongeCommon/commit/4063674e2d3f0c2c71cbf37ac7db505ba4eeeb17)

Probably fixed by https://github.com/SpongePowered/SpongeCommon/commit/810f79f0e98d8ac90fd2c8a134c9c804766f7583

[2019-03-09 20:03] #2114 closed, assigned to nobody

[2019-03-10 00:58] KhaozFrost commented on #2208
ProDrifter7Today at 7:47 PM
-new Furnaces are broken. When you go to smelt your items it takes you out the furnace with your items and then locks it self and you can't re open it, also when you mine the furnace and replace it, it still locked.

[2019-03-10 01:38] Aaron1011 commented on #2208
@KhaozFrost See https://github.com/SpongePowered/SpongeForge/issues/2639

[2019-03-11 01:36] zand commented on #2156
A video popped up of players abusing this bug without books https://youtu.be/-xDODejcM6c

[2019-03-11 02:16] Aaron1011 commented on #2156
@zand: A full fix can be found in the latest Forge build.

[2019-03-12 02:25] XakepSDK opened #2214 "AOT Mixing"
Most of server admins won't update sponge very often.
It would be cool to have AOT Mixing feature, when starting sponge generates transformed image of minecraft with all changes.

I'm not sure where to create this issue, here or in Mixin repo.

[2019-03-12 14:56] DemonWav commented on #2214
I don't see the benefit of this, startup times for Mixins are relatively small, and runtime costs are basically nonexistent. Mixin can already dump generated classes for debugging but creating a modified jar doesn't seem useful or worth the complexity.

And yes this would be better suited on the Mixin repo.

[2019-03-12 17:09] XakepSDK opened #2216 "NPE inside TextComponentString"
**I am currently running**

- SpongeForge version: 1.12.2-2768-7.1.6-RC3624
- Forge version: 1.12.2-14.23.5.2815

Exception: https://gist.github.com/XakepSDK/7aa9dd628e7621ff0f50377148fbb0bc
Line with problem: https://github.com/NipoCN/TabModifier/blob/master/src/me/nipo/tabmodifier/commands/CommandRefresh.java#L95

Mods and plugins list: https://gist.github.com/XakepSDK/5a00a56f6c944f02fa0bbce024

[2019-03-14 07:58] gabizou opened #2218 "0-Tick Piston flip flops don't work"
More about keeping track of the issue. Originally partially resolved with #2163, but only in the initial processing of those block changes. Unfortunately, nested neighboring block changes that process such immediate changes (or block updates? I'm not sure yet), will end up having the same issue where the retracting Piston tile entity will get removed after the piston tile entity was intended to be

[2019-03-16 17:52] ImMorpheus commented on #2216
Nothing to do with Sponge.

Report to TabModifier.

[2019-03-16 17:52] #2216 closed, assigned to nobody

[2019-03-17 02:24] XakepSDK commented on #2216
Isn't sponge work to catch all nulls before they go deeply in implementation?
It fails in `ITextComponent#createCopy`, somehow `Text` got `null` inside.

[2019-03-17 05:14] Aaron1011 opened #2221 "SpawnTypes.SPAWN_EGG is never set"
[PlaceBlockPacketState](https://github.com/SpongePowered/SpongeCommon/blob/f4d3c6fe6d5020f4c3aaaa8e31a311ebaa6ecdf9/src/main/java/org/spongepowered/common/event/tracking/phase/packet/player/PlaceBlockPacketState.java#L122) sets `SpawnTypes.SPAWN_EGG` for any captured entity spawns. However, entities aren't actually captured during that phase, which means that any entities spawned via spawn eggs ha

[2019-03-17 10:24] pie-flavor opened #2222 "Array out of bounds on DataView manipulation"
On SV 1.12.2-7.1.6-RC156, `DataView#set(DataQuery.of(), "test")` triggers an `ArrayIndexOutOfBoundsException`.

[2019-03-17 12:07] ImMorpheus commented on #2222
Fixed by https://github.com/SpongePowered/SpongeCommon/commit/7af4bde2a110f7dcdcb5917a7a3275ede7baad3b

[2019-03-17 12:07] #2222 closed, assigned to nobody

[2019-03-19 23:15] BrainStone opened #3086 "MemoryDataView with array doesn't equal equivalent MemoryDataView"
When you have a `MemoryDataView` that contains an array and call `#equals` on with another `MemoryDataView` that contains an equivalent or even the same array, `#equals` will return false regardless.

Example:

[code]

[2019-03-20 02:54] WillBAnders commented on #3086
This should be as simple as updating the equals comparison for the map to support arrays as `AbstractMap#equals`  does not do this. I'm happy to make a PR for that.

First though I'd like to confirm that array values are in fact supported. I remember there being issues with Nucleus kits due to this, and Configurate doesn't really handle this either to my knowledge. If arrays are not allowed, then

[2019-03-20 06:16] realGWM commented on #2184
So, what's about the issue?
I'm getting complains that my plugin isn't working as expected with newer Sponge versions, while it works fine (excluding other bugs of course..) with, for example, RC3515.

[2019-03-22 00:16] Lignium commented on #2013
Only now I noticed that `InteractBlockEvent.Primary.MainHand` has `block_hit` context that is not equal to `BlockSnapshot.NONE` when a player left clicks to air.

Already 8 months have passed, but bugs with these two events are still not fixed. I can’t make a properly working wand to highlight regions (similar to WorldEdit), but with 2 additional functions when air clicks. I am already losing hope

[2019-03-22 05:23] egshels opened #2224 "Exception caught during firing event net.minecraftforge.fml.common.network.FMLNetworkEvent$CustomPacketRegistrationEvent"
**I am currently running**

- SpongeForge version:  Latest

<details>
  <summary>- Plugins/Mods:</summary>

**Mods (197)**: Forge Mod Loader, Minecraft Forge, SpongeAPI, Sponge, AE2 Stuff, AI Improvements, Actually Additions, AgriCraft, Applied Energistics 2, Aroma1997Core, Attribute Fix, Auto Ore Dictionary Converter, B.A.S.E, BD Lib, Baubles, Bed Patch, Better Builder's Wands, BetterBedrockGen,

[2019-03-22 10:19] phit commented on #2224
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/2617

[2019-03-22 10:19] #2224 closed, assigned to nobody

[2019-03-22 20:46] egshels commented on #2224
Fix for that one did not work for me

[2019-03-22 21:30] gabizou commented on #2224
This is the root of the problem:
[code]

You'll need to disable the vehicles sync patch in the exploits section.
specifically
[code]

[2019-03-22 21:49] ImMorpheus commented on #2013
From `BLOCK_HIT` javadoc:

https://github.com/SpongePowered/SpongeAPI/blob/b2736425ce386018267484f3fed65c9950e5d984/src/main/java/org/spongepowered/api/event/cause/EventContextKeys.java#L78

InteractItemEvent is NOT fired because you've interacted with a block.
If anything, the bug is that `EventContextKeys.BLOCK_HIT` shouldn't be present

[2019-03-22 22:22] ImMorpheus commented on #2184
@ginyai Short answer: no
Those mixins were moved to SpongeCommon, they are still applied to SF and SV.

---
@GreWeMa

Also from the PR:

There's no `CPacketPlayerTryUseItem` when `doing a right click at a block with a "placeable" item in hand`. You're placing a block. You should be listening to `ChangeBlockEvent.Place`.

[2019-03-22 23:08] Lignium commented on #2013
Yes indeed, everything is correct.

Do you mean that you need to remove `EventContextKeys.BLOCK_HIT` from events that involve click to air? If yes, then I agree, it will be logical.

The fact is that **_left click to air_** and **_right click to block_** lead to firing of parasitic events, such as `InteractBlockEvent` and `InteractItemEvent`, for them accordingly. If you cannot remove them for any

[2019-03-22 23:53] BrainStone opened #2225 "Make ItemStack#setRawData replace the compound without changing the item type or count"
@gabizou wanted me to open this issue, so here I am. Not 100% sure on the details but I think the title should be selfexplanatory (enough for him).

[2019-03-23 04:35] Vortex67 commented on #2224
Well that worked this time, thank you so much <3

[2019-03-23 05:19] realGWM commented on #2184
Ok

[2019-03-23 10:36] #2184 closed, assigned to ImMorpheus

[2019-03-23 13:16] ImMorpheus commented on #2013
It means I'm thinking of removing `EventContextKeys.BLOCK_HIT` from all `InteractItemEvent`s

That's correct. You're using the wrong event.
`InteractItemEvent` is linked to `CPacketPlayerTryUseItem`, it doesn't hold the information of whether you've hit a block or not, thus they are indistinguishable.

[2019-03-24 06:32] Lignium commented on #2013
@ImMorpheus What about interaction points of `InteractItemEvent`s? It is also not presented in the packet? If so, how can explain the existence of an appropriate API access method.

[2019-03-27 20:31] gabizou commented on #2212
Can you re-test with the following jar?

https://www.mediafire.com/file/9o40kii7x9drz1z/spongeforge-1.12.2-2768-7.1.6-RC0.jar

[2019-03-27 23:48] gabizou commented on #2212
Confirmed fixed in branch being merged in with #2219.

[2019-03-28 03:43] egshels opened #2226 "Chunk loading crash on startup with OTG + Biome Bundle"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2768-7.1.6-RC3628

<details>
  <summary>- Plugins/Mods:</summary>

**Mods (197)**: Forge Mod Loader, Minecraft Forge, SpongeAPI, Sponge, AE2 Stuff, AI Improvements, Architect, Actually Additions, AgriCraft, Applied Energistics 2, Aroma1997Core, Attribute Fix, Auto Ore Dictionary Converter, B.A.S.E, BD Lib, Botanic Bonsai, Baubles

[2019-03-28 06:21] #2218 closed, assigned to nobody

[2019-03-28 06:21] #2212 closed, assigned to nobody

[2019-03-28 10:39] phit commented on #2226
~move to sf

[2019-03-28 10:39] limbo-app commented on #2226
Hey @Vortex67! I've moved your issue to [SpongePowered/SpongeForge#2660](https://github.com/SpongePowered/SpongeForge/issues/2660).

[2019-03-28 10:39] #2226 closed, assigned to nobody

[2019-03-28 22:25] gabizou commented on #2201
Added extra handling and speed for performance with this. Also, can disable block captures (config for dynamic liquids I think is just disable block events for "Minecraft:flowing_water") + listen for ChangeBlockEvent.Pre to cancel liquids entirely.

[2019-03-28 22:25] #2201 closed, assigned to nobody

[2019-03-28 22:40] #2225 closed, assigned to nobody

[2019-03-29 22:30] TheSpicePhantom opened #2227 "Project Red & CC: Tweaked issues with updating"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2768-7.1.6-RC3629.jar
- SpongeVanilla version: -
- Java version: 1.8.0_201-b09
- Operating System: Linux - Ubuntu 16.04/16.02 (not sure) LTS

- Plugins/Mods:

 Advanced Machines
 Advanced Solar Panels
 AE2 Stuff
 AppleSkin
 Applied Energistics 2
 Aroma1997's Dimensional World
 Aroma1997Core
 asielib
 AutoRegLib
 Baubles
 BD Lib

[2019-03-29 23:57] LXGaming opened #2228 "Neighbor block updates broken"
**I am currently running**
- SpongeForge version: 1.12.2-2768-7.1.6-RC3634
- SpongeVanilla version: 1.12.2-7.1.6-RC157
- Java version: 1.8
- Operating System: Linux

- Plugins/Mods:
LuckPerms-Sponge-4.3.109

**Issue Description**
Neighboring blocks don't receive updates

Place something like redstone, torches or grow crops then break the block it's connected to.

Possibly related to https://github

[2019-03-30 19:02] ImMorpheus commented on #2013
`What about interaction points of InteractItemEvents? It is also not presented in the packet? If so, how can explain the existence of an appropriate API access method.`

It's not, but we raytrace to provide the interaction point.
I will fix this.

[2019-03-30 20:05] Lignium commented on #2013
@ImMorpheus So you propose to artificially calculate the point of intersection with a block? To do this, you need to know the standard distance from the game at which player can "reach" blocks, in order to determine when the interaction point should be specified, and when not. However, in this case, it is possible at the same time to provide information about the block, why not?

[2019-03-31 06:20] LXGaming commented on #2228
In a production environment IMixinBlock::hasNeighborChangedLogic returns false for blocks that do in fact have logic

https://github.com/SpongePowered/SpongeCommon/blob/85fafa0853b58e55d9ca214e1a17a671cd8b92ec/src/main/java/org/spongepowered/common/event/tracking/PhaseTracker.java#L662

This issue is not present when running in an IDE / Development environment

[2019-03-31 14:50] NeumimTo opened #2230 "Not possible to get custom damage type from EntityDamageSource"
- SpongeForge version: spongeforge-1.12.2-2768-7.1.5 + forge-1.12.2-14.23.5.2811
- SpongeVanilla version: 1.12.2-7.1.6-RC157 Stable
- Java version: 1.8_201

Code to reproduce:

1) Define custom damage type
[code]

2) Register it

[code]

3)
[code]

4) Listen to DamageEntityEvent

[code]

Now something weird happens.

 - The condition is always false.
 - `damageSource.toString()` returns `EntityDam

[2019-03-31 22:21] #2230 closed, assigned to nobody

[2019-03-31 22:24] gabizou commented on #2228
Retry with RC3636.

[2019-04-01 00:16] LXGaming commented on #2228
Tested 3636 with LuckPerms, Nucleus and with and without GriefPrevention and it worked fine

However when testing with no plugins installed blocks such as sand and gravel simply disappear instead of falling and fluids don't drain.

[2019-04-01 01:11] gabizou commented on #2228
Yep, working on fixing the should fire flags. Issue with development was that shouldFire was always true, so this went unnoticed...

[2019-04-01 02:36] #2228 closed, assigned to nobody

[2019-04-04 01:28] Shiunin commented on #2094
If it helps at all I am also experiencing this issue and can provide steps to reproduce if needed. I'm on this version:
![image](https://user-images.githubusercontent.com/44011334/55523472-4d847c00-563e-11e9-94a1-2b0cb5d8af7b.png)

[2019-04-05 19:56] gabizou commented on #3086
They very well are, if the `SafetyMode` is set to `NO_DATA_CLONED` since there's cases where things like `Schematic`s need to create massive `byte[]`s and cloning those is just expensive.

This should be handled in the translator, though the implementation of DataView needs to be improved to support flagging arrays to Configurate and back (much like flagging boolean values to nbt etc.)

[2019-04-06 15:21] pie-flavor opened #2232 "Changes in `UserStorageService` not tracked"
In order to resolve SpongePowered/SpongeAPI#1989 satisfactorily, the classes which hold onto `UserStorageService` instance variables will need to update them on service provider change.

[2019-04-06 19:06] Defman commented on #2232
[code]
Are all the classes which contains a field reference to `UserStorageService`.

[2019-04-07 04:19] selkiess commented on #2227
I can confirm this is an issue with the latest spongeforge build as well.

Besides the timer from ProjectRed not outputting I have also witnessed redstone output breaking for many of its redstone gates and redstone wire not updating.

An easily repeatable way to reproduce the weird behavior is to hook up:

Timer -> minecraft repeater -> NOT gate -> anything switching by redstone

The initial cycle

[2019-04-08 05:01] LordRalex opened #2233 "UserStorageService and UserDiscoverer should return streams"
The current implementations of the UserStorageService (USS) and UserDiscoverer (UD) return Collections when you reference getAll methods. This means that a call to those methods would result in a very large bottleneck if you only need to process X amount of records.

The match service is an example of where this behavior fails. In order to match, it looks at all profiles which match the criteria g

[2019-04-08 07:45] dualspiral commented on #2233
Note that I'm trying to tackle this performance issue in https://github.com/SpongePowered/SpongeCommon/pull/2124. It's difficult to test with a single player on a server (which is why I haven't done much with it)! Any tests/feedback would be helpful on that! I also haven't worked out the best way to create the cache in that case.

I agree that this would be good to do, it will help in many scenari

[2019-04-08 13:41] LordRalex commented on #2233
I'm thinking that it's probably wise for those arguments to possibly include their own limit as well, since I don't think it makes sense for it to include all that could match.

I still think that from an interface level, it probably should be a stream, and implementations can decide how it's best handled. Since there's work to get the UserStorage more overrideable, I think it'd be wise to still m

[2019-04-08 15:04] dualspiral commented on #2233
I think I can do it as a plugin (with Mixins) at first, with a bit of a luck I'll have that ready soon so people can try just adding a plugin with whatever build they have - less cumbersome than trying the build itself.

As for streams, we could default implement stream versions in the interface, deprecate the currently used versions, and override the default implementations in SC. Once I've gotte

[2019-04-09 10:57] dualspiral commented on #2233
For reference: https://github.com/SpongePowered/SpongeCommon/pull/2124#issuecomment-481203998

Once that is sorted, we can get this API in.

[2019-04-12 17:35] #2227 closed, assigned to nobody

[2019-04-12 17:53] gabizou commented on #2187
I'm not seeing the unexpected output in latest. Can you re-test?

[2019-04-13 11:01] LXGaming commented on #2187
I can still reproduce this on SpongeForge 3643 and in a Dev environment.

I believe this might be the cause:
https://github.com/SpongePowered/SpongeCommon/blob/7c673c7ea102562a5ba098f82f0114779eea901b/src/main/java/org/spongepowered/common/command/SpongeCommandManager.java#L332

`setCapture` is suppose to get set back to `false` here:
https://github.com/SpongePowered/SpongeCommon/blob/7c673c7ea102

[2019-04-13 11:18] LXGaming commented on #2187
https://github.com/SpongePowered/SpongeCommon/blob/7c673c7ea102562a5ba098f82f0114779eea901b/src/main/java/org/spongepowered/common/event/tracking/PhaseTracker.java#L319-L321

Because the `CommandPhaseContext` didn't capture anything unwind doesn't get called meaning `captureTransactions` doesn't get set back to `false`

[2019-04-13 16:55] #2187 closed, assigned to nobody

[2019-04-14 12:14] ObjecT767 opened #2235 "[Sponge]: Could not pass ChangeBlockEvent$Pre$Impl to Plugin{id=griefprevention..."
**I am currently running**
- SpongeForge version: 1.12.2-2768-7.1.5
- Java version: Version 8 Update 201
- Operating System: Win 10
- Plugins/Mods:
LuckPerms-Sponge-4.4.4,
griefprevention-1.12.2-4.3.0.689,

Error accure when server preparing start region.

https://pastebin.com/WMbTJf6p

[2019-04-14 13:02] #2235 closed, assigned to nobody

[2019-04-16 18:10] NeusFear opened #2236 "Issue with Slab ItemType"
**I am currently running**
- SpongeVanilla version: 1.12.2-7.1.6-RC156
- Java version: 1.8
- Operating System: Ubuntu 16.04
- Plugins/Mods: Just my plugin no mods

**Issue Description**
When using ``ItemTypes.STONE_SLAB.getTemplate().with(Keys.SLAB_TYPE, SlabTypes.QUARTZ).get().createStack()``
I get the error: https://i.gyazo.com/b43c46f004383acd864cf19f8a993c71.png
Link to issued code: https://gi

[2019-04-16 19:02] therealmikz opened #2237 "Sandstone is not generated naturally"
**I am currently running**

- SpongeForge version: 1.12.2-2768
- SpongeVanilla version: 1.12.2-7.1.5
- Java version: 8
- Operating System: Linux (dockered debian 8 and fedora 28)

- Plugins/Mods: none

**Issue Description**

On desert biomes (I didn't check beaches) sandstone is not generated naturally. I've tried Sponge versions mentioned above and vanilla Minecraft 1.12.2. On vanilla Minecraft s

[2019-04-19 14:07] trentech opened #2240 "Created worlds ignoring set parameters"
**I am currently running**
- SpongeForge version:
- SpongeVanilla version: spongevanilla-1.12.2-7.1.6-RC156
- Java version: 1.8.0_211
- Operating System: Windows 1

When creating a world certain parameters appear to be ignored however properties do display as set. For example setting a specified seed to a world, when running /seed, the correct seed is displayed however the world is generated compl

[2019-04-19 14:11] dualspiral commented on #2240
That specific thing should have been fixed by https://github.com/SpongePowered/SpongeCommon/pull/2234.

Can you update to SV 160 and recheck? 156 is over a month an a half old.

[2019-04-19 14:14] trentech commented on #2240
ah, Last I check 157 was the latest but contained a game breaking bug. Will update and re-run tests. Thanks

[2019-04-19 14:35] trentech commented on #2240
Confirmed, this is a non issue on SV 160. Thanks

[2019-04-19 14:35] #2240 closed, assigned to nobody

[2019-04-19 18:31] Zidane opened #2241 "Creator change for natural/bonemeal grown trees"
I've talked with gabizou at length on this.

Need to change the tracker so that the following is true:

- Tree grew from a placed sapling via a Player on it's own? Player owns the tree
- Player used bonemeal to grow a tree? Player own's it. Is that Player different than who placed it? Doesn't matter, Player that used the bonemeal still owns it.

For the latter, inspecting the Transaction list show

[2019-04-19 19:12] Zidane opened #2242 "Canceling ChangeBlockEvent.Place Stack Issues"
@ImMorpheus

When canceling ChangeBlockEvent.Place and you used a carrot (basically planting the carrot), it does stop the carrot from being placed but eats one of the carrot's stack in the inventory.

[2019-04-19 19:58] limbo-app opened #2243 "MoveEntityEvent not called for non Player entities when a Block(Piston,ShulkerBox ect.) moves them"
This issue was originally submitted by @BoskoVojinovic in [SpongePowered/SpongeForge#2642](https://github.com/SpongePowered/SpongeForge/issues/2642).
___
**I am currently running**

- SpongeForge version: 1.12.2 latest
- Forge version: 2768
- Java version: 1.8-200
- Operating System: Win10

**Setup to reproduce:**

[code]

**Description:**
Player's movement is detected, as is any other entity's vo

[2019-04-19 19:59] gabizou commented on #2243
@BoskoVojinovic The root of the issue is that we do not have the ability to sanely check all entities for movement during various events. It is possible to flag entities as being "retrieved" during collision box detection, so that we can validate they have moved. Thoughts @Zidane ?

[2019-04-19 23:47] Zidane opened #2244 "Server hanging on setting Transactions to invalid"
Testing this on a dead latest SpongeVanilla.

With the following plugin listener:

[code]

Go in-game, with an empty hand and break a stone block. The server will proceed to hang indefinitely.

[2019-04-19 23:53] Zidane commented on #2194
Checking the title is indeed one approach. Unfortunately this is a nasty attribute of how Inventories work in Minecraft.

[2019-04-19 23:53] #2194 closed, assigned to nobody

[2019-04-20 01:24] #2244 closed, assigned to gabizou

[2019-04-20 03:51] NeusFear commented on #2236
This fixed issues with the slabs on the STONE_SLAB enum, but not the (one) on the STONE_SLAB2 enum, ie.
``ItemTypes.STONE_SLAB2.getTemplate().with(Keys.SLAB_TYPE, SlabTypes.RED_SAND).get().createStack()``

[2019-04-20 03:57] NeusFear commented on #2236
might it have anything to do with this line not being the "new" slab type? https://github.com/SpongePowered/SpongeCommon/blob/cc13221f1e6d1b0b7388df50a2b0bf8a362bfeb1/src/main/java/org/spongepowered/common/data/processor/data/block/SlabDataProcessor.java#L73

[2019-04-20 10:28] Aathoss commented on #1713
Hello, @gabizou
Still no news about Sponge / TickDynamic compatibility?
Or an integration of TickDynamic in Sponge?
Because I think that many people who use SpongeForge will be delighted to have this feature me the first who needs it

Thank you in advance for your answer / work

[2019-04-21 08:45] #2236 closed, assigned to nobody

[2019-04-21 19:32] NeusFear opened #2245 "Issue with async light thread and regeneration"
**I am currently running**
- SpongeVanilla version:  1.12.2-7.1.6-RC163
- Java version: 1.8
- Operating System: Windows 10 and Ubuntu 16.04
- Plugins/Mods: Sponge, Worldedit, Voxelsniper, and my server's plugin

**Issue Description**
For my use case, I have created a world populator that before I have set a location to allow generation, it never generates any blocks. Now, this worked fine in RC156

[2019-04-23 12:06] LXGaming opened #2246 "Unexpectedly Completing An Empty Stack"
**I am currently running**
- SpongeForge version: 1.12.2-2768-7.1.6-RC3667
- SpongeVanilla version: No builds exist containing the changes in SpongeCommon
- Java version: OpenJDK 1.8
- Operating System: Windows 10

- Plugins/Mods: Nothing

**Issue Description**
Phase Tracking error occurs on server startup
[latest.log](https://gist.github.com/LXGaming/e9ccf96f7038343a73c7effbc695dd03) Line 84-108

[2019-04-23 16:53] #2246 closed, assigned to nobody

[2019-04-24 00:07] NeusFear opened #2247 "LEAVES2 enums dont work for creating itemstacks"
**I am currently running**
- SpongeVanilla version: 1.12.2-7.1.6-RC156 (Not using the latest version because my plugin requires some of the generation features that are broken in new releases.
- Java version: 1.8
- Operating System: Windows 10 and Ubuntu 16.04
- Plugin: My plugin.

**Issue Description**
I am using a Price sheet for an economy and so I create ItemStacks to compare later.
The issues

[2019-04-25 02:54] aromaa opened #2248 "Entity AI has no dimension sanity checks (MC-149563)"
**I am currently running**
- SpongeForge version: 1.12.2-2768-7.1.6-RC3671
- SpongeVanilla version: 1.12.2-7.1.6-RC165
- Java version: Java 8
- Operating System: Windows 10
- Plugins/Mods: None

**Issue Description**
Entity AI has no dimension sanity checks, this can lead to players being attacked by mobs in other world, more detailed report on: https://bugs.mojang.com/browse/MC-149563

This is mo

[2019-04-27 17:54] Mohron opened #2251 "User#getEnderChestInventory throws NPE"
**I am currently running**
- SpongeForge version: `spongeforge-1.12.2-2768-7.1.6-RC3671`
- Java version: `8 202`
- Operating System: `Windows 10`

- Plugins/Mods: Minecraft, Minecraft Coder Pack, SpongeAPI, Sponge, GriefPrevention, LuckPerms, Nucleus, SkyClaims

**Issue Description**
The first time calling `User#getEnderChestInventory` with a User loaded from a UUID via the UserStorageService trig

[2019-04-28 21:38] #2251 closed, assigned to JBYoshi

[2019-04-28 22:15] JBYoshi commented on #2237
It looks like `MixinBiome.buildPopulators()` will need to be updated to add an extra `GroundCoverLayer` when the block is sand or red sand. However, I don't know how to set that up properly to match the vanilla behavior - in vanilla, the depth of sandstone also depends on the height of the ground, which `GroundCoverLayer` doesn't currently support. The actual code vanilla uses to determine the hei

[2019-04-29 05:10] cebtenzzre opened #2252 "Depowering a grid of redstone causes excessive block processing"
**I am currently running**
- SpongeVanilla version: 1.12.2-7.1.6-RC166
- Java version: OpenJDK 1.8.0_212
- Operating System: Arch Linux
- Plugins/Mods: none

**Issue Description**
Removing the power to a 4x3 grid of redstone results in 33,926 lines of errors in the server console.
 This is how it starts:
[code]

The full server log is [here](https://gist.github.com/Cebtenzzre/f4a8496e685ef7360276b

[2019-04-29 09:18] axin0452 opened #2253 "Exception Exiting Phase"
[code]

[2019-04-29 18:06] codeHusky opened #2254 "Furnaces eject items, sometimes destroying the ore in the process."
**I am currently running**

- SpongeForge version: 1.12.2 7.1.6 RC3682
- SpongeVanilla version: 1.12.2-7.1.6-RC166
- Operating System: Windows 10

- Plugins/Mods: Nucleus, LuckPerms

**Issue Description**
Furnaces just puke their items out for no apparent reason. They seem to be acting like they're breaking. The cooking process freezes in them as well. On occasion it seems like the process destroy

[2019-04-30 04:12] pie-flavor opened #2255 "UseItemStackEvent.Replace errors"
[code]
This throws a CCE because n.m.i.ItemStack can't be cast to o.s.a.i.i.ItemStackSnapshot.

[2019-04-30 12:07] Lignium commented on #2255
https://github.com/SpongePowered/SpongeCommon/blob/7c50d60ef9f897267c7503e580f35a0a112cc60a/src/main/java/org/spongepowered/common/mixin/core/entity/MixinEntityLivingBase.java#L1241

[2019-04-30 21:40] Aaron1011 opened #2256 "Add regression tests for strange issues"
Now that McTester support has been merged into SpongeForge, it would be nice to write regression ticks for some of the weirder issues we've encountered.

Some ideas:

- [ ] Furance item dropping (https://github.com/SpongePowered/SpongeForge/issues/2725)
- [ ] 'Recursive' redstone sticky pistons
- [ ] Anything to do with advancements

[2019-04-30 23:00] Cybermaxke commented on #2245
The async lighting error should be fixed with: https://github.com/SpongePowered/SpongeCommon/commit/a5d41cb149c2e0a7f7dac2f626eb12719ac79957

[2019-05-01 00:05] gabizou commented on #2256
Another is to add the 0-tick piston mechanism. It's a little complicated since it requires logging and tracking the *exact* `BlockTransaction`s that would be submitted, comparing their proxy information, and then successively validating that they abide by the same `BlockTransaction`s that otherwise would be created with vanilla (basically, I already have some minor logging of said transactions for

[2019-05-02 01:11] runescapejon opened #2257 "Can't use SetToTransform on MoveEntityEvent anymore"
**I am currently running**

- SpongeForge version: RC3689
- SpongeVanilla version: n/a
- Java version: 8
- Operating System: windows 10

- Plugins/Mods:
n/a

**Issue Description**
it seem that there a bug not being able to use form of teleportation on MoveEntityEvent
here an example i use
[code]
this method doesn't work but when i roll back to SF-RC3512 this method work fine.

[2019-05-02 17:48] #2253 closed, assigned to nobody

[2019-05-03 03:02] phit opened #2258 "world-generation-modifiers getting stripped from configs"
**Issue Description**

bug introduced by https://github.com/SpongePowered/SpongeCommon/commit/2daf6a6aacda5fbd4113b17cc26acc538f3b6649

world-generation-modifiers values (and node as a side effect) are getting stripped from the configs on server startup

I debugged this a bit but haven't quite figured out by what

[2019-05-04 19:47] #1668 closed, assigned to nobody

[2019-05-04 19:47] #2019 closed, assigned to nobody

[2019-05-06 13:08] therealmikz commented on #2237
Isn't it possible to actually provide the Y coordinate to the `blockState` function inside `GroundCoverLayer`? It seems doable in `org.spongepowered.common.world.gen.SpongeChunkGenerator` with slight modification to `blockState` function signature. I could try to do that myself and provide a PR to fix this issue but I'm not absolutely certain that this is a good approach (I'm not sure if there's a

[2019-05-09 19:59] NovaLynxie commented on #2252
Huh... I was unaware there was a similar issue. I do hope this gets fixed and wish you guys good luck.

[2019-05-10 20:31] johnfriedrich commented on #2254
99% same issue could be closed probably
https://github.com/SpongePowered/SpongeForge/issues/2725

[2019-05-10 20:33] gabizou commented on #2254
Yeah, can be closed.

[2019-05-10 20:33] #2254 closed, assigned to nobody

[2019-05-11 09:47] ImMorpheus commented on #2157
Not able to reproduce. Should be fixed by https://github.com/SpongePowered/SpongeCommon/commit/5b7a63f64198c7950f259c025c086878687661e7

[2019-05-11 09:47] #2157 closed, assigned to nobody

[2019-05-11 09:55] ImMorpheus commented on #2072
Not able to reproduce on SpongeForge with SpongeCommon updated to https://github.com/SpongePowered/SpongeCommon/commit/b9023620c16d21a1237cb08341091d8bae2ad750

[2019-05-11 09:55] #2072 closed, assigned to nobody

[2019-05-11 11:12] krisjenner opened #2259 "skull duplication"
**I am currently running**

- SpongeForge version: 1.12.2-2825-7.1.6-RC3705

- Plugins/Mods:
Prism, GriefPrevention

**Issue Description**

https://github.com/prism/Prism/issues/132#issuecomment-491498302

[2019-05-11 12:05] ImMorpheus commented on #2179
Fixed by https://github.com/SpongePowered/SpongeCommon/commit/b448e80292ba62b9be9198a9a8bdb3739672070d

[2019-05-11 12:05] #2179 closed, assigned to nobody

[2019-05-11 13:31] ImMorpheus commented on #1939
Plugin provided catalogs are now populated correctly. See https://github.com/SpongePowered/SpongeCommon/pull/2223

[2019-05-11 13:31] #1939 closed, assigned to nobody

[2019-05-11 15:17] Yorkforce opened #2261 "Skyclaims Schematics Issue - SpongeEntityArchetype"
**I am currently running**

- SpongeForge version: RC3705
- Forge version: 2831
- Java version: 8
- Operating System: Debian 9

- Plugins:
Minecraft, Minecraft Coder Pack, SpongeAPI, Sponge, Aliases, AntiWDL, AurionsVoteListener, AutoBroadcaster, Discord Bridge, EconomyLite, Enjin Minecraft Plugin, GriefPrevention, LuckPerms, MMCRestrict, MultiChatSponge, NuVotifier, Nucleus, Player Glow, PlayerSh

[2019-05-11 20:12] SarahGreyWolf opened #2260 "Support TameEntityEvent for Mountable Entities"
**I am currently running**
- SpongeVanilla version: 1.12.2-7.1.6-RC169

**Issue Description**
Requesting support for TameEntityEvent for Mountable Entities such as Horses and related entities.

[2019-05-12 02:47] Aiidoneus commented on #2261
Getting the same issue on my server. Except with FTB Interactions modpack

[2019-05-12 10:22] Aiidoneus commented on #2261
This doesn't look to be fixed. I was running RC3708 when I tried to create an island through Skyclaims.
I also created new island schematics too.
https://gist.github.com/Aiidoneus/16ae91b4c449fd07eb833cc5a1e0493d

[2019-05-12 10:39] XakepSDK commented on #2261
https://github.com/SpongePowered/SpongeCommon/blob/81e8acbc16b032d12f7e5bdb554574214854a741/src/main/java/org/spongepowered/common/world/schematic/SpongeArchetypeVolume.java#L73
https://github.com/SpongePowered/SpongeCommon/blob/81e8acbc16b032d12f7e5bdb554574214854a741/src/main/java/org/spongepowered/common/world/schematic/SpongeSchematic.java#L52
https://github.com/SpongePowered/SpongeCommon/blob

[2019-05-12 11:19] Aiidoneus opened #2262 "Doors Duplicate When Broken"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2825-7.1.6-RC3708.jar
- Java version: 8
- Operating System: Ubuntu

- Plugins/Mods:
![Image of Yaktocat](https://i.imgur.com/tIrcKeS.png)

**Issue Description**
When you break any door (whether it be from Vanilla Minecraft or Modded Minecraft) it duplicates when broken. This only happens when you break the bottom part of the door

[2019-05-12 11:59] LemADEC commented on #2252
Any workaround we could use while this is being worked on?

[2019-05-12 15:57] VcSaJen opened #2263 "Sand, gravel, anvils, etc, disappear instead of falling"
**I am currently running**

- SpongeForge version: 1.12.2-2825-7.1.6-RC3708
- SpongeVanilla version: 1.12.2-7.1.6-RC175

**Issue Description**
When sand, red sand, gravel, concrete powder, anvils, etc. are affected by gravity (i.e. there's air underneath them), they disappear instead of falling. All Sponge settings are default settings, no mods or plugins.

**Logs**
There's nothing in the logs.

*

[2019-05-13 04:33] Aaron1011 opened #2264 "BiomeType ids are inconsistent with field names"
Sponge [renames several Minecraft biome types](https://github.com/SpongePowered/SpongeCommon/blob/953811eaa27f3bcdd75d71960b7b4f93fb160087/src/main/java/org/spongepowered/common/registry/type/world/gen/BiomeTypeRegistryModule.java#L99-L133), in order to properly map them to fields in `BiomeTypes`. However, the ids returned by `BiomeType#getId` are the old, un-renamed ids. This can be confusing for

[2019-05-15 00:26] gabizou commented on #2252
There's no real workaround. The issue is complicated due to the nature of how recursive Redstone is. It'll be worked on when someone (usually me) has time (which I'm lacking currently).

[2019-05-16 00:22] gabizou commented on #2261
Try with 7.1.6.-RC3711, should be fixed with it.

[2019-05-16 07:34] phit commented on #2262
probably related https://github.com/SpongePowered/SpongeCommon/issues/2259

[2019-05-16 07:37] #2232 closed, assigned to nobody

[2019-05-16 07:38] phit commented on #2232
Feel free to open this if this gets added to API, right now this issue isn't really relevant unless I'm missing something?

[2019-05-16 07:43] phit commented on #2202
would be nice to know what is returning the wrong value here, none of those methods care about Y level of the player, so what's going on?

[2019-05-16 07:49] CaptainSisko commented on #2259
Just tested this with the following

Mods: none
Forge: 1.12.2-14.23.5.2825
Sponge: 1.12.2-2825-7.1.6-RC3711
Plugins: Nucleus-1.9.3-S7.1-MC1.12.2-plugin

This issue requires a sponge plugin to be added before it occurs.

Simply placing a skull on the ground and breaking it will give you 2 skulls in return.

[2019-05-16 08:43] runescapejon commented on #2202
Putting a Y level is redundant to detecting world border. So, Why put it to player?

[2019-05-16 08:46] phit commented on #2202
that's not what I asked, I'm confused how falling into the void would cause this, as the players Y level isn't used at all, so I'm asking what returns the wrong value to lead to the false positive

[2019-05-16 08:51] runescapejon commented on #2202
Oh my apologies, my mistake didn't understood what you was trying to asked. Although i am confuse. Also at the time of writing this i was certain that i was a sponge bug due to how it perform and there was no issue with how i wrote it. I couldn't find what exactly returns wrong value that lead to false positive that why i assume it was sponge bug.

[2019-05-16 08:55] dualspiral commented on #2202
When you get your false positive, what is the player location according to the code? The only way I see this being a Sponge issue is if the player location is incorrect. Otherwise there is some weird logic flaw going on in my own code.

Attach a debugger and have a look at that, and make sure the correct border centre and diameter is being returned. If both of these are correct, then it's not a Sp

[2019-05-16 09:32] dualspiral commented on #2202
Also

https://github.com/runescapejon/BorderProtector/blob/master/src/main/java/me/runescapejon/borderprotector/BorderProtector.java#L99

That line is non-sensical. When would `-x` or `-z` be greater than the always positive radius (which you've labeled diameter)? So, if you're outside the border in the -/- quadrant, or out of the the border in a specific direction in the +/- or -/+ quadrants, you

[2019-05-16 09:48] LXGaming commented on #2259
Sponge is capturing the entity spawn twice, I put a log message in `PhaseContext::captureEntity` and found that the method got called twice: https://gist.github.com/LXGaming/2b918d80b5c2e03ce080a2010d75f743 (Line 13 & 45)

This recently added Mixin is triggering the 2nd capture:
https://github.com/SpongePowered/SpongeCommon/blob/5f19dd24c9969574b90d36caa1552015a383d94a/src/main/java/org/spongepowe

[2019-05-16 09:51] runescapejon commented on #2202
Ahh i found the issue on the worldborder issue i was having on the github issue, i look into today, it seem that it's possible that it's not a sponge bug. I do admit i should have look into it deeper that a dumb on my part  Well it seem on obtaining a player locations i correct. However what value gave the false positive was how i obtain the Center.

This is what i found during the debugging
`
(0.

[2019-05-16 10:10] dualspiral commented on #2202
Those numbers mean nothing on their own. Which one is the player location, and which one is the border centre? Please be explicit with what you tell us.

Do you mean that the player position is in one world, but the border centre is from another?

If the first set of numbers is from your player position, then you end up with a negative x and negative z and your code is absolutely going to send a f

[2019-05-16 13:48] runescapejon commented on #2202
Sorry that i didn't go into specific, it was late around 5-6 am for me at that time. Anyway let me explain my reply from earlier so we both can have a better understanding from each other. The [boolean that i had recreated it,](https://github.com/runescapejon/BorderProtector/blob/master/src/main/java/me/runescapejon/borderprotector/BorderProtector.java#L91) it was checking for the center of the bo

[2019-05-16 14:03] johnfriedrich commented on #2261
Thanks, works at least for our schematics

[2019-05-16 14:04] #2261 closed, assigned to nobody

[2019-05-16 14:11] dualspiral commented on #2202
No, it's not clear, specifically this:

What do you mean? Is the real problem here that the player location object is reporting the wrong world? What do you mean two centres from each dimension? What is being called twice? Your pastebin isn't clear either.

Rather than try to explain it again, please can you:

* Write a **minimal** test code that we (and you) can run on a server that shows the pro

[2019-05-16 15:35] phit commented on #2263
please retest on 3711, i wasn't able to reproduce this

[2019-05-16 21:52] runescapejon commented on #2202
Sorry it seem what i was trying to explain earlier it's redundant. I had found the real culprit of the issue.

Here what i wrote to test:
https://pastebin.com/RXSx4kZM

Step on how to reproduce
1) make a end portal
2) then go into it
3) fall in the void and die
4) then click respawn once you respawn you'll see the bug

What i expect to happen during this is `getX` will not be accurate when you att

[2019-05-16 23:06] gabizou commented on #2262
Fixed with an experimental fix, it shouldn't break other things, but let me know if there's multi-block structures that end up breaking somehow.

[2019-05-17 02:09] Aiidoneus commented on #2262
Did look like it fixed the doors duplicating. Will let you know when I can if any issues arise from it.
Thank you

[2019-05-17 02:41] runescapejon commented on #2262
@gabizou i have test it this and it seem it's fixed but randomly dupe, it doesn't dupe consistently just have to keep trying and then you'll get it

[2019-05-17 03:39] VcSaJen commented on #2263
@phit Tested again on SpongeForge 1.12.2-2825-7.1.6-RC3713 and SpongeVanilla 1.12.2-7.1.6-RC180, still same.
<blockquote>i wasn't able to reproduce this</blockquote>Are you sure you tested this on clean install with no mods or plugins?

Video:
https://www.youtube.com/watch?v=xR0tqE6OXY8

[2019-05-17 08:37] phit commented on #2263
yep, however I just figured out the issue, similarly to https://github.com/SpongePowered/SpongeForge/issues/2731 this is only broken if there's no even listeners

as a workaround for now you can add `-Dsponge.shouldFireAll=true` to your java arguments

[2019-05-17 09:07] pie-flavor commented on #2232
I mean it is still, it's a bug for it not to know who is storaging users, whether not it's actually possible to create one yet.

[2019-05-17 09:10] phit opened #2266 "UserDiscoverer not catching UTFDataFormatException"
**Issue Description**

looks like this isn't catching malformed nbt just io exceptions, should probably handle that too and not crash

https://gist.github.com/phit/a14a45487c743b83ab1bcf0236d616b3

https://github.com/SpongePowered/SpongeCommon/blob/ff1377197715e1266080e6a7a607647fb5af0416/src/main/java/org/spongepowered/common/service/user/UserDiscoverer.java#L303-L307

[2019-05-17 10:37] dualspiral commented on #2202
Okay - now I see what is going on - the `MoveEntityEvent` is capturing the movement of the dead `Player` object as a respawn is occuring for a moment or two before the newly recreated respawned player appears.

I suppose you could try checking the health of the player or cache the last known block of a player and only act if they change block/world as a workaround. Remember, the `MoveEntityEvent`

[2019-05-17 20:16] simon816 commented on #2266
`UTFDataFormatException` is a subclass of `IOException` so i'm not sure what's going on there

[2019-05-20 09:26] SawFowl opened #2268 "Bug with schematics. Containers is empty."
**I am currently running**
- SpongeForge version: 1.12.2-2825-7.1.6-RC3713
- SpongeVanilla version: 1.12.2-7.1.6-RC178
- Java version: OpenJDK 64-Bit Server VM (build 25.212-b01, mixed mode)
- Operating System: Debian 9

- Plugins: FastAsyncWorldEdit, GriefPrevention, Nucleus, SkyClaims, WorldEdit

**Issue Description**
When you insert a schematic, its existing containers become empty. There are n

[2019-05-21 22:58] kencinder opened #2269 "Dispenser Phase Tracker Issue"
**I am currently running**

- SpongeForge version: 1.12.2-2825-7.1.6-RC3713
- Java version: OpenJDK 1.8.0_211
- Operating System: Debian 9

- Plugins/Mods: None

**Issue Description**

Place a Dispenser in front a double flower such as a rosebush, put bone meal inside and activate the dispenser with redstone in any manner.
The expected behaviour is for a flower to be dropped, none is dropped and t

[2019-05-22 02:53] gabizou commented on #2262
@runescapejon going to need a better explanation, how reproducible is it? How have you seen it reproduced?

Reason why I ask: when I wrote the fix, I noticed it duped when breaking the bottom half of the door because of the neighbor notification from the top half of the door. Essentially, what happens is: the bottom is broken, the top block is neighbor notified and because it's finding out that th

[2019-05-22 03:44] runescapejon commented on #2262
my apologies, it seem when i ran a quick test and upload it the jar the test server had a corrupt download and the other downgrade it version was installed. At the time when i hop on the server and just did the test and didn't see or notice i still had the old spongeforge version that the new jar corrupted from a download.

[2019-05-22 06:35] gabizou commented on #2263
Found the root of the issue: Since the `ShouldFire` flags are off with no listeners, the [code I wrote at some point last year to fix some other issue](https://github.com/SpongePowered/SpongeCommon/commit/d27527a5c0e8c7dab6df65cca12a679b789e0ad2) didn't take into consideration the possibility of no captures. I'm assuming this is because at that point, we didn't have the `ShouldFire` for any block

[2019-05-22 07:01] #2263 closed, assigned to nobody

[2019-05-22 10:20] dualspiral commented on #447
This will be possible in API 8 with the introduction of a new `Subcommand` element and "optional" being somewhat simplified.

Closing as it has landed on `api-8`.

[2019-05-22 10:20] #447 closed

[2019-05-23 22:38] Aiidoneus commented on #2268
Possibly related to https://github.com/SpongePowered/SpongeForge/issues/2761 ?

[2019-05-24 02:57] JBYoshi commented on #2237
I have a fix ready, pending review of the related SpongeAPI changes.  See https://github.com/SpongePowered/SpongeCommon/pull/2270 and https://github.com/SpongePowered/SpongeAPI/pull/2009.