[2017-03-31 19:32] gabizou commented on #1278
There's more to this than the log you linked. I need what is likely to be an exception thrown before the log, and then the rest of the "block" surrounded in `*`s (That's the entire point of the *s.)

[2017-03-31 19:38] caseif commented on #1278
There was no exception before that log; however, I've found one that *does* include one.
https://gist.github.com/caseif/084948305deb2cb1a9765a0ccdd8f050

[2017-03-31 20:44] TBlueF opened #1279 "Sweeping-edge enchantment is not working"
The **Sweeping-Edge enchantment** is not modifying the damage made by the sweep-attack. You only deal 1 damage, with or without achievement.
This happens on all: Sponge-Vanilla and Sponge-Forge and Forge without Sponge. Only on pure vanilla minecraft i managed to deal more damage.
So i guess its a Forge AND Sponge Issue? ^^

***Tested with:**
Sponge Vanilla 1.11.2-6.0.0-BETA-239
Sponge Forge 1.11.

[2017-04-01 05:12] TheRaspPie opened #1280 "Cause tracker bug in DropItemEvent.Pre"
Steps to reproduce:
1.) Listen for `DropItemEvent.Pre`
2.) Call `event.getDroppedItems().clear()` in listener
3.) Spawn mob using /summon and kill it by hand
4.) The following happens: https://pastebin.com/6RFGQ2FU

Also I should note that I tried adding to `event.getDroppedItems()`, but that has no effect.

Tested on _SpongeVanilla 1.11.2-6.0.0-BETA-239_.

[2017-04-01 08:50] gabizou commented on #1280
I can fix this, however, please copy the *correct* log, since this one has artificial new lines added in several places, making it difficult to read.

[2017-04-01 08:52] gabizou commented on #1279
I can fix this on sponge's side, however, we'll have to PR a fix to Forge's side.

[2017-04-01 16:34] TheRaspPie commented on #1280
I'm sorry, I copied the log from the windows console.. bad idea.
Here's the log from latest.log: https://pastebin.com/9XuZwrn8

[2017-04-01 22:29] dogboy21 opened #1281 "Empty inventories due to "Element cannot be mapped to a null key""
Opening the inventory of the [Wireless Crafting Terminal](https://minecraft.curseforge.com/projects/wireless-crafting-terminal) shows an empty inventory since the latest SF version (1.10.2-2254-5.2.0-BETA-2264). The exception below gets thrown. After a downgrade to SF 2262 everything works as expected.

[code]

[2017-04-02 14:02] ST-DDT commented on #739
@gabizou  I ran some more tests on other methods on CatalogTypes and found the following issues:

* [`BlockType#getTickRandomly()`](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/block/MixinBlock.java#L194) - StackOverflow (Should be `shadow$getTickRandomly()`)
* `ArmorType#getRepairItemType()` - AbstractMethod
* [`PotionEffectType#isI

[2017-04-03 16:57] Faithcaio commented on #1281
might be fixed with: https://github.com/SpongePowered/SpongeCommon/commit/6a4f6d03cc26731dc975111dd8cbbb2e423b0cc2

[2017-04-03 16:57] #1281 closed, assigned to nobody

[2017-04-04 10:04] ryantheleach opened #1282 "hasPlayedBefore "always" returning true, due to timestamps differing slightly."
From:

https://forums.spongepowered.org/t/hasplayedbefore-always-return-true/18311

[code]

I've filed it against Sponge Common until I've done further testing to see if it is unique to vanilla or also occurs on Sponge Forge.

[2017-04-04 11:18] ryantheleach commented on #1282
Ok, So I think the problem is semantic.

FirstJoined & FirstPlayed are being mixed interchangably, as is LastJoined/LastPlayed.

FirstJoin should be when a player *connects*(successfully) for the first time.
FirstPlayed should be when a player is spawned for the first time.
LastJoined should be when a player last connected (sucessfully)
LastPlayed should be the current instant, if the player is cu

[2017-04-05 15:40] jackytuutykcaj opened #1284 "console spammed with runaway phases"
Original issue: https://github.com/NucleusPowered/Nucleus/issues/783#issuecomment-291882859

[2017-04-05 16:10] gabizou commented on #1284
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/1404

[2017-04-05 16:10] #1284 closed, assigned to nobody

[2017-04-06 01:27] Icohedron commented on #1066
I'm gettings these warnings on spongevanilla-1.10.2-5.2.0-BETA-385.
I'm using some of those keys in a plugin, but they aren't available because of this.
[code]

[2017-04-06 05:22] gabizou commented on #1066
Pending @Minecrell allows some modifications to enable unit testing in the `stable-5` branch, I cannot port the full changes to resolve the issues from `bleeding`. As it stands, it is fixed, but the overall changes are pending a port to stable-5.

[2017-04-06 11:00] therealmikz opened #1285 "Frozen chunk on map generated by Minecraft with Sponge API"
Previously https://github.com/SpongePowered/SpongeAPI/issues/1530

Originally I wrote about it on Sponge forum, here's the link: https://forums.spongepowered.org/t/sponge-alters-world-generation-bug-or-feature/18325/4

Yesterday I tried to run a new Sponge-based server based on version 1.10.2 (using sponge-forge 1.10.2-2254-5.2.0-BETA-2264). Everything worked except one tiny detail. On the world t

[2017-04-06 23:17] Xenmai opened #1286 "Can't retrieve a ParticleType with just the name, need "minecraft:""
I've noticed you can't retrieve a ParticleType with Sponge.getRegistry().getType(ParticleType.class, "heart"), you need to use "minecraft:heart". I was not expecting this because, when retrieving blocks, you can use just "stone" without the need of "minecraft:". Seems like a small issue. Thanks beforehand for your time.

[2017-04-07 01:12] ryantheleach opened #1288 "Check behaviour between SV, SF, and V in regards to vanilla spawn protection."
Kane_Hart reports in IRC that spawn protect covers other worlds other then the overworld.

@ryantheleach

- [ ] Check behaviour between different platforms and work out if this is a bug or not.
- [ ] Look into making this per world, or offer a fix.

[2017-04-07 01:14] ryantheleach opened #1289 "Check behaviour of missing commands between SF SV and V"
@ryantheleach

- [ ] Check to see if no such command is working correctly, and on which platforms.
- [ ] If working incorrectly (or correctly with bad UX), offer a fix.

[2017-04-07 15:41] johnfriedrich opened #1291 "SF 2269 doesn't startup when tileentity-activation=true"
https://pastebin.com/4Umnkttn

worked with 2267

[2017-04-07 16:50] #1291 closed, assigned to nobody

[2017-04-08 16:09] Eufranio opened #1292 "Error"
Kashike told me to report it here so I'm reporting it here 😄

Stacktrace: https://hastebin.com/sovivusuzo.css

    Minecraft: 1.10.2
    SpongeAPI: 5.2.0-SNAPSHOT-a3257a0
    SpongeForge: 1.10.2-2254-5.2.0-BETA-2272
    Minecraft Forge: 12.18.3.2239

[2017-04-08 20:39] dogboy21 commented on #1292
The log says `SpongeForge : 1.10.2-2254-5.2.0-BETA-2264`.
The issue was fixed in SF 2267+
#1281

[2017-04-08 21:11] #1292 closed, assigned to nobody

[2017-04-09 00:23] Mohron opened #1293 "GrantAchievementEvent is Implemented on 1.11.2 but not 1.10.2"
`GrantAchievementEvent` exists in API 5 but is only fired on 1.11.2 SpongeForge servers. Is it possible to have the implementation back ported to 1.10.2?

[2017-04-09 11:03] therealmikz commented on #1285
Ah, I didn't make it clear: position of chunk that I mentioned in this ticket is in fact block coordinates.

[2017-04-09 17:49] gabizou commented on #1293
Due to the breaking changes required for Statistics, it was not implemented for API 5. Refer to https://github.com/SpongePowered/SpongeAPI/pull/1434

[2017-04-09 17:49] #1293 closed, assigned to nobody

[2017-04-10 01:34] Eufranio opened #1295 "Error force loading a chunk"
This stacktrace randomly appears in the console when using the BetterChunkLoader plugin:
[code]
The author linked here: https://bitbucket.org/shadownode/betterchunkloader/issues/8/error-on-stop

[2017-04-10 12:53] ryantheleach commented on #1285
@therealmikz I checked this out in singleplayer, dev environment, I was not able to reproduce.

I suspect what you are seeing (due to it's relative closeness to the spawn point) is the natural vanilla spawn protection. http://minecraft.gamepedia.com/Server.properties under spawn-protection

In vanilla the OP status normally bypasses this protection, but in Sponge it is remapped to a permission for

[2017-04-10 19:31] MarkTwoFive opened #1297 "#getUnloadedWorlds() returning ALL worlds."
As I found out this evening (and as [discussed on the dev IRC](https://hastebin.com/utaholenut.coffeescript)) ``Sponge.getServer().getUnloadedWorlds()`` returns the ``WorldProperties`` for all worlds regardless of whether they're actually unloaded or not.
As IRC user "blood|wrk" pointed out there seems to be a state check missing [within the function](https://github.com/SpongePowered/SpongeCommon/

[2017-04-11 11:37] johnfriedrich opened #1298 "crashes when zombie interacts with villager? bound must be positive | callDestructEntityEventDeath"
SF 2274

https://pastebin.com/F7VF2vdT

[2017-04-11 19:51] seema84 commented on #1066
the last two warnings

[Sponge]: Skipping org.spongepowered.api.data.key.Keys.LEASH_HOLDER

[2017-04-12 19:06] therealmikz commented on #1285
You are right, it was indeed spawn protection, setting radius to 0 did it, thank you very much for such comprehensive answer! I'm closing this issue, there's nothing to be fixed here :).

[2017-04-12 19:06] #1285 closed, assigned to nobody

[2017-04-13 02:16] parlough commented on #927
@ryantheleach Is this fixed? I am assuming so.

[2017-04-13 02:49] DarkArc opened #1300 "Wrong generator ID return"
In the 5.2 stable branch running the following code:
[code]
Will print a line "Gen: largeBiomes", this is incorrect, "large_biomes" is the correct value, attempting to call:
[code]

Will result in an exception, as the generator cannot be resolved.

[2017-04-13 07:50] kashike commented on #1300
Querying for `largeBiomes` should work too, seeing as that is the real name:
`public static final WorldType LARGE_BIOMES = new WorldType(2, "largeBiomes");`

[2017-04-13 14:37] TBlueF opened #1301 "Limit size of phase-exception stacktraces"
I've somehow got a phase-error that creates a 12MB big log-dump. I cant really tell you what caused the issue itself, because i could not reproduce it yet, but i want to suggest to somehow limit the size of those exception-dumps.. Because 70000+ lines are a little bit too much :D

You can find the example dump [here](https://craftednature.de/paste/2017-04-13-2.log.txt).

[2017-04-14 14:56] gabizou commented on #1301
Unfortunately, I don't believe that phase exceptions should be trimmed in any manner of speaking, but what the issue that you're not seeing is something of a bigger bug, since you have the server essentially being unable to complete a phase, constantly... It doesn't help that it looks like a place block packet is failing to exit successfully. IF possible, find the first stack trace and we can reso

[2017-04-14 18:37] randombyte-developer commented on #23
Very minor, but [this](https://github.com/SpongePowered/SpongeCommon/blob/9e6acff2f9c25f346151420d368a26a0e3578a5b/src/main/java/org/spongepowered/common/profile/query/Query.java#L89) could have a more meaningful name.

[2017-04-14 22:11] randombyte-developer opened #1307 "DataView deserialization fails at enchantments"
I have this code: https://gist.github.com/randombyte-developer/f9d0ecc09cccd56ed081acac23423477

It takes the item the player is holding and serializes it:
1. `toContainer()`
2. `DataTranslators.CONFIGURATION_NODE.translate()`
3. `ConfigurationLoader#save()`

The debug output for a Smite V book is:
[code]

The deserialization:
1. `ConfigurationLoader#load()`
2. `DataTranslators.CONFIGURATION_NODE.

[2017-04-15 11:39] TBlueF commented on #1301
*"IF possible, find the first stack trace"*
What do you mean? So an error like this can be caused by other ones that occurred an hour earlier? I included the [whole log](https://craftednature.de/paste/2017-04-13-2.log.txt) now .. there are two more errors at [12:43:39]..

*"usually you want to try to catch it the first time, and not just let them continue stacking up like this"*
Wait.. Just to mak

[2017-04-15 14:52] TheRaspPie commented on #1280
Any updates on this? I don't want to be rude, but an essential plugin feature depends on this issue being resolved :)

[2017-04-15 14:57] TheRaspPie commented on #975
I don't know how, but it seems this issue no longer exists.

[2017-04-15 14:57] #975 closed

[2017-04-15 17:13] randombyte-developer commented on #1307
This problem can be solved by using `HoconConfigurationLoader` instead of `GsonConfigurationLoader`: [Forum post](https://forums.spongepowered.org/t/enchantments-couldnt-retreat-due-itemstack-serialization/18425/20?u=randombyte).
Since the recommended config format is Hocon, is this still regarded as an issue?

[2017-04-15 18:12] stephan-gh commented on #1307
Once merged, you should use the [JSON data format](https://github.com/SpongePowered/SpongeAPI/pull/1363) to serialize/deserialize to JSON.

[2017-04-15 18:26] Zerthick opened #1308 "Furnace Inventory doesn't contain InputSlots"
As the tiles says doing `inventory.query(InputSlot.class)` on a furnace inventory returns an `EmptyInventoryImpl`.

Tested on `spongeforge-1.10.2-2281-5.2.0-BETA-2274.jar`

[2017-04-17 16:25] waggz81 commented on #1298
I have been having the same issue with the last couple versions of Sponge/Forge.

https://pastebin.com/CNBfvPYA

When I go to these locations I usually find a villager stuck in the ground, either legs or head. I end up killing them from the console now when I restart the server. They are never anywhere near any other players and shouldn't be in loaded chunks.

[2017-04-17 18:25] gabizou commented on #1298
So, I've tried to fix this issue with several different ways to go around it, at this point, I'm willing to put in some debugging information and just default these erroneous villagers to a default career while printing a message about their profession. My belief is that the Profession has no valid Career, in which the career itself cannot be resolved to populate a buying list, resulting in this e

[2017-04-17 20:45] randombyte-developer opened #1309 "ChangeInventory isn't fired for the give command"
When executing the vanilla `give` command the event `ChangeInventoryEvent` doesn't get fired.

Test code:
[code]
=> "ChangeInventoryEvent" never gets printed when executing something like `/give @a minecraft:cookie 1`

[2017-04-18 13:10] XakepSDK opened #1310 "AbstractMethoedError"
[code]

spongevanilla-1.11.2-6.0.0-BETA-251, no plugins.
Happens after start(wait 10-30 secs)

[2017-04-18 15:37] SjsolisZXA opened #1311 "Server Crash On Log In"
**Forge Version:** forge-1.11.2-13.20.0.2282-universal
**Sponge Forge Version:** spongeforge-1.11.2-2282-6.0.0-BETA-2282
**Server Log:**
[code]

[2017-04-18 18:50] Valandur commented on #1310
I also have this issue. Also happens when you run "save-all" after starting before it crashes on it's own.

[2017-04-18 19:09] #1310 closed, assigned to nobody

[2017-04-18 19:09] #1311 closed, assigned to nobody

[2017-04-19 08:33] me4502 opened #1312 "Failed to register data using the new system - casting to Comparable?"
I get this stacktrace when trying to register data,

https://pastebin.com/rVT03NX7

Code being used:

[code]

[2017-04-19 08:43] Faithcaio commented on #1312
Those are the changes I made to make my custom data work:
https://github.com/SpongePowered/SpongeCommon/tree/fix/newcustomdata

[2017-04-19 08:47] me4502 commented on #1312
Hmm, okay - so the fix is waiting on that to merge?

[2017-04-19 08:56] Faithcaio commented on #1312
well I dont know what @gabizou intended to do
also ItemStack#toContainer is still broken when you have a Sponge DataManipulator like DisplayName

[2017-04-19 16:37] #1312 closed, assigned to nobody

[2017-04-20 13:26] XakepSDK opened #1314 "Block's won't update after explosion"
1. Place gravel
2. Place TNT
3. Explode tnt
4. Gravel won't fall.
Tested on:
spongevanilla-1.11.2-6.0.0-BETA-250

[2017-04-20 18:18] Sir-Will opened #1315 "World#getDirectory() - not implemented"
The method `getDirectory` in the `World` object seems not to be implemented as it throws an AbstractMethodError.

[2017-04-20 19:12] gabizou commented on #1314
Could you show a picture of where the gravel/sand is placed in relation to TNT? Otherwise, the gravel/sand are supposed to simply be removed, not "fall".

[2017-04-20 19:20] XakepSDK commented on #1314
I can't add screenshot now. But you can try it yourself. Place TNT and
place around TNT gravel. Make 3x3x12 gravel structure with TNT in bottom
middle. Activate TNT and wait.
Sorry for my english.

On Apr 21, 2017 01:12, "Gabriel Harris-Rouquette" <notifications@github.com>
wrote:

[2017-04-21 08:39] XakepSDK commented on #1314
https://puu.sh/vrjNS/bc4efd5fff.png
https://puu.sh/vrjOE/d5c99d6dbe.png
This seems not explosions issue, this happens after world generation. Water won't flow, sand won't fall, until i touch it.

[2017-04-21 09:46] Faithcaio opened #1316 "toContainer() broken for DataSerializable with vanilla data"
@gabizou  toContainer() broke with the changes to custom data.

Example:
[code]
Stacktrace:
[code]
Should these datamanipulators be included in the toContainer Result? e.g. DisplayName is already included under UnsafeData in the DataContainer.

[2017-04-21 14:07] Xfel opened #1317 "java.time.Instant data translator broken"
The data translator for `java.time.Instant` does not work.
In [DataSerializers.java#L1124](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/data/persistence/DataSerializers.java#L1124) it uses `LocalDateTime.getMonth()`, which returns a `Month` enum value that is not useable for NBT. Also, the deserializer expects an int in that field.

[2017-04-21 14:17] Xfel opened #3130 "Child data views and maps"
When putting a list of DataViews to a data view, serializing it using DataFormat.HOCON and reading it again, it becomes a list of Maps. This appears to be an issue with MemoryDataView: If the set method is passed a simple map, it is stored as a DataView internally. If passing a list of maps, however (which is what the HOCON translator does), it will remain a list of maps.

[2017-04-21 17:28] gabizou commented on #1314
You were reporting gravel not falling, is that still an issue with explosions? Please avoid getting off track.

[2017-04-21 17:36] XakepSDK commented on #1314
See screenshot. There is issue with block updating. At first, i saw this issue only after TNT explosion, but after 5 mins playing, i found same issues with world generated blocks. Sand won't fall, until i place/break block on this sand, water won't flow.

[2017-04-21 18:28] Deamon5550 commented on #1314
That is how it works in vanilla, all physics updates are disabled during world generation.

[2017-04-21 18:37] XakepSDK commented on #1314
Oh, this is all my bad english. Sorry, guys. I make video with
demonstration, 14:00 gmt+6

[2017-04-21 18:42] waggz81 commented on #1298
Hi @gabizou , did you have an opportunity to get to this yet?

[2017-04-22 07:39] LoadingByte commented on #1315
(duplicate of #1172 )

I would also appreciate a quick fix since we really depend on this method in one of our plugins, and we don't really want to have to implement a workaround to fix a simple issue like this.

[2017-04-22 07:58] XakepSDK commented on #1314
No video, sorry.
Gravel:
1. https://puu.sh/vskBd/39bc5ccec0.png
2. https://puu.sh/vskC0/cbf3696aef.png
3. https://puu.sh/vskCp/7b3ad3902a.png
4. https://puu.sh/vskD7/7dffb4be10.png

Sand:
1. https://puu.sh/vskE6/2cb15c926b.png
2. https://puu.sh/vskEx/4ae32f3a00.png
3. https://puu.sh/vskEU/27e865719f.png
4. https://puu.sh/vskFn/a5019c2800.png
5. https://puu.sh/vskFP/7935cc4ba8.png
6. https://puu.sh

[2017-04-22 15:22] stephan-gh commented on #1307
@randombyte-developer Would you mind giving the JSON data format a try now that it is merged?

[2017-04-22 19:28] #1172 closed, assigned to nobody

[2017-04-22 19:28] #1315 closed, assigned to nobody

[2017-04-22 19:59] gabizou commented on #1314
Funny that this only happens in SpongeVanilla. The systems involved are from SpongeCommon I believe, so will have a fix very soon.

[2017-04-23 05:53] jaymsDooku opened #1319 "potion effect negative amplifier not allowed"
There are some potion effects that accept a negative amplifier such as the Jump Boost Potion Effect, but I'm unable to build a Potion Effect with a negative amplifier because the builder does not accept negative amplifier values.

[2017-04-23 07:13] ST-DDT commented on #1319
The API javadocs have to be adjusted as well. https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/effect/potion/PotionEffect.java#L138

[2017-04-23 08:04] XakepSDK opened #1320 "EnderChest crash"
Crash log:
https://pastebin.com/mZ1dZxcZ
How to reproduce?
1. Place ender chest
2. Get empty map item
3. Open ender chest
4. Drag map from player inventory
5. ????
6. PROFIT!

Plugins:
WorldEdit
FastAsyncWorldEdit
LuckPerms
GriefPrevention
Nucleus
NucleusMixins

[2017-04-23 20:34] codeHusky commented on #1316
I'll also note that this is also broken with TypeToken serialization with configuration nodes.

[2017-04-23 23:35] Sir-Will commented on #1315
Thanks, in which build can I find that implementation?

[2017-04-24 04:09] gabizou commented on #1316
This should be fixed with the latest commits from yesterday. Verify it's still an issue on the latest builds, if not close the issue.

[2017-04-24 04:12] gabizou commented on #1315
Look [here](https://www.spongepowered.org/downloads/spongeforge/bleeding/1.11.2) and expand the builds with `...` buttons to view the commits for the submodules (SpongeCommon). Shows up being 2286

[2017-04-24 05:05] Sir-Will commented on #1315
Oh, didn't see the dots.
Will this be added to 1.10 too?

[2017-04-24 08:57] Faithcaio commented on #1316
@gabizou ItemStack#toContainer seems to be working now but Entity#toContainer (and possibly others?) are not working yet.

e.g.:
[code]
[code]

[2017-04-24 13:37] ziceptor opened #1321 "Null Item found!"
Made a new server. After each run: https://gist.github.com/ziceptor/9f0fc0f2b6c396659a60d0bd0b9a933d

forge-1.11.2-13.20.0.2282-universal.jar
spongeforge-1.11.2-2282-6.0.0-BETA-2287.jar

Other mods/plugins no. The client is not connected.

[fml-server-latest.log](https://gist.github.com/ziceptor/b06bb304d6c223e648dfed97b9b858b7)
[latest.log ](https://gist.github.com/ziceptor/d06070a432b36b7f4b1b3e

[2017-04-24 13:53] stephan-gh commented on #1319
Please re-open this as SpongeAPI issue: https://github.com/SpongePowered/SpongeAPI/issues

[2017-04-24 13:53] #1319 closed, assigned to nobody

[2017-04-24 13:59] stephan-gh commented on #1295
`SpongeChunkTicketManager` exists only on SpongeForge. Please re-open this issue on the SpongeForge issue tracker: https://github.com/SpongePowered/SpongeForge/issues

[2017-04-24 13:59] #1295 closed, assigned to nobody

[2017-04-24 14:02] stephan-gh commented on #1308
@Faithcaio Can you take a look at this?

[2017-04-24 15:37] randombyte-developer commented on #1307
I'll test it soon.

[2017-04-24 15:50] codeHusky commented on #1316
The related data translators (CONFIGURATION_NODE) seem to be broken as well since the furthest back version I tested (vanilla 217)

[2017-04-24 19:15] gabizou commented on #1316
Separate issue, keep on topic.

Gotcha, I'll have a fix out sometime today.

[2017-04-24 19:17] LemADEC commented on #1295
https://github.com/SpongePowered/SpongeForge/issues/1463

[2017-04-24 19:20] Eufranio commented on #1295
😛

[2017-04-25 06:30] randombyte-developer commented on #1307
@Minecrell Am I supposed to do `DataFormats.JSON.write(container)` and write that string as the value of the config node? Doing it this way works but doesn't look the same as before.

Example:
Before:
[code]

Now:
[code]

I am just asking to confirm I am doing it the correct way.

[2017-04-25 15:43] BrainStone opened #1322 "When giving Levels directly (with /xp <level>L) player.get(Keys.TOTAL_EXPERIENCE) isn't updated"
When players recieve levels directly via the `/xp <level>L [player]` command the value of `player.get(Keys.TOTAL_EXPERIENCE)` remains unchanged. However the value is correct when reciving XP orbs or using the `/xp <experience> [player]` command.

**I am currently running...**

- SpongeVanilla version: 1.11.2-6.0.0-BETA-253, 1.11.2-6.0.0-BETA-252 and 1.11.2-6.0.0-BETA-243
- Java version: 1.8.0_121

[2017-04-25 21:16] xF4m3 commented on #1241
This issue seems to be back again, we do not get squid spawns at all with sponge installed.
We also found this issue aswell #1432 , but we also turned up the spawn caps that are mentioned there, and this did not help either. I would like to reopen this issue.

    Minecraft: 1.10.2
    SpongeAPI: 5.2.0-SNAPSHOT-a3257a0
    SpongeForge: 1.10.2-2281-5.2.0-BETA-2274
    Minecraft Forge: 12.18.3.2281

[2017-04-27 21:09] BrainStone commented on #1322
Also I noticed that when enchanting or repairing the value doesn't decrease.

[2017-04-27 23:44] ryantheleach commented on #1322
Does receiving experience by an orb, after gaining it with the command, give you the correct total?

[2017-04-28 02:19] parlough commented on #1153
So it seems the padding's style is set to the style of the "title". I'm not necessarily sure why, but instead maybe we could keep coloring of the padding and just remove the style such as bold, italic, etc.

The affected line is in the [pagination calculator](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/service/pagination/PaginationCalculator.j

[2017-04-28 13:12] BrainStone commented on #1322
@ryantheleach no it does not.

[2017-04-28 13:46] stephan-gh commented on #1322
When I tried to reproduce @BrainStone's bug report on SpongeVanilla I noticed that the total experience and the experience levels are tracked separately (and also saved separately) in the internal Minecraft server. I'm not entirely sure in which cases it converts between these values (I haven't checked yet).

[2017-04-29 09:01] Faithcaio commented on #1320
fixed in https://github.com/SpongePowered/SpongeCommon/commit/ba06972bdd9d87052f08de922132d151f9ec666b

[2017-04-29 09:01] #1320 closed, assigned to Faithcaio

[2017-04-29 09:46] #1308 closed, assigned to Faithcaio

[2017-04-29 11:43] #1321 closed, assigned to nobody

[2017-04-29 17:12] poqdavid opened #1323 "Problem with DataFormats.NBT for saving and reading stack data"
Here is my source for saving and reading data https://github.com/poqdavid/VirtualTool/blob/master/src/main/java/io/github/poqdavid/virtualtool/Utils/Tools.java and it messes up all books like this in the image http://imgur.com/a/slBAs also a sample NBT data that my plugin saves from a itemstack https://www.dropbox.com/s/qazpjuy2g7s7n0d/data.dat?dl=0

- SpongeForge version: 5.2.0-BETA-2229

[2017-04-29 17:23] XakepSDK opened #1324 "Sponge world generator crash"
[code]
Mods:
BiomesOPlenty 6.1.0-2202

SpongeForge-1.11.2-2282-6.0.0-BETA-2288

How to:
1. Teleport to nether
2. ???
3. PROFIT!

[2017-04-29 22:31] #1324 closed, assigned to nobody

[2017-04-30 10:57] poqdavid commented on #1323
I just checked with latest stable version and I have the same problem

[2017-04-30 11:12] dualspiral commented on #1323
I think this is the same issue as https://github.com/SpongePowered/SpongeCommon/issues/509 in that the data manipulator for "writable" books saves the data into the wrong format - I imagine you get conversion issues in the same way as the table in https://github.com/SpongePowered/SpongeCommon/issues/1198#issue-207095837?

[2017-04-30 12:49] XakepSDK opened #1325 "Game registry -> getType -> empty optional"
`Sponge.getRegistry().getType(Key.class, "dye_color");`
This returns empty optional. Is it ok? Tried on this commit
https://github.com/SpongePowered/SpongeCommon/commit/08ed602607aed0e4e719266e5bf9f667dcc4fa0f
SpongeForge.

[2017-04-30 15:04] poqdavid commented on #1323
Well i made it in my source to check and deal with errors so it wont load items if there is a error with them and the odd thing is this wont throw any errors and yes looks like there are problems with that part and if those get fixed as soon as possible it will be really good

[2017-04-30 19:00] ST-DDT commented on #1325
Try `sponge:dye_color`

[2017-04-30 22:05] jaymsDooku opened #3046 "negative potion amplifiers not allowed"
There are some potion effects that accept a negative amplifier such as the Jump Boost Potion Effect, but I'm unable to build a Potion Effect with a negative amplifier because the builder does not accept negative amplifier values.

[2017-05-01 11:43] XakepSDK opened #1326 "Is it right behaviour? Google guice"
Injector won't inject some provided instances automatically. Is it right behaviour?
E.g.
How to reproduce:
1. Create main plugin class
2. Create second class
3. In annotate variable with Inject(e.g. Logger object)
4. Add method to log something
5. In main class, create our second class and execute method, to log something
6. ????
7. PROFIT!

Example classes:
[code]

[2017-05-01 12:17] ST-DDT commented on #1326
I assume you will get an NPE in your `logger.info` line. This behaviour is to be expected. Because you don't pass your newly created instance to the guice injector, thats why it is not injected.
Unfortunately I don't know how to fix that/trigger the injection myself, i usually expose the logger via the plugin instance that I pass during instance creation.

[2017-05-01 13:01] dualspiral commented on #1326
Yes, this is the correct behaviour. If you _really_ wanted to use the injector to create your second class, you would need to:

* Add the field `@Inject private Injector injector;` to your `Main` class, so you can get the `Injector` for your plugin (Sponge does this injection for you on your plugin class _only_).
* Use `injector.getInstance(SecondClass.class)` to create your class, or `injector.in

[2017-05-01 13:01] #1326 closed, assigned to nobody

[2017-05-01 13:16] xF4m3 opened #1327 "[1.10.2] EnderDragon crashes server when nearly dead ontop of the portal"
Sometimes when we spawn an EnderDragon and try to kill him, when there is around 1/5-1/7 of the health left, it crashes the Server while the Dragon is sitting on top of the portal. If that Happens the only way to kill him is using commands.

SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 5.2.0-SNAPSHOT-a26c654
    SpongeForge: 1.10.2-2281-5.2.0-BETA-2291
    Minecraft Forge: 12.18.3.2281

I adde

[2017-05-01 13:23] stephan-gh commented on #1326
The solution @dualspiral explained above works, but in fact all you need to do to make it work is to `@Inject` your `SecondClass`:

[code]

[2017-05-01 16:19] XakepSDK opened #1328 "Player.sendMessage(TranslatableText)"
Player.sendMessage(TranslatableText) send translation key. Is it ok?
I can get manually right translation, using TranslatebleText.getTranslation().get(Locale).

[2017-05-01 16:27] XakepSDK commented on #1325
Yep, it works with `sponge:`

[2017-05-01 17:59] stephan-gh commented on #1328
Please use IRC for questions like this.

You can use `TranslatableText` using any translations available on the client (e.g. the ones added by Mojang for Vanilla Minecraft and the ones added by client mods) but sending custom translations is not possible using `TranslatableText`.

[2017-05-01 17:59] #1328 closed, assigned to stephan-gh

[2017-05-01 18:02] ST-DDT commented on #1328
The translatable key only works if the client has a translation for that key in his reourcepacks. If you execute the later code on the server the server will use his internal translations to translate it server side. If the side does not have a translation it will return/show only the translation key

[2017-05-01 20:03] bloodmc commented on #1241
I cannot reproduce this issue. With only SpongeForge and raising the aquatic spawns in config to a high number shows many squids. Make sure to update to latest SF and raise aquatic spawn cap if you want more squids.

[2017-05-01 20:03] #1241 closed, assigned to nobody

[2017-05-02 07:38] #492 closed

[2017-05-02 08:06] vectrixdevelops opened #1329 "Pistons sometimes dissapearing"
**I am currently running...**

- SpongeVanilla version: 1.11.2-6.0.0-BETA-255
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2292
- Java version: 8

Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

**What is the expected result?**
Pistons / Sticky Pistons should not disappear at all after being used.

**What is the current result?**
Sometimes when a piston o

[2017-05-02 08:12] johnfriedrich commented on #1329
Latest is not a version.
We experience that too. It's a thing since that build that changed causetracker to be global or something like that. It was already fixed before that commit.
We are on
Forge: 2281
SF: 2292

[2017-05-02 15:33] #1329 closed, assigned to nobody

[2017-05-02 16:46] XakepSDK opened #1330 "Configuration default values"
If i do like this:
[code]
No default value saved in configuration file.

Currently i have this monstrous "fix":

[code]

Is it right?

[2017-05-02 18:01] Deamon5550 commented on #1330
`getString(default)` returns the node as a string or the given default value of not found. It does not set that default value back to the configuration node. If you want to set default values into a configuration to save it you have to actually set them.

Any further issues with configurate should be opened with them https://github.com/zml2008/configurate

[2017-05-02 18:01] #1330 closed, assigned to nobody

[2017-05-03 01:45] LXGaming opened #1331 "[1.10.2] Invasion server crash"
Invasion modpack server crashes when a player gets near a mobspawner containing a wasp from BiomesOPlenty. (Found mob type when checking affected region data in NBT editor)

Crash Report:
[cZJT8s8b.txt](https://github.com/SpongePowered/SpongeCommon/files/972314/cZJT8s8b.txt)

Minecraft: 1.10.2
SpongeForge: 1.10.2-2281-5.2.0-BETA-2300
Minecraft Forge: 12.18.3.2281
Operating System: Linux

[2017-05-04 00:36] TheRaspPie opened #1333 "Cannot load custom world"
When trying to load a world programmatically, the following warning occurs:
`[02:32:14 ERROR] [Sponge]: Unable to load world [.\world\lobby-world\play-world]. We cannot find its folder under [.\world\lobby-world].`

The folder structure is as follows:
- world
- - lobby-world
- - play-world

All three worlds are generated top-level worlds which were copied and renamed (which should be possible!).
I

[2017-05-04 21:58] #1153 closed, assigned to stephan-gh

[2017-05-05 00:25] parlough commented on #3046
I'm curious on others opinion on this. It seems these effects can have an amplifier from -128 to 127(range of a signed byte) due to storage in NBT. I was thinking something like this could be done:

![image](https://cloud.githubusercontent.com/assets/18372958/25729970/b8dc27f8-30fe-11e7-9dec-20dca270453c.png)

The only problem is you really can define in other integers, but they will of course we

[2017-05-05 02:36] Mohron opened #1334 "IllegalArgumentException while attempting to serialize an ItemStack"
**I am currently running...**
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2300
- Java version: 1.8.0_121
- Operating System: Win 10

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, InventoryProtect, mercurius_updater, LuckPerms, Nucleus

**What is the expected result?**
Serializing an ItemStack without crashing

**What is the current re

[2017-05-05 04:24] #1230 closed, assigned to nobody

[2017-05-06 10:04] ST-DDT commented on #3046
Have a look at the current javadocs https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/effect/potion/PotionEffect.java#L136 just alter them a bit and use the impl you suggested.

[2017-05-06 11:46] sintaxcz opened #1336 "New dimension with gregtech"
Hello i have problem when i entering portal to another dimension for a first time (generating new world)
i got server error for
[gregtech]: at org.spongepowered.common.event.tracking.CauseTracker.notifyBlockOfStateChange(CauseTracker.java:402)
and server stucks and i get nonstop of theese gregtech errors but normal overworld vas generated ok with no errors

with new version of sponge 1.10.2-2281-5

[2017-05-06 11:53] dualspiral commented on #3130
@gabizou

I've been looking at this, and while any solution here shouldn't be too difficult to implement (I have a mostly working solution with tests for this specific case), I'm hesitant to commit any change to this because I think that the change to do this might be further ranging than first thought.

The problem is indeed that lists (and maps, for that matter), allow for there to be child maps

[2017-05-06 16:46] gabizou commented on #3130
I elect for the first option. Much like having to stick an artificial boolean key value on `NBTTagCompound`s to deserialize a boolean value instead of a short value is one of those ways we'll have to tackle it.

[2017-05-06 20:52] Deamon5550 commented on #1336
We need the full log from your server

[2017-05-06 22:48] lesbleu opened #1337 "Mule doesn't has TamedOwner"
- SpongeVanilla version: 1.11.2-7.0.0-BETA-262
- Java version: Java 8
- Operating System: Linux (Debian), Windows
- Plugins/Mods: No mods, No plugins

The key "TAMED_OWNER" doesn't works to mule.
Solution : In [HorseTameableDataProcessor.java](https://github.com/SpongePowered/SpongeCommon/blob/da0d5d4fc6adb926562f596a94f9961c0164e5d2/src/main/java/org/spongepowered/common/data/processor/data/entit

[2017-05-07 09:41] Xfel commented on #3130
I'd like to put out a remark here: When serializing data into configuration nodes, it is very likely that this is done to allow users to edit it in the text file. In that case, it is easy to overlook those private keys.

Another thing I noticed is that if I use getMap on a key where I stored a DataView before, said DataView will automatically be converted to a map and returned. Wouldn't that be th

[2017-05-07 11:45] dualspiral commented on #3130
My current work on this suffixes keys with `$DataView`, so if you serialised a `DataView` that contains child `DataView`s, this would keep your node structure intact, but make it obvious where the data views were.

However, I've been thinking about this and there are edge cases this won't account for, namely, if you have a list of `Object`s in a list, some of which might be data views. In that cas

[2017-05-07 15:14] BrainStone commented on #1276
I think I accidentally managed to find the core issue.

When trying to to get a PotionEffect from a DataContainer with this code:

[code]

I get this error:

[code]
*(Stacktrace shortened and simplified)*

Not sure what format SpongePotionBuilder expects but it's not `effect.absorbtion`.

[2017-05-07 15:19] SjsolisZXA commented on #1276
If so, that's great! Thank you for taking the time to test this :D

[2017-05-07 15:22] BrainStone commented on #1276
As I said I accidentally stumbled over it. I was trying to bypass the issue that `container.getSerializableList(POTION_EFFECTS, PotionEffect.class)` did always return `Optional.empty()` and resorted to getting it as a DataView list and using streams to convert it to PotionEffects. Where I called `PotionEffect.builder().build(potionContainer)` and it crashed.

[2017-05-07 17:00] stephan-gh commented on #762
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/651

[2017-05-07 17:00] #762 closed

[2017-05-07 17:02] stephan-gh commented on #848
@dualspiral Can you take a look at this issue? Is it still an issue with your refactor in https://github.com/SpongePowered/SpongeCommon/pull/905?

[2017-05-07 17:03] dualspiral commented on #848
Yep, will put this on the pile to look at.

[2017-05-07 17:06] stephan-gh commented on #927
Pretty sure this is fixed in https://github.com/SpongePowered/SpongeCommon/pull/1020. Comment here if this is still happening :)

[2017-05-07 17:06] #927 closed

[2017-05-07 17:17] stephan-gh commented on #1333
Can you post the code you're using to load the world?

[2017-05-07 17:18] stephan-gh commented on #1336
Please re-open the issue with a full log on https://github.com/SpongePowered/SpongeForge/issues

[2017-05-07 17:18] #1336 closed, assigned to nobody

[2017-05-07 17:36] Deamon5550 commented on #3130
Its been on my todo list for a while to remove maps and indeed any object from being stored in a dataview without being converted to a dataview. Right now another issues is that you can put any old non-serializable object into a dataview and it will just accept it, and then brick itself when you try and actually serialize the dataview. I think we want to catch those objects when they are inserted

[2017-05-07 21:02] Faithcaio commented on #1316
@gabizou
Snapshots are affected too. (ItemStackSnapshot, BlockSnapshot, EntitySnapshot)

[2017-05-08 15:26] BrainStone opened #1339 "Selectors are only accepting internal names like @minecraft:all_players instead of @a"
Currently selectors being parsed by `Selector.parse` are not accepting the vanilla names `@a`, `@p`, `@r`, `@e`.

According to @Deamon5550 it has been introduced in https://github.com/SpongePowered/SpongeCommon/commit/9d594880e16905f61784f37d0bc890da05981caf#diff-8a5cb22781e1c7adcaf6e572dd7f6710R36

Test case:
[code]

**What is the expected result?**
`@a` or `@minecraft:all_players`

**What is the

[2017-05-08 15:29] BrainStone commented on #1339
Also see NucleusPowered/Nucleus#771

[2017-05-08 17:04] BrainStone commented on #1322
Any updates so far?

[2017-05-08 20:14] dualspiral commented on #1322
I know what the issue is, I'm just unsure as to whether something should be done about it, and if so, whether it should be optional, because it's fundamentally a Vanilla issue - if indeed, it is an issue (and I'll explain my thinking in a moment).

The problem is, as stated, that the Minecraft server tracks total experience and levels (and the current fraction of experience between two levels) sep

[2017-05-08 20:22] parlough commented on #1322
@dualspiral I don't see a point of it being optional. When would there be a need to control them separately. It just causes confusion for you as a plugin developer but also other plugins manipulating experience.

Having it as an optional mixin makes plugin developers not know what functionality to expect and is harder to develop for.

If Minecraft has these insurances we should too.

I think this

[2017-05-08 20:51] #1339 closed, assigned to dualspiral

[2017-05-08 21:19] lesbleu opened #1340 "Error PaginationService"
- SpongeVanilla version: 1.11.2-7.0.0-BETA-264
- Java version: Java 8
- Operating System:

 - [x] Linux (Debian)
 - [ ] macOS
 - [x] Windows
- Plugins/Mods: No plugins, no mods.

After when player die, the pagination doesn't work correctly.
Example : ![Error](http://image.noelshack.com/fichiers/2017/19/1494278210-2017-05-08-22-36-25.png)

[2017-05-08 23:43] BrainStone commented on #1279
Please do so!

[2017-05-09 01:10] parlough opened #1342 "Unexpected mixin injection logging related to RayTraceResult"
**I am currently running...**
- SpongeVanilla version: 1.11-2-7.0.0-BETA-264
- Java version: Java 1.8_131
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:

Nucleus - Occurred without Nucleus as well
My Testing Plugin - Not related

**What is the expected result?**

No mixin injection point search appearing in my console.

**What is the cur

[2017-05-09 01:11] parlough commented on #1342
I believe @connorhartley was experiencing this as well if he has any input.

[2017-05-09 03:08] parlough commented on #3046
Okay so I played around with this and messing with the amplifiers is very unreliable. Negative amplifiers didn't work well or even at all from the effects I tested despite what is on the Minecraft wiki. Large numbers didn't work too well either.

I'll need to look into this more as I may be missing something, but we simply pass the amplifier from the builder into the potion effect so I'm not sure.

[2017-05-09 14:43] stephan-gh commented on #1340
What exactly did you type in the chat to get this error?

[2017-05-09 15:10] dualspiral commented on #1340
It's not completely clear, but what @lesbleu is referring to is the fact that Sponge does not track the last viewed pagination for a player across player deaths. You can reproduce this by typing `/help`, dying then `/page 2`.

The reason is that the Pagination system stores a weak reference to the `MessageReceiver`. When a player dies, their `EntityPlayerMP` object is recreated, and the old one di

[2017-05-09 23:03] sleiss commented on #1298
I've added some debug to a custom version, it seems that some (all?) villagers of ExtraUtils2 have no career. These villagers are named "shady_merchants" and as they don't have a career, an error occurs while selecting one the careers (guess what, none is there..).
I've added a workaround on a custom SpongeForge-Version (the relevant code is located in SpongeCommon) based on SF2300, however I'm no

[2017-05-10 01:26] parlough commented on #1340
I was trying to think of the best way to solve this as I need to handle something similar for conversations as well. There are a few solutions but I cannot think of any that are too clean.

[2017-05-10 04:40] DawnTheFawn1 opened #1344 "Retrieving SlotIndex not working as expected"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2312
- Java version: 1.8.0_91
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods: LuckPerms, Pixelmon, Pixelmon-Daycare(hybrid plugin I was testing this on)

**What is the expected result?**
When I run the code provided, it will show the index of the clicked slot
**

[2017-05-10 08:58] dualspiral commented on #1340
The major problem is with the lookup. A weak map is a very good solution because it effectively cleans up after itself, most other solutions that I have would require manual cleaning of the map, probably by scheduled task.

What I am going to try to do is see if there is some sort of (safe) token associated with a logged in player that gets removed when a player logs out. That way, I can use a wea

[2017-05-10 14:22] stephan-gh commented on #1340
In my opinion, all player entries should be tracked using their UUIDs. There is no need to remove the pagination immediately when the player leaves the server as you might just be experiencing some connection problems. This could be implemented using a cache from Caffeine or Guava where entries expire after a while. Of course, not every `MessageReceiver` has an UUID so they would need to be handle

[2017-05-10 14:46] #1342 closed, assigned to nobody

[2017-05-10 15:09] dualspiral commented on #1340
Yeah, that was my other option, split the lookup map into two, one UUID based, one MessageReceiever based. Might just do that, easier in the long run.

[2017-05-11 00:31] #1297 closed, assigned to nobody

[2017-05-11 05:43] vectrixdevelops opened #1345 "Ride entity event not firing"
**I am currently running...**

- SpongeVanilla: 1.11.2-7.0.0-BETA-263
- Java version: 1.8.0_91

Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods: ElderGuardian, WorldEdit, Precogs, Guardian, VoxelSniper

**What is the expected result?** The event to fire for mounting and dismounting entities.

**What is the current result?** The event never

[2017-05-11 16:59] #1337 closed, assigned to nobody

[2017-05-11 19:52] randombyte-developer opened #1346 "NullPointerException in ConfigurateTranslator"
**I am currently running...**

- SpongeForge version:
- SpongeVanilla version: `1.11.2-6.1.0-BETA-3`
- Java version: `openjdk version "1.8.0_111"`
- Operating System:

 - [X] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
  - Only the test plugin pasted below

**What is the expected result?**
Ähm, no exception.
**What is the current result?**
A NPE.

Stacktrace: h

[2017-05-11 19:55] simon816 commented on #1346
I believe this is the same as https://github.com/SpongePowered/SpongeCommon/issues/1142

[2017-05-11 22:35] dualspiral commented on #1142
Yes, the ConfigurateTranslator has a lot of problems with it. As part of https://github.com/SpongePowered/SpongeAPI/issues/1543, I've spent a bit of time looking into it and have found myself re-writing a fair amount of it. I froze work on it because @Deamon5550 indicated that he plans to change what DataViews store - so I stopped pending such a change, but now I realise it's still important that

[2017-05-12 17:55] XakepSDK opened #1347 "Inventory slot set"
This:
`Inventory.query(SlotIndex.of(0)).set(ItemStack);`
sets slot 9(first - 0)
This:
`Inventory.query(SlotPos.of(0,0)).set(ItemStack);`
sets slot 0

Inventory creating:
[code]

[2017-05-12 20:36] randombyte-developer opened #1348 "BlockState gets serialized as CatalogType to config with ObjectMapping"
**I am currently running...**

- SpongeForge version:
- SpongeVanilla version: `1.11.2-6.1.0-BETA-3`
- Java version: `openjdk version "1.8.0_111"`
- Operating System:

 - [X] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
   - Only the test plugin

**What is the expected result?**
`BlockState` getting serialized as a BlockState in the config, so like

[code]

**Wh

[2017-05-12 20:37] randombyte-developer commented on #1346
@simon816 You are right, I just worked around it now by not using `BlockState` as a key.

[2017-05-12 20:37] #1346 closed, assigned to nobody

[2017-05-13 03:56] DarkArc opened #1349 "Overzealous PositionOutOfBoundsException"
Version info:
[code]

When killing an entity the following exception occurs, despite the position being within the given bounds:
[code]

[2017-05-13 05:04] kashike commented on #1349
The `y` coordinates of `org.spongepowered.common.mixin.core.world.MixinWorld#BIOME_MIN` and `org.spongepowered.common.mixin.core.world.MixinWorld#BIOME_MAX` don't use the `y` coordinates from `org.spongepowered.common.mixin.core.world.MixinWorld#BLOCK_MIN` and `org.spongepowered.common.mixin.core.world.MixinWorld#BLOCK_MAX`.

[2017-05-13 20:01] Zerthick opened #1350 "Enchanting, Anvil, & Brewing Inventories don't contain InputSlots"
**I am currently running...**

- SpongeForge version: 1.11.2-2282-6.0.0-BETA-2297
- SpongeVanilla version: --
- Java version: 1.8.0_45
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows

**What is the expected result?**
`inventory.query(InputSlot.class)` on an enchanting table inventory should return the two input slots of the inventory (one for the item, o

[2017-05-13 20:51] Zerthick commented on #1350
The same is also true for anvils and brewing stands.

[2017-05-14 04:44] Favorlock opened #1351 "Possible Deadlock w/ Existing World"
**I am currently running...**
- SpongeVanilla version: 1.11.2-6.1.0-BETA-3
- Java version: 1.8.0_121
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods: no plugins

**What is the expected result?**
Player joins, server continues on as normal.

**What is the current result?**
Player joins, cpu usage becomes excessive, and players will lose co

[2017-05-14 09:28] #1350 closed, assigned to nobody

[2017-05-14 10:00] NeumimTo commented on #1344
@JBYoshi Its not working, using your code you wrote in my pr

Im facing problem which might related to this issue.

listening to the event ClickInventoryEvent

[code]

returns correct value as excepted, however listening to the event ChangeInventoryEvent.Pickup

[code]

Returns an empty optional.

@RysingDragon Even its not recommanded and someone will yell at me again, but if you need it typecast

[2017-05-14 10:20] Faithcaio commented on #1344
@NeumimTo The issue with the Pickup Event is that the transaction did not happen yet. (the other events are fired after the transaction and are rolled back when canceled)
You cannot know the Slot for sure at this time.
Also don't use SlotAdapter^^

[2017-05-14 11:42] Faithcaio commented on #1344
fixed in 63910c74

[2017-05-14 11:42] #1344 closed, assigned to Faithcaio

[2017-05-14 12:21] #1340 closed, assigned to dualspiral

[2017-05-14 13:26] NeumimTo commented on #1344
@Faithcaio good to know. How does one get the slot into which will be the picked up item assigned? Is there any event which is called after the transaction is processed?

[2017-05-14 15:06] dualspiral commented on #1348
Based on 53f44ab, I would think that the intention is that the `CatalogTypeTypeSerializer` should override the `DataSerializableTypeSerializer`, not the other way around as you suggest. That would make sense, as the catalog ID would be all that is needed to recreate the data structure in that scenario. It seems to me that _serialising_ is working fine, but the problem is that Configurate selects a

[2017-05-14 15:26] dualspiral commented on #1348
[I used this test code](https://gist.github.com/dualspiral/093d818440f9bb267e8c09333ec137fd) to test that my fix works successfully, results are below it. It confirms that `DataSerializables` that are not `CatalogTypes` can still be processed as before. `CatalogType`s will now _always_ go through the `CatalogTypeTypeSerializer`.

[2017-05-14 15:27] #1348 closed, assigned to dualspiral

[2017-05-14 15:52] Faithcaio commented on #1344
You cannot know for sure before it actually happens.
Don't think there is currently.

[2017-05-14 18:00] Zerthick opened #1352 "Utilizing Legacy Data Registration Provided by Sponge Throws IllegalArgumentException"
**I am currently running...**

- SpongeForge version: 1.11.2-2282-6.0.0-BETA-2297
- SpongeVanilla version: --
- Java version: 1.8.0_45
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

**What is the expected result?**
Sponge should give a warning that ID's need to be transferred over to the new system, but the plugin should still function.
**What is the c

[2017-05-15 14:25] Favorlock commented on #1351
So I'm experiencing this problem even with newly generated worlds. Server locks up once a player joins.

[2017-05-15 15:32] gabizou commented on #810
This has long since been resolved.

[2017-05-15 15:32] #810 closed

[2017-05-15 15:35] #561 closed

[2017-05-15 15:37] gabizou commented on #741
This should be resolved after the heavy refactor of explosions and how they are processed. Granted one of the issues with the current processing is some notifications are not being fired in SpongeVanilla, which leads me to believe this issue itself is fixed.

[2017-05-15 15:37] #741 closed

[2017-05-15 15:48] #1349 closed, assigned to nobody

[2017-05-15 15:55] gabizou commented on #1352
This was fixed a while ago. Go ahead and bump to the latest stable versions (SpongeForge wasn't building stable-6, but it finally built one now).

[2017-05-15 15:55] #1352 closed, assigned to nobody

[2017-05-15 20:40] Faithcaio commented on #1316
probably all fixed in 3634fcb0

[2017-05-15 20:40] #1316 closed, assigned to nobody

[2017-05-16 06:24] widd commented on #3046
@Meronat Negative amplifiers are supported by Minecraft and should therefore be supported by the API - limiting the amplifier to the NBT-supported range should be enough (after all, it's already limited to > 0).

[2017-05-16 09:55] XakepSDK opened #1353 "Custom data issue"
I made custom data. This data will be 'hidden', if i drop and take my item. If i drop, take and move item - data will appear. After some tests, if found, that DataBuilder#build(DataView) isn't called, when i pickup item. In other cases(rejoin, move item in slot, sometimes on inventory open) - method is called.

Tested on: spongevanilla-1.11.2-7.0.0-BETA-268
Test code: https://gist.github.com/Xakep

[2017-05-16 13:39] lucko opened #1354 "World#getContext returns null"
**I am currently running...**

[code]
- Plugins/Mods:
[code]

`World#getContext` is returning null here.
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/service/permission/SpongeContextCalculator.java#L84

Here's a stack trace for that: https://paste.lucko.me/5TrmYEvpgw

[code]

is just me catching the null element being added.
[code]

I guess thi

[2017-05-16 17:45] #1354 closed, assigned to dualspiral

[2017-05-16 18:51] BrainStone opened #1355 "AbstractMethodError when calling player.offer(Keys.GAME_MODE, gameMode, cause)"
When running the call `player.offer(Keys.GAME_MODE, gameMode, cause)` *(`player` being an `org.spongepowered.api.entity.living.player.Player`, `gameMode` an `org.spongepowered.api.entity.living.player.gamemode.GameMode`, and `cause` an `org.spongepowered.api.event.cause.Cause` object)* I get an `java.lang.AbstractMethodError`, indicating the method is not implemented.

**I am currently running...*

[2017-05-16 19:48] BrainStone commented on #1355
Releated:
https://pastebin.com/n2gtB7bM

I added `-Dmixin.checks.interfaces=true` when starting the server and also called `/sponge audit` as asked by @Deamon5550

[2017-05-17 03:31] widd opened #1356 "Offering spectator mode to a player does not work correctly"
`player.offer(Keys.GAME_MODE, GameModes.SPECTATOR);`
will result in a somewhat "incomplete" spectator state:
* Player is entirely invisible rather than a transparent head box being shown
* Player does **_not_** have no-clipping ability

Setting the gamemode manually via `/gamemode 3` works normally even if the player is in this pseudo-spectator state.

[2017-05-17 04:33] Favorlock commented on #1347
Can confirm that this does happen.

[2017-05-17 13:48] JBYoshi commented on #1222
I've got some code for this. I'm just trying to fix up some messed merges, then I'll put up a PR.

[2017-05-17 14:31] stephan-gh commented on #1351
I can't reproduce this on new worlds using `1.11.2-6.1.0-BETA-3`. Can you test the latest build and check if it still happens? If it still happens, can you try giving the server a bit more memory? (e.g. `-Xmx2g`). Just trying to rule out some potential causes.

[2017-05-17 15:14] Favorlock commented on #1351
Tried with BETA-5 and it doesn't appear to be spiking like Beta-3 was for me. I'm not sure if something external was effecting the performance or what, but for now all I can assume is that it resolved itself. If it occurs again I'll see if I can gather some more information.

[2017-05-17 16:22] gabizou commented on #1351
@Minecrell why is this tagged with cause tracker?

[2017-05-17 16:41] stephan-gh commented on #1351
@gabizou When I checked the YourKit snapshot by @Favorlock it looked like a cause tracking problem, but after I checked again now it could be something different as well.

[2017-05-17 21:11] Cybermaxke commented on #1356
This is caused by the fact that the gamemode of a player can also be set in the tab list, and if the two gamemodes don't match, behavior like this may occur.

[2017-05-18 05:44] gabizou commented on #1356
Need some version information on which this is occurring.

What do you mean "this"? The data processor that is performing the game mode change is performing the *exact* same method call as if you were to run the game mode command, there's no tab list modification that needs to take place to make the player a floating head etc.

[2017-05-18 08:30] widd commented on #1356
Happens on SpongeVanilla and SpongeForge - MC 1.11.2 (SpongeAPI 6.1.0).

[2017-05-18 12:49] Cybermaxke commented on #1356
@gabizou The client player uses 2 different gamemodes, the one set through http://wiki.vg/Protocol#Change_Game_State and one set through http://wiki.vg/Protocol#Player_List_Item, if they don't match on the client, the behavior that @widd specified can occur. I figured this out a while back when I was playing around with those packets.

[2017-05-18 14:29] JBYoshi commented on #1356
Cannot reproduce. SpongeForge build [2343](https://github.com/SpongePowered/SpongeForge/commit/5e341306df1215f0787f4cf4262e23589a2da93d) (latest stable 1.11.2) in a development workspace.

Test plugin:
[code]

@Cybermaxke The method used internally sends both packets.

[2017-05-18 18:36] Cybermaxke commented on #1356
@widd Are you also interacting with the TabList api?

[2017-05-18 18:37] widd commented on #1356
@Cybermaxke Not at all. The code I posted is the only thing I'm doing as of right now.

However it occurs upon respawn (dying puts the player in spectator mode once they respawn) - could that be related?

[2017-05-18 19:52] Cybermaxke commented on #1356
When a Player dies, the player will be regenerated both on the server and client side, this will reset almost everything.
I think I may have an idea why the issue occurs, but I will have to test some things to confirm it.

[2017-05-18 23:04] Cybermaxke commented on #1356
Ok, I can also not reproduce the issue with the latest bleeding version. The only ways that is issue can occur are:
- Changing a players tab list entry game mode, to one that doesn't match the players game mode
  -> Can be fixed by setting the proper game mode
- Removing a player from it's own tab list, and then updating the game mode
  -> Can be fixed by readding the player, and setting the prope

[2017-05-19 07:57] ryantheleach commented on #1356
Is another mod or plugin interacting with the tablist?

[2017-05-19 09:39] ryantheleach commented on #1325
@Minecrell Can this be closed, or is this waiting on some form of aliasing?

[2017-05-19 10:39] stephan-gh commented on #1325
I'm not sure, that's the question :P We normally default to `minecraft:` when no explicit prefix is given, however we don't have any `minecraft:` keys in Sponge. Would it make sense to default to `sponge:` in this case?

[2017-05-19 10:55] dualspiral commented on #1325
IMO, if we don't have any `minecraft:` keys (or any specific catalog type) in Sponge, then it _doesn't_ make sense to make that the default at all for that case - though the problem is that by doing so, the goalposts are shifting for each catalog type, some will default for `minecraft:`, some to `sponge:`, and there is no (easy, developer friendly) way to determine which one would be which unless

[2017-05-19 11:00] XakepSDK commented on #1325
I think, is better to warn devaloper and search in all catalog types for that type and print it.
E.g.
[Warn] Xxx not fount in yyy registry! May be you want zzz:xxx or bbb:xxx?

[2017-05-19 11:50] ryantheleach opened #1359 "Fix minecraft /locate command for blacklisted structures?"
In deamons comment on
https://github.com/SpongePowered/SpongeCommon/pull/887#issuecomment-267802463

He states that

"
A better fix that we can do that I was talking about earlier in irc is to prune the nbt data for a structure when that structure is 'complete'. Just disabling saving breaks both the structure generation and the locate command, but 99% of the space in the nbt is the children list w

[2017-05-19 13:37] ryantheleach commented on #1165
Related: https://github.com/SpongePowered/SpongeForge/issues/568

[2017-05-19 15:44] XakepSDK opened #1361 "Biome registry forge registries"
This happens with buildcraft installed:
[code]

[2017-05-19 18:30] DenWav commented on #1325
I think it should always require it to be fully qualified in all cases. Clears up all confusion, and requires no ambiguous rules.

[2017-05-19 19:44] Deamon5550 commented on #1361
I would really like to see the rest of that stacktrace, it stops just before the only line that matters.

[2017-05-19 22:58] Mohron commented on #1334
FYI, @dualspiral recommended that I try using hocon instead of json. The change made the serialization successful but deserialization fails.

https://gist.github.com/Mohron/c038a1095ad7faa967eab4f0a562e324

https://gist.github.com/Mohron/b119b1e135d23e2c5dbd93a1b71bde50

[2017-05-19 22:59] Mohron commented on #1334
Related to #1307 perhaps?

[2017-05-20 06:29] Deamon5550 commented on #1359
I just haven't gotten around to fixing it yet, but its still on the table.

[2017-05-20 07:22] widd commented on #1356
@Cybermaxke As far as I can tell the tab list doesn't update to reflect the gamemode change - I'll see if doing it elsewhere causes the same situation.

@ryantheleach No - this is on a simple test server.

[2017-05-20 07:29] widd commented on #1356
This seems to do the trick to replicate it (tested with SpongeVanilla 1.11.2 (API 6.1.0) BETA-3):
[code]

Offering it works fine everywhere else - the tab list seems to not update correctly upon respawning if the gamemode is set at this point.

[2017-05-20 08:51] ST-DDT commented on #1325
Mhh. The CommandElement could be used to try and determine any prefixes if they are missing.

[2017-05-20 12:24] JBYoshi commented on #1361
When a stack trace says “x more”, the X remaining lines of the stack trace are shared with the last X lines from another section (plus any more “Y more” markers) - with “Caused by”, it's the one right above. In this case, it would be a reflection invocation from `RegistryModuleLoader`.

[2017-05-20 16:06] dualspiral commented on #848
Looking into this:

* carpets, rails and signs are fine (signs are passable blocks, I was able to warp straight into a sign)
* half blocks and stairs are not OK, and the safe teleportation will likely move the player sideways rather than up - with the routine as it is, it _could_ teleport a player one block up, it just doesn't currently.

I just need to tweak the algorithm a bit, which I'm doing a

[2017-05-21 05:06] Faithcaio commented on #848
@dualspiral Are you sure you teleported INTO a sign?
I keep getting placed above or next to it using `Player#setLocationSafely`.
`BlockSign` is `Material.WOOD`
Maybe check for IBlockProperties#causesSuffocation + Lava?

[2017-05-21 06:51] XakepSDK commented on #1353
Some news?

[2017-05-21 07:26] dualspiral commented on #848
Yep, I was put into the middle of the sign, rather than beside it. Odd, as you said, that probably shouldn't have worked, probably just fell onto it.

I think I'm going to do as you suggest regardless, I've been wanting to move this away from just material based as much as possible to try and cater for mods more. I just hadn't gotten around to tweaking my kernels yet.

[2017-05-21 10:03] stephan-gh commented on #1351
@Favorlock Please comment here if it happens again. I'm going to close this issue since it seems to be resolved for now.

[2017-05-21 10:03] #1351 closed, assigned to nobody

[2017-05-21 13:13] ryantheleach commented on #989
Adding on to this issue, I just attempted to remove an entity from a world in a Single Player Dev environment.

What ended up happening is the entity froze and stopped responding, presumably because it was removed on the server side and updates were never sent to the clients.

[2017-05-21 15:31] lesbleu opened #1363 "Error : DropItemEvent.Pre"
- SpongeVanilla version: 1.11.2 BETA 269
- Java version: 8 Update 131
- Operating System:

 - [x] Linux (Debian)
 - [ ] macOS
 - [x] Windows

When I remove all items in the list to event "DropItemEvent.Pre", I have this error [List Empty](https://pastebin.com/tMsUWZeH).
When I cancel event "DropItemEvent.Pre", I have this error [Cancel](https://pastebin.com/XyRPeBPj)

[2017-05-21 16:23] Zerthick opened #1364 "Utilizing Legacy Data Registration Provided by Sponge Throws NullPointerException"
**I am currently running...**

- SpongeForge version: spongeforge-1.11.2-2282-6.1.0-BETA-2343
- SpongeVanilla version:
- Java version: 1.8.0_45
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

**What is the expected result?**
Sponge should give a warning that ID's need to be transferred over to the new system, but the plugin should still function.
**What

[2017-05-21 22:44] lesbleu commented on #1270
There are the same error with bed explosion in nether world
[Logs](https://pastebin.com/njtWna7r)

[2017-05-22 21:10] caseif opened #1365 "EntityUniverse#spawnEntities returns whether event was cancelled, not whether entities were spawned"
As seen [here](https://github.com/SpongePowered/SpongeCommon/blob/3634fcb/src/main/java/org/spongepowered/common/mixin/core/world/MixinWorldServer.java#L1093), the method is returning an improper value per [its JavaDoc](https://jd.spongepowered.org/6.0.0/org/spongepowered/api/world/extent/EntityUniverse.html#spawnEntities-java.lang.Iterable-org.spongepowered.api.event.cause.Cause-). Unsure of whet

[2017-05-22 22:20] lesbleu opened #1366 "Error : DetonateExplosiveEvent"
- SpongeVanilla version: 1.11.2 Beta 269
- Java version: 8 Update 131
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

When I cancelled the explosion of TNT, the server crash with this [error](https://pastebin.com/jMBEbE6T)

[2017-05-22 22:57] Deamon5550 commented on #1365
The return is actually useless regardless of what it is changed to return. It should instead return a list of entities that were actually spawned.

[2017-05-22 23:38] caseif commented on #1365
I agree it could be improved; however, this is still a bug in API 5 and 6 implementations.

[2017-05-23 00:08] lesbleu opened #1367 "Explosion Damage Entity issue"
Hi,
The variable "shouldDamageEntities" is not used. It's correct ?
When I listen the event "DetonateExplosiveEvent" and i set "shouldDamageEntities" to false,
entities receive damage :
event.getExplosionBuilder().shouldDamageEntities(false);

[2017-05-23 06:05] gabizou commented on #1353
@XakepSDK Re-test with the builds: 1.11.2-6.1.0-BETA-6 or 1.11.2-7.0.0-BETA-270

Then re-update the gist for the new crash log or exception as it should be more informative as to what's failing.

[2017-05-23 06:54] realGWM commented on #1353
I tested on 1.11.2-7.0.0-BETA-270, and nothing changes.
Data removing from ItemStack when dropping, and applying again after rejoin/restart/move item in inventory..
No exceptions in console/no crash log.
But my English is very bad, I hope @XakepSDK can provide more information?

[2017-05-23 10:20] XakepSDK commented on #1353
Okay, guys.
@gabizou
SpongeVanilla has some issues with data, because on spongeforge everything works fine.
If i drop item and take, it prints, and it prints attached string, not deserialized. At this point, i can safely say, that custom data is attached to item. After rejoin, old items says "default"(because i put string "default" while deserializing data, for test purposes). If i drag item and p

[2017-05-24 01:02] Zerthick commented on #1316
This is still occurring as of SpongeForge-1.11.2-2282-6.1.0-BETA-2352

[2017-05-24 04:30] gabizou commented on #989
Looking back at this issue, I feel like we should override and throw an `UnsupportedOperationException` for players with regards to removal, since it specifically applies to players, it's something that I'd not want to have to deal with re-synchronizing the player entity and dealing with issues otherwise.

[2017-05-24 12:32] XakepSDK opened #1369 "Can't teleport players in custom world"
`minecraft:tp from to` says "Unable to teleport bec. players are not in the same dim."
`tp from to` errors "cannot cast SpongeUser to Player"
I can use `tp my-nick` to tp.

[2017-05-24 12:45] dualspiral commented on #1369
That latter bit about `tp from to` is a Nucleus command and thus a Nucleus issue, nothing to do with Sponge. I am aware of it.

[2017-05-24 12:56] XakepSDK commented on #1369
Aw, sorry. Wait a sec.

[2017-05-24 12:56] #1369 closed, assigned to nobody

[2017-05-24 20:09] theboomer commented on #1366
You're probably resetting block volumes, or spawning entities, or something similar that requires a cause provided as part of your process (or some other plugin on it is) and the cause provided is not using the plugincontainer as the cause, but rather the plugin itself (or 'this') etc.  Unfortunately, you can't tell from the stacktrace where its from, but thats what its from - providing a cause in

[2017-05-24 21:52] JBYoshi commented on #1366
No, I took a quick look into it. Sponge provides the faulty cause - it replaces the TNT block when the detonation event is cancelled.

[2017-05-25 16:32] sleiss opened #1371 "Autosave-Message showing even if saving is disabled"
**I am currently running...**
- SpongeForge version: 2353
- Java version: 1.8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

**What is the expected result?**
The auto-saving message should only be printed if saving is activated (/save-on) as only then the world gets saved.

**What is the current result?**
When the minecraft-saving-option is disabled (/

[2017-05-25 16:41] johnfriedrich commented on #1371
Addition to issue above:
This can happen if autosave is off and sponge autosave is trying to save:
https://pastebin.com/JL4Anp2K

Thoughts:
I would prefer sponges autosave to save even if minecraft saving is turned off.
That way you can control saving mechanics even better.

Sponges auto save should do the same as entering save-all in console.
(Saving the world, even if minecraft autosaving is off

[2017-05-26 12:48] XakepSDK opened #1373 "OpenComputers crash, inventory size"
[code]

Build: https://github.com/SpongePowered/SpongeForge/commit/3f25197b74a8fc4f489252a0915e20d78bb8ac7b

[2017-05-26 18:29] LJack2k opened #1374 "MessageChannel event not fired when MessageChannel.TO_ALL.send(...) is used"
The event `MessageChannel`, `MessageChannelEvent `or `MessageChannelEvent.chat` doesnt get fired when the method `MessageChannel.TO_ALL.send(...)` is being used to send the message in the first place.

**I am currently running...**
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2353
- Java version: 8
- Operating System:
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [X] Windows
- Plugin

[2017-05-27 01:05] RogueRaiden opened #1375 "Console Spam Error "Unexpected World Change Detected""
Wrong location, Sorry.

[2017-05-27 01:24] RogueRaiden opened #1376 "FTB Utilities Chunk Loading Doesn't Work With Sponge"
Wrong Place, Sorry.

[2017-05-27 09:04] vectrixdevelops opened #1377 "Teleport Plugin Type is not used"
The entity teleport event has a cause containing a teleport type. The teleport type should be a plugin teleport type when the location has been set by the API https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/entity/EntityUtil.java#L282. Instead the teleport cause is generated as unknown under all circumstances of the displacement handler calls. Ins

[2017-05-28 12:24] XakepSDK opened #1378 "Data registration issue(sponge issue)"
`org.spongepowered.api.data.DataRegistrationNotFoundException: Could not locate a DataRegistration for class class org.spongepowered.common.data.manipulator.mutable.block.SpongeLogAxisData`

Test code:
[code]

How to reproduce:
1. Right click any log.
Fails at `fromBlockState`.

Tested version:
spongeforge-1.11.2-2282-7.0.0-BETA-2348

[2017-05-28 19:09] gabizou commented on #1378
@XakepSDK Do you have a stack trace handy?

[2017-05-29 05:45] gabizou commented on #1378
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/65b18b4dce1021d97ac4d13d1104beb9c7305c07

[2017-05-29 05:45] #1378 closed, assigned to nobody

[2017-05-29 17:04] DarkArc commented on #1238
I can confirm this is an issue:
[code]

[2017-05-30 02:50] codeHusky opened #1379 "Currently no way to create an itemstack with a number variant"
As far as I know, there is currently no possible way to generate an item stack with a *number* variant. For instance, you can create birch planks by telling the item which variant it is, but if someone was using a mod that relied on number variants or just wanted to use a more general variant numbering scheme, it's virtually impossible to do so. At least, without some serious hacky code that I hav

[2017-05-30 14:47] aWitch-Doctor commented on #1211
So I am having this issue as well and am getting bugged about it daily from players.
The server was created with an old version of sponge vanilla api 5, no clue what build, just that it was in December. Villagers would breed. Then i updated sponge to the latest vanilla api 5 (build 385) and the villagers would still breed. I reset the server (deleted the worlds and let them regenerate) and now the

[2017-05-30 20:36] codeHusky commented on #1211
I don't really have anything valuable to add but that title is wonderful.

[2017-05-31 00:00] LemADEC opened #1380 "Server NPE crash in EntityTypeRegistryModule.getForClass"
**I am currently running...**
- SpongeForge version:  spongeforge-1.11.2-2282-6.1.0-BETA-2357.jar
- SpongeVanilla version: n/a
- Java version: 1.8.0_121
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows
- Plugins/Mods:
Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, IvToolkit, Backpacks!, SpongeAPI, SpongeForge, FoamFixCore, Animania, Ju

[2017-05-31 02:34] DarkArc opened #1381 "Sponge Serialization Loses Jetpack Data"
**I am currently running...**
[code]

**Description**
When serializing an industrial craft 2 suite of nano armor, with an attached jetpack, when the item is deserialized, the game no longer regonizises the jetpack as being present.

**What is the expected result?**
The jetpack line is shown in the tooltip, and is useable.

**What is the current result?**
The jetpack line is not present, and you ca

[2017-05-31 03:32] #1376 closed, assigned to nobody

[2017-05-31 05:54] #1375 closed, assigned to nobody

[2017-05-31 19:24] #921 closed

[2017-05-31 20:41] JBYoshi commented on #1379
# DISCLAIMER to anyone reading this: Most of the time, you should just use Sponge's Data API. If the functionality you need isn't there yet, submit a PR for a new `DataManipulator`.

But if you *really* can't use the Data API (example: you use mods, or need backwards compatibility with other server software), read this...

### Option 1: With ForgeGradle
Cast the Sponge `ItemStack` to a Minecraft `

[2017-05-31 23:02] gabizou commented on #1379
The block states themselves are the best way to create these "numbered items". There is JBYoshi's way of doing it as well with the API only.

Otherwise, damage values are still not supported and will likely never be supported as the game has been moving away from it slowly and surely.

[2017-05-31 23:02] #1379 closed, assigned to nobody

[2017-06-01 02:05] vectrixdevelops commented on #1211
@kashike this is still a bug as far I'm aware.

[2017-06-01 16:01] Zerthick commented on #1350
@Faithcaio Anvils still do not contain input slots as of spongeforge-1.11.2-2282-6.1.0-BETA-2357

[2017-06-01 16:04] Zerthick commented on #1316
@Faithcaio Any chance this could be cherry-picked back to the API6 stable branch? :smile:

[2017-06-02 04:27] Sir-Will opened #1385 "Using setLocation() and transferToWorld() in MoveEntityEvent.Teleport.Portal causing issues"
All the info can be found in this issue: https://github.com/SpongePowered/SpongeAPI/issues/1568

spongeforge-1.10.2-2281-5.2.0-BETA-2353

[2017-06-02 10:28] Inscrutable commented on #1211
OK, JBYoshi gave this some testing on the latest SV and SF and managed to get baby villagers. I can confirm the same for the SCS, running SV 271. It did take spawning fresh villagers and somewhat extreme conditions (a room with 20+ doors in each case). It may be that previously spawned villagers have breeding problems, but this is unconfirmed. Villager Golems are also spawning now too. @aWitch-Doc

[2017-06-02 12:48] JBYoshi commented on #1211
The conditions aren't that extreme, actually. Vanilla code dictates that (quoted from the [Minecraft Wiki](http://minecraft.gamepedia.com/Tutorials/Village_mechanics)):

In my case, that matches the value from my testing in a debugger - 24 doors * 0.35 = 8 villagers maximum.

[2017-06-02 15:03] Faithcaio commented on #1316
@Zerthick sure ; it is done

[2017-06-02 15:23] Zerthick commented on #1316
@Faithcaio Thank you! :+1:

[2017-06-04 15:45] codeHusky commented on #1181
This is a sponge vanilla issue since there's no hard set uuid system for whatever reason.

[2017-06-04 15:45] #1181 closed, assigned to nobody

[2017-06-07 08:40] TheoKah commented on #1307
I'm having the same problem.
When I use `ItemStack.equalTo()` between the source object and the one created after a serialize/deserialize they do not match.

This is a problem when using `Inventory.query()` to poll items using an ItemStack created from DB.
(Using `Inventory.query()` with ItemType doesn't do the trick because "too permissive")

[2017-06-08 12:36] aWitch-Doctor commented on #1211
I have tried everything you suggested and they still wont breed. I am using SV api 5 build 385 though

[2017-06-08 15:08] kashike opened #1390 "use CommandSenderWrapper"
https://github.com/SpongePowered/SpongeCommon/commit/c172c02a05e32f7214fe198a5a1d96840496b519#commitcomment-22449985
https://github.com/SpongePowered/SpongeCommon/commit/c172c02a05e32f7214fe198a5a1d96840496b519#commitcomment-22449986
https://github.com/SpongePowered/SpongeCommon/commit/c172c02a05e32f7214fe198a5a1d96840496b519#diff-a42ec595496a0bf1dfd23862e839c251R42

[2017-06-09 12:31] JBYoshi commented on #1211
Could you post a .zip of your world, along with the XYZ coordinates of the village? I can then pull up your exact situation in my development environment.

[2017-06-10 01:18] Zerthick opened #1391 "HoconConfigurationLoader.Builder#setRenderOptions(ConfigRenderOptions) throws NoSuchMethodError"
**I am currently running...**

- SpongeForge version: spongeforge-1.11.2-2282-6.1.0-BETA-2370.jar
- SpongeVanilla version:
- Java version:
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

**What is the expected result?**
The config node should be rendered with the appropriate render options.
**What is the current result?**
Currently a `NoSuchErrorMethod`

[2017-06-10 03:46] Deamon5550 commented on #1391
Is the server you are running your built jar in a different version than what you are building your plugin against?

[2017-06-10 06:44] Zerthick commented on #1391
Nope, same version.

[2017-06-10 06:46] Zerthick commented on #1391
If you're curious, this is the plugin in question https://github.com/Zerthick/SerializeMe

[2017-06-10 08:25] stephan-gh commented on #1391
This is probably a SpongeForge issue: Forge bundles its own (outdated) copy of HOCON so we have to relocate the newer version to a different package. Only the production build of SpongeForge has this problem. We should be able to fix it with Minecraft 1.12 because Forge can now upgrade to the latest HOCON version.

[2017-06-10 12:08] JBYoshi commented on #1211
Last night I failed to reproduce this on a checkout of the latest `stable-5` commits on SpongeCommon and SpongeVanilla, and the latest `stable-5.2.0` commit on SpongeAPI. I then noticed SV used a really old commit on SpongeCommon. When I checked GitHub this morning, I saw build 386, which seems to be (with a few new fixes) the same as what I tested on last night and brings SV back into sync with S

[2017-06-11 08:24] NeumimTo opened #1392 "ChangeInventoryEvent not being fired after give command"
**I am currently running...**

- SpongeForge version:  -
- SpongeVanilla version:  1.12-7.0.0-BETA-278, however this is long-term problem, i enountered it with multiple previous versions of sponge vanilla (1.11, 1.10)
- Java version: 1.8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

When a player gives himself  an item by typing command /give name id

[2017-06-12 10:28] stephan-gh commented on #1307
@randombyte-developer You should only use the JSON data format if you want to serialize data entirely to JSON. The configurate translator exists when you want to write data into the configuration.

[2017-06-12 10:32] stephan-gh commented on #1307
I've tested it with this code and it works correctly (I get the same enchanted book again):

[code]

Tested on latest SV 1.12 (bleeding branch).

[2017-06-12 10:34] stephan-gh commented on #1307
Tested the same with `DataFormats.HOCON` (uses the configurate translator internally) and it works too.

[2017-06-12 10:36] randombyte-developer commented on #1307
@Minecrell ok, the JSON data format and hocon did work for me but I wanted to ask if I'm doing it correctly. Thanks.
Doing it with gson was wrong.

[2017-06-12 10:36] #1307 closed, assigned to stephan-gh

[2017-06-12 10:42] stephan-gh commented on #1334
- You should use `DataFormats.JSON` if you want to serialize to JSON
- Have you posted the error you get when deserializing using HOCON somewhere? Above you've only posted the serialization error, and a log with an unrelated error.

[2017-06-13 14:54] gabizou commented on #1364
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/c928639ae8fcb4a51c1a4fb128c443870e78baaa

[2017-06-13 14:54] #1364 closed, assigned to nobody

[2017-06-17 19:44] randombyte-developer opened #1396 "Legacy data registration doesn't work"
**I am currently running...**

- SpongeForge version: 2384
- SpongeVanilla version: 1.11.2-6.1.0-BETA-11

- Plugins/Mods:
  - [Holograms](https://github.com/randombyte-developer/holograms)

At startup this error occurs: https://gist.github.com/randombyte-developer/3e8e0f5d706f403e235790f4d46af439

@gabizou did [a commit](https://github.com/SpongePowered/SpongeCommon/commit/c928639ae8fcb4a51c1a4fb1

[2017-06-17 22:55] SjsolisZXA opened #1397 "LaunchProjectileEvent Does Not Fire"
Sponge Build: spongeforge-1.11.2-2227-6.0.0-BETA-2159
Sponge API Build: 6.0.0-20170217.091623-41
Forge Build: forge-1.11.2-13.20.0.2227-universal
Java Version: 1.8.0_121-b13

Hello, I have the following listeners that do not function at all. Unless I'm doing something wrong, I would like to know if this can be looked at. Thanks!

@Listener
public void onPlayerConsumption(UseItemStackEvent.Start ev

[2017-06-17 22:56] johnfg2610 commented on #1397
are you registering the event listener? or is this in the main class? also try updating your version for sponge/forge see if it works in the newer versions

[2017-06-18 04:02] DarkArc opened #1398 "Cancelling the DropItemEvent.Destruct event no longer preserves inventory items x2"
This is once again the case: https://github.com/SpongePowered/SpongeCommon/issues/654

Affected version:
[code]

Also noticed this in Stable-5.

[2017-06-18 04:36] DarkArc commented on #1398
This looks like it may have been changed intentionally:
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/event/tracking/phase/entity/DeathPhase.java#L150-L167

Though that makes this logic effectively useless:
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/entity/player/MixinInventoryPl

[2017-06-18 04:36] gabizou commented on #1396
I see what happened, I wrote it into SpongeForge but failed to write it into SpongeCommon directly (since forge listeners still have to be applied the same way) I'll get a fix for this tomorrow.

[2017-06-18 16:20] xcube16 opened #1399 "UnloadChunkEvent is not fired when a world unloads"
When a world unloads UnloadChunkEvent's are NOT fired for currently loaded chunks.

**I am currently running...**

- SpongeForge version: stable-6 3bb6c1b2ab4c98b00764cdaee219ed9fd6fed6b3
- SpongeVanilla version: untested
- Java version: 1.8.0
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Load

[2017-06-18 21:39] Faithcaio opened #1402 "Inventory Event Implementation Progress"
[code]
`? extends TargetInventoryEvent`
 - [x] org.spongepowered.api.event.item.inventory.TargetInventoryEvent
 - [x] org.spongepowered.api.event.entity.ChangeEntityEquipmentEvent
 - [x] org.spongepowered.api.event.entity.ChangeEntityEquipmentEvent.TargetLiving
 - [x] org.spongepowered.api.event.entity.ChangeEntityEquipmentEvent.TargetHumanoid
 - [x] org.spongepowered.api.event.entity.ChangeEntity

[2017-06-18 22:02] parlough commented on #1402
My testing had pretty much the same results.

I did have one issue though: `org.spongepowered.api.event.item.inventory.ChangeInventoryEvent.Held` needs some work I think or at least more clarification on the documentation. Maybe I am just misunderstanding it though.

At the moment it states "Fired when a Living changes it's held ItemStack", which makes it seem like it would occur anytime what they

[2017-06-18 22:42] parlough commented on #1392
This is a duplicate of https://github.com/SpongePowered/SpongeCommon/issues/1309

[2017-06-18 22:42] #1392 closed, assigned to nobody

[2017-06-18 22:45] parlough commented on #1402
Some more related issues:

https://github.com/SpongePowered/SpongeCommon/issues/1309
https://github.com/SpongePowered/SpongeCommon/issues/1363
https://github.com/SpongePowered/SpongeCommon/issues/1037
https://github.com/SpongePowered/SpongeCommon/issues/1019
https://github.com/SpongePowered/SpongeAPI/issues/1051

[2017-06-19 07:32] parlough commented on #1402
For the equipment events to be implemented properly, the EquipmentInventoryAdapter needs to be implemented. I tried starting to do so, but it's quite confusing...

[2017-06-19 17:27] Faithcaio commented on #1402
Just needed to add Slots with EquipmentSlotType to the EquimentInventoryLens and then use query to get the slots.
It only works if you query for the exact EquipmentType. so e.g. EquipmentTypes.ANY will return nothing.

[2017-06-20 00:24] Mohron commented on #1334
[Serialized Data](https://hastebin.com/lekonateqa.mhttps://hastebin.com/lekonateqa.m)
[Log](https://gist.github.com/Mohron/3e4c5ad4f2f132cfe4712b443821c96a)

[2017-06-20 19:01] bloodmc commented on #1398
This will NOT be changed in SpongeForge as it caused all sorts of issues with mods that use soulbound items such as Tinkers Construct. The event works exactly like Forge's PlayerDropsEvent

https://github.com/MinecraftForge/MinecraftForge/blob/1.11.x/src/main/java/net/minecraftforge/event/entity/player/PlayerDropsEvent.java#L34

"Canceling the event will prevent ALL drops from entering the world"

[2017-06-20 19:01] #1398 closed, assigned to gabizou

[2017-06-20 22:37] SjsolisZXA commented on #1397
The listeners are registered and I've updated to spongeforge-1.10.2-2281-5.2.0-BETA-2401, but the issues are still present to this day. My issue was originally posted [here](https://github.com/SpongePowered/SpongeAPI/issues/1495) months ago, but was told to re-post it here.

[2017-06-20 22:58] G1R-Productions opened #1403 "WorldUUID Changing on restart."
- SpongeForge version:  spongeforge-1.11.2-2315-6.1.0-BETA-2395
- Operating System: Windows 10

**What is the expected result?**
World UUIDs should not change on server restart.
**What is the current result?**
The UUID for world is changing on restart:
Before Restart:
https://pastebin.com/e5TPWwqE
After Restart:
https://pastebin.com/3JaC8Qw0

The level_sponge.dat seems to think that the UUID is:
0

[2017-06-21 02:26] ryantheleach commented on #1398
So to elaborate,

1. "Canceling the event will prevent ALL drops from entering the world" and also does not place the items back on the (currently dead) player?

2. The dead players inventory will be cleared on respawn, except for items that are soulbound, if keep inventory is on.

3. to keep items on respawn, you can carry them from the dead player, to the new player?

[2017-06-21 02:33] bloodmc commented on #1398
1. It should keep the items on the dead player.
2. The dead player should still have the items on "corpse". If this is not happening then it is a bug that I have to fix as you should be able to copy/transfer items from the dead player to newly respawned player.
3. Yes

@DarkArc Please confirm if this is working as stated above. If not then I'll reopen ticket as it is a bug.

[2017-06-21 02:39] DarkArc commented on #1398
Yeah the inventory is copyable at the time of death. I already implemented a "workaround" solution before your reply. It uses my player state service.

Implementation code here if someone comes across this issue looking for guidance:
https://github.com/Skelril/Skree/blob/master/src/main/java/com/skelril/skree/content/zone/ZoneInventoryProtector.java
https://github.com/Skelril/Skree/blob/master/src

[2017-06-21 02:46] ryantheleach commented on #1398
Why does it store, then immediately release the inventory @DarkArc

[2017-06-21 02:49] DarkArc commented on #1398
@ryantheleach implementation detail. Release basically tells the service if the player logs out and back in, or respawns, it's free to restore the "general" inventory store. The thought being, if there is a minigame or something where they should have an isolated inventory, and their original inventory should not be restored on death, that is possible.

[2017-06-21 17:11] XakepSDK opened #1404 "IC2 EntityDynamite explosion NPE"
[code]
SpongeForge 1.11.2-2315-6.1.0-BETA-2402

[2017-06-21 17:16] XakepSDK commented on #1361
Not fixed yet. This happens with biomesoplenty.
[code]

Second trace:
[code]

[2017-06-21 18:40] XakepSDK commented on #1347
Fixed?

[2017-06-21 18:45] XakepSDK commented on #41
Status?

[2017-06-21 20:14] Faithcaio commented on #1347
Well actually its not entirely wrong. You can see this when you set more items that what fits in one slot.
In a Gridinventory there are multiple Slots that have an Index of 0:
![img](http://i.imgur.com/XwJc6GB.png)
Each Row and Column have a Slot 0.

[2017-06-22 00:10] SjsolisZXA opened #1405 "forums.spongepowered.org Poll Data Load Issue"
Hello, I conducted a poll [here](https://forums.spongepowered.org/t/quick-poll-server-with-mods-vs-server-without-mods/18663), and now I need to retrieve the name of users who voted to participate in the alpha testing of a plugin I've developed. When I tried to click on: "Show Results" > "↓ ", a infinite loading symbol keeps rolling and doesn't show me any results. Below are my specs.

OS: Windows

[2017-06-22 10:14] XakepSDK commented on #1405
https://github.com/SpongePowered/SpongeHome

[2017-06-22 10:40] stephan-gh commented on #1405
Please report issues like these directly on the forums: https://forums.spongepowered.org/c/meta
`Show Results` works fine for me.

[2017-06-22 10:40] #1405 closed, assigned to nobody

[2017-06-22 11:00] pie-flavor opened #1406 "Keys.REPRESENTED_PLAYER not working with items"
`Keys.REPRESENTED_PLAYER` on a skull item does not work.

Tested via the following code, executed on SpongeVanilla 1.12-7.0.0-BETA-288:
[code]
The item shows up as a bare Steve head, no extra data. Examination of the internals returned this (and nothing else):
[code]

[2017-06-22 11:31] XakepSDK commented on #1405
1 may...
https://forums.spongepowered.org/t/polls-bug/18672
Not fixed.

[2017-06-22 15:37] #1347 closed, assigned to nobody

[2017-06-23 08:00] LJack2k commented on #1374
Is there any progress update on this? I would really like to finish my mod.

[2017-06-23 13:40] Zidane commented on #1374
@kashike

Status?

[2017-06-24 16:43] randombyte-developer commented on #1396
@gabizou What's the status on this?

[2017-06-24 21:18] parlough commented on #1252
This may have been fixed by https://github.com/SpongePowered/SpongeCommon/commit/e4438fd5ebc340a371c8b00f6c6a516584dcda38 @bloodmc

[2017-06-26 16:25] #1252 closed, assigned to nobody

[2017-06-27 14:40] Mumfrey commented on #1129
This issue can now be resolved using Mixin `0.6.12` using the new [ModifyArgs](http://jenkins.liteloader.com/view/Other/job/Mixin/javadoc/index.html?org/spongepowered/asm/mixin/injection/ModifyArgs.html) injector.

[2017-06-28 13:16] Yeregorix commented on #1058
I have the same issue since few months in my dev environment (currently using SpongeForge 1.12) . The issue disappears if I remove SpongeForge (1.12-2368-7.0.0-BETA-2423:dev) and keep only Forge (2368).

[2017-06-30 08:26] kashike commented on #719
...and re-fixed in https://github.com/SpongePowered/SpongeCommon/commit/c25b4b42a2d36f47ce7e82d1e6f73e006f0affa3.

[2017-07-01 18:09] HaedHutner opened #1413 "Issue when using Nashorn API"
There is an issue when trying to use the Nashorn API. When trying to access the classes of the API, a NoClassDefFoundError is thrown. I have done the following tests:

1. Trying to utilize classes from the API ( ScriptObjectMirror ):

https://pastebin.com/Ef1N67i6

2. Putting nashorn.jar into the mods folder so that Forge may load it. Also outputting the class loader for the class of the variable

[2017-07-01 19:13] HaedHutner commented on #1413
Using a new instance of NashornScriptEngineFactory made everything work. Still had to have nashorn.jar in my mods folder, though.

[code]

[2017-07-02 00:48] pie-flavor opened #1414 "Fence gates do not support Keys.DIRECTION"
`supports()` returns false, and `offer()` has no effect.

[2017-07-02 01:01] pie-flavor opened #1415 "Interaction event's BlockSnapshot does not always have a location"
Found this while testing #1414. If you cause a repeated `InteractBlockEvent.Primary` by partially breaking a block, only the _first_ event's `BlockSnapshot` will have a present location. All subsequent ones until the player lets go of the mouse have a position of `(0, 0, 0)` and a world of `00000000-0000-0000-0000-000000000000`.

The same is not true of `InteractBlockEvent.Secondary`.

[2017-07-02 11:26] NeumimTo opened #1417 "Not possible to cancell armor equipment via rightclicking"
**I am currently running...**

- SpongeVanilla version:  1.12-7.0.0-BETA-289
- Java version: 8
- Operating System:

 - [x ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x ] Windows

When a player has no armor and rightlicks with an armor in the main hand the armor is then put into armor section of player's inventory.

Depending on the  player actions ingame  before the item is moved from h

[2017-07-02 14:34] Faithcaio commented on #1417
ChangeEntityEquipmentEvent is not fired yet.
see https://github.com/SpongePowered/SpongeCommon/issues/1402

[2017-07-02 15:22] NeumimTo commented on #1402
@Faithcaio You should also add an event for toggling on and off dualwielding

[2017-07-03 23:05] parlough opened #1418 "SaturationProperty does not match actual saturation replenished"
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/data/property/store/item/SaturationPropertyStore.java

So the SaturationProperty is all about amount of saturation replenished, but Minecraft seems to use a different value internally when it registers the food items, then when it adds the stats to the player it uses this calculation:

[code]

For wh

[2017-07-04 11:05] ryantheleach commented on #1058
Discovered this in [bleeding ](https://github.com/SpongePowered/SpongeForge/commit/7789e67bbd1ef2ed2411d08d23c1ea006ef7aa56) logs, after updating my workspace from 1.11 to 1.12. [Full Log](https://gist.github.com/ryantheleach/a81c9e08908b4f72f4ab375324983230)

However, all sounds were correct, (I was running from client, could easily see this being a client server mismatch)

[code]

[2017-07-05 01:39] darichey commented on #1397
I can also confirm that neither `TargetProjectileEvent` nor any of its children are fired using
spongevanilla-1.12-7.0.0-BETA-290
spongeapi-7.0.0-20170703.084035-18

[2017-07-05 14:36] ryantheleach commented on #1397
I can confirm that LaunchProjectile event did not fire for players, skeletons, or dispensers shooting arrows on [SpongeForge Bleeding 7789e67bbd1ef2ed2411d08d23c1ea006ef7aa56](https://github.com/SpongePowered/SpongeForge/commit/7789e67bbd1ef2ed2411d08d23c1ea006ef7aa56)

by using https://gist.github.com/ryantheleach/2152cebe0e3c90874c39e69566df4b66

[2017-07-06 16:23] ryantheleach commented on #1402
https://github.com/prism/Prism/issues/11

Looks almost close enough to start getting this into prism?

[2017-07-06 23:44] JBYoshi commented on #1417
I'll look at this once https://github.com/SpongePowered/Mixin/issues/193 is fixed (which is currently preventing SpongeVanilla from running in my development environment).

[2017-07-07 03:12] JBYoshi commented on #1404
Does this still happen on the latest SpongeForge build? If so, could you post an updated crash report?

[2017-07-07 08:31] XakepSDK commented on #1404
Yep, build 2438. Same error..
[code]

[2017-07-07 10:55] XakepSDK opened #1420 "Some optimisations"
Why we need this check?
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/world/biome/MixinBiome.java#L114
This method can't return null.
[code]

[2017-07-07 11:45] XakepSDK commented on #1361
How sponge handles forge registries? BiomesOPlenty registers all biomes with forge registries, but only 3 biomes can't be registered in sponge. Biome names:
Gravel Beach
White Beach
Alps
BiomeType.getId() returns null for these biomes.
This called only for minecraft biomes:

https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/world/biome/Mi

[2017-07-07 12:51] trentech opened #1421 "MOB_SPELL particle wierdness"
So spawning MOB_SPELL Particle seems messed up. They just spawn colorless balls of plain white. adding a color value seems to change the direction they move. No errors are thrown. Example screenshots below.

http://imgur.com/a/h3R1C

Tested this on lastest SpongeForge and SpongeVanilla, both 6.x and 7.x builds, with same results.
This was tested in tests build of ProjectPortals so it could be a re

[2017-07-07 16:15] JBYoshi commented on #1421
I'm working on a fix right now. Just give me a few minutes and it should be up.

Let's just say it was a wacky bug.

[2017-07-07 20:22] #1421 closed, assigned to nobody

[2017-07-08 08:57] pie-flavor opened #1423 "NPE on Inventory#getProperty"
Code:
[code]

Trace:
[code]
SpongeVanilla 1.11.2-6.1.0-BETA-11

[2017-07-08 12:44] JBYoshi commented on #1414
I'm not sure whether `Keys.DIRECTION` is the best option. When the gate is closed, `Keys.AXIS` would be more appropriate. However, when the gate is open, since it can open in either direction, `Keys.DIRECTION` would be more appropriate then.

[2017-07-08 12:48] pie-flavor commented on #1414
@JBYoshi Well, no, not at all. The gate block faces one of the four directions. Vanilla models render it symmetrically, but a resource pack doesn't have to. It's represented in the BlockState.

[2017-07-08 12:59] JBYoshi commented on #1414
I'll take this, then.

[2017-07-09 14:03] VapidLinus commented on #1353
I'm still seeing this in "1.12-7.0.0-BETA-290".

Attach custom data to an itemstack. Drop it, pick it up. Now the data is seemingly gone. Reconnect and it's there again.

[2017-07-09 14:49] ghost opened #1428 "Cannot set item in hand when spawning entity"
See: https://forums.spongepowered.org/t/spawning-skeleton-with-item-in-hand/19794/4

It looks like unimeplemented yet.

spongevanilla-1.11.2-6.1.0-BETA-11
spongeforge 1.11.2-2315-6.1.0-BETA-2438

[2017-07-10 02:27] pie-flavor opened #1431 "Inventory#query(Object[]) returns an empty inventory every time"
Code:
[code]
Inventory contains a stick and a stack of five blaze rods.
The returned `Inventory` is empty.

SpongeVanilla 1.11.2-6.1.0-BETA-11

[2017-07-10 02:36] #1428 closed, assigned to nobody

[2017-07-10 05:55] ghost commented on #1428
Please backport to 1.11.2 too - api 6.1.0. Thanks.

[2017-07-10 06:35] #1019 closed, assigned to Faithcaio

[2017-07-10 07:15] Faithcaio commented on #1225
If you want to check for upper/lower inventory the easiest way for now is to get the SlotIndex
and check if its greater than the first sub-inventory in the container.

[2017-07-10 07:15] #1225 closed, assigned to nobody

[2017-07-10 09:16] Yeregorix commented on #1058
I fixed this issue in my dev environment, the fml registry in the level.dat file was invalid, so I merged my invalid file with a valid one.

[2017-07-10 18:20] JBYoshi commented on #1428
@hunter688 Done.

[2017-07-10 18:46] realGWM commented on #1353
@gabizou any news?

[2017-07-11 09:07] Sir-Will opened #1432 "Canceling InteractItemEvent doesn't update clients inventory"
- SpongeForge version: 1.10.2 - 2433
- Forge version: 2281:

If I cancel the `InteractItemEvent` when the player is trying to place a block it doesn't update the clients inventory which causes the block to go invisible in the inventory until the player rejoins or clicks on the invisible block.

Found this related old issue https://github.com/SpongePowered/SpongeCommon/issues/418

[2017-07-11 09:49] Sir-Will commented on #1334
I got the same issue:
[code]

[2017-07-11 11:58] #1414 closed, assigned to gabizou

[2017-07-11 15:50] JBYoshi commented on #1432
Duplicate of #1417.

[2017-07-11 16:38] Sir-Will commented on #1432
Hm, what has this to do with that linked issue?

[2017-07-11 16:41] JBYoshi commented on #1432
Never mind.

[2017-07-11 17:03] Sir-Will opened #1433 "PaginationService - Unicode Chars Error"
When I'm using unicode chars in a pagination message it throws the error below.
The char I tried to use:
`»`
`Character.toString((char) 0x00BB)`

[code]

[2017-07-11 17:10] ryantheleach commented on #1433
Damn it. Is this reproducible on 1.12?

[2017-07-11 17:13] Sir-Will commented on #1433
I didn't test it on 1.12 as I don't have any 1.12 server yet.

[2017-07-11 19:51] JBYoshi commented on #1417
Try listening to `InteractItemEvent` instead. That should work.

[2017-07-11 20:26] TBlueF opened #1434 "Items sometimes disappear with warning in log"
**Minecraft:** 1.11.2
**SpongeAPI:** 6.1.0-SNAPSHOT-c4a7afd
**SpongeForge:** 1.11.2-2393-6.1.0-BETA-2442
**Minecraft Forge:** 13.20.1.2393

On my server, sometimes items disappear after beeing thrown and collected again in the players inventory.
This warning seems to appears in the fml-server-latest.log almost simultaneously and every time this happens:
[code]
*(Full log: https://paste.craftednatu

[2017-07-11 21:03] #1432 closed, assigned to nobody

[2017-07-12 02:17] #1390 closed, assigned to JBYoshi

[2017-07-12 15:44] JBYoshi commented on #1431
A quick note: I decided to have the method ignore the stack size. Let me know if it should be changed.

[2017-07-12 16:29] pie-flavor commented on #1431
I think there should be two methods, one for each behavior, just like the current ItemStack query methods.

[2017-07-12 16:48] JBYoshi commented on #1423
I can't reproduce this. What do you have in your inventory when you run this code?

[2017-07-12 17:27] pie-flavor commented on #1423
No matter what I have, it doesn't work. But for an identical case, try putting a stick in your storage inventory, another in your hotbar, and holding it.

[2017-07-13 16:07] XakepSDK commented on #1434
https://github.com/SpongePowered/SpongeCommon/issues/1402 ?

[2017-07-14 07:02] parlough opened #1436 "Connected directions not supported/working on double chests"
**I am currently running...**
- SpongeVanilla version: 1.12-7.0.0-BETA-300
- Java version: 8u131
- Operating System: Windows

- Plugins/Mods:
Latch
IPLog

**What is the expected result?**
Chests should support connected direction data.

**What is the current result?**

They do not support connected directions.

This code:

[code]

causes the following to be printed out when right clicking a chest

[2017-07-14 14:36] JBYoshi commented on #1431
@pie-flavor I have updated the behavior for API versions 6 and 7. I haven't changed API 5 because it uses a stack size of -1 to specify that the stack size should be ignored.

[2017-07-14 14:37] Mumfrey commented on #1431
No, `queryAny` is bad and I can't believe you added this without discussing it.

[2017-07-14 14:44] Mumfrey commented on #1431
I mean. This is where inconsistency starts, there are so many ways this could have been done nicely and adding an extra, totally redundant method is a bloody stupid way of going about it and makes the whole thing inconsistent.

`query` - queries the things
`queryAny` - queries *any of the things*?   ... waht?

This is half-baked, inconsistent, and needs to be removed ASAP. Fortunately, the half-ba

[2017-07-14 14:46] Mumfrey commented on #1431
To be clear, the changes to the strategy are fine and I approve. But I'm absolutely bloody furious that you would change the `Inventory` interface in such a careless manner without so much as a discussion.

[2017-07-14 14:56] JBYoshi commented on #1431
@Mumfrey Reverted.

[2017-07-14 14:58] Mumfrey commented on #1431
Thankyou. I see that there's another `queryAny` which was added by @Faithcaio previously which I'm not desperately happy about either but it's been there too long to change. We should probably remove it in API 7.

Propose some better combinatorial approaches and we can discuss them.

[2017-07-14 15:08] Faithcaio commented on #1431
The queryAny I added was to query ItemStacks of **any** size as it was no longer possible to created -1 sized stacks.

[2017-07-14 16:23] Faithcaio commented on #1431
just leaving this here:
query(Predicate<ItemStack>...)

[2017-07-14 18:44] pie-flavor commented on #1431
@Mumfrey That was... an explosion, to say the least. How would _you_ recommend we go about adding support for both querying including stack size, and querying ignoring it?

[2017-07-14 19:50] Zidane commented on #1418
I don't think there is a reason why the internal number is used. @gabizou thoughts?

[2017-07-15 00:03] lesbleu opened #1439 "[1.12] Creator : Liquid flow"
- SpongeVanilla version: 1.12-7.0.0-BETA-300
- Java version: 8
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

When player place liquid, the player is the owner of liquid ![Example](https://image.noelshack.com/fichiers/2017/28/6/1500076494-2017-07-15-01-54-34.png).
And the liquid flowing, the owner of liquid is empty ![Example](https://image.noelshack.co

[2017-07-15 16:32] lesbleu opened #1442 "Bug : Empty block owner after falling"
- SpongeVanilla version: SpongeVanilla version: 1.12-7.0.0-BETA-300
- Java version: 8
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

When player place block with gravity property, The player is the Owner of this block.
After the block falling, the block owner is empty.

[Video](https://www.youtube.com/watch?v=sNgKmmwietA)

[2017-07-15 17:17] lesbleu opened #1443 "ChangeBlockEvent.Break cancelled Enderman duplicate block"
- SpongeVanilla version: SpongeVanilla version: 1.12-7.0.0-BETA-300
- Java version: 8
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

When I cancelled the event "ChangeBlockEvent.Break", Enderman get a block in the enderman's hand.

[2017-07-16 00:38] Waterpicker commented on #1238
Has this issue been looked at recently?

[2017-07-16 06:32] ryantheleach commented on #1443
Assuming a minor language issue.
"Enderman get block in your hand." \> An enderman gets a block in the enderman's hand?

Sounds like entities states arn't being captured before block breaks.

[2017-07-16 07:15] codeHusky commented on #1403
Oh wow, this has become an issue on SpongeForge as well now? odd.

[2017-07-16 12:35] lesbleu commented on #1443
I fixed this language issue. Sorry for my bad English.

[2017-07-16 13:02] lesbleu opened #1446 "No event launched when lava spread fire"
- SpongeVanilla version: SpongeVanilla version: 1.12-7.0.0-BETA-300
- Java version: 8
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

A player places lava around flammable blocks. When fire is spreading by lava, no event is launched.

[2017-07-16 13:13] kashike commented on #1403
#1181
https://github.com/SpongePowered/SpongeVanilla/issues/326

[2017-07-16 18:44] lesbleu commented on #920
This bug is still present in 1.12 (SpongeVanilla 1.12 Beta 300).

[2017-07-17 00:21] ryantheleach commented on #1402
Guessing this https://github.com/SpongePowered/SpongeAPI/issues/1282 is also another related issue, and can be represented with the current/planned inventory API events.

[2017-07-17 01:56] SjsolisZXA opened #1447 "DamageEntityEvent Reduncency Call"
**Forge Build:** forge-1.10.2-12.18.3.2281-universal
**SpongeForge Build:** spongeforge-1.10.2-2281-5.2.0-BETA-2464
**Java:** 1.8.0 131-b11
**OS:** Windows 10

When a player falls off the map and dies, the DamageEntityEvent listener gets called twice. I have a listener that re-spawns a player if they fall of the map, but it's called on twice. Below is the listener and the

**Listener:**
[code]

**

[2017-07-17 12:02] BenWoodworth opened #1448 "Invalid SlotTransactions not properly cancelling"
## Issue
Marking a `SlotTransaction` as invalid is not properly cancelling the transaction.

## Observed
Invalidate all the server's `SlotTransaction`s:
[code]

Open an inventory with a single item in it. If the item is left clicked, the item remains in the inventory, but the cursor will have a copy. Clicking on any slot with the item on the cursor, the item will be removed from the cursor, with t

[2017-07-17 20:56] Sir-Will opened #1449 "clear() removes more then it should"
**I am currently running...**
- SpongeForge version: 1.10.2 - 2433
- Forge version: 2281:

**What is the expected result?**
Remove the correct itemstacks.

**What is the current result?**
I'm trying to remove itemstacks from the player inventory or other inventories.
To filter this I use `query()` which sometimes works correctly and sometimes it clears the complete inventory.
`inv.totalItems()` sh

[2017-07-18 08:28] FiveEYZ opened #1450 "[1.11.2] Holograms fail to register a DataManipulatorBuilder"
**I am currently running...**
- SpongeForge version: spongeforge-1.11.2-2393-6.1.0-BETA-2468
- Forge: forge-1.11.2-13.20.1.2414-universal
- SpongeVanilla version: N/A
- Java version: 1.8.0_131
- Operating System:
 - [x] Windows Server 2012 R2

- Plugins/Mods:
Holograms-2.2

some were, some time ago RandomByte asked me to make this issue here, but forgot where that was.

**What is the current resul

[2017-07-18 13:44] Zidane commented on #1450
The log is pretty clear on this: He needs to update for the latest changes in API 6. Not a Sponge issue.

[2017-07-18 17:01] Faithcaio commented on #1373
should be fixed in latest build.
If its not please tell me how to reproduce.

[2017-07-18 17:01] #1373 closed, assigned to nobody

[2017-07-18 17:30] #1449 closed, assigned to nobody

[2017-07-18 17:40] randombyte-developer commented on #1450
This is a Sponge bug, confirmed by @gabizou #1396

[2017-07-18 17:49] Zidane commented on #1450
I stand corrected.

@gabizou where is the fix for this as you mentioned elsewhere you would do?

[2017-07-19 02:30] ryantheleach commented on #1399
Do you have a test plugin handy in order to demonstrate this issue? Not a requirement, but it saves dev time.

[2017-07-19 02:46] ryantheleach commented on #1048
@kashike @gravityfox
Why was this fix chosen over fetching worlds with a sane identifier, like the directory?
Isn't the name inside that file literally just a display name for singleplayer / servers / plugins?

I'm pretty sure single player allows duplicates here, and adds hypens to the directory when copying if the name isn't changed.

[2017-07-19 02:48] ryantheleach commented on #1048
No! the expected world is the one with the directory name. if you are loading a world you arn't even yet aware of the internal aliases / names.

If you need a method that loads via the name, you need to deal with multiple matches, you should prompt the user to disambiguate with directory details listed.

The most common use case as a server admin is taking a copy of the world, renaming the directo

[2017-07-20 12:13] ryantheleach opened #1452 "Fireballs do not respect mobGriefing gamerule."
**I am currently running...**

SpongeForge: 1.12-2397-7.0.0-BETA-2474
Minecraft Forge: 14.21.1.2413
- SpongeVanilla version:  1.12-7.0.0-BETA-300
- Java version: "1.8.0_131"
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
None
**What is the expected result?**
/gamerule mobGriefing false
/summon Fireball ~ ~3 ~ {ExplosionPower:5,direction

[2017-07-20 18:26] gravityfox commented on #1048
Okay... due to the bad wording of the original issue, i'm going to make a few assumptions that i want corrected if needed.
This is what i read the issue as:

- Server#loadWorld(String) currently expects the NBT name for its parameter
- World#getName() currently returns the NBT name of the world.
- Server#loadWorld(String) SHOULD expect a directory name.
- World#getName() SHOULD return the director

[2017-07-20 19:43] Zidane commented on #1048
loadWorld -> Directory name
getName -> Directory name (??)
setName -> NBT name

See the issue with the API?...in that the name is being used as both NBT and directory when...

A. NBT name should be changeable and is the display name
B. Directory name isn't changeable (beyond our copy function)

This will be resolved by me very soon in API 7.

[2017-07-21 00:01] ryantheleach commented on #1048
Name might even be text to legacy

[2017-07-21 03:20] gabizou opened #1453 "Spawn protection affects all worlds"
This rings a bell where players/server owners would state that spawn protection was active in the Nether and other dimensions than the Overworld. I think I may have found the exact bit of code that is causing such an issue [here in MixinDedicatedServer](https://github.com/SpongePowered/SpongeCommon/blob/74080b0c75e59075f164f5151b08be395e2d17fc/src/main/java/org/spongepowered/common/mixin/core/serv

[2017-07-21 03:24] parlough commented on #1453
Are we still interested in doing something like the following https://github.com/SpongePowered/SpongeCommon/pull/128

[2017-07-21 09:00] Yeregorix opened #1455 "Can't use any data manipulators in recipes"
**I am currently running...**

- SpongeForge version: 1.12-2397-7.0.0-BETA-2474:dev
- Forge version: 2397
- Java version: 1.8.0_131
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods: No mods, only these lines which are called during PreInit:

[code]

**What is the expected result?**
This craft: Normal sand + Redstone -> Red sand

**What is

[2017-07-21 10:39] NeumimTo commented on #1417
InteractItemEvent works

[2017-07-21 10:39] #1417 closed, assigned to JBYoshi

[2017-07-21 13:41] theboomer commented on #1455
Observations that may be totally meaningless overall, but...

This may be due to implimentation differences...  I just tested this code:
[code]
in both (separately) the **GamePreInitializationEvent** and **GamePostInitializationEvent**, with SpongeVanilla-1.12Beta300, and **neither usage** is giving any result when mixing sand and redstone (ie, no normal sand craft result).

I tested this because

[2017-07-21 14:34] SjsolisZXA opened #1456 "Excessive Amount Of Java Errors On Startup"
As the title suggests, I'm having an excessive amount of Java errors appear on my console on startup, preventing several of my server's plugins from functioning. This only happens with server hosts (MCProhosting and BeastNode as least), perhaps because they're using linux? I tried running my server on both hosts and got similar, if not the same, errors. On my PC, the server runs smooth and perfect

[2017-07-21 14:40] kashike commented on #1456
This is an issue with the `dreadzone` plugin. Please contact the author of that plugin for help.

[2017-07-21 14:40] #1456 closed, assigned to kashike

[2017-07-21 16:18] TehFoxFire commented on #1450
Im having the same issue on spongeforge-1.11.2-2393-6.1.0-BETA-2468 with holograms 2.2.

[2017-07-21 16:43] theboomer opened #1457 "[1.12 SV] Using SmeltingRecipe, system ignores my isValid() checks; false sometimes means true.."
Refer to thread on forum: https://forums.spongepowered.org/t/recipe-based-question/20016/20

Goal:  A test to register a custom smelting recipe that uses more restrictive info about the ingredient to produce the item result.  Creating a stack with display name/lore data on a granite item and registering it via the SmeltingRecipeBuilder failed to restrict the ingredient to a true match (for display

[2017-07-21 17:02] Faithcaio commented on #1457
please retest with latest

[2017-07-21 17:51] theboomer commented on #1457
NO CHANGE IN RESULTS AT ALL

`[13:32:53 INFO] [mixin]: SpongePowered MIXIN Subsystem Version=0.6.15 Source=file:/N:/000SpongeTestservers/1.12SV/spongevanilla-1.12-7.0.0-BETA-301.jar Env=UNKNOWN`

Tested with the custom implimentation first (with regular isValid tests lined up), and there is no change.  Raw Granite still converts to recipe.

Tested with builder approach on itemstacks, in case fix w

[2017-07-21 18:23] Faithcaio commented on #1457
but now!

[2017-07-21 18:23] #1457 closed, assigned to nobody

[2017-07-21 21:27] theboomer commented on #1457
Yes, the custom implimentation method does work now in SV-beta-302 !!!

I also tried to set up a recipe with the recipe builder, but it had the same old behavior - raw granite also triggered the smelting.

So the question now is, is the builder method supposed to have this  behavior, ignoring the name/lore data on the itemstack ingredient - or is there somewhere else that needs the same change mad

[2017-07-22 03:18] bloodmc commented on #1443
@lesbleu Does the same result occur on 1.10.2 as well?

[2017-07-22 03:40] theboomer opened #1458 "[1.12SV] Crafting recipes (shaped, shapeless) do not work in SpongeVanilla"
Unable to get shaped/shapeless recipes registered /or/ working - they may be registering, just not working... dunno.
The following code is tacked to the end of the GamePostInitializeEvent event handler (where SmeltingRecipes are successfully registered and functional) as whimsical recipes for demonstration testing only:
[code]

**I am currently running...**

- SpongeForge version:
- SpongeVanilla

[2017-07-22 05:46] Faithcaio commented on #1457
Use the predicate ingredient method.
The ItemType/ItemStack/Snapshot one uses vanilla matching behaviour as noted in the javadocs.
(which is ItemType + DamageValue)

[2017-07-22 05:54] Faithcaio commented on #1458
works fine in SF so something is broken with vanilla somehow

[2017-07-22 06:03] Faithcaio commented on #1458
Oh I see it.
You have to register recipes in PreInit.

@gabizou do we want to allow later registration in SV?

[2017-07-22 07:35] theboomer commented on #1458
Theoretically that might have been it, but is not, so something is broken in SV indeed.
I just moved that same code to the GamePreInitialization event, and the results are the same: nothing.

[2017-07-22 12:18] SjsolisZXA opened #1459 "Server Thread Warning Skipping Keys"
**SpongeForge Version:** spongeforge-1.10.2-2281-5.2.0-BETA-2464

Hello, on every startup, I receive several of these warning messages:
[code]

[2017-07-22 13:25] kashike commented on #1459
Duplicate of #1066.

[2017-07-22 13:26] #1459 closed, assigned to nobody

[2017-07-22 13:27] SjsolisZXA commented on #1459
This issue hasn't been fixed, though.

[2017-07-22 14:21] Zidane commented on #1459
@SjsolisZXA

1. This is a duplicate, no need to have multiple issues open
2. Its a warning and is completely harmless. It is not affecting your server in anyway.

[2017-07-22 15:00] Faithcaio commented on #1458
Should work with latest now.

[2017-07-22 15:17] theboomer commented on #1458
Works!

Thank you very much for your repeated and rapid handling of these crafting based issues :)

FOR REFERENCE PURPOSES: Version 1.12-api 7-Beta-303 solves it

[2017-07-22 15:17] #1458 closed, assigned to nobody

[2017-07-22 16:12] theboomer commented on #1458
While that works to actually make recipes register and work, it suffers the same limitation as posted in https://github.com/SpongePowered/SpongeCommon/issues/1455

It seems that data-manipulators are not applying (display names, stone type etc).  Test recipe is shapeless conversion of baked_potato to smoothgranite block with name, result is a nameless regular stone block.

[2017-07-22 16:21] theboomer commented on #1455
SPV now supports the crafting recipes but limited to preinitialize event suffers the same data-manipulator missing results, unless the author here and myself are missing other ways from the available methods to force the datamanipulator to the result or input ingredients.

IE challenge recipes to make work are  this redsand recipe , and andesite crafted to a potato  -- to demonstrate specificity a

[2017-07-22 17:51] ryantheleach opened #1460 "Too stringent error checking on IsCancelled filter."
Error: https://gist.github.com/ryantheleach/d94f72fb4569a0da44165c4dea071045 `Attempted to filter a non-cancellable event type by its cancellation status`
[code]

The current SpongeCommon code errors regardless of the Tristate.

Would have expected this to work on non-cancellable events, or parents of cancellable and non-cancellable events.

Undefined shouldn't care about cancelled state, regardle

[2017-07-22 19:03] #1460 closed, assigned to Deamon5550

[2017-07-24 13:26] lesbleu commented on #1443
This bug is also present in spongevanilla-1.10.2-6.0.0-BETA-161

[2017-07-24 15:34] bloodmc commented on #1443
@lesbleu That is an ancient build. Test on the latest here

https://www.spongepowered.org/downloads/spongevanilla/stable/1.10.2

https://repo.spongepowered.org/maven/org/spongepowered/spongevanilla/1.10.2-5.2.0-BETA-391/spongevanilla-1.10.2-5.2.0-BETA-391.jar

[2017-07-24 15:54] lesbleu commented on #1443
I can't start this version [Error](https://pastebin.com/LT6j5176).

[2017-07-24 17:19] bloodmc commented on #1443
Try latest SpongeForge for now

https://repo.spongepowered.org/maven/org/spongepowered/spongeforge/1.10.2-2281-5.2.0-BETA-2464/spongeforge-1.10.2-2281-5.2.0-BETA-2464.jar

You will need to install Forge on your server in order to run this. Grab latest forge installer here

https://files.minecraftforge.net/maven/net/minecraftforge/forge/index_1.10.2.html

[2017-07-24 19:08] lesbleu commented on #1443
I have tested in spongeforge-1.10.2-2281-5.2.0-BETA-2464 and the bug is present.

[2017-07-25 07:00] VcSaJen opened #1463 "Help system and command errors needs to be aware of subcommands"
Currently, the help system isn't aware of subcommands beyond "list all subcommands of main command separated by |". Help won't tell you about parameters of subcommands, or about subsubcommands.

For example, for this command tree:
[code]
"/help mycmd change" should display grandchild commands "name" and "coords", and "/help mycmd change name" should display description and parameters of said subco

[2017-07-25 07:05] ryantheleach commented on #1463
This will have to wait for the command refactor, but it's something I've been looking forward to / wanting for a long time.

[2017-07-25 13:58] Zidane commented on #1463
Closing as its already panned for fixing in the Commands PR.

[2017-07-25 13:58] #1463 closed, assigned to nobody

[2017-07-26 09:13] LJack2k commented on #1374
any idea when this get through?

[2017-07-26 10:57] kashike commented on #1374
https://github.com/SpongePowered/SpongeAPI/pull/1566

[2017-07-26 10:57] #1374 closed, assigned to kashike

[2017-07-26 18:42] Zidane commented on #1361
Closed in https://github.com/SpongePowered/SpongeForge/issues/1672#issuecomment-318125508

[2017-07-26 18:42] #1361 closed, assigned to nobody

[2017-07-27 17:13] #1455 closed, assigned to nobody

[2017-07-28 02:54] EmanYm opened #1466 ""An essential class was loaded before Sponge could patch it""
I'm not sure which Sponge github to put this on...
Everything relivant is on [this hastebin](https://hastebin.com/ifaweqitum.md).

The console log and the fml-latest have different time stamps because they are from different attempts to run the server.

[2017-07-28 03:05] kashike commented on #1466
This is an issue with the BaseMetals mod: https://github.com/MinecraftModDevelopmentMods/BaseMetals/issues/159.

[2017-07-28 03:05] #1466 closed, assigned to nobody

[2017-07-28 03:07] EmanYm commented on #1466
Thank you for the swift response.

[2017-07-28 04:59] ryantheleach commented on #1466
@EmanYm You may find luck using SpongeBootstrap.

[2017-07-28 06:31] EmanYm commented on #1466
It didn't fix the issue I'm having.  It does disclaim that it's not a guaranteed fix.  *shrug*  I have another course I can take.  Thank you for the help, Ryan

[2017-07-29 13:43] 5igm opened #1467 "ChangeEntityExperienceEvent doesn't work"
I want to write a plugin which can edit the exp formula, but the event ChangeEntityExperienceEvent seems cannot be fired when a player gains EXP. How to deal with it?
Code: https://my.pcloud.com/publink/show?code=XZEFXcZRnULoH9L1RzvyRoOPEvdP48t8IGV
There is no error in the log.

[2017-07-30 05:15] theboomer commented on #956
An addendum to what has been stated, as maybe by now there is knowledge of which hand was used, and we have access to getItemInHand(), but if the player places something from an itemstack of 1 item in hand is empty at this event , and although we can determine what would have been held by what blockstate resulted from placing .... we lose the itemstack/snapshot data .

And sometimes its important

[2017-07-30 08:49] ryantheleach commented on #1466
@kashike How did you determine out of all the mods that it was with BaseMetals?

[2017-07-30 17:57] caunt opened #1468 "Unexpected World Change"
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2464
- Java version: 1.8
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Applied Energistics 2 Core, Not Enough Items, SpongeAPI, SpongeForge, ccl-entityhook, IndustrialCraft 2, Advanced Machines, Advanced Solar Panels, Applie

[2017-07-30 23:49] kashike commented on #1466
By reading the log?

[2017-07-31 21:56] TBlueF opened #1469 "NPE in JsonTextSerializer"
Just a tiny issue:
`ITextComponent.Serializer.jsonToComponent(input)` returns `null` if the input is an empty String.
So .toText() might get called on a null-object: [here](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/text/serializer/JsonTextSerializer.java#L58)

:)

[2017-08-01 14:50] Sir-Will opened #1470 "Canceled ClickInventoryEvent causes dupe with InventoryTweaks"
Hey,
if I cancel the `ClickInventoryEvent` event and then have InventoryTweaks installed on the client (it's not on the server) I can dupe items by ctrl + left clicking any item in a container (inventory, chest..).
The item stays at the position but gets also moved to the slot where it would go without the canceled event.

I did relog to make sure it's no ghost item.

The code I used for testing:

[2017-08-02 04:19] runescapejon commented on #1470
you don't put inventorytweaks in your server it cause's inventory GUI issue's because inventorytweaks bypass all event's
it works on clientside you don't need it in serverside

[2017-08-02 05:33] Sir-Will commented on #1470
@runescapejon it's NOT on the server. I mentioned this explicitly above.

[2017-08-02 08:23] dualspiral commented on #1470
I imagine it's the same as https://github.com/SpongePowered/SpongeForge/issues/1546 - I forgot to check whether https://github.com/SpongePowered/SpongeCommon/commit/1a5ab72d29cf2c397043bb8178a964fbfb004046 needed backporting to stable-5, I expect that it does.

If I feel better later tonight, I'll test this and backport it, unless someone gets there first.

[2017-08-02 18:43] dualspiral commented on #1470
Hold on, I misread the issue this morning - I didn't properly read the bit about containers. Still, made me check to see whether I needed to backport my fix, I don't.

I tried to reproduce this using InvTweaks, but I couldn't reproduce this. I did the following:

* Put a double chest down on a clean server (running Nucleus + Mixins, LuckPerms, Total Economy, SF and Forge as above)
* Added some dia

[2017-08-02 19:42] marysaka opened #1472 "SpongeAvoidEntityAIBuilder should use Entity as classToAvoid"
SpongeAvoidEntityAIBuilder [actually use EntityCreature as second argument](https://github.com/SpongePowered/SpongeCommon/blob/74080b0c75e59075f164f5151b08be395e2d17fc/src/main/java/org/spongepowered/common/entity/ai/SpongeAvoidEntityAIBuilder.java#L92).

Because of that you cannot actually avoid no-creature based entity like the player.

Version: SpongeVanilla 1.12-7.0.0-BETA-306

[2017-08-02 22:39] Sir-Will commented on #1470
Just tested it again and found out that it only happens with one item and not stacked items.
@dualspiral did you test it with a stack or one single item?

How I reproduced it:
- Placed a chest
- Put one diamond into it
- Restarted the server with the test plugin enabled
- Opened the chest and ctrl + left clicked the diamond
- Closed the chest and opened my inventory (If I would open the chest inst

[2017-08-02 22:48] runescapejon commented on #1470
@Sir-Will  can you try this in survival mode ? because creative mode cancel event sucks

[2017-08-02 23:01] Sir-Will commented on #1470
Yea, just realized it. Testing it again.

[2017-08-02 23:21] Sir-Will commented on #1470
Ok, can't reproduce it in survival.
I wasn't aware that this makes a huge difference and didn't thing about switching to survival, next time I will know better. Sorry about that.

[2017-08-02 23:21] #1470 closed, assigned to nobody

[2017-08-03 00:47] runescapejon commented on #1468
hey i had ready report this on SpongeForge Github https://github.com/SpongePowered/SpongeForge/issues/1690
there in case one of the dev want to know more information

[2017-08-03 03:55] napentathol commented on #1443
I am also experiencing this issue: https://forums.spongepowered.org/t/how-to-disable-endermen-from-picking-up-blocks/20232/2

I am using:
Sponge: 1.12-7.0.0-BETA-303
Java: 1.8.0_131
OS: Ubuntu-flavor linux

[2017-08-03 12:43] JBYoshi commented on #1472
Then it should be `EntityLivingBase`. The player isn't an `EntityLiving`.

[2017-08-04 02:31] JBYoshi opened #1473 "Chunk.setBlockState() doesn't fire ChangeBlockEvent"
When I call `World.setBlockState()`, it fires several `ChangeBlockEvent`s (the actual types vary based on the original and resulting block). However, I noticed that calling `Chunk.setBlockState()` doesn't fire any events. Is this intended?

[2017-08-04 04:42] ryantheleach commented on #1472
Is it able to avoid non-living entities as well?

[2017-08-04 09:23] marysaka commented on #1472
@ryantheleach After a quick look, ```EntityAIAvoidEntity``` seems to accept ```Entity``` so yeah in theory, we can use it to be able to avoid non-living entities.

[2017-08-04 14:01] Zidane commented on #1472
I'll be dammed.

Looks like when I originally wrote this AI interface, I brought in the filter (which is fine) but completely forgot about the target class.

So really two things can be done here (give me some thoughts). One is a break, one isn't:

* (non-break) Change the second argument to Entity.class, filter out the ones you want with the predicate. Drawback is you better make sure that your p

[2017-08-04 14:29] Zidane commented on #1473
@bloodmc

Thoughts?

[2017-08-04 15:32] bloodmc commented on #1473
@JBYoshi @Zidane Intended for mods such as WorldEdit to not bring the server to its knees. Those that bypass world usually do so for a reason.

[2017-08-05 00:21] #1473 closed, assigned to nobody

[2017-08-05 10:13] ryantheleach commented on #1472
I don't understand the second option.

[2017-08-05 10:24] ryantheleach commented on #1473
That's super surprising.

Is there not something that can be done to change the signature, or at least document this behavior if we are going to let an escape hatch exist?

[2017-08-05 12:35] JBYoshi commented on #1472
The second option wouldn't have to be a break. It could just default to `Entity.class` if left unspecified.

[2017-08-05 15:09] ryantheleach opened #1476 "/sponge:help has no permission check."
https://forums.spongepowered.org/t/and-help/20266/4

It's been requested that the help system have a permission associated with it.

I recommend : sponge.command.help

[2017-08-05 20:16] JBYoshi commented on #1439
@SpongePowered/developers Is this intended behavior?

[2017-08-05 20:20] JBYoshi commented on #1436
For chests, only the tile entities support `ConnectedDirectionData`. Doors use `PortionData` instead.

[2017-08-05 21:09] JBYoshi commented on #1404
What were you doing when you got the crash?

[2017-08-05 21:17] XakepSDK commented on #1404
Just join server and load chunk with unknown entity(idk, what entity is this)

[2017-08-05 21:21] parlough commented on #1436
@JBYoshi For the chest though, its `BlockSnapshot` says here that it does not support connected directions nor does it have any connected directions and a block snapshot is supposed to contain "any extra data that may be associated with it, including {@link TileEntity} related data."

I haven't tested this in a while and I may have made some mistake but I don't think so. I'll test it again and als

[2017-08-06 01:53] JBYoshi commented on #1404
Fixing the names results in this:

[code]

It looks like a stick of dynamite is trying to check if there's an air block at `null`. However, I can't figure out exactly how to reproduce this, so I can't pull it up in the debugger to check for sure.

If it is the world, would you be OK posting a copy of your world and telling me where the faulty stick is?

[2017-08-06 13:23] lesbleu commented on #1446
At [MixinBlock](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/block/MixinBlock.java#L155), Event is not launched with there conditions. It's normal ? If yes, why ?

[2017-08-07 02:09] #1452 closed, assigned to nobody

[2017-08-07 21:03] parlough commented on #1436
Yeah @JBYoshi as I expected(since the block snapshot would contain it too), the tile entity grabbed from the location still says it does not support `Keys.CONNECTED_DIRECTIONS`.

[2017-08-07 21:10] parlough commented on #1436
I use this in Latch to automatically lock the second part of a chest, and it used to work but it no longer does.

I have tried to find the issue within Latch as well as Sponge itself but the dataprocessor seems right. I must be missing something.

[2017-08-08 02:28] modwizcode commented on #23
Capitalization error https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/data/processor/value/entity/AReaEffectCloudAgeProcessor.java

[2017-08-08 02:38] JBYoshi commented on #1436
Apparently someone forgot to register the tile entity data processor.

[2017-08-08 02:39] JBYoshi commented on #1436
Wait a minute... It is in the list to register... just not being tied with the other processor.

[2017-08-08 02:41] TheRaspPie opened #1478 "ExplosionEvent.Detonate is called twice"
[code]

https://pastebin.com/ktAuY751

ExplosionEvent.Detonate is called twice (as you can see in the stacktrace). Can only reproduce this by creating a new tnt entity programmatically. Burning tnt like in Vanilla Minecraft doesn't work.

Verified with _spongevanilla-1.11.2-6.1.0-BETA-16_

[2017-08-08 02:45] JBYoshi commented on #1436
Never mind. I was looking at the data processor, not the value processor. The value processor doesn't have any code for tile entities. Looking into it now.

[2017-08-08 02:57] parlough commented on #1436
@JBYoshi Thanks for taking a look, I couldn't find the issue.

[2017-08-08 03:21] #1436 closed, assigned to JBYoshi

[2017-08-10 02:53] JBYoshi opened #1480 "How to implement horse inventory?"
I was looking at implementing the horse inventories earlier. It seemed pretty easy, except for one thing: the size of a horse's inventory can change.

* Every horse has at least one slot: slot 0, for the saddle.
* Regular horses have a second slot (slot 1) that holds a piece of armor. Donkeys, mules, and llamas use it for a chest that toggles access to the rest of the inventory, although . Llamas

[2017-08-10 06:22] Faithcaio commented on #1480
Pretty sure the inventory does not change its size. Instead when a Chest is added the inventory is recreated.

[2017-08-10 12:05] JBYoshi commented on #1480
Yeah, that's what I meant.

[2017-08-10 20:59] #848 closed

[2017-08-10 21:23] #1418 closed, assigned to nobody

[2017-08-11 14:05] bloodmc commented on #1468
dupe SpongePowered/SpongeForge#1690

[2017-08-11 14:05] #1468 closed, assigned to nobody

[2017-08-11 14:38] #1366 closed, assigned to JBYoshi

[2017-08-11 14:39] #1377 closed, assigned to JBYoshi

[2017-08-11 14:42] #1322 closed, assigned to JBYoshi

[2017-08-11 15:00] Zidane commented on #1413
@Minecrell Status?

[2017-08-11 15:01] Zidane commented on #1434
@Faithcaio Thoughts?

[2017-08-11 15:02] Zidane commented on #1406
@Aaron1011 Can you fix this up since you did skulls?

[2017-08-11 15:04] Zidane commented on #1420
@Deamon5550

Here you go.

[2017-08-11 15:04] Zidane commented on #1391
@Minecrell

Was this fixed in 1.12?

[2017-08-11 15:07] Zidane commented on #1385
@bloodmc You wrote the portal code, review the API issue and let me know your thoughts. Be sure to read it all.

[2017-08-11 15:07] Zidane commented on #1212
@gabizou Status on this?

[2017-08-11 15:08] Zidane commented on #1180
@Faithcaio

Status?

[2017-08-11 15:13] Zidane commented on #1300
@Deamon5550 Thoughts?

[2017-08-11 15:14] Zidane commented on #1179
Fixed in latest implementation builds.

[2017-08-11 15:14] #1179 closed, assigned to nobody

[2017-08-11 15:56] #1222 closed, assigned to JBYoshi

[2017-08-11 16:06] parlough commented on #1406
@Zidane Was this not properly solved with #1409?

[2017-08-11 16:10] Zidane commented on #1406
Oh, completely spaced on this.

[2017-08-11 16:10] #1406 closed, assigned to Aaron1011

[2017-08-11 16:40] #1415 closed, assigned to nobody

[2017-08-11 16:50] Faithcaio commented on #1180
This PR makes the vanilla containers work as the client expects it. (currently there is no item on server side in the output slot)
https://github.com/SpongePowered/SpongeCommon/pull/1221

[2017-08-11 18:47] stephan-gh commented on #1391
@Zidane No, Forge decided to keep Scala and configurate at the old versions for 1.12 (see https://github.com/MinecraftForge/MinecraftForge/pull/4029). I can't think of any other way to fix this so we'll need to wait until Forge either updates or removes configurate.

[2017-08-11 18:58] Zidane commented on #1391
@Minecrell

We need to figure out something here as its a very annoying issue..

[2017-08-13 06:56] bloodmc commented on #1399
Fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/c352510dff8293fa1b3cab730605baf302af0bfb

[2017-08-13 06:56] #1399 closed, assigned to bloodmc

[2017-08-14 03:09] DawnTheFawn1 opened #1482 "Querying for OrderedInventory throwing ClassCastException"
**I am currently running...**

- SpongeForge version:
- SpongeVanilla version: 1.12.1-7.0.0-BETA-311
- Java version: 1.8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
Minecraft, SpongeVanilla, Crates, SpongeAPI, ViaVersion, Cosmetics, Mod Coder Pack, Eleria Core, Spart

Most of the plugins are private for a new server in the works
**Wh

[2017-08-14 05:06] BenWoodworth commented on #1448
This issue still remains when cancelling dragged slot transactions.

I have a top inventory open which cancels all of its `SlotTransaction`s. If I have items on my cursor, and drag with the secondary mouse button (right click, leaves one item in each dragged slot), dragging into the top inventory will cancel the transaction without putting the items back on the cursor.

E.g. if I had 3 items on th

[2017-08-14 05:57] BenWoodworth commented on #1448
It also appears to be present when double clicking in some situations. (Same inventory setup, and same Sponge version)

http://imgur.com/a/Hlp7x
The asterisk* in the chat indicates that the top diamonds had an `AffectSlotEvent` cancelled.

With two diamonds in the top inventory and two in the bottom inventory (pic 1), double clicking the bottom diamonds triggers an `AffectSlotEvent` on the top dia

[2017-08-14 06:12] Faithcaio commented on #1482
A Player Inventory contains multiple smaller OrderedInventories so your query returns an adapter wrapping those.
`query` does NOT always return the type you give it.
If the queryresult is not an empty inventory you can iterate through it to get all the OrderedInventories contained in the result.

[2017-08-14 06:22] DawnTheFawn1 commented on #1482
Ok I understand that for the Player Inventories, but what about for custom inventories which is what I originally found the issue on? The code in the gist hasn't changed and it worked fine in 1.11.2 but now gives that error since updating to 1.12.1

[2017-08-14 17:43] #1239 closed, assigned to kashike

[2017-08-14 19:41] #1469 closed, assigned to stephan-gh

[2017-08-14 20:39] Cybermaxke commented on #1482
`Inventory inventory = player.getInventory().query(OrderedInventory.class)` gives a inventory that may contain multiple `OrderedInventory`s. (can also return EmptyInventory, in case no `OrderedInventory` is found)
To get the first one, just call `OrderedInventory orderedInventory = inventory.first()`.
So you end up with: `OrderedInventory inventory = player.getInventory().query(OrderedInventory.cl

[2017-08-14 23:34] DawnTheFawn1 commented on #1482
Yea and like I said in my previous comment, I understand that's not how you use it for player inventories. Though one thing you said intrigued me. It appears that with my custom inventory system, calling inventory.query(OrderedInventory.class).first() opposed to just directly using query works fine, I'll do a bit more testing to be sure but so far that seems to have resolved the issue. I'm still c

[2017-08-14 23:57] DawnTheFawn1 commented on #1482
Nope that doesn't actually solve it, it just ended up giving me the first InventoryRow, which makes sense when I think about it. I've changed to just using GridInventory and it appears to actually be working this time, probably should have used that from the beginning. I'll be testing more to make absolute sure, and if all's good I'll close the issue.

[2017-08-15 01:55] #1476 closed, assigned to Zidane

[2017-08-15 02:36] TheRaspPie commented on #1280
There is another bug:
When cancelling DropItemEvent.Dispense the item drops anyway.
And when cancelling DropItemEvent (top-level):
 - The item isn't dropped if I drop it with Q
 - The item is dropped if I drop it through the inventory

EDIT (21 August):
When trying to drop the item by closing the inventory with the item as cursor, the DropItemEvent.Custom got fired instead of DropItemEvent.Dispens

[2017-08-15 03:51] DawnTheFawn1 commented on #1482
Issue resolved, sorry about this. My understanding of the inventory api isn't so great at times.

[2017-08-15 03:51] #1482 closed, assigned to nobody

[2017-08-15 06:07] Faithcaio commented on #1482
cause rows are ordered

[2017-08-15 10:25] ryantheleach commented on #1212
Possibly related:
1. https://github.com/SpongePowered/SpongeForge/issues/1324
 2. https://github.com/SpongePowered/SpongeForge/issues/1201

[2017-08-15 10:45] #1413 closed, assigned to stephan-gh

[2017-08-15 10:58] stephan-gh commented on #1413
@lucko Generally yes, good catch, but it still prevented interacting with Nashorn classes directly (although the question is if you should really do that...). Not sure why you deleted your comment, it was fine :P

[2017-08-15 11:03] lucko commented on #1413
I deleted my reply it because it looks like OP already tried it that. The first example given above was exactly what I was suggesting. (I didn't fully read the issue before replying 🙂)

As you said, it prevents interacting directly with Nashorn, which I assume is necessary.

Also, I'm not entirely sure if constructing with a null classloader will allow you to use Sponge/your own plugin's classes w

[2017-08-15 12:53] stephan-gh commented on #1413
That's exactly what I thought, but it worked fine with a null class loader when I tested it. It seems like the classloader that is given to the `ScriptEngineManager` is only used to locate the `ScriptEngine`, but not for the actual scripts.

[2017-08-16 17:58] EmanYm opened #1487 "Starting a 1.12.1 server with 1.10.2 worlds"
**I am currently running...**
- SpongeVanilla version:
    - 1.12.1-7.0.0-Beta 315
- Java version:
    - 8
- Operating System:
    - - [x] Linux (Ubuntu, Debian, Fedora, etc)

- Plugins/Mods:
    - [Here is a screen capture](https://i.gyazo.com/86e406114bc9625fb07b8fefcdd735d1.png) of everything in my server's mods folder

**What is the current result?**

[https://pastebin.com/87LRbU3p](https://pa

[2017-08-16 18:01] EmanYm commented on #1487
I forgot to tag @gabizou in the opening post...

[2017-08-16 22:24] PurpleIsEverything opened #1489 "ClickInventoryEvent returns instance of the container when clicking a slot in the player inventory while a container is open."
**I am currently running...**
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2569
- Java version: Java HotSpot(TM) 64-Bit Server VM, version 1.8.0_131
- Operating System: Centos 7 - Docker Alpine
- Plugins: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, LuckPerms, Nucleus, Prism

**What is the expected result?**

ClickInventoryEvent should return the Pla

[2017-08-17 20:35] parlough commented on #984
@gabizou Wasn't this completed in https://github.com/SpongePowered/SpongeCommon/commit/ca47c86 and https://github.com/SpongePowered/SpongeCommon/commit/78365a7?

[2017-08-17 20:47] parlough commented on #1268
Is this still occurring on the latest bleeding builds?

[2017-08-18 01:54] JBYoshi commented on #984
Looks like it was.

[2017-08-18 01:54] #984 closed, assigned to gabizou, Aaron1011

[2017-08-18 02:39] JBYoshi commented on #1478
Found the issue - apparently the click packet is being sent twice, and Sponge isn't doing anything about it. That means two TNT entities are being spawned.

[2017-08-18 03:00] JBYoshi commented on #1150
Does this happen on the latest version? If so, post the version of Minecraft and Sponge that you're using.

[2017-08-18 04:54] EmanYm opened #1493 "Exception during phase body"
I get [this](https://hastebin.com/yozevaxita.md) after using `/kill breantique`

**I am currently running...**
- SpongeVanilla version:
    - 1.12.1-7.0.0-beta 315
- Java version:
    - 8
- Operating System:
    - [x] Linux (Ubuntu, Debian, Fedora, etc)

[2017-08-18 05:40] EmanYm opened #1494 "Completing incorrect phase"
I didn't notice [this](https://hastebin.com/layuyuralo.md) until now.  NoHqcksJustPie was the only one on at the time.
There is nothing in the latest.log within two minutes before he logged in.

[2017-08-18 09:22] kashike commented on #8
This has been updated, thanks to @Meronat.

[2017-08-18 15:10] gabizou commented on #1493
@Faithcaio looks like some inventory parents are null for some reason or another.

[2017-08-18 15:37] gabizou commented on #1487
Looks like SignPortalData is not being registered. Whether the plugin is missing, or whether the "old alias" is not being registered for upgradability is unknown at this moment, but the data will still remain until it is either forcefully removed, or until the plugin upgrades the data successfully. Good thing to note though is that for some reason, I didn't get this in a pretty printer so it can b

[2017-08-18 15:45] gabizou commented on #1487
Verified [ProjectPortals does not register a legacy id for the legacy data](https://github.com/trentech/ProjectPortals/blob/b6cb1dc8a16a25833db8259f701b4eaae039fba0/src/main/java/com/gmail/trentech/pjp/Main.java#L119). Tagging @trentech.

To resolve the issue: Using [`registerLegacyManipulatorIds`](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/data/Da

[2017-08-18 15:45] #1487 closed, assigned to gabizou

[2017-08-18 18:12] SjsolisZXA opened #1499 "Crash On Login"
As the title suggests, the server crashes on client log in.

**SpongeForge:** spongeforge-1.10.2-2281-5.2.0-BETA-2546.jar (This also happens with the latest build, spongeforge-1.10.2-2281-5.2.0-BETA-2571)
**Java Version:** 1.8.0_141
**OS:** Linux

Console Log: [rawlog.txt](https://github.com/SpongePowered/SpongeCommon/files/1235233/rawlog.txt)
Crash Report: [crash-2017-08-18_13.52.34-server.txt](h

[2017-08-18 19:02] BenWoodworth commented on #1448
@Faithcaio @bloodmc I believe this issue should be re-opened, because the issue still remains when dragging and double clicking items in the inventory, as described in the two previous comments.

[2017-08-18 21:35] parlough commented on #8
I will start BedData and possibly LeashData later today or tomorrow.

[2017-08-19 01:35] bloodmc commented on #1448
@BenWoodworth The code in first post was fixed. I cannot reproduce any issues when invalidating all transactions. How are you getting items onto your cursor when the code is invalidating ALL transactions? You need to open another ticket if you are going to be changing code and providing different scenarios. Also, your screenshot shows "FastCraft". I have no idea what plugin/mod this is but you nee

[2017-08-19 01:50] BenWoodworth commented on #1448
@bloodmc It's a plugin I'm working on, and I'm dabbling with creating a GUI. And in the dragging and double clicking examples, I'm only cancelling the `AffectSlotEvent`s for the slots in the upper inventory.

Here's the code I'm using. Basically, the inventory is built with a carrier, and the title "FastCraft", and the `AffectSlotEvent` listener cancels if it's a slot in the top inventory.

Code f

[2017-08-19 03:01] Aaron1011 commented on #1499
@SjsolisZXA: Are you able to reproduce this consistently with a fresh world?

[2017-08-19 04:06] bloodmc commented on #1448
OK i'll look into this when I get more time.

[2017-08-19 14:00] Zidane commented on #1480
Closing as this is in Faith's branch.

[2017-08-19 14:00] #1480 closed, assigned to nobody

[2017-08-19 22:27] ghost commented on #8
I am working on `DominantHandData`.

[2017-08-19 23:50] #1472 closed, assigned to Zidane

[2017-08-19 23:52] Zidane commented on #1472
I've elected to just allow all entities to be passed to the selector due to the generics usage, changing the target class after the task has been built gets ugly fast and allowing the target class in the builder still means the predicate in the task would be just an Entity predicate (which means you would still need to cast).

[2017-08-20 00:27] Faithcaio opened #1503 "Inventory Root and getting "real" Slot"
More stuff for the Inventory API + Impl:

add a Inventory#root which recursivly gets .parent() until reaching the root inventory.
(This is usually the actual IInventory or Container)

Add a way to query for the "real" Slot. (slot.query(???).root()) is then usually the real IInventory holding the slot.

@Mumfrey

[2017-08-20 16:36] randombyte-developer commented on #1396
I hope this gets resolved soon ;)

[2017-08-21 00:40] JBYoshi commented on #1453
See also https://github.com/SpongePowered/SpongeCommon/issues/1288 and https://github.com/SpongePowered/SpongeVanilla/issues/313.

[2017-08-21 00:41] JBYoshi commented on #1288
See also https://github.com/SpongePowered/SpongeCommon/issues/1453 and https://github.com/SpongePowered/SpongeVanilla/issues/313.

[2017-08-21 14:10] lesbleu commented on #1268
I checked on SpongeVanilla 7.0.0 Beta 318 and this bug is present

[2017-08-21 16:57] stephan-gh commented on #1268
I fixed the two examples in your video (milk and lead) but I'm not sure if I have covered all other cases, special handling was required to make lead work correctly. Let me know if it's broken for anything else.

[2017-08-21 17:23] stephan-gh commented on #1288
Closing, let's move this to a single issue: https://github.com/SpongePowered/SpongeCommon/issues/1453

[2017-08-21 17:23] #1288 closed, assigned to nobody

[2017-08-21 17:24] stephan-gh commented on #1453
As I mentioned on https://github.com/SpongePowered/SpongeVanilla/issues/313 (which has also a few suggested solutions we should consider), this seems to be intended: [The `@Overwrite` comment specifically mentions applying it to all worlds.](https://github.com/SpongePowered/SpongeCommon/blob/74080b0c75e59075f164f5151b08be395e2d17fc/src/main/java/org/spongepowered/common/mixin/core/server/MixinDedi

[2017-08-21 18:09] #1333 closed, assigned to nobody

[2017-08-21 18:10] stephan-gh commented on #1333
Closing this, hard to tell what's causing this without the code used to load the world.

[2017-08-21 19:21] SjsolisZXA commented on #1499
No, it seems like it's a problem with the world I had on my server, my apologies. Do you have any idea what the log is saying about the world?

Update: It was a level.dat issue.

[2017-08-21 19:23] #1129 closed, assigned to stephan-gh

[2017-08-22 16:20] lesbleu commented on #1268
Thanks. It's broken when :
- I add saddle to pig,
- I color sheep and wolf
- I equip chest with mule and donkey

[2017-08-22 16:40] stephan-gh commented on #1268
@lesbleu Thanks :) I'll take a look at these as soon as possible.

[2017-08-22 17:17] lesbleu opened #1504 "LegacyText : Optimization"
@Minecrell
After the [commit](https://github.com/SpongePowered/SpongeCommon/commit/4584f6ee5920b0e3643b3d6b6fc54fe40201c250), The color at end of Text is not saved and this is usefull when I want to concatenate 2 Text with propagate TextColor.

[2017-08-22 18:48] #1499 closed, assigned to Aaron1011

[2017-08-22 20:45] #1268 closed, assigned to stephan-gh

[2017-08-22 20:46] stephan-gh commented on #1268
@lesbleu Should be fixed. I've also added name tags which seemed to be also broken.

[2017-08-22 21:10] stephan-gh commented on #1504
@lesbleu I'm not sure I understand your use case, could you provide example code how you're combining the text instances. Couldn't you just concatenate before giving it into the legacy serializer?

[2017-08-23 00:36] ryantheleach commented on #1453
Looking from this from a server administrator point of view.

Vanilla Spawn protection is either expected, or entirely surprising on the overworld.

Most disable it or don't realize it exists, but some newer players (to modded servers) who have only ever experienced vanilla will expect the option to be there by default, and behave like vanillas (only active on the overworld).

In order to utilize

[2017-08-23 04:41] lesbleu commented on #1504
[EFormatString](https://github.com/EverCraft/EverAPI/blob/master/src/main/java/fr/evercraft/everapi/message/format/EFormatString.java#L66)
![Example](https://image.noelshack.com/fichiers/2017/34/3/1503463463-capture.jpg)

Code : [EATest](https://github.com/EverCraft/EverAPI/blob/2c7a0a6cd5bb9d717e70d440434be2354afed6a4/src/main/java/fr/evercraft/everapi/command/sub/EATest.java#L71)

Result : &cHel

[2017-08-23 12:38] JBYoshi commented on #1478
I think I saw a fix related to this earlier. Does this still happen on the latest version?

[2017-08-23 18:15] TheRaspPie commented on #1478
This is no longer an issue.

[2017-08-23 18:15] #1478 closed, assigned to JBYoshi

[2017-08-24 17:55] XakepSDK commented on #1504
# **_RTFM!_**
### **https://docs.spongepowered.org/stable/en/plugin/text/templates.html**

Sorry for this, guys, but i have BUTT HURT! JUST RTFM!!!!!!1

[2017-08-24 19:12] lesbleu commented on #1504
Hi @XakepSDK,
TextTemplates is not usefull for Custom Message to my usage.
In my plugins, there are approximately 50 replace per message [EReplacesPlayer](https://github.com/EverCraft/EverAPI/blob/master/src/main/java/fr/evercraft/everapi/message/replace/EReplacesPlayer.java), [EReplacesServer](https://github.com/EverCraft/EverAPI/blob/master/src/main/java/fr/evercraft/everapi/message/replace/ERep

[2017-08-24 20:05] XakepSDK commented on #1504
Do you want to replace placeholder part with 'Text' class contents?
Try to do this with sponges TextTemplate/Text.append, if everything works - problem is in your code.

[2017-08-24 20:56] rexbut commented on #1504
[Append](https://github.com/EverCraft/EverAPI/blob/368ccad2ee23a532f12b0db69b6c7d7176d0a9a5/src/main/java/fr/evercraft/everapi/command/sub/EATest.java#L76) :
![Append](https://image.noelshack.com/fichiers/2017/34/4/1503607404-capture2.jpg)

[TextTemplate](https://github.com/EverCraft/EverAPI/blob/368ccad2ee23a532f12b0db69b6c7d7176d0a9a5/src/main/java/fr/evercraft/everapi/command/sub/EATest.java#L7

[2017-08-25 21:52] SjsolisZXA commented on #1267
Bumping up report.

[2017-08-25 21:53] SjsolisZXA commented on #1276
Bumping up report.

[2017-08-25 21:53] SjsolisZXA commented on #1397
Bumping up report.

[2017-08-25 21:53] SjsolisZXA commented on #1447
Bumping up report.

[2017-08-25 21:53] SjsolisZXA commented on #1237
Bumping up report.

[2017-08-25 23:39] JBYoshi commented on #1267
@SjsolisZXA By "team scoreboard", do you mean the extra like of text for the score? If so, that's intended behavior in vanilla; each player can see one and only one objective under other player's names, and that objective is shown for all players they see, and Sponge can't work around that.

[2017-08-26 19:51] rexbut commented on #1363
The bug is also present in SpongeVanilla 1.12.1-7.0.0-BETA-319

[2017-08-26 20:32] Mohron opened #1506 "WorldProperties - GeneratorModifiers not Saving"
**I am currently running...**
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2597
- Java version: 8 update 144
- Operating System:  Windows 10
- Plugins/Mods:
[code]
**What is the expected result?**
When adding the sponge:void modifier during ConstructWorldPropertiesEvent, the modifer should be saved to the `sponge/worlds/.../.../world/world.conf` file.

**What is the current result?**
The modifier

[2017-08-26 21:49] JBYoshi commented on #1423
Is this still an issue? If so, could you post an updated stack trace?

[2017-08-27 01:57] JBYoshi commented on #1423
Is this still an issue?

[2017-08-27 11:24] Evolht opened #1507 "Phase incompatibility detected error but code runs correctly"
**I am currently running...**

- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2597
- Java version: 1.8
- Operating System: windows 10

 - [x] Windows

Plugins/Mods:

- Pixelmon Dark 1.7
- EconomyLite-6.0.0-2.12-23
- Nucleus-1.1.0-S7.0-MC1.12.1-plugin
- PixelmonEconomyBridge-1.10.2-1.3.0
- spongeforge-1.10.2-2281-5.2.0-BETA-2597

I also use a separate mod called NBTHandler, which I've compiled, and

[2017-08-27 20:50] DawnTheFawn1 opened #1508 "Cancelling ChangeInventoryEvent.Held not working"
**I am currently running...**

- SpongeForge version:
- SpongeVanilla version: Spongevanilla-1.12.1-7.0.0-BETA-314
- Java version: 1.8.0_44
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods: Minecraft, Mod Coder Pack, SpongeAPI, SpongeVanilla, AnotherRPGPlugin, Eleria Core (last 2 are private for a server I'm working on, let me know if ther

[2017-08-28 13:57] Twisted-Code commented on #1212
@gabizou any progress? Pretty sure this is related to the issue I'm having with AE crystal seeds despawning. I know they have the no-despawn flag set but, as I noted in reply to one of the issues referenced above, they keep despawning on my server (and not in singleplayer)

[2017-08-29 02:00] ryantheleach commented on #1212
https://github.com/SpongePowered/SpongeForge/issues/1324#issuecomment-325364383 reports that it is not reproducible in single player.

[2017-08-29 09:29] Orhideous opened #1509 "AbstractMethodError with new TE unload mechanism"
**I am currently running...**

- Sponge version: **1.10.2-12.18.3.2422**
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-2597
- Java version: 1.8.0_131, Oracle Corporation
- Operating System: Linux (amd64) version 3.16.0-4-amd64

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

**What is the expected result?**
Server should'nt crash
**What is the current result?**
Server crash

[2017-08-29 16:30] Yeregorix opened #1510 "spawner.offer(Keys.SPAWNER_NEXT_ENTITY_TO_SPAWN, entity) throws NoSuchFieldError"
**I am currently running...**

- SpongeForge version: 1.12.1-2444-7.0.0-BETA-2565:dev
- Java version: 1.8.0_131
- Operating System: Windows 10

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods: WIP world modifier

**What is the expected result?**
Calling `tileentity.offer(Keys.SPAWNER_NEXT_ENTITY_TO_SPAWN, new WeightedSerializableObject<>(EntityArchetype.of(ty

[2017-08-29 17:04] Snez0kRU opened #1511 "Add config to disable "Player moved wrongly!""
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2281-5.2.0-BETA-2597.jar
- SpongeVanilla version:
- Java version: 8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
any mod that bypasses speed limits set forth by vanilla will have that issue
**What is the expected result?**
Off this spam func pls
**What is the cur

[2017-08-29 17:23] gabizou commented on #1510
This is a SpongeForge issue, not a SpongeCommon issue. The root of the issue is that in 1.12, the EntityList.REGISTRY was removed for Forge specifically during registry rewrites. This can be fixed, but you'll need to re-open on SpongeForge's issue list.

[2017-08-29 17:23] #1510 closed, assigned to stephan-gh

[2017-08-29 21:38] bhi-elliot commented on #1511
I get this sometimes even without a mod that bypasses speed limits (that I know of).
Almost any time a player uses a vanilla horse, for example, I get many of these messages along with "horse moved wrongly".

edit: more info:
my server:
Java version: 1.8.0_144
minecraft_server.1.11.2
forge-1.11.2-13.20.1.2454-universal
spongeforge-1.11.2-2393-6.1.0-BETA-2592

[2017-08-30 01:39] Sharkske opened #1512 "Issue with chunks unloading after players logout or leaves the region"
- SpongeForge version: 1.10.2-2281-5.2.0-BETA-259
- Java version: Java 8
- Operating System: Ubuntu
- Plugins/Mods: Skyfactory 3 ftb modpack

Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Not Enough Items, OpenComputers (Core), SpongeAPI, SpongeForge, FoamFixCore, ccl-entityhook, Fence Overhaul, AdminShop, Block Restrictor, CatClearLag, DisableSkeletonHorse, NuVotifier, Enjin

[2017-08-30 02:44] bloodmc commented on #1512
You are setting very bad chunk settings in your config. Reset your sponge global config and test again with DEFAULTS.

[2017-08-30 03:23] bloodmc commented on #1511
@Aaron1011 if you could fix this as well, that would be great. We just need to add a config option and possible fix a bug with our current impl as vanilla horses shouldn't be triggering that check (unless this is a bug in vanilla).

[2017-08-30 04:02] Sharkske commented on #1512
i know they are, its not for normal use i just set some of the settings low to speed up things to be able to gather the info i need to post here, the setting i normally use are default just maybe some changes with mob spawn rates. The point im trying to show u is chunks arent being marked as inactive for unload, it may not be the fault of sponge it could even be the fault of a mod, but im here i n

[2017-08-30 04:08] Sharkske commented on #1512
new config https://pastebin.com/NN0YqiyM

same issue just, bases arent fully unloading after leaving them

[2017-08-30 06:27] ryantheleach commented on #1511
Sounds like a vanilla bug to me.

[2017-08-30 07:41] napentathol opened #1513 "The many paths to NPE on Adapter line 382"
I noticed this in commit d31c658, though, presumably it affects every commit after 4f6471a.

This is breaking custom recipes in spongevanilla-1.12.1-7.0.0-BETA-320.jar

---

If you look at line 382 of org.spongepowered.common.item.inventory.adapter.impl.Adapter there is a precondition that "parent" not be null. This is apparently because there is a need in getPlugin() to ensure that "parent" is de

[2017-08-30 12:31] bloodmc commented on #1512
Test without sponge.

[2017-08-31 06:12] napentathol commented on #1513
https://github.com/napentathol/SpongeCommon/compare/bleeding...napentathol:1513

I can open a PR if you want

[2017-09-01 02:28] BrainStone opened #1514 ""java.sql.BatchUpdateException: (conn:12908) Unknown command" from mariadb-java-client"
##Recently the library `mariadb-java-client` has been updated from `2.0.2` to `2.1.0`, which is a bugged version, causing `java.sql.BatchUpdateException: (conn:12908) Unknown command` exceptions when excuting batches of prepared statements.
I'm asking to revert c4d8144c39c842214739f1131ca45b2cc2c53e30 from @Minecrell or downgrade it to 2.0.2 or 2.0.3 (LuckPerms for BungeeCord uses that version) as

[2017-09-01 02:32] ryantheleach commented on #1514
Glad you found the issue, seemed like it was driving you insane :-(

[2017-09-01 02:33] BrainStone commented on #1514
Trying to fix it for 16 hours straight. Yes. It drove me insane.

[2017-09-01 07:22] stephan-gh commented on #1514
@BrainStone I apologize for all the trouble this has caused you. I did some basic testing with the new  version, but I can't cover all cases (and I expect upstream to do these tests to be honest). Hopefully they fix it upstream soon.

[2017-09-01 07:22] #1514 closed, assigned to stephan-gh

[2017-09-01 16:54] Faithcaio commented on #1513
The NPE should be solved in latest.

The actual issue is not.
But it requires a rewrite of our lens-system and where we mixin into inventories.

Thanks for your investigation anyways.

[2017-09-01 16:54] #1513 closed, assigned to Faithcaio

[2017-09-01 17:11] BrainStone commented on #1514
Thanks Mincrell! I don't blame you for this issue. As it turns out it is an issue partially caused by me too, as this problem only occurs with MariaDB 10.3 (which is an alpha version). But thanks for changing it back. And update for SF and SV would be highly apprechiated!

[2017-09-01 20:47] stephan-gh commented on #1514
Already done. :)

[2017-09-01 22:05] Eufranio commented on #999
Using latest SpongeForge (API6, 1.11.2) and still no event.

[2017-09-02 01:49] Sharkske commented on #1512
i ran a test server without sponge still the same issue

[2017-09-02 02:18] Magi1053 opened #1515 "Expected to exit phase: EntityTickPhase, But instead found phase: DeathPhase"
[code]
[code]

[2017-09-02 12:08] JBYoshi commented on #1512
Not a Sponge bug then.

[2017-09-02 16:34] #1512 closed, assigned to nobody

[2017-09-02 18:11] Magi1053 commented on #1515
So there must be some kind of a villager in a chunk, probably underground as there is nothing on the surface. When a player walks into the chunk (and now the chunk is chunkloaded), the server instantly crashes with this message. Upon that same player reconnecting to the server after restart, it crashes again.
The only way I've been able to stop the crash is to /kill all the passive villagers on th

[2017-09-02 19:15] Sharkske commented on #1512
thanks for the help...

[2017-09-02 19:28] Pokechu22 opened #1516 "SpongeEntityType.translation is unused and would be incorrect if it were used"
This code:

https://github.com/SpongePowered/SpongeCommon/blob/7f977c8628ce5f47813a06084a31a6f8c6f78c0d/src/main/java/org/spongepowered/common/entity/SpongeEntityType.java#L91-L99

is incorrect.  It would produce translation codes like `entity.magma_cube.name`, when the actual translation code is `entity.LavaSlime.name` (using old IDs) - [see burger](http://pokechu22.github.io/Burger/1.12.1.html#l

[2017-09-02 19:31] Pokechu22 commented on #1516
I wasn't sure whether I should make a PR, an issue, or just bring this up in IRC - if this isn't the best place, let me know.

[2017-09-02 22:18] ST-DDT commented on #1516
Are there `Translation`s for all `EntityType`s in there? IIRC in my research for #1306 that method also "failed" for some internal ones like complex part(?). That method also fails for the `Minecart` as it returns `entity.MinecartRideable.name` instead of `entity.Minecart.name` (AFAICT).

In addition to fixing it in Common we might also have to change the API to make the return value optional.

[2017-09-02 22:32] Pokechu22 commented on #1516
Not all exist, true.  [This is a vanilla problem](https://bugs.mojang.com/browse/MC-68446 "[MC-68446] Some entities have the wrong name").

[2017-09-03 01:10] theboomer opened #1517 "1.12.1 SV (L or R)Shift-clicking creative inventory destroy-item results in _Exception during phase body_ phase packet-errorspam"
Errorspam thrown while shift left/right clicking on the "Destroy Item" 'slot' on the 'Survival Inventory' tab of the Creative-mode inventory display, regardless of having items in inventory or completely empty,

Reproducibility level: 100.0%

org.spongepowered.common.event.tracking.phase.packet.CreativeInventoryPacketState errors

Happens for both leftclick and rightclick usages

**I am currently

[2017-09-03 06:32] theboomer opened #1518 "1.12.1 Bug or Intentional? Player in cause for mob spawning cube EntitySpawnEvents not consistent with scenario"
I don't know if this is the way the system should work, or if it is a bug, but it doesn't seem to have a reason for me as to why it would work this way, making no consistant sense as to what player is listed in the cause and how so.

In this example, I go to the nether and find and stand beside a blaze spawner cube.  The cause for the EntitySpawnEvent is the following:

`Cause[{Name=Source, Object

[2017-09-03 06:38] Faithcaio commented on #1517
try again with latest

[2017-09-03 06:38] #1517 closed, assigned to nobody

[2017-09-03 07:00] theboomer commented on #1517
Yes, this is now fixed.
Thank you for insanely prompt response to address :)

[2017-09-04 17:13] dvoraktypist commented on #1242
This is beyond bad. It breaks one of the core assumptions of how the game works, ... accessing the help system.

Why isn't in documented where it belongs, in the /help command itself?

I almost uninstalled, except one of the mods I'm using requires sponge.

[2017-09-06 08:02] MarkTwoFive commented on #1297
~Just a reminder for others: This is not fixed in API 5 (MC 1.10.2)~

Update: Fixed

[2017-09-07 02:37] Magi1053 commented on #1515
This issue is continuously crashing the server, so it would be great if someone could look into it.

[2017-09-08 11:29] SjsolisZXA commented on #1267
That would make sense except that I have code that can retrieve another player's "team scoreboard" and read it correctly. The only issue is that it's displayed incorrectly from a contestant's point of view.

[2017-09-08 11:55] JBYoshi commented on #1267
What I'm trying to say is, `BELOW_NAME` for X's scoreboard is not what other players see below X's name. It's what X sees under other players' names. This is intended behavior.

[2017-09-09 16:16] gabizou commented on #1518
The way that the notification system works is if you *indirectly* interacted with the block by modifying a block close enough to that target block (in this case the mob spawner), this is more common when you interact with redstone to where the end result of all blocks that switched or were *notified* were notified by the player that initially interacted with the redstone machine at that time.

Wha

[2017-09-09 16:46] theboomer commented on #1518
I suppose I could create some older test servers to see the result, but I only noted this when I examined the testing in these circumstances, which I hadn't done before now.

By modifying a block close to the mob spawner, I assume you mean "explored the space causing the chunk to load /be generated"  (what happens if the region is pregenerated??) -- because in this pristine test, I didn't touch an

[2017-09-09 16:58] theboomer opened #1520 "1.12.1: Programmatic Explosions damaging blocks do not update client until relogin"
A programmatic explosion that causes block damage and/or causes fire does not produce block damage/fire on the client until the player logs out and back again.

![explosionsv](https://user-images.githubusercontent.com/3393225/30242108-3e85abc2-955e-11e7-897b-6acb8b776230.gif)

Entire test-plugin code to demonstrate is:
[code]

- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ]

[2017-09-10 11:31] lesbleu opened #1521 "1.12.1 CauseTracker Errors"
- SpongeVanilla version:bleeding latest
- Java version: 8
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows
- Plugins/Mods: No mods

When I use piston with button, I obtain this [error](https://pastebin.com/bc9cVkBs)

Example : ![Image](https://image.noelshack.com/fichiers/2017/36/7/1505042581-2017-09-10-13-22-04.png)

[2017-09-10 15:27] lesbleu commented on #1521
CauseTracker is broken. [video](https://www.youtube.com/watch?v=HPT7HRUtEdI&feature=youtu.be) (Bug : PISTON_EXTEND, OWNER, ENTITY_HIT, BLOCK_HIT)

[2017-09-10 22:09] Zidane commented on #1521
@Deamon5550 @gabizou got a number of issues in that video above. Need for this to be looked into.

[2017-09-11 03:09] ryantheleach commented on #1267
To add to this, not only is it intended behaviour, but unfixable given the current Minecraft codebase.

[2017-09-11 13:40] TBlueF opened #1522 "Furnance changes rotation if facing into a block"
If you place a furnace down, and place some other solid block in front of if *(i tried it with gravel & another furnance)*, it will rotate as soon as it is fired up. After it rotated, it is empty and the items you just placed in the furnace are gone. This happens in both, SpongeForge and SpongeVanilla. This does not happen with only Forge installed or in Vanilla Minecraft.

**Tested Versions:**
Sp

[2017-09-11 20:28] Faithcaio opened #1523 "CauseTracker Issues"
This is a list of cause tracker issues I noticed:

- [x] MoveEntityEvent.Teleport
    - Context TeleportType is missing sometimes (enderpearl/chorus fruit).
   - TP from End -> World is missing causes.
   - Enderpearl (no player in cause)

- [ ] SpongeCommonFactory#callChangeBlockEventModifyLiquidBreak wrong context. Should be LIQUID_BREAK or FLOW not LIQUID_MIX.

- [ ] Leaf Decay: LocatableBlock

[2017-09-11 20:33] lesbleu commented on #1523
I have already started to report CauseTracker bugs in this [issue](https://github.com/SpongePowered/SpongeCommon/issues/1521).

[2017-09-11 21:25] lesbleu commented on #1521
@bloodmc You have only fixed the bug "PISTON_EXTEND".

There are still bugs "OWNER", "ENTITY_HIT" and "BLOCK_HIT" and there is always an error when using a PISTON with BUTTON,

[2017-09-11 23:26] bloodmc commented on #1521
Yes I know, others will be fixed soon.

[2017-09-12 03:44] #1521 closed, assigned to gabizou

[2017-09-12 12:37] Sir-Will commented on #1282
Any news on this issue?

[2017-09-12 15:23] SjsolisZXA opened #1524 "Can't Query To SlotPos(x,3)"
Hello, I can’t seem to be be able to query anything to the the 3rd row of a player’s inventory.

**Test Code:**

[code]

**Result:**

![issue](https://user-images.githubusercontent.com/24198315/30334091-3a24816e-97a4-11e7-9481-cef4e7bbcb8d.png)

**SpongeForge:** spongeforge-1.10.2-2281-5.2.0-BETA-2610
**OS:** Windows 10

[2017-09-12 18:58] theboomer opened #1525 "1.12.1: TNTMinecart does not throw any spawnentity event when tnt becomes primed"
When TNT blocks are primed by redstone activation, fire, or primed by hand, a PrimedTNT entity is spawned
When TNTMinecarts are primed by pushing onto lit activator rails, no SpawnEntityEvent happens.

The TNTMinecart DOES activate the tnt as it passes over the rails, and its tnt does explode, but the spawnentityevent does not occur for that tnt.

Config: Default, both with and without panda-redst

[2017-09-13 01:22] ryantheleach commented on #1525
Is PrimeExplosiveEvent fired? Also from memory, tnt mine carts explode extremely quickly, They might not prime at all, and instead transition directly into DetonateExplosiveEvent.

To be explicit, this is the events to my rough knowledge, ordering may be slightly off.
Creepers prime, swell up, then detonate, explode.
TNTBlocks break, spawn entity, prime, detonate, explode. (unsure of ordering betw

[2017-09-13 02:10] theboomer commented on #1525
Just tested now, though it has never been seen before this time.... nope, no PrimeExplosiveEvent detected still.  I don't think they have been implimented at all, that and the defuseexplosiveevent...

I haven't yet gone through the tests with the cause/context update but if everything has simply been modified to generate a different cause/context to go with the event being thrown, and not changing

[2017-09-13 07:55] gabizou commented on #1525
I'll be able to troubleshoot this after some more changes are pushed. I'm trying to clean up IPhaseStates at the same time as cleaning up TrackingPahses. Merging the two into just the IPhaseState to avoid seemingly random delegation would be best. I can't promise a prompt response to fixing this directly, but I'll be keeping this on my radar as the explosion api is technically implemented correctl

[2017-09-13 16:50] theboomer commented on #1525
Does spongevanilla absolutely get everything that goes into spongecommon when the builds get made, does it get any backlog waiting list pushed in?
For example, if person A puts code into spongecommon to fix a bug with fireworks, and directs the spongeforge system to build , but does not direct the spongevanilla, and a few days later another person adds code to spongecommon to fix a furnace bug, an

[2017-09-13 17:06] stephan-gh commented on #1525
@theboomer
SpongeCommon is a shared module between SpongeVanilla and SpongeForge and is identical on both platforms. Both implementations point to a specific revision of SpongeCommon. When we push a change to SpongeCommon, this revision must be updated separately in both implementations.

If SpongeVanilla isn't updated directly to the new SpongeCommon revision, that doesn't mean that changes or fi

[2017-09-13 17:15] theboomer commented on #1525
Okay thats encouraging :)
But is it possible for a SV build to be incomplete/unsuccessful when that code is included, and if it fails, does the system ignore that merge thereafter automatically, or would that just totally break all build attempts downstream period because that code is part of it now and if it cant compile, it never will until the issue is fixed to let it compile?

[2017-09-13 17:19] stephan-gh commented on #1525
@theboomer Keep in mind there is no automatic merge of the changes. We need to update the revision manually on both implementations, which is the primary reason why usually only a single implementation (the one the author of the SpongeCommon changes works with locally) is updated immediately, and the other one is usually updated with a slight delay.

If something in SpongeCommon is incompatible wi

[2017-09-13 18:06] theboomer commented on #1525
Okay, thanks Minecrell
-removed-
If this is the case, then there is nothing to gain for looking at history for build gaps after SC, I believe.

[2017-09-13 18:29] phit commented on #1525
tldr you don't understand git submodules, instead of writing this whole thing, that nobody wants to read, you should just look up the docs for that, then minecrells reply will make sense!

this is a nice small summary, basic understanding of git is required though https://gist.github.com/gitaarik/8735255

[2017-09-13 18:44] theboomer commented on #1525
That unfortunately doesn't add any clarity to me, because it seems to still keep suggesting that you NEED to point to each "commit" for it to be included, and if each of those code contributions is a commit...
Or is a 'commit' the actual 'current final version' and not the chunk of coded being added into it, making it so that spongecommon always has everything there, and SF/SV just need to be poin

[2017-09-13 19:15] phit commented on #1525
Technically this completely wrong, but yes for your understanding its the "current final version", so for all intents and purposes previous changes will be included. To explain how it actually works I would have to write a book, but there is plenty of sources out there that have done so.

[2017-09-14 05:59] theboomer opened #1527 "1.12.1 Block-Hit context key/data never clears after first occurance, poisons all events after"
I have not tested all events, just enough to see pattern: The block-hit data is being set when a block is hit (attacked, like a tree/stone, yet not one-punch broken like grass/flowers) **and remembered infinitely**, and then poisons '**every**' event thereafter, being present in all events with that block hit info.

SpawnEntityEvent, DamageEntityEvent, ChangeBlockEvent.Place, ClientConnectionEvent

[2017-09-14 22:22] gabizou commented on #1237
What versions does this affect?

[2017-09-14 22:58] simon816 commented on #1237
This bug sounds like the same as https://github.com/SpongePowered/SpongeCommon/issues/998
In which case, it effects versions from 5.x onwards

[2017-09-15 02:02] Deamon5550 commented on #1527
Fixed in 2848bbfb5151db0f880cab335c376c901dd9a090

[2017-09-15 02:02] #1527 closed, assigned to nobody

[2017-09-15 02:13] ryantheleach commented on #1237
Is this still true as of the Cause Stack changes?

[2017-09-15 18:27] kashike commented on #1297
https://github.com/SpongePowered/SpongeCommon/commit/79410aa688649c96d60507df7e190f5985906379
https://github.com/SpongePowered/SpongeCommon/commit/5b0e8eacadf1c3bccd5d2a7871c8a33cc17c7b88

[2017-09-16 01:30] LXGaming opened #1529 "No lightning sound effect."
**Tested on the following...**

- SpongeForge-1.10.2-2477-5.2.0-BETA-2632 with Forge-1.10.2-12.18.3.2477
- SpongeVanilla-1.10.2-5.2.0-BETA-395
- SpongeForge-1.12.1-2480-7.0.0-BETA-2634 with Forge-1.12.1-14.22.1.2480
- SpongeVanilla-1.12.1-7.0.0-BETA-328
- Java version: 1.8.0_144
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods: None
**What

[2017-09-16 02:18] theboomer opened #1530 "1.12.1 Cause/Context : SpawnEntityEvent root is VanillaGame /SpongeModGame when exploring and should be WorldServer; context missing spawntype key"
While logging SpawnEntityEvent Cause-root and Context data, a booting server will throw as WorldServer cause while spawning mobs and animals (and item.tile things like seeds, plants, mushrooms)
When player logs in at location away from spawn chunks, or starts moving outside of the spawn chunks, spawning of things throws as VanillaGame or SpongeModGame object as cause - it should still be WorldSpaw

[2017-09-16 03:35] theboomer commented on #1529
Tested by summoning lightning_bolt

[2017-09-16 20:16] theboomer opened #1532 "1.12.1 Context: FishingEvent.Stop Use_Item context missing when retracting rod while block-selection present"
If the player **secondary-clicks** the rod against a block to pull in the line(ie, the block-selection hitbox is present, player clicking against the block) then the **Use_Item** key-data _is missing_ from the context.

The **Use_Item** key-data _is_ _present_ (the rod used) in the context if secondary clicking the rod 'in the air' or when there is no block within reach for the line of sight while

[2017-09-20 00:27] MrIngelborn opened #1533 "Error on RCOM parsing input"
**I am currently running...**
- SpongeVanilla version: 1.12.2-7.0.0-BETA-330
- Java version:
    OpenJDK Runtime Environment (build 1.8.0_131-8u131-b11-0ubuntu1.16.04.2-b11)
    OpenJDK 64-Bit Server VM (build 25.131-b11, mixed mode)
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:

**What is the expected result?**
Server parsing and execu

[2017-09-20 01:05] ryantheleach commented on #1533
https://github.com/SpongePowered/SpongeCommon/blob/c96a2d8c2b7a3ab8bb2d1c61cdea47a55ba3a8a9/src/main/java/org/spongepowered/common/mixin/core/network/rcon/MixinRConThreadClient.java#L110

Is being injected in closeSocket on head.

[2017-09-20 06:55] Cybermaxke commented on #1533
The following PR will fix this issue: #1526
The current RCON implementation is completely broken, even without the cause tracking.

[2017-09-20 15:21] XakepSDK opened #1534 "Scoreboard objective name length"
No length check for scoreboards objective name length. Client will be kicked with decoder exception, if name length > 16 chars.
[code]

[2017-09-20 15:31] #1534 closed, assigned to kashike

[2017-09-20 17:38] parlough commented on #1232
@Faithcaio / @kashike I believe this was fixed in https://github.com/SpongePowered/SpongeCommon/pull/1401

[2017-09-20 17:46] parlough commented on #999
Will be solved by https://github.com/SpongePowered/SpongeCommon/pull/1157

[2017-09-20 18:05] kashike commented on #1232
#1401

[2017-09-20 18:05] #1232 closed, assigned to Faithcaio

[2017-09-20 18:23] XakepSDK opened #1535 "Skin unique id for Human entity doesn't work properly"
Simple code:
[code]
This works wrong. Skin will not be set, you need to rejoin the server.
https://cdn.discordapp.com/attachments/142425521391665153/360127022728478730/2017-09-21_00.16.00.png
https://cdn.discordapp.com/attachments/142425521391665153/360127467555389440/2017-09-21_00.17.49.png

[2017-09-20 18:35] XakepSDK commented on #1535
This work fine only if i set this data before spawning human.

[2017-09-20 19:42] Cybermaxke commented on #1535
IMO the server should handle this properly so you don't need to rejoin the server.

[2017-09-21 01:24] ryantheleach commented on #1533
Thanks @Cybermaxke I remembered seeing the code committed recently, searched recent commits in multiple branches and projects and didn't see it. Didn't realize it was a PR.

[2017-09-22 22:13] randombyte-developer commented on #1212
That is just a simple copy paste error: https://github.com/SpongePowered/SpongeCommon/blob/3bf7c161715a86bd504e370a263a8a55ba07f7f8/src/main/java/org/spongepowered/common/data/processor/value/entity/InfiniteDespawnDelayValueProcessor.java#L53 should be the equivalent `setDespawnDelay()` and https://github.com/SpongePowered/SpongeCommon/blob/3bf7c161715a86bd504e370a263a8a55ba07f7f8/src/main/java/or

[2017-09-22 22:38] #1212 closed, assigned to gabizou, kashike

[2017-09-23 20:12] theboomer opened #1537 "Request Implimentation: IgniteEntityEvent"
IgniteEntityEvent is one of the events that appears to still not be implimented, and may have just slipped through the cracks unnoticed.

1.12.2 Sponge

[2017-09-26 18:04] benfah opened #1538 "Inventory#getProperty doesn't work as expected"
When you build an Inventory, e.g.
`Inventory inv = Inventory.builder().of(InventoryArchetypes.CHEST).property("test", new Identifiable()).build(this);`
and then try to get the Identifiable object by:
`inv.getInventoryProperty(Identifiable.class)`
or:
`inv.getProperty(Identifiable.class, "test")`
both return Optional.empty.

Normally the Identifiable object should be returned.

Sponge 1.12.2

[2017-09-27 04:15] PurpleIsEverything opened #1539 "Add Jedis To Sponge"
@Minecrell After talking with @bloodmc he asked me to make an feature request to have the Redis java library Jedis added to Sponge.

Redis is a useful alternative to Bungeecord plugin messaging using publish/subscribe and is a powerful datastore already being used in several public Sponge plugins.

When I have some more time I intend to do a write-up on the sponge forums on how to use Jedis as an

[2017-09-27 09:50] stephan-gh commented on #1539
You can easily include it in your plugin if you want to use it. Except for reducing plugin size slightly, what advantages do we have if we shade it in Sponge?

A lot of dependencies would be useful, but we cannot bundle them all because our Sponge JAR would explode. It's quite big already.

[2017-09-27 11:19] kashike commented on #1539
There aren't really any advantages of including Jedis in Sponge, especially with other Java libraries for Redis that are popular. As it is, including some of the dependencies we have (mariadb, etc) has caused issues in the past (plugins breaking because we bump a dependency version). If a plugin wants to use Redis, then they should shadow it into their JAR themselves.

👎

[2017-09-27 11:42] XakepSDK opened #1540 "Dependency as asset"
We need some way to store dependencies in plugins.
May be 'lib' directory, like in WAR?

[2017-09-27 11:48] JBYoshi commented on #1540
The Gradle `shadow` plugin and the Maven `shade` plugin are the recommended ways of doing this, and don’t need any special support.

[2017-09-27 11:57] XakepSDK commented on #1540
The best way to make a dependency trash from your plugin jar.
upd: Plugins are not isolated from each other, some plugin can provide lib-a:1.0.0 and another plugin can provide lib-a:0.9.8. Need a way to handle this too.

[2017-09-27 13:07] stephan-gh commented on #1540
@XakepSDK That's why you should **relocate** (e.g. move their classes into a subpackage of your plugin) the dependencies you shade into your plugins. That way they have different class names and won't conflict with each other.

[2017-09-27 13:37] Zidane commented on #1540
Closing as SpongeAPI isn't going to reinvent the wheel that modern toolchains already do much better than we ever would.

[2017-09-27 13:37] #1540 closed, assigned to nobody

[2017-09-27 14:34] electronicboy commented on #1539
I agree with Kashike on this, Bukkit had the exact same issue where they bundled in a few dozen libraries all severely outdated to the point that it even caused issues for those who wanted to use newer versions where shading would break due to how the software worked.

The problem here is that you enter yourself into a trap:
- you either update the libraries and accept that stuff might break; whic

[2017-09-27 14:57] bloodmc commented on #1539
Good points, I'll recommend to ShadowKitten to simply make a forum post on how to setup Jedis with Sponge for servers that want an alternative to Bungee chat.

[2017-09-27 14:57] #1539 closed, assigned to stephan-gh

[2017-09-28 10:25] Mumfrey commented on #1540
I should also point out that if running on Forge the requested functionality is already fully supported via the `ContainedDeps` manifest entry.

[2017-09-28 11:21] theboomer opened #1541 "1.12.2 SF/SV: Sponge ignores the server.properties worldborder size"
Spotted while creating a new fresh server setup: After launching the server, fixing the eula.txt, and editing the server.properties file to have a worldborder size of 1000, then relaunching....
... both spongevanilla and spongeforge ignore that file setting, and have the worldborder set at 60million

---
Since the server grabs all the other initial settings that may be set in the server.properties

[2017-09-28 11:54] theboomer commented on #1541
Hmm, follow up work shows that the mojang server jar all by itself also fails to read the border setting from the properties file, so that takes the pressure off.

Unless that is something that Sponge can step in and clean up a spill mojang made... :)

[2017-09-28 15:33] theboomer opened #1542 "1.12.2 ChangeBlockEvent.Place, .Break, .Modify events are thrown in exact duplicates for Players."
ChangeBlockEvent.Place, .Break, and .Modify   , filtered with @Root Player , are **duplications of those events.**  Also observing InteractItem event shows that it will throw duplicates of the exact same primary-mainhand event (not main/offhand pairs as might be expected).  I've got a few printout patterns from my log  documented here:  https://hastebin.com/igoxepivug.go  https://pastebin.com/5L5d

[2017-09-29 05:33] #1542 closed, assigned to nobody

[2017-09-29 05:44] ryantheleach commented on #1541
What setting are you expecting to control the world border.

https://minecraft.gamepedia.com/Server.properties

[2017-09-29 08:43] theboomer opened #1543 "1.12.2 CauseTracker Error -- Dragging itemstack off inventory screens for ALL inventory screens (except 1)"
Cause Tracker error thrown when you drag an itemstack off of the player inventory and release it outside to drop --- for either left mouse (drop everything) or right mouse (drop just one from itemstack) operations.

The error results from that off-the-side drop behavior for the following:
Survival and creative: Workbench, Furnace, (Trapped) Chests, both singled and doubled,  Dispenser, Dropper, Ho

[2017-09-29 08:46] theboomer commented on #1543
[code]

[2017-09-29 08:49] theboomer commented on #1541
aah my misunderstanding :)

[2017-09-29 09:06] theboomer commented on #1541
well actually... no maybe not.  Yes ( a quck check confirms physically that vanilla mojang does have an unsurvivable area beyond the 2x distance, sure..

I think what tended to alert and surprise me is that the
/worldborder get
command should display the border size.... it displays 60mil

And I think - and will make something shortly to test this - that sponge gets its worldborder size from the sa

[2017-09-29 15:24] VapidLinus commented on #1237
@gabizou @ryantheleach

This is still true as of `spongevanilla-1.12.2-7.0.0-BETA-337`. I thought the Cause Refactor was going to fix this. This bug is really limiting what plugins can do and I'm really surprised this hasn't been fixed yet.

I hope this can be resolved soon; have been waiting for this to be fixed for a while.

[2017-09-29 15:39] VapidLinus commented on #1538
I am noticing this issue as well. Seems to affect other types of `AbstractInventoryProperty` as well. Here's some code to quickly replicate this, just type _!test_ in chat:

[code]

**Version:**

[2017-09-29 17:03] bloodmc commented on #1543
@theboomer This should be fixed in commit https://github.com/SpongePowered/SpongeCommon/commit/2a5b90cf1a28b6f8b965db2f604cb561c0a4949d

Please confirm and close if it is.

[2017-09-29 17:57] kashike commented on #1105
@Yeregorix The pastebin links you provided are no longer valid. Is it possible to get new links?

[2017-09-30 02:05] theboomer commented on #1543
Confirmed bug has been squished.
Time to stress-test a bunch of events tonight find some more..

[2017-09-30 02:05] #1543 closed, assigned to nobody

[2017-09-30 03:49] theboomer opened #1545 "1.12.2 TileEntity "shulkerbox" not an instanceof ShulkerBox, castable.. odd man out."
There may be a java based reason for why this happens, but unlike its fellow TileEntity / TileEntityCarriers that can be cast to **Furnace** or **Dropper**,  the TileEntity object of a shulkerbox can't be cast to a **ShulkerBox**, nor is it an instanceof ShulkerBox (goes hand in hand of course, yes) ...
 Is it because the ShulkerBox object doesn't bring anything else to the table that the TileEnti

[2017-09-30 04:03] #1545 closed, assigned to kashike

[2017-09-30 06:49] theboomer commented on #1518
I think we can mark this as not a bug if that is how notifiers work, though still odd the difference in online player being a player in same world, user in other world...

If anything, there may be room for adding a player who was responsible for the 'activation' of the spawning, if possible somehow, to the contexts now.

[2017-09-30 06:49] #1518 closed, assigned to nobody

[2017-09-30 07:25] theboomer opened #1546 "1.12.x TNT becomes PrimedTNT, fizzles, and disappears immediately when triggered by specific scenarios of redstone energy"
**TNT will prime, flash, make a fizzle sound and disappear when powered by SOME configurations of being powered by redstone energy, just POOF out of existence.**
--
All versions of 1.12.2 SpongeForge and SpongeVanilla and likely further back through 1.12s
Default sponge configs, plus or minus Panda redstone, Panda settings=no difference.

---

Specific observations generalized from test scenarios

[2017-09-30 09:59] kashike commented on #1546
Can confirm.

[2017-09-30 10:25] theboomer commented on #1541
Did a bit more digging, both mojang by itself and spongevanilla behave the same way (due to core obviously)
Whatever the setting is in the server properties, that radius gets used for the border, but that value is not written into the NBT of level.dat file at all, which holds the default 60M value, until the /worldborder command gets used to set it, then the dat file is updated.
It need not be fre

[2017-09-30 10:59] realGWM commented on #1396
Any news?

[2017-09-30 11:47] Deamon5550 commented on #1420
Yeah this changed back in 1.9, it used to return null.

[2017-09-30 11:48] #1420 closed, assigned to Deamon5550