[2018-02-09 03:41] clienthax opened #1781 "Stoping the server while items are in a crafting table causes Async Entity Spawn Warning"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2586-7.1.0-BETA-2890
- SpongeVanilla version:
- Java version: 1.8
- Operating System: Win10

- Plugins/Mods:
[code]

**Issue Description**

Open workbench, place in recipe.
Close server with stop command while workbench GUI still contains items.

[code]

[2018-02-09 08:54] dualspiral commented on #1780
Sure, there are issues here I had thought of and did not necessarily know the answer to, if a block falls and causes damage, that block is the cause, but in the case of potion effects, it might be hard.

The question about the cause stack with regards to causes is whether causes should be wrapped. If a player causes damage, there is a general expectation that the player is the root of the cause.

[2018-02-09 09:11] Faithcaio commented on #1780
so add a `event#getDamageSource` and use the unwrapped entity/block in the cause?

[2018-02-09 11:18] dualspiral commented on #1780
Just changing the title to add the possibility of adding damage source information to the event.

Pretty much Faith, though there are instances where we might need a wrapped/marker cause, such as fall/void damage or ongoing potion effects. But in the case of direct entity attacks, yeah.

[2018-02-09 15:25] jd1378 opened #1782 "InteractEntityEvent sometimes returns relative interaction point and sometimes not"
**I am currently running**

- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-0 (built from stable-7)
- Java version: 1.8.0_152
- Operating System: Win 10 Home 64-bit

- Plugins/Mods:

**Issue Description**
It's preferred to return the actual position not the relative position to the hit box , like other events
how can you test it ? try to interact an entity with right click which gives you

[2018-02-09 21:55] clienthax opened #1784 "Calling closeInventory on a workbench 'dupes' the contents back to the player"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2586-7.1.0-BETA-2890
- SpongeVanilla version:
- Java version: 1.8
- Operating System: Win10

- Plugins/Mods:
[code]

**Issue Description**

Open workbench, place in recipe.
Have event listening for that recipe, cancel preview event (may not be relavant) and call player.closeinv()
The items in the crafting table will be returned

[2018-02-09 23:03] clienthax opened #1785 "CraftItemEvent.Craft returns wrong crafted item for some recipies"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2586-7.1.0-BETA-2890
- SpongeVanilla version:
- Java version: 1.8
- Operating System: Win10

- Plugins/Mods:
[code]

**Issue Description**

Open workbench, place in recipe for workbench / bucket.
Have event listening for CraftItemEvent.Craft, print the item type of getCrafted()
Seems to return wooden buttons for workbenchs, and

[2018-02-10 01:19] clienthax opened #1786 "DropItemEvent.Destruct.Pre not honouring getDroppedItems() for blocks"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2586-7.1.0-BETA-2890
- SpongeVanilla version:
- Java version: 1.8
- Operating System: Win10

- Plugins/Mods:
[code]

**Issue Description**

Attempt to mine a diamond block with the following listener active.
The dropped items list only contains a diamond ore stack after the event yet a diamond is still dropped.
[code]

[code]

[2018-02-10 01:20] Pokechu22 commented on #1726
Another point: I just learned sponge can be used in single-player; in that case breaking the profiler breaks the vanilla shift+f3 pie chart profiler.

[2018-02-10 02:58] Pokechu22 commented on #1726
Just tested it.  The game crashes when Shift+F3 is used to open the profiler, because it's always returning an empty list and the game assumes that if profiling is enabled, it won't be empty.

[Crash report](https://gist.github.com/Pokechu22/99b69a1e40f15e12f61e6f4a045b593b)

[2018-02-10 05:22] Flashkid669 opened #1788 "sapplings not spawning due to leaf decay when harvesting all wood from tree."
- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-16
- Java version:  1.8.0
- Operating System: windows 10 and fedora 11
- Plugins/Mods:
Tested with no mods installed

sapplings of all the tree types will not spawn due to leaf decay tracked it back last time it worked was in sponge verson BETA-3 .

[2018-02-10 06:07] Zidane commented on #1786
@RedNesto Want to look into this one?

[2018-02-10 06:07] Zidane commented on #1785
@Faithcaio You are up.

[2018-02-10 09:53] RedNesto commented on #1786
Yeah I'll look into it.

In fact I was already interested in this issue :3

[2018-02-10 10:13] RedNesto commented on #1788
I think I know where it comes from. I'll fix it after another issue.

[2018-02-10 11:14] #1782 closed, assigned to nobody

[2018-02-10 12:55] RedNesto commented on #1786
I think this will need more work than a simple fix @Zidane .

First, I can't find a `DropItemEvent.Destruct.Pre` implementation, they are all `DropItemEvent.Destruct` or `DropItemEvent.Pre` (at least, it is not generated in the `SpongeEventFactory`). I don't even know if there should be such events.

Then we have two choices:
- Implement events such as `DropItemEvent.Destruct.Pre`, and make `genEv

[2018-02-10 14:08] RedNesto commented on #1238
The Cause is the right one for me:
[code]

with:
[code]
When breaking a diamond ore.

[2018-02-10 14:10] #1238 closed, assigned to nobody

[2018-02-10 19:22] #1785 closed, assigned to nobody

[2018-02-10 19:22] Faithcaio commented on #1785
fixed in https://github.com/SpongePowered/SpongeCommon/commit/0f02dfa05542c0662e8cf7d776073e095b8c935e

[2018-02-10 21:08] RedNesto commented on #1788
The fix has been merged, I think this issue can be closed.

[2018-02-10 21:16] #1788 closed, assigned to nobody

[2018-02-10 22:44] #1309 closed, assigned to nobody

[2018-02-10 22:50] BrainStone commented on #1276
I'd like to point out, that in SF 1.12.2-2586-7.1.0-BETA-2900 the following code still returns `Optional.empty()`

[code]
While the container contains all potion data!

[2018-02-10 23:21] NeumimTo opened #1793 "Player's health not being saved/loaded properly"
**I am currently running**

- SpongeVanilla version: 7.1 beta 15
- Java version: 18
- Operating System: ubuntu 17

A player has health above 20 (vanilla max) after server restart player's health will become always 20, health value before restart is always ignored or lost.

[2018-02-11 09:23] ryantheleach commented on #1793
How far above?
are you using health scaling?
How are you manipulating the players maximum health?

We are really going to need a test plugin for this one, there could be multiple factors at play.

[2018-02-11 09:54] Faithcaio commented on #1784
Might have been fixed in one of the latest changes to the events.
Cannot reproduce it ; try again.

[2018-02-11 09:54] #1784 closed, assigned to nobody

[2018-02-11 15:58] limbo-app opened #1794 "Duplication of buckets"
This issue was originally submitted by @Krosta8 in [SpongePowered/SpongeForge#1998](https://github.com/SpongePowered/SpongeForge/issues/1998).
___
**I am currently running**
- SpongeForge version: 1.12.2-2586-7.1.0-BETA-2899
- Forge version: 14.23.1.2586
- Java version: 1.8.0_101
- Operating System: Linux

- Plugins/Mods:
Plugins (26): Minecraft, Minecraft Coder Pack, Sponge API, SpongeForge, Fast

[2018-02-11 18:08] NeumimTo commented on #1793
My bad, i had multiple plugins running where each of them was manipulating max health/scale.. cannot reproduce with a clean env.

[2018-02-11 18:08] #1793 closed, assigned to nobody

[2018-02-11 23:13] jd1378 opened #1796 "Item duplication on canceling ChangeBlockEvent.Break"
**I am currently running**

- SpongeForge version: -
- SpongeVanilla version: 1.12.2-7.1.0-BETA-18
- Java version: 1.8.0_152
- Operating System: Windows 10 Home 64-bit

- Plugins/Mods: Precogs-1.2, vanish, PacketGate-0.1.1, FastAsyncWorldEdit-sponge112-18.02.09-e09c0c2-1006-19.1.1, my-own-signedit-pl (using packetGate)  , and my own ac which cancels the event

**Issue Description**
Setup an event

[2018-02-12 00:54] ryantheleach commented on #1796
I can't help but think that if this were the case we would have had many people complaining about it, unless this is a very newly introduced change. So many things cancel ChangeBlockEvent.Break it isn't funny.

[2018-02-12 03:02] GingerWalnut commented on #1796
I've had this happen to me some with a custom protection plugin I am developing. However, it seems to not always happen. Just from what I've seen, this and other related oddities tend to happen more often when there is lag.

[2018-02-12 03:05] Dockter commented on #1796
Issue linked:  https://github.com/MinecraftPortCentral/GriefPrevention/issues/597

[2018-02-12 03:05] Dockter commented on #1796
Issue confirmed.

[2018-02-12 17:53] RedNesto commented on #1796
It seems I could not reproduce the issue (but I do not doubt the fact that it is really an issue).
With what blocks and which conditions can you do this ?

Edit: With the help of @jd1378 I can reproduce it, but it is in "special conditions" and is very serious.

[2018-02-13 01:46] ryantheleach opened #1798 "Owner of grown plants, trees, and world genned blocks?"
Reported on discord, the owner of grown plants and tree's are currently the owner of the person who planted the saplings.

This causes numerous issues, due to the difficulty of tracking 'artificially' grown blocks vs 'naturally' grown blocks.

e.g. @Zerthicks usecase.

They want to be able to track when a player knocks down tree's or plants, and reward them XP.

However, they only want to reward t

[2018-02-13 01:52] Eufranio commented on #1798
I vote for grown blocks like trees/sugar cane have no creator, but notifier with the owner of the first block. This allows developers to make sure a block was placed by a player while still allows the old tracking.

[2018-02-13 01:52] Zerthick commented on #1798
There are also inconsistencies with how things like sugar cane are handled. When the player places sugar cane they are set as the creator of the bottom block. However, if subsequent sugar cane blocks grow, the player is not set as the creator of these new blocks.

[2018-02-13 01:55] gabizou commented on #1798
Personally, I feel that the creator should be the person who planted the first block (say for example if a player places a sapling in their region). Afterwards, what I imagine what would make the most sense is if the player artificially forced something to grow, say directly with bonemeal, or indirectly (through a TileEntity that is owned by said player), the player would be marked as the owner of

[2018-02-13 01:57] Zerthick commented on #1798
Right, but then there would still be no way to differentiate between oak logs that were "bone mealed" into existence by a player, versus those that were directly placed by them.

[2018-02-13 02:00] gabizou commented on #1798
While there wouldn't be a way to directly tell, except by listening to the `ChangeBlockEvent` with the original block (the sapling) being owned by no one. Likewise, that owner/notifier information is always available during events, just that you'd need to understand that the person that placed the sapling is always stored separately from the person notifying/nurturing the sapling to grow into a tr

[2018-02-13 02:03] Zerthick commented on #1798
Right, so this all came about because we were trying to come up with a way that would avoid the necessity to implement your own cause tracker of sorts by listening to events and then storing the locations of all of the blocks of interest to a DB to be queried whenever the player breaks a block.

[2018-02-13 02:55] #1781 closed, assigned to nobody

[2018-02-13 05:42] jd1378 opened #1799 "InteractBlockEvent.Primary.MainHand getTargetBlock not accurate (sometimes invalid)"
**I am currently running**

- SpongeVanilla version: 1.12.2-7.1.0-BETA-18
- Java version: 1.8.0_152
- Operating System: Windows 10 Home 64-bit

**Issue Description**
`InteractBlockEvent.Primary.MainHand getTargetBlock` doesn't return interacted block and returns the block the player is currently looking at, which wont be accurate on the move (like in minecart , since its moving forward , if the pl

[2018-02-13 08:49] gabizou commented on #1798
But this is already provided for you with the sponge implementation. You just have to listen to the events and work based on that. Because the person breaking a block would have to be an by either direct or indirect placement. I don’t see what we’re now trying to say what the problem is specifically that we can fix with code.

[2018-02-13 11:15] RedNesto commented on #1798
@gabizou i'm actually working on refactoring the ChangeBlockEvent (removal of `Grow` and `Decay`), so if you want I could try to implement the changes requested in this issue, but I have to know what do to.

I think that the player who placed a sapling should always be the owner of the blocks forming the grown tree, but I work on a way to track if a tree has grown by force (bonemeal) or naturally

[2018-02-13 11:21] Player3324 opened #1800 "Poor performance from stack trace collection in tracking"
https://github.com/SpongePowered/SpongeCommon/commit/ae47f63c81d95fd53929a125bbcd691ecdec7b44 introduced invocations of new Exception() and Exception.getStackTrace(), which are both reasonably slow. It regresses tile entity simulation performance by ~10x.

Note that modded instances usually have thousands of ticking (tile) entities with normally very cheap update implementations.

See http://files

[2018-02-13 13:27] ryantheleach commented on #1798
@RedNesto That won't work without considerable refactoring, due to the current storage format of UUID's that are the owners / notifiers. Have you seen how they are stored? What was your plan?

[2018-02-13 13:30] ryantheleach commented on #1798
@gabizou Specifically,

They would like a way to tell the difference between direct placement of blocks by players, and blocks that are 'organically' grown.

I suspect there isn't much we can do, if people are reluctant of having the creator be empty for blocks *indirectly* placed.

I suggested they make an issue, so we can attempt to work out a solution (Or if there even is one?)

[2018-02-13 15:11] RedNesto commented on #1798
@ryantheleach We should keep the Owner things, but adjust them in the case of the ChangeBlockEvent, like having an `Owner` for the `BlockChangeEvent.Place` who is the placer of the sapling (for a tree), but not the `Creator` of the blocks forming this tree.

[2018-02-13 18:50] johnfriedrich commented on #1796
https://github.com/SpongePowered/SpongeCommon/issues/1709
Same as this?

[2018-02-13 19:06] Zerthick commented on #1798
So I understand that this can already be accomplished by listening to events, the problem I'm attempting to solve is that when the player breaks a block within a ChangeBlockEvent.Break I'm trying to determine if the block that was broken was spawned naturally or directly by the player.  Such information is not provided in this event.  The only way to currently accomplish this task is to have previ

[2018-02-13 19:17] RedNesto commented on #1798
As I said (but maybe not clearly enough), we may use the `EventContextKeys#CREATOR` to determine the player who placed the target block (but I think this is too restrictive of having only a `User` `CREATOR`).

[2018-02-13 19:41] Zerthick commented on #1798
A solution such as that would work, perhaps a new EventContextKey would need to be created instead though to prevent restricting to `User`?

[2018-02-13 19:44] RedNesto commented on #1798
The thing which would seems strange is the need of using `Object` as value for this key, since mods could place blocks via other blocks, or any entities.

[2018-02-13 19:49] Zerthick commented on #1798
You could perhaps enforce that the value be `DataSerializable`? Though I'm not sure if such a restriction is necessary.

[2018-02-13 20:06] #1800 closed, assigned to nobody

[2018-02-15 01:27] clienthax commented on #1786
@RedNesto convertToDroppedItem ?

[2018-02-15 02:57] OstenTV commented on #1506
I'm having problems with Nucleus not saving the gamemode of a world (Multi-world thingy). They say it's because of this problem. Plz fix :)

[2018-02-15 11:59] VapidLinus opened #1802 "EndGateway doesn't support Keys.END_GATEWAY_AGE or Keys.END_GATEWAY_TELEPORT_COOLDOWN"
Endgateways should support `Keys.END_GATEWAY_AGE` and `Keys.END_GATEWAY_TELEPORT_COOLDOWN`. But when I try to offer them to the block, nothing happens and I get a `DataTransactionResult.Type.FAILURE` back.

**Sample code to reproduce issue:**
[code]
Same issue even if the data offering is put on a 1 tick delay.

**Output:**

**Reproduction steps:**
1. Write !test in chat
2. End-gateway will be pla

[2018-02-16 05:56] #1796 closed, assigned to nobody

[2018-02-16 14:23] jd1378 commented on #1796
when are we going to get a build to test this ?

[2018-02-16 14:31] jd1378 commented on #1796
SpongeAPI: 8.0.0-SNAPSHOT-0c90e0b4
SpongeVanilla: 1.12.2-8.0.0-BETA-0 (bleeding branch)
still happening.
also now ghosting happens after a few tries ...

[2018-02-16 17:32] Faithcaio commented on #1796
Did you take the latest commits in SpongeCommon too?
The submodule was not updated for SV (it is now)

[2018-02-16 19:52] jd1378 commented on #1796
The issue is fixed.

[2018-02-18 10:30] mihionmc opened #1804 "Blocks also don't get dropped again when being broken by Psi Guns/Lumbe"
**I am currently running** FTB Direwolf20 B  FTBPresentsDirewolf20112-1.12.2-1.8.0-Server.zip

- SpongeForge version:  1.12.2-2611-7.1.0-BETA-2925
- SpongeVanilla version:
- Java version: Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
- Operating System: linux

- Plugins/Mods: Psi-r1.1-59.jar, Tinkers’ Construct Mod 1.12.2

**Issue Description**

Blocks  don't get dropped again when being b

[2018-02-18 13:31] phit commented on #1804
~move to sf

[2018-02-18 13:31] limbo-app commented on #1804
Hey @mihionmc! I've moved your issue to [SpongePowered/SpongeForge#2015](https://github.com/SpongePowered/SpongeForge/issues/2015).

[2018-02-18 13:31] #1804 closed, assigned to nobody

[2018-02-18 15:57] Krosta8 opened #1805 "Item drop problem with mods"
**I am currently running**

- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2925
- SpongeVanilla version: No
- Java version: 1.8.0_162
- Operating System: Windows

- Plugins/Mods:
Plugins(6): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, CmdBuilder, CmdControl
Mods(26): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, BetterQuesting, CraftTweaker

[2018-02-18 15:59] phit commented on #1805
wrong repo and a dupe, please use the spongeforge tracker for mod related issues

https://github.com/SpongePowered/SpongeForge/issues/2015

[2018-02-18 15:59] #1805 closed, assigned to nobody

[2018-02-18 17:14] realGWM opened #1806 "Feature Request: Analog of TargetReason (from Bukkit)."
Bukkit has `TargetReason` which allows to check, why agent (entity) selected target (other entity).
Sponge's `SetAITargetEvent` doesn't have such analog.
It makes impossible to discover why entity selected other entity as target.
Bukkit link: https://github.com/Bukkit/Bukkit/blob/master/src/main/java/org/bukkit/event/entity/EntityTargetEvent.java#L79
Also, there is no `EventContextKey` for it.

[2018-02-18 21:04] gabizou commented on #1806
I'd imagine there's going to be some interesting heuristics, but this should be likely moved to API because it needs support for it.

thoughts, @Zidane ? I'm thinking this is more cause object tracking that needs to be provided, versus what the enum provides.

[2018-02-19 03:45] colinrgodsey commented on #1788
seeing this in 1.12.2-2611-7.1.0-BETA-2927. I forget the last version that worked, but it was probably the stable-7 from about 3-4 weeks ago.

[2018-02-19 05:56] realGWM commented on #1806
I did not know what to choose between Common or API, and I chose Common, so:
Do I need to create new issue on API?
And should I close this one?

[2018-02-19 06:09] gabizou commented on #1806
To answer the question of whether it belongs in Common or the API is this: How do you as a plugin developer intend to use this "feature" port of the enums? Is it through an enum type from the event context? from the event? from additional causes that can include things like "oh, target change caused by player, itemstacksnapshot.... the player attacked the entity?" is the sort of question I have fo

[2018-02-19 06:27] realGWM commented on #1806
Okay, I think “class representation” would be nice! Should I close this issue, after opening new one on API?

[2018-02-19 07:05] gabizou commented on #1806
yes.

[2018-02-19 07:16] #1806 closed, assigned to nobody

[2018-02-21 19:52] johnfriedrich commented on #1714
This is fixed, however entries put in data-to-purge won't get purged from disk. At least is that, what I expect this option should do

[2018-02-21 20:05] gabizou commented on #1714
It should be purging the data as soon as it is loaded from chunks/entities/etc. Could you provide an example of NBT data for me to double check and test?

[2018-02-22 03:35] pmbarrett314 opened #1807 "PortalAgents don't work from nether to overworld"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2925
- Java version: "1.8.0_151"
- Operating System: Debian 4.9.65-3+deb9u2 (2018-01-04)

- Plugins/Mods: Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, Aliases, LuckPerms, MMCReboot, Nucleus, ProjectCore, ProjectInventories, SleepVote, Web-API, Web-API API, Forge Mod Loader, Minecraft Forge, SpongeAPI,

[2018-02-23 00:23] TheJackah commented on #1506
This issue is so infuriating. Can someone please release a fix for it? It means that, for a creative server, players spawn in survival by default - and then an admin has to switch their gamemode to creative!

[2018-02-23 00:26] phit commented on #1506
you can still set the value manually in the world/dimension configs, this issue is purely about these not saving when set programmatically

[2018-02-23 00:29] TheJackah commented on #1506
@phit - how would I manually set the value for gamemode? I'm not seeing that as an option via the docs.

[2018-02-23 00:56] phit commented on #1506
Not on a Desktop right now, but I think it's in one of the level.dat, if not I'm mixing things up. Either way this issue is about generation-modifiers specifically. For stuff that isn't directly in the configs but NBT there's https://github.com/SpongePowered/SpongeCommon/issues/1196

[2018-02-23 19:04] TheJackah commented on #1506
@phit - I've just checked on those files. In the level.dat, the gamemode is set to creative, and forceGamemode is set to creative, but the server is still reported as being survival.

[2018-02-24 08:43] clienthax opened #1813 "InteractInventoryEvent.Close Not called on disconnects"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2916
- SpongeVanilla version:
- Java version: 1.8~
- Operating System: Win10

- Plugins/Mods:
Mods (7): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, mercurius_updater
Plugins (12): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, HuskyUI, LuckPerms, Nucleus,

[2018-02-24 09:57] #1813 closed, assigned to nobody

[2018-02-24 17:26] clienthax opened #1814 "TextTemplates seem to be horidly broken when saved"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2937.jar
- SpongeVanilla version:
- Java version: 1.8
- Operating System: win10

- Plugins/Mods:
Plugins (12): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, HuskyUI, LuckPerms, Nucleus, Player Vaults, Roulette, TeslaCore, TeslaLibs, Total Economy

**Issue Description**

Saving TextTemplates to config s

[2018-02-24 22:35] limbo-app opened #1815 "Repeating Command blocks stop looping"
This issue was originally submitted by @simibubi in [SpongePowered/SpongeForge#1817](https://github.com/SpongePowered/SpongeForge/issues/1817).
___
forge: 1.12.2-14.23.0.2503
spongeforge: 1.12.2-2486-7.0.0-BETA-2689

Any command in Repeating Command blocks stopped looping when
reentering the chunks after a few minutes, it has to be reactivated by a player to operate again:
Always active: Command b

[2018-02-24 22:36] phit commented on #1815
I could reproduce this on `spongevanilla-1.12.2-7.1.0-BETA-22.jar`

[2018-02-24 22:40] ShortCircuit908 opened #1816 "DataSerializableTypeSerializer does not use parent serializers"
**I am currently running**

- SpongeForge version: 1.10.2-2477-5.2.0-BETA-2731
- Java version: 1.8
- Operating System: Windows 10

- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, CoFH ASM, ccl-entityhook, Bazaar, TieredKits, Watchdog, CodeChicken Lib, CodeChicken Core, CoFH Core, Golden Sands, Island Limiter, YUNoMakeGoodMap, ItsBecauseUH

[2018-02-25 05:58] clienthax commented on #1816
Why aren't you just using ItemStackSnapshot?

[2018-02-25 08:18] gabizou commented on #1816
DataContainers always support arrays, what makes you think it's not supporting arrays? Do you have some sort of debugging screenshot to show us where the problem is about to happen?

[2018-02-25 09:48] dualspiral opened #1817 "ContainerPlayer should not be the root of ClickInventoryEvents"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2940
- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-22

- Plugins/Mods: Nucleus

**Issue Description**

During some `ClickInventoryEvents`, the `ContainerPlayer` is at the root of the event. It should be the player

`Cause.toString()` returns the following during `ClickInventoryEvent.Primary`

`Cause[Con

[2018-02-25 13:22] ghost commented on #1353
@gabizou any news?

[2018-02-25 18:21] ShortCircuit908 commented on #1816
The container itself supports the array, but the Configurate serializers do not accept array types by default

The issue is that I registered serializers necessary for arrays, but they are not being used from within `org.spongepowered.common.config.DataSerializableTypeSerializer`

[2018-02-25 19:02] realGWM commented on #1353
Yeah, I am interested in news too..
Looks like this problem still is not fixed!

[2018-02-25 19:24] ziceptor opened #1818 "IllegalStateException"
https://gist.github.com/ziceptor/e305f31a4f9c0ce80ea969475021d62c

Maybe because of that. Around the same time the character is frozen in place. He's kind of in his head. In a reduced form. There he was able to spin. I could not walk.

client https://gist.github.com/ziceptor/bb27fe14d46f8b93665d1e2bcb2b3295

forge-1.12.2-14.23.2.2611-universal.jar
spongeforge-1.12.2-2611-7.1.0-BETA-2931.jar

Mods/

[2018-02-25 22:56] Zidane commented on #1818
[code]

Contact Trentech and tell him to not set data off thread......

[2018-02-25 22:56] #1818 closed, assigned to nobody

[2018-02-25 22:59] Zidane commented on #1807
@pmbarrett314 nice catch on this, I would entertain a PR (you've mostly got some formatting issues here and there). Let me know. Your code changes do look fine otherwise.

[2018-02-26 04:19] ryantheleach commented on #1353
@gabizou FYI I tried to investigate this with Faithcaio a few weeks back, I struggled to understand how the readNBT methods were getting correctly called for EntityItem, I suspect it might be an issue that only works in a dev env or something? Or maybe I misunderstand how the mixins are interacting there.

[2018-02-26 20:57] gabizou commented on #1816
Maybe we should provide support in Configurate core? @kashike @zml2008 ?

[2018-02-27 19:26] TheNullablePrototype opened #1819 "The 'DestructEntityEvent' event is not triggered when the boat is broken by the player."
**I am currently running**

- Minecraft: 1.12.2
- SpongeAPI: 7.1.0-SNAPSHOT-6aa4e43
- SpongeForge: 1.12.2-2611-7.1.0-BETA-2925
- Minecraft Forge: 14.23.1.2604
- Java version:  1.8_152
- Operating System: Windows 10

- Plugins/Mods:

 Plugins (12): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, Announcer, Console Scheduler, Database Access Object, FixDupeWithBoat, GriefPrevention, LuckPer

[2018-02-28 01:16] me4502 opened #1820 "DropItemEvent.Dispense is called after the item has been removed from the inventory"
**I am currently running**

- SpongeVanilla version: 7bf7dc8
- Java version: 1.8.0_151
- Operating System: macOS 10.13.3

- Plugins/Mods: CraftBook

**Issue Description**
Using the DropItemEvent.Dispense event, it is called after the item has been removed. In my specific use case, I'm allowing recipes in the dispenser to have specific effects. This means that when there's only 1 of each item in th

[2018-02-28 07:40] Faithcaio commented on #1820
what about DropItemEvent.Pre?

[2018-02-28 12:05] me4502 commented on #1820
Last time I tried it, the cause and context weren’t filled with the same things, some of which was required.

[2018-02-28 14:22] james58899 opened #1821 "big number deserialize from json incorrect"
https://github.com/SpongePowered/SpongeCommon/blob/aadd13b935d1877d275bb4a5da0cc910f43daa9a/src/main/java/org/spongepowered/common/data/persistence/JsonDataFormat.java#L144-L159

double can't handle big numbers correctly
it will cause UUID can not correct deserialization

[2018-02-28 16:09] JoeSGT opened #1822 "unable to write things on sign"
**I am currently running**

- SpongeForge version:  1.12.2-2611-7.1.0-BETA-2946
- SpongeVanilla version:  -
- Java version:  8
- Operating System: windows

- Plugins/Mods:
no mods or plugins

**Issue Description**
I setup a clean test server with no mods or plugins i grab a sign out of creative place it down attempt to write something click done and the sign is blank on console it's outputting thi

[2018-02-28 16:17] bloodmc commented on #1820
Try Pre again as I updated it not too long ago.

[2018-02-28 22:14] limbo-app opened #1823 "Forge's TileEntity timing system does not work"
This issue was originally submitted by @SquidDev in [SpongePowered/SpongeForge#2029](https://github.com/SpongePowered/SpongeForge/issues/2029).
___
- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2940
- Forge version: 1.12.2-14.23.2.2613
- Java version: 1.8.0_151-b12
- Operating System: Windows

I've mentioned this on the discord, but felt it would probably be better to create an issue too:

Forge a

[2018-02-28 22:14] gabizou commented on #1823
Part of this is we need to have a SpongeImplHooks addition to allow the Forge timings in our overwrite for MixinWorld#updateEntities

[2018-02-28 22:20] SquidDev commented on #1823
Apologies! I presumed it would require patches to both, and so wasn't sure which one to post it on.

[2018-02-28 23:55] bloodmc commented on #1823
@SquidDev Why do you need forge's hook? Sponge timings does the same thing but better. Simply type `/sponge timings paste` to get a full timings report.

[2018-03-01 00:14] SquidDev commented on #1823
@bloodmc I may be wrong, but I believe they do different things? Sponge timings provides an overview of the entire world, including how long each TE class takes to tick. Forge's timings just lists the 10 slowest individual tile entities.

[2018-03-01 00:33] gabizou commented on #1823
@bloodmc it’s forges timings command that doesn’t work because we aren’t using the timings hook for Forge. It was added a couple of months ago.

[2018-03-01 00:34] gabizou commented on #1822
Might need to relate a lot of tile entity code checks till the block processing as block removal was moved till after. Might be triggering it.

[2018-03-01 00:37] limbo-app opened #1824 "Unable to Give RespawnLocationData to a Player"
This issue was originally submitted by @Xenmai in [SpongePowered/SpongeAPI#1790](https://github.com/SpongePowered/SpongeAPI/issues/1790).
___
Hi there. I'm having a problem when giving respawn locations to a player in version 1.12.2 and API 7.1.0.

I've tried two methods: using the RESPAWN_LOCATIONS data keys, and the RespawnLocationData manipulator. Both methods can be summarized as getting the c

[2018-03-01 00:37] gabizou commented on #1824
This is because it’s not implemented correctly. Api is fine.

[2018-03-01 00:44] bloodmc commented on #1823
OK we can add it. I don't know when I'll have time to get to it but perhaps someone else can push a fix.

[2018-03-02 05:53] james58899 commented on #1821
https://github.com/google/gson/issues/1084

[2018-03-02 09:22] stephan-gh commented on #1821
Can you provide specific test code (e.g. from a plugin) that is affected by this problem?

[2018-03-02 10:10] james58899 commented on #1821
test plugin : https://gist.github.com/james58899/3a35bf2e5c0fa9aa37b0c7cadeb16837

Reproduce step:
1. use command get item with UUID `/give @p minecraft:stick 1 0 {AttributeModifiers:[{AttributeName:"generic.movementSpeed",Name:"generic.movementSpeed",Amount:2,Operation:1,UUIDMost:844454052033679263L,UUIDLeast:-8130380119850524427l}]}`

2. Hold the item in your main hand

3. enter the command `/te

[2018-03-03 07:54] SawFowl opened #1825 "Scoreboard. Error after player respawn. BungeeCord"
**I am currently running**
- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2950
- SpongeVanilla version: 1.12.2-7.1.0-BETA-22
- Java version: 1.8.0_151
- Operating System: Ubuntu Server 16.04

- Plugins (26): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge,  FastAsyncWorldEdit, BeanCore, CatClearLag, CmdCalendar, CommandSyncSponge, CommandUtils, EconomyLite, GriefPrevention, JobsLite, LuckPe

[2018-03-03 09:02] #1817 closed, assigned to nobody

[2018-03-03 09:51] JoeSGT commented on #1822
Fixed on latest spongeforge :D

[2018-03-03 09:51] #1822 closed, assigned to nobody

[2018-03-03 14:09] ryantheleach commented on #1825
I believe it's wrong of Sponge to be leaking memory in this instance, but why are you using a brand new scoreboard each time? Why don't you update the old/existing one instead?

This will strain the Garbage Collector for little reason.

[2018-03-03 16:58] SawFowl commented on #1825
When I try to use the previous scoreboard, I get a problem with BungeeCord. At the player's respawn, he is thrown from the server. I also tested version 1.11 and found the same bug there.
This [plugin](https://forums.spongepowered.org/t/easy-scoreboards-v2-3/12746) uses a static scoreboard, but updates its values. The problem is the same as for my code.

[2018-03-04 01:30] me4502 commented on #1820
[code]

This doesn't ever get called for me, so I think Pre may be broken?

[2018-03-04 11:19] ryantheleach commented on #1825
Anyway, either a heap dump or some screenshots of VisualVM would give a large hint to devs on what to look out for.

[2018-03-04 14:15] SawFowl commented on #1825
It seems to me to add a method of removing the scoreboard from the player will be enough.

[2018-03-04 23:43] ryantheleach commented on #1825
A player should always have a scoreboard though, it's just whether it's an existing one, or the server scoreboard.

[2018-03-07 01:50] james58899 commented on #1280
any update?
cancel event still cause on cursor item disappear

[2018-03-07 19:30] SimonFlash opened #1826 "Undefined behavior changing inventory during InteractInventoryEvents"
When changing the inventory whilst in the middle of an event (particularly `ClickInventoryEvent`), the active inventory of the event is closed before the event has been completed and can be properly canceled.. The result is an undefined state that often results in the cursor item being dropped because the event has not been canceled yet. This is fixed by delaying any calls to open/close the invent

[2018-03-08 13:36] Eufranio commented on #1814
Not sure what happened, but this:
[code]
produced this:
[code]
(aqua text being saved as yellow)

Apparently, it only gets saved wrong if there are more than 1 color in the TextTemplate.

EDIT: Looks like this isn't like Text.of(), which builds the text with the args. TextTemplates only have ONE color, more colors should be added as new Text objects, like `TextTemplate.of(TextColors.RED, "Hello ",

[2018-03-09 02:43] JBYoshi commented on #1815
I could previously reproduce this, but can't reproduce it anymore on SF 1.12.2-2611-7.1.0-BETA-2953. Will update to 2955 and test once more.

[2018-03-09 02:48] JBYoshi commented on #1815
Should be fixed in 2955 (tested on the recommended Forge build). No idea when it was fixed, but it apparently is.

[2018-03-10 19:52] hsyyid opened #1827 "java.lang.ClassCastException: org.spongepowered.api.text.format.TextColors$1 cannot be cast to org.spongepowered.common.text.format.SpongeTextColor"
**I am currently running**
- SpongeForge version: `spongeforge-1.12.2-2611-7.1.0-BETA-2955.jar`
- Java version: `1.8.0_77`
- Operating System: `Windows 10`

**Issue Description**

Code that caused the issue:

[code]

Stack trace:

[code]

This appears to be the culprit: https://github.com/SpongePowered/SpongeCommon/blob/74080b0c75e59075f164f5151b08be395e2d17fc/src/main/java/org/spongepowered/commo

[2018-03-10 20:40] ST-DDT commented on #1827
I assume this is caused by `TextColors.NONE`.

https://github.com/SpongePowered/SpongeAPI/blob/d5f1171eb1ede4fe12efe731271eb3ad5a7cf48d/src/main/java/org/spongepowered/api/text/format/TextColors.java#L46

[2018-03-10 20:49] hsyyid commented on #1827
@ST-DDT I don't think so, my code sets the color to `TextColors.GRAY` and the exception is generated.

[2018-03-10 23:35] ST-DDT commented on #1827
I just opened that file with my decompiler and it is indeed `NONE`.  (Opening the file with a texteditor works as well).
[code]

As for how that value got there: I don't know.
Maybe you can add some debug code to trace it back.

[2018-03-11 00:10] clienthax opened #1828 "TimingHistory assumes EntityType is an instance of SpongeEntityType"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2937
- SpongeVanilla version:
- Java version: 1.8
- Operating System: N/A

- Plugins/Mods: N/A

**Issue Description**
I have a custom EntityType named PixelmonType which extends EntityType (mixined using the enum and cataloged up), all is well until timings run.

[code]

[2018-03-11 00:30] kashike commented on #1828
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/co/aikar/timings/TimingsExport.java#L167
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/co/aikar/timings/TimingHistory.java#L128

Timings really needs to stop needing int ids and start using namespaced keys.

[2018-03-11 02:12] #1828 closed, assigned to kashike

[2018-03-11 03:55] hsyyid commented on #1827
That is very odd indeed.

I still don't think this error should occur though - I passed a `SpongeTextColor` directly into the `.color` option and no exception was generated, using that as a workaround for the time-being.

[2018-03-12 05:48] #1807 closed, assigned to kashike

[2018-03-12 20:55] limbo-app opened #1829 "Fly event"
This issue was originally submitted by @mosemister in [SpongePowered/SpongeAPI#1793](https://github.com/SpongePowered/SpongeAPI/issues/1793).
___
Just a quick report that ChangeDataHolderEvent.ValueChange is not fired with some data values. Ill create a list here of what keys work with it.

- [ ] IS_FLYING

[2018-03-12 21:51] clienthax opened #1830 "DataProcessorDelegate returns false for all support(EntityType)"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2937
- SpongeVanilla version:
- Java version:
- Operating System:

- Plugins/Mods:

**Issue Description**

When attempting to make a snapshot of a entity, added manipulators are ignored as this always returns false.
https://github.com/SpongePowered/SpongeCommon/blob/72e33e8a59e16349b2ed74d0b247179427dc371c/src/ma

[2018-03-13 19:57] gabizou commented on #950
@clienthax prod, this is something you could do 😉

[2018-03-14 21:41] Rasgnarok opened #1833 "Timings' graph is broken"
**I am currently running**

- SpongeForge version: SpongeForge 2931
- SpongeVanilla version: N/A
- Java version: Java 8
- Operating System: CentOS 7

- Plugins/Mods:
![image](https://user-images.githubusercontent.com/18584380/37432188-e6df3766-27ad-11e8-94bf-fd5259ea4312.png)

**Issue Description**
1) Use Nucleus' `/gc` to screenshot the chunk count:
![image](https://user-images.githubusercontent.

[2018-03-16 00:27] Deamon5550 commented on #1217
this was done in 9d594880e16905f61784f37d0bc890da05981caf

[2018-03-16 00:27] #1217 closed, assigned to Deamon5550

[2018-03-16 23:35] JBYoshi commented on #1827
Is this worth patching? If so, I've got a three-line fix ready for it.

[2018-03-17 00:52] JBYoshi commented on #1827
Should be fixed in https://github.com/SpongePowered/SpongeCommon/commit/ab2a0b8f57f3b58949f24d271fc0fce4e1b3984d.

[2018-03-17 00:52] #1827 closed, assigned to JBYoshi

[2018-03-17 01:11] Dockter opened #1834 "Recent change to EntityUtil causes NPE when animal in nether portal"
This commit & line #:

https://github.com/SpongePowered/SpongeCommon/commit/209a3a3fd4f697847bf162ad41a7a5556f7f066b

Line:  393

mixinTeleporter is null when a chicken enters the nether portal.

https://gist.github.com/Dockter/aa391659003fef920f013f48251ffbb8

[2018-03-17 01:24] #1834 closed, assigned to JBYoshi

[2018-03-17 14:01] JBYoshi commented on #23
- [ ] Typo "surce" https://github.com/SpongePowered/SpongeCommon/blob/b559f0720ca0b7f0c3620905d7e405a148b0cee9/src/main/java/org/spongepowered/common/mixin/core/entity/MixinEntityHanging.java#L75

[2018-03-17 20:07] Krosta8 opened #1836 "Structures generating - Compatiblity of SpongeForge with Reccurent Complex mod"
**I am currently running**

- SpongeForge version: 2931 (latest recommended)
- SpongeVanilla version:
- Java version: 1.8.0 build 144
- Operating System: Linux

- Plugins/Mods: Plugins (21): Minecraft, Minecraft Coder Pack, Sponge API, SpongeForge, FastAsyncWorldEdit, BungeeTabListPlus-SpongeBridge, CatClearLag, CmdBuilder, CmdControl, CommandUtils, DailyRewards, GriefPrevention, LuckPerms, Nucleu

[2018-03-17 21:03] phit commented on #1836
dupe of https://github.com/SpongePowered/SpongeForge/issues/1949
and wrong repo, mod bugs please on the Spongeforge tracker

[2018-03-17 21:03] #1836 closed, assigned to nobody

[2018-03-17 22:40] NeumimTo opened #1837 "Item despawns after cancelling pickup event"
**I am currently running**
- SpongeVanilla version:  1.12.2-7.1.0-BETA-26
- Java version:  8
- Operating System: win7

After cancelling the pickup event the item is not picked up as intended, but also despawns from the ground

Code:

	@Listener
	public void onItemPickup(ChangeInventoryEvent.Pickup event, @First(typeFilter = {Player.class}) Player player) {
			event.setCancelled(true);
			return;

[2018-03-17 22:42] phit commented on #1837
this is intentional see https://github.com/SpongePowered/SpongeCommon/issues/1693#issuecomment-356179190

[2018-03-17 22:42] #1837 closed, assigned to nobody

[2018-03-18 19:30] #1830 closed, assigned to nobody

[2018-03-18 20:34] #1721 closed, assigned to JBYoshi

[2018-03-18 20:39] limbo-app opened #1838 "tileentity-activation module not working on 1.12.2"
This issue was originally submitted by @KangYee in [SpongePowered/SpongeForge#2052](https://github.com/SpongePowered/SpongeForge/issues/2052).
___
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2969
- Forge version: forge-1.12.2-14.23.2.2611
- Java version: java8 u163
- Operating System:windows server 2012R2

**Issue Description**
When I set the hopper block-r

[2018-03-18 20:40] phit commented on #1838
will need some testing user reports setting range on a hopper to 1 will still allow it to work when further away, could be that the chunk was force loaded

[2018-03-19 14:22] clienthax commented on #950
Hmmmm possibly :)

[2018-03-19 20:58] clienthax opened #1839 "No way to register NbtDataProcessors"
There is currently no way to register NbtDataProcessors needed for #950

[2018-03-20 22:51] ImMorpheus commented on #1439
PR merged. This should be closed.

[2018-03-20 22:51] ImMorpheus commented on #1442
PR merged. This should be closed.

[2018-03-20 23:14] #1442 closed, assigned to bloodmc

[2018-03-20 23:14] #1439 closed, assigned to bloodmc

[2018-03-22 15:48] codeHusky opened #1840 "Items offered to player inventory placed incorrectly"
**I am currently running**
- SpongeForge version: Not tested, but reported by others
- SpongeVanilla version: Will post exact soon, but it's something like release 1.12.2-7.1.0-52
- Java version: 1.8.0_151
- Operating System: Win10

Plugins/Mods:
 - HuskyCrates
 - HuskyUI

**Issue Description**
Items are placed on the lowest slot position in the players inventory rather than in the hotbar if it's

[2018-03-22 15:55] SimonFlash commented on #1840
This is not an implementation issue. See [SpongeAPI#1795](https://github.com/SpongePowered/SpongeAPI/issues/1795) for a potential solution to expose this to the API.

[2018-03-22 15:59] codeHusky commented on #1840
Until then, it's a bug due to unexpected functionality. "Compatibility and consistency" doesn't work when you don't supply the mechanisms to maintain that.

[2018-03-22 16:43] SimonFlash commented on #1840
The reason this happens is because of the change in order made to the `MainPlayerInventoryLens`. Instead of placing the `HotBar` before the `GridInventory`, the `HotBar` now is below because that matches the view of the inventory itself - the hotbar is displayed *below* the rest of the inventory. Unfortunately, a side-effect of this is that offering items to this inventory puts them into the `Grid

[2018-03-22 16:47] codeHusky commented on #1840
Again, none of that really matters. This is a question of expected *default* functionality. I'm not expecting to add items to the inventory and then they appear in the backpack portion, instead of the hotbar. Adding to the API definitely won't solve the problem in any short span of time rather than just reverting the change **until** a suitable solution is added to the API to do this programmatica

[2018-03-22 17:27] Faithcaio commented on #1840
Why do you expect the hotbar to come first?
If you got a Grid Inventory would you not expect it to go from top-left to bottom right by default?
Why should the player inventory be an exception here?
Going from bottem left to bottom right and then up again to top left and back to down right is just weird.

Consistency is definitly the most important thing here.
Calling the same method on the same in

[2018-03-22 18:01] codeHusky commented on #1840
My main thing is that, if I remember correctly, the default /give command puts the item into your first available hotbar slot if possible. Its the same for item pickup, which is why this is counter-intuitive in my opinion.

It would make more sense to try and be consistent with Minecraft itself rather than the way generic containers work in the API. I'd prefer to have it be the former, since I can

[2018-03-22 18:19] SimonFlash commented on #1840
@codeHusky Claiming "none of that really matters" is a ludicrous and ignorant statement. I explained why this discrepancy is happening and why the change was made, so understand that any alteration to make things have your expected behavior within SpongeCommon is a change to the underlying implementation of the inventory.

As Faith has said though, this change is the result of an inconsistency bet

[2018-03-22 18:24] codeHusky commented on #1840
The main point is just the change with no actual solution. It's frustrating that such a change wasn't made very clear and seems to have appeared as an improvement rather than part of API 8, which I'd suggest for these changes to be postponed to. I'd rather not have a ton of inconsistent behavior in API 7 (like previous API versions) is all, really. I don't remember the inventory behavior being lik

[2018-03-22 18:26] Faithcaio commented on #1840
Didn't I change this before API 7 got released? let me check...
nvm it was after
But then again
people complained Container and Inventory order being different

[2018-03-22 18:27] codeHusky commented on #1840
I feel like it was one of those last minute PRs if anything, since I don't remember this until API7 went to release.

[2018-03-22 18:32] Faithcaio commented on #1840
It was always like this for Containers so `event.getTargetInventory()`
not for `player.getInventory()`

thats what I call inconsistent

[2018-03-22 18:35] codeHusky commented on #1840
It's consistent with Minecraft, not necessarily the API itself. I prefer consistency with minecraft, or the capability to be able to be for user friendly behavior

[2018-03-22 18:50] Faithcaio commented on #1840
I must disagree. The API has to be consistent or it is worth nothing.

But yes we need easier ways to put stuff in inventories in a different order.
See the Issue Simon linked earlier.
So we could add API like this:
`inventory.offer(stack, OfferStrategy.HOTBAR_FIRST)`
And HOTBAR_FIRST would basicly be a predefined lists of QueryOperations:
[code]

Btw. the tools to do that now are already present:

[2018-03-22 19:22] codeHusky commented on #1840
query1 is what? If there's a workaround, it would be wonderful if someone posted a code snippet that restores default behavior <3

[2018-03-22 19:55] Faithcaio commented on #1840
Step 1. `getHotbarFirst(player.getInventory)`
[code]
Step 2. `offer(stack)` to it
Step 3. ???
Step 4. Profit

[2018-03-23 07:37] clienthax commented on #1840
This seems familar :)
https://github.com/SpongePowered/SpongeCommon/issues/939

[2018-03-23 08:01] Faithcaio commented on #1840
Back then we didnt think/check that the Player Inventory/Container are ordered differently in the Minecraft internals.
Which caused those really fun bugs where SlotIndex.of(0) was in the middle of the 9x3 Grid because the hotbar offsets it.

[2018-03-24 05:22] limbo-app opened #1841 "Abstract methods in 'spongepowered.api.world.extent.InteractableVolume.java'"
This issue was originally submitted by @Evolht in [SpongePowered/SpongeAPI#1796](https://github.com/SpongePowered/SpongeAPI/issues/1796).
___
Found a few abstract methods during development.

`
    boolean digBlockWith(int x, int y, int z, ItemStack itemStack,GameProfile profile);
`

`java.lang.AbstractMethodError: Method net/minecraft/world/WorldServer.digBlockWith(IIILorg/spongepowered/api/item/

[2018-03-25 00:39] Rasgnarok opened #1843 "[2970 SF] Buckets can be filled through GP deny flags (video)"
**I am currently running**

- SpongeForge version: 2970
- SpongeVanilla version: N/A
- Java version: 8
- Operating System: CentOS 7

- Plugins/Mods:
![image](https://user-images.githubusercontent.com/18584380/37870388-0521857e-2fa3-11e8-8797-e93ac70519d1.png)

**Issue Description**
https://cdn.discordapp.com/attachments/243144280405835777/426923181916291072/2018-03-23_18-53-02.mp4

[2018-03-25 05:10] bloodmc commented on #1843
GP does not stop item interactions by default in order to prevent various issues with items such as foods/mod items etc.. Simply use the interact-item-secondary flag and deny bucket use.

[2018-03-25 05:10] #1843 closed, assigned to nobody

[2018-03-25 19:12] Sir-Will opened #1844 "AdvancementEvent.Grant doesn't get triggered"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2974

**Issue Description**
The `AdvancementEvent.Grant` event doesn't trigger for me while `CriterionEvent.Grants` does
[code]

[2018-03-26 21:49] kencinder commented on #1506
Still persisting on my setup, and I'm having the added effect of having properties that are clearly FALSE(by default) in the config show as TRUE in-game, such as `keep-spawn-loaded=false` showing as true.
I'm also having worlds stay loaded when that very dimensions config is set false, with no user in the world.
[code]

[2018-03-26 21:58] phit commented on #1506
@kencinder then report that to you plugin authors, the config themselves work perfectly fine and that is not what this issue is about

[2018-03-26 22:08] kencinder commented on #1506
@phit The configs in question ARE the Sponge configs, I came to this via another issue related to the very same issue with configs not saving, nor are they being respected. Even in global.conf after just testing now, does NOT work, so the configs are not working.

[2018-03-26 22:50] nihiluis opened #1845 "Placing a custom block causes an ArrayIndexOutOfBoundsException in MixinBlock_BlockCapturing on initializeBlockCapturingState"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2970.jar
- Forge version: Forge Mod Loader version 14.23.2.2635
- SpongeVanilla version: NO
- Java version: 8_186
- Operating System: DEBIAN

- Plugins/Mods: SpongeForge and DynmapForge, rest are private

**Issue Description**
I add custom blocks with Forge. Then I go ingame on forge server and place custom block

[2018-03-26 22:53] phit commented on #1845
provide a test mod to reproduce this, otherwise im gonna blame this on the way you register your block
the only way this error could occur if your block id is wrong

[2018-03-27 01:27] limbo-app opened #1846 "getVelocity returns incorrectly when player is in boat"
This issue was originally submitted by @zedwick in [SpongePowered/SpongeForge#2035](https://github.com/SpongePowered/SpongeForge/issues/2035).
___
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2931
- Forge version: forge-1.12.2-14.23.2.2611
- Java version: 1.8.0_131
- Operating System: Mac OS X

When a player is in a boat, Player.getVelocity() and Player.get

[2018-03-27 03:23] #1838 closed, assigned to nobody

[2018-03-27 08:53] nihiluis commented on #1845
how do you explain in that case that when I call the exact same NMS method I get a proper "gss-decor:something" and apparently sponge gets something else?

this is the mod odnwload:
https://drive.google.com/file/d/1ok4rzwAtlR9Uv84BkzsbMyjv5xVF5CJb/view?usp=sharing

and this is source:
https://gist.github.com/nihiluis/e449fe235b72f6689fab60007426ddec

I added the "gss-decor" prepend to the registry

[2018-03-27 18:59] gabizou commented on #1845
It’s possible to add some validation exception printout in the event the block id is malformed from the registry. Then it should be possible to find the root of the problem.

[2018-03-27 19:22] nihiluis commented on #1845
how?

[2018-03-28 12:10] nihiluis opened #1848 "UseItemStackEvent doesn't work on SpongeForge (but maybe on SpongeVanilla)"
I am currently running

    SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2970.jar
    Forge version: Forge Mod Loader version 14.23.2.2635
    SpongeVanilla version: NO
    Java version: 8_186
    Operating System: DEBIAN

    Plugins/Mods: SpongeForge and DynmapForge, rest are private

**Issue Description**
[code]

registering this Listener and eating something or drinking a potion doe

[2018-03-28 12:12] nihiluis opened #1849 "InteractItemEvent is called twice?"
SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2970.jar
    Forge version: Forge Mod Loader version 14.23.2.2635
    SpongeVanilla version: NO
    Java version: 8_186
    Operating System: DEBIAN

    Plugins/Mods: SpongeForge and DynmapForge, rest are private

**Issue Description**
[code]

when I use this and right click an item (and look in the air) this is executed twice. which is unex

[2018-03-28 12:26] nihiluis commented on #1849
Apparently right clicking AIR counts as an interactblockevent.

[2018-03-28 12:26] #1849 closed, assigned to nobody

[2018-03-28 13:16] Faithcaio commented on #1849
InteractItemEvent fires twice because there are
MainHand and OffHand SubEvents
you get both if you do not specify which one you want.

[2018-03-28 21:44] gabizou commented on #1845
Once build 2994 is done, give that build a test and we'll see what it will print something out for the issue. It *should* provide us some more information on what's causing the block id to be malformed.

[2018-03-28 22:01] gabizou opened #1850 "Improve Logging for PhaseTracker"
For all the logs that are presently provided for issues, I'm looking for user/developer input on improvements we can make to the PhaseTracker logs.

So far, I have one:
- [ ] When a `PhaseContext` has an empty capture object, don't print it.
- [ ] When a `PhaseContext` capture object has elements with positions, print out the positions maybe for the first few?

[2018-03-29 02:38] gabizou commented on #1845
Ok, a new build has been published (had some issues with maven dependencies), can you give it a try now?

[2018-03-29 09:34] nihiluis commented on #1845
The mod-id is missing. Im really unable to comprehend why Sponge and my own mod get different results. Any ideas?
[code]

[2018-03-29 11:31] nihiluis commented on #1845
I tried another mod "Forestry" and wanted to see if the same error occurs there. It doesn't. I can place those blocks normally.

I try to copy that format and register a block like this now, to no avail:
[code]

[2018-03-29 19:35] gabizou commented on #1845
Can you print out what the `ForgeRegistries.BLOCKS.getNameForObject(this)` returns? Comparing for vanilla forge and sponge forge. It sounds like there's a registration discrepancy (and I don't know where the `id` is coming from in your code)

[2018-03-29 20:31] nihiluis commented on #1845
Do you mean like this?
[code]

With SpongeForge
[code]
Without SpongeForge
[code]

[2018-03-29 20:31] nihiluis commented on #1845
I assume the id is added automatically. I prepended `gssdecor` to the registryName before btw, to no avail

[2018-03-29 21:28] Tyson-Gagnon opened #1851 "DestructEntityEvent not being called on Human Entities"
**I am currently running**

- SpongeVanilla version: Spongevanilla-1.12.2-7.1.0-BETA-29.jar
- Java version: jdk1.8.0_161
- Operating System: Windows 10

- Plugins/Mods: Only private plugins

**Issue Description**
When trying to create a snapshot of a human entity when the DestructEntityEvent is called, it doesn't seem to fire if a human entity is destroyed. When I leave the chunk to unload them, t

[2018-03-30 02:51] gabizou commented on #1845
But you're not requesting the id from ForgeRegistries.BLOCK, I know that they should be pointing to the same registry, Sponge is picking up from the *very same registry* that the id is not prefixed with the mod id. That is the problem it's having. At what point of the game is this occurring btw?

Can you add some more printouts for the initial registration of the blocks? (And also, you should be r

[2018-03-30 09:24] nihiluis commented on #1845
well Sponge is using `Block.REGISTRY`. `ForgeRegistries.BLOCKS` doesnt have the method `getNameForObject` so I used .getKey().

Its always occuring when I place the custom block. Not when I destroy one.

I registered the blocks in the registry event before, but I thought since this is the way a mod that works does it, maybe I can solve my problem like this.

I do this preInit check now
[code]
whic

[2018-03-30 15:53] gabizou commented on #1845
Your second paste doesn't show me what the registries are printing out. What's odd is that Sponge is only using one of the registry pointers (`Block.REGISTRY`) which forge reroutes to using the ForgeRegistries.BLOCKS. Sponge otherwise doesn't interfere with registration of blocks or changes them in any way, so I'm having some trouble understanding how it's getting different information at differen

[2018-03-30 15:59] nihiluis commented on #1845
it prints the same, sorry.

could someone please test the mod (see above for dl) and see if there are issues on another end as well when placing a block?

[2018-03-31 04:52] XakepSDK opened #1853 "Firework effects NoSuchElement"
`firework.getFireworkData()` / `firework.effects()` throws `NoSuchElementException`.
`firework.getOrCreate(FireworkEffectData.class).get();`
Returns `FireworkEffectData`, offering back returns this:
[code]

Tested on: `spongevanilla-1.12.2-7.1.0-BETA-33`

[2018-03-31 07:50] XakepSDK commented on #1853
`FireworkRocketData` not present too.

[2018-03-31 08:13] XakepSDK commented on #1853
Fireworks completely broken
[code]
This code just launches firework, no effects applied. If i don't create `FireworkRocketData`, just little sparks at my legs appears.

[2018-03-31 12:48] MrMaleficus commented on #41
@simon816 Any updates ? 😊

[2018-03-31 20:44] mosemister opened #1854 "Data ID must be formatted incorrectly"
Running:
1.12.2-7.1.0-BETA-33 (Currently latest recommended)
- Java version:
jre1.8.0_162
- Operating System:
Windows 10

- Plugins/Mods:
 1 Mod I am working on

**Issue Description**

While creating the Data half of my custom plugin I followed the CookBook:MyHomes example ( https://github.com/SpongePowered/Cookbook/blob/master/Plugin/MyHomes/src/main/java/org/spongepowered/cookbook/myhomes/MyHome

[2018-03-31 22:41] parlough commented on #1802
The above PR should fix this, thanks for the report. Used your test locally.

[2018-04-02 11:38] XakepSDK commented on #1854
What part?

[2018-04-02 11:41] mosemister commented on #1854
Sorry, didnt think that part was important. This is the crash report if the ':' is not included.

edit: removed raw error in code form to Gist: https://gist.github.com/mosemister/c22f48ec8df58d6fe6acf1afe8748390

[2018-04-02 11:41] XakepSDK commented on #8
`Keys.DISPLAY_NAME` does not work for players.

[2018-04-02 12:38] XakepSDK commented on #1854
[code]

[2018-04-02 12:42] mosemister commented on #1854
Sorry, Here is the Gist.github version of the same error.
https://gist.github.com/mosemister/c22f48ec8df58d6fe6acf1afe8748390

[2018-04-02 12:47] XakepSDK commented on #1854
`ManipulatorBuilder cannot be null!`
You must create and set your manipulator builder. Also, cookbook is very old, use this as example: https://github.com/pie-flavor/ExampleDataPlugin/

[2018-04-02 13:13] mosemister commented on #1854
I realise the ManipulatorBuilder could not be null, I can read.

Thanks for the example, I saw commits on CookBook saying API 7, so I didn't think it was that out of date. What I was doing wrong was that I had the ManipulatorId as the full ID aka
'entitydisguise:something'
and I didn't realise your supposed to chop of the pluginid on the manipulatorid.

[2018-04-02 13:13] #1854 closed, assigned to nobody

[2018-04-02 13:59] XakepSDK opened #1856 "GenericArguments.remainingJoinedStrings ' bug [InputTokenizer bug?]"
Using `'` instead of `"` makes optional empty.
Code:
[code]

[2018-04-02 14:04] #1856 closed, assigned to nobody

[2018-04-02 14:09] XakepSDK opened #1857 "Add team name length check"
Currently minecraft team impl. thrown exception about team name length.
Exception says about `display name`, this can be confusing.
Add name length check in builder. [here](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/scoreboard/builder/SpongeTeamBuilder.java#L64)
Max name length is 32 chars.

[2018-04-02 16:45] NeumimTo commented on #1353
Still present in 1.12.2-7.1.0-BETA-34

[2018-04-02 17:23] XakepSDK commented on #1504
Bump

[2018-04-02 21:30] kashike commented on #8
...yes it does? If it didn't we'd have 100 issues opened by now.

[2018-04-02 21:39] kashike commented on #1857
Stacktrace?

I'm not sure where you got `32` from, but the maximum length of a team name is `16`.

[2018-04-02 22:02] XakepSDK commented on #1857
I got this error somewhere from TeamScorePlayer.class or similar. I'll give stacktrace bit later.

[2018-04-03 18:03] nihiluis commented on #1845
no fix or tests about this bug?

[2018-04-03 18:13] dualspiral commented on #1845
This was only closed because I ported a commit from stable-7 to our bleeding branch with a commit message that suggested it should be closed, I'll reopen it.

[2018-04-05 20:31] randombyte-developer opened #1859 "What it means when LegacyCustomDataClassContentUpdater fails"
This is not an issue that is needed to be fixed but I want to share what I discovered and maybe save you a bit time if someone else has this problem too.

So the error is this: https://pastebin.com/GQLhPciE
Note that line 2 & 3 contain my own debug messages.

So the legacy data updater wants to update this data(as seen in the log):

[code]

The data is of `ContentVersion: 1` but doesn't contain th

[2018-04-05 20:38] randombyte-developer commented on #1814
May be related to #1152

[2018-04-06 23:40] Rasgnarok opened #1860 "[Weather] There is too much rain"
**I am currently running**

- SpongeForge version: 2990
- SpongeVanilla version: N/A
- Java version: 1.8
- Operating System: Centos 7

- Plugins/Mods:
![image](https://user-images.githubusercontent.com/18584380/38448429-163dceec-39d2-11e8-9a7c-53d722fc9dac.png)

**Issue Description**
- Locking weather won't stop the rain from coming back (through `/nucleus:lockweather`)
- Only way to stop the rain

[2018-04-06 23:45] Inscrutable commented on #1860
I've been having the same issue on every build of SpongeForge for 1.12.2 that I've tried. The nucleus commands to set the weather to clear work, but will not persist. I set to clear for 40 hours, yet it rained again in two minutes. Toggledownfall seems to revert very quickly as well. It likes to rain.

[2018-04-06 23:51] Lemmmy commented on #1860
duplicate of SpongePowered/SpongeForge#1138? several server admins reporting too much rain there

[2018-04-07 04:11] bloodmc commented on #1860
@Meronat Please look into this as you were the last one to change related code.

https://github.com/SpongePowered/SpongeCommon/commit/534ccd511878f2f8a38b8ce9b321b656154d057b

[2018-04-07 10:31] Karanum opened #1861 "ChangeInventoryEvent.Transfer.Post transaction list empty for Hopper transfers"
**Tested on SpongeForge versions 2990 and 3004**

When a ChangeInventoryEvent.Transfer.Post is fired by a hopper, either removing items from or placing items into a chest, the list of SlotTransactions is empty.

Testing with [this code snippet](https://gist.github.com/Karanum/43ebb31de0c8d0378bcf5bc218361877)  and a hopper between two chests gives the following result:
![No. of transactions: 0](ht

[2018-04-07 11:29] #1861 closed, assigned to nobody

[2018-04-07 16:02] nihiluis commented on #1848
I checked SpongeForge and SPongeCommon and found that SpongeForge has this function
`createPlayerUseItemFinishEvent`
https://github.com/SpongePowered/SpongeForge/blob/5087d8342d0ed2f6ae5f7dd8941115f29d9b29a1/src/main/java/org/spongepowered/mod/event/SpongeForgeEventFactory.java#L720

but apparently it's never called? I might err though.

[2018-04-07 19:59] parlough commented on #1860
Will look into it.

[2018-04-07 20:17] nihiluis opened #1862 "Represented Player not supported on BlockSnapshots"
**I am currently running**

- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2996
- Forge version: 14.23.2.2640
- Java version: 1.8
- Operating System: linux debian

- Plugins/Mods: nucleus worldedit dynmap

**Issue Description**
use this code.
https://i.imgur.com/fODY6nB.png

then left click on this block:
https://i.imgur.com/BBrLsSJ.png

i always get message "PROFILE IS NULL".
I think profile shoul

[2018-04-07 21:57] parlough commented on #1860
Faith and I have a fix which I think we'll fix both issues mentioned here as well as other issues around weather which may be present. Will test a bit more then push it.

[2018-04-07 23:59] LXGaming opened #1863 "Spelling Mistake with Unknown InventoryArchetype name"
[InventoryArchetypeRegistryModule.java#L372](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/registry/type/item/InventoryArchetypeRegistryModule.java#L372)

Should be `UNKNOWN` instead of `UKNOWN`

[2018-04-08 00:17] Dykam opened #1864 "Automatically infer SPAWNER_NEXT_ENTITY_TO_SPAWN when setting SPAWNER_ENTITIES"
**I am currently running**
- SpongeVanilla version: 02996af60d947986a1096eee406a967d412d0fd6
- Java version: jdk1.8.0_152
- Operating System: Windows 10

A common use case is to simply set the type of mob to spawn to a single mob. Right now the following is required:

[code]

Setting the next entity feels redundant, as discussed in chat.

[2018-04-08 05:52] LXGaming commented on #1718
Still an issue on the following:
 - SpongeVanilla: 1.12.2-7.1.0-BETA-38
 - SpongeForge: 1.12.2-2611-7.1.0-BETA-3005 (Forge: 1.12.2-14.23.2.2645 & 1.12.2-14.23.2.2611)

No Plugins/Mods were installed during testing.

[2018-04-08 05:52] LXGaming commented on #1815
Still an issue on the following:
 - SpongeVanilla: 1.12.2-7.1.0-BETA-38
 - SpongeForge: 1.12.2-2611-7.1.0-BETA-3005 (Forge: 1.12.2-14.23.2.2645 & 1.12.2-14.23.2.2611)

No Plugins/Mods were installed during testing.

[2018-04-08 10:13] nihiluis opened #1865 "Phase incompatibility on player.closeInventory()"
**I am currently running**

/* Minecraft : 1.12.2                                                                                                                   */
/* SpongeAPI : 7.1.0-SNAPSHOT-ee6579e                                                                                                   */
/* SpongeForge : 1.12.2-2611-7.1.0-BETA-2996

[2018-04-08 10:48] SimonFlash commented on #1865
This issue is caused by closing the player's inventory during the `ClickInventoryEvent`, as shown in the other issues you linked. If you change the player's inventory during the event, the event is no longer able to be executed or cancelled correctly - the inventory to return any items to has disappeared, and the state is now invalid. You can avoid this by delaying the call to `closeInventory` unt

[2018-04-08 10:54] nihiluis commented on #1865
I'd expect a proper exception here then and not a generic phase error with no info. too think one could add at least an info in the doc

[2018-04-08 18:57] parlough commented on #1860
So https://github.com/SpongePowered/SpongeCommon/pull/1866 should fix the issues you're having with the lockweather command as well as some other event issues.

I tested extensively with these changes and I didn't see it raining any longer than it should. Rain can last anywhere for half through a whole Minecraft day(10-20 minutes) and it can start raining again as often as every .5-7.5 Minecraft d

[2018-04-08 19:07] #1802 closed, assigned to parlough

[2018-04-08 19:07] #1860 closed, assigned to parlough

[2018-04-09 01:27] BrainStone opened #1867 "Keys.DESPAWN_DELAY does not work (as expected?)"
**I am currently running**

- SpongeForge version: 1.12.2-2611-7.1.0-BETA-3005
- SpongeVanilla version: 1.12.2-7.1.0-BETA-38
- Java version: 1.8.0_161
- Operating System: Windows 10

- Plugins/Mods: Minecraft, Mod Coder Pack, SpongeAPI, SpongeVanilla, Core, CoreLib, GameLib, Jump'n'Clash, LuckPerms, SpongyCord, ViaBackwards, ViaVersion

**Issue Description**

Setting the `Keys.DESPAWN_DELAY` for a

[2018-04-09 03:48] LXGaming commented on #1867
When I tested this on SpongeVanilla-1.12.2-7.1.0-BETA-38 I noticed that doing `entity.offer(Keys.DESPAWN_DELAY, 5);` appeared to change the pickup delay as when I dropped the item I would pick it back up before it hit the ground.

`entity.offer(Keys.DESPAWN_DELAY, 100000);` also prevented the item from being picked up.

[code]

[2018-04-12 02:53] JBYoshi commented on #1815
Tested again, and reproduced it again this time.

[2018-04-12 22:54] Rasgnarok opened #1871 "TPS loss on UpdateBlock:flowing_water"
**I am currently running**

- SpongeForge version: SF 2990 (happens with previous and later builds as well)
- SpongeVanilla version: N/A
- Java version: 8
- Operating System: CentOS 7
- Additional information: Intel I7-6700K DDR4 - 2400 MHz - SSD

- Plugins/Mods:
![image](https://user-images.githubusercontent.com/18584380/38707974-e3fa80c4-3e81-11e8-807a-ec8e0f0d77ca.png)

**Issue Description**
Wa

[2018-04-13 01:24] Zidane commented on #1871
@Rasgnarok

Anyway you can pull off getting a yourkit profiler snapshot?

[2018-04-15 07:03] #926 closed

[2018-04-15 09:16] kashike opened #1873 "SOE breaking a door"
via @Inscrutable
`spongeforge-1.12.2-2655-7.1.0-BETA-3024`
[code]

[2018-04-15 18:21] ghost commented on #1873
Same

[2018-04-15 21:08] #1873 closed, assigned to nobody

[2018-04-16 01:17] ryantheleach commented on #1867
@BrainStone Can you add slightly more context? This is a dumb answer, but are you setting this on the EntityItem or an Item Stack? There's been several times when people have attempted to set data on the wrong type, and expected it to persist across transformation boundaries. e.g. set invalid data on itemStack, expect to see it on EntityItem.

[2018-04-16 01:18] ryantheleach commented on #1865
https://github.com/SpongePowered/SpongeCommon/pull/1869

[2018-04-16 03:37] BrainStone commented on #1867
@ryantheleach, I think LXGaming added already all details necessary.

But yes, I’m definitely offering that key to an `EntityItem`. I personally didn’t notice the mix up, because I also set the pick up delay directly after.

[2018-04-16 08:10] ryantheleach commented on #1867
Apologies, I misread ' change the pickup delay' as ' change the despawn delay' in LXGaming's post.

[2018-04-16 15:10] limbo-app opened #1874 "DataSerializableTypeSerializer - IllegalArgumentException - ItemStack NBT"
This issue was originally submitted by @Sir-Will in [SpongePowered/SpongeForge#2068](https://github.com/SpongePowered/SpongeForge/issues/2068).
___
**I am currently running**
- SpongeForge version: 1.12.2-2611-7.1.0-BETA-2990
- Forge version: 1.12.2-14.23.2.2631

**Issue Description**
Getting the `java.lang.IllegalArgumentException: Configuration does not accept objects of type class [B` error whe

[2018-04-17 01:35] JBYoshi commented on #1815
Tracking this down has been really annoying... but I think I've traced it to an off-by-one error in some of Sponge's added optimization code. Currently testing and will report back shortly.

[2018-04-17 02:40] JBYoshi commented on #1815
Apparently I revealed some nasty side effects where the chunk with the command block never gets unloaded. Will work on that before I push the fix.

[2018-04-17 03:18] caseif opened #1875 "NoSuchElementException thrown by Inventory#getProperty during inventory close event"
**I am currently running**
- SpongeForge version: 2990 (latest RB for stability purposes)

_Other environment information is irrelevant_

**Issue Description** `Inventory#getProperty` will sometimes throw a `NoSuchElementException` when called. I'm not sure of the exact circumstances (just grabbed it from a log file), but it seems like it's happening when the inventory is a childless parent (not e

[2018-04-17 06:20] Faithcaio commented on #1875
Very weird. It would be good to know what Container was opened there.

[2018-04-17 07:41] bloodmc commented on #1165
@Zidane please push your branch when tested.

[2018-04-17 15:35] JBYoshi commented on #1815
Looks like that's intended. Pending review before I merge it.

[2018-04-18 02:32] TheCipher01 opened #1876 "Correct SpongeForge version to use for Forge 2627"
**I am currently running**

- SpongeForge version: x
- SpongeVanilla version:  x
- Java version: 8
- Operating System: ubuntu

- Plugins/Mods:  FTBRevelations Pack

**Issue Description**
SpongeForge causes FTBRevelations server to crash, with this error

And when I remove it, server loads fine, the only thing I can figure is there's no sponge forge version for forge 2627, only 2611, 2655 and so on

[2018-04-18 06:21] gabizou commented on #1876
SpongeForge builds for Forge 2611 are compatible with 2627 last I recall. If not, then I'd recommend to update to the Forge RB which is 2655. Otherwise, we're not going to **revert** an update to target a specific forge version that is already outdated.

Likewise, you didn't follow the format, you just pasted some paste without any actual logs, if you still believe this is a salvageable issue that

[2018-04-18 06:21] #1876 closed, assigned to nobody

[2018-04-18 06:26] gabizou commented on #1864
I'll consider adding this as it would be easy to chuck into the transaction result returned when manipulating the list of spawnable entities.

[2018-04-18 06:29] gabizou commented on #1862
You won't be able to get the player profile from a `BlockState`. You must get that information from a `BlockSnapshot` or live `TileEntity`. The reasoning is that persisting data such as this is only stored on `TileEntity` instances, but not on `BlockState`s. This is why your code is returning `null`. Now, since the implementation doesn't currently support reading the tag compound to handle the req

[2018-04-19 21:28] gabizou opened #1877 "Verify whether captured item drops from Players are adding to the Stat tracker"
While [refactoring entity drop management for the PhaseTracker](https://github.com/SpongePowered/SpongeCommon/compare/stable-7...refactor/entity-drop-compatibility) I came across this specific code block:

https://github.com/SpongePowered/SpongeCommon/blob/e53653108af32bb206be3c3499eb0660f949a8af/src/main/java/org/spongepowered/common/entity/EntityUtil.java#L1094-L1116

Primarily of which, I canno

[2018-04-19 22:45] phit commented on #1523
https://github.com/SpongePowered/SpongeCommon/pull/1742 & https://github.com/SpongePowered/SpongeCommon/pull/1775 were merged

[2018-04-19 22:45] #1523 closed, assigned to nobody

[2018-04-19 22:46] phit commented on #1863
please put this in https://github.com/SpongePowered/SpongeCommon/issues/23

[2018-04-19 22:46] #1863 closed, assigned to nobody

[2018-04-19 22:52] phit commented on #1859
shrug, maybe it will help someone when they search for this in the future, but closing as there's nothing here for us to handle

[2018-04-19 22:52] #1859 closed, assigned to nobody

[2018-04-19 22:53] LXGaming commented on #23
https://github.com/SpongePowered/SpongeCommon/blob/36a82d2c6bfc2a916d0b9772b750ee7b9d87481c/src/main/java/org/spongepowered/common/registry/type/item/InventoryArchetypeRegistryModule.java#L372

Should be `UNKNOWN` instead of `UKNOWN`

[2018-04-19 22:55] phit commented on #1848
see https://github.com/SpongePowered/SpongeForge/issues/1928

[2018-04-19 22:55] #1848 closed, assigned to nobody

[2018-04-19 23:25] phit commented on #1507
log is gone and 1.10 with no reproduction

[2018-04-19 23:25] #1507 closed, assigned to nobody

[2018-04-19 23:33] phit commented on #1280
@ImMorpheus can you split this up into multiple issues for whatever is still an issue on latest? kinda hard to keep track whats still relevant here

[2018-04-19 23:46] phit commented on #1467
closing in favor of https://github.com/SpongePowered/SpongeCommon/issues/1569
dont need two issues for this

[2018-04-19 23:46] #1467 closed, assigned to JBYoshi

[2018-04-20 00:18] gabizou commented on #1569
@JBYoshi did you ever get anything on this done?

[2018-04-20 03:18] gabizou opened #1878 "Verify Block#spawnAsEntity requires DropItemEvent.Pre to be thrown"
The API contract dictates that `DropItemEvent.Pre` is thrown when an item is being dropped.

In the context of blocks, [when blocks are being spawned as items of themselves, we don't throw the event](https://github.com/SpongePowered/SpongeCommon/blob/12ed45e8acd3b11672607f35e2de7c7246554506/src/main/java/org/spongepowered/common/mixin/core/block/MixinBlock.java#L297):
https://github.com/SpongePowe

[2018-04-20 12:35] ImMorpheus opened #1879 "The item disappears when cancelling DropItemEvent.Custom"
**I am currently running**

- SpongeForge version:
- SpongeVanilla version: 1.12 cloned from github (SpongeCommon updated to [this commit](https://github.com/SpongePowered/SpongeCommon/commit/36a82d2c6bfc2a916d0b9772b750ee7b9d87481c
))

**Issue Description**
See https://github.com/SpongePowered/SpongeCommon/issues/1280. This is the only one I'm able to reproduce.

Note: No, you can't use DropItemE

[2018-04-20 12:35] ImMorpheus commented on #1280
Done. https://github.com/SpongePowered/SpongeCommon/issues/1879

[2018-04-20 13:25] ImMorpheus opened #1880 "Unable to properly set vanish on login"
**I am currently running**

- SpongeForge version:
- SpongeVanilla version: 1.12 from github (SpongeCommon to [this commit](https://github.com/SpongePowered/SpongeCommon/commit/36a82d2c6bfc2a916d0b9772b750ee7b9d87481c))

**Issue Description**
This was discovered while trying to fix a few vanish-related issues with Nucleus without using [hacky solution](https://github.com/NucleusPowered/Nucleus/com

[2018-04-20 14:15] #1280 closed, assigned to nobody

[2018-04-20 19:57] LemADEC opened #1881 "Lag in event tracking"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-3017.jar
- SpongeVanilla version:
- Java version: 1.8.0_161
- Operating System: CentOS Linux release 7.4.1708

- Plugins/Mods:
FTB Revelation 1.8.0
Notable plugins:
Nucleus-1.3.7-S7.0-MC1.12.2-plugin.jar
griefprevention-1.12.2-4.3.0.573.jar

**Issue Description**
When checking profiler result we can see jumps in c

[2018-04-20 20:05] Zidane commented on #1881
@LemADEC

[code]

I take it you didn't read the code behind EventContext.get as that literally makes no sense at all.

Here let me help:

https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/event/cause/EventContext.java#L98

It is just a map lookup from an ImmutableMap and the "lag" is literally a minuscule fraction (as you have pointed out).

[2018-04-20 20:05] #1881 closed, assigned to nobody

[2018-04-20 20:30] LemADEC commented on #1881
It just means the source of memory allocation is somewhere else in the code, so the hunt continues

[2018-04-21 12:40] limbo-app opened #1883 "World generator crashes at large world sizes!"
This issue was originally submitted by @githubl0ver69 in [SpongePowered/SpongeAPI#1809](https://github.com/SpongePowered/SpongeAPI/issues/1809).
___
[Referred to you from the Nucleus team @  #1136](https://github.com/NucleusPowered/Nucleus/issues/1136)

**My problem:**

**Nucleus's response:**

[2018-04-21 12:44] phit commented on #1883
@githubl0ver69 please add versions and logs
though in the end I doubt there can be done much on the Sponge side, pregeneration due to its nature will always take a lot of memory and for huge areas, regular restarts during the process to free up memory are simply needed

[2018-04-21 15:39] Niko-sk2x commented on #1883
There is no reason at all to keep the whole pregenerated area in memory, so restarts shouldn't be required. If sponge doesn't correctly unload the chunks, this is sponge issue. I know vanilla has a limit on how fast it can unload chunks, but it's unlikely any computer can generate chunks fast enough to exceed that, and it's likely sponge removes that limit.

[2018-04-21 15:55] phit commented on #1883
@Barteks2x you can achieve the same thing in vanilla, theres command block scripts to pregenerate worlds.. even those will OOM eventually. why do you think stuff like [this ](https://minecraft.curseforge.com/projects/chunkpregenerator) exists? try the build in forge command to pregen and look at the memory consumption after like 30min..

this has nothing to do with what sponge does, if anything pr

[2018-04-21 17:42] Niko-sk2x commented on #1883
Then why I can fly around as a player for thousands and thousands of blocks, generating more and more terrain, without ever running out of memory? And there really isn't much difference in how Minecraft generates terrain for players. I don't know why it runs out of memory but this definitely isn't something that should happen, unless all of the chunks are generated in a single tick (which is a ver

[2018-04-21 17:48] fhntv24 commented on #1845
The problem is at https://gist.github.com/nihiluis/e449fe235b72f6689fab60007426ddec#file-decorative-kt-L108 - this will create
[code]
And that will override getID that is already in block class.

https://github.com/SpongePowered/SpongeCommon/commit/cc085aff33913f99ff0cc020668ebf2f8d4c4634 - this commit actually fixes this issue, sort-of ...

Explanation for @nihiluis:
Because sponge is mixing into

[2018-04-21 18:06] Niko-sk2x commented on #1883
I actually investigated it and it turns out the reason (at least for forge generate command) is that AnvilChunkLoader can't write the chunks to disk fast enough. Maybe blocking the server thread if `chunksToRemove` has too much stuff would be a good idea? This would have the effect of lagging the server if too many chunks are getting unloaded, but it would prevent such out of memory errors. And si

[2018-04-21 20:27] Zidane commented on #1845
@Mumfrey

Can you take a look at this to see what your thoughts are?

[2018-04-22 00:41] limbo-app opened #1885 "Add configuration option to silence missing entity console spam and wipe entity/te."
This issue was originally submitted by @Dockter in [SpongePowered/SpongeForge#1778](https://github.com/SpongePowered/SpongeForge/issues/1778).
___
Feature Requests:
* Add a configuration option to silence console spam generated from EntityList.java.
* Add a configuration option to wipe entity or tile entity when encountered within the createEntityFromNBT method.
* Add a configuration option to sil

[2018-04-22 16:08] Aaron1011 commented on #1718
Fixed in the latest `stable-7`.

[2018-04-22 19:18] githubl0ver69 commented on #1883
I created a feature request for Nucleus: https://github.com/NucleusPowered/Nucleus/issues/1137. Basically, if we could restart the server to refresh everything and have the chunk generator remember where it left off, then that would be one resolution to the problem at and here.

**Another idea:** I don't know Java but another resolution I thought of was generating in regions. In other words, I def

[2018-04-22 19:20] BrainStone commented on #1867
Any updates?

[2018-04-22 22:54] Aaron1011 commented on #1522
@phit: I can't reproduce this on the latest SpongeForge. Can you see if it's still an issue for you?

[2018-04-22 23:12] githubl0ver69 commented on #1840
codeHusky is raising valid ponts, you guys need to quit gate guarding good ideas already.

[2018-04-22 23:23] phit commented on #1522
yup, seems fixed

[2018-04-22 23:23] #1522 closed, assigned to nobody

[2018-04-23 02:07] JBYoshi commented on #1883
I think I know what your problem is. Sponge adds an optimization to keep chunks in memory for a short period of time after they become unused. Usually, this is intended to improve performance when players keep moving into and out of a few chunks. However, when used with large-scale pregeneration, it can easily become problematic.

To work around this, you can change the `chunk-gc-load-threshold` i

[2018-04-23 04:21] parlough commented on #1867
I found the issue and I have a fix. Even if it was working as intended, the documentation was wrong, so I am also going to modify it so the key and DespawnableData work as expected(according to the current documentation and as you guys expected it to work). Will open a PR tomorrow and get it in very soon.

[2018-04-23 07:27] ryantheleach commented on #1840
@githubl0ver69 If you read the second half of the issue thread you will see that

1. It's been said that viewing order needs to be kept consistent with the views you see for expected behavior.
2. That Husky has a valid reason for wanting it, but that Faith would rather it be implemented / exposed differently (perhaps with some sort of strategy) for a valid reason.
3. There is a valid work around.

[2018-04-23 07:42] codeHusky commented on #1840
I'll bring this up now, I suppose.

So, some weird stuff is going on with the player inventory. It seems that if you get the slot index of each slot, 0 starts from the left most hotbar slot and then it ticks up. Now, if you go for the first slot in the .slots() return, you get the upper left most inventory slot. I don't understand why for one, we're not offering to the lowest slot index possible a

[2018-04-23 15:12] Aaron1011 commented on #1587
Does this still occur on 1.12?

[2018-04-23 15:27] Sir-Will commented on #1587
I didn't see it occur on 1.12 yet.

[2018-04-23 16:30] phit commented on #1587
closing this then, 1.10 is no longer supported, let us know when you see anything like this on 1.12 and the issue can be reopened

[2018-04-23 16:30] #1587 closed, assigned to Aaron1011

[2018-04-23 17:01] #1844 closed, assigned to Aaron1011

[2018-04-23 17:53] #1883 closed, assigned to nobody

[2018-04-24 02:54] Aaron1011 commented on #1701
`FusedExplosive` is implemented by several different entities. Which one are you having problems with?

[2018-04-24 03:25] parlough commented on #1867
Fixed by a624e5c92e6a62cdb15df3d81624bab4863d22ed

[2018-04-24 03:25] #1867 closed, assigned to parlough

[2018-04-24 03:27] Aaron1011 commented on #1853
@XakepSDK: This seems to be a problem with how you're using the Data API

Calling `fireworkData.effects()` gives you back a completely fresh value, which isn't linked to the `FireworkEffectData`. To actually apply it, you'd need to `offer` back the value you called `set` on.

Alternatively, you can call `fireworkData.set(Keys.FIREWORK_EFFECTS, Collections.singletonList(effect))`

[2018-04-24 03:35] parlough commented on #1857
@XakepSDK Any update on that front?

[2018-04-24 04:00] limbo-app opened #1890 "JoinData should be available from Users as well"
This issue was originally submitted by @ghost in [SpongePowered/SpongeAPI#1488](https://github.com/SpongePowered/SpongeAPI/issues/1488).
___
Currently `JoinData` can only be obtained from a logged in `Player`.
However that information would be useful for plugin functions like a `/lastseen` command or automatically cleaning up player-related structures after they have not connected to the server fo

[2018-04-24 07:38] XakepSDK commented on #1853
Also, it shouldn't return fresh value, it should return current value, but because there is no current value - it throws this exception.

I tried to do this in your way. It has same problems.

[2018-04-24 15:27] Aaron1011 commented on #1853
Are you running the latest SpongeVanilla? It was recently updated to the latest SpongeCommon changes.

[2018-04-24 16:06] XakepSDK commented on #1853
Beta-33 was latest at test time. I'll try it later.

[2018-04-24 16:07] XakepSDK commented on #1857
I'll add stacktrace tomorrow.

[2018-04-25 16:36] LemADEC commented on #1871
![image](https://user-images.githubusercontent.com/4776032/39259567-03a84df4-48b7-11e8-82e5-43dd313f46df.png)
This was reproduced on an FTB revelation server running spongeforge-1.12.2-2611-7.1.0-BETA-3017.jar:
1- go above an ocean
2- stand 20+ blocks above ocean surface
3- world edit a flat platform 64x1x64 blocks of water (//pos1, //pos2, //expand 32 n,s,e,w, //set water)
4- as water flows, "/fo

[2018-04-25 17:32] LemADEC commented on #1871
Issue is reproduced in single player using
Twitch launcher -> Vanilla launcher
Forge Mod Loader version 14.23.3.2655 for Minecraft 1.12.2
Java HotSpot(TM) 64-Bit Server VM, version 1.8.0_25, running on Windows 10:amd64:10.0
5GB RAM allocated to the game
No fancy graphics, no particles
spongeforge-1.12.2-2655-7.1.0-BETA-3059
worldedit-forge-mc1.12-6.1.8-dist
All defaults settings

Steps to reproduc

[2018-04-25 19:26] Zidane commented on #688
Closing as we're looking into removing item-stack merging as it causes way too many headaches than it fixes.

[2018-04-25 19:26] #688 closed

[2018-04-25 19:27] Zidane commented on #34
Closing, admins have full control over loading a world and it is up to them if they let a world load when a vital plugin/mod is missing.

[2018-04-25 19:27] #34 closed

[2018-04-25 19:34] Zidane commented on #1443
@phit

Can you verify against latest 1.12 on this?

[2018-04-25 19:39] Zidane commented on #1826
Fixed in stable-7

[2018-04-25 19:39] #1826 closed, assigned to nobody

[2018-04-25 20:02] XakepSDK commented on #1857
[code]
`name` max lenght is 16 chars, player will be kicked with error, if name > 16 chars.
https://puu.sh/AakfY/bb0592070c.png
There is no stacktrace at server.
Test code:
[code]

[2018-04-25 20:05] XakepSDK commented on #1853
beta 41
[code]
This happens with `createEntity` and `createEntityNaturally`.
Test code:
[code]

[2018-04-25 20:17] XakepSDK commented on #1871
Can you send me test map? I'll profile it with yourkit.

[2018-04-25 20:51] LemADEC commented on #1871
it's really just a flat world to reproduce it.

[2018-04-25 21:19] XakepSDK commented on #1871
Log from console: https://gist.github.com/XakepSDK/a98c51ab46197e0699fb07f596eca39c
Snapshot: [forge-1.12.2-14.23.3.2655-universal-2018-04-26.zip](https://github.com/SpongePowered/SpongeCommon/files/1948880/forge-1.12.2-14.23.3.2655-universal-2018-04-26.zip)

@Zidane

[2018-04-25 21:53] Zidane commented on #1644
Fixed awhile ago by JBYoshi.

[2018-04-25 21:53] #1644 closed, assigned to nobody

[2018-04-25 21:56] Zidane commented on #1560
Closing this as it is by design that we always fire the drop (and Forge mods expect it to add drops to it).

If you feel the API should be adjusted, make an issue there.

[2018-04-25 21:56] #1560 closed, assigned to nobody

[2018-04-26 01:18] Aaron1011 commented on #1853
It appears that the implementation currently makes a distinction between a firework that has an empty list of effects (an empty `Explosions` NBT tag), and a firework with no `Explosion` tag at all. A newly created firework falls into the second case, which is why the getter method is throwing an exception.

@gabizou: Is this a meaningful distinction to maintain, or should we treat firewoks as alwa

[2018-04-26 02:08] Aaron1011 commented on #1880
I didn't test my commit thoroughly enough before pushing it. It turns out that the client relies on having the tab list packets sent at a certain time. Resolving this issue will be somewhat tricky.

[2018-04-26 02:14] gabizou commented on #1853
We should treat the distinction to where if data is requested, we should create it. Only on application will it really set either an empty compound, or set an actual compound.

[2018-04-26 09:08] XakepSDK commented on #1853
Fireworks doesn't contain RocketData too, also, if i fill these(fireworkdata + rocketdata) data
manually, nothing happens. Like there is no data.

[2018-04-26 09:16] dualspiral commented on #1880
If someone reminds me over the weekend, it should be easy to make a test plugin that can be used to simulate what I was doing, or add a hidden switch into Nucleus with this old behaviour.

I'm sure you know this, this is more for the lay person, but effectively, this isn't really to do with vanish, so much as it is to do with altering the tab list. I was making tab list changes as well, which ende

[2018-04-26 11:24] ryantheleach commented on #1880
@CodeCrafter47 do you have any insight, as someone who manages a Bungee plugin for tab lists with Sponge compatibility?

Research on other sites recommend experimenting with sending remove player packet if they are vanished, or alternatively, at least blanking the display name of the player on login.

In order to get players to render, (could be outdated info) the playerlist add packet must be sen

[2018-04-26 18:52] CodeCrafter47 commented on #1880
That's correct, the player list entry must be there when spawning the player entity.

You actually don't need a queue.
I'm by far not an expert for vanish plugins, however the way I understand it, if a player is vanished you probably don't want to spawn a player entity (that's the point of vanish). As long as you don't spawn a player entity (on the client) there's no need for the tab list entry, s

[2018-04-27 12:32] demkom58 opened #1891 "TPS drop on World Generation."
## TPS drops on world generation. (without plugins)

### TPS:
![tps](https://user-images.githubusercontent.com/5957073/39362228-5ad3883c-4a2e-11e8-8a40-34219865c2c4.png)

### Version:
![version](https://user-images.githubusercontent.com/5957073/39362232-609a7942-4a2e-11e8-9d5a-a7e79b9b9bb5.png)
**_On `spongevanilla-1.12.2-7.1.0-BETA-42`(latest) TPS dorps too._**

### Processor:
![proc](https://use

[2018-04-28 22:35] XakepSDK opened #1892 "Hotbar slot resets to first slot after death"
SpongeVanilla beta 42, check it in demo server.

[2018-04-28 22:56] Aaron1011 commented on #1892
Doesn't this happen in Vanilla?

[2018-04-28 23:14] parlough commented on #1892
Yeah are we missing some information @XakepSDK? On death, with keepInventory as false and true, the selected slot always gets reset to the first in normal vanilla.

[2018-04-28 23:19] XakepSDK commented on #1892
Oh, yes, just tested that in pure vanilla server.
This is annoying, can it be "fixed" with a server side flag?

[2018-04-28 23:19] Aaron1011 commented on #1892
To me, this sounds like something for a plugin to address.

[2018-04-28 23:23] XakepSDK commented on #1892
Well, i hope that this will be easy, without mess with `Map`s.

[2018-04-28 23:23] #1892 closed, assigned to nobody

[2018-04-29 02:39] JBYoshi commented on #1569
I had some half-working code in my Git stash for a while. Finally got it completed and tested.

[2018-04-29 05:46] SnowBlitzz opened #1894 "Woodland mansion crash"
https://pastebin.com/zyU3Y7KP

- SpongeForge version: 3002 (Current recommended)

[2018-04-29 15:02] phit commented on #1894
https://github.com/SpongePowered/SpongeForge/issues/1946

[2018-04-29 15:02] #1894 closed, assigned to nobody

[2018-04-30 07:24] PurpleIsEverything commented on #1713
This would be really nice to see really soon with all these heavy 1.12 packs.

[2018-04-30 18:25] Lemmmy opened #1896 "Performance drop after upgrading from SF 3029 to 3064"
**I am currently running**
- SpongeForge version: 3064
- Java version: 1.8.0_151
- Operating System: Ubuntu 16.04.4 LTS

- Plugins/Mods: Plugins (15): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, ActiveTime, AutoSpy, Buycraft, Dynmap, GriefPrevention, LuckPerms, Nucleus, SpongePrometheusExporter, SpongeSlack, TabManager, kristpay
Mods (29): Minecraft, Minecraft Coder Pack, Forge Mod Lo

[2018-04-30 20:40] ProsperCraft commented on #1896
If it helps, here is some more data using 3064.

https://timings.aikar.co/?id=934635a70aa549adab990405becbd642

Warm Roast-
[sponge3064.zip](https://github.com/SpongePowered/SpongeCommon/files/1962058/sponge3064.zip)

Sampler-
[samplersponge3064.zip](https://github.com/SpongePowered/SpongeCommon/files/1962072/samplersponge3064.zip)

Tickprofiler-
https://gist.github.com/ProsperCraft/dd334abea4d170

[2018-04-30 21:27] gabizou commented on #1896
Do you have stacktraces enabled for phase states in your config per chance?

[2018-04-30 21:33] Lemmmy commented on #1896
`generate-stacktrace-per-phase=false` this? It's false in our config

[2018-04-30 22:47] ProsperCraft commented on #1896
Timings includes sponge configs right? @gabizou

[2018-04-30 22:48] ProsperCraft commented on #1896
generate-stacktrace-per-phase=false

In our config.

[2018-04-30 23:02] ProsperCraft commented on #1896
Here are timings from 3059  https://timings.aikar.co/?id=10692105563244718a7f3f8c3836daf3

Sampler nps file from 3059-
[sponge3059.zip](https://github.com/SpongePowered/SpongeCommon/files/1962507/sponge3059.zip)

[2018-05-01 02:37] bloodmc commented on #1896
@phit is correct. The issue is due to commit https://github.com/SpongePowered/SpongeCommon/commit/ba151bbf8b3b83c3a0c00aea7cae4a41d86ca165

This needs to be reverted.

[2018-05-01 08:25] NeumimTo opened #1897 "Detecting a runaway phase! Potentially a problem where something isn't completing a phase!!!"
- SpongeVanilla version: 1.7 build 40
- Java version: 1.8
- Operating System: win10

- Plugins/Mods: https://github.com/NeumimTo/spongebugs

Build the plugin, ingame give yourself a bow and an arrow and shoot any living entity.
My goal is:
  cancell the first damage event,
  while inside the event handler damage entity explicitly by calling entity.damage with custom damage source  MyDamageSource

[2018-05-01 16:44] ZombieHDGaming opened #1898 "Question about Sponge patches and a vanilla bug"
Hello,
I work with Dimensional Development, a team responsible for the revived DimDoors and a new mod called VanillaFix. In VanillaFix, we use mixins to patch a bug in the NetHandlerPlayServer which is caused by Vanilla itself for an unknown reason. The vanilla bug ([https://bugs.mojang.com/browse/MC-98153](https://bugs.mojang.com/browse/MC-98153)) is something we've tried to fix within our mod, b

[2018-05-01 17:44] phit commented on #1898
might be helpful to link the patch in question https://github.com/DimensionalDevelopment/VanillaFix/blob/master/src/main/java/org/dimdev/vanillafix/mixins/MixinNetHandlerPlayServer.java#L77

[2018-05-01 22:56] Aaron1011 commented on #1898
@ZombieHDGaming: Mixin is actually designed to allow multiple different mixins (which may come from different mods) to target the same method, as much as is possible. The problem is that VanillaFix is using an `@Overwrite`, which by design prevents any other mixins from modifying that method.

Depending on what changes you need to make to `NetHandlerPlayServer#processPlayer`, it should be possible

[2018-05-01 23:09] ZombieHDGaming commented on #1898
@Aaron1011 Thank you for the insight. I myself didn't write the code, as @Runemoro learned how to use Mixins, whereas I haven't yet (It's on my list of stuff). I have forwarded it to him, but if you want specifics about what we change in the method, I can actually tell you.

[code]
This is the vanilla method and what it does. Rune mentioned this on the Mojang bug tracker:

So, I'm assuming besides

[2018-05-02 01:34] Runemoro commented on #1898
@Aaron1011 Very little of the vanilla logic remains after all my changes, I almost rewrote the method from scratch, changing the way teleportation is handled (done immediately rather than on confirmation from client), and completely changing the control flow of the checks done to the packet (check before moving rather than move then revert if the check fails).

However, the injection point of the

[2018-05-02 01:36] ryantheleach commented on #1897
Don't cancel, instead just edit the damages on the event.

This allows other plugins to see the damage you added and react if necessary.

Otherwise you are causing a new damage event to fire immediately after cancelling, inside the event handler, before the event has fully resolved in all plugins.

If you must do this by cancelling, and I strongly recommend **not** doing this. At least make sure n

[2018-05-02 22:29] gabizou commented on #1897
Figured out why this is causing recursion.
The old `DamageSource` is still on the Cause stack, so `@First` is still matching the "rethrown" event.
You are then throwing the new event with the *new* direct source, but you're not filtering the new event's cause to ignore the new direct source.

This can be solved with using `@Root` for the direct root cause instead of using `@First`.
There's no way

[2018-05-02 22:29] #1897 closed, assigned to nobody

[2018-05-03 03:37] ssjgodbluegogeta commented on #198
i have the same problem but dont understand how to fix it

[2018-05-03 04:02] ryantheleach commented on #198
@ssjgodbluegogeta It's extremely unlikely you have exactly the same issue as one from 3 years ago.

Please open a new ticket, (referencing this one if you truly think it's related) With logs, reproduction steps, modlist etc.

[2018-05-03 21:49] Lemmmy commented on #1896
Hey there! Is there any progress on this issue?

[2018-05-04 20:53] Zerthick commented on #1798
@RedNesto Any movement on this issue?

[2018-05-04 22:06] XakepSDK commented on #1857
Fix labels

[2018-05-05 13:25] LXGaming opened #1899 "isConstructing not updated for item entities"
**I am currently running**

- SpongeForge version: Not tested
- SpongeVanilla version: 1.12.2-7.1.0-BETA-42
- Java version: Java 1.8.0_171
- Operating System: Windows 10 April Update

- Plugins/Mods:
Plugin I'm developing which exposed this issue.

**Issue Description**
https://github.com/SpongePowered/SpongeCommon/blob/f0e7dfff35fc352a8fcd5b51790d175b8c0de0d7/src/main/java/org/spongepowered/commo

[2018-05-06 19:08] Rasgnarok opened #1901 "[Crash] PlayerList.handler$onSaveAllPlayerData"
**I am currently running**

- SpongeForge version: 2990SF
- SpongeVanilla version:  N/A
- Java version: 8
- Operating System: CentOS 7

- Plugins/Mods:
![image](https://user-images.githubusercontent.com/18584380/39676828-e5a44520-513e-11e8-9bd5-11f6b2905cff.png)

**Issue Description**
Occasionally get an irreproducible crash; asked in the Sponge discord and someone said it might be related to http

[2018-05-06 19:23] Rasgnarok commented on #1891
This is pretty much normal as things go, it's why most people that run servers have to pregenerate. There's no real way around it anymore, sadly.

[2018-05-06 19:28] phit commented on #1891
pretty much what @Rasgnarok said, we already have multiple patches that improve generation peformance a bit
but you are still limited in performance due to generation being single threaded like most of this game

[2018-05-06 19:28] #1891 closed, assigned to nobody

[2018-05-06 23:31] #1901 closed, assigned to nobody

[2018-05-07 02:50] BrainStone opened #1902 "`Keys.Color` is not empty on leather armor without a color tag"
**I am currently running**
- SpongeForge version: 1.12.2-2655-7.1.0-BETA-3064
- SpongeVanilla version: 1.12.2-7.1.0-BETA-42
- Java version: 1.8.0_161
- Operating System: WIndows 10

**Issue Description**

When running `ItemStack.of(ItemTypes.LEATHER_HELMET, 1).get(Keys.Color)` I'd expect this to return an empty `Optional`, however it returns an Optional with the color `#a06540`.

[2018-05-07 02:57] BrainStone commented on #1902
Or at least provide a possibility to tell wether a leather armor piece has the color tag set or not.
Because while they might look the same, they certainly aren't the same when hovering over them.

[2018-05-07 18:17] fhntv24 opened #1903 "Dupe glitch with portal teleportation"
**I am currently running**
- SpongeForge version: 7.1.0 3002/3065 ( tested both )
- SpongeVanilla version: not tested
- Java version: openjdk version "1.8.0_151"
- Operating System: Ubuntu 16.04

- Plugins/Mods: forge, fml, mcp, sponge.

**Issue Description**
While teleporting Entity using nether portals, sometimes it could appear twice on the other side. Seems to be easier when other side is unlo

[2018-05-07 22:51] LXGaming opened #1904 "Sponge is soft-resetting player advancements on world load"
**Tested on the following**

- SpongeForge version:
1.12.2-2611-7.1.0-BETA-3016 (forge-1.12.2-14.23.2.2645)
1.12.2-2655-7.1.0-BETA-3065 (forge-1.12.2-14.23.3.2655)
- SpongeVanilla version:
1.12.2-7.1.0-BETA-32
1.12.2-7.1.0-BETA-42
- Java version: 1.8.0_171
- Operating System:
Linux
Windows

- Plugins/Mods:
Nucleus-1.3.6-S7.0-MC1.12.2-plugin

**Issue Description**
When a world is loaded Sponge appe

[2018-05-08 02:51] LXGaming commented on #1904
After a bit of digging I believe I've found the root cause of this issue

https://github.com/SpongePowered/SpongeCommon/blob/36a82d2c6bfc2a916d0b9772b750ee7b9d87481c/src/main/java/org/spongepowered/common/mixin/core/advancement/MixinAdvancementProgress.java#L129

The `AdvancementCriterion` object is re-created when a world is loaded and the `progressMap` in `MixinAdvancementProgress` is not update

[2018-05-08 20:43] JBYoshi commented on #23
https://github.com/JBYoshi/SpongeCommon/blob/74080b0c75e59075f164f5151b08be395e2d17fc/src/main/java/org/spongepowered/common/data/manipulator/mutable/common/AbstractBoundedComparableData.java#L85

`compare()` returns either -1, 0, or 1. The condition should be `this.upperBound - this.lowerBound > ImmutableDataCachingUtil.CACHE_LIMIT_FOR_INDIVIDUAL_TYPE`.

[2018-05-11 02:34] liach commented on #1896
why did he use array maps?

[2018-05-11 08:13] SquidDev commented on #1896
Would it be possible to switch to `Int2ObjectOpenHashMap`s? They should have substantially better performance characteristics than the ArrayMap, whilst still avoiding the unboxing overhead.

[2018-05-12 03:36] bloodmc commented on #1871
@LemADEC Please test latest SF 3067+

[2018-05-12 12:15] limbo-app opened #1906 "Failed to save configuration"
This issue was originally submitted by @TomTheHero in [SpongePowered/SpongeForge#1991](https://github.com/SpongePowered/SpongeForge/issues/1991).
___
- SpongeForge version: spongeforge-1.12.2-2586-7.1.0-BETA-2887.jar
- Forge version: 14.23.1.2586
- Java version: build 1.8.0_151-b12
- Operating System: 64bit windows 10 home

Plugins: Currently none
Mods: Minecraft, Minecraft Coder Pack, Forge Mod L

[2018-05-12 16:38] bloodmc commented on #1896
@Lemmmy @ProsperCraft Please test latest SF and report back if problem is resolved.

[2018-05-12 17:21] LemADEC commented on #1871
As tested in single player with spongeforge-1.12.2-2655-7.1.0-BETA-3070, same setup as above:
While flowing, mean tick time goes up to 45 ms.
While dissipating, mean tick time goes up to 279 ms.
Within 6 seconds after removing the water source blocks, we get the typical warning:
[code]
So I guess it took about 3 seconds to shock the server.

Given the crude measurement, flowing didn't change much.

[2018-05-12 17:58] ProsperCraft commented on #1896
Looks like you nailed it!
![e95109fc059d4dadae4981702834ebc9](https://user-images.githubusercontent.com/4427684/39960209-d3532e30-55db-11e8-8111-e88070e24890.png)

will continue to monitor.

[2018-05-12 18:03] phit commented on #1896
closing for now then, if it becomes an issue again reply and I'll reopen!

[2018-05-12 19:02] ProsperCraft commented on #1896
Sorry, looks like I spoke too soon.

![8dee3040666fb74412e331fc6c22c659](https://user-images.githubusercontent.com/4427684/39960610-17491d82-55e3-11e8-9640-11d511e7042c.png)

https://timings.aikar.co/?id=779c21a25943480894bc4481c38e890b

Here is a sampler profile
[sponge.zip](https://github.com/SpongePowered/SpongeCommon/files/1997842/sponge.zip)

Here is a warmroast-
[sponge-warmroast.zip](https:

[2018-05-13 02:03] bloodmc commented on #1896
@ProsperCraft Please test the following 2 jars

https://www.dropbox.com/s/npevwshdg2xkfxb/spongeforge-1.12.2-2655-7.1.0-BETA-TEST1.jar
https://www.dropbox.com/s/64kxyntig2v0yp3/spongeforge-1.12.2-2655-7.1.0-BETA-TEST2.jar

Let me know if any perform better. If not then the issue has nothing to do with these changes.

[2018-05-13 11:46] XakepSDK commented on #1896
Just make samples with 3029 to see diff.

[2018-05-14 15:18] ProsperCraft commented on #1896
Test1-
10 players on
![test1](https://user-images.githubusercontent.com/4427684/40006169-ecabfb56-5756-11e8-9a41-51b4a525cf4c.png)

Timings- https://timings.aikar.co/?id=0a194a4198074332af6fe12c436997bb
Sampler-
[test1.zip](https://github.com/SpongePowered/SpongeCommon/files/2001416/test1.zip)

[2018-05-14 20:50] phit commented on #1898
closing this, as its not a bug, feel free to still use it for further communication

[2018-05-14 20:50] #1898 closed, assigned to nobody

[2018-05-14 22:09] randombyte-developer commented on #861
a266c29

[2018-05-15 03:44] Tollainmear opened #1911 "[Suggestion]Make portal-agents teleport player to another server by using bungee cord"
This not a issue ;)

Sponge’s global config shows that it has a bungee module but only a few features could use, if we could make portal-agents property support bungee to teleport players to other server would be great!

[2018-05-15 07:43] gabizou commented on #1911
Best handled by a plugin, not something we'd be looking to maintain in sponge native.

[2018-05-15 07:43] #1911 closed, assigned to nobody

[2018-05-15 07:55] NeumimTo opened #1912 "Slot's id is not consistant"
**I am currently running**

- SpongeVanilla version: 1.12.2-7.1.0-BETA-42
- Java version: 1.8
- Operating System: ubuntu 17

I want to be able to identify any slot from player inventory by its id.
In a nutshell: i want to create "special slots" in player's inventory. These slots will accept only specific type of items/specific items with metadata etc..
eg.:
In vanilla mc - i want to cancell any sl

[2018-05-15 08:32] Faithcaio commented on #1912
Inventory Properties like SlotIndex are always based on the parent inventory.
As the size of the Container changes you'll obiously get a different slot id.

You can query a SubInventory like MainPlayerInventory and go from there.

Keep in mind that Slots you get from an opened Container belong directly to the Container and not to the subinventories.
`Slot#transform` returns the slot in the viewed

[2018-05-15 09:05] NeumimTo commented on #1912
@Faithcaio What do you mean with the term "viewed inventory"?

So `slot.transform.getslotid ` always return same slot id relevant to the parent inventory (eg.: transformed top left slot in MainPlayerInventory will always have id 0, no matter if the player has opened a chest?

Also I would like to know if a container which has the clicked slot comes from a mod (and mod's id/name/whatever), or if it

[2018-05-15 12:23] Faithcaio commented on #1912
In MC when you open an Inventory you always get a Container.
That Container is a view onto the opened inventory and usually a part of the player inventory (MainPlayerInventory)

Yes the topleft slot in a MainPlayerInventory has SlotIndex 0.
It doesnt matter whether the inventory is open or not what matters is that the parent of the slot is the same.
Keep in mind that a query for SlotIndex will che

[2018-05-15 18:50] NeumimTo commented on #1912
Tested the getClass and it should be enough for what i need.
but im not sure how i am supposed to get slot index from transformed slot  `transaction.getSlot().transform().getInventoryProperty(SlotIndex.class);` returns an empty optional.
Same result if i try to use SlotPos instead.

[2018-05-15 20:50] Faithcaio commented on #1912
My bad. Should work with my latest commit now.
The transformed Slot was not reusing existing Lenses when possible.

SlotPos not working is to be expected.
SlotPos only applies to grids and the PlayerInventory (the parent of the slot) is not a Grid.

[2018-05-15 22:01] NeumimTo commented on #1912
Thanks but i found some issues using latest build

It seems like you accidentally broke something related to `player#openInventory(Inventory)`

[code]

My code which caused this exception:
https://github.com/NeumimTo/NT-RPG/blob/fix-inventory-system/Plugin/src/main/java/cz/neumimto/rpg/gui/VanillaMessaging.java#L399

I can now get SlotIdex from transformed slot but its acting a little weird.

My c

[2018-05-15 22:20] NeumimTo commented on #1912
Tested 3076 build - the error which was happening during player#openInvenotry is fixed, but other problems are still present.

[2018-05-16 14:43] NeumimTo commented on #1912
@Faithcaio I encountered another problem with 3076 Build

I have installed Baubles mod - https://minecraft.curseforge.com/projects/baubles
When i try to open the baubles inventory i get this error:
[code]
It worked in the build 3074.

[2018-05-16 14:59] BrainStone commented on #1902
@Meronat, any updates?

[2018-05-16 17:56] Faithcaio commented on #1912
I guess try again with the next one...

[2018-05-16 18:25] Faithcaio commented on #1912
I open inventory and interact with item in top left corner. It has id 9 and the class is InventoryPlayer from nms package

Because Minecraft is weird like that in InventoryPlayer Hotbar is before the Grid.
Hotbar 0-8 Grid 9-35 Armor 36-39 OffHand 40
In all Containers the order is Viewed -> Grid -> Hotbar.
And in ContainerPlayer the armor slots are reversed as well.

is weird and proably broken :/

[2018-05-16 18:47] NeumimTo commented on #1912
Thanks for fast fix, unfortunately i cannot test it because ci did not build sponge forge

 I do not really care right now about the creative inventory issues, i just reported what i found, my current blocker is the scenario 6.

I'm already doing Slot#transform but still getting ContainerChest as the slot's parent inventory

[2018-05-16 19:27] Faithcaio commented on #1912
Your code above does not use transform.

Also with if next build decides to deploy creative events should be a bit better.

[2018-05-16 19:31] NeumimTo commented on #1912
@Faithcaio I posted updated version later with transform.
it got lost in the stacktraces :)
[code]

[2018-05-16 19:49] Faithcaio commented on #1912
^ still the same without transform ...

transaction.getSlot().parent()**.transform()**.getClass().getName())));

[2018-05-16 19:59] NeumimTo commented on #1912
Oh.. i'm an idiot :D sorry

[2018-05-17 02:41] ziceptor commented on #1906
The fix didn't work.

[debug.log](https://gist.github.com/ziceptor/29f7f75f4b12fe7d5ce6394f60ed9057)
[latest.log](https://gist.github.com/ziceptor/a22ceaa4feb735f9bf837f8543c24949)

forge-1.12.2-14.23.3.2655-universal.jar
spongeforge-1.12.2-2655-7.1.0-BETA-3070.jar

Windows 7

[2018-05-17 07:28] NeumimTo commented on #1912
I tested stuff again. Almost everything seems to be fixed expect this one

Again in creative with empty inventory i give myself items via /give command (the item is assigned to hotbar), then open inventory. The event is fired right after the inventory is opened. It has correct ID, class: InventoryPlayer. This works fine in survival mode.

[2018-05-17 22:15] gabizou commented on #1902
~moveto sc

[2018-05-17 22:16] gabizou commented on #1902
@move to sc

[2018-05-17 22:16] gabizou commented on #1902
~move to sc

[2018-05-17 22:18] gabizou commented on #1902
What about if you dye the helmet normally in vanilla? Does it then have a color tag?

[2018-05-17 23:45] BrainStone commented on #1902
Yes. If you just craft it, it doesn’t, but once you start combining it with dyes, it has.

[2018-05-18 01:23] #1902 closed, assigned to parlough

[2018-05-18 08:48] #1878 closed, assigned to gabizou

[2018-05-18 15:20] MrOnlineCoder opened #1913 "Teleporting player, who is viewing chest inventory, throws an exception"
**I am currently running**

Minecraft: 1.12.2
SpongeAPI: 7.1.0-SNAPSHOT-06016f29
SpongeVanilla: 1.12.2-7.1.0-BETA-33

java version "1.8.0_101"
Java(TM) SE Runtime Environment (build 1.8.0_101-b13)
Java HotSpot(TM) Client VM (build 25.101-b13, mixed mode)

- Operating System: Windows 7 64 bit / CentOS (tested on both)

- Plugins/Mods: Nucleus

**Issue Description**

Hello. I found an issue in Spong

[2018-05-18 18:20] Aaron1011 commented on #1913
@MrOnlineCoder: I can't seem to reproduce this. Can you re-test on the latest SpongeVanilla?

[2018-05-18 19:00] MrOnlineCoder commented on #1913
@Aaron1011 tested many times. Re-tested on latest recommended SpongeVanilla build:

- Joined the server
- Put a chest
- Opened it
- Put some items in (optional)
- Teleported myself through console
- GOTCHA! Exception.

Also, I have written a dummy plugin with just 1 command, that would teleport myself 10 blocks away. Teleporation code:

Error stack trace:

	Exception while updating neighbours
	 ne

[2018-05-18 19:07] Aaron1011 commented on #1913
@MrOnlineCoder: Ah, my bad. I meant the latest build (`1.12.2-7.1.0-BETA-45`), not the latest recommended build.

[2018-05-18 19:46] #1890 closed, assigned to Aaron1011

[2018-05-19 17:34] Zerthick opened #1916 "ConstructPortalEvent not firing for Nether Portals"
**I am currently running**
- SpongeForge version: spongeforge-1.12.2-2655-7.1.0-BETA-3095
- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-47

**Issue Description**
As the title says, [ConstructPortalEvent](https://jd.spongepowered.org/7.0.0/?org/spongepowered/api/event/world/ConstructPortalEvent.html) is not firing during the creation of nether portals. Tested on both spongeforge and spon

[2018-05-19 18:42] MrOnlineCoder commented on #1913
Tested on lasted build BETA-47. Nucleus /tppos, /tp commands work good, no errors. But my test plugin (code line listed in previous comment) crashed the server!

Crash report: https://gist.github.com/MrOnlineCoder/3e3b0ce16316110e02ae1e2876994035

[2018-05-19 18:47] Aaron1011 commented on #1913
Can you paste the full source for your test plugin?

[2018-05-19 18:49] phit commented on #1916
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/1559

[2018-05-19 18:49] #1916 closed, assigned to nobody

[2018-05-19 18:58] MrOnlineCoder commented on #1913
Yep, here you are: https://gist.github.com/MrOnlineCoder/ccf3a029b4b2c39cf76de8541ca61072

[2018-05-19 19:04] MrOnlineCoder commented on #1913
Wow, I have noticed that I return null in my command executor! Sorry, now everything works like a charm.

[2018-05-19 19:04] #1913 closed, assigned to Aaron1011

[2018-05-19 20:03] XakepSDK commented on #41
Update this plz.

[2018-05-20 06:34] Faithcaio commented on #1879
Not sure what to do here. (I assume this was canceling the drop from cursor when closing the inventory)
Where would the item go to? Add it back to the inventory? What to do when it is full then?

[2018-05-20 21:25] Rasgnarok commented on #1871
Ticket's still marked as waiting for reply, am I missing something?

[2018-05-20 23:10] bloodmc commented on #1871
@Rasgnarok @LemADEC Please retest with latest SF build.

[2018-05-21 05:45] #1871 closed, assigned to nobody

[2018-05-21 05:50] bloodmc commented on #1903
@Aaron1011 Please take a look at this.

[2018-05-21 08:40] Yeregorix opened #1921 "ServerBossBar player list is not updated on player respawn"
**I am currently running**
- SpongeForge version: 1.12.2-2655-8.0.0-BETA-3102:dev
- Java version: 1.8.0_162
- Operating System: Windows 10

**Issue Description**
I found while testing a private plugin that when a player die, the player object is recreated but the player list in a `ServerBossBar` object is not updated. Therefore it causes issues for plugins depending on `ServerBossBar#getPlayers`

[2018-05-22 01:33] Aaron1011 commented on #1903
@fhntv24: I'm unable to reproduce this. Are you able to trigger this bug consistently? If so, how?

[2018-05-22 02:01] Dysthymic commented on #1903
Using GP to disable portal entry as a temporary fix. Here's the glitch in action. We had a player with Shulker boxes full of insane rares by doing this. It is very hard to get the hang of and reproduce, but if you do it over and over you'll eventually get the timing right
https://gyazo.com/09d1946c18f2ab0b4aaf5974cb86a4ac
https://gyazo.com/8b33e0347d2476a1c2947b7c9dd609e9

[2018-05-22 02:18] Aaron1011 commented on #1903
@Dysthymic @fhntv24 Are either of you able to reproduce this on the latest (not reccomended build) of SpongeForge?

[2018-05-22 10:35] fhntv24 commented on #1903
@Aaron1011 I wasn't able to reproduce it on latest SpongeForge version. I can send test map, if intresting, but building portal across chunk borders ( on "incoming side", aka other side from where you are throwing items ) does help.
Same map, same spot, same steps.

I will send my tester team to test, but this issue should be closed.

[2018-05-22 10:52] #1903 closed, assigned to Aaron1011

[2018-05-22 15:26] randombyte-developer opened #1922 "Completing phase - detected runaway phase in plugin"
- SpongeVanilla version: 1.12.2-7.1.0-BETA-48

I have implemented new things to the plugin CommandUtils. One new thing is the
[code]
It executes the `command` if `condition_command` returns `CommandsResult.SUCCESS`.
One command which does this with the balance of the player is
[code]
which returns success if the player has more than the specified amount.

This is the config:

[code]

`{0}` is an a

[2018-05-23 17:36] NeumimTo opened #1923 "UseItemStackEvent.Finish wrong return type of the method getItemStackInUse"
- SpongeForge version: spongeforge-1.12.2-2690-7.1.0-BETA-3110
- Java version:  1.8
- Operating System: Ubuntu 17

- The method returns appropriate value if the consumed item was not last in the stack.

[code]

[2018-05-23 17:38] gabizou commented on #1923
Do you have a stack trace to kinda see where and how this is happening? Preferably the crash should provide some more insight as to the phase contexts in use and being unwound.

[2018-05-24 03:16] pie-flavor opened #1924 "ItemStack does not deserialize from DataContainer correctly"
[code]
If one were to call
[code]
, they would end up with an empty `Optional`. But if one instead called
[code]
there would be no issues and it would deserialize correctly.

[2018-05-24 03:28] pie-flavor opened #1925 "ItemStack and ItemStackSnapshot inconsistent in toContainer implementations"
Custom data is entirely not present in the UnsafeData tag.
An example from an in-development plugin:
[code]
ItemStackSnapshot data
[code]
ItemStack data

[2018-05-24 06:32] Faithcaio commented on #1923
Its probably the "correct" ItemStack but its quantity was reduced to 0 by Minecraft.
We just have to create a copy before that is done.

[2018-05-24 08:23] gabizou commented on #1924
Try `container.getSerializable(DataQuery.of("Item"), ItemStack.class)`.

It does explain the differences in the [javadocs](https://github.com/SpongePowered/SpongeAPI/blob/d5f1171eb1ede4fe12efe731271eb3ad5a7cf48d/src/main/java/org/spongepowered/api/data/DataView.java#L501-L553)

[2018-05-24 08:24] #1924 closed, assigned to nobody

[2018-05-24 09:47] pie-flavor commented on #1924
It makes no sense whatsoever that there are separate methods for these things.

[2018-05-24 11:33] randombyte-developer commented on #1922
So I worked around this issue like I have done with other similar problems:

[code]

[2018-05-24 15:41] gabizou commented on #1924
It makes sense when you consider the evolution of the class. DataSerializable predates DataTranslators, so getSerializable was one of the first few concrete getters of DataView.

Could it be improved? Sure. Am I going to clean it up now? No. Maybe when I get around to class generation for custom data.

[2018-05-24 16:50] NeumimTo commented on #1923
@gabizou What do you mean? Its not crashing, i never siad its crashing.

[2018-05-25 13:04] JBYoshi commented on #1815
Fixed a month ago in https://github.com/SpongePowered/SpongeCommon/commit/f5addf7d78eb856a0f2c761a60f4652f78d060a4.

[2018-05-25 13:04] #1815 closed, assigned to JBYoshi

[2018-05-25 23:09] limbo-app opened #1927 "EntityArchetypes not accepting Data Keys properly"
This issue was originally submitted by @Xenmai in [SpongePowered/SpongeAPI#1838](https://github.com/SpongePowered/SpongeAPI/issues/1838).
___
Hi there.

I'm having an issue when giving keys to entity archetypes. I've tried both inside the builder using `EntityArchetype.Builder#set(Key, Value)` and with an already built **EntityArchetype** using `DataHolder#offer(Key, Value)`. The latter returns an

[2018-05-26 00:07] Rsslone commented on #1713
Extremely useful!

[2018-05-26 08:56] Lemmmy commented on #1823
Is there any news on this issue?

[2018-05-26 14:15] #1906 closed, assigned to dualspiral

[2018-05-28 06:50] LemADEC commented on #1871
As tested in single player with spongeforge-1.12.2-2703-7.1.0-BETA-3119 and Forge 2703, same setup as above:
While flowing, mean tick time goes up to 37 ms.
While dissipating, mean tick time goes up to 255 ms.
Within 12 seconds after removing the water source blocks, we get the typical warning:
[code]
So I guess it took about 7 seconds to shock the server.

Given the crude measurement, flowing did

[2018-05-28 07:19] LemADEC commented on #1871
As tested in single player with spongeforge-1.12.2-2703-8.0.0-BETA-3123 and Forge 2703, same setup as above:
While flowing, mean tick time goes up to 33 ms.
While dissipating, mean tick time goes up to 257 ms.
Within 8 seconds after removing the water source blocks, we get the typical warning:
[code]
So I guess it took about 6 seconds to shock the server.

Given the crude measurement, flowing didn

[2018-05-29 00:57] bloodmc commented on #1904
@Cybermaxke Please take a look at this issue.

[2018-05-29 14:01] Xenmai commented on #1927
Update: The "Entity Tracking" error is due to `EntityArchetype#apply(Location<World>)` already spawning the entity, so spawning it again is obviously going to result in an error. So that's solved.

Other than that, the main error still stands: Entity Archetypes not accepting data at all. I've tried some other methods, like setting raw data directly from a DataContainer (instead of setting each key

[2018-05-29 23:45] caseif commented on #1875
I encountered it personally yesterday when opening a Pixelmon PC, but didn't look too deep into it. (Obviously, this is a little problematic in that it's from a 3rd-party mod.) Perhaps it doesn't adhere exactly to the model Sponge expects?

[2018-05-30 00:01] Cybermaxke commented on #1904
@bloodmc Fixed in #1929

[2018-06-03 21:18] JBYoshi commented on #1925
I get the exact opposite result. For me, the `ItemStack` has the manipulators only in the `Data` tag, and the `ItemStackSnapshot` has the manipulators in both `Data` and `UnsafeData`.

I'm assuming it would be better to have the data only in `Data` instead of duplicating it in `UnsafeData`. If so, I've got a patch ready to go.

[2018-06-03 22:40] pie-flavor commented on #1925
@JBYoshi You have gotten an identical result while labeling an "opposite result". And the point of UnsafeData is to get the data as it would go to NBT, right?

[2018-06-04 02:23] ryantheleach commented on #1922
@randombyte-developer Does this occur when using the Vanilla execute commands? If not, I wonder what's different.

[2018-06-04 05:29] gabizou commented on #1925
The reason why we prune in `UnsafeData` is to reduce duplication. `ItemStackSnapshot` is somewhat outdated from those efforts, in that sense they should be transitive with regards to their data being identical. Only difference is one being mutable and one being immutable.

Good catch. Come 1.13 we're likely to re-evaluate how Data serialization is handled (and of course write some solid converters

[2018-06-04 06:55] randombyte-developer commented on #1922
I don't know. Will test.

But the error doesn't happen when the command is executed from the console.

[2018-06-04 21:56] #1925 closed, assigned to JBYoshi

[2018-06-04 22:21] JBYoshi commented on #1927
I think I found the real issue. When entity archetypes were implemented, `supports()` returned `true` for any unknown data because of the possibility of custom data. In reality, however, neither custom data nor vanilla data (https://github.com/SpongePowered/SpongeCommon/issues/950) appears to be implemented for archetypes at the moment... not sure what happened to that. All I see implemented is `F

[2018-06-05 01:19] liach commented on #23
https://github.com/SpongePowered/SpongeCommon/blob/c591d8d1416e702a711bdb370ead8ec74d5a2762/src/main/java/org/spongepowered/common/mixin/core/item/inventory/MixinContainer.java#L102 Looks bad

[2018-06-05 02:19] gabizou commented on #1927
Part of the issue is that we haven't written the data implementation to read data manipulators from raw nbt. When we were implementing archetypes, we started writing the system for `NBTDataProcessor`s, but no one ended up implementing them.

[2018-06-05 17:05] randombyte-developer commented on #1922
[code]

both work without any error. I think especially the second one is the case I am replicating with CommandUtils. Maybe Sponge doesn't track the executed commands in the `/execute` command in the same way as it does with `CommandManager#proccess()`?

[2018-06-05 23:20] JBYoshi commented on #1922
I can't reproduce this with CommandUtils 2.0.5 on SpongeForge 3148.

[2018-06-05 23:29] gabizou opened #1931 "Nullability and Checks"
While working on clearing up all the compiler warnings and overall code auditing of the project, I'm finding lots of areas where we have nullable and a lack of nullable checks. Some interface method contracts in the implementation are either lacking nullability or intending non-null values where the implementation is not following that contract.

An example is [`AbstractInventoryAdapter`](https://

[2018-06-05 23:29] JBYoshi commented on #1922
Actually, I think I'm getting an issue with PlaceholderAPI that's keeping me from accurately reproducing this. I'll try and get that fixed.

[2018-06-05 23:30] gabizou commented on #1931
Pinging @Faithcaio:

For `AbstractInventoryAdapter`, it looks like there's a corner case where if the `parent` is `this`, you could get a recursive loop for getting the plugin instance. This should be fixed imo.

[2018-06-06 01:29] ryantheleach commented on #1927
@gabizou are they ready to just smash out in bulk? or is there supporting code missing?

[2018-06-06 06:39] Faithcaio commented on #1931
How? If `parent == this` I dont have a plugin.

[2018-06-06 06:49] gabizou commented on #1931
Right, but you set it to `this` in the constructor if the plugin parent was `null` here:
https://github.com/SpongePowered/SpongeCommon/blob/stable-7/src/main/java/org/spongepowered/common/item/inventory/adapter/impl/AbstractInventoryAdapter.java#L87-L90

[2018-06-06 09:52] randombyte-developer commented on #1922
@Jbyoshi I've implemented the above mentioned workaround with the scheduler into command utils. I should setup a test repo.

[2018-06-06 14:21] gabizou commented on #1927
A little of both. I haven't written it to work yet, but the processor for retrieving the not Is there.

[2018-06-06 21:36] Xenmai opened #1933 "Some AI Goal methods are throwing exceptions"
Hi there, I'm using spongevanilla-1.12.2-7.1.0-BETA-48.jar and I've encountered some problems when using AI Tasks. The main issues are related to Goal methods throwing exceptions. `Goal#getTasksByType(AITaskType type)` and `Goal#removeTasks(AITaskType type)` are the specific methods in this case. Here is a gist of the exception thrown by the former when given `AITaskTypes.WANDER` as an argument: h

[2018-06-06 22:03] JBYoshi commented on #8
I'm finishing up `WireAttachmentData`. https://github.com/SpongePowered/SpongeCommon/pull/1934

[2018-06-06 23:06] liach commented on #1933
https://github.com/SpongePowered/SpongeCommon/blob/c96a2d8c2b7a3ab8bb2d1c61cdea47a55ba3a8a9/src/main/java/org/spongepowered/common/mixin/core/entity/ai/MixinEntityAITasks.java#L110-L122

[2018-06-06 23:08] liach commented on #1933
So do some tasks not have types?

[2018-06-07 05:54] Xenmai commented on #1933
If I remember my prior testing correctly, `Sponge.getRegistry.getAllOf(AITaskType.class)` returns all of them, but if you try to `Sponge.getRegistry.getType(AITaskType.class, string)` one of them, it only works with the ones listed in the API. Not sure if that makes sense. I can test again later today just to make sure.

[2018-06-07 06:19] ST-DDT commented on #1933
GetbyId and getAll use the same dataset.
See https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/registry/type/entity/AITaskTypeModule.java

[2018-06-07 16:17] Shmeeb opened #2301 "Enchanted item deserialization issue"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3150
- Forge version: 14.23.4.2703
- Java version: 8
- Operating System: Ubuntu

Serialize an ItemStackSnapshot (that has enchantments) with:
`String json = DataFormats.JSON.write(snapshot.toContainer());`

Then load it with:
`DataContainer container = DataFormats.JSON.read(json);`
`ItemStackSnapshot snapshot = Sponge.getDat

[2018-06-08 14:46] randombyte-developer commented on #1922
Test repo: https://github.com/randombyte-developer/sponge-common-issue-1922

Just clone and run the plugin.

The command `/test <i>` wants an integer which sets how often the command calls itself.

The numbers `0, 1, 2` worked. `3` threw the runaway phase error

[2018-06-08 17:34] Xenmai commented on #1933
You are right, my bad. Two task types are missing from the catalog though: LookIdleAITask and RangeAgentAITask.

[2018-06-09 13:38] JBYoshi commented on #1922
This would be a tricky one. It's not showing up on any versions in my development environment, but it shows up every time when I run it in production (using a JAR from the Sponge website). Looks like it's time for me to get down and dirty with the remote debugger.

[2018-06-09 14:02] JBYoshi commented on #1922
Turns out, it's all about recursion. `/test 7` is guaranteed to blow up for every `CommandExecutor`, as long as `verbose = true` is set in `config/sponge/global.conf`.

https://github.com/SpongePowered/SpongeCommon/blob/0c66655b02da00af4c73ab5550d53b5f66e5989a/src/main/java/org/spongepowered/common/event/tracking/PhaseTracker.java#L197-L201

@gabizou Could you take a look at this?

[2018-06-09 16:26] gabizou commented on #1922
I think we can expect then that command states can be re-entrant.

[2018-06-09 17:45] ryantheleach commented on #1922
Definitely considering https://minecraft.gamepedia.com/Function

[2018-06-09 20:50] Cybermaxke commented on #1840
@Faithcaio This issue got resolved with https://github.com/SpongePowered/SpongeAPI/pull/1800?

[2018-06-09 22:04] #1840 closed, assigned to nobody

[2018-06-09 22:25] randombyte-developer opened #1936 "Player#closeInventory() warns in console"
SpongeVanilla 1.12.2-7.1.0-BETA-57
SpongeAPI 7.1.0-SNAPSHOT-43d84967

When trying to close the player's inventory while the player has something in hand(sticking to the mouse, you know) it doesn't close:

[code]

[Here](https://github.com/SpongePowered/SpongeCommon/blob/989a541950ef28198015e626dfe38fa5539cb9d6/src/main/java/org/spongepowered/common/mixin/core/entity/player/MixinEntityPlayerMP.java

[2018-06-09 22:50] randombyte-developer commented on #1936
Turned out that I was cancelling close events and the logic wasn't quite right.

But ok, now the closing works but that warning message is always there. How can I check the

[code]

myself in a plugin? Or how to deal with this warning?

[2018-06-10 07:44] Faithcaio commented on #1936
If you are in any ClickInventoryEvent the Container is in use.
If you were to close the inventory before the event returns to Sponge, Sponge cannot apply changes to the inventory anymore (like cancel/slottransactions/cursortransaction).
And because I'm nice instead of throwing an exception I only print a warning and schedule it for the next tick. (This might change in API8)

To remove the warning

[2018-06-10 07:44] #1936 closed, assigned to nobody

[2018-06-11 08:31] pie-flavor opened #1937 "No injected dependency for ConfigurationOptions"
If you wanted to inject a ConfigurationOptions object for using in your own configs, you cannot. The only way to retrieve it is to inject the default config loader and take its options.

[2018-06-11 15:12] Defman commented on #1937
Not quite true, https://github.com/SpongePowered/SpongeCommon/blob/222042d4a04f491315041e9ce0e4d2c3993e03a8/src/main/java/org/spongepowered/common/registry/SpongeGameRegistry.java#L139-L145

This is registering them globaly at ConfigurationOptions.defaults() and you can retrive a ConfigurationOption that uses the default TypeSerializer.

[2018-06-11 15:14] Defman commented on #1937
Theres also a TypeSerializer for DataContainers,
https://github.com/SpongePowered/SpongeCommon/blob/a4733e52b280a82dcb6921d9e729964e34141165/src/main/java/org/spongepowered/common/data/SpongeDataManager.java#L77-L83

[2018-06-12 05:02] badgyro opened #1938 "hasPlayedBefore don't work"
**I am currently running**
- SpongeVanilla version:  **newest stable-7**
- Java version:  **8u171**
- Operating System: **Windows 10 x64**
- Plugins/Mods: **Test plugins from SpongeCommon and my little test plugin**

**Issue Description**
player.hasPlayedBefore() never works because
![image](https://user-images.githubusercontent.com/24192094/41270775-5e7a1eda-6e0d-11e8-930a-4bfd6e4dfbb1.png)

Quic

[2018-06-12 06:47] ryantheleach commented on #1938
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/1282

[2018-06-12 06:47] #1938 closed, assigned to nobody

[2018-06-12 06:48] ryantheleach commented on #1282
https://github.com/SpongePowered/SpongeCommon/issues/1938 Proposes a quick-fix of:

I support this in the case of fixing it **_now_** without requiring a break.

As a recap of where this is at, most relevant discussion can be found here: https://github.com/SpongePowered/SpongeCommon/pull/1710

[2018-06-12 16:15] kencinder commented on #1718
This is still an issue on 3160 for me.
Have `minecraft` for permission node as Admin, log on and switch to Creative mode, command block access is fine.
Teleport to another world, come back and it no longer works. Have to use /op to access command blocks.

[2018-06-12 21:07] XakepSDK opened #1939 "Cataloged class static final field injection"
Current injection mechanism into `CatalogedBy` classes depends on access transformers, why not to do this with reflection api?

Profits: less at config lines

[2018-06-12 21:08] XakepSDK commented on #1939
Also, it was confusing for me, when i made my own registry

[2018-06-13 00:04] liach commented on #1939
reflection is slow and has a ton of lines.

[2018-06-13 00:47] ryantheleach commented on #1938
In case you missed it, https://github.com/SpongePowered/SpongeCommon/commit/802ea1d1d7a81f8cc37322f313f19935ab24ba73 was implemented as a quick fix, whilst https://github.com/SpongePowered/SpongeCommon/issues/1282 remains open to fix the API.

Thanks for the suggestion!

[2018-06-13 00:52] ryantheleach commented on #1939
Considering the impedence mis-match from https://github.com/SpongePowered/SpongeForge/issues/2221 not running access-transformers over the extra plugin directories.

We may want to consider allowing a fallback population method, or running access-transformers over the plugins directory.

[2018-06-13 13:53] #1896 closed, assigned to nobody

[2018-06-13 16:10] gabizou commented on #2301
<img width="1565" alt="screen shot 2018-06-13 at 9 07 19 am" src="https://user-images.githubusercontent.com/1203877/41363617-361949ac-6ee9-11e8-8bbf-dc02d9caf2aa.png">
Running the latest SpongeForge (granted, in development) and I'm unable to reproduce the issue.

[2018-06-13 16:14] gabizou commented on #1938
Also, please don't list "newest" of stable-7. that doesn't mean anything to us.

[2018-06-13 18:37] ImMorpheus commented on #1583
This is missing "pr pending" and "Help wanted" should be removed.

[2018-06-13 18:39] dualspiral commented on #2301
@gabizou

The issue is that the enchantment level is a `short` in the original, when serialised and then deserialised, it is turned into an `int` - the type information is lost when converted into JSON and so when the data is read, there is no indication that it was meant to be a short.

When running `/cssave`, I breakpointed and checked the container.
![short-ench](https://user-images.githubuserc

[2018-06-13 20:51] #1282 closed, assigned to nobody

[2018-06-14 21:02] Shmeeb commented on #2301
Not sure if it helps but ItemStackComparators.ALL.compare seems to consider both snapshots as identical

[2018-06-15 03:05] gabizou commented on #2301
To be honest, I'm confused, because the test plugin I committed is succeeding normally without a hitch. It's matching the item stack to the item stack in the player's inventory, and it's deserializing just fine. Since `DataContainer` uses `Coerce` for all numbers, we can somewhat expect at least some understanding that deserializing a `DataSerializable` will still succeed, even if JSON converted a

[2018-06-15 19:55] limbo-app opened #1942 "ClickInventoryEvent does not trigger for empty slots"
This issue was originally submitted by @Xemiru in [SpongePowered/SpongeForge#2227](https://github.com/SpongePowered/SpongeForge/issues/2227).
___
**I am currently running**

- SpongeForge version: 7.1.0-BETA-3169
- Forge version: 2705
- Java version: 1.8.0_144
- Operating System: Windows 7

- Plugins/Mods: Test Plugin

**Issue Description**

The `ClickInventoryEvent` does not trigger for empty slo

[2018-06-16 01:20] Aaron1011 commented on #1923
This is fixed in the latest SpongeForge and SpongeVanilla.

[2018-06-16 01:20] #1923 closed, assigned to Aaron1011

[2018-06-16 02:44] #1718 closed, assigned to Aaron1011

[2018-06-16 02:49] Aaron1011 opened #1943 "Clean up player respawn code"
Currently, there are three different methods where we send an `SPacketRespawn` (four once https://github.com/SpongePowered/SpongeCommon/pull/1926 is merged):

* `EntityUtil#transferPlayerToDimension`
* `EntityUtil#changeWorld`
* `MixinPlayerList#recreatePlayerEntity`

Sending a `SPacketRespawn` requires sending a slew of other packets, from updating the client weather, to setting the client permis

[2018-06-16 03:45] clienthax opened #1944 "WorldProvider.getSaveFolder NPE"
**I am currently running**

- SpongeForge version:  spongeforge-1.12.2-2705-7.1.0-BETA-3184.jar
- Java version: 8
- Operating System: Docker / Ubuntu 18

- Plugins/Mods:
[code]

**Issue Description**
Load up FTB Revelations
[code]

https://github.com/McJtyMods/LostCities/blob/1.12/src/main/java/mcjty/lostcities/dimensions/world/LostWorldProvider.java#L28

https://github.com/McJtyMods/LostCities/is

[2018-06-16 03:52] gabizou commented on #1944
Considering [WorldManager is relying on `DimensionType` to create the provider](https://github.com/SpongePowered/SpongeForge/blob/bleeding/src/main/java/org/spongepowered/mod/mixin/core/common/world/MixinWorldManager.java#L135), there's no reason to expect that the world provider is neither:
- Singular
- Initialized with a valid world reference with itself set yet

I don't think Sponge is really r

[2018-06-17 04:26] Shmeeb commented on #2301
Made a vid showing the issue: https://youtu.be/F8KggktxTQU

@gabizou

[2018-06-17 15:41] caseif opened #1945 "EventContextKeys.USED_ITEMS is no longer included in context for ChangeBlockEvent.Break"
**I am currently running**
- SpongeForge version: 3195
- SpongeVanilla version: 64

**Issue Description**
Previously, `EventContextKeys.USED_ITEM` was included in the event context for `ChangeBlockEvent.Break` when the event was triggered directly by a player breaking a block. This is now completely missing as of SpongeForge 3133.

I suspect [this commit](https://github.com/SpongePowered/SpongeCom

[2018-06-18 02:30] Rasgnarok opened #1948 "PlayerAdvancements loop - performance loss"
**I am currently running**
_Not running very latest simply because I support recommended builds.... unless advised against._
- SpongeForge version: 3171
- SpongeVanilla version: N/A
- Java version: 8
- Operating System: CentOS 7

- Plugins/Mods: https://timings.aikar.co/?id=6063fe6734464f36969cb0df11948403

**Issue Description**
~About 40 players got logged out, no errors in console left. My sampl

[2018-06-18 10:20] Blayyke opened #1949 "No cause / context /source for a TNT that set off another TNT"
**I am currently running**

- SpongeVanilla version: 1.12.2-7.1.0-BETA-66
- Java version: 1.8.0_171
- Operating System: Windows 10 x64

- Plugins/Mods: Minecraft, Mod Coder Pack, SpongeAPI, SpongeVanilla, EconomyLite, FoxCore, FoxGuard, GWMAutoResetMine, GWMLibrary, LuckPerms, Nucleus, PlotSquared, Rankup, WorldEdit, XTntNerf, pm

**Issue Description**
There is no way to track an explosion event's

[2018-06-18 18:39] Aaron1011 commented on #1945
Fixed in the latest SpongeForge.

[2018-06-18 18:39] #1945 closed, assigned to nobody

[2018-06-19 17:33] Rasgnarok commented on #1833
Still happens on 3203 Spongeforge.

[2018-06-19 18:08] Rasgnarok commented on #1833
Another matter regarding timings, that I am unsure if it is related -
![image](https://user-images.githubusercontent.com/18584380/41615733-09fa55ba-73ca-11e8-80ef-77edd6a1a323.png)

vs

![image](https://user-images.githubusercontent.com/18584380/41615785-2b1957f0-73ca-11e8-806c-99cd1d001f2e.png)

In this case, the first screenshot shows 15TPS with 20% loss, and the second shows 5TPS with 8% loss.

[2018-06-19 22:10] Aaron1011 commented on #1949
@gabizou: Unfortunately, it seems that we can't use `EventContextKeys.IGNITER` here, since it only applies to `Living` (which `PrimedTnt` is not). Should we add it directly to the cause, or make a breaking change in `bleeding`?

[2018-06-20 04:43] pie-flavor opened #1950 "SlotIndex decreased by one for transform()ed slots on a custom inventory"
With [this](https://gist.github.com/pie-flavor/4dc2e24535ffb16f4e7ed0ae9bc8f3ca) test plugin, you can see that for any custom inventory, all slot indices are correct if you use the untransformed slot, but all slot indices (for the custom inventory half of the screen only) are decremented by one. This results in the second slot being index 0, third slot being index 1, etc., and the first slot simpl

[2018-06-21 06:09] NeumimTo opened #1952 "Slottransactions are not being cleared"
- SpongeForge version:  (Tested with some build provided by @bloodmc with some extra debug logging)
- SpongeVanilla version: BETA-67
- Java version: 1.8
- Operating System: Windows 10

- Plugins/Mods:
All code to reproduce the issue can be found here: (branch inventories)
https://github.com/NeumimTo/spongebugs/tree/inventories/src/main/java/bugs/bugs

The issue is present on both implementations,

[2018-06-21 06:12] NeumimTo commented on #1952
Due to my upload speed currently being around 7kb/s i cannot upload the forge build with extra debug output :(

[2018-06-22 00:45] phit opened #1953 "sponge command throwing error with no subcommand"
**I am currently running**

- SpongeForge version: 7.1.0-BETA-3218
- SpongeVanilla version: 1.12.2-7.1.0-BETA-67

- Plugins/Mods: /

**Issue Description**
type `/sponge` in console, get reply

[code]

expected result
[code]

[2018-06-22 01:08] SimonFlash commented on #1953
The problem here is that Sponge's `CommandElement` for non-flag children is created with a fallback executor but not a `CommandElement` to handle the parsing for it ([here](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/command/SpongeCommandFactory.java#L164-L165)). This causes the `parse` method to return without handling the verification that a

[2018-06-22 04:29] ryantheleach commented on #1953
Considering it was working previously, is @SimonFlash 's suggestion a work around? or is the current behavior unintended given the current command code?

[2018-06-22 07:51] dualspiral commented on #1953
Workaround should work - at least ish, though I don't think it'll give the correct usage (I think, haven't tested it, this is skimming code while in bed), reasoning is not completely correct.

Note that these child commands are not written in the normal way. [The children arguments are specified differently](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowere

[2018-06-22 15:02] gabizou commented on #1949
I'd say make it in the cause.

[2018-06-22 20:00] #1953 closed, assigned to dualspiral

[2018-06-23 07:44] LemADEC commented on #1726
Could we at least disable it while it's crashing until we get a proper fix, please?

[2018-06-23 11:03] Faithcaio commented on #1950
try again with latest

[2018-06-23 11:03] #1950 closed, assigned to nobody

[2018-06-23 11:22] Fatmice opened #1954 "Sponge command still throws error"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2705-7.1.0-BETA-3221.jar
- SpongeVanilla version:
- Java version:
- Operating System:

- Plugins/Mods:

**Issue Description**
/sponge command and all its subcommand still missing and throwing error
https://github.com/SpongePowered/SpongeCommon/issues/1953

[2018-06-23 11:38] dualspiral commented on #1954
Logs? Other information? This bug is near to useless. I don't know what error you're on about.

This is the current error which is correct. I just tested it on a freshly downloaded SF 3221 myself and this is what I get.

![screenshot_20180623_123422](https://user-images.githubusercontent.com/1904167/41809228-f66f0598-76e1-11e8-8f9b-9bdad17750dc.png)

If you're not getting this, then I need more in

[2018-06-23 12:07] Fatmice commented on #1954
Uh, what is there to log?

[12:04:08] [Server thread/INFO] [net.minecraft.server.dedicated.DedicatedServer]: Unknown command. Try /help for a list of commands

Isn't the issue clear enough?  I do not get the output that you get.  This didn't happen on SpongeForge: 1.12.2-2705-7.1.0-BETA-3204
https://github.com/SpongePowered/SpongeForge/issues/2248

I notice it first on spongeforge-1.12.2-2705-7.1.

[2018-06-23 12:12] Lemmmy commented on #1954
this is unrelated to #1953 - sponge did not even load on your server, which is why the command doesnt work for you

[2018-06-23 12:21] Fatmice commented on #1954
Are you sure?
debug.log:79:[11:14:22] [main/DEBUG] [FML]: Examining file: SpongeForge.jar
debug.log:216:[11:14:22] [main/DEBUG] [FML]:   Adding SpongeForge.jar to the mod list
debug.log:503:[11:14:22] [main/DEBUG] [FML]: Examining for coremod candidacy SpongeForge.jar
debug.log:504:[11:14:22] [main/INFO] [FML]: Loading tweaker org.spongepowered.asm.launch.MixinTweaker from SpongeForge.jar
debug.lo

[2018-06-23 12:22] Lemmmy commented on #1954
just because it found the jar doesn't mean it loaded successfully, if you read the log you will see that it errored after trying to load a mixin, and didn't output any further than that.

[2018-06-23 12:23] Fatmice commented on #1954
I thought that belong to LagGoggle.  Sponge complained that it needed mixin 0.7.10 and found 0.7.5

[2018-06-23 12:31] Fatmice commented on #1954
Indeed, removing LagGoggles allowed Sponge to load so it must be the conflicting Mixin that was included in LagGoggles?

[2018-06-23 12:32] Lemmmy commented on #1954
yes - this is probably an issue for LagGoggles, not SpongeForge

[2018-06-23 12:36] dualspiral commented on #1954
Yes, this is nothing to do with #1953, this is _why_ we ask for logs. Closing as this is nothing to do with Sponge.

[2018-06-23 12:36] #1954 closed, assigned to nobody

[2018-06-23 16:55] Pokechu22 commented on #1726
It (the profiler) being disabled is what is causing the crash.  (On rereading I see you could be referring to the mixin too; disabling that would probably fix the crash but I'm not 100% sure)

[2018-06-23 17:23] LemADEC commented on #1726
Let me reformulate: crashing client is bad, we should prevent it at least with a temporary fix while a long term solution is being worked on.

[2018-06-24 06:24] #1583 closed, assigned to nobody

[2018-06-25 00:12] #1952 closed, assigned to JBYoshi

[2018-06-25 10:40] nihiluis opened #1956 "Unable to set experience after death"
**I am currently running**

I dont use latest version because update is annoying. i have this bug for a long time.
- SpongeForge version: spongeforge-1.12.2-2611-7.1.0-BETA-2996.jar
- SpongeVanilla version:
- Java version: 8_171
- Operating System: debian yeezy

- Plugins/Mods:
only custom and worldEdit

**Issue Description**
[code]

I use this code and it works. Then I go die and suddenly it does

[2018-06-25 22:11] ST-DDT commented on #1956
Do you keep the reference to the player (entity) the whole time or do you get it new on each call of your code? (Aka is your `player` reference stored in a field?)

Ref: [Docs: Storing References](https://docs.spongepowered.org/stable/en/plugin/practices/bad.html?highlight=player#storing-references)

[2018-06-26 08:11] nihiluis commented on #1956
Seems to be my error then sorry. I do. Will reopen if it wont fix it.

[2018-06-26 08:11] #1956 closed, assigned to nobody

[2018-06-26 09:28] nihiluis commented on #1956
Could be very useful to throw an exception though. The player object potentially being useless after death is non intuitive.

[2018-06-26 10:52] ST-DDT commented on #1956
Yes, on one hand an Exception would be handy, but it would also cost performance if you always have to check whether the instance is still valid. And since you are not supposed to store references to it anyway there is no need for this check IMO. But some hint on the class itself might be useful.

[2018-06-26 11:13] ST-DDT commented on #1956
Would something like https://github.com/SpongePowered/SpongeAPI/issues/1853 help you?

[2018-06-26 11:35] nihiluis commented on #1956
Yeah I think that's a good and easy solution.

I dont think performance here is really an argument, when you enforce the use of `Optional` everywhere else. Precisely for the reason that a value might be invalid. Which it is here apparently. This might even occur without saving references like in the doc. Imagine a delayed task which sets the exp to an arbitrary value. This will do nothing if the p

[2018-06-27 00:54] pie-flavor opened #1959 "Cannot apply entity archetypes"
[code]

[code]
However this works just fine:
[code]

[2018-06-27 03:37] pie-flavor opened #1960 "Cannot construct BlockSnapshot without world and position"
[code]

[code]

[2018-06-27 03:40] pie-flavor opened #1961 "ItemStack.Builder#fromBlockSnapshot does not preserve block entity data"
From the docs:
[code]
Test code (position data necessary re: #1960):
[code]
And the command block gets successfully added to the inventory, but when placed has no command in it.

[2018-06-27 03:54] pie-flavor commented on #1961
Misunderstood the issue.

[2018-06-27 03:54] #1961 closed, assigned to nobody

[2018-06-27 04:03] pie-flavor opened #1962 "Cannot set tile entity properties of BlockSnapshot"
Test code (positional data needed re: #1960):
[code]
Resulting snapshot data:
[code]

[2018-06-27 07:12] gabizou commented on #1726
I'm re-enabling the profiler in #1951 since I had to re-sync and verify a bunch of vanilla code in Sponge's code.

[2018-06-27 21:30] XakepSDK opened #1963 "`ConfigurateTranslator.translateMapOrList` throws NPE"
- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-74

`ConfigurateTranslator.translateMapOrList` throws NPE if node doesn't contain `key`.
Here is check if `key` is `null`:
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/data/persistence/ConfigurateTranslator.java#L123-L124
But inside this method there is `node.getKey().XXX` calls.
https://

[2018-06-27 21:33] XakepSDK commented on #1963
This happens with this deserializer:
https://gist.github.com/XakepSDK/a213106357e1a177cb6c4b450c6275b0
on key deserialization.
`Map.Entry<>` contains this:
[code]

[2018-06-27 21:52] XakepSDK commented on #1963
Well, whole issue is that key is deserialized as String, not map.

[2018-06-27 22:09] XakepSDK opened #1964 "EntityArchetype serialization broken"
- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-74

Test code:
[code]
This error happens with any of config loader types.

[2018-06-27 22:10] XakepSDK commented on #1964
@gabizou

[2018-06-27 22:10] XakepSDK commented on #1964
Error:
[code]

[2018-06-27 22:30] simon816 commented on #1960
This is intended. A block snapshot is a representation of a block in the world at some position (think of it as a clone of a `Location` object). Methods such as `restore()` can't work without a world and position.

[2018-06-27 22:39] XakepSDK commented on #1964
`DataRegistrar` doesn't contain this: `dataManager.registerBuilder(EntityArchetype.class, new SpongeEntityArchetypeBuilder());`

[2018-06-27 22:39] #1960 closed, assigned to nobody

[2018-06-27 22:45] simon816 commented on #1963
I discovered this a while back https://forums.spongepowered.org/t/nullpointerexception-loading-configuration-after-initial-save/16648/6?u=simon816
Guess I didn't make a GH issue about it.

Minimal example:
[code]

[2018-06-28 03:51] gabizou commented on #1962
It should be noted that `TileEntityArchetype `s should be used on `ItemStack`s instead of `BlockSnapshot`s. It originally was intended that snapshots were the only things we "knew" about to use for representing a possible `TileEntity`. It should be possible to fix this in the implementation to support both, while adding a new method to include a `TileEntityArchetype`, while still supporting `Block

[2018-06-28 19:08] LemADEC commented on #1944
Any update on this issue?

[2018-06-28 19:21] #1964 closed, assigned to nobody

[2018-06-29 10:23] Tollainmear opened #1966 "Incompatible with IC2 workbench"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3206
- SpongeVanilla version:
- Java version: Java 8
- Operating System:windows server 2016

**Issue Description**
The console was filled with

check it on gist [here](https://gist.github.com/Tollainmear/9c3b02cafa6cc343a762520be568c70b)

(It seems like sponge has problem with IC2 work bench)

and the entirely log is [here](

[2018-06-29 16:36] Faithcaio commented on #1966
Can't really see why this happens.
I added more Debug Info when the error happens.
Please try again with latest build. (should be 3243 when its out)

[2018-06-30 03:00] Tollainmear commented on #1966
Ok, I'll pay attention to that, thanks for reply.

[2018-06-30 20:48] xcube16 opened #1967 "MixinChunk#setBlock(int, int, int, BlockState) does not support chunk relative coordinates but setBlock(int, int, int, BlockState, BlockChangeFlag) does"
https://github.com/SpongePowered/SpongeCommon/blob/9c6bed6e37213bd60433577875aba46ba3504f43/src/main/java/org/spongepowered/common/mixin/core/world/MixinChunk.java#L409-L418

setBlock(int, int, int, BlockState, BlockChangeFlag) supports world relative coordinates
and chunk relative coordinates
but setBlock(int, int, int, BlockState) only supports world relative coordinates.

To fix this I think th

[2018-07-02 01:38] bloodmc commented on #1948
@Cybermaxke can you take a look at this?

[2018-07-02 09:46] XakepSDK commented on #1948
I saw stacktrace like this once. Can confirm for at least older builds.

[2018-07-02 12:10] Cybermaxke commented on #1948
I made a PR https://github.com/SpongePowered/SpongeCommon/pull/1968 with a few fixes related to advancements. However I don't know if one of them would fix this issue.

[2018-07-02 17:20] ImMorpheus commented on #1276
Updated code:

[code]

[2018-07-02 17:25] ImMorpheus commented on #1206
@RedNesto PR merged. Can this be closed ?

[2018-07-02 18:31] parlough commented on #1206
For now I will close this with https://github.com/SpongePowered/SpongeCommon/pull/1776, if more issues occur, please open a new issue.

[2018-07-02 18:31] #1206 closed, assigned to nobody

[2018-07-02 19:04] ImMorpheus commented on #1334
This should be closed.

This is something that should be handled by configurate. [B is an array of bytes. The same thing is happening with ints, etc.
This could be reproduced by trying to serialize an enchanted Energy cell (thermal expansion) with holding V or a wand from BetterBuilderWands or any other item having an array in the NBT tags.

See https://github.com/SpongePowered/configurate/issues/

[2018-07-02 19:18] #1334 closed, assigned to nobody

[2018-07-02 19:19] gabizou commented on #1334
Agreeing with @ImMorpheus. It's not sponge's fault for handling it. Since we provide the serialization formats and it's the *serializer itself* that is failing, it's a Configurate issue.

[2018-07-02 19:58] ImMorpheus commented on #1726
So... Is the vanilla profiler enabled now ? Can this be closed ?

[2018-07-02 20:04] phit commented on #1726
![image](https://user-images.githubusercontent.com/2097483/42183922-e0f0b176-7e43-11e8-91b1-41fec6a3c2b8.png)

[2018-07-02 20:08] #1726 closed, assigned to gabizou

[2018-07-02 20:11] phit commented on #1397
https://github.com/SpongePowered/SpongeCommon/pull/1769

[2018-07-02 20:12] phit commented on #1286
https://github.com/SpongePowered/SpongeCommon/pull/1554

[2018-07-02 21:08] ImMorpheus commented on #1433
I'm not able to reproduce this on 1.12 (bleeding branch, commit https://github.com/SpongePowered/SpongeCommon/commit/9c6bed6e37213bd60433577875aba46ba3504f43)

Test code:

[code]

[2018-07-02 21:24] #1433 closed, assigned to nobody

[2018-07-02 21:25] ImMorpheus commented on #1816
This sounds like https://github.com/SpongePowered/SpongeCommon/issues/1334

So something that should be handled by https://github.com/SpongePowered/configurate/issues/95

[2018-07-03 01:01] Aaron1011 opened #1970 "UserStorageService#getFromStoredData creates new user"
Currently, [`UserStorageService#getFromStoredData` unconditionally creates and caches a new `SpongeUser`](https://github.com/SpongePowered/SpongeCommon/blob/6af67f75704096f65c24f84e7132d78316243a50/src/main/java/org/spongepowered/common/service/user/UserDiscoverer.java#L219), even if it ends up returning `null`. As a result, calling `UserStorageService#get` twice on the same `GameProfile` will alw

[2018-07-03 16:17] limbo-app opened #1971 "Some Chinese username could't be recognized as valid username."
This issue was originally submitted by @Jecvay in [SpongePowered/SpongeForge#2178](https://github.com/SpongePowered/SpongeForge/issues/2178).
___

- SpongeForge version: 1.12.2-2703-7.1.0-BETA-3119
- Forge version: 14.23.4.2703
- Java version: 1.8
- Operating System: Windows 10 1803

Some Chinese username could't be recognized as valid username.
as an example, when username='测试',
this issue happen

[2018-07-03 17:29] #1971 closed, assigned to nobody

[2018-07-03 17:38] Aaron1011 commented on #1276
Fixed in https://github.com/SpongePowered/SpongeCommon/pull/1969.

[2018-07-03 17:38] #1276 closed, assigned to nobody

[2018-07-03 18:52] Aaron1011 opened #1973 "Deserialization of MappedData is broken"
Currently, any `DataManipulator` that extends `MappedData` (e.g. `StatisticData`) will not be deserialized properly if either its keys or values have special serialization behavior. `DataView#getMap` doesn't attempt to perform any sort of deserialization on the keys or values, which prevents a `MappedData` from being round-tripped through serialization properly.

[2018-07-03 21:13] phit commented on #1823
https://github.com/SpongePowered/SpongeForge/commit/eb2df12bbda33f3d307df79d577187a906388f85

[2018-07-03 21:13] #1823 closed, assigned to Zidane

[2018-07-03 21:19] SquidDev commented on #1823
Thank you!

[2018-07-04 02:32] bloodmc commented on #1506
This has been resolved with Luck's PR https://github.com/SpongePowered/SpongeCommon/pull/1957

[2018-07-04 02:32] #1506 closed, assigned to nobody

[2018-07-04 03:20] Dockter opened #1975 "End Platform is not created during EntityUtil.handleDisplaceEntityPortalEvent"
- SpongeForge version:   3261 though it effects early versions too.

**Problem:**  End Platform isn't created when player is teleported INTO DIM1

**Cause:**  https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/entity/EntityUtil.java#L412

**Diagnosis:**  entityIn.getLastPortalVec is null but there are other cirsumstances that this can be null but sti

[2018-07-04 03:22] ryantheleach commented on #1975
@Dockter You were concerned about the location of the player / platform in Discord, can you check the location of the platform / player after teleportation?

For reference:
https://minecraft.gamepedia.com/The_End
"They will appear at X=100, Y=49, Z=0, facing west (negative X) on top of a 5×5×1 obsidian platform,"

[2018-07-04 03:30] Dockter commented on #1975
**Update**, the above fix is inappropriate because it needs to check both the from and to world providers and not rely on the dimension ID's.

[2018-07-04 03:32] Dockter commented on #1975
**Recommend this:**
*  if (!teleporter.isVanilla() || entityIn.getLastPortalVec() != null || (!(fromWorld.provider instanceof WorldProviderEnd) && toWorld.provider instanceof WorldProviderEnd)) {

[2018-07-04 03:37] #1975 closed, assigned to nobody

[2018-07-04 18:39] XakepSDK opened #1976 "AffectItemStackEvent transactions cancel item dupe"
**I am currently running**
- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-75
Repro code:
[code]
Repo steps:
1. Make plugin with code above
2. Fill crafting grid with right-stay-click
2.1. Take any planks
2.2. Place mouse on crafting grid slot
2.3. Press and hold RMB
2.4. Fill 2x2 square with held RMB
2.5. Release RMB
2.6. Game will put 1 extra plank in your cursor

@Faithcaio

[2018-07-04 19:17] Faithcaio commented on #1976
Because you did not cancel the cursor-transaction...
You either have to cancel the entire event. Or check for `InteractInventoryEvent` and cancel the cursor transaction there.

[2018-07-04 19:23] XakepSDK commented on #1976
If i use just rmb without hold, everything works fine.

[2018-07-04 19:34] Faithcaio commented on #1976
Then that is wrong.
The event should not just automatically cancel the cursor-transaction.

[2018-07-04 19:49] Faithcaio commented on #1976
Seems like a bug in the ClickInventoryEvent.Drag impl. Its adding items back to the cursor for each canceled slot-transaction. Ignoring the fact that there are possibly additional transactions in crafting inventories.

Btw if you are trying to prevent from crafting a specific item there is
`CrafItemEvent.Preview` or `CraftItemEvent.Craft` for that.

[2018-07-04 20:13] XakepSDK commented on #1976
This abstraction level allows me to not duplicate code for other events.

[2018-07-04 20:20] XakepSDK commented on #1976
Also, if i cancel event, crafting output will contain result, but crafting grid will be empty.

[2018-07-05 23:21] PurpleIsEverything opened #1978 "Server stalls when reloading tracker configuration file"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3265
- Java version: Java 8
- Operating System: Alpine Linux

The server stalls forever when running ``sponge reload -g`` after auto-populating and modifying ``tracker.conf`` There are no additional errors in any console logs and this stall-report was generated by the sampler mod created by the developer of Fastcraft.

This

[2018-07-06 01:25] gabizou commented on #1978
@bloodmc @lucko maybe need to do the reload off thread and then sync back?

[2018-07-07 11:09] ImMorpheus commented on #970
PR merged. This can be closed.

[2018-07-07 12:12] #970 closed

[2018-07-07 13:53] Faithcaio commented on #1976
Should be fixed in latest.

[2018-07-07 15:39] Tollainmear commented on #1966
Problem solved, thanks!  🌹

[2018-07-07 15:39] #1966 closed, assigned to nobody

[2018-07-08 02:22] dogboy21 opened #1981 "Crash during startup after latest SF Update"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3272 + SpongeBootstrap
- Java version: 1.8.0_144
- Operating System: Debian 9

- Plugins/Mods: https://www.feed-the-beast.com/projects/ftb-presents-direwolf20-1-12 (no mods/plugins were loaded during the crash as it happens during Sponge mod initialization)

**Issue Description**

The server crashes during startup after upda

[2018-07-08 21:59] LemADEC opened #1983 "CapturedBlockPos should show coordinates when dumped"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3270
- Forge version: 14.23.4.2729
- Java version: 1.8.0_171
- Operating System: CentOS 7.5

- Plugins/Mods:
Custom modpack

**Issue Description**
When dumping its state, the PhaseContext gives the BlockPos object without the actual position:
[code]

[2018-07-09 00:44] #1983 closed, assigned to nobody

[2018-07-09 01:17] Xemiru opened #1984 "Return value of Player.openInventory might "lie""
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.10-BETA-3206
- Java version: 1.8.0_144
- Operating System: Windows 7

**Issue Description**
_This pertains specifically to `Player#openInventory`'s implementation in SpongeCommon, but could be applied to any other inventory actions that delay themselves a similar way._

When detecting inventory event sensitivity, a call to `Player#

[2018-07-09 01:33] SimonFlash commented on #1984
An exception doesn't really solve your issue. You need to change your calls to `openMenu` during your click event (or for that matter any inventory event and related method) so that it's delayed through a `Task` accordingly.

[2018-07-09 01:45] Xemiru commented on #1984
I did say it wasn't the optimal way.

I'm moreso poking at the fact that Sponge doing the delay on its own opens up the potential for issues that can be avoided by instead giving more strict control to the plugin.

~~[The project that encountered this issue already completely resolved it, along with various other issues related to the general unreliability of inventory open/close events in their c

[2018-07-09 02:26] Xemiru opened #1985 "Unreliability retrieving Player from Inventory Open/Close"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.10-BETA-3206
- Java version: 1.8.0_144
- Operating System: Windows 7

**Issue Description**
From the comment block in [this commit](https://github.com/Xemiru/Boxboy/commit/85ac16d40dbc9da8732772a00524fd291d6965e5#diff-138dfa44bb720944b565a83abba747d1R302),

_"Both the Open and Close inventory events have no reliable way of retrievi

[2018-07-09 03:32] #1981 closed, assigned to nobody

[2018-07-09 03:34] phit commented on #1981
https://github.com/SpongePowered/SpongeCommon/commit/e19bebe741a5bbbeca2ce485e4b0702d142a3bc6

[2018-07-09 06:34] Faithcaio commented on #1984
Exception when opening/closing during an Inventory Event will come in API8.

[2018-07-09 18:45] SquidDev opened #1986 "Inventory contents are not dropped when broken on TE update"
- SpongeForge version: Development environment with SpongePowered/SpongeForge@fb9f996117891efbc38246f1a87b8b7b763296e0. Also tested on 1.12.2-2705-7.1.0-BETA-3270.
- Java version: 1.8.0_151
- Operating System: Windows 10
- Plugins/Mods: None

When breaking a block, inside a TileEntity's `update` method, any items dropped using `InventoryHelper.dropInventoryItems` are discarded (such as from `Block

[2018-07-09 18:56] bloodmc commented on #1986
@SquidDev test with latest SF which can be found here
http://files.minecraftforge.net/spongepowered

[2018-07-09 19:10] SquidDev commented on #1986
@bloodmc I've tested on the latest commit in a development environment with test plugins/mods disabled. I'm happy to set up with an official build as well, but I don't believe it'll make any difference.

[2018-07-09 19:29] bloodmc commented on #1986
OK expect a fix soon.

[2018-07-09 22:19] JBYoshi commented on #1967
Would this be a breaking change?

[2018-07-10 02:01] Aaron1011 commented on #1986
Fixed in the latest SpongeForge.

[2018-07-10 02:01] #1986 closed, assigned to Aaron1011

[2018-07-10 06:11] SquidDev commented on #1986
Thank you!

[2018-07-10 15:01] XakepSDK commented on #1976
Fixed partially.
Crafting grid cleared, planks returned to cursor, but output slot contains crafted item.
Made with hold-rmb-click:
![image](https://user-images.githubusercontent.com/141554/42545110-e9cef782-84f4-11e8-883a-22c1d26b5a58.png)

I can take result
![image](https://user-images.githubusercontent.com/141554/42545078-bca6d248-84f4-11e8-820f-659d7b6af719.png)

Can take result

**Edit:** (ry

[2018-07-10 15:12] XakepSDK commented on #1985
If you close your inventory via plugin, source(first object in cause stack) should be plugin, not player.

[2018-07-10 16:36] xcube16 commented on #1967
It should only break bad code that relies on this bug. According to the Extent#setBlock(int, int, int, BlockState, BlockChangeFlag), a PositionOutOfBoundsException should be thrown.

I think I just found another missing checkBlockRange() in ExtentViewDownsize.
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/world/extent/ExtentViewDownsize.java#L20

[2018-07-10 19:09] XakepSDK commented on #1857
Is this fixed?

[2018-07-11 09:22] Xemiru commented on #1985
Source object isn't relevant to this issue -- especially when you can simply ignore the source and retrieve it through `Cause.first(type)`. It's focus is the unreliability of grabbing the affected Player instance through what's currently the only way to do so: the Cause stack. The goal of this issue is to correct this unreliability.

The proposed solution asks for either the Player to always be pr

[2018-07-11 10:01] XakepSDK commented on #1985
@Faithcaio tl;dr for you:
Sometimes viewer isn't present in cause / context.
Also, inventory open event isn't fired for players own inventory, is it ok?
Pure tests output:
[code]
Test code:
https://gist.github.com/XakepSDK/e8aea26a14c718b99f12cd4b07c5b88b

[2018-07-11 18:39] Faithcaio commented on #1985
Not ok. But the Client won't tell us so we do not know.

[2018-07-11 21:45] Rasgnarok opened #1988 "Runaway Phase Errors on Switching Phase"
**I am currently running**

- SpongeForge version: 3291
- SpongeVanilla version: N/A
- Java version: 8
- Operating System: CentOS 7

- Plugins/Mods: https://timings.aikar.co/?id=10b048d7ff6a4667acc46b1b432f7377

**Issue Description**
Getting massive spam on: https://gist.github.com/Rasgnarok/b97fff5182ff108d79aa4c3989aa887b . Shutting down the server gives this: https://gist.github.com/Rasgnarok/b

[2018-07-11 22:05] #1904 closed, assigned to nobody

[2018-07-11 22:08] Zidane commented on #1165
Already in latest builds.

[2018-07-11 22:08] #1165 closed, assigned to Zidane

[2018-07-11 23:25] Rasgnarok opened #1989 "Tab-completing commands causes a RuntimeException"
**I am currently running**

- SpongeForge version: 3291
- SpongeVanilla version: N/A
- Java version: 8
- Operating System: CentOS 7

- Plugins/Mods: https://timings.aikar.co/?id=10b048d7ff6a4667acc46b1b432f7377

**Issue Description**
Tab-completing a command like GP's `/playerinfo` or EconomyLite's `/pay` causes a RuntimeException error. Works from console and in-game. I personally can reproduce i

[2018-07-12 07:10] dualspiral commented on #1989
I think there are instances where the `GameProfile` exists in the user storage service, but there was never a corresponding User created. This may make the correct fix a lot trickier.

To explain, the `PatternMatchingCommandElement` of which this is a type, has two key methods, `getChoices` and `getValue`. `getChoices` is always run before `getValue` and `getChoices` contains all the possible stri

[2018-07-12 07:47] supertassu opened #1990 "Can't implement a custom BanService"
**I am currently running**

- Minecraft: 1.12.2
- SpongeAPI: 7.1.0-SNAPSHOT-9cb5cb8c
- SpongeVanilla: 1.12.2-7.1.0-BETA-59

- Plugins/Mods:
[code]

**Issue Description**

I'm trying to implement a custom BanService, however SpongeCommon [assumes](https://github.com/SpongePowered/SpongeCommon/blob/2fc061810045369dbf1bae69f2fc3a972fe1cc49/src/main/java/org/spongepowered/common/service/ban/SpongeUser

[2018-07-12 09:32] dualspiral commented on #1989
[I think the issue is linked to here](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/service/user/UserDiscoverer.java#L186-L189), when doing a `getAll` check - it gets game profiles from the cache when scanning the available player files, but the check doesn't scan the Sponge user files. As far as I can see, there is no guarantee that the profile

[2018-07-12 17:25] gabizou commented on #1988
Need the full log. There's some leftover phase states on the stack that somehow didn't get cleaned up, which usually print out an error when that happens. Also, it looks like the tasks are from buy craft. Could you try uninstalling that and trying again?

[2018-07-12 18:34] dualspiral commented on #1989
Debugging this with @Rasgnarok it turns out that my initial thoughts are a little off. It's a desync between names on the ban list and names in the profile cache where players have since changed their names.

[2018-07-12 20:27] dualspiral commented on #1989
To sum up what's going on: there was an incorrect game profile returned by `UserDiscoverer#getAll()`. Ras had a banned user from a while ago, under an old name. Since the user changed their name, I guess what happened is that they attempted to log on and the player cache updated with their new name, but the ban list didn't.

`UserDiscoverer` does the following:

* Check the user discoverer cache f

[2018-07-12 20:41] #1989 closed, assigned to dualspiral

[2018-07-13 01:44] gabizou commented on #1990
Because, you're not supposed to implement the Ban, use the [Ban.builder()](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/util/ban/Ban.java#L50) to make a ban that you can then use in your service.

[2018-07-13 01:44] #1990 closed, assigned to nobody

[2018-07-13 06:19] Rasgnarok commented on #1988
I do not think it is related to Buycraft per se, as I seem to get it with other scheduling mods and plugins - Pixelmon seems to suffer similarly. Here's the log from one of these crashes.
[2018-07-12-1.log](https://github.com/SpongePowered/SpongeCommon/files/2191499/2018-07-12-1.log)

[2018-07-13 06:32] ryantheleach commented on #1990
@gabizou Is it worth somehow documenting the classes that are expected to be able to be extended by plugin classes?

[2018-07-14 08:49] Faithcaio commented on #1985
fyi in API8 `Container` will have `Optional<Player> getViewer();`

[2018-07-14 08:55] Faithcaio commented on #1976
Not sure what you're doing now.
With the code above the planks are not affected.

[2018-07-14 09:01] XakepSDK commented on #1976
I'm cancelling `AffectItemStackEvent`, planks are placed using rmb-hold.
1. Drag transaction cancelled
2. Planks gone to cursor
3. Crafting table appeared in output slot

[2018-07-14 12:05] Faithcaio commented on #1976
Try again with latest

[2018-07-14 13:59] Xemiru commented on #1985
Good to know. I tried to check if containers were unique to players while messing with this issue, but `getViewers()` was unimplemented. Though from the fact that it's returning an optional, it seems like the container won't keep the player if it's closed (in which case it doesn't help resolve the issue for the close event)?

[2018-07-14 15:09] randombyte-developer opened #1993 "Can't get EquipmentSlotType from EquipmentSlot"
**I am currently running**

[code]

**Issue Description**

[code]

`optProperty` is always empty. I don't think that's right.

My current workaround is calling `boolean slot.isValidItem(EquipmentType)` against every type I am interested in to find out what is supported by the slot.

[2018-07-14 16:38] randombyte-developer opened #1994 "OffHand slot is not of type EquipmentSlot"
**I am currently running**

[code]

**Issue Description**

[code]

No message is printed when the off hand slot is manipulated although it is considered as an equipment slot.

[2018-07-14 17:02] XakepSDK commented on #1976
It works!

[2018-07-14 17:02] #1976 closed, assigned to nobody

[2018-07-14 23:30] widd opened #1996 "ThrownPotion always has empty potion item data"
**I am currently running**

- SpongeVanilla version: 1.12.2-7.1.0-BETA-78
- Java version: 8
- Operating System: Gentoo

**Issue Description**
`ThrownPotion#getPotionItemData` is chaining `get()` on an empty `Optional`. It seems to always be empty given the listener below, causing `NoSuchElementException`s. Throwing any potion should be sufficient to trigger this.

[code]

[2018-07-15 01:38] theboomer opened #1997 "EntityTickPhase PhaseState errors on brandnew first-start server api8.0.0"
**I am currently running**

- SpongeForge version:
- SpongeVanilla version: spongevanilla-1.12.2-8.0.0-BETA-432 (latest build as of writing report)
- Java version: jre1.8.0_171
- Operating System: Win7

- Plugins/Mods:
None - pure raw brand-new first start default generated server

**Issue Description**
During startup generating map, phase-state error occured, EntityTickPhase on a HORSE
Similar ph

[2018-07-15 01:40] XakepSDK commented on #1997
Don't use api 8

[2018-07-15 02:37] Aaron1011 opened #1998 "Clearly explain the relationship of the 'modules' config section to other parts of the config"
Several config categories, such as 'entity-activation-range' and 'movement-checks', require a corresponding flag in the 'modules' section to be set to `true`. However, there's little to no documentation of this fact - we rely on users to figure it out for themselves. Additionally, failing to enable the proper 'modules' entry will cause the corresponding section's options to be silently ignored.

W

[2018-07-15 07:19] gabizou commented on #1997
Don't bother using API 8 builds at this point in time. With 1.13 about to release, the API is going to break in massive ways where a majority of our implementation (read mixins, not actual system rewrites, like the PhaseTracker) is going the way of the dodo. Not to sound rude, but this sort of phase issue is kinda meaningless until we do have to rewrite this particular mixin for 1.13. This isn't a

[2018-07-15 07:19] #1997 closed, assigned to nobody

[2018-07-15 07:50] gabizou commented on #1985
I'd definitely give @bloodmc's testing jars a try lately as he's been hammering away at forge events syncing, which I'm almost sure he's had to resolve some packet issues to potentially resolve this issue (maybe? I don't know for sure). Not sure which jar is needed or which one is for which, but I'll let him make that statement.

[2018-07-16 09:16] randombyte-developer commented on #807
A server owner who I made a plugin for requests from me a separate reload command like `/myPlugin reload`. He has issues with multiple plugins which more or less destroy the server when executing the `/sponge plugins reload` command. It makes all players time out and sometimes the server crashes, because of some bad behaving plugins. Therefore he avoids using the global reload command.

I have the

[2018-07-16 09:37] dualspiral commented on #807
There is work going on to allow sending the reload event to specific plugins:

https://github.com/SpongePowered/SpongeCommon/pull/1995

[2018-07-17 19:59] Faithcaio commented on #1994
try again with latest

[2018-07-17 20:00] Faithcaio commented on #1993
try again with latest

[2018-07-17 23:29] pie-flavor opened #2001 "Cannot create scoreboard prefix consisting entirely of color codes"
[code]
This *should* make it so my name is colored pink in all chat messages.
![](https://i.imgur.com/qfU5Wa0.png)
But if I change that `"&d"` to `"&d "`:
![](https://i.imgur.com/gXzJUTu.png)
I can only conclude that empty text is being optimized out here.

[2018-07-17 23:39] XakepSDK commented on #2001
Well known issue with deserializer.
https://github.com/SpongePowered/SpongeCommon/issues/1504

[2018-07-18 18:23] TherayTharow opened #2003 "Redstone does not work the same as normal minercraft"
**I am currently use almura 1.12.2 client, **
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3320
- SpongeAPI version: 7.1.0-SNAPSHOT-8976964
- Java version: 8
- Operating System: win 10

- Plugins/Mods: Dockter's Almura from technics so I have no idea.
it does this on the server and a single player world
**Issue Description**
RedStone Does not work the same as in normal M.C comparators are one thi

[2018-07-18 20:40] randombyte-developer opened #2004 "Projectile MoveEntityEvent"
**I am currently running**
[code]

**Issue Description**

Neither the `MoveEntityEvent` nor the `LaunchProjectileEvent` fire for arrows and snowballs, probably all projectiles.

Tested by simply logging the moved/launched entities with

[code]

and the same for the `LaunchProjectileEvent`. The move event shows all player/mobs/animals/xp orb
 etc. movements but not arrow nor any snowballs. The `Lau

[2018-07-18 21:00] randombyte-developer commented on #1994
Works, thanks!

[2018-07-18 21:00] #1994 closed, assigned to nobody

[2018-07-18 21:01] ImMorpheus commented on #2004
https://github.com/SpongePowered/SpongeCommon/issues/1397

[2018-07-18 21:07] randombyte-developer commented on #1993
Half fixed: When swapping items to the offhand via `F` it works. But when directly manipulating the offhand or the armor slots within the inventory GUI it is still an `Optional.empty()`.

[2018-07-18 21:24] randombyte-developer commented on #2004
Right, thanks, somehow couldn't find that issue. Then this issue will just be for the move event of projectiles which doesn't seem to be targeted to fixed in #1769.

[2018-07-18 21:38] randombyte-developer opened #2005 "AffectSlotEvent not fired for armor equipment slots in creative inventory"
**I am currently running**
[code]

**Issue Description**

[code]

No console output can be seen when changing the equipment in the creative inventory. It works when changing the equipment with `F` in creative mode though.

[2018-07-18 22:55] #2001 closed, assigned to nobody

[2018-07-19 05:11] SimonFlash opened #2006 "Sponge commands not including flags"
*pinging @dualspiral per request by blood*

[This commit](https://github.com/SpongePowered/SpongeCommon/commit/f6acf932d124f7a2d9c32f2069aa49ed508dd713) created a situation where subcommands with the `tracker` flag (handled by `trackerFlagChildren`) are parsed after `firstParsing` has parsed `flagChildren`. Because `CommandFlags` removes the flag from the arguments [here](https://github.com/Sponge

[2018-07-19 05:35] pau101 opened #2007 "DeathUpdateState discarding item drops from Entity#entityDropItem"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3206
- Java version: 1.8.0_121-b13
- Operating System: Microsoft Windows 10 Home
- Plugins/Mods: Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, LLibrary, Mowzie's Mobs

**Issue Description**
 `DeathUpdateState` silently discards item drops captured from `Entity#entityDropItem` duri

[2018-07-19 07:17] dualspiral commented on #2006
What is the current problem with the command? You explain where the problem is, but not how it manifests...

[2018-07-19 07:45] onyn opened #2008 "Add support for mysql 8.0.3+"
**I am currently running**
- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3206
- Java version: HotSpot 1.8.0_131-b11 64-bit
- Operating System: Ubuntu Xenial
- Plugins/Mods: none

**Issue Description**

When using sponge database service with mysql 8.0.11, db initialization in my plugin crashed with exception:

[code]

Code example:

[code]

This issue related to maria db jdbc driver and was resolv

[2018-07-19 12:22] ryantheleach commented on #2003
For Reference, Vanilla 1.12: https://youtu.be/1Knze5oCjPw

[2018-07-19 12:26] dualspiral commented on #2006
Actually, I know what's going on, and while you point at that commit, the problem has been long standing because of how flags are parsed, it was just obscured by another bug. It was in fact [this commit](https://github.com/SpongePowered/SpongeAPI/commit/8976964c1038066d3555ac6fb613ed3839037090) that exposed the issue by fixing the context for firstParsing. As you point out in your other issue, yes

[2018-07-19 12:47] #2003 closed, assigned to nobody

[2018-07-19 12:49] ryantheleach commented on #2003
Unable to replicate: https://youtu.be/qNP5eP8BMww

Tested on forge-1.12.2-14.23.4.2739-universal.jar with spongeforge-1.12.2-2705-7.1.0-BETA-3206.jar

No plugins or mods, default configuration.

[2018-07-19 12:58] phit commented on #2003
@ryantheleach that sf version is super old, test on latest

[2018-07-19 13:15] ryantheleach commented on #1937
@pie-flavor Can you elaborate? this issue is kinda stuck in limbo currently, with more information someone might be able to fix it, or show you a way forward.

[2018-07-19 14:09] phit commented on #2003
I retested on 1.12.2-2705-7.1.0-BETA-3322 and it still works.. still, testing on such an old build especially when the issue was made for a way newer build doesn't really help

[2018-07-19 14:12] ryantheleach commented on #2003
@PowellA12 @phit Apologies, must have hit recommended instead of latest on the download site by accident.

[2018-07-19 16:47] kencinder opened #2010 "Item duping on event cancel"
**I am currently running**

- SpongeForge version: 1.12.2-2705-7.1.0-BETA-3322
- Java version: OpenJDK 64-Bit Server VM, version 1.8.0_171
- Operating System: Debian 9.5

- Plugins: `BetterChunkLoader, GriefPrevention, LuckPerms, MMCReboot, Nucleus, SleepVote, spark`

- Mods: Long list, and doesn't seem relevant given behavior.

**Issue Description**

It appears that items are being duped when eve

[2018-07-19 18:02] #2006 closed, assigned to dualspiral

[2018-07-19 22:27] JBYoshi commented on #1993
I was looking at this earlier, and it seems that the parent `Inventory` is mismatched. `slot.parent()` returns the `Container` object. It should be returning the `EquipmentInventory`.

[2018-07-20 06:49] Faithcaio commented on #1993
@JBYoshi No slots you get from an event with Container always have the Container as parent.
E.g. to be able to compare `SlotIndex` (which is defined by the parent).

[2018-07-20 11:29] pie-flavor commented on #1937
I don't know what exactly needs clarification. Some stuff is in `ConfigurationOptions.defaults()` but there is also the object mapper factory that gets set per plugin. So a way to just inject a `ConfigurationOptions` object would be a great thing.

[2018-07-20 12:19] JBYoshi commented on #1993
The `EquipmentTypeProperty` is only defined for the slot within the `EquipmentInventory`. So without the `EquipmentInventory` you can’t get the `EquipmentType`. For properties like that I think it would be better for them to simply be bound to the slot instead of to both the slot and parent inventory.

[2018-07-20 20:33] Faithcaio commented on #1993
That is wrong.
InventoryProperties are defined only on the parent never on the slot. (there are exceptions for "root" inventories e.g. to get the display name of a chest)
As such you can get the `EquipmentTypeProperty` on other inventories than `EquipmentInventory` as long as there is a lens that provides it.

[2018-07-20 20:49] Faithcaio commented on #1993
In this case calling. `slot.transform()` returns the slot with the player-inventory as parent which will then have the property on it.

[2018-07-20 21:08] Faithcaio commented on #1993
try again with latest

[2018-07-20 21:33] Faithcaio commented on #2005
fixed in latest.
Creative events were using the "vanilla" slots where we cannot mixin our interfaces into.

[2018-07-20 21:33] #2005 closed, assigned to nobody

[2018-07-21 10:03] XakepSDK opened #2011 "Block capture error on just fresh server"
**I am currently running**

- SpongeForge version:
spongeforge-1.12.2-2705-7.1.0-BETA-3326
- Mod list:
https://gist.github.com/XakepSDK/605d4a63a6740766b02411ef26740620
- Plugin list:
No plugins

I just installed forge, started it one time, copied mods from my client and started it again.
Latest.log: https://gist.github.com/XakepSDK/e5c6d0d71c7dcacdc0af702ad9bfa219
Debug.log: https://gist.github.c

[2018-07-21 15:38] Faithcaio commented on #1985
After checking again: The player is not actually ever removed from the Container.
So I'll change it to return Player instead of Optional.
Also `isOpen():boolean` to check if the container is still open.

[2018-07-21 20:34] Faithcaio commented on #1942
@Xemiru
Fixed in latest.

[2018-07-21 20:34] #1942 closed, assigned to nobody

[2018-07-21 22:10] XakepSDK opened #2012 "Advancements loading disable config flag"
A flag to disable advancements loading completely. Sometimes advancement loading throws tonns of exceptions and startup slowdowns. IIRC, this isn't fixable now and this isn't sponge issue.

[2018-07-21 22:12] #2012 closed, assigned to nobody

[2018-07-21 22:12] XakepSDK commented on #2012
Nvm, found pr to fix this

[2018-07-22 05:26] Lignium opened #2013 "InteractItemEvent and InteractBlockEvent behave incorrectly"
**I am currently running**

- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-93
- Java version: OpenJDK Version "1.8.0_171"
- Operating System: Linux Mint 18.3 Sylvia (Kernel: x86_64 Linux 4.13.0-45-generic)
- Plugins/Mods: Empty (Only one my experimental plugin)

**Issue Description**

~~At the last build for version 1.12.2, the following bugs are observed:~~
~~1. InteractBlockEvent is no

[2018-07-22 18:15] Lignium opened #2014 "BlockType.getProperty() not working in Pre-Init"
**I am currently running**

- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-93
- Java version: OpenJDK Version "1.8.0_171"
- Operating System: Linux Mint 18.3 Sylvia (Kernel: x86_64 Linux 4.13.0-45-generic)
- Plugins/Mods: Empty (Only one my experimental plugin)

**Issue Description**

**\<anyBlockType\>**.getProperty(**\<AnyPropertyClass\>**.class) **=>** Empty Optional
**\<anyBlockType\

[2018-07-22 18:29] Lignium opened #2015 "Means for replacing dropped items in ChangeBlockEvent.Break"
For ChangeBlockEvent.Break class required means of replacing or removing dropped items. I need to remove the block and at the same time replace the dropped items or remove them and spawn my items.

[2018-07-22 21:51] randombyte-developer commented on #1993
Works, thanks!

[2018-07-22 21:51] #1993 closed, assigned to nobody

[2018-07-23 02:39] limbo-app opened #2016 "org.spongepowered.api.item.inventory.Slot.getStackSize reporting incorrect size"
This issue was originally submitted by @virustotalop in [SpongePowered/SpongeAPI#1872](https://github.com/SpongePowered/SpongeAPI/issues/1872).
___
The getStackSize method in Slot is reporting the wrong stack size. According to the documentation when a slot is empty the method should return -1, however when running a plugin on spongevanilla-1.12.2-7.1.0-BETA-93 the stack size that is being reporte

[2018-07-23 04:06] #2010 closed, assigned to nobody

[2018-07-23 06:02] gabizou commented on #2015
You can do this by listening to `SpawnEntityEvent` and checking for the `SpawnTypes.BLOCK_SPAWNING`, as well as other aspects of the cause that are reliable.

You can see the implementation doing this [here](https://github.com/SpongePowered/SpongeCommon/blob/stable-7/src/main/java/org/spongepowered/common/event/tracking/TrackingUtil.java#L774) and [here](https://github.com/SpongePowered/SpongeComm

[2018-07-23 06:19] Faithcaio commented on #2016
Imo it makes no sense to return -1 for empty 0 is just fine.

[2018-07-23 07:32] Lignium commented on #2015
This event is not called when the blocks breaks down in the survival mode by hands of player. It can be called, for example, if the lower block breaks down, which will cause a breakdown of the upper one. But I cannot guarantee that the block was broken, because there is no ChangeBlockEvent.Break in the causes.

UPD: Also does not work DropItemEvent.Destruct.

[2018-07-23 07:46] ryantheleach commented on #2016
It was previously -1 due to previous editions of Minecraft acting oddly with 0 sized itemstacks.

To keep 0 requires an API change of contract.

-1 is the correct response, until it's changed in the API.

Note, because changing this is a subtle change of behavior, plugins arn't going to be warned when the behavior changes due to the signature changing.

Are they expecting -1 per the docs, or are t

[2018-07-23 07:57] virustotalop commented on #2016
Sorry if the issue is unclear in the original post. The documentation for getStackSize states that if the slot is empty -1 should be the returned value however the current returned value is 0. I initially expected the returned value to be -1 while reading the documentation but I tested it and the stack size that was being returned was 0.

From the current docs

    the stack size or -1 if this slo

[2018-07-23 08:37] Faithcaio commented on #2016
For API8 it will not be -1 for sure.
Question is should we just change the API7 javadocs to reflect what it really returns.

Also why count the empty slots yourself?
`inventory.capacity() - inventory.size()`

[2018-07-23 16:54] gabizou commented on #2014
Just tested this in development:
Using the following listener:
[code]

And I get this in the log:
[code]

And Likewise, using the same but with `getType()` after `getState()` will present me with this:
[code]

Is there a reproducible case with just sponge forge and a very basic plugin to reproduce this issue?

[2018-07-23 18:14] Lignium commented on #2014
Incredible! It turns out these methods do not work in the pre-initialization phase. Methods become available only in the post-initialization phase. I load messages and configuration in the pre-initialization phase. The configuration checks the values at load time (it is checked whether the blocks are solid). So it should work?

[2018-07-23 18:47] ImMorpheus commented on #2014
That's quite the detail you forgot to mention.

I don't think preInit is the right place for what you're trying to do. Look at the [doc](https://github.com/SpongePowered/SpongeAPI/blob/stable-7/src/main/java/org/spongepowered/api/GameState.java ) in the API for more information.

[2018-07-23 22:39] gabizou commented on #2014
Pre-init is very not game ready, lots of things still being registered or have yet to be registered, hence your issue.

I'd advise to at earliest use postinit to do config or message loading that depends on concrete types like Items, etc. or interacting with most of the Data API.

I can provide a temporary workaround during these early phases so that the default supplied providers will function, a