[2017-09-30 12:04] Deamon5550 commented on #1300
Seems to be no longer an issue as of https://github.com/SpongePowered/SpongeCommon/commit/9d594880e16905f61784f37d0bc890da05981caf

[2017-09-30 12:04] #1300 closed, assigned to Deamon5550

[2017-10-01 05:20] Zidane commented on #1535
I have been able to set this after they've spawned and their skin changes.

[code]

[2017-10-01 05:20] #1535 closed, assigned to nobody

[2017-10-01 09:53] XakepSDK commented on #1535
@Zidane
I think, this can be reproduced if you spawn human during player join event.
I'll try this little bit later.

[2017-10-01 12:03] TheSebakl opened #1550 "InventoryClickEvent - Spectator mode"
i'm using SpongeForge version: spongeforge-1.10.2-2477-5.2.0-BETA-2637
and i have a problem with the event InventoryClickEvent when player is in gamemode spectator. the event still not fired like before.

for a while, i have used this event to my moderator's pannel to switch between spectator mode and survival mode.
but since my last update (and i needed it) the event doen't work.

If you could re

[2017-10-01 16:36] liach commented on #23
7678e517fb3c79535a3d0727cc061e461f09c674
In this commit, several meaningless usages of `PhaseTracker` emerge. We can clean them up.

[2017-10-01 18:59] kashike commented on #23
I've cleaned some of the issues up, and deleted the corresponding comments.

[2017-10-01 23:00] kashike commented on #1529
See https://github.com/SpongePowered/SpongeForge/issues/1776 for more details.

[2017-10-01 23:20] #1529 closed, assigned to bloodmc, kashike

[2017-10-01 23:24] #1516 closed, assigned to kashike

[2017-10-02 15:29] XakepSDK opened #1553 "Unable to start under java 9. Version string changed."
Unable to start under java 9 because version string was changed.

[2017-10-02 15:39] kashike commented on #1553
This isn't a huge issue, seeing as Sponge won't run on Java 9 currently.

[2017-10-02 15:49] #1164 closed, assigned to kashike

[2017-10-02 16:40] gabizou commented on #1553
Java 9 is not supported currently by a larger majority of Sponge's toolchain. When we do get to have Java 9 support in our toolchain, we'll be able to provide support with the java checker.

[2017-10-02 16:40] #1553 closed, assigned to nobody

[2017-10-03 17:40] theboomer opened #1556 "1.12.2 Context: XP Orbs from mob death/player death drop have no Spawn_Type context key"
When players die and their orbs are scattered about, or when they kill a mob and orbs are dropped to pick up, the spawn event for the orbs has no context entry , no spawn_type EventContextKey as all spawn event should.
Does not impact XP from enchantment bottles.

------
SpongeVanilla-1.12.2-beta-343
SpongeForge=1.12.2-bets-2684  Note: On my forge server version, I can not SEE any of the entities

[2017-10-03 19:28] #1150 closed, assigned to nobody

[2017-10-04 09:07] Xenmai opened #1558 "LeashHitch#getLeashedEntity() returning null"
I'm using the latest Vanilla build: spongevanilla-1.12.2-7.0.0-BETA-345.jar
When using the LeashHitch#getLeashedEntity() method I expect to get an Entity, but I'm getting null instead.

[2017-10-04 09:22] Xenmai opened #1559 "Implementation Request: ConstructPortalEvent"
This event doesn't seem to be implemented as it doesn't fire when I build a portal. Could you please implement it? Thanks a lot.

Edit: It doesn't fire when travelling through a portal creates another exit portal either.

[2017-10-04 10:21] theboomer commented on #1530
Updated for spongevanilla-1.12.2-7.0.0-BETA-345  and spongeforge-1.12.2-2486-7.0.0-BETA-2687

The worldspawn events seem to be contaminated by leaf-decay.  Full event.toString() output of such is::
`[05:54:17] [Server thread/INFO] [STDOUT]: [QuickDirty:oddSpawn:37]: No spawntype key: Spawner{cancelled=false, cause=Cause[Context=Context["sponge:leaves_decay"=WorldServer{LevelName=world, DimensionId

[2017-10-04 11:06] theboomer opened #1560 "1.12.2(back far): SpawnEntityEvent#getEntities().size() is Zero on mob death (crossover with DropItem event?)"
Have noticed in the past that sometimes event.getEntities().get(0) would return null.
Logged SpawnEntityEvent where .size() is zero and did various server activities.

The times in which a zero-size list event is thrown is when the spawn event itself appears to be the DropItemEvent.Destruct event????? (as in, the class of spawnentityevent is that class...)  which occurs when mobs are killed which

[2017-10-04 15:52] ryantheleach commented on #1560
Even though this isn't probably intentional, I wonder how you would add drops to an entity that isn't going to drop any on death by default/chance if this was removed.

[2017-10-04 15:53] ryantheleach commented on #1559
I assume you mean light a portal?

[2017-10-04 15:55] ryantheleach commented on #1559
This event would only be expected to fire when the game attempts creates a portal on exit from another portal right? Not when a player constructs, or lights a portal?

[2017-10-04 16:03] Cybermaxke commented on #1559
Also when the portal is created through the `PortalAgent`?

[2017-10-04 16:05] Xenmai commented on #1559
If that's the case and the event should only fire when the game creates an exit portal, I think the API information should be changed, as it can be misleading in my opinion.

It'd be great if somebody with experience on the topic could clear things up.

[2017-10-04 16:44] seema84 opened #1561 "LAST_DAMAGE and PARROT_VARIANT"
Build: 1.12.2-345

[18:38:26 WARN] [Sponge]: Skipping org.spongepowered.api.data.key.Keys.LAST_DAMAGE
[18:38:26 WARN] [Sponge]: Skipping org.spongepowered.api.data.key.Keys.PARROT_VARIANT

please complete this functions

[2017-10-04 18:26] XakepSDK commented on #1561
Parrot variant
https://github.com/SpongePowered/SpongeCommon/pull/1495

[2017-10-04 23:38] ryantheleach commented on #1559
I'm not 100% sure if this is always going to work with all PortalAgent's, modded or unmodded. It might need to be a vanilla portal only feature, and rely upon mods / plugins throwing the event?

[2017-10-05 13:36] VapidLinus commented on #1538
@Faithcaio Hey, sorry to ping you, but can you or another Sponge developer confirm that you are able to reproduce this? If not, I'd like to submit more information so this can be fixed asap. None of the inventory properties seem to work right now and this is drastically impacting what we can do with the inventories.

Thanks in advance 🎉

[2017-10-07 17:53] Faithcaio commented on #1538
Should be all fixed in latest.

Also the InventoryBuilder does no longer need the property name.
`builder.property(new Identifiable())` is the same as `builder.property("identifiable", new Identifiable()))`
works with
`inventory.getInventoryProperty(Identifiable.class)`

[2017-10-07 17:53] #1538 closed, assigned to nobody

[2017-10-07 18:25] #997 closed, assigned to Aaron1011, Faithcaio

[2017-10-07 18:27] Faithcaio commented on #1124
Still happening?
Please provide example code.

[2017-10-07 18:27] #1124 closed, assigned to Faithcaio

[2017-10-07 18:32] #1423 closed, assigned to JBYoshi

[2017-10-08 09:50] NeumimTo opened #1563 "InventoryBuilder listener not functional"
When using the inventory builder to pass inventory event consumer as listener
[code]
The provided consumer in the .listener method is never called

- SpongeVanilla version: 1.12.2-7.0.0-BETA-345
- Java version: 1.8_something
- Operating System:

 - [ x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ x] Windows

guess i can just tag this dude @Faithcaio

[2017-10-08 09:51] VapidLinus commented on #1563
I think this is the same as https://github.com/SpongePowered/SpongeAPI/issues/1646

A temporary workaround is to use `InventoryArchetypes.MENU_GRID` instead, as the `.listener()` callback works for that one.

[2017-10-08 09:58] NeumimTo commented on #1563
That indeed helped, however i need more space than just 3*9 grid, i guess theres no way to resize the menu grid archetype

[2017-10-08 10:04] VapidLinus commented on #1563
@NeumimTo I think you can using the `InventoryDimension` property. Try this:
[code]

**EDIT:**
In the latest build I think you can simplify the property method to just:
`.property(InventoryDimension.of(6, 9))`

[2017-10-09 01:31] #1169 closed, assigned to Deamon5550

[2017-10-09 03:43] XakepSDK commented on #1563
//offtop
Latest sponge api allows this:
`.property(InventoryDimension.of(6, 9))`

[2017-10-09 11:14] XakepSDK opened #1564 "Broken MessageEvent"
I just made simple plugin with simple event listener.
[code]
So...
It printed this:
[code]
With null player object, then this:
[code]
Why it prints `You are not allowed to log in to this server`? Why it calls method with null arg?

[2017-10-09 15:25] kashike commented on #1564
Sorry, could you clarify what you mean? I don't understand.

[2017-10-09 15:45] dualspiral commented on #1564
@XakepSDK Next time, could you please add more information about what you're doing? It's not obvious what's going on without that extra context.

To answer your question, you would have gotten a bit of a clearer answer if you had printed out `event.getClass()`. You neglected to say that someone was logging in at the time. The two events in question are [`ClientConnectionEvent.Login`](https://jd.sp

[2017-10-09 16:14] XakepSDK commented on #1564
@dualspiral Its just plugin with 1 listener. There is nothing special, nothing extra.
I will send stacktrace as soon as possible.

[2017-10-10 01:19] ryantheleach commented on #1564
What are you trying to accomplish listening to the Message Event and constructing your menu anyway?

For testing things, I'd recommend creating a simple command, if that's your goal.

[2017-10-10 03:57] XakepSDK commented on #1564
Event should not be called, because there is no correct player in cause context! This is a bug.
https://puu.sh/xUnaZ/55c2237021.png

[2017-10-10 04:03] kashike commented on #1564
Stacktrace please.

[2017-10-10 04:09] XakepSDK commented on #1564
[code]
[code]
Oh, sorry guys, my bad, something wrong in internals of EntityPlayer. Only I slept after 48 hours of marathon without sleep.

[2017-10-10 04:10] gabizou commented on #1105
I think @bloodmc already had fixed this a little while ago, not sure as to when but I do remember that the commit did involve calling the necessary methods to end capturing.

[2017-10-10 04:20] gabizou commented on #1564
The player is not in fact `null`, what I believe is happening is that the `EntityPlayerMP.connection` which is the instance of `NetHandlerPlayServer` is not set yet, which makes sense why this will happen on `ClientConnectionEvent.Login`, since the handler is not constructed until well after.

@kashike @dualspiral the issues lie [here](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/sr

[2017-10-10 04:28] XakepSDK commented on #1564
@gabizou yes, sorry, guys. This was completely my fault.

[2017-10-10 08:08] dualspiral commented on #1564
To add to that discussion, I'd argue it should be the `GameProfile` or non-Player `User` instead. The `ClientConnectionEvent.Login` is a `TargetUserEvent`, not a `TargetPlayerEvent`, I suspect for this very reason. We shouldn't be pushing incomplete objects to the `Cause` stack because, well, this will happen.

That being said, is `MessageEvent` even appropriate for `ClientConnectionEvent.Login`?

[2017-10-10 16:20] Yeregorix commented on #1105
I can try to generate new pastebins if it's really needed but it seems that the issue was fixed in my case. Should I close this issue ?

[2017-10-11 13:08] #1105 closed, assigned to nobody

[2017-10-11 14:10] parlough commented on #1561
I'll finish the parrot PR soon. I can look into LAST_DAMAGE as well.

[2017-10-12 00:27] simon816 commented on #1564
Two years ago we decided not to include the player in the `Login` event (https://github.com/SpongePowered/SpongeAPI/pull/944).
The player is in an undefined state up until the `ClientConnectionEvent.Join` event is fired, and should not be included in any cause stacks. Instead `GameProfile` should be available and, once the server has fetched player data from disk, `User` should also be made availa

[2017-10-12 04:07] #1242 closed, assigned to kashike

[2017-10-12 04:54] codeHusky commented on #1124
I’m pretty sure this was resolved a while ago

[2017-10-14 00:49] LemADEC opened #1566 "Orespawn spamming during world generation"
**I am currently running...**
- SpongeForge version: spongeforge-1.10.2-2477-5.2.0-BETA-2698.jar
- Java version: OpenJDK 64-Bit Server VM, version 1.8.0_144
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
no plugins
OreSpawn-1.10.2-2.0.0.15.jar
as part of the SimpleLife2 modpack version 1.3.5: https://minecraft.curseforge.com/projects/the

[2017-10-15 09:57] VapidLinus opened #2635 "Setting shulkerbox to AIR causes item to drop and DropItemEvent doesn't get called"
Calling `world.setBlockType(position, BlockTypes.AIR)` on a shulkerbox block causes the shulkerbox to drop as an item. This is inconsistent as other blocks do not cause items to drop.

Trying to cancel this using `DropItemEvent` fails, because it never gets called during above scenario.

**Code to reproduce:**

[code]

1. Press F5 to easily see what's going on above you
2. Type !test in chat
3. Sh

[2017-10-15 10:02] VapidLinus commented on #2635
Quick note that the only workaround I've found to prevent the item from dropping is to use `SpawnEntityEvent`.

[code]

[2017-10-17 17:51] Xenmai opened #1568 "ChangeWorldWeatherEvent "Set" methods not working properly"
Hi there. I'm running latest SpongeVanilla 1.12.2 and I've encountered some issues with the ChangeWorldWeatherEvent.
The "get" methods work perfectly, but the "set" methods do not. Setting the duration does nothing at all, while setting the weather will result in the event firing every tick while the weather lasts. This is due to setWeather only changing the internal weather variable and not setti

[2017-10-17 18:10] Xenmai opened #1569 "Implementation Request: ChangeEntityExperienceEvent and ChangeLevelEvent.TargetPlayer"
Hello there. I'm using latest SpongeVanilla 1.12.2 and I've not managed to trigger the ChangeEntityExperienceEvent and ChangeLevelEvent.TargetPlayer events at all. If I'm not mistaken, they should fire when a player collects experience and when a player levels up, respectively.  I assume this is because they are not implemented, so I'm requesting their implementation. Thanks a lot for your time!

[2017-10-17 23:54] ryantheleach commented on #1569
@JBYoshi You have probably had the most experience with experience of late.

[2017-10-20 08:56] XakepSDK opened #1570 "Impl request: SmeltEvent"
Event isn't implemented.
Tested on: spongevanilla-1.12.2-7.0.0-BETA-346

[2017-10-21 17:51] XakepSDK opened #1571 "BlockWorker async phase error"
Log: https://pastebin.com/mE9HMCQh
SpongeVanilla 1.12.2-7.0.0-BETA-346
Code to reproduce:
[code]

[2017-10-21 18:28] gabizou commented on #1571
You can't make a block worker perform block changes async.... World changes aren't supported async period.

[2017-10-21 18:30] XakepSDK commented on #1571
Ah, its impossible to make something like fastasyncworldedit without NMS
access?

[2017-10-22 00:41] JBYoshi commented on #1571
It's possible. It's just somewhat complicated. What FAWE (and the original AWE) do is they perform a few block changes each tick (actually, more than a few; the calculation of how many per tick varies). You don't need NMS to do that, although you can't use block workers for it; you'll have to use `setBlock()` manually.

[2017-10-22 05:35] gabizou commented on #1571
I feel that I need to write about some definitions and corrections about some words being used here:

For all intents and purposes the following are to be defined:
- *async* : Off the main server thread. This is dictated by `Sponge.isServerAvailable() && Sponge.getServer().isMainThread()` being `false`, either because `Sponge.isServerAvailable()` returns `false` or because we genuinely are not on

[2017-10-22 05:35] #1571 closed, assigned to nobody

[2017-10-22 06:08] theboomer commented on #1560
Its not an issue of where would you add drops to a dying mob, sure a zombie can drop something on death, i would assume that bones spawning are part of the skeleton death things there, that should be something spawned,except there appears to be nothing in the event that is the bones or armor or slimeball... but a bat dying spawns nothing.   So the primary question is why is 'nothing spawned' causi

[2017-10-22 23:55] LemADEC opened #1572 "Cause tracker error with trapped chest triggering an explosion"
**I am currently running...**
- SpongeForge version:  spongeforge-1.10.2-2477-5.2.0-BETA-2698.jar
- Java version: OpenJDK 64-Bit Server VM, version 1.8.0_144
- Operating System:
 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows
- Plugins/Mods:
SimpleLife2 modpack version 1.3.6

**What is the expected result?**
Happy console

**What is the current result?**
Exception in console

[2017-10-23 07:52] XakepSDK commented on #1563
@kashike fixed by https://github.com/SpongePowered/SpongeCommon/commit/b22c02d2e0cde0e94e62b1b125a4d14aed8b0625

[2017-10-23 17:17] #1563 closed, assigned to nobody

[2017-10-26 12:23] Cybermaxke commented on #1524
Can you try `SlotPos.of(0,3)` as `SlotPos`? This uses the `EQUAL` operation instead of the `DELEGATE` one.

[2017-10-26 20:28] LemADEC commented on #1566
This causes server crashes due to the shear amount of spam caused in console.
This happens even after doing a pre-generation of the world.
Is there any workaround to disable the message or the cause-tracker altogether?

[2017-10-27 06:34] ryantheleach opened #1574 "ItemStack.builder().fromItemStack drops data."
@simonflash @huskycode

https://gist.github.com/ryantheleach/de85f3905267b7fc796bb9b6b499597b

After chatting with Simon and Husky, it appears that itemstack builders have differing behavior or may be accidentally caching data containers (which then take priority) when manipulating data.

Leaving this here so it doesn't get complained about and forgotten.

[2017-10-28 00:37] parlough commented on #1279
Is this still the case on the latest bleeding?

[2017-10-28 20:57] codeHusky opened #1577 "InventoryBuilder#listener never catches InteractInventoryEvents"
**I am currently running...**
- SpongeVanilla version: spongevanilla-1.12.2-7.0.0-BETA-346
- Java version: 1.8.0 51
- Operating System:
   - [ ] Linux (Ubuntu, Debian, Fedora, etc)
   - [ ] macOS
   - [x] Windows

- Plugins/Mods:
  - HuskyUI
  - HuskyCrates

**What is the expected result?**
When an InteractInventoryEvent is fired, I should be able to catch it via a listener in an Inventory Builder

[2017-10-28 21:01] parlough commented on #1577
https://github.com/SpongePowered/SpongeCommon/commit/b22c02d2e0cde0e94e62b1b125a4d14aed8b0625 should have fixed this I just don't think SpongeVanilla has had its SC ref bumped.

**Edit:** Yeah it hasn't been bumped in 21 days. @kashike

[2017-10-28 21:10] parlough commented on #1577
Should be fixed by https://github.com/SpongePowered/SpongeVanilla/commit/d436a118c8d74f9ee492beb2af11c4d12c96cb0e :)

Give it a test once it builds and is uploaded

[2017-10-28 21:20] codeHusky commented on #1577
Resolved in 1.12.2-7.0.0-BETA-348 SV

[2017-10-28 21:20] #1577 closed, assigned to nobody

[2017-10-29 06:22] RiftomeR opened #1578 "Doesn't works with java 9"
I'm using java 9 and server doesn't starts
https://pastebin.com/47C8KcvP

[2017-10-29 06:24] parlough commented on #1578
Minecraft, Forge, Sponge, and much more that Sponge relies on is not ready to support Java 9 yet and they won't for awhile. Refer to issues such as https://github.com/SpongePowered/SpongeVanilla/issues/355#issuecomment-335770593 and https://github.com/SpongePowered/SpongeCommon/issues/1553 for more information. For now use the latest version of Java 8 :)

[2017-10-29 06:35] RiftomeR commented on #1578
ok

[2017-10-29 17:02] #1578 closed, assigned to nobody

[2017-10-30 01:35] JBYoshi commented on #1467
I have some prototype code ready. It depends on #1565; I will submit the changes after it is merged.

[2017-10-31 06:02] RiftomeR opened #1580 "Implementation request:Player.getOpenInventory()"
This method always returns optional.empty().
Tested on SpongeVanilla version 1.12.2-7.0.0-BETA-349

[2017-10-31 06:17] ryantheleach commented on #1580
https://github.com/SpongePowered/SpongeCommon/issues/1104

https://github.com/SpongePowered/SpongeCommon/pull/1011

[2017-11-01 03:10] ryantheleach opened #1581 "Commands should fallback if no permission and conflicting aliases."
[code]

At the moment if we override minecraft:help with Sponge commands, but you don't have permission to access the overridden command, you are not able to run the default Minecraft help.

Should this be by design? or should commands fallback if the user doesn't have permission?

[2017-11-03 21:55] n00b42 opened #1583 "ExpireEntityEvent not firing"
According to its documentation, ExpireEntityEvent should fire when an Entity expires from the world.

I tried both given examples: "when an Endermite expires", "Lightning expires".
I watched them expire but my listener did not catch any ExpireEntityEvent, more suprisingly it did not catch an DestructEntityEvent either.

**Setup**
- Tried both:
  - spongeforge-1.12.2-2503-7.0.0-BETA-2716, Forge ver

[2017-11-03 21:56] n00b42 opened #1584 "Decaying items not firing events"
A decaying item is removed from the world without firing one of the expected events:
While ExpireEntityEvent seems logical, I was told at least an DestructEntityEvent should fire, but neither did that (at least not for decaying items)

For clarification: An decaying item is an item whose lifetime is over and is removed from the game. E.g. drops/sapling/... laying on the ground.

**Setup**
- Tried

[2017-11-03 21:56] n00b42 commented on #1584
Maybe related #1583

[2017-11-04 14:33] ryantheleach commented on #8
@Meronat @sanman00 How are the data's going? Not many left!

[2017-11-05 14:58] Cybermaxke commented on #1104
I could possibly make a new PR for this feature, but tracking packets to make a guess whether the inventory is open or not. It would not be exact but then we already have an idea of whether the inventory is open or not.

Thoughts?

[2017-11-06 17:15] ziceptor opened #1586 "NoClassDefFoundError: net/minecraft/command/EntitySelector"
https://gist.github.com/ziceptor/f310111e365f86eda8fa93daa6a88ed8

forge-1.12.2-14.23.0.2529-universal.jar
spongeforge-1.12.2-2529-7.0.0-BETA-2726.jar

[2017-11-06 17:16] phit commented on #1586
update to latest, this was fixed in https://github.com/SpongePowered/SpongeCommon/commit/1491973d983b0dc1553b19256c4672e3e6a32598 & https://github.com/SpongePowered/SpongeForge/commit/cd16d610242a4b012454ab47f6eb95c10a5476aa

[2017-11-06 17:34] ziceptor commented on #1586
Sorry.

[2017-11-06 17:35] #1586 closed, assigned to nobody

[2017-11-07 10:28] phit commented on #1397
still an issue with https://github.com/SpongePowered/SpongeCommon/commit/caccfa4f325396c866bb803d51ee0c3763e8d073 tested both `LaunchProjectileEvent` & `UseItemStackEvent.Start`

[2017-11-07 12:09] phit commented on #1331
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/1422

[2017-11-07 12:09] #1331 closed, assigned to nobody

[2017-11-07 14:38] phit commented on #1118
closing this, as this is more of a question and there was no updates since january

[2017-11-07 14:38] #1118 closed, assigned to nobody

[2017-11-07 14:39] phit commented on #1176
if this is still an issue report it to liteloader http://develop.liteloader.com/liteloader/LiteLoader/issues

[2017-11-07 14:39] #1176 closed, assigned to nobody

[2017-11-07 14:41] phit commented on #1327
Closing this, if it's still an issue please report it again on the [SpongeForge ](https://github.com/SpongePowered/SpongeForge) tracker.

[2017-11-07 14:41] #1327 closed, assigned to nobody

[2017-11-07 14:58] phit commented on #1180
@Faithcaio can this be closed as the PR got merged?

[2017-11-07 15:00] phit commented on #1494
log down and too little info, please make a new issue on SpongeForge/Vanilla if this is still an issue

[2017-11-07 15:00] #1494 closed, assigned to nobody

[2017-11-07 15:29] phit commented on #1515
Closing this in favor of https://github.com/SpongePowered/SpongeForge/issues/1467

[2017-11-07 15:29] #1515 closed, assigned to nobody

[2017-11-07 15:52] #1180 closed, assigned to nobody

[2017-11-07 16:02] phit commented on #1511
similar to https://github.com/SpongePowered/SpongeCommon/issues/830

[2017-11-07 16:22] phit commented on #1237
confirmed issue with https://github.com/SpongePowered/SpongeForge/commit/32bf75d3dc53e448662ec0ac92e129f05687831e

[2017-11-07 16:32] phit commented on #1261
Resolved with #1221

[2017-11-07 16:32] #1261 closed, assigned to nobody

[2017-11-07 16:44] phit commented on #1301
added in https://github.com/SpongePowered/SpongeCommon/commit/bc80b91c722a57d1bc1e74a2a856db2f5af6684f by setting `verbose-errors=false` in the global.conf

[2017-11-07 16:44] #1301 closed, assigned to nobody

[2017-11-07 17:00] phit commented on #1274
Please reopen in [SpongeForge](https://github.com/SpongePowered/SpongeForge) if this is still an issue.

[2017-11-07 17:00] #1274 closed, assigned to nobody

[2017-11-07 17:02] phit commented on #1112
The logs are down, please reopen in SpongeVanilla/SpongeForge if this is still happening in the latest versions.

[2017-11-07 17:02] #1112 closed, assigned to nobody

[2017-11-07 17:07] phit commented on #1298
Closing in favor of https://github.com/SpongePowered/SpongeForge/issues/1467

[2017-11-07 17:07] #1298 closed, assigned to gabizou

[2017-11-07 17:17] phit commented on #1433
@Sir-Will still an issue in 1.12?

[2017-11-07 17:21] phit commented on #1493
Closing this as it appears to be a SpongeVanilla issue and the log is down, reopen this on SpongeVanilla if its still an issue.

[2017-11-07 17:24] #1493 closed, assigned to nobody

[2017-11-07 17:35] phit commented on #1522
still happens with https://github.com/SpongePowered/SpongeCommon/commit/caccfa4f325396c866bb803d51ee0c3763e8d073 (used SpongeForge), looks like the block rotates after being placed

https://phit.link/s/2017-11-07_18-33-59.mp4

alright this is too funny if you place another block on the opposite site it will switch direction twice
https://gist.github.com/phit/8de68e0efc7a2e1f08f54146d7cb2c3a

also

[2017-11-07 23:16] Sir-Will opened #1587 "tile-entity-unload option"
I wanted to try out the `tile-entity-unload` option, after enabling it and restarting the server it did still show
[code]
in the thread although `removeAll` should be `removeIf`.

Did I understand something wrong or is this not implemented in this sponge version?

**Profiling of 3 different servers:**
![](https://i.imgur.com/Sl5da8h.jpg)
![](https://i.imgur.com/p1xcJsW.jpg)
![](https://i.imgur.com

[2017-11-07 23:17] Sir-Will commented on #1433
I can't test it on 1.12 atm.

[2017-11-08 05:07] liach commented on #1587
Isn't this option removed in build 2627? You might try regenerating and reedit config to fix this error.

[2017-11-08 18:33] phit commented on #1279
seems to work fine, tested by throwing 5 zombies in a 1x1 space, to kill them all took about 10 hits with a normal diamond sword and about 4-5 with a diamond sword enchanted with sweeping edge III

Tested with forge-1.12.2-14.23.0.2517 & spongeforge-1.12.2-2503-7.0.0-BETA-2716 bit older but shouldn't really matter in this case

[2017-11-08 18:33] phit commented on #1279
seems to work fine, tested by throwing 5 zombies in a 1x1 space, to kill them all took about 10 hits with a normal diamond sword and about 4-5 with a diamond sword enchanted with sweeping edge III

Tested with forge-1.12.2-14.23.0.2517 & spongeforge-1.12.2-2503-7.0.0-BETA-2716 bit older but shouldn't really matter in this case

[2017-11-09 03:49] #1279 closed, assigned to gabizou

[2017-11-09 14:10] VapidLinus opened #1588 "Concrete and Concrete Powder does not support DyeColor data"
I'm trying to give a coloured concrete block to a player but it always becomes white. Here's some code to reproduce the issue. Just type "!test" in chat.

[code]

The same code works if I change `BlockTypes.CONCRETE` to `BlockTypes.WOOL`. It also does not work for `BlockTypes.CONCRETE_POWDER`.

Simon_Flash on Discord hinted that it might be as simple as changing this, but wasn't sure:
https://gith

[2017-11-09 14:47] Sir-Will commented on #1587
Yep, it's gone after regenerating it. Why was it even available?

[2017-11-09 14:51] liach commented on #1587
it was there before forge added this to 1.10 (originally the optimization is java 8 only, now it also works on java 6 so forge added it)

[2017-11-09 14:54] phit commented on #1587
because it wasn't backported in Forge for a while, once it was backported in Forge it was removed
added old impl in https://github.com/SpongePowered/SpongeCommon/commit/c352510dff8293fa1b3cab730605baf302af0bfb
second impl https://github.com/SpongePowered/SpongeCommon/commit/57bdb034917eef676e1340888232b37d16543a9b
and then removed here https://github.com/SpongePowered/SpongeCommon/commit/0a464af04

[2017-11-09 15:09] Sir-Will commented on #1587
Ah okay. Is this always enabled or is there a config option which I couldn't find?

[2017-11-09 15:10] phit commented on #1587
always enabled https://github.com/MinecraftForge/MinecraftForge/commit/16127a61c797c80563ab424f1eecdbb1f7ca6bc1

[2017-11-09 15:15] Sir-Will commented on #1587
Alright, thanks for the information. Seems to not help a lot then as I'm still getting a lot of lag spikes because of tile unloads with forge build 2477. :/

[2017-11-09 19:44] HeberonYT opened #1589 "Spawn limit not work [1.10.2]"
**I am currently running...**

- SpongeForge version: spongeforge-1.10.2-2477-5.2.0-BETA-2698.jar
- SpongeVanilla version:
- Java version: 1.8.0_151
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
**Modpack Sky Factory 3 (3.0.15)**
Plugins (180): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Not Enough Items, OpenCo

[2017-11-09 19:54] phit commented on #1589
you set `config-enabled=false` in both files.. also mob spawners are not natural spawns so those won't be affected at all

[2017-11-09 20:30] liach commented on #1587
You might need to post the time analysis if you want to have it resolved.

[2017-11-09 21:10] Sir-Will commented on #1587
Hm, what do you mean?

[2017-11-09 23:58] liach commented on #1587
Show your profiler time report on different parts of code. The cause may be different.

[2017-11-10 02:18] Sir-Will commented on #1587
Added it to this issue: https://github.com/MinecraftForge/MinecraftForge/issues/4505#issue-272611679

[2017-11-10 02:26] liach commented on #1587
It is still a sponge issue, with injections before tile entity unloading.

[2017-11-10 02:37] Sir-Will commented on #1587
@phit can this issue then be reopened?

[2017-11-10 07:17] #1588 closed, assigned to nobody

[2017-11-10 18:38] Mohron commented on #1506
I've tested this issue with SF `1.12.2-2529-7.0.0-BETA-2730` and the world gen modifier still disappears after a restart.

[2017-11-10 19:09] HeberonYT commented on #1589
Thanks for the information, now it seems to work.

[2017-11-10 19:09] #1589 closed, assigned to nobody

[2017-11-10 19:31] dualspiral commented on #1506
I hesitate to call this a bug in the strictest sense (well, this one actually is, but the fix wouldn't do anything straight off the bat), because this fires due to how the system is designed, but it's not documented anywhere.

It's to do with the world config files defaulting to `enabled=false`. When the world info is generated, the world config is generated using the defaults, and Mohron here set

[2017-11-10 21:27] Mohron commented on #1506
@dualspiral if I was able to enable the config via the `WorldProperties` object I'd have no issue doing so when using the `ConstructWorldPropertiesEvent` to make changes to a newly constructed world but that's not currently possible.

Is there some method I can access through the API to turn on the world/dim config required to make this work?

[2017-11-10 21:41] dualspiral commented on #1506
No, there is not at the moment.

[2017-11-10 21:59] Mohron commented on #1506
Same goes for the `World` object but I think it would be more appropriate to exist on `WorldProperties` since you set the values there.

[2017-11-12 14:10] ryantheleach opened #1594 "/help unable to be run in single player without permissions manager."
Without a permissions service being present, players do not have access to /help by default.

Tested on freshly cloned SpongeForge.

[2017-11-12 14:24] phit commented on #1594
that is intentional as far as I can tell, https://github.com/SpongePowered/SpongeCommon/pull/1484

[2017-11-12 15:00] ryantheleach commented on #1594
Not necessarily. before it had no permission, which means you couldn't prevent it even if you wanted to.

Adding a permission doesn't necessarily mean you don't have access to commands by default / in single player. OP levels exist for a reason.

[2017-11-14 16:56] VapidLinus opened #1597 "ChangeInventoryEvent.Pickup doesn't respect changes to its slot transactions"
Altering the transactions of `ChangeInventoryEvent.Pickup` doesn't change anything.

Trying to invalidate a transaction doesn't work. Nothing happens and there are no errors or warnings. The player gets the dropped item like normal, whereas I expect them not to receive anything.
[code]

Attempting to change a transaction doesn't do anything either. Nothing happens and you get the dropped item. Usi

[2017-11-14 19:36] Faithcaio commented on #1597
This is because Pickup is the only Inventory Event that fires BEFORE the change happened.
The Slots passed in the event are fake ones that do not represent the actual inventory.
What I think needs to be done is to somehow split this event up in a Pre (actual pickup with Item Entities) and Post (Inventory Change after pickup happened) Event.

see https://github.com/SpongePowered/SpongeCommon/issues

[2017-11-15 12:34] anthonysan95 opened #1598 "ParticleOptions of a ParticleEffect not being deserialized from a config file"
**I am currently running...**

- SpongeForge version: not tested
- SpongeVanilla version: spongevanilla-1.11.2-6.1.0-BETA-0
- Java version: 1.8.0_121
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods: None

**What is the expected result?**
ParticleEffect deserialized from a config file contaning both the ParticleType and the various Particl

[2017-11-16 08:24] parlough commented on #8
Working on it as time allows. Have a few PRs open implementing various data that should be good to go. Will be opening a PR to add disabled slot control to ArmorStandData soon, then I'll look into bed and leashes. Then from there we will see, I may look into the missing combat ones.

[2017-11-16 16:12] ryantheleach commented on #1530
This PR if accepted should hopefully solve this issue: https://github.com/SpongePowered/SpongeCommon/pull/1549/files

[2017-11-16 16:19] ryantheleach commented on #1523
Leaf Decay is leaking.

[2017-11-17 01:04] gabizou commented on #1523
@phit could you test some of these?

[2017-11-17 02:48] ryantheleach opened #1600 "Feature: Alert admins to which plugins potentially reloaded?"
I'm after some input of if the following feature would be worth implementing.

When issuing the /sponge plugins reload command, it would be handy to know if the plugin listed even listened for the reload event.

I propose something like this after running:

1. `/sponge plugins reload`

`Issuing reload command to: PluginA , PluginB, PluginX , PluginZ`

Then admins would be aware of any plugins that

[2017-11-17 09:46] parlough commented on #1600
I think this would be a great addition along with some of the other changes presented in https://github.com/SpongePowered/SpongeCommon/issues/807.

I think reporting that the plugin does not support it is better if they simply don't listen to the event, as claiming there is an issue instead suggests the plugin had trouble reloading or failed somewhere(which could be something else we report).

[2017-11-17 12:01] ryantheleach commented on #1600
@Meronat Maybe the language I used was slightly confusing.

If the plugin is listening for the reload event, then it would show:

`Issuing reload command to: PluginA`

If the plugin asked, does not listen for the reload event

`PluginA does not support reloading.`

[2017-11-20 07:18] widd opened #1607 "Entity#getNearbyEntities will sometimes not include the originating entity"
**I am currently running...**
- SpongeVanilla version: 1.12.2-7.0.0-BETA-352
- Java version: 8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)

- Plugins/Mods:
 A simple test plugin

**What is the expected result?**
`getNearbyEntities` should include all entities from a given `Entity`'s location, including the `Entity` whose location is used per the javadoc (as it calls another met

[2017-11-20 10:11] Sir-Will commented on #1587
Is there any way to speed up this issue? This is a major issue for us and makes older 1.10 servers almost unplayable.

[2017-11-20 22:46] JBYoshi commented on #23
https://github.com/SpongePowered/SpongeCommon/blob/27e245433a9939c6d1ea930c7049b1a3d5961176/src/main/java/org/spongepowered/common/mixin/core/command/MixinCommandSenderWrapper.java#L71-L75

`SpongeProxySource.Located` should be the first one, and `SpongeProxySource` should be the second.

[2017-11-20 22:59] #1594 closed, assigned to JBYoshi

[2017-11-20 23:32] JBYoshi commented on #1607
Cannot reproduce.

Code:
[code]

![](https://user-images.githubusercontent.com/12983479/33046877-89085dfa-ce18-11e7-97bc-969a60c767e0.png)

Could you provide some sample code and steps to reproduce?

[2017-11-21 00:17] ryantheleach commented on #1580
@phit Can this be closed?

[2017-11-21 00:26] #1580 closed, assigned to nobody

[2017-11-21 00:28] #1574 closed, assigned to nobody

[2017-11-21 00:43] JBYoshi commented on #1569
See #1467, although I won't mark this as a duplicate since the other one doesn't mention `ChangeLevelEvent.TargetPlayer`.

I will likely end up rewriting the experience events as I implement them.

[2017-11-21 05:12] phit commented on #868
confirmed with 7.0.0-BETA-2741

[2017-11-21 05:16] phit commented on #973
closed with https://github.com/SpongePowered/SpongeCommon/commit/b70f7dd01a8996ebc88a460d0c7d5eac29bb3277#diff-7fc5093248c2beeeead9d83365925fa0

[2017-11-21 05:16] #973 closed

[2017-11-21 05:36] ryantheleach commented on #868
[code]

[2017-11-21 05:38] phit commented on #868
go for it 👍

[2017-11-21 05:59] Cybermaxke commented on #868
i have already a PR that resolves this issue. But it should be updated.

https://github.com/SpongePowered/SpongeCommon/pull/1012

[2017-11-21 06:16] widd commented on #1607
This was enough to trigger it in my last test:
[code]

Results in this output:
[code]

It seems to be intermittent between reboots, I see no direct cause yet.

[2017-11-21 06:30] ryantheleach commented on #868
@Cybermaxke would you like to update it, or would you prefer I did it?

[2017-11-21 06:32] widd commented on #1607
I spotted this too:
[code]

It listed me twice in the collection returned directly from `getNearbyEntities`, in two different locations.

[2017-11-21 06:32] ryantheleach commented on #1607
was there more then 8 entities? If so it's the config file getMaxEntities in AABB getting in the way.

[2017-11-21 06:47] widd commented on #1607
@ryantheleach That solved the issue, however that now begs the question as to why the naming conventions are as such if they do wildly different things.

In `EntityUniverse` we have:
* `getNearbyEntities`
* `getEntities`

One would assume `getNearbyEntities` would logically just delegate to `getEntities` with a distance check predicate, but the former delegates to `getIntersectingEntities` while t

[2017-11-21 06:57] ryantheleach commented on #1607
The real question, is where exactly the bug lies.

No it's not intended to be this opaque.

I only know because it was on the forefront of my mind due to working on it recently.

It probably needs to be documented better, but it makes sense from the implementation point of view, we have an option to limit the amount of entities tested within an aabb, getNearbyEntities uses an AABB to do the testin

[2017-11-21 07:41] Cybermaxke commented on #868
I can update it, I don't think that it will need a lot of changes, just some comments and checking if it still works.

[2017-11-22 00:02] parlough commented on #1355
This is no longer an issue on bleeding due to the removal of this method in https://github.com/SpongePowered/SpongeAPI/pull/1370

Will keep it open as the issue most likely remains on 1.11 and possibly 1.10

[2017-11-22 20:37] phit opened #1609 "ChangeBlockEvent for fluid pickup/placing does not prevent the bucket changing"
**I am currently running...**

- SpongeForge version: spongeforge-1.12.2-2529-7.0.0-BETA-2741

[code]

be in survival try to pickup any fluid, even though the event is cancelled and the fluid source block stays you still get the fluid in a bucket

og issue https://github.com/SpongePowered/SpongeForge/issues/1625

[2017-11-23 00:13] ryantheleach commented on #1267
To my knowledge this is intended behavior and unfix-able without client changes. If someone can provide evidence to the contrary feel free to reopen.

[2017-11-23 00:13] #1267 closed, assigned to Aaron1011

[2017-11-23 00:18] ryantheleach commented on #1108
Do you know what version of Sponge you were testing on / is it reproducible still on the latest stable and bleeding?

Was the config set in the global config?

I've added this to my Todo list to do some preliminary testing this weekend, but I'm not sure that I'm going to be able to come up with a valid testing strategy without more information about how I can tell if they are out of sync.

[2017-11-23 00:29] Slind14 commented on #1108
1. configure as described above
2. load world, run manual save once
3. do some stuff with the world and your inventory
4. run manual save
5. kill the server

-> the inventory will have a different state than the world.

[2017-11-23 00:32] ryantheleach commented on #1108
Thanks for the prompt reply. Any idea if this is still reproducible or the versions last tested with?

[2017-11-23 00:34] Slind14 commented on #1108
Unfortunately, I don't (been a year), but it is straight forward to reproduce.
It was a 1.10 version from around the time of the issue (probably latest) with forge and is probably still an issue.

[2017-11-23 02:09] ryantheleach commented on #1600
Closing to consolidate with : https://github.com/SpongePowered/SpongeCommon/issues/807

[2017-11-23 02:09] #1600 closed, assigned to nobody

[2017-11-23 02:11] ryantheleach commented on #807
When issuing the /sponge plugins reload command, it would be handy to know if the plugin listed even listened for the reload event.

I propose something like this after running:

1. `/sponge plugins reload`

`Issuing reload command to: PluginA , PluginB, PluginX , PluginZ`

Then admins would be aware of any plugins that failed to listen, as they would not be listed.

2. `/sponge plugins reload Plu

[2017-11-23 04:58] Grinch commented on #807
@ryantheleach Not a bad idea but may give the wrong impression if the plugin doesn't actually **need** to reload.

[2017-11-23 05:05] phit commented on #2635
possibly fixed by https://github.com/SpongePowered/SpongeCommon/commit/29eabf9da8ac4bc16910f1ae96e23066695c5614

[2017-11-23 05:28] ryantheleach commented on #807
Plugins are free to print a message on reload, and it doesn't say they *did* reload, just that they were asked to.

[2017-11-23 08:49] Cybermaxke commented on #1503
This got covered in https://github.com/SpongePowered/SpongeAPI/pull/1642

@Faithcaio Would it also be possible to add a `transform` method in the `Container`? That makes it possible to get the inventory structure from the container. For the example from a chest container you would get a (query?) inventory:
[code]

[2017-11-23 12:13] Faithcaio commented on #1503
Is not not already like that?
Just iterate through the inventory.
Hotbar might be a separate 3rd inventory currently.

[2017-11-23 12:33] Cybermaxke commented on #1503
Oh I thought it were just the container slots inside a container and not any inventory structure. I guess I will have to rewrite some things in lantern...

[2017-11-23 12:36] Faithcaio commented on #1503
It is both.
There is a difference between
`inventory.slots().iterator()` and `inventory.iterator()`

[2017-11-23 12:36] #1503 closed, assigned to nobody

[2017-11-23 12:43] Cybermaxke commented on #1503
Ah ok, the inventories inside the container will also have the container as parent? Inventories are in lantern pre-constructed and not for every container, so I can't change the parent without wrapping around it.

[2017-11-23 13:00] Faithcaio commented on #1503
Direct Sub-Inventories in the container are all wrappers.
Thats why I added Slot#transform to convert the Slot in the container to a Slot in the actual Inventory (Chest or Player)
Also Slots in Containers are the real ones from vanilla.
Slots in Inventories do not exist so we have a wrapper for them.

Confusion!

[2017-11-23 15:15] JBYoshi commented on #23
https://github.com/SpongePowered/SpongeCommon/blob/27e245433a9939c6d1ea930c7049b1a3d5961176/src/main/java/org/spongepowered/common/command/SpongeCommandManager.java#L327-L331

Redundant `catch` clause. The `CommandException` one works fine for this.

[2017-11-23 15:17] JBYoshi commented on #23
https://github.com/SpongePowered/SpongeCommon/blob/27e245433a9939c6d1ea930c7049b1a3d5961176/src/main/java/org/spongepowered/common/command/SpongeCommandManager.java#L386-L391

The `if` statement should be a separate `catch` clause.

Also, the rest of the `catch` clause is only called for `RuntimeException`s. It may be able to be removed, unless having a log of the tab completion input is important

[2017-11-23 16:31] JBYoshi commented on #8
What's left for `WireAttachmentData`?

[2017-11-23 17:27] ImMorpheus commented on #212
Not able to reproduce using bleeding branch.

I'm not sure if this was fixed with the related issue or by #1305, but it can be closed.

[2017-11-23 18:30] parlough commented on #1533
I will get this fix in soon once I can get on a computer and test it.

[2017-11-23 18:30] phit opened #1613 "Server crash when DetonateExplosiveEvent is cancelled"
Reopening here, original issue https://github.com/SpongePowered/SpongeVanilla/issues/349

[code]

[2017-11-23 18:31] parlough commented on #1613
@JBYoshi I know you were fixing some things with explosions previously. Is this connected or could you handle this?

[2017-11-23 19:24] kashike commented on #1533
#1526

[2017-11-23 19:24] #1533 closed, assigned to kashike

[2017-11-23 19:41] ImMorpheus commented on #569
I'm not able to reproduce this with 1.12 (bleeding branch).

[2017-11-23 19:49] #569 closed

[2017-11-23 20:08] ImMorpheus commented on #464
I think this could be closed as a duplicate/related of #509

[2017-11-23 20:10] #464 closed

[2017-11-23 20:34] phit commented on #1566
belongs in SpongeForge, so closing this in favor of https://github.com/SpongePowered/SpongeForge/issues/1846

[2017-11-23 20:34] #1566 closed, assigned to nobody

[2017-11-23 20:51] phit commented on #1254
was fixed months ago with https://github.com/SpongePowered/SpongeCommon/pull/1257, closed

[2017-11-23 20:51] #1254 closed, assigned to gabizou

[2017-11-23 20:53] ImMorpheus commented on #846
Testing with 1.12 (bleeding branch):

1. and 2. are fixed. (They have player in the cause).
Playing around with 3. I noticed player wasn't in the cause because it was added in the context (this should be intended behavior as of the Cause refactor PR).

Fixed

Fixed

#732 was also resolved.

[2017-11-23 20:55] ImMorpheus commented on #732
DropItemEvent.Destruct has the player in the context thus allowing to connect an Explosion with its source.
Tested on 1.12 (bleeding branch)

[2017-11-23 21:12] ImMorpheus commented on #1270
Not able to reproduce with 1.12 (bleeding branch).

[2017-11-23 21:35] #846 closed

[2017-11-23 21:35] #732 closed

[2017-11-23 21:35] #1270 closed, assigned to nobody

[2017-11-23 21:50] phit commented on #212
I remember asking dualspiral about this a few weeks ago, what commands did you test this with @ImMorpheus ? last time I checked /sponge subcommands still had this issue

![image](https://user-images.githubusercontent.com/2097483/33189165-83cdfc70-d0a0-11e7-83a5-11760b957258.png)

[2017-11-23 22:10] ImMorpheus commented on #212
Code:

[code]

"/pr test < press tab >" didn't list the subcommand again, but the options for c (player list in this case)

"/pr test test" returned "No values matching pattern test present for player!" (expected behavior)

[2017-11-23 22:12] #212 closed

[2017-11-23 22:13] phit commented on #212
Thanks, closing this then.

[2017-11-23 22:17] ImMorpheus commented on #1098
Not able to reproduce with 1.12 (bleeding branch). The sign remains in mid-air.

For reference, listening to ChangeBlockEvent.Break is enough:

[code]

[2017-11-23 22:28] #1098 closed, assigned to nobody

[2017-11-24 00:13] ryantheleach commented on #651
I'm looking for people to test this on the latest versions we support.

[2017-11-24 00:28] ryantheleach commented on #212
@ImMorpheus there is some ambiguity over whether you would be expected to do `/pr test<tab><tab>` or `/pr test<space><tab><tab>`

Have you tested both? From memory one worked, one didn't but that may have well been addressed in my PR.

[2017-11-24 00:34] ryantheleach commented on #732
@ImMorpheus Were creepers, tnt, and explosions also present in the cause? (if you retest this, are you able to provide the cause in the issue reply)

[2017-11-24 00:52] ryantheleach commented on #436
Due to the age and cause refactor, I am looking for people to test this on 1.12

[2017-11-24 01:08] ryantheleach commented on #1084
Looking for some input on whether this is wontfix, if we can come up with a better error message, or otherwise work around this.

[2017-11-24 01:53] ryantheleach commented on #1134
@Meronat Do you know if this is still relevant? A smaller test plugin would go a long way in helping someone tackle this.

[2017-11-24 01:55] parlough commented on #1134
@ryantheleach I investigated this with Aaron at one point, and he may have made a fix, I don't remember. I will look for a relevant commit and test it as soon as I'm on a computer.

Thanks for bringing this to my attention, I forgot about it.

[2017-11-24 01:59] ryantheleach commented on #1001
I need someone to volunteer to test this in game under 1.12

[2017-11-24 02:09] ryantheleach commented on #989
There appears to be some contention on the way to resolve this.

What is the best way to resolve people disagreeing on the best method to solve this?

I'm looking for more input on a definitive way that this should be handled, so that a volunteer can potentially fix this.

[2017-11-24 02:13] ryantheleach commented on #1371
This is clearly a bug.
We should not claim in the log to save, if saving is disabled.

My opinion @i9hdkill is that /save-off should be the highest priority when it comes to auto-saves of any manner.

Backup systems use /save-off before triggering backups to ensure atomic writes and backups are performed. To do *anything* counter to this behavior would risk peoples backup systems.

I believe a war

[2017-11-24 02:15] ryantheleach commented on #1381
@DarkArc Can you dump the NBT before and after? Also I suspect this should be moved to SpongeForge unless you can isolate the part of SpongeCommon that is at fault.

[2017-11-24 02:20] DarkArc commented on #1381
I haven't done Minecraft stuff in a while... So I'm not setup to provide that information.

[2017-11-24 02:25] ryantheleach commented on #1385
This issue is solely about:

Correct?

[2017-11-24 02:29] ryantheleach commented on #1508
The log states this was from : spongevanilla-1.12.1-7.0.0-BETA-314

@Faithcaio It's my assumption that this is buggy behavior, and that we don't expect the event to be thrown when setting it back to the original slot?

@RysingDragon A test plugin would save the devs a little time.

[2017-11-24 02:38] ryantheleach commented on #1564
I'll be honest, I'm not exactly following this conversation.

Can someone please come up with a summary of

- What's wrong.
- What the proposed fix is.

So someone can potentially follow up?

I've got somewhat of an idea, but with 0 confidence that my interpretation is correct, or that it successfully covers xakep's issue, so feel a summary of some kind would be very helpful.

@XakepSDK In the fut

[2017-11-24 02:44] ryantheleach commented on #1583
Related: https://github.com/SpongePowered/SpongeCommon/issues/41

[2017-11-24 02:45] ryantheleach commented on #1584
@n00b42 In order to save developer time when it comes to recreating this issue for debugging, a small test plugin source uploaded to gist would be appreciated.

I've marked this as an accepted bug, due to it appearing on this list as implemented: https://github.com/SpongePowered/SpongeCommon/issues/41

[2017-11-24 02:51] ryantheleach commented on #1404
@JBYoshi The Explosion Code in IC2 and Sponge is ... interesting.

At the moment we have nearly no support for forge in regards to explosions of any nature, we need to both send back the explosion events to forge for our own explosions, as well as being able to handle modded explosions which as far as I can tell we can't really in a way that makes sense...

[2017-11-24 03:15] DawnTheFawn1 commented on #1508
@ryantheleach Ah my bad, somehow I missed filling out that field creating the issue. I also just tested it again on the latest spongevanilla (spongevanilla-1.12.2-7.0.0-BETA-356) and it's still a problem. Here's a gist with test plugin code as requested. https://gist.github.com/RysingDragon/2262edb459ee7ba808b089b8c981e2bd
Using either of the two lines of the event ends in the same result as shown

[2017-11-24 03:24] ryantheleach commented on #2635
@VapidLinus In future, please bring up issues with the implementation in SpongeCommon. SpongeAPI is reserved for design issues/bugs / feature planning. Can you test this with Faiths recent change?

[2017-11-24 04:03] ryantheleach opened #1614 "Sponge needs to support multiple protection enchantments."
https://github.com/SpongePowered/SpongeForge/issues/1588
https://github.com/SpongePowered/SpongeVanilla/issues/307

https://github.com/SpongePowered/SpongeForge/issues/1783
https://github.com/SpongePowered/SpongeForge/issues/1616

There is no knowing what mods will do, and Vanilla Minecraft already contains this behavior.

Under rare circumstances, mobs will spawn with duplicate enchantments on ar

[2017-11-24 06:42] Faithcaio commented on #2635
My fix was only for BlockSnapshot#restore (which is called by canceling events)

[2017-11-24 08:58] RedNesto commented on #1001
This is no longer an issue: The ChangeBlockEvent.Break is fired before the SpawnEntityEvent, and cancelling the ChangeBlockEvent.Break does not drop the experience orbs.

However, the cause is still the Player and not the Spawner.

Tested with:
- forge-1.12.2-14.23.0.2529-universal
- spongeforge-1.12.2-2529-7.0.0-BETA-2744
- [this test plugin](https://gist.github.com/RedNesto/940915d3586831a06a410

[2017-11-24 10:52] Sir-Will commented on #1385
As far as I remember yes.

[2017-11-24 14:17] ryantheleach commented on #1001
Thanks @RedNesto appreciated!

[2017-11-24 14:46] ImMorpheus commented on #212
I tested both.
I also tried with a sponge subcommand (since phit mentioned them), specifically `/sponge tps`, no issues so far.

[2017-11-24 15:00] ImMorpheus commented on #651
Step to reproduce:

1. `/tp 29998983 ~ 29998983`
2. Start flying toward x = 29999999
3. As soon as you approach the worldborder, the server crashes.

[code]

Crash report:

[code]

[2017-11-24 15:49] ImMorpheus commented on #732
Yep

Creeper explosion:
![creep](https://user-images.githubusercontent.com/24737505/33217194-d40a0af6-d12e-11e7-8c09-a6e043732cbc.png)

TNT explosion:
![tnt](https://user-images.githubusercontent.com/24737505/33217195-d445fab6-d12e-11e7-8076-6679b6d55ca6.png)

[2017-11-24 16:02] ryantheleach commented on #732
Cool, thanks for taking the time.

[2017-11-24 16:04] ryantheleach commented on #731
With https://github.com/SpongePowered/SpongeCommon/issues/732 closed and the Cause Tracker going through several revisions, I'm confident that this issue is also closed.

[2017-11-24 16:04] #731 closed

[2017-11-24 16:21] ImMorpheus commented on #1314
As noted by the SpongeVanilla issue, this is still happening with 1.12, we can remove the 1.11 label.

[2017-11-24 16:26] ryantheleach commented on #436
@viveleroi @Aaron1011 If you are still interested in this / if it is still relevant, I have had @RedNesto volunteer to look into this issue, however, I was unable to give them tips on exactly what was being asked.

I've looked at the BanService and it hasn't changed since this ticket was created.

Am I correct in thinking that this issue is about trace-ability of ban causes, and finding out who wa

[2017-11-24 16:36] viveleroi commented on #436
Close, I was looking for the person responsible for *pardoning* a player. Causes were overhauled multiples times since this was filed, so if that data is now available through the CSM (that sounds like the recommended way to obtain it), then I think this can be closed.

[2017-11-24 16:47] ImMorpheus commented on #906
you again DropItemEvent ?

Duplicate of #732

[2017-11-24 17:03] #906 closed

[2017-11-24 17:26] ImMorpheus commented on #1041
Tested in 1.12 (bleeding branch).

[code]

Note: the event is called twice. It could be related to #1447, but this specific issue is fixed in the latest version.

[2017-11-24 17:28] #1041 closed, assigned to nobody

[2017-11-24 19:54] JBYoshi commented on #1613
Not connected, but this seems to be an easy fix. I just need to test it.

[2017-11-24 22:12] ImMorpheus commented on #436
AFAIK PardonUserEvent is not implemented.
How would you be able to obtain the command source ?

EDIT:

@ryantheleach viveleroi's initial point is valid and not fixed by the CSM. The method we should implement PardonUserEvent into (https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/service/ban/SpongeBanService.java#L135 ) is never called.
As he noted,

[2017-11-25 07:28] ryantheleach commented on #1613
@JBYoshi I'm not 100% sure that this is the correct fix, What is the correct definition of Primed? Maybe it shouldn't be checking the primed state at all?

[2017-11-25 07:34] ryantheleach commented on #436
@ImMorpheus Sure, but the cause should also be available via the CauseStackManager directly, without the event right? (Or was this part of the 'implementing the event and fixing the methods' you described?)

Either way, if you believe you have fixed it locally, I would appreciate seeing a patch / PR depending on what you have time to submit.

For the Sponge Ban Service I would assume the responsib

[2017-11-25 07:58] ryantheleach commented on #569
To follow up, it is by design for most of the elements, and GenericArguments.remainingRawJoinedStrings is now exposed.

[2017-11-25 15:39] ImMorpheus commented on #436
You mean like this ?

[code]

The `fixing the methods` part is needed to implement PardonUserEvent.

PR below.

[2017-11-25 20:57] JBYoshi commented on #1613
"Primed" means it will explode. "Defuse" means cancelling a future (primed) explosion. During the event, the TNT is still "primed" because it only explodes after the event finishes.

[2017-11-26 13:17] ImMorpheus commented on #1280
This is still happening in 1.12 (bleeding branch)

The first bug:
The problem is with DropItemEvent.Pre only when it doesn't involve a player, rather that the whole event. As a proof try use /kill. There would be no stacktrace, but why ? When a player drops something, https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/entity/EntityUtil.java#L981 is c

[2017-11-26 20:59] #1314 closed, assigned to gabizou

[2017-11-27 04:31] ghost opened #1620 "Thread Safe-ish ArchetypeVolume"
Hello,

I was messing around earlier today with gravityfox using Archetype Volumes, and we noticed an odd issue.
Block volumes that are not bound to an extent (copies and archetypes), are invoking the cause tracker.  By not invoking the cause tracker, it would stop crashing the cause tracker every time you modify a ArchetypeVolume off thread.

Occurs in API 6 (a5618c7) & 7 (1841e2f) and maybe more

[2017-11-27 04:34] ryantheleach commented on #1620
@d4rkfly3r What versions were you testing with? If latest bleeding, a link to the git commit would help future people.

[2017-11-27 04:38] gravityfox commented on #1620
happens with api 6: https://github.com/SpongePowered/SpongeCommon/blob/stable-6/src/main/java/org/spongepowered/common/world/extent/worker/SpongeBlockVolumeWorker.java#L151

Block archtype volumes extend that, making them unusable off thread, since they'll try to set the phase at arbitrary times. It actually makes no sense for the cause tracker to watch block archtype volumes at all.

It looks lik

[2017-11-27 18:51] phit opened #1621 "Player getting kicked when picking up item during login"
spongeforge-1.12.2-2529-7.0.0-BETA-2746

When a player logs in on top of an item and picks it up while still loading in the server will kick the player
https://gist.github.com/anonymous/0d0ff671dfb6471db26d3f98ec3a038e

probably introduced by https://github.com/SpongePowered/SpongeCommon/pull/1602

[2017-11-27 18:57] phit commented on #1621
fixed by https://github.com/SpongePowered/SpongeCommon/commit/fd584343416f9e58362bbc7e00ed7e0fca5b564a

[2017-11-27 18:57] #1621 closed, assigned to nobody

[2017-11-27 19:52] ImMorpheus commented on #659
Still happening with 1.12 (bleeding branch)

[code]

[2017-11-28 01:17] ryantheleach commented on #1365
I meant to close this when it was moved to SpongeAPI

[2017-11-28 01:17] #1365 closed, assigned to parlough

[2017-11-28 06:08] me4502 opened #1623 "ItemDropEvent.Dispense isn't called for dispensers"
**I am currently running...**
- SpongeVanilla version: 4566f6122f7d19c7aa0c7ceb8e3019986d431694 (Commit hash, built from source)
- Java version: 1.8.0_151
- Operating System: Windows 10 64 Bit 16299
 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows
- Plugins/Mods:

**What is the expected result?**
The event gets called

**What is the current result?**
The event doesn't get cal

[2017-11-30 15:14] #830 closed

[2017-11-30 15:18] #868 closed

[2017-11-30 17:52] #1511 closed, assigned to Aaron1011

[2017-12-01 01:33] Dockter opened #1626 "remove unused config options"
Review of the code revealed the configuration option:

https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/config/category/GeneralCategory.java#L33

Is not actually implemented anywhere in the rest of common or within SF.

[2017-12-01 01:45] phit commented on #1626
Trying to figure out if it was ever used, 2 config refactors earlier it was already there https://github.com/SpongePowered/SpongeCommon/commit/83b2bf765a85829290e07e09397ef6c5bc8a72ad#diff-159a931fa5efcd9155ae5182cb14456bR363

[2017-12-01 01:46] Dockter commented on #1626
Ideally it could be used to turn off the annoying warning within MinecraftServer.java at line 544, "can't keep up! Did the system time change, or is the server overloaded?"

I'm working on trying to do a mixin to target that.

[2017-12-01 01:57] phit commented on #1626
so I cloned https://github.com/SpongePowered/SpongeVanilla/commit/2802b4378b2d91f40db8d183cb63ab4b9ab64e44 recursively and ran a search on all files and even back then nothing used this option

[2017-12-01 07:57] me4502 commented on #1623
So just realised there's a larger dispenser-related issue.

Dispensers don't only dispense items. It'd make sense to have an event that's called when dispensers are activated, so that all of their actions can be overridden/cancelled.

[2017-12-01 08:05] parlough commented on #1623
I believe their other actions should be able to be handled in other ways already, but an extra event that occurs before hand may not hurt to group them all together.

For example a lot is handled by `SpawnTypes.DISPENSE` and changing the block to water should be handled by having the dispenser in cause/context. This may not all be implemented though, but that is another issue.

[2017-12-01 08:09] me4502 commented on #1623
Fair enough then. I can't think of anything those two cases wouldn't cover.

[2017-12-02 20:05] #1614 closed, assigned to JBYoshi

[2017-12-02 20:06] gabizou commented on #998
Pretty sure that this is now fixed since Causes refactor.

[2017-12-02 20:06] #998 closed, assigned to bloodmc

[2017-12-02 21:31] JoeSGT opened #1631 "Pre-Generation Error's"
**I am currently running...**

- SpongeForge version: 1.12.2-2529-7.0.0-BETA-2748
- SpongeVanilla version:
- Java version:  8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:
i just had Nucleus plugin
**What is the expected result?**
that error was repeatedly showing in console to the point where it got to the log got 11GB
size of the log

[2017-12-02 21:31] #1102 closed, assigned to gabizou

[2017-12-02 21:31] gabizou commented on #1102
Closed as this has been rectified with DataRegistration.

[2017-12-02 21:34] gabizou commented on #1631
This should be fixed in the latest builds (2751 or 2752), though 2753 (which is currently building) will have another fix for another issue. Please re-test with at least 2751.

[2017-12-02 22:30] JoeSGT commented on #1631
I am in the process of doing it
I had Deleted My Region folder
and pre-generating the end world again
I am now on SpongeForge 1.12.2-2529-7.0.0-BETA-2753
and i have updated Forge to 1.12.2-14.23.1.2559
i will let you know when the pre-generation is done
or if the error occurs again

[2017-12-03 01:28] Dockter opened #1633 "Utilizing Sponge Scheduler without being a SpongePlugin."
Hello,

I have a mod that I have made depend on SpongeAPI so that I may utilize the permissions system.  I would also like to utilize the scheduler but I have found that the builder .submit requires a plugin object.

Since this mod isn't a true spongeplugin and is simply just depending on SpongeAPI for some of its feature set is there a way I can utilize the scheduler system without making it a fu

[2017-12-03 01:37] Dockter commented on #1633
Apparently simply passing in the mod instance works here,  TY Meronat.

[2017-12-03 01:37] #1633 closed, assigned to nobody

[2017-12-03 05:11] JoeSGT commented on #1631
it seem it's fix Pre-generation is completed without any errors thanks

[2017-12-03 05:11] #1631 closed, assigned to nobody

[2017-12-03 07:12] liach commented on #1633
Yeah. Apparently, sponge plugins are just forge mods in SpongeForge.

[2017-12-03 07:56] FabioZumbi12 opened #1634 "remainingJoinedStrings not completing player names when tab"
**I am currently running...**

- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2757
- SpongeVanilla version:
- Java version: 1.8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:
Plugins (9): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, EconomyLite, LuckPerms, Nucleus, SignEditor, UltimateChat
**What is the expected r

[2017-12-03 09:58] dualspiral commented on #1634
[This is intentional](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/command/args/GenericArguments.java#L784-L797). In general, you don't want there to be tab completion for strings, integers, etc. That includes having player names - usually, if you're wanting to get a player out, you'd use `GenericArguments.player()` anyway.

That said, recognising th

[2017-12-03 10:10] FabioZumbi12 commented on #1634
According docs, remainingJoinedStrings is "useful for message commands", and messages always can have player nicks, like the normal chat message, where when you use tab, auto-completes the nickname!

And i tryed with `GenericArguments.player()` and when the i have more strings on message, this don't tab complete the player name, and if i have only the nickname, this returns the player instead a st

[2017-12-03 12:19] FabioZumbi12 commented on #1634
For now, i using this to make what i want:
(cant use `args.next` because exception not allowed on lambda)
[code]
But still the suggestion!

[2017-12-03 16:27] mattmess1221 commented on #1634
@FabioZumbi12 Be careful with that. If you have a vanish plugin installed, it won't hide vanished players from others without the permission.

[2017-12-04 18:51] Valandur opened #1637 "DataManipulator exceptions"
As mentioned to @Meronat on Discord there are a few unexpected exceptions that are thrown by DataManipulators. These errors were tested on chickens and sheep, but probably apply more generally to most entities.

## entity.supports
[code]
This error is thrown by following classes when calling `entity.supports(<DataManipulatorClass>)`:

- [x] org.spongepowered.api.data.manipulator.mutable.entity.Dom

[2017-12-05 02:38] #1609 closed, assigned to JBYoshi

[2017-12-05 07:11] JoeSGT opened #1638 "Duplication Dragon egg when cancelling interact event"
**I am currently running...**

- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2758
- SpongeVanilla version:
- Java version: 8
- Operating System:

 - [ ] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [x] Windows

- Plugins/Mods:
LuckPerms-Sponge-4.0.36
griefprevention-1.12.2-4.3.0.505
**What is the expected result?**
Here how i do it i first get a ender dragon egg (vanilla)
and i make a large

[2017-12-07 21:08] parlough commented on #1561
Parrot variant is now implemented in the latest bleeding builds, not sure when I'll leave a chance to do last damage though as it is more involved I believe. I'll look into it though.

[2017-12-08 06:02] gabizou commented on #1561
Why this wasn’t closed to direct to #8 is not something I’m going to spend time to. These warnings have been pretty standard to attach to said issue. Duplicate of #8

[2017-12-08 06:02] #1561 closed, assigned to parlough

[2017-12-08 23:14] FabioZumbi12 commented on #1634
Added a `player.cansee(other)` check ;)

[2017-12-10 07:20] #1237 closed, assigned to nobody

[2017-12-10 16:06] ustc-zzzz opened #1642 "PropertyStrategy is not implemented correctly"
Please refer to [PropertyStrategy.java](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/item/inventory/query/strategy/PropertyStrategy.java#L62). In this line (L62), it use `equals` rather than `Property#matches` for testing properties, and it will only compare property values.

For example, `inventory.query(SlotIndex.greaterThanOrEqual(9))` only

[2017-12-10 16:30] liach commented on #1642
@ustc-zzzz You should make a pull if it fixes a bug, especially for important bugs like this one.

[2017-12-10 17:23] ustc-zzzz commented on #1642
<https://docs.spongepowered.org/stable/en/contributing/guidelines.html>

[2017-12-10 17:48] liach commented on #1642
Even https://github.com/SpongePowered/SpongeAPI/pull/1115 is merged, so I thought that may be the case.

[2017-12-11 01:33] ryantheleach commented on #1637
I believe some of the entity::supports is expected behavior because some of the Data API still remains to be implemented (#8), so I will leave off any that are marked as unimplemented in #8

However, the following have been marked as implemented, so it is strange that they still throw an error for

**Entity::supports**

- [ ] org.spongepowered.api.data.manipulator.mutable.block.FilledData
- [ ] or

[2017-12-11 13:10] felixoi opened #1644 "DamageEntityEvent not working with armor stands"
SpongeAPI version: stable-6
SpongeCommon version: stable-6
SpongeForge version: stable-6

**What is the expected result?**

The `DamageEntityEvent` should be called when a `ArmorStand` is hit since it's an entity.

**What is the current result?**

The `DamageEntityEvent` isn't fired for `ArmorStand`s.

My listener code:
[code]

When I hit a `Slime` it's working. Output:
`[14:20:42] [Server thread/

[2017-12-11 18:01] Tommeh3 opened #1646 "Failed loading Sponge data for World {All dimensions} Report to Sponge ASAP.(Crash)"
My server has been running fine for over a month after which it was suddenly unable to load due to the issue which can be found in the title and log(Failed loading Sponge data for World...)
I removed spongeforge and all plugins after which the server was able to load and after that i re-added spongeforge and then it couldn't load anymore yet again so it's clearly spongeforge.

- SpongeForge versio

[2017-12-11 18:48] dualspiral commented on #1646
Relevant parts:

[code]

Your `level_sponge.dat` files are corrupted, if you've got `level_sponge.dat.old` files in the `world/`, `world/DIM-9999`, `world/DIM-1` and `world/DIM-11325` directories, remove your `level_sponge.dat` files and rename the `old` files as `level_sponge.dat`. Alternatively, just delete the `level_sponge.dat` files.

[2017-12-11 19:04] Tommeh3 commented on #1646
I removed them and now i get this 11.12 14:03:05 [Server] Server thread/ERROR Exception reading ./world/level.dat
11.12 14:03:05 [Server] INFO java.io.EOFException
11.12 14:03:05 [Server] INFO at java.util.zip.GZIPInputStream.readUByte(GZIPInputStream.java:268) ~[?:1.8.0_131]
11.12 14:03:05 [Server] INFO at java.util.zip.GZIPInputStream.readUShort(GZIPInputStream.java:258) ~[?:1.8.0_131]
11.12 14:

[2017-12-12 01:11] ryantheleach commented on #1644
~~Are armor stands damageable in the classic sense? Or would this be a different type of interact entity event?~~

**Edit:** https://forums.spongepowered.org/t/cancel-entity-death-on-kill/21725/4

[2017-12-12 02:55] Dockter commented on #1646
I have experienced the same issue once with 1.12.2 but it was caused by corruption saved to the file when my SSD was freaking out.

[2017-12-12 20:49] Tommeh3 commented on #1646
Apperently i had forgotten to remove one of them xD

[2017-12-13 02:33] JoeSGT opened #1647 "using fallback lens (logging)"
**I am currently running...**

- SpongeForge version:  spongeforge-1.12.2-2555-7.0.0-BETA-2766
- SpongeVanilla version:
- Java version: 8
- Operating System:

 - [x] Linux (Ubuntu, Debian, Fedora, etc)
 - [ ] macOS
 - [ ] Windows

- Plugins/Mods:

**What is the expected result?**
https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/tileentit

[2017-12-13 05:34] ryantheleach commented on #1647
Is this without any mods or plugins? (I get you want it removed, and that it was probably left in by accident, but I'm also curious as to what tile entity was using the fallback)

[2017-12-13 06:04] JoeSGT commented on #1647
Just found out how do reproduce this bug
get an Iron Chest mod for 1.12.2
and get those new Shulker Box from Iron Chest mod
place it down and open
so each time you open it, it shows that console `using fallback lens`

[2017-12-13 06:46] ryantheleach commented on #1647
Cheers, that's expected, but the spam isn't as far as I know.

But just a heads up:

1. Thanks for taking the time to find the exact line in the mixin, it makes it a ton easier to triage things.

2. Iron chests arn't in vanilla, you failed to list the mods or provide the log in the ticket, I would have really really appreciated seeing the mods and plugins listed in the ticket.

[2017-12-13 06:54] JoeSGT commented on #1647
Sorry i usually put the mods/plugins list and or logs is that i was in a hurry and i rush it
when i had time i look into a bit more

[2017-12-13 11:31] janabimustafa opened #1649 "Hoppers broken"
**I am currently running**

- SpongeForge version:
- SpongeVanilla version:
spongevanilla-1.12.2-7.0.0-BETA-370
- Java version:
openjdk version "1.8.0_131"
- Operating System:
mineos-node inside Docker running on Unraid.

- Plugins/Mods: None

**Issue Description**
Shift+right click with a hopper on a chest then place the items inside the hopper. Items will not drop inside the chest.

[2017-12-13 18:42] ghost opened #1650 "[1.12.2] advancement trigger minecraft:inventory_changed does not work with sponge"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2764
- SpongeVanilla version: 1.12.2-7.0.0-BETA-369
- Java version: 8
- Operating System:linux

**Issue Description**
Server not trigger advancement action when  minecraft:inventory_changed

Does not working on the spongevanilla and spongeforge too.
Work with mojang server, Spigot and SinglePlayer.

[2017-12-13 19:32] #1649 closed, assigned to Faithcaio

[2017-12-13 19:35] Faithcaio commented on #1647
Removed in latest.
Was just an info for me when I was making fallbacks for TileEntity Inventories we did not mixin into directly.

[2017-12-13 19:35] #1647 closed, assigned to Faithcaio

[2017-12-13 19:53] Faithcaio commented on #1489
Since API 7 you can `slot.transform()` to convert the slot in the container to the slot in the inventory.
`slot.transform().parent()` is then the viewed inventory.

I'd say it is correct that the events `slot.parent()` returns the container.
Slots are childs in the container. The viewed inventory is only referenced in slots.

[2017-12-13 20:08] NeumimTo opened #1651 "Multiple problems with ender dragon entity"
**I am currently running**

- SpongeVanilla version: 1.12.2-7.0.0-BETA-372
- Java version: 8
- Operating System: linux

- Plugins/Mods: none

1) problem (no longer relevant see comments)
  - Interact with block
  - Entity is spawned on the server side but client receives no packet
  - to see the dragon player have to re-login.

 2) problem
   - player is kicked after dismounting (pressing shit) an

[2017-12-13 20:14] Faithcaio commented on #1650
caused by overwrite in `MixinEntityPlayerMP.sendSlotContents` (used for updating client crafting output with custom recipes)

Now using inject instead of overwrite.
We might not need this code in 1.13 anymore.

[2017-12-13 20:26] #1650 closed, assigned to Faithcaio

[2017-12-13 20:45] Faithcaio commented on #1597
should work with that merged PR

[2017-12-13 20:45] #1597 closed, assigned to Faithcaio

[2017-12-13 20:59] #1508 closed, assigned to nobody

[2017-12-13 21:08] Eufranio commented on #1651
Try to spawn the entity via `world.spawnEntity(Entity e)`, from [EntityUniverse](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/world/extent/EntityUniverse.java#L259), before adding it's passenger.

[2017-12-13 21:14] #1642 closed, assigned to Faithcaio

[2017-12-13 21:16] NeumimTo commented on #1651
That helped with the first problem, but dismounting remains broken

[2017-12-15 22:46] MrIngelborn opened #1653 "Block update issues"
**I am currently running**

- SpongeVanilla version: 1.12.2-7.0.0-BETA-374
- Java version: openjdk version "1.8.0_131"
- Operating System: Linux

- Plugins/Mods: Minecraft, Mod Coder Pack, SpongeAPI, SpongeVanilla, Discord Bridge, GriefPrevention, LuckPerms, Nucleus

**Issue Description**
Having issues with block updates:
- Removing a block that a torch is attached to does not break the torch
- Br

[2017-12-16 00:33] phit commented on #1642
to note this down somewhere for reference, this changes the behavior of `new SlotPos`

[2017-12-16 04:55] seema84 opened #1654 "JRE 9.0.1"
**I am currently running**

- SpongeVanilla version: Build 1.12.2-7.0.0-BETA-374
- Java version: 9.0.1
- Operating System: Windows 7

message ->

Exception in thread "main" java.lang.RuntimeException: We have detected that you are JRE version 9.0.1, which is out of date!
In order to run Sponge, you **must** be running JRE version 1.8.0_20 (or above).

Previous builds of JRE version 1.8 will not wo

[2017-12-16 04:56] mattmess1221 commented on #1654
Java 9 is not supported. It breaks everything.

[2017-12-16 05:00] seema84 commented on #1654
I thought that too but this message its not true.

[2017-12-16 05:08] mattmess1221 commented on #1654
So this message is wrong? I think I see.  Java 9 is greater than Java 1.8, but the notation changed so everything broke. Though it seems to work in our favor for now.

[2017-12-16 05:11] seema84 commented on #1654
ok it was just a hint :-)

[2017-12-16 05:11] mattmess1221 commented on #1654
You should modify the issue title and description to mention this.

[2017-12-16 05:12] mattmess1221 commented on #1654
Also related. #1578

[2017-12-16 05:16] seema84 commented on #1654
changed and yes i dont saw this issue

[2017-12-16 10:38] kashike commented on #1654
#1553
#1578
https://github.com/SpongePowered/SpongeVanilla/issues/355

[2017-12-16 10:38] #1654 closed, assigned to nobody

[2017-12-16 12:46] ustc-zzzz commented on #1524
No, it's not the point, although after #1642 you should use `SlotPos#of`.

`SlotPos` is a property added in `GridInventory` (also `Inventory2D`), and there are two `GridInventori`es in player's inventory: the hotbar (including 9 slots), and the main inventory (including 27 slots).

When `Inventory#query` is executed, Sponge will make a depth-first search, and it will not only search the player's i

[2017-12-16 13:09] ustc-zzzz commented on #1524
Let me explain further about what's the meaning of "belonging to". Consider a small chest which contains 27 slots. Every slot has a global inventory property called `SlotIndex` *belonging to* the whole chest, from 0 to 26. Besides, a chest inventory has 9 columns and 3 rows. Every slot also has 2 `SlotIndex`es, the one is *belonging to* a column, from 0 to 2, and the other is *belonging to* a row,

[2017-12-16 14:10] cirkusapan commented on #1653
On the same server as ^

**More Issues**
- Sponges does not remove water properly
- When doors are broken half of the door remains

[2017-12-16 15:39] felixoi opened #1655 "Cancelled DamageEntityEvent sends success message"
SpongeForge: `bleeding`
SpongeCommon: `bleeding`
SpongeAPI: `bleeding`

**What is the expected result?**

The entity shouldn't be killed and no message should be send to player and/or console.

**What is the current result?**

If I cancel the `DamageEntityEvent` and try to kill it with `/kill` the entity will not die but i get the success message, e.g.:

`Killed Slime` --> Player
`[felixoi: Killed

[2017-12-16 17:10] Kazer-67 commented on #1653
**More Issues**

- Removing a block that a redstone torch is attached to does not break the redstone torch
- Removing a block that a redstone dust is attached to does not break the dust torch
- Removing a block that a rail is attached to does not break the dust rail

[2017-12-16 17:42] Kazer-67 commented on #1653
More Issues

    Removing a block that a redstone torch is attached to does not break the redstone torch
    Removing a block that a redstone dust is attached to does not break the redstone dust
    Removing a block that a rail is attached to does not break the rail
    Removing a block that a repeater is attached to does not break the repeater

[2017-12-16 22:03] Faithcaio commented on #1653
@gabizou https://github.com/SpongePowered/SpongeCommon/commit/7698effc04b7fa6a28ef199a2131135bee01f14f also breaks ChangeBlockEvent cancel

[2017-12-17 21:07] StoneLegion commented on #1653
**Using Sponge Forge Version:**
spongeforge-1.12.2-2555-7.0.0-BETA-2774.jar
forge-1.12.2-14.23.1.2566-universal.jar

Also experiencing the same issue. So far gravel, sand, and other physical full blocks seem somewhat normal. But I'm finding anything that has no player collision? that should drop when say grass, sugarcane even breaking the bottom block of it, etc does not fall/break.

Example pictu

[2017-12-18 09:22] DosMike opened #1657 "Queueing SlotTransactions taking items into the offhand"
**I am currently running**
- SpongeForge version: n/a
- SpongeVanilla version: 1.12.2-7.0.0-BETA-374
- Java version: 1.8.0_151-b12
- Operating System: Windows 7

- Plugins/Mods: Minecraft, Mod Coder Pack, SpongeAPI, SpongeVanilla, LangSwitch, Lockette, Mikes ToolBox (used here for testing), Total Economy, VillagerShops, WarCraft MC, Web-API, Web-API API, WebBooks

**Issue Description**
Basically I

[2017-12-19 02:59] parlough commented on #1127
I don't believe this should be an issue still, if it is, please reopen.

[2017-12-19 02:59] #1127 closed, assigned to gabizou

[2017-12-19 03:28] #1653 closed, assigned to gabizou

[2017-12-19 14:03] bangbang93 opened #1660 "Why change cactus DamageSource"
https://github.com/SpongePowered/SpongeCommon/blob/74080b0c75e59075f164f5151b08be395e2d17fc/src/main/java/org/spongepowered/common/mixin/core/block/MixinBlockCactus.java#L67

This comes from 04ea0e6a2732ac1e24c34584b8d7ec1a2f44786e
It sets the FireDamage of cactus DamageSource to true.
This is not normal behavior and let my plugin do something unexpected.

![image](https://user-images.githubuserco

[2017-12-19 14:25] #1660 closed, assigned to JBYoshi

[2017-12-19 16:01] JBYoshi commented on #1651
I've traced it down to a "divide by zero" error in `EntityDragon`.

[2017-12-19 16:33] JBYoshi commented on #1651
Fixed in 01f6126d4b8229ca019b4f81293320d768ca6dc3.

[2017-12-19 16:33] #1651 closed, assigned to nobody

[2017-12-19 20:09] JBYoshi commented on #1638
Cannot reproduce.

Code:
[code]

I repeatedly left clicked a dragon egg in survival. While I saw particles, I did not see any new dragon eggs appear, and the original stayed in its place.

SpongeForge 1.12.2-2555-7.0.0-BETA-2783

[2017-12-19 23:18] JoeSGT commented on #1638
I have updated to
SpongeForge 1.12.2-2555-7.0.0-BETA-2783
and it seem i was wrong sorry about it
if you have a claimed base using GP
and have someone trusted and right click it or you can right click in survival,
the egg dupe's and just do it a few times and it does glitch here a screenshot of it
https://gyazo.com/d2bc50cac5671b755777a6f6fd7237d6
sorry i should have look into a bit more
but @blood

[2017-12-20 04:33] bloodmc commented on #1638
@JBYoshi cancel all interacts to see if it can be reproduced. If not I'll look at it in GP when I get some time.

[2017-12-20 16:01] bloodmc commented on #1638
OK so I did some testing and confirmed that someone broke 'ChangeBlockEvent.Place' in recent Sponge builds. The ChangeBlockEvent.Place is now sending 2 packets with the second being from "BasicPluginState".

Here is the cause that comes across second event
[code]

This is AFTER GP cancels the first event yet the second event still maintains the transactions with a bogus cause.

Here is the stack t

[2017-12-20 19:49] JoeSGT commented on #1638
@bloodmc https://gyazo.com/f0924cbfb5b2f6a5228bdee68cf907fa
not fixed it's worse
version i am running is spongeforge-1.12.2-2555-7.0.0-BETA-2785

[2017-12-20 21:05] bloodmc commented on #1638
@JoeSGT Ah yes, the bug i fixed was related to dupe issue with border cancels. For some reason I got this ticket confused with other =)

[2017-12-20 21:28] Eufranio opened #1661 "GrantAchievementEvent.TargetPlayer not being fired"
**I am currently running**
- SpongeForge version: 1.10.2-2477-5.2.0-BETA-2782

On latest SpongeForge for API5 (1.10.2), the GrantAchievementEvent.TargetPlayer event is not being fired. You can reproduce it with a simple listener:
[code]

[2017-12-20 21:38] phit commented on #1661
please refer to https://github.com/SpongePowered/SpongeCommon/issues/41

[2017-12-20 21:38] #1661 closed, assigned to nobody

[2017-12-20 21:40] Eufranio commented on #1661
Well, it **was** implemented and working some time ago. What changed?

[2017-12-20 21:42] phit commented on #1661
https://github.com/SpongePowered/SpongeCommon/issues/1293#issuecomment-292800852
https://github.com/SpongePowered/SpongeAPI/pull/1434

[2017-12-20 21:56] ImMorpheus commented on #727
me is right. They were introduced in https://github.com/SpongePowered/SpongeAPI/commit/a13a8d6250298bdcd050deeeed314bfea907e9ea

Implemented by https://github.com/SpongePowered/SpongeCommon/commit/60e57b0ce444babc985b4f98871515ed3eff2e53

This issue was opened months before, it can now be closed (?)

[2017-12-21 01:28] bloodmc commented on #1638
pushed a fix to GP to solve this issue for now.

[2017-12-21 01:28] #1638 closed, assigned to nobody

[2017-12-22 06:44] Deamon5550 commented on #23
Fixed many issues in 984f1d7869a03a9489b9711516e2f5b698366507 and relevant comments were removed

[2017-12-22 19:21] #1530 closed, assigned to nobody

[2017-12-22 19:21] phit commented on #1530
fixed in https://github.com/SpongePowered/SpongeCommon/commit/ef98b84e9524da59e1b7a3d743610c41b2b3f7fc

[2017-12-22 19:45] gabizou commented on #727
Correct, this should have been closed a while back when the CauseTracker was initially rewritten (dunno how may times it's been rewritten now, but well, it's been at least 2).

[2017-12-22 19:45] #727 closed

[2017-12-23 02:47] LXGaming opened #1662 "NullPointerException: Exception ticking world"
**I am currently running**

- SpongeForge version: 1.10.2-2477-5.2.0-BETA-2790
- SpongeVanilla version: N/A
- Java version: 1.8.0_144
- Operating System: Linux

- Plugins/Mods:
SkyFactory 3 v3.0.15
Listed in provided pastebin.

**Issue Description**
Appears the server crashed when a player was exploring the Nether on SkyFactory 3
Crash Report: https://pastebin.com/HcKkYsYE

[2017-12-23 13:05] felixoi opened #1665 "Custom CommandElement throws wrong error"
I created my own `CommandElement`:

[code]

It searches for holograms with the id and throws an error if it's not found. The error text is `This hologram does not exists!` but if I use this `CommandElement` with an unknown id the error message is `Too many arguments`:

![picture](https://i.gyazo.com/d17972c085dc5fecbff56a4d6cae4921.png)

[2017-12-23 19:20] randombyte-developer commented on #1450
So this won't ever be fixed? I heard support for 1.11.2 will be dropped on 31st December.

[2017-12-23 19:52] gabizou commented on #1450
I tried poking the issue but for some reason, even though fix is already in place, it doesn't seem to work as intended in this circumstance. But yes, eventually development will cease for 1.11.2. If anyone is able to fix the issue itself, by all means, but I'm not likely to have the time to resolve this one by the due date for API 7's release.

[2017-12-23 20:31] #545 closed

[2017-12-23 20:37] JBYoshi commented on #1665
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/37aebe9f78047a9a8600f5fdf3ff12ad36d4fe50.

[2017-12-24 00:55] ryantheleach commented on #1665
@JBYoshi Looking at the diff it isn't immediately obvious how this fixes the issue?

Can either you or @felixoi please confirm if this is actually fixed.

Also this may be related: https://github.com/SpongePowered/SpongeAPI/pull/1718

[2017-12-24 01:26] ryantheleach commented on #1251
This seems to be much worse in SpongeVanilla (379).

It's stuck but repeating, creating a whole column of sand.

[2017-12-24 01:28] dualspiral commented on #1665
@felixoi This is a long standing issue - if you have child commands and a child argument fails to parse, it tries to fall back to the parent command. In this case, as you can see, it's fallen back to the parent command.

Are you using API 7? If so, in your parent `CommandSpec`, set `childArgumentParseExceptionFallback` to `false`.

[2017-12-24 01:44] ryantheleach commented on #52
So this is now policy right, and can be closed?

[2017-12-24 01:56] ryantheleach commented on #1289
This appears to be vanilla behavior.

`whitelist` on 1.12.2 results in the help text.
`whitelist adsf` results in no feedback, and no modification to whitelist.json.

[2017-12-24 01:56] #1289 closed, assigned to ryantheleach

[2017-12-24 09:32] gabizou commented on #52
I just think there's no official guideline we can point to for implementation, but yes, at this point we do fooollow our unofficial guidelines about overwrites.

[2017-12-24 09:32] #52 closed

[2017-12-24 10:23] felixoi commented on #1665
@JBYoshi Commit [37aebe9](https://github.com/SpongePowered/SpongeCommon/commit/37aebe9f78047a9a8600f5fdf3ff12ad36d4fe50) does not fix this issue!

@dualspiral Yes, I'm using API 7 and childArgumentParseExceptionFallback is already [set to false](https://github.com/felixoi/felograms/blob/master/src/main/java/net/felixoi/felograms/api/command/Command.java#L36).

[2017-12-24 10:56] dualspiral commented on #1665
Alright. I'll try to look at this tonight.

Could you possibly make a reduced test case for me? It'll make it easier for me to find the issue.

Thanks

[2017-12-24 11:25] felixoi commented on #1665
I build a test plugin for you: https://gist.github.com/felixoi/65ba84c2d85d4ed5c28330f3af15bdfa

The bug only appears with a custom `CommandElement` on child commands.

[2017-12-24 11:29] dualspiral commented on #1665
Thank you. I thought I'd tested this scenario, obviously I missed something somewhere. I'll get on to it tonight. :)

[2017-12-24 12:38] dualspiral commented on #1665
Solved it now. I'll push it - this is what the test plugin does now.

[code]

[2017-12-24 12:39] #1665 closed, assigned to dualspiral, JBYoshi

[2017-12-24 16:02] JBYoshi commented on #1251
Steps to reproduce:

1. Add this code in a plugin:
[code]
2. Place a block of stone in the air.
3. Place a block of sand on top of the stone block.
4. Break the stone block.

[2017-12-24 16:26] JBYoshi commented on #1251
I think the problem is that `BlockTickPhaseState` doesn't capture entity spawns.

[2017-12-25 10:43] Mallalei commented on #1662
i have the same Problem - reading

[2017-12-27 13:10] randombyte-developer opened #1667 "AbstractMethodError: net.minecraft.world.DimensionType.shouldLoadSpawn()Z"
**I am currently running**

- SpongeVanilla version: 1.12.2-7.0.0-BETA-383
- Java version: 1.8.0_141 OpenJDK
- Operating System: Linux (amd64) version 3.19.0-32-generic, Linux Mint

- Plugins/Mods: None

**Issue Description**

Crash report: https://gist.github.com/randombyte-developer/ddba4347ac5ef37b64c2be79803453f1

Fresh server.
It only crashes once. After another server startup it doesn't occu

[2017-12-27 13:46] stephan-gh commented on #1667
Duplicate of https://github.com/SpongePowered/SpongeVanilla/issues/362

[2017-12-27 13:46] #1667 closed, assigned to nobody

[2017-12-28 10:16] conreptio opened #1668 "IllegalAccessException with @RegisterCatalog"
An IllegalAccessException is thrown by the game registry when a **plugin provided** registry module is registered with the RegisterCatalog annotation.

The ```final``` declaration of the "pseudo enum" fields is ignored by the [RegistryHelper](https://github.com/SpongePowered/SpongeCommon/blob/5d8ac978765dde886c022dda23dbfedd96f24107/src/main/java/org/spongepowered/common/registry/RegistryHelper.ja

[2017-12-28 10:19] Faithcaio commented on #1657
fixed in https://github.com/SpongePowered/SpongeCommon/commit/394983ebcfe296e2cb69373311527738ca289740

[2017-12-28 10:19] #1657 closed, assigned to nobody

[2017-12-28 19:52] gabizou commented on #1668
This was more of a requirement for us when it camto the initial aspects of the registry and setting fields. Early on we elected to use an access transformer *at runtime* to remove the final designation on the fields we needed to set the static values to. Afterwards, what ended up sticking is that same system where we "assume" the field is no longer `final` at runtime.

I'd be open to having it per

[2017-12-28 19:55] LXGaming opened #1669 "StackOverflow in GeneralPhase 1.10.2"
**I am currently running**

- SpongeForge version: spongeforge-1.10.2-2477-5.2.0-BETA-2790
- SpongeVanilla version: N/A
- Java version: 1.8.0_144
- Operating System: Linux

- Plugins/Mods:
Project Ozone Lite v1.3.4
Listed in provided pastebin.

**Issue Description**
Crash Report: https://pastebin.com/0bGnuAJ2

[2017-12-28 20:10] phit commented on #1669
no reproduction and wrong repo, please reopen in SpongeForge when you have a reproduction

[2017-12-28 20:10] #1669 closed, assigned to nobody

[2017-12-29 13:14] felixoi opened #1671 "Data deserialization fails"
- SpongeForge version: bleeding
- SpongeVanilla version: bleeding

I've setup [custom data](https://github.com/felixoi/felograms/tree/master/src/main/java/net/felixoi/felograms/data) for my plugin and it's working for some time. After some restarts (crashes included) I get this error on startup:
https://hastebin.com/ijuqabedob.hs

[2017-12-31 01:37] rob5251 opened #1673 "PhaseState Exception"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.0.0-BETA-2804
- Java version: 1.8.0_152
- Operating System: Linux

**Issue Description**
After updating to latest SpongeForge the following issue occurs:
Server console being spammed with PhaseState exceptions.
Console Log attached:
[consolelog.txt](https://github.com/SpongePowered/SpongeCommon/files/1594916/consolelog.txt)

[2017-12-31 05:59] #1673 closed, assigned to nobody

[2018-01-01 02:12] phit commented on #1211
![image](https://user-images.githubusercontent.com/2097483/34465150-5a93e594-eea1-11e7-87d4-f5910bd93951.png)

SpongeForge: 1.12.2-2555-7.0.0-BETA-2807

Faithcaio showed off his Villager torture skills and we managed to breed them.

[2018-01-01 02:12] #1211 closed, assigned to me4502

[2018-01-01 06:18] #1431 closed, assigned to JBYoshi

[2018-01-01 11:57] Kira076 opened #1675 "Modded Client Crashing On Server Connect"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.1.0-BETA-2815
- SpongeVanilla version:
- Java version: 1.8 (151)
- Operating System: Windows 10

### Problem:
When loading in to a server (hosted locally), the client (but not the server) crashes upon load-in. This does not happen when loading in to a single-player world. I've attempted a number of things to remedy this (

[2018-01-01 16:58] Willynator opened #1676 "Block Swap Issue"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.0.0-BETA-2807.jar
- SpongeVanilla version:  ---
- Java version:  8
- Operating System: Ubuntu Server 14.04 "Trusty Tahr" LTS (64bits)

- Plugins/Mods:

 Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AGP, FastAsyncWorldEdit, Pixel Extras, Pixelmon, Pixelmon Trainer Commands, Po

[2018-01-01 17:35] Willynator commented on #1676
Also wanted to add the issue persisted when running only on base mods for Pixelmon as well.

Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Pixelmon

[2018-01-01 17:45] Willynator commented on #1676
Issue still persists with latest version of spongeforge 1.12.2-2555-7.1.0-BETA-2815

[2018-01-01 20:08] phit commented on #1676
see https://github.com/SpongePowered/SpongeForge/issues/1919

[2018-01-01 21:59] randombyte-developer opened #1677 "Custom data: registerGettersAndSetters called too late"
**I am currently running**

- SpongeVanilla version: 1.12.2-7.0.0-BETA-1

**Issue Description**
 I would like to use custom data. This issue was introduced by a recent commit in SpongeCommon. This issue is more like a question.

Here is a test repo for this issue: https://github.com/randombyte-developer/data-issue (execute the `/test` command)

This plugin simply gets any entity and tries to offer

[2018-01-01 22:16] randombyte-developer commented on #1677
@felixoi suggest "as work-around SampleKeys.BOOL.getQuery() will work, because this loads the class.. (In GameInit Event) "

[2018-01-01 22:41] felixoi commented on #1677
It's not a workaround in these words. I think everything works, there is no issue. Since API 7 you have to register the keys before data registration is done. If you outsource the key class now, you have to load the class before data registration (static fields will be initialized which calls the key builder). The other option would be registering the keys like in this [example](https://github.com

[2018-01-01 22:43] gabizou commented on #1677
This is not an issue. You need to register your keys in the same init stage as your data registrations happen.

[2018-01-01 22:43] #1677 closed, assigned to nobody

[2018-01-02 03:28] Zerthick opened #1678 "Entites filtered in DropItemEvent.Dispense and DropItemEvent.Destruct are still removed from inventories"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2815
- SpongeVanilla version: 1.12.2-7.1.0-BETA-2

**What is the expected result?**
The expected result is that if an entity, such as an `itemstack` is filtered from the event using `filterEntities()`, not only should it not be dropped, but the transaction removing it from the inventory should be cancelled as well.
**What is

[2018-01-02 05:16] Rasgnarok opened #1679 "[1.12.2]TileEntityTickPhase causes mass erroring with Hoppers"
**I am currently running**
Not using latest version of SF because of mapping issues mentioned in common tickets.
- SpongeForge version: 2800, Forge 2555/2529
- SpongeVanilla version: NA
- Java version: 8
- Operating System: CentOS

- Plugins/Mods: https://timings.aikar.co/?id=ecea21ad2d6c4652b21f4623604b7bc3#plugins

**Issue Description**
Hoppers feeding from modded blocks cause mass erroring in t

[2018-01-02 05:19] Hiroku commented on #1679
I've found this is caused by an uncaught exception from the IInventory implementations within those TileEntity classes inside Pixelmon, not caused by Sponge. I could complain about how it was unclear because of Sponge wrapping around the error, but that'd be a little pedantic.

[2018-01-02 10:19] Yeregorix opened #1680 "Can't set any ItemStack in furnaces's OutputSlots"
**I am currently running**

- SpongeForge version: 1.12.2-2555-8.0.0-BETA-2814:dev
- Java version: 1.8.0_131
- Operating System: Windows 10 x64

- Plugins/Mods: [SmoofyDungeon](https://github.com/Yeregorix/SmoofyDungeon)

**Issue Description**

My custom world generator wants to add loots in new generated furnaces but for now the current implementation uses filtering slots which prevents me from s

[2018-01-02 20:53] felixoi commented on #1671
It's not very reproducable. I will reopen the issue if I get the error again.

[2018-01-02 20:53] #1671 closed, assigned to nobody

[2018-01-03 14:34] Techdaan opened #1682 "Applying Keys.SIGN_LINES to a block state fails silently"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2817
- SpongeVanilla version: -
- Java version: openjdk version "1.8.0_151"
- Operating System: Ubuntu 16.04 LTS

- Plugins (6): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, Quests, SignEditor
- Mods (12): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, Dynmap, FastAsyn

[2018-01-03 17:35] ImMorpheus commented on #1678
Related https://github.com/SpongePowered/SpongeCommon/issues/1280#issuecomment-347008090

[2018-01-03 21:32] randombyte-developer opened #1683 ""FailedData" not removed after successful re-attempt of deserialization"
**I am currently running**

- SpongeCommon version: Latest

**Issue Description**

My issue is that with `DataManager#registerLegacyManipulatorIds()` the old legacy data which apparently also appears in `FailedData` NBT list is not removed. This means that everytime the data is tried to be loaded, `FailedData` is tried to be deserialized. As long as the legacy ids registration is present it works

[2018-01-03 23:52] rob5251 opened #1684 "PhaseState Exception - TileEntityTickPhase"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2817
- Java version:  1.8.0_152
- Operating System: Windows10 64bit

- Plugins/Mods:
Mods (115): Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, SpongeAPI, SpongeForge, AE2 Stuff, Actually Additions, Actually Baubles, AppleSkin, Applied Energistics 2, Aroma1997's Dimensional World, Aroma1997Core, AromaBac

[2018-01-04 00:13] phit commented on #1684
Please put mod related issue on the SpongeForge issue tracker, closing it here.

[2018-01-04 00:13] #1684 closed, assigned to nobody

[2018-01-04 00:15] ryantheleach commented on #1680
@Faithcaio Is there a work around for this?

` ((Furnace) c.getTileEntity(x, y, z).get()).getInventory().query(QUERY).set(generate(r).orElse(ItemStack.empty())); // TODO fix or report `

[2018-01-04 02:20] Zerthick opened #1685 "Anvil Inventories missing Input & Output Slots"
**I am currently running**
- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2817

**Issue Description**
What is the expected result?
`inventory.query(InputSlot.class)` on an anvil inventory should return the two input slots
`inventory.query(OutputSlot.class)` on an anvil inventory should return the one output slot

What is the current result?
Currently they both return an EmptyInventoryImpl.

[2018-01-04 03:21] ryantheleach commented on #1685
I suspect this is can't fix @Faithcaio if the rumors I've heard about the anvil container are true?

[2018-01-04 06:38] Faithcaio commented on #1680
Yes if the thing you queried is not the actual slot it wont have the filter.

[2018-01-04 08:39] randombyte-developer commented on #1683
It seems to be a "gamebreaking" bug for plugins that are doing the conversion from the old data registration to the new one: the failed data constantly overwrites the actual data thus making the specific data read-only.

[2018-01-04 09:07] gabizou commented on #1683
The reason why it re-adds failed data is that the failed data is supposed to be upgraded to current data, if the upgrade fails, it's still considered failed data, and therefor will be re-attempted. However, if it's failing, then it should not be "overwriting" anything, except being put back into place as failed data. If it IS being upgraded, but still considered failed data, then that is indeed a

[2018-01-04 09:10] gabizou commented on #23
@ryantheleach once I approve #1681, the derp will be removed.

[2018-01-04 09:27] gabizou opened #1686 "Test Issue"
**I am currently running**

- SpongeForge version:
- SpongeVanilla version:
- Java version:
- Operating System:

- Plugins/Mods:

**Issue Description**

[2018-01-04 09:27] gabizou commented on #1686
/move to sa

[2018-01-04 10:52] randombyte-developer commented on #1683
`the transaction for deserialization is supposed to trim out the failed data that succeeded at that point, since a deserialization was successful.` That doesn't seem to work. I'll create a repo for that to test.
Sorry about the version/implementation note. I tested it on sponge vanilla beta-3 1.12.2 for API v7.0.0.

[2018-01-04 17:52] gabizou commented on #1686
/move sa

[2018-01-04 17:53] gabizou commented on #1686
/move to SpongePowered/SpongeCommon

[2018-01-04 17:53] gabizou commented on #1686
/move to SpongePowered/SpongeAPI

[2018-01-04 17:55] gabizou commented on #1686
hi yo

/move to SpongeAPI

[2018-01-04 18:08] #1686 closed, assigned to nobody

[2018-01-04 19:27] randombyte-developer commented on #1683
Here is the test plugin repo: https://github.com/randombyte-developer/data-issue
It is a tedious process.

Clone the repo. Checkout to `apiv5` branch. Build the plugin. Run it on a SpongeVanilla server for API v5.x.
Setup an entity with some data:

1. Stand near an entity(I prefer a cow trapped by fences)
2. Execute `/test`

Now the cow has the `SampleData` on it, with the `DataClass` identificati

[2018-01-05 00:04] gabizou commented on #1683
@randombyte-developer Can you re-test with the latest? I added some failed data redundancy and duplication removal, working on adding a config for registered and existing data stuff with a command to allow server admins to filter out old failed data from being deserialized or attempted. Until I hear back, I'll leave the issue open.

[2018-01-05 01:37] #1623 closed, assigned to nobody

[2018-01-05 01:39] parlough commented on #1683
Sorry was automatically closed with the commit!

[2018-01-05 17:21] Zerthick commented on #1402
Per the request of @Faithcaio, I'd like to add that it would be useful if events were added when an enchantment is applied to an item in an enchanting table and when items are repaired/renamed in an anvil.

[2018-01-05 17:25] parlough commented on #1402
@Zerthick I am handling enchanting along with some other enchant events/changes.

[2018-01-05 19:17] Zerthick opened #1688 "Request: Enhance the Cause of SpawnEntityEvent for ExpOrbs"
**Issue Description**
I'm currently working on writing a plugin that controls the amount of experience players gain for different actions. Below is a capture of the causes for the different actions I want to control:

[code]

I've noticed a few inconsistencies in the causes and would like to request more information be added.

For fishing, the spawn_type within the context is set to placement inst

[2018-01-06 06:35] gabizou commented on #1683
@randombyte-developer I'm guessing by the closure of your PR that it's resolved?

[2018-01-06 07:44] pie-flavor opened #1689 "[STDERR]: derp"
https://github.com/SpongePowered/SpongeCommon/blob/b8701dc661c6c77a127fece7492caace8f3c81a9/src/main/java/org/spongepowered/common/registry/SpongeGameRegistry.java#L610

![](https://i.imgur.com/Dtpaahb.png)

On a 'stable' release, no less.

[2018-01-06 07:51] #1689 closed, assigned to nobody

[2018-01-06 08:01] randombyte-developer commented on #1683
It works in my test environment. I haven't tested it yet in production. If it doesn't work, I'll reopen the issue.
Thanks for the quick fix!

[2018-01-06 08:05] #1683 closed, assigned to gabizou

[2018-01-07 01:39] phit commented on #1679
/move to sf

[2018-01-07 01:43] phit commented on #1676
closing this in favor of https://github.com/SpongePowered/SpongeForge/issues/1919
as it had more discussion, and nobody seems to be able to reproduce this with SpongeVanilla

[2018-01-07 01:43] #1676 closed, assigned to nobody

[2018-01-07 19:57] ImMorpheus commented on #1688
For fishing/mining/killing mobs/bottle of exp: duplicate of https://github.com/SpongePowered/SpongeCommon/issues/920

It would be better to add smelting and breeding there to keep a list of incorrect spawntype.
(And the 1.12 label @phit )

[2018-01-08 19:25] johnfriedrich opened #1692 "1.12.2 Crash on EntityXPOrb collide"
**I am currently running**
- SpongeForge version: 2800
Can't update any further due to it's unstable state

Crashreport:
https://pastebin.com/B9TTtuRp

It's a watchdog crash, so ExpOrb might not be the trigger, but I am confident that this is the trigger in this case.

- Plugins/Mods:
 Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, AdminShop, ArenaPass, BungeeTabListPlus-SpongeBridge, Bu

[2018-01-09 00:42] Zerthick opened #1693 "Cancelling ChangeInventoryEvent.Pickup causes item to be destroyed"
**I am currently running**

- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2825

**Issue Description**
As the title says, cancelling ChangeInventoryEvent.Pickup prevents the item from being picked up, but also destroys the item in the process

[2018-01-09 02:13] ryantheleach commented on #1693
Is a different event raised when the items destroyed?

[2018-01-09 03:40] Zerthick commented on #1693
Not as far as I can tell, the item just goes poof.  What event if any should be thrown?

[2018-01-09 04:48] phit commented on #1693
see https://github.com/SpongePowered/SpongeAPI/pull/1693

pretty sure you need to cancel `ChangeInventoryEvent.Pickup.Pre` to stop items from being destroyed

[2018-01-09 07:24] Faithcaio commented on #1693
Correct `ChangeInventoryEvent.Pickup` is fired **after** the items have been picked up and only handle the inventory change.
In the `.Pre` event you can change the items picked up or cancel it leaving the item on the ground.

[2018-01-09 07:24] #1693 closed, assigned to nobody

[2018-01-09 09:32] pie-flavor opened #1694 "Entity#setRawData is not implemented"
Also TileEntity, World, ItemStack, and for some reason DataHolder itself (seriously?). User at least throws an UnsupportedOperationException, and FluidStack is the only DataHolder class to have any real implementation. Empty-method implementations are in fact worse than no implementation, because at least with no implementation you'd get an AbstractMethodError telling you that it's not implemented

[2018-01-09 20:08] Zerthick opened #1695 "Calling event#getFinal on ChangeInventoryEvent.Pickup.Pre produces a ClassCastException"
**I am currently running**
- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2825

**Issue Description**
Executing the following snippet of code will produce a ClassCastException
[code]

Stacktrace is below:
[code]

[2018-01-09 21:57] gabizou commented on #436
Merged PR fixes. Thanks @ImMorpheus!

[2018-01-09 21:57] #436 closed

[2018-01-09 23:03] gabizou commented on #1001
@Zidane @kashike @RedNesto @ryantheleach So, some thoughts, the problem currently is that the phase contexts for this sort of thing only tracks bulk spawns and blocks. For us to sanely throw a SpawnEntityEvent with the proper cause *including* the appropriate block snapshot that caused the entities to spawn, we'd have to specifically use multi maps for every block event and then process the entity

[2018-01-09 23:08] parlough commented on #1355
No longer an issue in stable-7 or bleeding due to removal of the method.

[2018-01-09 23:08] #1355 closed, assigned to gabizou

[2018-01-09 23:51] gabizou commented on #1001
Otherwise, for the mean time, there is a direct cause associated with the first block snapshot of block changes, if available.

[2018-01-09 23:51] #1001 closed, assigned to gabizou

[2018-01-10 00:08] gabizou commented on #1278
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/df84abf5cf54dd8ad7fba2af4c407648bc828f4c

[2018-01-10 00:08] #1278 closed, assigned to nobody

[2018-01-10 00:40] ryantheleach commented on #1001
My suspicion is this will cause some really un-obvious bugs with things that break multiple blocks at once e.g where 3x3 mining tools, on the edge of claims, consistently bypass plugins.

I'm going to create a new ticket for correcting this behavior in the future, since you mentioned it's a short term work-around or else it's going to be missed.

[2018-01-10 00:47] ryantheleach opened #1699 "Bulk block capturing during blockdig attributes all entity spawns to the first block snapshot."
Follow up from : https://github.com/SpongePowered/SpongeCommon/issues/1001

As a temporary fix, @gabizou implemented that all entity spawns in a bulk block capture will be attributed to the first block. Whilst this works for some events, it may not work for some edge cases.

This is a ticket for potential improvement to the tracker to support tracking which block spawned what, as well as investiga

[2018-01-10 01:05] gabizou commented on #1251
So, worked on narrowing down on this issue, from what I'm understanding of the implementation (vanilla and our own):
1) Place a sand block on another block
 - At this point, everything is working out.
2) Break block beneath sand
 - Due to a neighbor update (which is listenable through an event listener for the neighbor notification), the sand block is going to be ticked the next tick
3) The Fallin

[2018-01-10 01:27] gabizou commented on #1251
Yeah, so far, the "test" allows for the block to stay there, but cancelling the entity spawn is more than likely the better "fix".

I went and added an implementation change for it on Sponge's side, but the block will still flicker with the entity being spawned.

All in all, I think due to the implementation of Minecraft, what Sponge will do is the best it can do, and ultimately, plugins will have

[2018-01-10 01:30] FabioZumbi12 opened #1700 "SetBlock to AIR dont set, but to other types ok"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.1.0-BETA-2827
- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-8
- Java version: 8
- Operating System: Windows 10

- Plugins/Mods: Minecraft, Mod Coder Pack, SpongeAPI, SpongeVanilla, EconomyLite, LuckPerms, Nucleus, RedProtect, UltimateChat

**Issue Description**
I am plugin dev of redprotect plugin and i having

[2018-01-10 01:34] #1251 closed, assigned to nobody

[2018-01-10 01:42] gabizou commented on #1700
Is the boolean value returned `true`?

[2018-01-10 01:45] FabioZumbi12 commented on #1700
Yes, returned true.
For stone too.

[2018-01-10 02:05] gabizou commented on #705
This has been implemented at this point and I think perfected with a config option.

[2018-01-10 02:05] #705 closed

[2018-01-10 02:17] ryantheleach commented on #1700
[code]

[2018-01-10 02:26] FabioZumbi12 commented on #1700
To let us to know whats wrong, here is how i using on my resource:

This is called from here: https://github.com/FabioZumbi12/RedProtect/blob/master/RedProtect-Sponge-56/src/main/java/br/net/fabiozumbi12/RedProtect/Sponge/listeners/RPPlayerListener.java#L147

In this call only stone works:
https://github.com/FabioZumbi12/RedProtect/blob/master/RedProtect-Sponge-56/src/main/java/br/net/fabiozumbi12

[2018-01-10 02:34] ryantheleach commented on #1700
[TestPlugin.zip](https://github.com/SpongePowered/SpongeCommon/files/1617325/TestPlugin.zip)
Untested, created during lunch break: https://gist.github.com/ryantheleach/411b98e386bc4932bab7901538aad037
  Usage: `/bug <blockTristate> <itemTristate> <cancel>`

Then right click on a block.

[2018-01-10 05:40] gabizou commented on #920
Just double checked current code, since I'm positive the cause refactor and multiple cause tracker refactors, this issue can now be closed. Verified the cases listed at the top of the issue, they are exactly as they should be (in the expected results column).

[2018-01-10 06:00] gabizou commented on #1699
Note that this is SPECIFICALLY for receiving and processing the interact block packet, where a block is in the process of being dug, and possibly having been dug. No other cases are they managed in such a way at present.

[2018-01-10 07:07] parlough commented on #1637
@Valandur Can you confirm `copy` still doesn't work on `InvulnerabilityData` in the latest builds? My changes to invulnerability, which only landed in 1.12 should have fixed it.

I also fixed copy for `FallDistanceData` in the latest builds.

[2018-01-10 08:04] #1317 closed, assigned to nobody

[2018-01-10 08:04] #1345 closed, assigned to nobody

[2018-01-10 08:04] #1695 closed, assigned to parlough

[2018-01-10 16:25] Xenmai opened #1701 "FusedExplosive Methods not working"
Hi there. I'm running SpongeVanilla 1.12.2-7.1.0-BETA-9 and I've encountered some problems with FusedExplosive methods. [API Page](https://jd.spongepowered.org/7.0.0-SNAPSHOT/org/spongepowered/api/entity/explosive/FusedExplosive.html)

FusedExplosive#defuse() and #prime() don't error, but don't seem to do anything at all.

FusedExplosive#isPrimed() doesn't error either, but always returns false. T

[2018-01-10 20:46] ImMorpheus commented on #447
Partially able to reproduce on bleeding.

What's missing in the original comment is that [name] has to be a string, otherwise there's no problem with the current system.

Example:

[code]
[code]

What if we try to change the parent command argument to GenericArguments.string ?

[code]

A solution would be to create our own command element and use that as the argument:

[code]

Result:

[code]

Thi

[2018-01-10 21:06] ImMorpheus commented on #956
This should not be necessary anymore as of this commit https://github.com/SpongePowered/SpongeAPI/commit/7b61abce27b52458c1888e07a137562c45840a98

You can now get the ItemStackSnapshot from the context:

[code]

[2018-01-10 21:22] ImMorpheus commented on #1037
Able to reproduce with 1.12 (bleeding branch):

`The Items dropped when a Dispenser is triggered`

Fixed:
[code]

[2018-01-10 21:31] parlough commented on #1682
This has been an issue for quite a while as seen [here](https://github.com/SpongePowered/SpongeCommon/issues/461), but I've also seen other issues mentioning it in the past.

[2018-01-10 22:27] parlough commented on #1158
Implemented in 2b828ac9c30e11a576735b81c68106aa08f072b7

[2018-01-10 22:27] #1158 closed, assigned to gabizou

[2018-01-10 22:33] parlough commented on #807
This is a goal after/with the API 8 command refactor alongside other command cleanup.

[2018-01-10 23:21] #956 closed

[2018-01-11 00:38] ryantheleach commented on #447
The difference in this vs the original post, is the original was talking about an optional, not an optionalweak.

[2018-01-11 00:40] ryantheleach commented on #1037
Thanks for the updated info @ImMorpheus

[2018-01-11 00:43] ryantheleach commented on #1682
@Meronat That's a different issue. This is about causing an error if the data is not applicable to a **blockstate** builder.

The linked issue is about offering data to a BlockSnapshot, incorrectly being assigned to a block state instead of the tile entity data.

Fixing this issue would have made the other bug extremely apparent, as now offering data to a BlockSnapshot would result in a confusing

[2018-01-11 00:45] ryantheleach commented on #461
This still trips people up, and schematics have been added. So it's probably time to attempt a fix for this.

[2018-01-11 01:04] gabizou commented on #461
Should be able to. Adding to my todo list.

[2018-01-11 01:06] gabizou commented on #1682
The question should be whether Sponge should be throwing an exception for the lack of the values being set, I think I will set up the exceptions for manipulators that are not supported by block states.

[2018-01-11 07:49] dualspiral commented on #447
Yes, but that’s actually the fundamental difference between optional and optionalWeak, optional only works at the end of a parameter string only because it only cares about whether or not the element exists, if it exists and errors, that still throws an error. optionalWeak treats incorrect input as if the parameter did not exist, while optional would throw an error. Thus, in this scenario, `option

[2018-01-11 15:43] ImMorpheus commented on #447
Then I'm missing something, my last example defines `/command [firstoptionalparam] subcommand [secondoptionalparam]`. Wasn't that what he was asking ?

[2018-01-11 17:47] ImMorpheus commented on #920
This should be reopened.

I thought 1688 could be closed so I was testing a few things:

First:

[code]

are indeed fixed. However things are different for exp related spawntypes (and a few other cases):

Test plugin:

[code]

Experience orbs from killing mobs:

[code]

Experience from catching fish:

[code]

Experience orbs from mining ores:
[code]

Experience orbs from smelting ores:
There is so

[2018-01-11 19:37] Zidane commented on #1675
Cannot reproduce on latest builds after a fix was made for this.

[2018-01-11 19:37] #1675 closed, assigned to nobody

[2018-01-11 19:43] Zidane commented on #1662
If this is an issue on 1.12 we will re-open otherwise 1.10 is no longer in support.

[2018-01-11 19:43] #1662 closed, assigned to nobody

[2018-01-11 19:44] Zidane commented on #1646
Closing this as it is a world corruption issue on the side of the user and not a Sponge issue. It is also targeting a version of Minecraft we no longer support.

[2018-01-11 19:44] #1646 closed, assigned to nobody

[2018-01-11 19:45] Zidane commented on #1572
Closing as we no longer support 1.10. If this is still an issue on 1.12, comment back with a log from 1.12 and we will re-open.

[2018-01-11 19:45] #1572 closed, assigned to nobody

[2018-01-11 19:48] Zidane commented on #1560
@theboomer

Is this still an issue on latest SV? If so, run your test but give me a dumpStack when it happens and I'll fix. If not, let me know and I'll close. If I don't get an answer after a few days, I'll auto-close.

@ryantheleach
There needs to be a different system in place to change who drops what. We don't want to fire empty events.

[2018-01-11 19:54] Zidane commented on #1048
Okay this fell off of my radar (need to do up my own issue list..). It'll have to go into API 8 now.

Someone create an API issue, and assign me to it (staff) and target API 8.

[2018-01-11 19:54] #1048 closed, assigned to kashike

[2018-01-11 19:55] Zidane commented on #989
What @gabizou said fits here.

Someone PR a throw of an exception here and move on.

[2018-01-11 20:15] ImMorpheus commented on #1108
Not able to reproduce with 1.12 (bleeding branch)

[2018-01-11 20:29] ImMorpheus commented on #1385
Not able to reproduce on 1.12 (bleeding branch):

[code]
Create a portal in the overworld: (coordinate of the start position and world of the start position)
[code]

Once in the nether, use the portal to go back to the overworld: (coordinate of the start position and world of the start position)
[code]

Note: cancelling the event doesn't change the outcome.

[2018-01-12 00:04] ryantheleach commented on #1675
There's been talks in various chats that Minecraft removed the keep alive ping unless you are in the Play status.

Mods are going to have to concentrate on not delaying this process longer then they have to.  It ends up being a problem with slow client machines.

[2018-01-12 00:50] ryantheleach commented on #1108
@ImMorpheus Thanks.

[2018-01-12 00:50] #1108 closed, assigned to nobody

[2018-01-12 00:54] ryantheleach commented on #1385
@ImMorpheus Thanks.

[2018-01-12 00:54] #1385 closed, assigned to bloodmc

[2018-01-12 04:54] Zidane commented on #920
@JBYoshi

Want to take a look at this?

[2018-01-12 10:08] ryantheleach opened #1703 "Server::getAllWorldProperties() caches the world properties rather then fetches them."
Tested under: 1.12.2-7.1.0-BETA-9

Read source in SpongeForge.

Server.getAllWorldProperties() fetches them from a cached map.

This causes you to force a restart of the server when importing a new map.

It would be good if the implementation of this method was able to see WorldProperties that had yet been undiscovered by SpongeCommon.

[2018-01-12 21:32] #989 closed, assigned to nobody

[2018-01-12 21:56] randombyte-developer opened #1705 "Cancelling ChangeInventoryEvent.SwapHand is completely broken"
Running SpongeVanilla version: 1.12.2-7.1.0-BETA-9

**Issue Description**

Code:
[code]

# Test 1
Initial situation:
![bildschirmfoto vom 2018-01-12 22 45 42](https://user-images.githubusercontent.com/10366256/34896556-88a0bc6c-f7ea-11e7-854d-1ad92bfb971e.png)
Press `F` to swap hands:
![bildschirmfoto vom 2018-01-12 22 46 45](https://user-images.githubusercontent.com/10366256/34896554-885f3346-f7e

[2018-01-12 22:48] ImMorpheus commented on #970
I'm working on this. (a WIP PR scheduled for tomorrow)

[2018-01-13 07:12] #1705 closed, assigned to Faithcaio

[2018-01-13 22:48] ImMorpheus commented on #1282
Still happening in 1.12 (bleeding branch).

This was tricky. (PR scheduled for tomorrow (maybe))

You also need to change https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/entity/player/MixinEntityPlayerMP.java#L850

to

[code]

[2018-01-14 03:04] johnfriedrich opened #1709 "Blocks are sometimes still dropping if the block-break event is canceled"
**I am currently running**
- MC 1.12.2
- SpongeForge version: 2833
- Forge: 2587
- Java version: 1.8.0_131
- Operating System: Debian 9.3

- Plugins/Mods: Griefprevention Build 511

**Issue Description**
Basically, if you create a landclaim with griefprevention, the area is protected from grief.
The plugin cancels the block-break event if players trying to break a block.

This works as usual. Howe

[2018-01-14 08:29] ryantheleach commented on #1709
My justification for High Priority is that it's a potential dupe bug.

Note for anyone investigating, the Pixelmon PC is a multiblock.

@i9hdkill when you say, works with all blocks, specifically what blocks have you tested, since the PC is a multiblock, have you been able to recreate this with any vanilla blocks? beds or reeds maybe?

[2018-01-14 08:35] ryantheleach commented on #1282
I think it should be an optionaldata, rather then using the Epoch. But that would require an API change.

[2018-01-14 11:14] ryantheleach opened #1711 "Health Objectives added by vanilla do not retain hearts in tab list."
**I am currently running**

- SpongeForge version: 7.1.0-2831
- SpongeVanilla version: 7.1.0-BETA-10

- Plugins/Mods: None.

**Issue Description**

In multiplayer serverenv on both SV and SF `/scoreboard objectives add health health health` fails to parse the health as the heart render type.

In Singleplayer LAN Sponge however, it `correctly` renders as hearts, showing that the scoreboard mixin lo

[2018-01-14 11:24] ryantheleach commented on #1711
The following code in SpongeObjective should fix it.

[code]

[2018-01-14 13:10] johnfriedrich commented on #1709
Works with minecraft:enchanting_table and pixelmon:healer too.

[2018-01-14 15:53] #1711 closed, assigned to nobody

[2018-01-15 04:48] ryantheleach opened #1713 "'TickDynamic' / Perfect Combat."
https://github.com/The-Fireplace-Minecraft-Mods/TickDynamic/issues/17

This is a proposal to adding a mixin module to Sponge, that would enable various tweaks to split up the 'tps' of the server.

E.g.
Decoupling entity ticks from player ticks, to block placements, to tile entities.

Giving each a priority, would ensure that Combat and 'physical lag' rather then 'slow machines' would remain lag fr

[2018-01-15 06:10] ryantheleach opened #1714 "Legacy Data failing to appear in sponge.data-registrations.failed-data-list"
**@Big-Deaddy is currently running**

- SpongeForge version: Using SF 2833
- SpongeVanilla version: Untested
- Java version: Unknown
- Operating System: Unknown

**Issue Description**
It's been reported in IRC that removing https://github.com/hsyyid/CommandSigns/tree/master/src/main/java/io/github/hsyyid/commandsigns results in spam.

![image](https://user-images.githubusercontent.com/141554/34929

[2018-01-15 12:08] ryantheleach opened #1715 "teleporting through the end portal for the first time, spawns you in the void. in = out co-ord"
@ScruffyRules' friend was currently running

- SpongeForge version: Aproximately 1.12.2 2555 7.1.0 2831 (Forge 2555)
- SpongeVanilla version: Unknown
- Java version: Unknown
- Operating System: Unknown

- Plugins/Mods:
https://minecraft.curseforge.com/projects/tree-chopper

**Issue Description**
This is an extremely hard to reproduce bug, but it's reported by someone I trust: @ScruffyRules

Visiti

[2018-01-15 12:34] ryantheleach commented on #1715
Duplicate of: https://github.com/SpongePowered/SpongeForge/issues/1828

[2018-01-15 12:34] #1715 closed, assigned to nobody

[2018-01-15 12:38] DosMike opened #1716 "ClassCastException in InventoryUtils toNativeInventory"
**I am currently running**

- SpongeForge version: -
- SpongeVanilla version: 1.12.2-7.1.0-BETA-9
- Java version: Build 1.8.0_151-b12
- Operating System: Windows 7

- Plugins/Mods:
Minecraft, Mod Coder Pack, SpongeAPI, SpongeVanilla, HelpMates

**Issue Description**
So while I'm waiting for PR #1690 i tried to do parts on my own, playing with the Inventory when this line:
[code]
threw a class  cas

[2018-01-15 16:21] Valandur commented on #1637
I can confirm that `InvulnerabilityData` works in the latest 1.12.2 build, and it does **not** work in the 1.11.2 builds, yes.

[2018-01-15 19:21] gabizou commented on #1713
So, what TickDynamic is aiming to do is reduce the amount of entities ticking if the server is struggling. The "wall-clock" modification is mostly to mimic the duration of time passed for certain processes of tile entities. I'd be interested to know exactly what the changes would require to have it inlined in Sponge itself (rather, what the vanilla changes look like) since reviewing ASM class tras

[2018-01-15 22:08] ImMorpheus commented on #659
I'm working on this.

This also affects potions, gamemodes, blockstates and a couple of other things. (PR scheduled for... I don't know)

[2018-01-16 07:19] limbo-app opened #1717 "Implementation : Boss death sound radius"
This issue was originally submitted by @alicheek in [SpongePowered/SpongeForge#1123](https://github.com/SpongePowered/SpongeForge/issues/1123).
___
Just a request, something that spigot is implemented and would be great to see this also implemented in sponge, its nothing major but ive had quite a few people complaining about the sounds due to other players having wither mob grinding systems and su

[2018-01-16 07:22] phit commented on #1679
@limbo-app move to sf

[2018-01-16 07:23] gabizou commented on #1679
@limbo-app move to sf

[2018-01-16 07:23] limbo-app commented on #1679
Hey @Rasgnarok! I've moved your issue to [SpongePowered/SpongeForge#1962](https://github.com/SpongePowered/SpongeForge/issues/1962).

[2018-01-16 07:23] #1679 closed, assigned to nobody

[2018-01-16 07:39] ryantheleach commented on #1717
Moved:
I'd sooner see this implementable as a plugin, however it appears that there isn't any sound / effect events.

https://github.com/SpongePowered/SpongeAPI/issues/1562

Any plugin that attempted to do this without events, would need to use Mixins themselves.

[2018-01-16 08:29] ryantheleach commented on #1626
Nothing in SpongeForge uses it either.
https://github.com/SpongePowered/SpongeCommon/commit/5afad37c96b825b9db7eb06cba52a02b4a856bea

[2018-01-16 08:34] ryantheleach commented on #1692
Time: 1/8/18 7:31 PM
Description: Watching Server

-- Head --
Thread: Server Watchdog

This looks like a watchdog stall. Your server timed out.

Short of potentially adding optimizations in places once we have performance graphs there's not much we can do.

[2018-01-16 08:34] #1692 closed, assigned to nobody

[2018-01-16 15:58] qaz74107410 commented on #1662
I have the same problem too. Did anyone get an alternative solution?

[2018-01-16 20:15] LXGaming commented on #1662
@qaz74107410 I believe the issue is caused by this: https://github.com/SpongePowered/SpongeCommon/commit/dfc7cb62c2d9633d25640610241cfa44e9d58024

I doubt it's going to be fixed by Sponge themselves. Try downgrading to the appropriate version:

SpongeForge:
- [SpongeForge-1.11.2-2476-6.1.0-BETA-2787](https://repo.spongepowered.org/maven/org/spongepowered/spongeforge/1.11.2-2476-6.1.0-BETA-2787/spo

[2018-01-17 05:52] phit commented on #1142
@dualspiral did this ever get merged?

[2018-01-17 05:55] phit commented on #1226
https://github.com/SpongePowered/SpongeCommon/commit/c2af8bb63ec19803d203875cce5c3363f85867c9

[2018-01-17 05:55] #1226 closed, assigned to nobody

[2018-01-17 07:43] dualspiral commented on #1142
No, it’s a rabbit hole. There is more to this than I thought, it then fell by the wayside. I’ll try to resume when I get chance, I had forgotten about this.

[2018-01-17 16:31] ImMorpheus commented on #1560
Tested on 1.12 (bleeding branch)

Still happening for:
[code]

I'm not able to reproduce  `..Bat flys too close to lava and dies in a ball of flame in the lava` and I have NOT tested the others.

Code:
[code]

[code]

Stacktrace (the zombie example):
[code]

[2018-01-18 01:58] ghost commented on #1620
I'm not trying to be a jerk, but has there been any progress on this?  Or is there an alternative way to modify an unbounded volume off thread?

[2018-01-18 08:37] ryantheleach commented on #1620
@Deamon5550 has been having troubles finding time for the Sponge project of late. We need someone to champion this and get a PR rolling (or a member of staff to do something) if there is to be action on it.

It's had input-wanted for a while, without getting much attention. Probably due to being swamped in the leadup to trying to get API7 out.

I agree that I personally can't see why the cause tra

[2018-01-18 16:57] johnfriedrich commented on #1692
I know. Probably GP crashed the server as it checks for every single exp orb if it can collide with all other exp orbs on the exact same place. And if there are thousands of it on the same place, it  might lead to a crash due to thousands of gp collision checks every second.
So not a sponge bug

[2018-01-18 18:16] ghost commented on #1620
Alright @ryantheleach, thanks.  If no progress has been made on it, I might just make a PR myself.  I just didn't want to start messing around with it, if it was being worked on.

[2018-01-18 19:52] gabizou commented on #1620
Quick question: are these archetype volumes separate volumes from the world? Would they be spawning entities or creating tile entities? The thread check could be introduced, but the block changes on the volume if they are based on a world would need to be main thread synced.

[2018-01-18 19:55] gravityfox commented on #1620
Archetype volumes are supposed to be in-memory volumes that can be APPLIED to the main world at any time (like a stamp). If you edit just the volume itself then it never touches the world.

[2018-01-18 19:57] ghost commented on #1620
So the whole point (at least for me), is to be able to make a copy of an area of a world, then go off-thread, to modify it over time, then eventually merge it back into the world (on the main thread).

I know that in order to make a copy of a portion of the world, and to merge the volume back onto the world, I will need to be on the main thread. I would like, however, to be able to actually modify

[2018-01-18 21:44] eheimer opened #1718 "Command Blocks stop working under 1.12.2 after teleporting"
**I am currently running**
- SpongeForge version: 1.12.2-2555-7.1.0-BETA-2840, also tested with BETA-2758 with same problem
- Java version: 8
- Operating System: tested on both Ubuntu and Debian

- Plugins/Mods: NONE, only SpongeForge

**Issue Description**
After a player teleports to the nether, ops are no longer able to right-click on command blocks.  EDIT: it seems to be player dependent, where

[2018-01-18 21:47] phit commented on #1718
Technically a dupe of https://github.com/SpongePowered/SpongeForge/issues/1838
But gonna leave this open, check if it happens with SpongeVanilla too, and then close my issue probably.

[2018-01-19 05:19] ryantheleach commented on #1620
@gabizou ArchetypeVolumes interact with EntityArchetypes and TileEntityArchetypes So there isn't any true spawning as an Archetype from my understanding is supposed to be just the data/nbt footprint of entities/tileentities .

I tend to think of it like modifying unloaded chunks or schematics.

[2018-01-19 05:32] ryantheleach commented on #1718
Reproducible on Sponge Vanilla 7.1.0-BETA-10

[2018-01-19 17:42] gabizou commented on #1620
Ok. I’ll make the necessary changes

[2018-01-20 00:13] kherock opened #1719 "Bed repawning doesn't work correctly"
**I am currently running**

- SpongeForge version: all latest versions
  - 1.12.2-2555-8.0.0-BETA-2841
  - 1.12.2-2555-7.1.0-BETA-2842
  - 1.11.2-2282-7.0.0-BETA-2376
  - 1.11.2-2476-6.1.0-BETA-2792
- SpongeVanilla version:
  - all versions equivalent to the above
- Java version: 8
- Operating System: Windows/Linux

- Plugins/Mods:
None

**Issue Description**

Currently if a player dies and repawn

[2018-01-20 00:14] phit commented on #1719
edit the versions properly latest is useless as it changes all the time..

[2018-01-20 06:19] kherock commented on #1719
I updated with some version numbers and some important details I forgot to mention!

[2018-01-20 17:20] ryantheleach commented on #1719
I'm able to reproduce this by following the steps.

[2018-01-21 09:28] ryantheleach opened #1720 "Location Serialization saves BlockType?"
[code]

The current Location classes serialization is interesting.

Location<x> seems to have somewhat of a crisis of identity, It more closely represents a BlockLocation rather then a (floating) location inside a world or extent, personally I think it could be due for a rename.

Anyway, the current serialization above, only serializes a reference to an extend if it's a world or chunk, as extent h

[2018-01-21 09:31] clienthax opened #1721 "ResourcePackState unwind error"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2555-7.1.0-BETA-2842.jar
- SpongeVanilla version:
- Java version: 1.8.0_152
- Operating System: Windows 10

- Plugins/Mods:
[code]

**Issue Description**
Seem to have a 50/50 chance of triggering this when logging into the server
https://pastebin.ubuntu.com/26429042/

**Test Plugin:** https://pastebin.ubuntu.com/26429076/

[2018-01-21 15:59] realGWM opened #1722 "Can not cancel dropping item from inventory on pressing `Q` (ClickInventoryEvent.Drop.Single)"
**I am currently running**
- SpongeForge version: no forge
- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-11.jar
- Java version: 1.8.0_144
- Operating System: Linux

- Plugins/Mods:
inventory_bug

**Issue Description**
`ClickInventoryEvent.Drop.Single` can not be cancelled (`ClickInventoryEvent.NumberPress`, `ClickInventoryEvent.Secondary`, `ClickInventoryEvent.Primary` can be cancelled

[2018-01-21 16:07] ryantheleach commented on #1722
From your conversation in discord and the video, it sounds like it is being cancelled, since the item isn't dropping, it's just not retaining the item / sending the update to the client?

[2018-01-21 16:09] realGWM commented on #1722
Yeah, I think so

[2018-01-21 17:22] gabizou commented on #1720
It’s one of those early implementations that I had to write for serialization. In all honesty, we may not even need to expose the location Object as a class at somepoint. Removing the block if wouldn’t be bad, just bump the content version and have it hard fail if the extent isn’t identifiable as a world or chunk. Personally if people are using location outside an extent perspective for an extent

[2018-01-22 20:38] ghost opened #1723 "Please remove this issue(posted incorrectly)"
- SpongeForge version: spongeforge-1.10.2-2477-5.2.0-BETA-2790.jar
- Java version: OpenJDK 64-Bit Server VM, version 1.8.0_151
- Operating System:Linux

All plugins and mods:  Minecraft, Minecraft Coder Pack, Forge Mod Loader, Minecraft Forge, Applied Energistics 2 Core, Aroma1997Core, IvToolkit, OpenComputers (Core), SpongeAPI, SpongeForge, CoFH ASM, ccl-entityhook, Nucleus Mixins, AdamantineShie

[2018-01-22 20:49] #1723 closed, assigned to nobody

[2018-01-23 01:06] ryantheleach opened #1725 "Tab completion with fallbacks"
@simonflash @ewoutvans

**I am currently running**

- SpongeForge version: ?
- SpongeVanilla version:
    Minecraft: 1.12.2
    SpongeAPI: 7.1.0-SNAPSHOT-dfc5c4a7
    SpongeVanilla: 1.12.2-7.1.0-BETA-11

Plugins (7): Minecraft, Mod Coder Pack, SpongeAPI, SpongeVanilla, Auction, EconomyLite, Skygrid

**Issue Description**

@ewoutvans on Discord:

![image](https://user-images.githubusercontent.com/1

[2018-01-23 01:13] ryantheleach opened #1726 "Disable or Move MixinProfiler to a MixinModule/Plugin"
At least one mod (TickDynamic) uses the Vanilla profiler to use measurements to change the behavior of the server.

By moving the MixinProfiler to something that can be enabled for performance (if never used) in the performance config settings, we can allow some compatibility with TickDynamic.

In addition @pokechu22 has requested that we not mess with the vanilla profiler, as it's one method of d

[2018-01-23 01:16] phit commented on #1726
why isn't this already connected to the timings module config that exists in the `global.conf`?

[2018-01-23 07:54] gabizou commented on #1726
The profiler itself is a poor mans profiler in comparison to timings and traditional JVM profiling wit a proper profiler. Yes, we can enable it to allow vanilla comparison of performance, but there are several specific calls that degrade performance. In the context of resolving the TickDynamic mod and including the responsible code into our codebase, it is 100% absolutely not necessary for us to u

[2018-01-23 08:13] Ewoutvans commented on #1725
Version stuff: SpongeVanilla
    Minecraft: 1.12.2
    SpongeAPI: 7.1.0-SNAPSHOT-dfc5c4a7
    SpongeVanilla: 1.12.2-7.1.0-BETA-11

And:
Plugins (7): Minecraft, Mod Coder Pack, SpongeAPI, SpongeVanilla, Auction, EconomyLite, Skygrid

[2018-01-23 08:54] Ewoutvans commented on #1725
Short video of the tab completion problem
https://youtu.be/tYGLQrFmBek

[2018-01-23 09:38] Ewoutvans commented on #1725
Did some testing and this issue only appears when you don't have a `.executor` on the base command (auctionCmd in my case)

[2018-01-23 17:20] Pokechu22 commented on #1726
I don't see any issue with making it configurable.  Yes, it's expensive to have it running most of the time, but keeping it disabled by default but allowing users to enable it has no downside other than the work.

Also, the issues with calls being expensive has actually been fixed in 1.12.1 (ref [MC-117087](https://bugs.mojang.com/browse/MC-117087 "[MC-117087] Class.getSimpleName performance issue

[2018-01-24 02:22] ryantheleach commented on #1506
It's tough, because whilst I like it being a config option, having this moved to the NBT files that follow the world would be more 'correct' and suddenly enabling overrides for configs isn't a sane option, because it could change things the server admin is unaware of.

This needs to be in the NBT files, or moved to the global config with options per world.

Of course, you could always argue:

"by

[2018-01-24 02:26] ryantheleach commented on #1506
I've set this to input wanted, @Zidane Can a snap decision be made as to which direction this ticket should head, so it's not paralyzed by decision making, and remove the tag once someone has made a decision?

[2018-01-24 11:45] XakepSDK opened #1727 "LaunchWrapper classloader issue"
LaunchWrapper loads every env. class by own classloader.
This classloader caches found and not found classes.
Minecraft has many libraries and these libraries can optionally depend on another libraries.
Like `log4j2` optionally depends on `Jackson`.
At minecraft startup, `log4j2` requests `ObjectMapper` class from LaunchWrapper's classloader.
There is no `Jackson` dependency in classpath at this m

[2018-01-24 12:56] stephan-gh commented on #1727
You should never include libraries in your plugin without relocation, so this shouldn't cause issues in most cases.

[2018-01-24 14:41] ryantheleach commented on #1727
Does the Spring suite even work after being relocated? The plugin in question is basically a HUGE plugin made to just contain libraries for what I suspect is a larger server network in the making. I mean, I get that the normal rules of relocating is a good ideal, But is shadow really good enough to handle relocating libraries with potentially massive asm and reflection hacks?

I just have my doubt

[2018-01-24 15:04] stephan-gh commented on #1727
There is not much we can do here. Launchwrapper is more or less dead, and hopefully the next solution will handle that a little bit better, or at least provide a nicer way to clear the cache.

Bundling libraries without relocation in plugins can easily cause issues as soon as two plugins bundle the same dependency with different versions. For most libraries, relocation doesn't cause any problems a

[2018-01-24 20:21] dualspiral commented on #1506
I'm not sure what you're getting at.

If you take a look at the SC code, [that method that sets the modifiers is _meant_ to set the config file programmatically](https://github.com/SpongePowered/SpongeCommon/blob/835d8696d73154e4505a9ea339ba555bf9025d5e/src/main/java/org/spongepowered/common/mixin/core/world/storage/MixinWorldInfo.java#L729) - as far as I can see, the config is designed to act as

[2018-01-25 01:33] ryantheleach commented on #1506
I was playing devils advocate (`Of course, you could always argue:`), and still ended up agreeing that it should be persisted. It was confusing, sorry.

Sure, so my devils advocate argument was that you should always set it, if it doesn't persist. If your plugin isn't loading WGen is going to fail anyway potentially. (assuming it's the same plugin managing world gen, as supplying it(bad assumption

[2018-01-25 07:27] gabizou commented on #1506
Personally, the config system is whacked out to where there's a lot of duplication and ambiguity about where config values are being pulled from.

Personally I prefer the world config being only populated if enabled **and** if values are different from the global config. This way, you can clearly see what is different, and whether the config is enabled or not. Though, I don't know if this is possi

[2018-01-25 08:23] dualspiral commented on #1506
It is, it would just require some custom logic in a custom object mapper, I think. I’ve done something similar in Nucleus where a config option isn’t generated unless the option is not the default or already defined. You could do something to link that with a parent config, or route read calls through some method that finds the first place the option is defined.

The other option is to add a “defa

[2018-01-26 15:36] XakepSDK opened #1729 "DestructEntityEvent.Death death player is second in cause"
[code]
Is this ok?

[2018-01-26 15:39] ImMorpheus commented on #1729
full stacktrace ?

[2018-01-26 15:42] XakepSDK commented on #1729
It's just ClassCastException, because `event.getCause().root()` returned `DamageSource` instance, not a `Player`, because dead player is second in context.
https://gist.github.com/XakepSDK/d34b0eb509b7420abbd55dbe02997784

[2018-01-26 16:06] dualspiral commented on #1729
If you want the dead player, you want to check the `Living` from `getTargetEntity()` instead. The `DamageSource` is correctly identified as the root _cause_ of the death - you don't want the cause, you want the _target_. The dead player may not even be the cause of the death at all, in which case, you wouldn't expect it.

So yes, this is working as expected. You want the target from `getTargetEnti

[2018-01-26 16:06] #1729 closed, assigned to nobody

[2018-01-26 16:11] XakepSDK opened #1730 "RespawnPlayerEvent original player inventory empty"
Original player's inventory always empty. PoC:
[code]
It prints `0` for all slots.

Does this work as intended?

[2018-01-26 16:16] XakepSDK commented on #1730
Also, even with this:
[code]
Slots in `RespawnPlayerEvent` are empty.

[2018-01-26 20:33] ImMorpheus commented on #575
I think this can be closed. Quoting from https://github.com/SpongePowered/SpongeAPI/issues/1733:

[2018-01-26 20:37] #575 closed

[2018-01-26 20:56] ImMorpheus commented on #1489
Status ? Is this a wontfix ?

[2018-01-26 21:00] ImMorpheus commented on #1524
Talked with Faithcaio. This is fixed in 1.12, this can be closed.

[2018-01-26 21:02] #1524 closed, assigned to nobody

[2018-01-26 21:10] ImMorpheus commented on #1537
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/970

This can be closed.

[2018-01-26 21:11] #1537 closed, assigned to nobody

[2018-01-26 22:35] Faithcaio commented on #1685
fixed in latest API-7

[2018-01-26 22:35] #1685 closed, assigned to nobody

[2018-01-26 22:58] ImMorpheus commented on #926
Working on this. PR scheduled for tomorrow.

EDIT:

Nevermind, I talked with Faith. Apparently the thing with ChangeInventoryEvent.Held is intended behaviour. He proposed a ChangeInventoryEvent.Held.Scroll, `Fired when a {@link Living} scroll through its {@link Hotbar}`. (specifically, every time the slot index change by 1 position). After implementing it, I discovered I could bypass the cancellat

[2018-01-27 07:54] Faithcaio commented on #1489
yeah. use `slot.transform().parent()` to get the "real" inventory

[2018-01-27 07:54] #1489 closed, assigned to Faithcaio

[2018-01-27 08:11] Faithcaio commented on #1730
`DropItemEvent.Destruct` only handles the dropped items not the inventory change.
Also we intentionally clear the inventory before this event: https://github.com/SpongePowered/SpongeCommon/blob/6f33321bfcb596d6dba17cf918102bed392e8b53/src/main/java/org/spongepowered/common/event/tracking/phase/entity/DeathPhase.java#L176-L180

[2018-01-27 08:50] XakepSDK commented on #1730
https://github.com/SpongePowered/SpongeCommon/issues/1398#issuecomment-309945641

[2018-01-27 10:35] ryantheleach commented on #1730
@XakepSDK Sorry for being misleading, My memory isn't the best.

[2018-01-27 10:41] XakepSDK commented on #1730
Well, @bloodmc

[2018-01-27 11:12] ryantheleach commented on #1730
https://github.com/SpongePowered/SpongeCommon/blob/6f33321bfcb596d6dba17cf918102bed392e8b53/src/main/java/org/spongepowered/common/event/tracking/phase/entity/DeathPhase.java#L195-L196

[2018-01-27 12:30] ryantheleach commented on #447
After discussing this with dualspiral and morph with the *current* state of the API, the original solution was would now be considered fixed with a work around of changing the syntax.

The points to note on API7 is that Optional and OptionalWeak differ.

Optional<String> will match, and offset all the arugments.
Optional<Int> wouldn't so wouldn't offset all the arguments.

CommandSpec.arguments().

[2018-01-27 12:31] ryantheleach commented on #1730
I honestly think that's work's as designed...

If you are cancelling the drops, you are essentially saying, "Copy this to the player and restore it after death.

Just because 2 mods are providing the same soulbound mechanic twice to the same player... They both should be checking to make sure that the inventory doesn't already contain the soul bound item.

Yes it's awkward, maybe we can make the e

[2018-01-27 15:55] #1725 closed, assigned to dualspiral

[2018-01-27 17:28] Faithcaio commented on #1730
`DropItemEvent.Destruct` is NOT an inventory event. Canceling it does not affect the inventory in any way.

If you want to put dropped items back in to the player you need to do it manually.

In the latest build Items on the corpse are copied to the respawned player.

For older builds you would have to do this part yourself in `RespawnPlayerEvent`.

This is all we can do for now without completly

[2018-01-27 17:28] #1730 closed, assigned to nobody

[2018-01-27 17:34] XakepSDK commented on #1730
`RespawnPlayerEvent` can be deprecated?

[2018-01-27 17:58] ryantheleach commented on #1730
No, `RespawnPlayerEvent` is still very useful.

It lets you know when the player Respawns. It also lets you remove data, copy data, increase stats, or remove items, update your raw entity references.

Tons of uses still.

[2018-01-27 18:09] ryantheleach commented on #1398
@DarkArc Faith has found a solution that seems to work with tinkers construct, that allows us to copy on respawn by default.

[2018-01-27 18:25] XakepSDK commented on #1730
I think, `getOriginalPlayer` should be renamed into `getCorpse` because name can be confusing.(in api 8, in api 7 we can just mark behavior in javadoc)

[2018-01-27 19:39] XakepSDK commented on #1719
Old player location isn't copied to new player after dying in another dim.

[2018-01-27 21:01] #1722 closed, assigned to Faithcaio

[2018-01-27 21:14] bloodmc commented on #1178
I can't reproduce this issue so closing as it was probably fixed awhile back.

[2018-01-27 21:14] #1178 closed, assigned to gabizou, Aaron1011, bloodmc

[2018-01-27 21:38] ImMorpheus commented on #1356
Still happening on 1.12 (bleeding branch).

This is due to the fact that the event is thrown before the player if fully recreated https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/server/MixinPlayerList.java#L551

(As a quick test, moving the event to the end of the method would fix everything, but then you wouldn't be able to change the

[2018-01-27 22:14] ImMorpheus commented on #1397
Partially able to reproduce on 1.12
UseItemStackEvent.Start is working fine.

LaunchProjectileEvent is broken.

[2018-01-28 00:51] todo[bot] opened #1733 "add HandPreference to PlayerChangeClientSettingsEvent once DominantHandData is i..."
https://github.com/SpongePowered/SpongeCommon/blob/213de08977652e452ac712bfe45df868e2f93c59/src/main/java/org/spongepowered/common/mixin/core/entity/player/MixinEntityPlayerMP.java#L451-L456

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in 213de08977652e452ac712bfe45df868e2f93c59. It's been assigned to @Faithcaio because they committed the code

[2018-01-28 00:51] todo[bot] opened #1734 "Investigate mixing into setPositionAndUpdate to catch more teleports"
https://github.com/SpongePowered/SpongeCommon/blob/8c901fa850f9eb121b1cec4d59c2eb5837d406b6/src/main/java/org/spongepowered/common/mixin/core/entity/MixinEntityLivingBase.java#L677-L682

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in 8c901fa850f9eb121b1cec4d59c2eb5837d406b6. It's been assigned to @Faithcaio because they committed the code.

[2018-01-28 00:52] #1733 closed, assigned to nobody

[2018-01-28 05:35] XakepSDK opened #1735 "HarvestEntityEvent.TargetPlayer impl request"
Event has feature to keep inventory, but this is impossible. Methods for this must be removed.
[code]
Also, event is unimplemented.

At this moment is impossible to keep inventory and do not keep level. This implementation will give support for keeping level independently from inventory.

[2018-01-28 11:13] Faithcaio commented on #1735
related Events: `DestructEntityEvent.Death`, `DropItemEvent.Destruct`
as @bloodmc suggested it might be best to subclass the `DestructEntityEvent.Death` for players with the methods from `HarvestEntityEvent.TargetPlayer` (what about humanoid?)

Also maybe tie the spawning of experience to the Destruct event?

[2018-01-28 11:52] #1716 closed, assigned to nobody

[2018-01-28 20:44] ryantheleach commented on #926
This still exists in 1.12 according to Morph

[2018-01-28 20:55] clienthax commented on #1721
It seems this happens when the player has accepted the inital prompt, and the pack is finished downloading.

[2018-01-29 00:36] todo[bot] opened #1736 "This applies only to singleplayer, on the server canSendCommands is called with ..."
https://github.com/SpongePowered/SpongeCommon/blob/32ce6501fecff54be5e2f30f73f3be5e8f3f5808/src/main/java/org/spongepowered/common/mixin/core/server/MixinPlayerList.java#L844-L849

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in 32ce6501fecff54be5e2f30f73f3be5e8f3f5808. It's been assigned to @Faithcaio because they committed the code.

[2018-01-29 08:57] #1736 closed, assigned to nobody

[2018-01-29 18:40] todo[bot] opened #1738 "This applies only to singleplayer, on the server canSendCommands is called with ..."
https://github.com/SpongePowered/SpongeCommon/blob/d7871a0f08dd4ac1790057d2868d20a62844ba93/src/main/java/org/spongepowered/common/mixin/core/server/MixinPlayerList.java#L833-L838

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in d7871a0f08dd4ac1790057d2868d20a62844ba93. It's been assigned to @Faithcaio because they committed the code.

[2018-01-29 18:50] SimonFlash commented on #1738
Duplicate of #1736. You should know better.

...man I hate this thing.

[2018-01-29 19:35] #1738 closed, assigned to nobody

[2018-01-29 20:15] bloodmc commented on #1719
Fixed in commits

https://github.com/SpongePowered/SpongeCommon/commit/65d1ec286c41b0b2259ac1e986c06dc679d626df
https://github.com/SpongePowered/SpongeCommon/commit/d7871a0f08dd4ac1790057d2868d20a62844ba93
https://github.com/SpongePowered/SpongeCommon/commit/588fae261e29f1a0a895f4c992862f63ff5c7649

[2018-01-29 20:15] #1719 closed, assigned to nobody

[2018-01-29 20:41] Faithcaio commented on #1738
i didnt even touch that line of code :(

[2018-01-30 12:51] ryantheleach commented on #1655
@felixoi Looking over the Minecraft source I don't think we should necessarily fix this, and it might fix itself or become possible to fix in 1.13 without overwriting mc commands for nearly no reason.

Was there a good reason why you needed this? Or was it just a (small) thing that didn't seem to make sense?

Plugins can always override /kill with their own command, that returns different messages

[2018-01-30 14:45] felixoi commented on #1655
It was a small thing I regonized when cancelling the event. Nothing world-breaking.

[2018-01-30 15:43] parlough commented on #1134
Going to close this for now due to no one else reporting the issue. If it occurs again I will re-investigate the issue.

[2018-01-30 15:43] #1134 closed, assigned to nobody

[2018-01-30 16:08] parlough commented on #742
Going to close this for now due to https://github.com/SpongePowered/SpongeAPI/pull/1728 and its implementation. If you would like changes or find problems please open a new issue with the updated state of data events.

[2018-01-30 16:08] #742 closed

[2018-01-30 16:11] parlough commented on #739
@ST-DDT What is the current state of this issue? What still needs to be addressed?

[2018-01-30 16:18] trentech opened #1739 "Several WorldProperties settings not changing"
- SpongeForge version: spongeforge-1.12.2-2586-7.1.0-BETA-2863
- SpongeVanilla version: spongevanilla-1.12.2-7.1.0-BETA-11
- Java version: 8 U151
- Operating System: Windows 10
- Plugins/Mods: PJC, PJW

Varies world properties are not saving when being set. Tested the following

`properties.setDifficulty()`
`properties.setMapFeaturesEnabled()`
`properties.setGameMode()`
`properties.setPVPEnabled()

[2018-01-30 17:36] dualspiral commented on #1739
Same issue as https://github.com/SpongePowered/SpongeCommon/issues/1506

[2018-01-30 17:42] phit commented on #1739
Duplicate of #1506

[2018-01-30 17:42] #1739 closed, assigned to nobody

[2018-01-30 17:56] ImMorpheus commented on #1523
Tested on SpongeForge bleeding branch.
I was able to reproduce:
indirect BlockBreak/Place (player not in the cause)
LocatableBlock is in Cause twice in Leaf Decay
SpongeCommonFactory#callChangeBlockEventModifyLiquidBreak wrong context.
@RedNesto is doing the MoveEntityEvent.Teleport

[2018-01-30 19:00] ryantheleach commented on #1655
It's more maintenance then it's worth, could cancel message events, could make a new command with same alias

[2018-01-30 19:00] #1655 closed, assigned to nobody

[2018-01-31 04:43] ryantheleach commented on #8
The ShortList:

- [ ] DamagingData - Requires hooking into attacking.
- [x] DominantHandData (@ZephireNZ / @Meronat) - #712
- [ ] LeashData
- [ ] SizeData (@hsyyid / @Meronat) - #1492
- [ ] SleepingData (@sanman00) - #1488
- [x] TagData (@Meronat) - #1490
- [ ] InventoryItemData - Requires Inventory implementation
- [ ] MapItemData - Needs Maps API in general
- [x] WireAttachmentData - Partially d

[2018-01-31 05:46] ryantheleach commented on #1052
Does this still need an Array serializer added to function?  Or can I close this as works as intended, and create a new issue regarding Array Serializers so that it's easier to find and more on-point?

[2018-01-31 05:51] ryantheleach commented on #1116
Does this still occur on 1.12? If so, this could be limiting migration of Bukkit to Sponge.

@TheRaspPie It's a convenient place to keep a name, and the UUID's are a sponge concept in order to unique-ify worlds.

There should be no reason why we can't import a world with duplicate names, or duplicate UUID's given input from the user on what to do.

I would expect attempting to import a world with

[2018-01-31 05:53] ryantheleach commented on #1196
Is this still the case? If so, is it a duplicate/relative of https://github.com/SpongePowered/SpongeCommon/issues/1506

[2018-01-31 05:56] ryantheleach commented on #1403
Does anyone know if we have had any recent reports of this on 1.12? Some reproduction steps would be sweet.

[2018-01-31 06:01] ryantheleach commented on #1404
It's my hope that the capturing system is different enough from 1.12 that this is fixed, but judging by my memory of IC2 code it's doubtful.

If IC2 has been updated for 1.12 I'm looking for someone to test this on 1.12.

@limbo-app move to sf

[2018-01-31 06:33] ryantheleach commented on #1062
@kashike I think it's possible, given the structure they specified. Would we be willing to pull it if someone made a PR, or accept this issue if someone else was willing to code it after the team accepting a strawman proposal?

@Yeregorix I noticed you thumbs'd up this, what are your thoughts? Would you and @thomas15v be willing to sort out the details / PR if the team accepts?

This issue has bee

[2018-01-31 06:35] ryantheleach commented on #1005
@Aaron1011 Do you know if this is still relevant?

Given the mob entity cramming rules that Mojang have introduced, is the collision patch still as useful as it was?

[2018-01-31 06:38] ryantheleach commented on #1067
@Limeth If you still care about this issue, can you create a test plugin demonstrating it's still around on 1.12?

[2018-01-31 06:46] ryantheleach commented on #970
@ImMorpheus What was the resolution on this?

[2018-01-31 06:49] parlough commented on #970
https://github.com/SpongePowered/SpongeCommon/pull/1708

[2018-01-31 06:49] phit commented on #1404
~move to sf

[2018-01-31 07:02] phit commented on #1404
~move to sf

[2018-01-31 07:02] limbo-app commented on #1404
Hey @XakepSDK! I've moved your issue to [SpongePowered/SpongeForge#1979](https://github.com/SpongePowered/SpongeForge/issues/1979).

[2018-01-31 07:02] #1404 closed, assigned to nobody

[2018-01-31 07:02] limbo-app commented on #1404
Hey @XakepSDK! I've moved your issue to [SpongePowered/SpongeForge#1980](https://github.com/SpongePowered/SpongeForge/issues/1980).

[2018-01-31 08:10] ryantheleach commented on #1541
@theboomer I'm no longer able to replicate this on vanilla Minecraft.

I set server.properties to max-world-size 100, created a world and logged in, rather small world border was observed.

Restarted with max-world-size set to 8, died due to impossibly small world border on log in.

@theboomer (or anyone else with time)

The next step is to attempt to replicate with SpongeVanilla and SpongeForge.

[2018-01-31 08:30] dualspiral commented on #1062
I see no reason for us to do this when it would likely be less work for an owner to symlink configs than to configure any implementation, which would be then be another source of issues we would get from owners who change things without knowing what it does, taking valuable time up. We would also have to maintain such a system for a handful of servers.

I think this should be be no. We don’t need

[2018-01-31 08:42] thomas15v commented on #1062
@dualspiral the only way to do this is symlink plugin configurations/jars separately, what is more work to maintain that what I am proposing.

With symlinking you do this:
1. drop jar in the common plugin folder
2. rename the plugin without the version in the name (annoying because you can't see the version than)
3. google how to do `find -exec` again.
4. The command to symlink the plugin jar on e

[2018-01-31 09:25] dualspiral commented on #1062
There are plenty of other, better solutions. Having plugins accessed by more than one instance might seem safe, but if you update the directory and forget to restart a server you might find a server explode over the console and stop functioning correctly as it can’t suddenly classload the class it hadn’t used yet. There might be file locking issues. All things that would be the server owners fault

[2018-01-31 09:28] RedNesto commented on #1546
Seems everything is working fine on my side:
- spongeforge-1.12.2-2586-7.1.0-BETA-2865

and
- spongevanilla-1.12.2-7.1.0-BETA-14

But I think it would need the confirmation from someone else.

[2018-01-31 09:48] thomas15v commented on #1062
I agree that the change is a bit breaking. The config file needs to get migrated and it might annoy more people. I am not doing servers anymore, but if I were I would just make docker images and do something like this:

[code]

[code]

But the thing is not every minecraft server owner out there is a Linux guru with a beard. Rsync, Docker and symlinks are pretty powerfully tools. But they add a lot

[2018-01-31 09:52] ryantheleach commented on #1062
If you arn't even needing your own issue anymore, as well as the comments that dual made about file locking make this open and shut in my mind. I blanked and forgot that a lot of plugin configs are read/write not just read.

[2018-01-31 09:52] #1062 closed, assigned to nobody

[2018-01-31 10:05] ryantheleach commented on #1546
Retested a few of these as a spot test on SpongeVanilla, works.

@theboomer Thanks for the detailed reproduction steps.
@RedNesto Thanks for taking the time to test this issue.

[2018-01-31 10:05] #1546 closed, assigned to nobody

[2018-01-31 10:59] FabioZumbi12 commented on #1504
`TextSerializers.FORMATTING_CODE.serialize(Text.of("&cHello &a"))` removes the last color code too. I having this issue when using on my chat plugin, where i need to parse a lot of placeholders and tags too, and all as string, and starting and ending with strings and color codes.

[2018-01-31 11:39] Limeth commented on #1067
No, I haven't done any Minecraft related programming in a while.

[2018-01-31 11:45] VapidLinus opened #1744 "Phase exception during MoveEntityEvent.Teleport if closing a player's inventory while holding item in cursor"
If during a `MoveEntityEvent.Teleport` event, a player is holding an item on their cursor and `player.closeInventory()` is called, a phase exception is thrown.

**Sample code to reproduce issue:**
[code]

**Reproduce instructions:**
1. Write !test in chat
2. Quickly click on the diamond to put it on your cursor
3. After 3 seconds you will be teleported into the air and your inventory will close.
4

[2018-01-31 12:18] ryantheleach commented on #1744
@VapidLinus Just wondering, are you using bleeding/experimental builds for the sake of testing? Whilst we appreciate the bug report, I'm mildly worried about people who are running bleeding/experimental in production, so figured I'd give this obligatory warning that it's a bad idea.

[2018-01-31 12:20] RedNesto commented on #1744
This is also a thing on `spongevanilla-1.12.2-7.1.0-BETA-14`

[2018-01-31 12:21] VapidLinus commented on #1744
@ryantheleach Just for testing! My plugin/server has a *long* way to go before it goes public, so I figured I might as well be on bleeding so I am ready to adapt to new API changes as soon as possible until I'm getting closer to release.

[2018-01-31 12:32] RedNesto commented on #1744
I looked at the issue and now no more exceptions Phase-wise, but no items dropped :3

[2018-01-31 12:35] VapidLinus commented on #1744
@RedNesto Awesome! 🎉

I wasn't sure if no items being dropped was this issue or a separate one. I noticed but haven't confirmed that `player.closeInventory()` always just makes the cursor item disappear even outside of this case.

[2018-01-31 13:33] ryantheleach commented on #1504
@kashike @Minecrell I'd maybe consider this a bug considering the ways that Legacy text formatting methods are usually used and peoples expectations of it just working like string appending.

Mark as bug or close?

[2018-01-31 13:33] ImMorpheus opened #1746 "No event is fired when breaking blocks indirectly (in some cases)"
**I am currently running**

- SpongeForge version: Bleeding branch (https://github.com/SpongePowered/SpongeForge/commit/29fd16f5fcafb25e392896ed70b4de7efb9a1d30 commit)
- SpongeVanilla version: untested
- Java version:
- Operating System:

- Plugins/Mods: none

**Issue Description**
As of now I've found two way to reproduce this:

- Place a cactus (at least two blocks)
- Place a piston two blocks

[2018-01-31 13:36] ryantheleach commented on #1746
Thanks for the report, Are any other BlockChangeEvents fired, even if you were expecting Breaks?

[2018-01-31 13:40] ImMorpheus commented on #1746
No. If you listen to the parent event you can see the ChangeBlockEvent.Modify (because you activated the lever) and the ChangeBlockEvent.Place (because you're moving a block with a piston) and then the ChangeBlockEvent.Post which should contain all the block changes (but it doesn't contain the lever), but there's nothing related to the block which is breaking.

[2018-01-31 13:53] stephan-gh commented on #1504
It works as intended, but maybe we should consider disabling this in a separate method and/or a parameter.

[2018-01-31 14:05] ImMorpheus commented on #1371
I'm able to reproduce this on SpongeForge (latest bleeding branch)

[2018-01-31 17:00] ImMorpheus commented on #1522
~~> also checked doesn't happen in vanilla~~

~~I'm able to reproduce this in vanilla (1.12, bleeding branch)~~

My bad.

[2018-01-31 17:33] RedNesto commented on #1744
@VapidLinus Were you in creative mode while having the item drop issue, because after talking with Faithcaio we found that the creative mode does not drops the item at cursor, but survival works fine.

[2018-01-31 18:18] phit commented on #1522
With Vanilla I meant actual Vanilla, not SpongeVanilla.

[2018-01-31 18:53] ImMorpheus commented on #1613
Tested on SpongeForge 1.12 (bleeding branch)

I'm not able to reproduce the crash, this can be closed.

[2018-01-31 18:55] phit commented on #1613
@ryantheleach you reopened this, status?

[2018-01-31 19:45] RedNesto commented on #1447
I cannot reproduce on `spongeforge-1.12.2-2586-7.1.0-BETA-2865` and `spongevanilla-1.12.2-7.1.0-BETA-14`

[2018-01-31 19:58] Faithcaio commented on #1280
Should work now.

Except the item on your cursor when closing the inventory.

[2018-01-31 20:54] VapidLinus commented on #1744
@RedNesto Nope, I tested everything in survival mode. I will try to create reproduction steps tomorrow!

[2018-01-31 21:21] #1371 closed, assigned to nobody

[2018-01-31 21:42] ImMorpheus commented on #1363
The first one is fixed and a duplicate of https://github.com/SpongePowered/SpongeCommon/issues/1280
I'm not able to reproduce the second issue on latest (bleeding branch) (probably fixed by JBYoshi's commit)

[2018-01-31 21:42] ImMorpheus commented on #1280
Can confirm. Everything is fixed aside that one.

[2018-01-31 22:37] Faithcaio commented on #1744
https://github.com/SpongePowered/SpongeCommon/commit/7796f59c6671ba4d34e1273a5438c7049274e1c0

[2018-01-31 22:37] #1744 closed, assigned to nobody

[2018-01-31 23:38] #1568 closed, assigned to parlough

[2018-01-31 23:43] #1113 closed, assigned to nobody

[2018-02-01 00:16] ryantheleach commented on #1439
@lesbleu Are you able to check on the latest SF / SV?

Additionally, when I mentioned it to blood, he says he is having no issue at listening at ChangeBlockEvent.pre and that the context is complete in GriefPrevention.

Can you supply a test plugin that demonstrates the issue in order to clarify? I assume you mean that the metadata that Sponge logs regarding player notifier/creator is incorrect, a

[2018-02-01 00:19] bloodmc commented on #1439
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/event/block/ChangeBlockEvent.java#L97

The proper user will be in event. Just check if source is liquid or context (once updated to support liquid flow).

[2018-02-01 00:32] ryantheleach commented on #1447
@RedNesto Thanks for testing I assume you used the listener in the OP.

@SjsolisZXA If you are able to still reproduce this, leave a comment describing how and I'll re-open.

[2018-02-01 00:32] #1447 closed, assigned to nobody

[2018-02-01 00:45] ryantheleach commented on #1613
It was reopened based on looking at the code, not the error.

Basically, I see fused explosives as having the following timeline.

fuseTicking -> primed -> exploding.

The problem is the edge cases at the transitions, during the event the fix made it seem like a tnt could be BOTH in primed state and in exploding state.

In my mind they are mutually exclusive. exploding is the state after primed.

[2018-02-01 01:10] ryantheleach commented on #1363
@lesbleu Thanks for the report.

@ImMorpheus Thanks for testing this, I'm pretty confident that if you arn't able to reproduce it's fixed given the amount of worked touched here since august.

@lesbleu @rexbut If either of you are able to reproduce, feel free to comment to reopen or make a new issue.

[2018-02-01 01:10] #1363 closed, assigned to nobody

[2018-02-01 01:16] bloodmc commented on #1678
These events are working as intended. First, an ItemStack is NOT an Entity. EntityItem's are created when an ItemStack needs to be spawned into the world which is what these events use. It is also impossible to guarantee restoration to inventory once an entityitem has spawned when you factor in mods and plugins. For all the cases we CAN guarantee it, we fire a 'DropItemEvent.Pre'.

I've been start

[2018-02-01 01:16] #1678 closed, assigned to nobody

[2018-02-01 02:19] Dockter opened #1748 "Static field EMPTY not being initialized in developer environment (SF2868)+"
- SpongeForge version:  2868
- Forge version: 2607

In developer environment:

https://gist.github.com/Dockter/a736883e4a3315f91446fe138d89efed

[2018-02-01 02:21] kashike commented on #1748
@Cybermaxke

[2018-02-01 02:37] #1037 closed, assigned to nobody

[2018-02-01 03:49] Zidane commented on #1748
I have pushed a fix for this to bleeding. @Cybermaxke look it over and let me know if there should be more changes.

[2018-02-01 04:16] bloodmc commented on #1746
Pistons are a special case that use 'ChangeBlockEvent.Pre' for all locations that will be affected during a move. This is done for performance reasons and to avoid issues with trying to rollback partial moves.

Use the following event contexts to determine direction of move https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/event/cause/EventContextKeys.jav

[2018-02-01 04:16] #1746 closed, assigned to nobody

[2018-02-01 06:31] Zidane commented on #1165
This has been a long time coming but:

https://github.com/SpongePowered/SpongeCommon/tree/feature/multi-world-difficulty

Still a WIP but mostly there. Apologies for the very long wait!

[2018-02-01 11:59] ImMorpheus commented on #1556
PR merged. This can be closed.

[2018-02-01 12:11] phit commented on #1556
~actually leaving this open until it's on the stable branch~

[2018-02-01 16:25] VapidLinus commented on #1744
@RedNesto After doing some tests I've come to the conclusion that I was wrong about items not dropping _(in other cases; in this issue the item wasn't being dropped but that is now fixed)_. I was just not considering that the item is dropped before the player gets teleported, so the item gets dropped where the player was before the teleport :)

[2018-02-01 16:38] #1556 closed, assigned to nobody

[2018-02-01 23:45] LXGaming opened #1750 "Unable to find InventoryPacketState Handler"
**Tested on the following:**
- SpongeForge-1.12.2-2555-7.1.0-BETA-2840
- SpongeForge-1.12.2-2586-7.1.0-BETA-2873
- SpongeVanilla-1.12.2-7.1.0-BETA-15

**Issue Description**
Middle clicking outside of any inventory (excluding Creative) causes the following warning in console:
`[Server thread/WARN] [Sponge]: Unable to find InventoryPacketState handler for click window packet: CPacketClickWindow{wind

[2018-02-02 04:33] Dockter commented on #1748
Update to this issue:  Now stands as: https://gist.github.com/Dockter/061971a8657fa9810ee692333a762e67

[2018-02-02 05:46] ryantheleach commented on #1750
@LXGaming I know you didn't expect the warning, but was there some game play element that you were expecting to happen when you middle clicked outside the window?

[2018-02-02 05:55] LXGaming commented on #1750
@ryantheleach Nope.

I don't believe Minecraft performs any action when middle clicking outside of the window.

[2018-02-02 07:45] gabizou commented on #1748
While this happens only in development environment, does it happen AT ALL in production?

[2018-02-02 09:53] VapidLinus opened #1751 "Phase exception when teleporting a player having an item on their cursor a distance greater than 4 blocks"
_An oddly specific issue that was really annoying to get to reproduce outside of my plugin at first, haha._

If a player has an inventory open, an item on their cursor, and gets teleported any distance greater than 4 blocks, a phase exception is thrown.

**Sample code to reproduce issue:**
[code]

**Reproduction instructions:**
1) Write !test in chat
2) Quickly pick up the diamond in the inventory

[2018-02-02 15:27] ImMorpheus commented on #1751
As a quick fix, you can disable drops-pre-merge in global.conf.

[2018-02-02 16:20] Dockter commented on #1748
@gabizou, no, its not happening in production.  @Zidane has been able to replicate in his environment so it is reproducible.

[2018-02-02 17:02] Faithcaio commented on #1751
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/7594478c8d86342e08bbf018e071a7689ee8d2e3.

Those Phases are really annoying sometimes.

[2018-02-02 17:02] #1751 closed, assigned to nobody

[2018-02-02 19:59] gabizou commented on #8
@ryantheleach Maps API was abandoned ~again~, so it's something that modwiz isn't going to be getting to anytime soon.

[2018-02-02 23:48] Zidane commented on #1709
Not a Sponge bug, @bloodmc closed this in GP.

[2018-02-02 23:48] #1709 closed, assigned to nobody

[2018-02-02 23:56] Zidane commented on #1613
Closing this, open a new issue ryan and don't take over this issue. The original issue, the crash, is fixed.

[2018-02-02 23:56] #1613 closed, assigned to JBYoshi

[2018-02-02 23:59] Zidane commented on #1403
Closing as I've tested this to death months ago per codehusky's issue on SV and I cannot get this to reproduce. I've tried every way I can think of and told of and the UUID is and has always persisted fine and loaded fine. Find me a reproduction and make mew a new issue.

[2018-02-02 23:59] #1403 closed, assigned to nobody

[2018-02-03 00:01] Zidane commented on #1532
Closing as I have a PR for this here: https://github.com/SpongePowered/SpongeCommon/pull/1548

[2018-02-03 00:01] #1532 closed, assigned to nobody

[2018-02-03 00:04] Zidane commented on #1325
Closing this as it is modder spec to know that for anything that is ResourceLocation-like, the default will ALWAYS be minecraft:blah and I don't feel we need to be deciding to change this global default based on the catalog. Just muddies this up much further.

[2018-02-03 00:04] #1325 closed, assigned to gabizou

[2018-02-03 00:06] Zidane commented on #1509
Closing as we no longer support 1.10.

[2018-02-03 00:06] #1509 closed, assigned to nobody

[2018-02-03 00:07] Zidane commented on #1397
@ImMorpheus

Want to work on LaunchProjectileEvent?

[2018-02-03 00:09] RedNesto commented on #1397
@Zidane Oh, I started working on LaunchProjectileEvent, but I will need some time to do it properly (modded support mostly)

[2018-02-03 00:10] Zidane commented on #920
Closing as we have a PR open: https://github.com/SpongePowered/SpongeCommon/pull/1749

[2018-02-03 00:10] #920 closed

[2018-02-03 05:14] liach commented on #23
DataRegistrar should be a final class

[2018-02-03 06:52] kashike commented on #1748
https://github.com/SpongePowered/SpongeCommon/commit/07d6b38c255a01c6b5a2098ac2369282804c1951

@Cybermaxke this code breaks the client - Bootstrap is **way** before Sponge has been initialised.

[2018-02-03 06:53] Zidane commented on #1748
@Cybermaxke @gabizou

No one ever ran the client in the IDE with the changes above? This kind of change should have NEVER been merged without doing that. This needs to be fixed like 5 days ago...........

[2018-02-03 09:16] Zidane commented on #1748
Update: Inconclusive to this being a mod compat issue with Almura + MalisisCore and Sponge. Still investigating..

[2018-02-03 10:59] #1748 closed, assigned to kashike

[2018-02-03 13:17] ImMorpheus commented on #1442
Same of https://github.com/SpongePowered/SpongeCommon/issues/1439

Not able to reproduce, the owner is present.

Test plugin:
[code]

This can be closed.

[2018-02-03 13:49] ryantheleach commented on #1442
After looking into this, I think this was the result of the `/sponge blockinfo` command, rather then the owner in the cause, which is correct as morph said. @ImMorpheus is working on a PR.

@lesbleu I know this took us some time to look into it, but it was nearly missed, The video was great, but having text instructions would have made this crystal clear.

[2018-02-03 14:42] limbo-app opened #1758 "[1.12.2] SpongeCommon missed introduction of KeyBind TextComponent"
This issue was originally submitted by @kremi151 in [SpongePowered/SpongeForge#1986](https://github.com/SpongePowered/SpongeForge/issues/1986).
___
I am using SpongeForge BETA 2865. The server crashes when loading a world when the newest version of my mod (MinaMod) is present, as it worked perfectly before the new version. One thing I changed was the descriptions of 2 advancements to display the k

[2018-02-03 14:46] ryantheleach commented on #1758
We need to not crash if brand new (Minecraft, but potentially modded) Text Components are added that we don't recognize.

Adding it to the API can come later, but first up we need to not crash.

[2018-02-03 14:48] ryantheleach commented on #1439
Reopening this. `/sponge blockinfo` was used by @ImMorpheus after his PR, the PR only fixes the sand falling not having owners, but doesn't correct the water not having owners. This still issue still needs to be addressed. @bloodmc I know we tested this ages and ages ago with GP, but since then there has been pre events and all sorts added.

What's the correct behavior for water and owners/notifie

[2018-02-03 20:07] #1750 closed, assigned to Faithcaio

[2018-02-03 20:12] NeumimTo opened #1762 "NBTTranslator cannot handle Enums"
**I am currently running**
- SpongeVanilla version: API 7.1 beta 16
- Java version: 8
- Operating System: ubuntu 17

I'm trying to implement AbstractSingleEnumData but every time i offer the datamanipulator the action ends with  "Unable to translate object to NBTBase:".

    at org.spongepowered.common.data.persistence.NbtTranslator.getBaseFromObject(NbtTranslator.java:164) ~[NbtTranslator.class:1

[2018-02-03 20:19] RedNesto commented on #1381
I cannot reproduce with SpongeForge bleeding (https://github.com/SpongePowered/SpongeForge/commit/ff8a374020d02a7a5932eef54ef19c171d6c8ab0)

Where the magic takes place:
[code]

And the output of the ConfigurationNode is
[code]

[2018-02-03 20:23] Zidane commented on #1762
It could be @NeumimTo . Wanna PR us a fix?

[2018-02-03 20:25] #1381 closed, assigned to nobody

[2018-02-03 20:27] todo[bot] opened #1763 "Expose flush parameter in SpongeAPI?"
https://github.com/SpongePowered/SpongeCommon/blob/534ccd511878f2f8a38b8ce9b321b656154d057b/src/main/java/org/spongepowered/common/mixin/core/world/MixinWorldServer.java#L949-L954

---

###### This issue was generated by [todo](https://todo.jasonet.co) based on a `TODO:` comment in 534ccd511878f2f8a38b8ce9b321b656154d057b. It's been assigned to @Faithcaio because they committed the code.

[2018-02-03 20:32] NeumimTo commented on #1762
tbh I have no idea how datamanipulators internally works. i would need someone who can i harrass with bunch of questions.

[2018-02-03 20:50] NeumimTo commented on #1762
eh.. ill give it a try

[2018-02-03 20:57] Faithcaio commented on #1763
TODO: disable bot

[2018-02-03 20:57] #1763 closed, assigned to nobody

[2018-02-03 20:59] #1434 closed, assigned to nobody

[2018-02-03 21:02] Faithcaio commented on #1434
Can't reproduce.
Might have been fixed with the same commit as in #1750.
No idea how items would disappear with it.

[2018-02-03 21:47] ziceptor opened #1764 "Configs always on (true)? (config-enabled=false)"
\config\sponge\worlds\minecraft\overworld\world\world.conf

I made changes

[code]
I left as is

`config-enabled=false`

And started the server. You generated an empty world.

forge-1.12.2-14.23.1.2586-universal.jar
spongeforge-1.12.2-2586-7.1.0-BETA-2882.jar

[2018-02-04 00:32] JBYoshi commented on #1762
@NeumimTo I think you can fix this by changing your `toContainer()` methods to add the `name()` of the value instead of the value itself, and then updating your `from()` method to use `SocketType.valueOf()`. Sponge uses [something like this](https://github.com/JBYoshi/SpongeAPI/blob/eee151153fab8bc245c883292ddfceaac10df8bf/src/main/java/org/spongepowered/api/data/manipulator/mutable/common/Abstrac

[2018-02-04 04:02] kashike commented on #1734
![no](http://eleganthack.com/wp-content/uploads/2013/09/DoNotWantCat.jpg)

[2018-02-04 04:02] #1734 closed, assigned to todo[bot]

[2018-02-04 10:07] NeumimTo commented on #1762
@JBYoshi  i was thinking about that as well, but then what is the purpurose of AbstractSingleEnumData when it cannot store/load enum type. i would expect sponge will abstract these calls name/valueof away. If i still have to store data internally as a string and sponge wont do automatic mapping i belive AbstractSingleEnumData should be removed from api. and we will just continue use AbstractSingle

[2018-02-04 13:21] Faithcaio commented on #1448
Restoring items to the cursor when invalidating slottransactions makes no sense.
Events that also affect the cursor have a cursor transaction `InteractInventoryEvent#getCursorTranssaction` which you can modify.

Canceling the entire event will result in the cursor being restored as well.

If you only want to partially cancel dragging items into bottom/top inventory you would have to modify the cur

[2018-02-04 13:21] #1448 closed, assigned to nobody

[2018-02-04 13:36] Faithcaio commented on #1550
`NetHandlerPlayServer#processClickWindow` just sends the unmodified inventory back to the client. That is why we have no event that fires. There are no changes.

Not sure how to handle this...

[2018-02-04 15:06] johnfriedrich opened #1767 "PhaseStack.pop NoSuchElementException"
**I am currently running**
- SpongeForge version: 2867

https://pastebin.com/HBLrRuzb

**Issue Description**

Happened randomly. Because Forge fucked up the log rotation, the important junk log got overwritten by the restart. If this should happen again, I will try to get the junk log before restarting.

[2018-02-04 18:08] ryantheleach commented on #1550
@Faithcaio Can we override that behavior? At minimum I would have expected there still to be a click event, even if nothing changed, if we could detect the click, like, a pre click event of some sort, just so you can catch the interaction for menu's etc. (assuming it's possible, which it sounds like it used to be)

[2018-02-04 19:57] Faithcaio commented on #1550
We always fire the inventory events AFTER changes happened.
So we would need a new event for this.

Maybe smth. like `ClickInventoryEvent.Spectator` but not extending ClickInventoryEvent as we cant provide any transactions.

[2018-02-04 21:16] JBYoshi commented on #1721
I've prepared a fix for this, just waiting for a review of my new keep-alive hack.

[2018-02-04 22:20] parlough commented on #659
Fixed by https://github.com/SpongePowered/SpongeCommon/pull/1728

[2018-02-04 22:20] #659 closed

[2018-02-05 18:51] vorburger commented on #1196
@ryantheleach sorry I've not retried this since 1 year ago, so don't know if fixed.

Yeah, https://github.com/SpongePowered/SpongeCommon/issues/1506 does sound related; comment and close as dupe?

[2018-02-05 19:01] Foxgreat opened #1773 "IC2exp. workbrench+spongeforge console bleeds"
- SpongeForge version:  2884
- Java version:  161
- Operating System: CentOS 7
------------------

Plugins (18): Minecraft, Minecraft Coder Pack, SpongeAPI, SpongeForge, CatClearLag, EconomyLite, GriefPrevention, Holograms,
JdaLibraryLoader, KeepInventorySponge, LuckPerms, MCClans, MMCReboot, MMCTickets, Nucleus, PlayerShopsRPG, UltimateChat, WorldEdit
/
Mods (71): Minecraft, Minecraft Coder Pack,

[2018-02-05 19:07] dualspiral commented on #1196
Not sure it is. #1506 is about the config files, I think generators are stored in the NBT and so will have a different root cause.

[2018-02-05 20:58] Valandur opened #1774 "WorldArchetypeBuilder default value for "keepSpawnLoaded" is null, which throws an error when building without setting it"
https://github.com/SpongePowered/SpongeCommon/blob/06e5830fb0b26090d530357634cbf2b62e745c05/src/main/java/org/spongepowered/common/world/SpongeWorldArchetypeBuilder.java#L294

This line sets the default value to `null`. If the `keepSpawnLoaded` value is not set through the builder, it stays null when calling "build" and throws a null pointer exception.
Should this be set to either `false` or `true

[2018-02-05 21:18] Faithcaio commented on #1773
fixed in https://github.com/SpongePowered/SpongeCommon/commit/501f2bc7bc5a16a5518faf650fb01a8048435d0f

[2018-02-05 21:18] #1773 closed, assigned to nobody

[2018-02-06 03:19] ryantheleach commented on #1774
@Valandur I'm going to assume this is a 1.12 bug unless corrected for the sake of labelling.

But I'm sure that the developers who are going to need to investigate this will appreciate knowing whether you tested this in SF,SV,Both as well as the versions tested in, as well as your method of creating the builder. It truly does save a lot of time when we have several issues to look at.

[2018-02-06 09:20] Valandur commented on #1774
My apologies, I was in a rush when I reported this. Yes this affects 1.12.2.

I discovered this on SpongeVanilla 1.12.2-7.1.0-BETA-16, but since the error originates in SpongeCommon it probably also happens in SpongeForge, I may be able to confirm this later during the day.

The code used to generate the error is as follows:
[code]

[2018-02-06 10:27] ryantheleach commented on #1774
@Valandur All good! I'm happy for things to get recorded when people are in a rush, rather then being completely forgotten about! I've certainly done both in the past. Thanks for adding the additional information 😄

[2018-02-06 18:08] RedNesto commented on #1206
@JBYoshi I did a PR to fix this issue, we just have to determine if we let plugins launch `Arrow`s or not.

[2018-02-06 20:00] ImMorpheus commented on #1446
PR merged. This can be closed.

[2018-02-06 20:00] #1446 closed, assigned to nobody

[2018-02-06 20:01] #1520 closed, assigned to nobody

[2018-02-07 19:14] Pokechu22 commented on #1726
I've encountered a second vanilla use case: in 1.13, commands are now in the profiler, and I've already seen cases where users are using that (mainly for functions), for instance [MC-124838](https://bugs.mojang.com/browse/MC-124838).  While the profiler isn't great, some users are using it for great benefit, and I don't _think_ the timings profiler will fill that use case.

[2018-02-08 04:43] ryantheleach opened #1777 "As a user I'd like to see the plugins listed in the crash log."
Forge already lists mods, api's and core mods in the minecraft crash log.

Could/Should we add a plugin section to say what plugins were enabled?

[2018-02-08 06:55] kashike commented on #1777
Plugins are included in the mod list on Forge - this would be an addition into SV.

[2018-02-08 07:01] gabizou commented on #1777
The better question is whether it should be included in the ever increasingly rare exceptions printed from the phasetracker?

[2018-02-08 09:25] stephan-gh commented on #1777
SV already includes the plugins in the crash log.

[2018-02-08 10:54] ryantheleach commented on #1777
The problem with saying "They are already in the mods list" is that they are intertwined with mods. Having them separate would make them easier to read.

[2018-02-08 12:57] ziceptor commented on #1764
Sorry for bad English. Do you understand the essence of the written?

[2018-02-08 13:56] ryantheleach commented on #1764
Yes it's something we have been aware of, and should be getting looked at soon, it may even be a duplicate issue, I just didn't have time to try to dig up the original yet.

[2018-02-08 14:06] phit commented on #1764
https://github.com/SpongePowered/SpongeCommon/blob/835d8696d73154e4505a9ea339ba555bf9025d5e/src/main/java/org/spongepowered/common/mixin/core/world/storage/MixinWorldInfo.java#L719-L722

this seems to be intentional for this? other wise the call would be `getActiveConfig().getWorldGenModifiers()`

to elaborate some config options will always work regardless of config-enabled or not, as they should

[2018-02-08 14:13] #1764 closed, assigned to nobody

[2018-02-08 14:17] ryantheleach commented on #1764
@ziceptor Sorry I should have read the question better, but that's on me not you.

There are several UX (User experience) issues regarding per world configs currently, some of this behavior is intentional (because doing otherwise causes even worse issues, like the world modification not being persisted after generation)

At some point the configs need to be reorganized / re-evaluated for the struc

[2018-02-08 14:23] ziceptor commented on #1764
Yeah. Now I've read your thoughts on this matter. Thank You!

[2018-02-08 14:25] ryantheleach commented on #1506
https://github.com/SpongePowered/SpongeCommon/issues/1764

So the setting is read from the per world file fine (regardless of config-enabled), it's just the persistence that's off.

I suspect this came from a hacky fix to make some of the world config properties NOT inherited or triggered by config-enabled rather then fixing it properly, or re-arranging the config.

So the fastest fix, would be to

[2018-02-08 15:20] ryantheleach commented on #1525
@theboomer You are incorrect, the entity is primed not spawned, I just checked in Vanilla. (and the MCP sources)

The TNTMinecart itself is primed, and has nothing to do with PrimedTNT which is the entity form of block TNT, which is always primed.

To elaborate, A creeper doesn't become a new entity PrimedCreeper when primed, it just changes internal state which makes it Primed.

A TNTMinecart fol

[2018-02-08 15:20] #1525 closed, assigned to nobody

[2018-02-08 16:50] jd1378 opened #1778 "InteractBlockEvent is not giving exact interaction point when using getInteractionPoint()"
**I am currently running**

- SpongeVanilla version: 1.12.2-7.1.0-BETA-16
- Java version: 1.8.0_152
- Operating System: Win 10 Home 64-bit

- Plugins/Mods: PacketGate

**Issue Description**

The exact interaction point is available on the InteractItemEvent, but not on InteractBlockEvent, and the protocol says the interaction should be available on Player Block Placement too.

[2018-02-08 19:22] dualspiral opened #1780 "Move of (most) of DamageSource from Cause to Context or event for damage events"
This is a continuation of a discussion on IRC and Discord to try to document community consensus.

---

For most events, using `@Root` in an event is a great way to get the direct cause of an event and only listen to events that are relevant to your plugin. Most events where a player is the direct cause of an action, such as the `MessageChannelEvent` or `InteractBlockEvent`, then the player is the

[2018-02-08 19:25] ImMorpheus commented on #1778
PR merged. This can be closed.

[2018-02-08 19:28] #1778 closed, assigned to nobody

[2018-02-08 19:33] ImMorpheus commented on #739
@Meronat I'm on it. This requires a rework of Statistics/StatisticTypes (and probably a few other things).

[2018-02-08 20:38] Zidane commented on #1780
@dualspiral

Can you give me a current cause of AttackEntityEvent for the record?

[2018-02-08 22:46] KyleFreedomSeeds commented on #1714
bump. Im experiencing the same bug, The spam is so massive it lags out console and freezes the sever for around 30 seconds. Hoping for a fix :D

[2018-02-08 22:55] parlough commented on #739
@ImMorpheus Keep in mind that statistics need some changes in 1.13, so best to keep in contact with cyber for any changes you want to make or bring them up on his PR maybe. In the PR he is making necessary changes while also cleaning up the API a bit already, so maybe the changes can be bundled together. You can find his WIP PR here - https://github.com/SpongePowered/SpongeAPI/pull/1742

[2018-02-08 23:56] gabizou commented on #1780
The only thing that I would argue is that in all technicality the DamageSource is always going to be required for the event to function. The overall thing is that it also technically is still a cause and not context in all other circumstances where an entity is not involved. Cases include falling in the void, lava blocks, cactus blocks, potion effects, etc.

Overall the only constant in all cases

[2018-02-09 00:23] gabizou commented on #1714
Once the build finishes, can you try build 2892, it should very well accurately save the config as failed data is discovered.