[2015-12-20 06:30] DarkArc opened #342 "SpongeDamageSourceBuilder mutator methods have no effect"
https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/event/SpongeDamageSourceBuilder.java#L43-L76

The mutator methods simply return an instance of the builder without changing any of the builder's member data.

[2015-12-20 06:56] kashike commented on #342
In addition, the `reset` method does not actually reset the builder.

[2015-12-20 08:46] kashike opened #343 "CollideBlockEvent is not called at all times"
not called: `net.minecraft.block.Block#onEntityCollidedWithBlock(net.minecraft.world.World, net.minecraft.util.BlockPos, net.minecraft.block.state.IBlockState, net.minecraft.entity.Entity)`
and possibly more

[2015-12-20 21:29] Aaron1011 opened #347 "Allow configuration of Bukkit-style command aliases."
In Bukkit, it was possible configure which command would take priority, if several were registered with the same name (the others will still acessible prefixed with the plugin name).

It would be nice to have a similar thing in Sponge, instead of an arbitrary (from a server owner's perspective) plugin getting to own the unprefixed command.

Pinging @zml2008.

[2015-12-20 22:04] ST-DDT commented on #347
@Aaron1011 You are referring to a configurable (file based) solution instead of a 	programmatically (code based) solution, aren't you?

IMO thats the right way.

However there are few other things to consider as well (at least one) as they are closely related.
Configurable command shortcuts:
[code]

[2015-12-21 02:49] kenzierocks opened #348 "Enchantments and potentially other stuff does not have minecraft: prefixes"
The implementation of `EnchantmentRegistryModule`  only registers the non-prefixed enchantments. This is a problem because the builder for `EnchantmentData` relies on having those present.

Map insides ERM:
[code]

[2015-12-21 03:02] kenzierocks commented on #348
Here's a test code you can use:
[code]
Stick it in `init` and watch the fireworks.

[2015-12-21 04:55] #348 closed

[2015-12-21 22:15] JBYoshi opened #350 "No DataBuilder registered for Location"
https://forums.spongepowered.org/t/location-databuilder/10350

[2015-12-21 23:25] gabizou opened #351 "MixinPlugin: Possible performance enhancements for SpawnerAnimals"
Currently, SpawnerAnimals performs a ton of attempts to spawn entities, resulting in lots of `Entity` object churn. It should be possible to enable a "smarter" `canSpawn` check only knowing the `Entity` class, `BlockPos`, and `WorldServer`.

This is intended to be a Mixin Plugin so that mod compatibility is intentionally retained if mods do end up rewriting the mob spawner, likewise, this is proba

[2015-12-22 01:18] Aaron1011 commented on #347
It turns out we actually have this already, in `SpongeConfig#CommandsCategory`

[2015-12-22 01:18] #347 closed

[2015-12-22 01:19] zml2008 commented on #347
Yep. Any more extensive aliasing functionality like bukkit had imo belongs in a plugin (like CommandHelper)

[2015-12-22 09:03] kenzierocks commented on #348
Not fixed. Run https://gist.github.com/kenzierocks/3c7e07a96603ddd9ee7a.

[2015-12-22 10:33] kenzierocks commented on #348
All good now.

[2015-12-22 15:26] #307 closed

[2015-12-22 22:51] clienthax opened #352 "AI Issues"
Attempting to remove all tasks from a entity is impossible due to getTasks and removeTask expecting differing types
[code]

java.lang.ClassCastException: net.minecraft.entity.ai.EntityAITasks$EntityAITaskEntry cannot be cast to org.spongepowered.api.entity.ai.task.AITask

Also a way to remove all tasks from a entity would be great

@Zidane

[2015-12-22 23:14] #172 closed

[2015-12-22 23:24] gabizou commented on #8
Updated the checklist as of now. @ZephireNZ the mob spawner changes are updated, including the implementation of the data manipulator itself.

[2015-12-22 23:24] clienthax opened #353 "setRotation doesn't update instantly"
calling setRotation on a entity doesn't seem to update it to the client straight away

[2015-12-22 23:47] simon816 commented on #331
The problem here is that the tile entity data is not transferred onto the `BlockSnapshot`
Using the following code:
[code]
The output is `[org.spongepowered.common.data.manipulator.immutable.block.ImmutableSpongeAttachedData@87c7508d, org.spongepowered.common.data.manipulator.immutable.block.ImmutableSpongeDirectionalData@f2d3039c]`
yet no `ImmutableSignData`

I think `TileEntity.getContainers()`

[2015-12-23 00:33] #352 closed

[2015-12-23 01:21] Faithcaio opened #354 "DestructEntityEvent missing Cause when shooting arrows on Hanging Entities"
When shooting an arrow onto a Painting, Itemframe or LeashHitch
the Cause in DestructEntityEvent only contains the world.
No Player to be found

[2015-12-23 03:46] DDoS commented on #248
Fixed in https://github.com/SpongePowered/SpongeAPI/commit/77b8c842b560c0b97973c3e3d73e1e6dbdcb5be3

[2015-12-23 03:46] #248 closed

[2015-12-23 06:36] kenzierocks opened #355 "PositionOutOfBoundsException when opening chest at (0, 0, 0)"
I told MC to open a chest at (0, 0, 0) with the following code (assumes there is such a chest):
[code]
Lo and behold:
[code]

[2015-12-23 15:05] JBYoshi opened #357 "Cancelling ChangeBlockEvent.Break from an explosion doesn't cancel the drops"
This can cause block duplication, like in FoxDenStudio/FoxGuard#8.

[2015-12-23 17:09] ryantheleach commented on #357
Talking to blood I think this is largely by design.

Block events in sponge are recorded, so all side effects will continue to take place. So you would need to listen to the appropriate events caused by this and cancel them...

[2015-12-24 01:22] #342 closed

[2015-12-24 01:45] sanman00 commented on #8
I'm working on `KnockbackData`.

[2015-12-24 05:14] clucky commented on #334
@bloodmc It appears to correct the issue. Thanks

[2015-12-24 08:54] gravityfox commented on #357
The weird thing is that this doesn't happen if my plugin is the only thing installed on the server.

This behavior also appears extremely inconsistent.

[2015-12-24 23:22] gravityfox commented on #357
So for some reason this stopped happening on the Sponge Community Server.

I think it was another plugin interfering with that particular event.

[2015-12-24 23:34] gravityfox opened #362 "Custom data isn't retrieveable"
When i offer a custom data manipulator to an itemstack, i can see it in the datacontainter, but when i call get() it always returns an empty optional.

The itemstack creation code:
[code]

The checking code:
[code]

Optional#isPresent() always returns false, even if the held item clearly has the custom data.

[2015-12-26 12:00] gravityfox opened #363 "Right clicking daylight sensors fires a change and a place event, the latter of which causes dupe issues when cancelled, regardless of the handling of the former."
Instead of firing a single BlockChangeEvent.Modify, Right clicking a daylight sensor fires a BlockChangeEvent.Break followed by a BlockChangeEvent.Place.

Cancelling the events causes a dupe bug.

If you right click with an itemstack and then an empty hand, if both clicks are canceled in both the events, the itemstack will be duped to the empty hand.

[2015-12-26 13:31] gravityfox commented on #363
Actually i found out.

It's not a break event followed by a place event.

It's a modify event followed by the place event.

cancelling the place event will give the player the last item used on a sensor globally, if and only if they have an empty hand.

This has also caused some players to end up with 0 or negative amounts of things.

[2015-12-27 02:17] DarkArc opened #366 "Vanilla Ore Populators are not returned, and thus not removable"
In the following code, no vanilla ore populators are returned, and thus all ore populators remain in effect in the world generator.

[code]

[2015-12-27 02:29] Aaron1011 commented on #363
Confirmed on the latest SpongeForge.

@bloodmc: This appears to be a blocktracking-related issue. Something to note is that daylight sensors have two distinct blocks: `minecraft:daylight_detector` and ``minecraft:daylight_detector_inverted`.

[2015-12-27 03:15] Deamon5550 commented on #366
Most of the vanilla decoration is attached to the biomes not globally on the world. If you get the `BiomeGenerationSettings` for a particular biome you can call getPopulators(Ore.class) against that and do with it that you will. For example to remove all coal from deserts you would do:

[code]

[2015-12-27 03:15] #366 closed

[2015-12-27 04:36] bloodmc commented on #363
@gravityfox OK i'll look into this issue soon.

[2015-12-27 04:57] #331 closed

[2015-12-27 06:00] bloodmc commented on #357
@gravityfox I'll look into this.

[2015-12-27 11:23] Azatik opened #367 "Error MatterProperty"
I try to check whether the solid block.
Code:
[code]
Result:
[code]

[2015-12-27 12:53] Minecrell commented on #336
Fixed in #364

[2015-12-27 12:53] #336 closed

[2015-12-27 20:06] gabizou commented on #367
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/7992e909bc85eb2c401966d47c7bcc3d09ff995f

[2015-12-27 20:06] #367 closed

[2015-12-28 01:27] Xenograph opened #369 "Sponge causes custom world generation parameters to be ignored"
I'm running SpongeForge 968 and Forge 1577. The issue I'm having is that when I'm using custom world generator parameters, having SpongeForge loaded looks like it causes the world generation routine to ignore the custom parameters in the level.dat. That is, assuming we're using the same seed, the world generated with SpongeForge with the custom parameters specified is seemingly identical to the wo

[2015-12-28 19:41] JBYoshi commented on #8
@Rain336 is working on `DyeableData` (#359).

[2015-12-29 08:10] oliverdunk commented on #8
Tick off PersistantData? (#370)

[2015-12-29 08:52] Xenograph commented on #369
I looked into the source to try and fix this myself, but ended up being unsure what the vision was for handling the DataContainer formatted world generation settings and properly converting them (if at all) back to JSON so that they could be used by ChunkProviderGenerate.

However, I think I may have fixed what may have been one of the underlying bugs causing this problem. The overwritten loadAllW

[2015-12-29 17:45] simon816 commented on #353
I don't think it's supposed to. It will be updated on the next tick

[2015-12-29 18:30] clienthax commented on #353
@simon816 It isnt however.

[2015-12-30 10:18] Azatik opened #371 "Piston duplicate blocks if ChangeBlockEvent.break is cancelled."
Piston duplicate blocks if ChangeBlockEvent.break is cancelled.
Code:
[code]
Checked in SpongeFoorge 967 and SpongeVanilla 122.

Video:
https://youtu.be/qA_m65T1pQE

[2015-12-30 15:59] Azatik opened #372 "ChangeBlockEvent.break bug (cancel explosion)"
I wrote code:
[code]

Results code: I blew up sign. Nearby block did not explode.
After the explosion - drop item from the exploded blocks.
Checked in SpongeFoorge 967 and SpongeVanilla 122.
Video: https://youtu.be/ZqXQeFwfGLo

[2015-12-30 20:20] kashike commented on #8
`AgeableData` is mine

[2015-12-30 21:06] sanman00 commented on #8
I'm working on `BodyPartRotationalData`.

[2015-12-30 21:10] ryantheleach opened #373 "GenericArguments.Vector3d"
Using Generic Arguments.Vector3d does not support commands using

/command ~ ~ ~

/command ~1 ~1 ~1 however works. as does /command ~0 ~0 ~0 /command ~+1 ~+1 ~+1 and /command ~-1 ~-1 ~-1

[2015-12-30 21:32] #373 closed

[2015-12-30 22:54] DarkArc opened #374 "ChangeBlockEvent.Break fired with misleading cause upon chunk generation"
ChangeBlockEvent.Break is fired upon chunk generation with a cause containing only the player.

Example:
[code]

[2015-12-31 00:13] bloodmc commented on #371
Working as intended as cancelling break has nothing to do with the place transaction. You will need to listen to the new ChangeBlockEvent.Post which will be pushed soon if you want to handle ALL transactions that occur when a piston extends.

[2015-12-31 00:13] #371 closed

[2015-12-31 02:20] #363 closed

[2015-12-31 04:41] Zidane commented on #369
@simon816 fixed this in https://github.com/SpongePowered/SpongeCommon/commit/06f372936e8bd1e47112947b6906d27c6c8cd120

[2015-12-31 04:57] Zidane commented on #355
@kenzierocks

This is the perils of using internals:

[code]

In ```openContainer```

[2015-12-31 04:57] #355 closed

[2015-12-31 05:53] simon816 commented on #372
I think you need to listen to `DropItemEvent.Destruct` and cancel that event if it was caused by an explosion that was cancelled by the previous event.

This doesn't seem like a very clean solution to me, anyone got a better idea?

[2015-12-31 06:10] bloodmc commented on #357
Cannot reproduce with latest builds.

[2015-12-31 06:10] #357 closed

[2015-12-31 06:11] bloodmc commented on #372
Use ExplosionEvent.Pre if you want to cancel explosions.

[2015-12-31 06:11] #372 closed

[2015-12-31 06:16] Xenograph commented on #369
According to my tests 06f3729 did not resolve this issue. Custom generation settings in the server.properties file still seem to be ignored.

[2015-12-31 11:55] kashike commented on #8
`SprintData` is mine: #378

[2015-12-31 12:11] oliverdunk commented on #8
I'm working on BreedableData

[2015-12-31 13:51] JBYoshi commented on #8
Taking most of the remaining entity data:
- `AgeableData`
- `CriticalHitData`
- `ExplosiveRadiusData`
- `FlammableData`
- `GriefingData`
- `HealingSourceData`
- `InvulnerabilityData`
- `PersistingData`

@gabizou Could you remove `LeashData` from the list since it's been replaced with `Entity` methods and `CloneableData` since it's been renamed (and the new name, `GenerationData`, is already on the

[2015-12-31 13:57] kashike commented on #8
@JBYoshi `PersistingData` is taken already

[2015-12-31 14:51] JBYoshi commented on #8
@kashike Okay, removing that from my todo list.

[2015-12-31 14:53] JBYoshi commented on #8
So is `CriticalHitData`.

[2015-12-31 15:31] #319 closed

[2015-12-31 15:33] saladoc commented on #8
@JBYoshi I'm currently giving `ExplosiveRadiusData` a try, but did not post here. Could you move it to the bottom of your list maybe? Then you can still take it if my efforts fail

[2015-12-31 16:31] JBYoshi commented on #8
Sure.

[2015-12-31 16:54] simon816 commented on #369
I see the problem. It's an MCP naming fail. In MCP it's called `WorldSettings.setWorldName` but it actually is `setGeneratorSettings` https://github.com/ModCoderPack/MCPBot-Issues/issues/61
Our code assumes it's a name and doesn't pass it to where it's meant to go

[2015-12-31 18:14] #324 closed

[2015-12-31 21:04] Faithcaio opened #381 "wrong Text.builder() usage"
ActivePagination line 69 and 73
[code]
[code]
and MixinNetHandlerPlayServer line 261
[code]
should use text.toBuilder() instead to not produce an empty message

[2015-12-31 21:22] Xenograph commented on #369
Nope, still not fixed in 0241fe2. At least, not with the JSON level-type=CUSTOMIZED settings, it might work with the level-type=FLAT formatted settings (in fact, I believe it should).

I think the issue is that on [this line](https://github.com/SpongePowered/SpongeCommon/blob/06f372936e8bd1e47112947b6906d27c6c8cd120/src/main/java/org/spongepowered/common/mixin/core/world/MixinWorldType.java#L134),

[2015-12-31 21:39] #381 closed

[2015-12-31 22:57] kashike commented on #8
I'm reclaiming unimplemented potion data.

[2015-12-31 23:25] Faithcaio commented on #381
You missed the ones in ActivePagination

[2016-01-01 13:49] clienthax opened #384 "InventoryTransactionResult IllegalStateException"
[code]

will result in
[code]

It also seems to add the unnamed item into the inventory

[2016-01-01 14:20] Mumfrey commented on #384
Ah I see what's happened. Before I rebased I didn't know that `InventoryOperationResult` had been replaced with `InventoryTransactionResult` in the API, so when I rebased I naturally replaced my concrete classes with the new one from the API, since the contract looked the same. However as you can see, before it was deleted [my OperationResult defaulted to SUCCESS](https://github.com/SpongePowered/

[2016-01-01 14:36] clienthax commented on #384
@Mumfrey Thankya <3

[2016-01-01 16:05] Rain336 commented on #8
I'm working on `WireAttachmentData`

[2016-01-01 16:36] oliverdunk opened #385 "Inventory Offer ignores stack size"
Calling the offer(ItemStack stack) method on an inventory with a sword, or other non stackable Item, will cause the item to be stacked with any already in the inventory.

[2016-01-01 17:20] clienthax commented on #385
Duplicate -> https://github.com/SpongePowered/SpongeCommon/issues/384

[2016-01-01 18:43] #385 closed

[2016-01-02 03:41] bloodmc commented on #374
@DarkArc is this still an issue with latest build? If not, please close.

[2016-01-02 20:43] #374 closed

[2016-01-02 22:15] DarkArc commented on #374
It's fixed for sure, sorry, I wasn't available yesterday.

[2016-01-02 23:26] sanman00 commented on #8
I'll be working on `FuseData` since it does not appear to be implemented and I haven't found a pull request for it.
@Aaron1011 is this fine with you?

[2016-01-02 23:26] Rain336 commented on #8
I implemented HideData(#388)

[2016-01-02 23:28] Aaron1011 commented on #8
@sanman00: Sure! :)

[2016-01-02 23:29] NeumimTo opened #389 "getInventory().query(Hotbar.class)) returns wrong inventory row"
getInventory().query(Hotbar.class)) returns bottom row of players inventory instead of hotbar

[2016-01-03 05:28] mbax opened #390 "font-sizes.json requires particular encoding without ensuring it's loaded as such."
https://gist.github.com/mbax/d12c97a06ce1683e7f6a

[font-sizes.json](https://github.com/SpongePowered/SpongeCommon/blob/850f9f95675c8bc3be9a9a711f84b7a1f3033d57/src/main/resources/org/spongepowered/common/service/pagination/font-sizes.json) contains characters that don't go over very well when loaded on certain standard encodings.

Works fine if loaded `-Dfile.encoding=utf-8` but making everyone d

[2016-01-03 06:10] mbax opened #391 "Invisibility API unforeseen consequences"
Pre-existing entities (including drops and tile entities like the ender crystal) become invisible at time of `player.offer(Keys.INVISIBLE, true);`. Entities that come into being while invisible remain visible until set back to visible.

Entities that update (moving mobs, at the least) while in this invisible state will magically reappear as they move about.

Players, however, do not reappear. The

[2016-01-03 14:12] simon816 commented on #311
Implemented in https://github.com/SpongePowered/SpongeCommon/commit/1e130b1a5da010ef966da68c7bdee2bf9da8c9da

[2016-01-03 14:12] #311 closed

[2016-01-03 18:40] Feeliiix opened #393 "Server Crash After I Got Killed by a Spider"
After I got killed by a spider, the server crashed with this log:

Full Log: http://pastebin.com/4q9LNC1B (LAAG)
Short Log: http://pastie.org/private/lxd66rinbndyamzghtvfg

I think it's an inventory bug so i'm pinging @Mumfrey for this.

I'm on the latest SpongeForge.

[2016-01-03 18:46] Aaron1011 commented on #393
The issue appears to be due to `DefaultInventoryFabric` and `InventoryPlayer` mutually calling each other. See [this gist](https://gist.github.com/Aaron1011/196bbd2a281de0116c48).

[2016-01-03 18:51] Aaron1011 commented on #393
To reproduce this:

1) Place an item in your hotbar.
2) Switch to Survival
3) Die (fall damage, being attacked by a mob, etc)
4) Observe the stacktrace in the console.

[2016-01-03 21:30] DarkArc opened #394 "ClientConnectionEvent.Join fired twice"
The ClientConnectionEvent.Join event is fired twice upon a player joining the server.

[2016-01-03 21:36] simon816 commented on #394
Only does it once in my test (SpongeForge)
Maybe you've registered your listener twice?

[2016-01-03 21:38] DarkArc commented on #394
My bad, yup.

[2016-01-03 21:38] #394 closed

[2016-01-03 22:02] NeumimTo opened #396 "ItemLore is always empty"
When trying to access an item lore of an item in player inventory its always return empty optional even if the item has lore. It seems like the itemlore is present only on items which player has in its hands.

[2016-01-03 22:40] #70 closed

[2016-01-03 23:22] Zbob750 opened #397 "Unable to get ImmutableGrowthData as mutable"
Apparently this is a known issue, creating ticket for tracking.

```java.lang.IllegalArgumentException: Applicable constructor not found for class: org.spongepowered.common.data.manipulator.mutable.block.SpongeGrowthData with args: [2, 0, 7, 0] ...```

Full stack trace also available here, as GH issues seems to mangle the readability. https://gist.github.com/Zbob750/ae1899f632a58e556d67

[2016-01-04 01:59] #384 closed

[2016-01-04 09:57] clienthax opened #398 "MessageChannelEvent not fired for Console messages / input"

[2016-01-04 10:17] #398 closed

[2016-01-04 15:24] Mumfrey commented on #384
@clienthax can you check this works for your use, it works in my tests now.

[2016-01-04 18:56] seema84 opened #399 "help command underline"
Hello,

i think it would be better, if the commandlist after /help display without underlines. (Letters are cut)

![](https://picload.org/image/wrdrcrl/helpcommand.png)

[2016-01-04 19:49] Aaron1011 commented on #393
@Feeliiix: I think this is fixed in the the latest SpongeForge. Can you see if the issue is resolved?

[2016-01-04 20:46] Feeliiix commented on #393
Fixed in 27705f6

[2016-01-04 20:46] #393 closed

[2016-01-04 21:41] ryantheleach commented on #399
It's a minor cosmetic thing, vs the hint to the user that it's clickable by being underlined like web links were.

[2016-01-04 22:05] JBYoshi opened #400 "Minecraft client attempts to migrate Bukkit worlds"
(It doesn't cause a crash, but I'd like to keep stack traces out of the log.)

[code]

[2016-01-04 22:12] Zidane commented on #400
Thanks for testing it...looks like I missed something.

I'll get on it.

[2016-01-05 03:29] seema84 commented on #399
yes its cosmetic but it looks not so good - maybe you find a other way to mark a clickable link

[2016-01-05 03:30] Mumfrey commented on #399
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  adam@eq2.serveftp.net
    Domain eq2.co.uk has exceeded the max emails per hour (71/60 (118%)) allowed.  Message will be reattempted later

------- This is a copy of the message, includi

[2016-01-05 06:24] gabizou commented on #391
Fixed in the latest changes to invisibility.

[2016-01-05 06:24] #391 closed

[2016-01-05 14:13] saladoc commented on #8
I unclaim `ExplosiveRadiusData` because I feel like it would keep me from the docs too long. See SpongePowered/SpongeAPI#1008 for my findings/problems.

[2016-01-05 14:19] kashike commented on #41
`ChangeGameModeEvent.TargetHuman` is gone
`ChangeGameModeEvent.TargetPlayer`: https://github.com/SpongePowered/SpongeCommon/pull/376
`PlayerChangeClientSettingsEvent`: https://github.com/SpongePowered/SpongeCommon/pull/377

[2016-01-05 20:40] gabizou commented on #8
Description/checklist updated as of this comment.

[2016-01-05 20:42] hsyyid commented on #8
@JBYoshi Can I take `AgeableData`off of your plate?

[2016-01-05 21:31] clienthax commented on #389
@Mumfrey

[2016-01-05 22:01] JBYoshi commented on #8
@hsyyid Sure.

[2016-01-05 23:33] Mumfrey commented on #389
Should have been fixed a few days ago :/

[2016-01-06 07:36] gravityfox commented on #362
With the recent data fix, Custom data is retrievable, but magically disappears after a few inventory updates. It comes back with a server restart, and disappears again.

https://gist.github.com/gravityfox/6a0421e3a6255f225be7

The first line is the result of toContainer() on an itemstack where data cannot be retrieved.
The second line is the same, but data is retrievable in this case.

Itemstacks

[2016-01-06 11:01] gravityfox commented on #399
Clickable text is often underlined.

The only reason i don't make the text in my plugin underlined is because LITERALLY EVERYTHING HAS A CLICK ACTION.

Sure you might not like it, but it's slightly more helpful to indicate it has an action.

[2016-01-06 15:11] seema84 commented on #399
Yes its helpful but other colors or [] are possibly helpful.

[2016-01-06 15:34] kashike commented on #399
Another reason to not use underlining is resource packs that change the font/text style - it makes it hard to read at times.

[2016-01-06 15:45] seema84 commented on #399
And than a info "pls use a resource pack without underlining" ? :D I thinks thats not the best way.

[2016-01-06 15:50] gravityfox commented on #399
honestly I say throw it into sponge.conf and be done with it. Let server owners decide how it should be formatted. Makes everyone's life easier.

[2016-01-06 17:40] ST-DDT commented on #399
Or at least store that format in a psf const that could forcibly be overwritten at runtime/by impl if necessary. And you can change color and styles with a single field.

[2016-01-06 17:47] gravityfox commented on #399
ACTUALLY SCREW EVERYTHING
JUST USE RAINBOW COLORS FOR ALL THE COMMANDS.
DONE.

[2016-01-06 17:49] kenzierocks commented on #399
Please keep it civil on the issues, @gravityfox.

[2016-01-06 17:50] gravityfox commented on #399
but rainbows tho.

My point is that this issue is rather trivial. Everyone is going to want something different.
Make it a config and be done with it.

[2016-01-06 17:50] Minecrell opened #404 "Enabling world configuration for main world crashes server"
@Zidane

If I enable the world configuration generated by Sponge for the main worlds and enable it it will always crash the server on start, no matter what I set in the configuration. This is happening because it always resets my changes and the defaults for the configuration file are generally wrong for the main worlds (all options set to false even though main world should always load-on-startup

[2016-01-06 17:52] Minecrell opened #405 "Add world config option to disable spawn pre generation"
@Zidane

Previously disabling `keepSpawnLoaded` on a world also prevented the spawn to get pre-generated on the first world load. This is no longer the case, so maybe we can either change this or add a new configuration option for this? Currently it seems to pre-generate the spawn always, no matter what I do.

[2016-01-06 18:16] seema84 commented on #399
It's not about that everyone else wants. I accept pink colors and what ever. But a cut Letters looks not good for all i think. We can also open a vanilla issu for change the line spacing.

[2016-01-06 20:53] CrazyPyroEagle opened #406 "Incompatibility with Pixelmon (ConcurrentModificationException)"
This bug has already been reported here: http://pixelmonmod.com/tracker.php?p=2&t=7611
I thought it might be best to report it here too since the developers seem to have ignored it.

This bug is recurring, not always at the same location, and really annoying as it crashes servers. The stack trace is always the same as that in the crash report given on the Pixelmon bug report.

Through analyzing th

[2016-01-06 22:39] gabizou commented on #406
It's mostly because of a bug introduced by PIxelmon to spawn entities off the netty thread, which as you can well imagine, is a different thread from the server thread, thus causing CME's. @clienthax can fill in more info about this.

[2016-01-06 23:19] clienthax commented on #406
Yeah pretty sure this is a bug somewhere in our code. tracking it down however is a royal pain in the arse, we found one possible cause which is patched for 4.1.4

[2016-01-07 18:27] gabizou commented on #8
I've freed up `TargetedLocationData` and `BeaconData`.

[2016-01-08 17:36] JonathanxD opened #409 "Modified inventory crashes server"
If client has a mod that modifies inventory size (like OverpoweredInventory) when he click on any slot the server will crashes
Crash Report:

[code]

Sorry my bad english.

[2016-01-09 01:49] simon816 commented on #41
@kashike Updated

[2016-01-09 01:54] simon816 commented on #282
Need to fire event for non-living entities, https://forums.spongepowered.org/t/no-destroying-item-frame/10093/7?u=simon816

[2016-01-09 01:56] kashike commented on #282
In my opinion, there should be `DamageEntityEvent.Living` and `DamageEntityEvent.NonLiving`, or some other distinction other than the `Cause`.

[2016-01-09 12:31] NeumimTo commented on #389
@Mumfrey I just tried build 1025 ,can't reproduce this issue anymore.

[2016-01-09 12:31] #389 closed

[2016-01-09 14:46] clienthax commented on #8
taking BeaconData

[2016-01-10 01:14] JBYoshi commented on #8
@clienthax In your `BeaconData` PR, could you also update [line 51 in `SpongeBeaconBuilder`](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/data/builder/block/tileentity/SpongeBeaconBuilder.java#L51)?

[2016-01-10 01:33] clienthax commented on #8
@JBYoshi yep

[2016-01-10 01:50] Aaron1011 commented on #369
@Xenograph: Is this still an issue?

[2016-01-10 01:50] Aaron1011 commented on #397
@Zbob750: Is this still an issue?

[2016-01-10 02:05] JBYoshi commented on #8
@clienthax Thanks. Eclipse (with my custom compiler error/warning settings) has been nagging me about a few null errors (due to unimplemented data) for the past few months, and this is the last of them.

[2016-01-10 02:07] Zbob750 commented on #397
IRC bump
[code]
https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/data/manipulator/mutable/block/SpongeGrowthData.java

[2016-01-10 02:38] #397 closed

[2016-01-10 02:59] Xenograph commented on #369
@Aaron1011 Just tested with a fresh clone and yes, the issue still exists. What I said in my last comment should still apply.

[2016-01-10 08:40] ryantheleach commented on #399
You can use https://forums.spongepowered.org/t/betterhelp-for-3-0-0/10709 for now. If there is any other issues that you want, please follow them up there. If there is common functionality that would be useful I may write it for both SpongeCommon and BetterHelp.

[2016-01-10 20:13] Cybermaxke opened #414 "Small fixes."
https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/block/SpongeBlockSnapshot.java#L342
-> `keyValueMap` should be `blockKeyValueMap`

[2016-01-10 20:24] seema84 commented on #399
Looks good (better than with underline).  I would have preferred to sponge but this is also a solution.

[2016-01-10 20:46] simon816 commented on #404
It should not be possible to disable the overworld, that's where the problem lies

[2016-01-10 21:15] Minecrell commented on #404
The point is Sponge is disabling the world, not me. If I keep it enabled it will replace that again once the server is started.

[2016-01-10 21:28] #414 closed

[2016-01-11 02:24] Deamon5550 opened #416 "Requiring Documentation on Injects with numerical offsets"
Similar to SpongePowered/SpongeForge#231 I believe that we should start requiring documentation on all `@Inject`s which have opcode shifts (those with `BY` shifts https://github.com/SpongePowered/Mixin/blob/initphase/src/main/java/org/spongepowered/asm/mixin/injection/At.java#L53).

The reasoning for this is similar to that of documenting `@Overwrite`s as it is not always clear where the actual in

[2016-01-11 13:20] Meegooo opened #417 "Sponge is not loading resources in dev environment."
I was trying to add localization to my plugin, when I realised, that .properties files are not being loaded. [Here](https://github.com/Meegooo/ExamplePlugin)'s the quick plugin I made just to showcase this issue. If you launch `main()` it outputs

    Locale = en_US, key = key, value = value
    Locale = de_DE, key = key, value = value_de

But when you launch SpongeForge or SpongeVanilla from the

[2016-01-11 15:54] Faithcaio opened #418 "Inventory only partially updating on Client"
This is a small Testplugin i wrote to track down the issue:
http://pastie.org/private/h9vsite5c9qsfgvjjp75dw

To reproduce:
- right-click on a block.
- right-click on a block with at least 2 books in hand
- books get replaces with enchanted book but the others won't show
  -  until you interact with the first "empty" inventory slot

This does not happen when using InteractBlockEvent.Primary instea

[2016-01-11 23:40] Tzky opened #419 "Player spawning in unloaded world creates new world"
What went wrong
---
If a player played on a world which gets removed while he is disconnected, a new world called ``Overworld`` will be created and the player spawns there.

related thread on the forums: https://forums.spongepowered.org/t/unloaded-worlds-offline-players/10661

What i expected to happen
---
The player should spawn in either:
* a special respawn world specified in some plugins confi

[2016-01-11 23:40] DarkArc opened #420 "Lightning set to be an effect still creates fire"
[code]

Per the java-docs when setEffect is set to true lightning should not do damage, and thus should not create fire.

[2016-01-12 01:18] Zidane commented on #400
Fixed in latest commit to SpongeCommon.

[2016-01-12 01:18] #400 closed

[2016-01-12 01:18] Zidane commented on #400
By the way, it is by design for the client to migrate too...incase you want to load Bukkit world into SSP.

You'll still need a world management plugin to load them.

[2016-01-12 01:31] Zidane commented on #292
@gravityfox

Using ```getSavesDirectory()``` along with the newly added ```getDefaultWorldName()``` of ```Server``` will let you do what you want to do in ```GameAboutToStartServerEvent``` before worlds are constructed.

Don't do this before this point else it won't be the correct name.

[2016-01-12 01:31] #292 closed

[2016-01-12 02:41] Aaron1011 commented on #332
Closed in https://github.com/SpongePowered/SpongeCommon/commit/b335680b91227f5fac8a825e65a0163313d30e18

[2016-01-12 02:41] #332 closed

[2016-01-12 02:54] Aaron1011 commented on #420
@DarkArc: I'm having trouble reproducing this. Can you give me a test plugin that can easily reproduce it?

[2016-01-12 03:00] Aaron1011 commented on #396
@NeumimTo: Closing, as I'm unable to reproduce this. I believe it was fixed some some of the inventory fixes merged recently.

If you're still having this issue, please feel free to re-open this ticket, or create a new one.

[2016-01-12 03:00] #396 closed

[2016-01-12 03:11] #404 closed

[2016-01-12 04:20] kashike opened #421 "Translations are broken"
related: #336

A few issues:
- https://github.com/SpongePowered/SpongeCommon/commit/1a560d6ccdacb1d2413fba0944acee61a291d5fe removed the `Locale` parameter from everything
 - causes the wrong values to be sent
- https://github.com/SpongePowered/SpongeCommon/commit/1a560d6ccdacb1d2413fba0944acee61a291d5fe#diff-b4d0e9569b06553fcdd519666dfb010dR45
 - Only some translations are available to the client

[2016-01-12 04:20] kashike commented on #336
Not fixed.
https://github.com/SpongePowered/SpongeCommon/issues/421

[2016-01-12 04:32] #405 closed

[2016-01-12 05:43] Minecrell commented on #421
This is not exactly a bug; this was removed on purpose because these are very likely better handled together with Text Templates which will be coming soon.

[2016-01-12 05:45] kashike commented on #421
And for people who do not want to use text templates?

[2016-01-12 11:09] gravityfox commented on #291
So as it turns out `SERVER_ABOUT_TO_START` is still too early for it. Have a stack-trace.

[code]

[2016-01-12 14:57] gravityfox commented on #362
Here's a more readable gist

https://gist.github.com/gravityfox/aa4987de4d1c68121949

[2016-01-12 18:48] gabizou commented on #291
More than likely, yes, because the `GameAboutToStartServerEvent` is thrown before worlds start loading, which in this case, is before any of the world folders are actually known, thus returning null for the world folder to retrieve the Player's `GameProfile`.

[2016-01-12 18:52] Meegooo commented on #417
So, I checked and apparently .properties files were not in classpath at all. So, I was able to fix that by adding resources folder as a dependency to my plugin. Like [that](http://i.imgur.com/LbcbfCh.png)

[2016-01-12 19:05] Meegooo commented on #417
And in the end it was completely fixed by choosing "Inherit project compile output path" in Paths tab of Project Structure window. [Like that](http://i.imgur.com/QNnV3fG.png).

Also, as Minecrell told me, it can be fixed by adding `idea { module { inheritOutputDirs = true } }` to build.gradle of plugin

[2016-01-12 19:05] #417 closed

[2016-01-12 19:13] Zidane commented on #417
I never knew of the above...that is likely the issue I had where my Mod won't pull from resources directory.

Thanks @Minecrell and @Meegooo .

[2016-01-13 01:47] clienthax commented on #8
Yeah screw beacondata, stupid freking optional bs.

[2016-01-13 02:05] viveleroi opened #424 "Extraneous decay events"
Decay events are thrown in mass quantities with both original/final blocks listed as "minecraft:leaves". After debugging the block state it appears that each time they're fired, the `check_decay` value has flipped.

    minecraft:leaves[check_decay=true,decayable=true,variant=oak]
    minecraft:leaves[check_decay=false,decayable=true,variant=oak]
    minecraft:leaves[check_decay=true,decayable=tru

[2016-01-13 03:33] DarkArc commented on #420
@Aaron1011 seems it's been fixed by something (either from updating Forge or Sponge, made the 1.8.9 jump) either way, no longer an issue.

[2016-01-13 15:58] mbax commented on #390
For reference, several other folks have also encountered this problem. It's difficult because there is no indication that this is the cause.

In a conversation about this, I believe configuration was pointed at as the source of the bug. Is there an update which fixes this problem?

[2016-01-13 16:03] Minecrell commented on #390
I could imagine https://github.com/zml2008/configurate/commit/b1344121ea895bc99d5e98074587bcaacd42869e could fix the issue, however I don't think @zml2008 has made a new release yet we could update to.

[2016-01-13 16:51] viveleroi opened #425 "Naturally flowing liquids occasionally include Player in cause chain"
A large number of `ChangeBlockEvent.Place` events are firing when liquids flow naturally (without any player involvement, other than being present) which include a `Player` in the `Cause` chain.

While generating new chunks by walking, the events fire with `Cause: net.minecraft.entity.player.EntityPlayerMP`.

@bloodmc

[2016-01-13 16:54] viveleroi opened #426 "Additional classification of block events (spread, flow, etc)"
Currently, both liquid flow and grass spread (among others) fire `ChangeBlockEvent.Place`. It would be helpful if there was an additional subclass that could further classify these.

A use case would be excluding flow/spread events, while processing other place events. Currently the only way to do this is to check the details of the blocks/cause which is inefficient and not future-proof.

@bloodmc

[2016-01-13 16:59] bloodmc commented on #424
This is normal. Decay events are fired throughout the entire process not just when a block breaks.

[2016-01-13 17:03] bloodmc commented on #425
I'll look into this soon.

[2016-01-13 17:06] viveleroi commented on #424
That seems counter-intuitive. If a block has decayed, yet not vanished, the net effect is... nothing? If the only way to know when a block as *broken* due to *decay* is to listen to `Break` events, then I have another use case for #426

[2016-01-13 17:06] bloodmc commented on #426
You should be able to handle this by checking the root cause.

[2016-01-13 17:07] bloodmc commented on #424
You simply check the final transaction and if it is air then the decay process is complete. I do not see an issue with this as blocks do not just decay instantly, it is a "process".

[2016-01-13 17:08] viveleroi commented on #426
Can you clarify this?

I assume what you mean is that I'll know if it's *spread* if the cause was a `Grass` block? My problem with this is that it means I have to hard-code checks for specific causes. If I forget about `mycelium` it's not caught, and if plugins/mods ever add their own, I'm out of luck.

[2016-01-13 17:16] viveleroi commented on #424
Is there a break event fired at all, then? I'd rather listen directly for the break than check final transaction of an event that fires every tick for every leaf block loaded for every current player.

[2016-01-13 17:18] bloodmc commented on #426
Please pastebin some transactions you are seeing for liquid flow and grass spread as I currently do not have a workspace setup.

[2016-01-13 17:20] bloodmc commented on #424
OK I'll fix this soon.

[2016-01-13 17:24] DMahalko opened #427 "Add ability to have plugins exist in a directory besides /mods"
Mumfrey wants me to post these things here rather than on the main forums. So. As I have already discussed here:
https://forums.spongepowered.org/t/omg-youre-getting-rid-of-plugins/10689/49

The file/directory locations and launch mechanism changes for this Sponge project vs what came before seem to have been largely unnecessary.

Yes, Sponge is a mod. So what? Both MCPC and Cauldron were mods too

[2016-01-13 17:29] viveleroi commented on #426
I won't be able to do this until later today but essentially the original block is dirt, the replacement is grass, and the event was `ChangeBlockEvent.Place`. It's grass spreading in reality, but in order for me to filter that out I have to a) ensure it's not a player, b) ensure the root cause is a block I know can spread, and c) somehow feel confident that the cause block could never place a bloc

[2016-01-13 17:46] bloodmc commented on #426
B is the same issue Sponge will have with mods. How do I know if a mod block is causing a spread without knowing what the mod does? This is one of the main reasons I am really cautious when adding more classifications to ChangeBlockEvent. Sure we could get the same type of event added to Forge for mods but we would fall into the same big issue MCPC/Cauldron had which is mods that never fire said e

[2016-01-13 18:08] Zidane commented on #427
Changing your title as, unlike you like to imply, there is no conspiracy here against providing the option of a plugins directory.

Regardless of what you may think, we've heard your feedback and will act upon it. Mumfrey has said this and now you have confirmation from a Sponge Leader. Be patient.

[2016-01-13 18:11] Zidane commented on #427
[code]
A mod is defined by the mechanism loading it. Cauldron wasn't loaded by FML, it was just a file modification of the game. SpongeForge is different...without Forge SpongeForge will **never be loaded**. While we'll get that plugins directory added, this part isn't changing: you install Forge and put SpongeForge in the mods directory.

[2016-01-13 18:27] Mumfrey commented on #427
I [already started working on this](https://github.com/SpongePowered/SpongeCommon/tree/feature/pluginsdir) and it works fine. Just haven't merged yet since I've been busy with other things. I will get to it when I have a spare second.

Also, I would have thought that the take-away from the forum discussion would be that being less combative is more productive. Please try to remember we're all peop

[2016-01-13 19:20] Xenograph opened #428 "setBlock doesn't set cause properly for ChangeBlockEvent.Break"
The code:
[code]

Upon joining the server and breaking a single block, this is the output:
[code]
...and so on, in an infinite loop. So, for some reason calling the setBlockType method creates a ChangeBlockEvent.Break with a cause with the original player as source. The same results occurred with setBlock and Location.removeBlock. The infinite loop stops and the block finally gets destroyed if the

[2016-01-13 19:35] DMahalko commented on #427
I'm talking about full separation as it was before, including moving sponge out of the mods directory completely. Is there a way to tell forge to look somewhere else for mods within Forge itself, and without involving Sponge? I am not a programmer so I cannot answer these things.

"Forge, look for additional mods during startup in here:"  /root/Sponge/
Put sponge.mod in /root/Sponge/Sponge.mod

[2016-01-13 19:36] kenzierocks commented on #427
No, forge does not support that. The required information is inside the Sponge mod. You would need some mod to tell forge that.

[2016-01-13 19:41] DMahalko commented on #427
In the old system where Cauldron was launched first, how did Forge know where/when to inject Cauldron's mods? Is it possible to do that again? Is Forge itself significantly changed from the 1.7 days to now, that the old launch Sponge first model is now impossible?

[2016-01-13 19:51] Aaron1011 commented on #427
@DMahalko: You keep referencing 'the old system', and 'how it was before'. I wanted to clear something up:

While some of the Sponge developers have worked on projects such as Cauldron before, Sponge is a new, separate project - it's not a "successor" in any sense. Things like using the `mods` dir for both plugins and mods are *not* the result of a deliberate decision to do things differently than

[2016-01-13 19:58] Mumfrey commented on #427
I already pointed out on the forum thread that yes, you can put mods wherever you like and specify them to forge on the command line. In your scenario, you can put the sponge jar wherever you want and load it explicitly. Since this is already supported natively by FML, we won't be altering this behaviour.

I'm going to keep saying this until it sinks in: I **[already wrote functionality to do this

[2016-01-13 19:58] kenzierocks commented on #427
In the old system, Cauldron was the server, so it was in charge of everything, and did not use Forge for loading plugins. Now, Forge is the server, and it is in charge of everything, including loading plugins. This is a decision that was made long ago and is not likely to change.

N.B.: Obviously none of this applies to SpongeVanilla. That should prove easier to change.

[2016-01-13 20:01] DMahalko commented on #427
Mumfrey: Ah, I did not realize you were talking about being able to move the Sponge.mod itself. I thought that discussion was in regard to moving the PLUGINs for Sponge to another location so Forge can still find them.

[2016-01-13 20:04] Mumfrey commented on #427
I showed you the other day on the forum thread that moving mods elsewhere is already fully supported by FML, you just have to specify them explicitly using the `--mods` command line argument or use the maven-style declaration. What you **can't** do is add extra "search locations" (such as the `mods` folder) where jars can be indiscriminately dumped and automatically loaded.

So, if you *don't* wan

[2016-01-13 20:06] DMahalko commented on #427
Okay. So, in summary, full isolation will now be possible?

/root/minecraft.jar
/root/Forge.jar
/root/Sponge/Sponge-1.0-RELEASE.jar
/root/Sponge/Sponge.cfg
/root/Sponge/plugins/
/root/Sponge/plugin-configs/

[2016-01-13 20:06] Mumfrey commented on #427
For the record, this isn't ever going to be "the same as Bukkit", because this isn't Bukkit. However what it **does** provide, is a nice clean separation for those that want it, and the time-honoured "dump everything in `mods` for those who don't. There is just no distance in doing things the way Bukkit did because it had its own collection of problems and we - by virtue of starting a whole new pr

[2016-01-13 20:09] Mumfrey commented on #427
Plugin configs go in sub-folders under `config`, there's not really any organisational issue with that so creating a new folder just seems redundant. Configs are intrinsically easier to organise as they're much less volatile in nature than mods. It's also a bit late in the day to change this one since it's not an **additive** change (like adding the extra search folder) and thus can't be made back

[2016-01-13 20:10] Mumfrey commented on #427
Oh and further, there's still absolutely nothing stopping you using the maven-style layout for both mods **and** plugins, which would be superior to pretty much all other solutions full stop, so there's that.

[2016-01-13 20:11] Zidane commented on #427
I also want to point out that SpongeForge will always go into **mods**. It is a mod, it is loaded by Forge, it is not a wrapper like Cauldron was.

[2016-01-13 20:12] Mumfrey commented on #427
It doesn't have to though, that's the point. If you specify it on the command line it can go literally anywhere you want.

[2016-01-13 20:12] Zidane commented on #427
@Mumfrey

There was no discussion changing where SpongeForge is installed. We only discussed where **plugins** go.

That is another but related issue altogether.

[2016-01-13 20:13] Mumfrey commented on #427
This isn't up to us, it's just built right into FML, no changes are required. If someone wants to put the SpongeForge jar somewhere else, they can.

[2016-01-13 20:14] Zidane commented on #427
@Mumfrey

Ah, completely forgot about that. Great point! Can you put the line here to specify it so @DMahalko can use that to put SpongeForge where-ever he wants?

[2016-01-13 20:15] Mumfrey commented on #427
All the docs are available here: https://github.com/MinecraftForge/FML/wiki/New-JSON-Modlist-format This includes details on the maven-style mod format.

[2016-01-13 20:15] progwml6 commented on #427
we might want to put some info on that format on our docs site

[2016-01-13 20:17] DMahalko commented on #427
The compelling reason for separating plugin configs from mod configs is that when you do modpack upgrades the best thing to do is nuke /config from orbit and install the new one from the modpack upgrade.

Which I explained here:
https://forums.spongepowered.org/t/omg-youre-getting-rid-of-plugins/10689/47

We cannot simply nuke /config if we now have to pick through 30 plugin config subdirectories

[2016-01-13 20:18] Mumfrey commented on #427
I'm pretty sure the plugin configs just go under `/config/Sponge` though, so it's only one folder. I don't see the issue with that.

[2016-01-13 20:19] Zidane commented on #427
``
/config/sponge/my_plugin
``

Unless a mod is now putting their configs under ``sponge`` subdirectory, you should be fine :P

[2016-01-13 20:20] DMahalko commented on #427
Why not /config-Sponge though? Or /Sponge/config? How seriously painful is that to implement?

How do plugins know where to put their configs? Do they do that directly themselves following a spec, or is Sponge telling them that when it loads them?

[2016-01-13 20:22] Aaron1011 commented on #427
@DMahalko: Plugins can use a number of different annotations with a Guice injection (such as `DefaultConfig`, `ConfigDir`, or `ConfigRoot`). Sponge's guice module provides the config location for the plugin being injected into.

[2016-01-13 20:23] Mumfrey commented on #427
They specify it when declaring their configuration in the plugin. Honestly it's one folder under `config`, I don't see an update workflow that can't include a single folder under `config` being a simple case to deal with. `config` is a universal standard and it makes sense to adopt it.

[2016-01-13 20:32] DMahalko commented on #427
It makes management easier for server admins, having all these things separated. Not everyone setting up servers is a programming or operation system professional. Often it's some 12 year old trying to throw something together, with some help from someone else. The less complicated it is for them to deal with modpack upgrades, the easier life will be for everyone.

And anyway I'm not asking you to

[2016-01-13 20:35] Zidane commented on #427
@DMahalko

Now THAT is a reason for it (not the combative attitude yet again). I see no reason we couldn't let you set the config root to a folder of your choosing for plugins. Sponge's configs itself would still go into ```/config/sponge``` FYI.

[2016-01-13 20:35] Mumfrey commented on #427
@Zidane +1

[2016-01-13 20:35] kenzierocks commented on #427
1) Copy `config/sponge/` out.
2) Nuke `config/`.
3) Create `config/`.
4) Copy `config/sponge/` in.

Is this too hard?

[2016-01-13 20:36] DMahalko commented on #427
*facedesk*  Okay, make this a command line option for sponge.jar then

[2016-01-13 20:37] Mumfrey commented on #427
`sponge.jar` is still a forge *mod* though, so it makes sense that its config goes with the rest of the forge mod configs.

[2016-01-13 20:48] DMahalko commented on #427
Is there not some simple way to make this work easily to have optional full isolation?

Code:
IF a sponge.cfg is found in /root/sponge  use it.
Otherwise look for it in /root/config/sponge/ as usual.
If it doesn't exist, create /root/config/sponge/ as usual, and write the default config.

To enable alternate functionality the admin merely needs to do this after first run of Sponge:
Move /root/conf

[2016-01-13 20:49] Tzky commented on #427
Asking for the Docs:

* We will support relocating/using an alternate ``/plugin`` folder?
* We will support relocating/using an alternate ``/config`` folder for plugins?
* Relocation of sponge.jar is already possible via FML?

@DMahalko
That should be a Forge issue as SpongeForge still is "just" a Forge Coremod.

[2016-01-13 21:00] DMahalko commented on #427
1 /root/minecraft.jar
2 /root/Forge.jar
3 /root/Sponge/Sponge-1.0-RELEASE.jar
4 /root/Sponge/Sponge.cfg
5 /root/Sponge/plugins/
6 /root/Sponge/plugin-configs/

No 3 - Alternate single mod location specified via forge command line
No 4 - Alternate path via sponge.jar looking for its own config at startup
No 5 - Specified in Sponge.cfg or this alt location is auto-used if found
No 6 - Specified in S

[2016-01-13 21:10] kenzierocks commented on #427
Forge mandates the location of mod configs.

[2016-01-13 21:21] bloodmc commented on #427
SpongeForge is a forge core mod which can run on BOTH client and server. The config belongs where it is. Stop trying to relate it to MCPC/Cauldron.

[2016-01-13 21:37] Mumfrey commented on #427
And so spaketh the actual *author* of Cauldron :smile:

Summary on this issue:

* I will add the configurable additional `plugins` dir as mentioned above, this basically just needs merging anyway.
* I will make the base shared config dir for plugins configurable in the same way as per @Zidane's suggestion above.
* Sponge config stays where it is because it's simple, deterministic, in keeping with

[2016-01-13 22:53] TBlueF commented on #419
I think the problem is, that every world including the in `server.properties` defined world, can be disabled with sponges per-world configs..

Maybe you need **one** defined world/dimension that cannot be unloaded and will be used if an expected world is not available *(disabled or deleted)*.

Without such a defined *main* world, there is always the case: *every world is disabled, where does this

[2016-01-13 23:27] viveleroi commented on #426
It shouldn't be sponge's responsibility to fire/identify the right events for mods. If something isn't classified correctly that should be on the mod author. Better classifications would at least be the appropriate avenue for mods to describe what's happening.

Prism (and other plugins) would have no hope of knowing what's a "spread" versus a legit "place" without better classifications. Plugins w

[2016-01-14 00:48] Faithcaio opened #430 "Vanilla BlockTypes registered without domain-prefix"
e.g. ```GameRegistry#getType(BlockType.class, BlockTypes.STONE.getId())``` returns an empty Optional
i think it may have broken with the update to 1.8.9

MixinBlock#onRegisterBlock calls location.getResourcePath() which only returns the id without the resourceDomain

[2016-01-14 15:17] Zidane commented on #419
@TBlueF

You can't disable the overworld (DIM0 or the name you specify in server.properties) and I've already fixed this locally :p.

[2016-01-14 16:59] ryantheleach opened #431 "Respawning to beds is broken."
Respawning to beds is currently broken on SpongeForge c49c920897ece2657a0f53f67c74609c5b4ee204 [c49c920]

Whenever you die and respawn it sometimes says your bed is obstructed, returns you to the worldspawn, or doesn't say anything, and returns you to the worldspawn.

[2016-01-14 17:08] ryantheleach commented on #431
In addition, respawning to beds is currently broken on SpongeForge c49c920897ece2657a0f53f67c74609c5b4ee204 [c49c920]

Whenever you die and respawn it sometimes says your bed is obstructed, returns you to the worldspawn, or doesn't say anything, and returns you to the worldspawn.

It might be in conjunction with the above code, if .isBedSpawn() isn't being set correctly.

[2016-01-14 17:18] ryantheleach commented on #431
Modifying the above code, to

[code]

results in no messages being sent to the player.

[2016-01-14 17:27] ryantheleach commented on #431
Ignore this for now, may have been user error.

[2016-01-14 17:45] ryantheleach commented on #431
Also, is it intended that players joining the world for the first time, aka a Spawn not a Respawn not fire a Respawn event?

If so, could we get a parent interface event to Respawn Event, that covers both Respawn and FirstSpawn ?

[2016-01-14 18:15] simon816 commented on #431
Respawn behavior should follow vanilla. Does it falsely think the bed is missing/obstructed?
Note that it is not possible to force the respawn location in the API yet (https://github.com/SpongePowered/SpongeAPI/issues/955)

I don't think a parent for respawn is necessary, you can use `SpawnEntityEvent` to see when a player first spawns in the world (I don't think this should fire on respawn)

[2016-01-14 18:28] ryantheleach commented on #431
I'm not looking for when the player entity spawns, but when it is "born" for the very first time. the SpawnEntityEvent would fire for every login, maybe under other modded circumstances as well.

I also tried listening for public void onFirstJoin(ClientConnectionEvent.Login event){
        Optional<JoinData> x = event.getTargetUser().get(JoinData.class);

But it would seem that the join data is ab

[2016-01-14 18:30] ryantheleach commented on #8
I'd like to request JoinData it's currently blocking any form of setting the spawn for players logging on for the first time, as it's currently not firing RespawnEvents(they were never dead, just not born)

[2016-01-14 19:27] TBlueF commented on #419
@Zidane Thaaat's what i like to hear! :p ;)

[2016-01-14 20:04] Aaron1011 commented on #431
@ryantheleach: I'm able to reproduce this. Trying to respawn after sleeping in a bed, I'm told that it's missing or obstructed.

[2016-01-14 21:27] #430 closed

[2016-01-15 01:46] ZephireNZ commented on #23
`DataManager.setupSerialization(Game)` has `Game` as a parameter even though it's not used or needed thanks to `Sponge.getGame()`

[2016-01-15 01:54] gabizou commented on #23
It's used for the `ManipulatorTest` because mocking is a pita.

[2016-01-16 17:54] viveleroi opened #435 "Ban.getReason should return Optional<Text>"
If a ban reason isn't given, the `ban.getReason()` method currently returns `null`. It would be more consistent if it returned an `Optional<Text>`.

[2016-01-16 18:34] viveleroi opened #436 "BanService should provide the CommandSource of a pardon"
When a ban is added, the `addBan` method is called which allows me to access the command source. Yet `removeBan` doesn't appear to be called when pardoning - the `pardon` methods are used directly. This prevents me from knowing the command source.

I would assume that the `removeBan` method should be the "gateway" but am not entirely familiar with the internals/mixin needs.

[2016-01-16 22:04] ryantheleach opened #437 "TextXML can't survive a roundtrip."
[code]
results in an exception being thrown. the xml deserializer can't handle the encoded <> symbols that it outputs as a valid onclick listener.

[code]

[code]

[2016-01-16 22:08] ryantheleach commented on #437
@zml2008 @TomyLobo

[2016-01-16 23:49] TomyLobo commented on #437
Hmm, this should not have happened. Looks like someone isn't using a proper serializer for this, that's all I can say.

[2016-01-17 00:23] ryantheleach commented on #437
If the onShiftClick lacks a single quote, it's because the generator only generated a single quote.

[2016-01-17 01:25] ryantheleach opened #439 "Add ItemStack / ItemSlot to causes for interact events."
Doing this is helpful now, and if done in the cause will be compatible with 1.9 as no matter which slot is being activated, you have the correct itemstack/slot.

[2016-01-17 02:00] ryantheleach commented on #417
Yeah you are 100% correct, just ran into this myself and wouldn't have been able to fix it without your help. Thanks.

[2016-01-17 06:08] #424 closed

[2016-01-17 06:13] #425 closed

[2016-01-17 06:43] bloodmc commented on #426
I'll look into adding a new NamedCause that represents a "Spread".

[2016-01-17 06:57] viveleroi opened #440 "Provide API access to tracking data"
It would be helpful to have access to block tracking data through the API. Knowing if a player owns a block is useful in determining if it's natural or was placed.

[2016-01-17 13:04] catageek opened #441 "SlotAdapter.offer() and SlotAdapter.set() do not set a result type before returning"
offer() and set() omit to call result.type() before calling result.build() and return.

This triggers an IllegalStateException because the type is null.

[2016-01-17 15:18] TomyLobo commented on #437
There, I fixed it.

[2016-01-17 15:25] Mumfrey commented on #441
This was fixed [two weeks ago](https://github.com/SpongePowered/SpongeCommon/commit/27705f6ff539bf00288ccbd3995ec2adfbe90b48). Ensure you're running the latest build.

[2016-01-17 15:59] catageek commented on #441
Unfortunately SlotAdapter was not fixed. Here is the exception with the latest build:

java.lang.IllegalStateException
        at com.google.common.base.Preconditions.checkState(Preconditions.java:161) ~[minecraft_server.1.8.9.jar:?]
        at org.spongepowered.api.item.inventory.transaction.InventoryTransactionResult$Builder.build(InventoryTransactionResult.java:182) ~[InventoryTransactionResult

[2016-01-17 16:42] viveleroi opened #443 "Provide API for creating virtual inventory screens"
Servers often use a virtual inventory screen to display a collection of items to players - some use this as a shop, mailboxes, etc. I've looked through the API and do not see any relevant methods.

For reference, Bukkit used `Bukkit.createInventory()`, allowing a custom title and a configurable slot count. After added necessary items it would be sent to `player.openInventory()`.

[2016-01-17 16:45] simon816 commented on #443
There is [`CustomInventory`](https://github.com/SpongePowered/SpongeAPI/blob/master/src/main/java/org/spongepowered/api/item/inventory/custom/CustomInventory.java)
and [`openInventory(Inventory)`](https://github.com/SpongePowered/SpongeAPI/blob/master/src/main/java/org/spongepowered/api/entity/living/Humanoid.java#L66)
If this is an API issue it should be opened on SpongeAPI

[2016-01-17 16:51] #443 closed

[2016-01-17 16:55] Mumfrey commented on #441
Ah ok, thanks for reporting. I'll roll up a fix.

[2016-01-18 14:30] simon816 opened #444 "Entity events fired while an entity is constructing can cause problems."
If an event related to an entity (`TargetEntityEvent`) is fired while the entity is still constructing, there can be problems.
For example, `AITaskEvent.Add` gets fired when `this.tasks.addTask` is called in the constructor of many living entities (e.g. EntityPig). The problem is that some fields may not have initialized at this point and so some methods throw NPEs.

In `SpongeEventFactory#createA

[2016-01-18 18:32] Deamon5550 commented on #444
We could delay the events to fire after the entity has finished constructing. In the specific case of the AITaskEvent.Add it could lead to less noise if a modded entity is removing the tasks in its ctor, if we wait until the entity is finished constructing and then throw add events for any tasks that it has a plugin would never see those tasks existing on that entity.

[2016-01-18 21:16] Minecrell opened #446 "Asynchronous handling of chat events"
On Sponge the chat events are currently always running in the main thread which is the standard Vanilla behaviour. However, compared to other parts of the server, moving the chat events out of the main thread is actually quite easy (and safe) to implement, because it does normally not depend on anything world related or similar things. Moving chat processing out of the main server thread has sever

[2016-01-18 21:25] viveleroi opened #447 "Execute child commands if optional argument on parent isn't present"
I have a scenario in which a parent command accepts an optional argument, yet the children commands a) may also be present and b) need access to that parent value.

For example, imagine a plugin where a user defines a region in the world. Our plugin would define two variations of a command to be used when working with an existing region:

[code]

The first specifically identifies a region by its n

[2016-01-18 22:00] gabizou commented on #446
If I remember correctly, there is a very good reason why most chat plugins for Bukkit ended up not using any sort of `AsyncChatEvent` of sorts: permission lookups. Because it's completely unknowing of whether the underlying permission implementation is performing the permission checks based on location, there's a bit of things that otherwise would be dependent on remaining in sync with the main th

[2016-01-18 22:00] ryantheleach commented on #446
The biggest issue when threading chat, is dealing with plugins that place variables that can be filled in into the chat. Common variables are Worlds, ranks, groups, factions, health, country, and a whole slew more.

The problem then goes to thread safe access to the variables. One choice is to cache them, but then you need cache invalidation which could get hairy if an event isn't fired for whiche

[2016-01-18 23:27] kashike commented on #446
If anything, a sync and async event would be good - not just async.

[2016-01-19 00:23] gabizou opened #448 "Custom Data location to store"
So, naturally, `Entity` and `TileEntity` can store custom `DataManipulator`s perfectly fine, but it might be prudent that custom data from plugins may be loaded/stored outside of the `Entity`/`TileEntity`'s specific `NBTTagCompound` to avoid contamination and cases where "server owner wants to just delete the plugin from existence, and all custom data with it." without having the issue of seeing s

[2016-01-19 00:40] simon816 commented on #448
3) A way to purge data that no longer has a registered builder. (`/sponge purge-data`?)

[2016-01-19 00:54] kenzierocks commented on #448
@simon816 but also only for a certain plugin, since you might not want to clear all of it in some cases?

[2016-01-19 00:56] simon816 commented on #448
Yeah that's possible assuming the data gets tagged with the plugin id or something `/sponge purge-data <pluginId>`

[2016-01-19 01:15] ryantheleach commented on #446
Wouldn't having a sync event just mean everything blocks waiting for the sync event to be fired anyway?

[2016-01-19 13:45] TheRaspPie commented on #448
@simon816 But then you need Sponge to remove the plugin data. What if you want to move the world to a vanilla server for example and you don't want to start a Sponge server first, but also delete the data?

[2016-01-19 14:11] JBYoshi commented on #448
Then the vanilla server doesn't read it (I assume), so it doesn't get saved.

[2016-01-19 14:11] TheRaspPie commented on #421
@kashike The goal of the Text API is to model Mojang's JSON text format as exact as possible, as @gratimax said earlier. So if you send text to a player, it can only contain the following text types:
- `LiteralText` (a `String` with formatting)
- `ScoreText` (to display a scoreboard score on the client)
- `SelectorText` (to resolve a selector on the client)
- `TranslatableText` (to let the client

[2016-01-19 16:38] kashike commented on #421
@TheRaspPie I'm well aware of the goals of the Text API, as well as the possible types that can be sent.

Before the Text API v3 revision (https://github.com/SpongePowered/SpongeCommon/commit/1a560d6ccdacb1d2413fba0944acee61a291d5fe) this worked as expected, @Minecrell intentionally broke it.

[2016-01-19 16:52] Zidane commented on #448
As with our multi-world system, we need to store this data separately. Your structure sounds good for number 2 gabizou.

[2016-01-19 18:40] clienthax opened #450 "Cancelling inv events cast issue"
Cancelling ClickInventoryEvent

[code]

Also invalidating each transaction seems to have no effect

[2016-01-19 19:32] TheRaspPie commented on #448
@Zidane Great.
I also like number 2 best because it separates vanilla data from plugin data.

[2016-01-19 19:35] TheRaspPie commented on #421
@kashike Ok, I see. I didn't know it was ever implemented.

[2016-01-20 16:28] #369 closed

[2016-01-20 16:30] simon816 commented on #369
OK it HAS to be fixed by now -_-

[2016-01-20 19:10] Minecrell commented on #431
SpongeVanilla has the same issue.

[2016-01-20 19:10] simon816 commented on #431
Just about to do that

[2016-01-20 19:15] #431 closed

[2016-01-20 19:19] gabizou commented on #444
We could have some sort of handling similar to entity/block tracking where the entities are targeted and events thrown afterwards.

[2016-01-20 19:58] simon816 commented on #444
OK it has been decided (thanks @bloodmc @Deamon5550  and @Zidane) that the `AITaskEvent.Add` will be delayed in it's firing when `addTask` is called in the constructor. The events will be stored, then fired just before the entity is spawned.

[2016-01-20 21:21] Minecrell commented on #214
This was fixed with the recent Gradle build script changes.

[2016-01-20 21:21] #214 closed

[2016-01-20 21:25] #390 closed

[2016-01-20 21:25] Minecrell commented on #390
I think that should fix the problem. If it is still an issue, just comment here again.

[2016-01-20 21:27] Minecrell commented on #339
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/3bd77aa6b984224d5cc6a4e7563836f6b204f7dd

[2016-01-20 21:27] #339 closed

[2016-01-20 23:48] #444 closed

[2016-01-21 14:41] clienthax commented on #406
@gabizou @CrazyPyroEagle This should be fixed from the first pixelmon 1.8.9 release (soon).

[2016-01-21 17:25] CrazyPyroEagle commented on #406
@clienthax To avoid this occurring with any other mod, shouldn't Forge log a warning every time an entity is spawned in the wrong thread?

[2016-01-21 17:29] Mumfrey commented on #406
That's a really expensive check to make in a very busy method, it's much better that modders avoid being idiots in the first place.

[2016-01-22 19:06] viveleroi opened #452 "PaginationService.setPaginationCalculator doesn't appear to work"
I'm trying to change the "lines per page" number for paginated results sent to a player via the `PaginationServer.Builder`. The only related method I can find is `getFixedLinesCalculator` which returns a new calculator. I assume this calculator must be provided back to the service but either I'm wrong or it's not working:

    service.get().setPaginationCalculator(CommandSource.class,
        serv

[2016-01-23 12:35] JonathanxD commented on #409
Bump. Any solution?

[2016-01-24 18:48] Aaron1011 opened #454 "Entity vehicle/passenger cannot be properly set until one tick after spawn"
Attempting to set an entity's vehicle/passenger in the same tick that it is spawned does not update the client properly. If the player's vehicle is set to a `Pig`, for example, the player will still be on the ground (client-side). Attempting to move away from the entity will cause the player to be teleported back by the server.

[2016-01-24 20:15] bloodmc commented on #454
Is this SpongeForge or SpongeVanilla? or both?

[2016-01-24 20:21] Aaron1011 commented on #454
@bloodmc: Both, I believe.

[2016-01-26 20:13] DarkArc opened #455 "Server crash when throwing a splash potion at the ground"
[code]

[2016-01-26 20:19] #455 closed

[2016-01-26 21:03] DarkArc opened #456 "NPE when giving potion effects to a new Potion Entity"
[code]

[code]

[2016-01-27 03:01] #441 closed

[2016-01-27 14:02] modwizcode commented on #409
Hey @Mumfrey would mind if I took this one? I think I could get it done pretty quick.

[2016-01-27 17:04] Mumfrey commented on #409
Go ahead. Personally I feel like invalid packets from the client should be grounds to kick the client.

[2016-01-27 17:06] modwizcode commented on #409
I didn't think this was a packet related issue but I haven't loaded it up
to reproduce it yet. I was starting with the assumption that sponge has a
problem with custom sizes that isn't handled properly.

On Wed, Jan 27, 2016, 11:04 AM Mumfrey <notifications@github.com> wrote:

[2016-01-27 17:38] Mumfrey commented on #409
I was starting with the assumption that this is a poorly-written mod which doesn't realise its server-side counterpart is missing and sends click packets for slots which don't exist. I could be wrong but that's where I would start.

[2016-01-27 17:40] Mumfrey commented on #409
FYI, you can tell the server-side version of the mod isn't installed because the crash log lists only fml, mcp, forge and sponge. This isn't a case of a server-side mod breaking sponge, this is a case of a client-side mod which isn't smart enough to disable itself.

[2016-01-27 17:56] modwizcode commented on #409
Ah ok cool that should be an easy fix then.

On Wed, Jan 27, 2016, 11:40 AM Mumfrey <notifications@github.com> wrote:

[2016-01-27 22:06] catageek opened #457 "IndexOutOfboundsException caught in Hotbar.getSlot(SlotIndex) and null returned"
The following code:
[code]
is returning null because OrderedInventoryAdapter.getSlotLens() is catching an IndexOutOfBoundsException.

Apparently the list OrderedInventoryLensImpl.slotCache is empty, so at OrderedInventoryLensImpl:87 the exception is triggered.

[2016-01-28 05:29] DarkArc opened #458 "No Sign Text Returned"
Given the following code where the variable ````BlockState sign```` is the block state for a wall sign block containing some text:

[code]

The output is "No text found: Sign" where "Sign text found!" is expected.

[2016-01-28 05:39] gabizou commented on #458
You can't get sign text from a `BlockState`, a `BlockSnapshot` maybe, but definitely not a `BlockState`.

[2016-01-28 05:40] #458 closed

[2016-01-28 07:31] kenzierocks opened #459 "SqlService cannot be used"
Attempting to use the `SqlService` provided by `SpongeCommon`, specifically concerning `H2`, is not possible as it currently stands. The plugin available [here](https://github.com/kenzierocks/NoSqlService) (check releases for binaries, or use `gradle runServer`) will give something like the output [here](https://gist.github.com/kenzierocks/1b5bffaa39b072d73d8e). This should be patched, as `H2` is

[2016-01-28 12:37] Minecrell commented on #459
The sql service is working fine, although I think your plugin is broken:

[code]

The problem you're facing here is neither a SpongeCommon bug nor an actual SpongeForge bug, it is related to changes [Forge made recently for the Eclipse dev environment](https://github.com/MinecraftForge/MinecraftForge/commit/f3c2eb8e9cda873678d0e2308e4b7904fe8e3d61#diff-01042e0e40a00cc58f70263a1aaf84e7R29) probably

[2016-01-28 12:54] modwizcode commented on #457
I'll try to fix this with issue #409.

[2016-01-28 12:55] modwizcode commented on #457
To clarify I don't think these are duplicate issues but the fix might be in the same code paths.

[2016-01-28 13:34] Mumfrey commented on #457
@modwizcode, do not touch the adapter code please, a few things are being changed and rebasing drives me nuts.

[2016-01-28 13:38] modwizcode commented on #457
@Mumfrey If the fix requires that what do you want me to do?

[2016-01-28 13:40] Mumfrey commented on #457
It does, leave it with me.

[2016-01-28 13:40] modwizcode commented on #457
Ok no problem.

[2016-01-28 15:19] kenzierocks commented on #459
1) No, I want setup to be easy.
2) Don't think that's possible, especially if we switch to 1.9 later
3) Might do that
4) No, I have big reasons for using Eclipse.

[2016-01-28 15:21] Minecrell commented on #459
Well in that case 3) is probably the best option for you.

[2016-01-28 23:14] kenzierocks commented on #459
Looks like disabling the launch flag is going to be my current option. I don't know what bug that flag fixes, but I haven't hit it.

[2016-01-28 23:14] #459 closed

[2016-01-28 23:24] kenzierocks opened #460 "RandomObjectPopulator has inverted checkArguments"
@Deamon5550 [These lines](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/world/gen/populators/RandomObjectPopulator.java#L54-L56) should be the opposite.

[2016-01-28 23:54] Mumfrey commented on #460
Seriously, `checkArgument` is fucking annoying because you always end up reading it like `if x condition then emit this error message`

[2016-01-29 01:59] DarkArc opened #461 "Sign Text data cannot be offered to a BlockSnapshot"
Sign Text data applied to a BlockSnapshot using the `with` method has no effect on the BlockSnapshot.

[2016-01-29 02:54] Deamon5550 commented on #460
Yeah I always forget which way they go...

[2016-01-29 15:05] Minecrell opened #462 "java.time.temporal.UnsupportedTemporalTypeException: Unsupported field: YearOfEra"
Running `/sponge heap` results in the following error:

[code]

[2016-01-29 18:12] #462 closed

[2016-01-30 08:18] catageek commented on #418
Another example: Remove an item with Slot.clear(), the item will be shown until we interact with it.

[2016-01-30 16:55] viveleroi opened #463 "Duplicate events thrown for TNT ignited by Player"
When a player lights TNT, I see two `ChangeBlockEvent`s - one with PrimedTNT as the cause, and a second with both PrimedTNT and Player in the cause chain. The same group of blocks exists in each transaction.

SpongeForge build 1118

[2016-01-30 19:07] #463 closed

[2016-01-30 20:24] catageek opened #464 "Some chars are escaped when storing PagedData, but not unescaped when retrieving"
The following code:

[code]

will return a string containing "\#test\=1" (the quotes are embedded in the string, i.e the size of the string is 11) when #test=1 is expected.

From what I could see, the chars are escaped in a JSON serializer.

[2016-01-30 21:46] hsyyid opened #465 "Exception while ticking Blocks"
Found on SpongeForge 1118
View log here. (http://pastebin.com/mTti17UD)

[2016-01-30 22:33] #465 closed

[2016-01-31 05:45] catageek commented on #464
The reason is that Gson is escaping for xml/html by default.

I could unescape it using:
`StringEscapeUtils.unescapeJson(pages.get(i).toPlain()).replace("\"", "")`

Do we leave the plugin developers deal with it or should it be done in Sponge ?

[2016-01-31 16:07] modwizcode commented on #409
Hmm, I can't reproduce this with current SpongeForge and current overpowered inventories. The extra inventory tab just doesn't work in the latest version.

[2016-01-31 18:16] DarkArc opened #467 "Server Freezes Upon Setting Water"
[code]
Using the above command will send Sponge into an infinite loop.

Warmroast: http://i1265.photobucket.com/albums/jj520/Dark_Arc/Screenshot%20from%202016-01-31%2013-15-01_zpszru11sh6.png

[2016-01-31 18:18] kenzierocks commented on #467
This is definitely popping up frequently, had the same thing happen with my world gen. Any time you set some blocks via API it looks like this happens.

[2016-01-31 18:59] catageek opened #468 "Moving vehicles eject players"
Since 9366673 It is impossible to ride a cart in movement.

Players can still ride carts when they do not move, but are ejected when the cart starts to move.

[2016-02-01 00:03] DarkArc opened #469 "Block Change causes occasionally reference an unrelated source"
I have some minigame code, which occasionally changes blocks using setBlockType, so as to, for instance, open a door. I added some block protection code to keep a player from breaking the door.

Upon debugging the block protection code, I discovered that Causes identical to if a player were breaking the block are being assigned to the changes performed by setBlockType in the minigame logic.

These

[2016-02-01 02:57] hsyyid opened #470 "Ban Reasons do not support colored Text"
As title implies, the ban service doesn't support colored text correctly.

This is the [result](https://gyazo.com/a5c004ecb53397995e51587e1e514322), of using this [command](http://pastebin.com/hW0gwrLR) with the input: `&bIs color enabled? &4&lNo.` for the reason.

The same input when used to kick the player if online is shown in color, but when the player tries to reconnect, and the ban message i

[2016-02-01 03:19] ryantheleach commented on #469
Is it changing the blocks on the interact event? If so as a work around you can schedule the changes instead until you can setBlock with your own custom cause.

[2016-02-01 03:22] DarkArc commented on #469
It's running on a scheduled task, the mini game has its own ticks more or less, where it checks some things, and performs updates.

		 ---- On Sun, 31 Jan 2016 19:19:44 -0800  notifications@github.com  wrote ----Is it changing the blocks on the interact event? If so as a work around you can schedule the changes instead until you can setBlock with your own custom cause.
—Reply to this email directl

[2016-02-01 03:36] gabizou opened #471 "SpawnCause Implementation Checklist"
- [ ] Fix block container breaks not providing the appropriate spawn cause
- [ ] Fix entity destruction handling
- [ ] Clean up capturing of entity spawns so that if the vanilla handling is used explicitly, allow it with it's special cause
- [ ] Refactor out entity spawn capturing from `MixinWorld.handlePostTickCaptures`

I'm sure there are other issues at large, but these are the ones that keep c

[2016-02-01 04:09] #467 closed

[2016-02-01 13:33] modwizcode commented on #468
@gabizou you working on this already? If not I'll take a look at it tonight.

[2016-02-01 16:09] modwizcode commented on #468
@SpongePowered/developers can someone edit the issue title to just be "Moving vehicles eject players"?

[2016-02-01 18:16] viveleroi opened #472 "Restoring an EntitySnapshot should move entity to a safe location if needed"
It's possible for the location of an EntitySnapshot to no longer be safe upon restore. In that case, the entity should be moved to a safe location.

[2016-02-01 23:43] #468 closed

[2016-02-02 17:20] Zidane commented on #472
I think I disagree with this...solely on the premise that this violates the law of the snapshot. If I restore a snapshot, I want the object being restored to be exactly as it were.

Maybe a better fix for your usecase is a method in the API to ask "Is this location safe for this entity?". Granted this would require AABB to be exposed finally.

Tagging @DDoS .

[2016-02-02 17:26] viveleroi commented on #472
I filed this per a request from @bloodmc, he might have some input too.

[2016-02-02 22:34] DarkArc opened #478 "Restoring BlockSnapshots Rapidly With Timings Causes CME"
[code]

[2016-02-02 22:37] bloodmc commented on #478
uh did you have timings on? Timings should not be showing up in any traces unless you turn it on manually.

[2016-02-02 22:40] DarkArc commented on #478
They're on, though I didn't manually enable them.

[2016-02-02 22:40] Minecrell commented on #478
Still, ensbling timing should cause the server to crash ;)

[2016-02-02 23:07] Zidane commented on #456
@gabizou

Status update.

[2016-02-02 23:07] Zidane commented on #447
@zml2008

Lop this into your other changes please.

[2016-02-02 23:08] Zidane commented on #457
@Mumfrey

Status update on this issue. Where are we at with changes to the adapter code?

[2016-02-02 23:08] Zidane commented on #461
@gabizou

Status update.

[2016-02-02 23:08] Zidane commented on #470
@Aaron1011

Status update.

[2016-02-02 23:09] Zidane commented on #460
@Deamon5550

Status update.

[2016-02-02 23:09] Zidane commented on #454
@bloodmc or @Aaron1011

Status update.

[2016-02-02 23:10] Zidane commented on #450
@bloodmc

Status update. Didn't you make changes to inventory events?

[2016-02-02 23:10] gabizou commented on #456
I'll work on it after I get these mixins working again.

[2016-02-02 23:45] simon816 commented on #478
How are you restoring blocks? All in the main thread (same tick) ?

[2016-02-02 23:49] DarkArc commented on #478
@simon816 Yes.

https://github.com/sk89q/WorldEdit/blob/feature/sponge-new/worldedit-sponge/src/main/java/com/sk89q/worldedit/sponge/SpongeWorld.java#L113-L119
https://github.com/sk89q/WorldEdit/blob/feature/sponge-new/worldedit-sponge/src/main/java/com/sk89q/worldedit/sponge/SpongeForgeWorld.java#L85-L104

[2016-02-02 23:58] bloodmc commented on #478
Just turn timings off and you won't have a problem. Update ticket to reflect timing bug when restoring.

[2016-02-03 02:45] El-minadero opened #479 "method to get baseGen surface y value"
Someone suggested in IRC that I post this here. I don't know if this is the appropriate place for discussing things like this, and I do realize that most of sponge is already fleshed out. However, if it is possible, could there be a field in chunk that gets the highest y value non-air, non-tree, non-liquid block for a given pair of x,z coordinates? I can't seem to find a fast/easy way to implement

[2016-02-03 04:56] #456 closed

[2016-02-03 06:40] gabizou opened #480 "Minecarts "float" down"
I don't know how else to explain this, but somewhere, somehow, we're managing to make it where `Minecart` entities "float" to the ground, as if they're floating like they're chickens. I've tested that it's not the `DisplaceEntity.Move` event implementation, nor is it the `SpongeHooks.checkEntitySpeed` stuff, nor is it any of the mixins directly for `Minecart`s. Really mind boggling. @Zidane was su

[2016-02-03 08:40] simon816 commented on #480
My velocity fix was replaced by https://github.com/SpongePowered/SpongeCommon/pull/293

[2016-02-03 11:00] simon816 commented on #480
OK so I have tested this and found it has something to do with SpongeForge's [`MixinEntityMinecrart`](https://github.com/SpongePowered/SpongeForge/blob/master/src/main/java/org/spongepowered/mod/mixin/core/entity/vehicle/MixinEntityMinecart.java). If I remove that mixin then minecarts fall as expected.

[2016-02-03 11:17] simon816 commented on #480
The issue is that the inject had never worked, ever. [`implementCustomAirborneDeceleration`](https://github.com/SpongePowered/SpongeForge/blob/master/src/main/java/org/spongepowered/mod/mixin/core/entity/vehicle/MixinEntityMinecart.java#L69-L79) was never being injected and it was only when the inject was fixed did this actually take effect.
I traced the inject back to @caseif's original PR, https

[2016-02-03 11:57] Mumfrey commented on #480
Is the field [airborneMod](https://github.com/SpongePowered/SpongeForge/blob/master/src/main/java/org/spongepowered/mod/mixin/core/entity/vehicle/MixinEntityMinecart.java#L46) ever actually assigned? Wouldn't this cause an NPE if [that code](https://github.com/SpongePowered/SpongeForge/blob/master/src/main/java/org/spongepowered/mod/mixin/core/entity/vehicle/MixinEntityMinecart.java#L75-L77) is ac

[2016-02-03 12:06] caseif commented on #480
@simon816 Honestly I don't really even remember that PR very well, but I'll look at the method tonight to see if I can fix it.

[2016-02-03 17:38] gabizou commented on #480
I can guarantee you that

[2016-02-03 17:40] Mumfrey commented on #480
Honestly, why is that multiplier 0.5 though?

[2016-02-03 17:41] gabizou commented on #480
Because that's what vanilla does.

[2016-02-03 17:41] gabizou commented on #480
Also, I just noticed that there's the mixin in Spongeforge, which now I'll re-test and come back with a fix.

[2016-02-03 17:53] Mumfrey commented on #480
Yes but this means that vanilla is doing the 0.5, and then the mixin is applying the 0.5 **again**!

[2016-02-03 17:55] Mumfrey commented on #480
Also, vanilla only applies the 0.5 multiplier as the *derailed* modifier, in the air it just applies drag, so surely the base value for that should be `defaultDragAir` (0.94999998807907104D) and not 0.5.

[2016-02-03 19:52] gabizou commented on #480
Fixed!

[2016-02-03 19:52] #480 closed

[2016-02-03 20:11] 20zinnm opened #481 "NBT Vulnerability"
Hey, I recently ran a test on a locally hosted SpongeVanilla server trying to exploit the NBT vulnerability that was patched in 1.8.3. It can be found [here](https://github.com/ammaraskar/pyCraft/tree/nbt_exploit) (https://github.com/ammaraskar/pyCraft/tree/nbt_exploit). I was using Mac's Activity Monitor for a profiler because I don't have time right now to get a real enviroment set up, but I not

[2016-02-03 22:48] JBYoshi commented on #481
I think this should be working properly. Sponge has been using 1.8.9 for some time.

[2016-02-05 21:26] kashike commented on #421
It'd be nice to get this reverted or fixed soon.

[2016-02-06 01:35] DarkArc commented on #469
After changing the minigame to use the new setBlock with a cause of the setting plugin provided, the Cause was instead the plugin that placed it, not the player who was breaking the block. This leads me to believe that occasionally the block's creator is used in place of the player or entity actually changing the block.

[2016-02-06 02:21] gabizou opened #482 "Create mapping of UUID -> Entity for loaded entities"
Seriously, just iterating over the existing entities in the loaded entity list for the `World` is just poor practice. If anything (since we control the spawned entities anyways), we should maintain the mapping of UUID to Entity instances at least, or if not, we can make a `WeakHashMap` otherwise.

[2016-02-06 02:49] kashike commented on #482
This sounds like it should be in the API as well.

`net.minecraft.world.WorldServer#getEntityFromUuid` not an option?

[2016-02-06 03:13] #469 closed

[2016-02-06 03:15] gabizou commented on #482
Ah yes, `WorldServer` is probably the better option, I was just strolling across it in `MixinWorld`.

[2016-02-06 13:41] #470 closed

[2016-02-06 13:44] Minecrell commented on #440
@bloodmc Was this added with https://github.com/SpongePowered/SpongeCommon/commit/fb5442c6e42b13bd6c839f8866901955ba6f6140

[2016-02-06 14:55] #440 closed

[2016-02-07 10:58] jk-5 commented on #23
There is 1 closing curly bracket too much in the logging line in https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/mixin/core/server/MixinMinecraftServer.java#L329

[2016-02-07 22:14] Faithcaio opened #487 "ClassCastException when using Hotbar#setSelectedSlotIndex"
[code]

https://github.com/SpongePowered/SpongeCommon/blob/a493433e40298c8a82a75b446646dc46176f14ea/src/main/java/org/spongepowered/common/item/inventory/lens/impl/comp/HotbarLensImpl.java#L75

[2016-02-07 22:25] Faithcaio opened #488 "NativeStackException when setting item in empty slot"
[code]
Stacktrace:
http://pastie.org/pastes/10712762/text?key=ydvdgdsim3v2ifg1yhztw

https://github.com/SpongePowered/SpongeCommon/blob/27705f6ff539bf00288ccbd3995ec2adfbe90b48/src/main/java/org/spongepowered/common/item/inventory/util/ItemStackUtil.java#L54

[2016-02-07 23:56] #487 closed

[2016-02-08 00:41] Rain336 commented on #488
The actual error is `SlotAdapter#set(ItemStack)` isn't checking for null as "old" ItemStack.

[2016-02-08 00:51] Rain336 commented on #488
Btw there is also SpongePowered/SpongeVanilla#220

[2016-02-08 01:42] KillfalconGames opened #490 "HealEntityEvent not firing."
I was trying to cancel the healing effects of food. When I tested my listener I realized that the HealEntityEvent never fired. I've set a breakpoint at the first line of the method and tested to heal myself with food and healing potions, both of which did not fire the event.

Heres the code I'm using:
http://pastebin.com/uWGyuwax

[2016-02-08 02:19] gabizou commented on #490
As exemplified by https://github.com/SpongePowered/SpongeCommon/issues/41, the event isn't implemented. Closing as this is redundant to the event implementation checklist.

[2016-02-08 02:19] #490 closed

[2016-02-08 15:43] #482 closed

[2016-02-08 15:44] gabizou commented on #482
I was looking at the code incorrectly. It is delegating if the world is and instance if `WorldServer`.

[2016-02-09 16:24] VcSaJen opened #492 "TextXML - Newlines are lost"
onHover text in Minecraft can have new lines. JSON:

[code]

Screenshot:
![scr1](https://dl.dropboxusercontent.com/u/7410519/ScreenS/ser_JSON.png)

But TextXML isn't supporting this in any way.
It's easy to test with serializing and deserializing Text generated from JSON with TextXML:

[code]

Resulting TextXML:

[code]

Screenshot:
![scr2](https://dl.dropboxusercontent.com/u/7410519/ScreenS/ser_t

[2016-02-09 20:45] Faithcaio opened #493 "DisplaceEntityEvent wont fire after login"
To reproduce join the game
make sure to not move the camera.
Teleport to another world by using chat.
...
DisplaceEntityEvent did not fire.

Testplugin:
http://pastebin.com/7Ebh8cHY

[2016-02-09 21:03] gabizou commented on #493
Because `DisplaceEntityEvent.Teleport` is not implemented, as reported in #41. `Move` events are implemented fully though.

[2016-02-09 21:03] #493 closed

[2016-02-09 23:09] hsyyid opened #494 "FlyingAbilityData No Longer Working"
FlyingAbilityDataProcessor doesn't appear to be changed, but it no longer works for players in survival (verified on SpongeForge 1141)

[Test Code](https://github.com/hsyyid/EssentialCmds/blob/master/src/main/java/io/github/hsyyid/essentialcmds/cmdexecutors/FlyExecutor.java)

[2016-02-09 23:37] Aaron1011 commented on #494
@hsyyid: I'm unable to reproduce this.  Can you retry on the latest SpongeForge, and post your code?

[2016-02-10 00:29] hsyyid commented on #494
@Aaron1011 Sure, wil retry now on SF 1144. I'm using EssentialCmds `/fly` command to test.

[2016-02-10 05:22] jasendorf opened #496 "Animals Won't Follow"
spongeforge-1.8.9-1722-3.1.0-BETA-1136.jar
forge-1.8.9-11.15.1.1722   multiplayer server

Offer a chicken seed and it will not follow, pig a carrot, same.  Inscrutable noticed the same behavior in SpongeVanilla.

Perhaps related, When feeding seed, animals will breed but do not show hearts.

[2016-02-10 10:40] simon816 commented on #496
I can confirm this bug.
It appeared between SpongeForge 1131 and 1132 (https://github.com/SpongePowered/SpongeForge/commit/cbd5e0c9d8ee62499a3873c95bc67f3852e702dd)
so must be caused by something in these changes: https://github.com/SpongePowered/SpongeCommon/compare/96f62a1541d3008dc8d86be010294239e04a59b8...318d10252f86453f59bf4a3f949ab83763fd89b3

[2016-02-10 11:06] Minecrell opened #497 "A named cause already exists with the name: Attacker"
The latest changes in SpongeCommon (very likely https://github.com/SpongePowered/SpongeCommon/commit/d190daa99276c39b97179841809e8d82ea74f1ea) cause SpongeVanilla (and maybe also SpongeForge) servers to crash sometimes complaining about a duplicate named cause:

[code]

[2016-02-10 11:09] Minecrell commented on #497
Seems to happen when an entity drops items, e.g. if I kill a chicken it will crash immediately.

[2016-02-10 11:20] Minecrell commented on #497
Seems to only happen on SV.

[2016-02-10 11:34] #496 closed

[2016-02-10 14:32] ryantheleach commented on #492
It also annoys me that users wanting to use hovers now have to encode the <> characters as &gt;

maybe we could fix both issues by refactoring the format, so hover is no longer an attribute of span, but a child tag of some sort?

<span><hover type="show_text">Hello<br/>There</hover>Hover</span>

[2016-02-10 22:59] #488 closed

[2016-02-10 23:03] Mumfrey commented on #450
@clienthax does this still happen, I'm looking at the code and can't see what would be throwing this?

[2016-02-10 23:05] clienthax commented on #497
happens on sponge forge too @minecrell log incomming

[2016-02-10 23:05] xChristopher210 commented on #497
http://paste.ubuntu.com/15011860/

[2016-02-10 23:23] gabizou commented on #497
I have a potential fix coming in.

[2016-02-10 23:24] kashike commented on #450
I believe this was fixed with https://github.com/SpongePowered/SpongeCommon/commit/7bd6066ffda1ef719abe1ac584058b5383ab946e.

[2016-02-11 11:34] Minecrell commented on #497
Still happening on latest SpongeVanilla:

[code]

[2016-02-11 16:00] gabizou commented on #497
@Minecrell IT's still happening on SV because I haven't updated SV yet..... Otherwise the bug is actually fixed in SpongeCommon and SpongeForge.

[2016-02-11 16:00] #497 closed

[2016-02-12 18:55] TomyLobo commented on #492
Well, child tags right now mean content, while attributes hold properties.
hover is clearly not content, but also not really a property, but a pseudo event handler thingy...

Other people?

[2016-02-12 19:01] TomyLobo commented on #492
On the original issue:
In theory, the deserialization should preserve whitespace.
In practice there has been a bug with whitespace in TextXML before which @Doridian fixed before I handed it over to @zml2008 .
But we never tested multi-line stuff...
Also, I think @zml2008 reimplemented some parts from scratch, so this particular fix might not be in there anymore.

[2016-02-12 22:11] #494 closed

[2016-02-13 09:07] ryantheleach commented on #492
I think the fact that it has nested xml fragments that are getting coded show that it definitely should not be an attribute. It's just 100% unfriendly for people to input into configs.

[2016-02-13 18:30] viveleroi opened #505 "Vanished players' armor and tools are visible"
In speaking with mbaxter, it appears this is a sponge issue and not a plugin issue.

When using vanish 4.0.0 with spongeforge 1151, players vanish properly but their armor and tools are still visible. We've confirmed this with several different players.

[2016-02-13 18:54] jk-5 opened #506 "Creating a new sponge world from existing world files creates a new world with the old name"
I can explain what is going on, but i think it is more clear if i explain it by an example

1. Put an old minecraft server world in the 'world' folder which was called 'foo' previously and in level.dat
2. Use `WorldCreationSettings.builder()` to create a new world. Specify the name of the world directory you just put in the 'world' folder, for this example we pick 'bar'
3. Build a WorldProperties

[2016-02-13 19:06] hsyyid opened #507 "Cannot Offer Represented Players to a Skull"
View [Test Code] (https://github.com/hsyyid/EssentialCmds/blob/f5e960f24156f20b4a32709024fea37a9fd94b26/src/main/java/io/github/hsyyid/essentialcmds/cmdexecutors/SkullExecutor.java#L51)

When offering the player's game profile, it returns a result type of FAILURE

[2016-02-13 20:00] viveleroi opened #508 "handleDisconnection() called twice"
I can't narrow the cause of this down, nor can I reproduce it with any exact set of steps, but it happens consistently enough that I know it's not a fluke.

During random player disconnects, the console begins spamming this warning:

`[Server thread/WARN]: handleDisconnection() called twice`

There appears to be no way to stop it outside of a full reboot. It's happened on a local dev server (witho

[2016-02-13 21:30] #507 closed

[2016-02-14 01:06] kashike commented on #508
The actual message is intentional by Mojang, however it shouldn't be spamming it - more than likely a bug with Forge and/or Sponge.

[2016-02-14 02:19] viveleroi commented on #508
I'm seeing about 15-20 per second.

[2016-02-14 15:47] rexbut opened #509 "Error Key BOOK_PAGES Beta 246"
Hi,
the result of the Key.BOOK_PAGES on ItemTypes.WRITTEN_BOOK and ItemTypes.WRITABLE_BOOK is not the same format.
Test code https://github.com/rexbut/EverEssentials/blob/master/EEBook.java

[2016-02-14 17:56] viveleroi opened #510 "Dupe glitch from invalidated block change transaction"
Invalidating a block transaction fails to work properly when that block has broken due another block change. For example, breaking a grass block with a door above it will both drop the door item, and leave a door at that location. The same happens with pressure plates so I'm betting that it happens with all blocks that act this way.

Depending on the chain of events I don't know how easy this will

[2016-02-14 20:37] jk-5 commented on #506
I did some research, the fix is easy. When calling Server.createWorldProperties, the server loads the worldinfo (https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/mixin/core/server/MixinMinecraftServer.java#L736). If it does not exist it just creates one with the specified name, if a level.dat already exist, it uses that name instead of the specified

[2016-02-15 00:29] simon816 commented on #479
You could probably just create a [`BlockRay`](https://github.com/SpongePowered/SpongeAPI/blob/master/src/main/java/org/spongepowered/api/util/blockray/BlockRay.java) with your own filter

[2016-02-15 03:53] #505 closed

[2016-02-15 16:22] jk-5 opened #511 "Exception on retrieving JoinData on player first join"
#### Example Code

    @Listener
    public void onJoin(ClientConnectionEvent.Login event){
        Optional<JoinData> joinData = event.getTargetUser().get(JoinData.class); // <-- Exception
        if(joinData.isPresent()){
            // Do stuff
        }
    }

#### Expected behavior
The JoinData for the user does not exist yet, so Optional.empty() is returned.

#### Exception
    java.util.NoS

[2016-02-15 16:34] gabizou commented on #511
You can't get user data in login. You have to get it through `ClientConnectEvent.Join`.

[2016-02-15 16:34] #511 closed

[2016-02-15 16:35] gabizou commented on #511
But this overall is just an issue where `User` doesn't fully implement `DataHolder` whatsoever, which is a separate related issue altogether.

[2016-02-15 16:37] gabizou opened #512 "User lacking implementation of Data API integration"
Currently, `SpongeUser` doesn't properly implement many of the Data API methods and thus throw exceptions and errors when trying to retrieve simple data from them. It'd be useful if `User` could construct the `DataManipulator`s appropriately without having to delegate to using the `DataProcessor` system. @simon816 would probably be interested in this.

[2016-02-15 16:48] jk-5 commented on #511
I do query it from ClientConnectionEvent.Login. See the example code

Ok that makes sense, i'll see what i can do to add the DataHolder implementation / temporarily work around it

[2016-02-15 20:52] windy1 commented on #510
Just to be clear. When you say "invalidating a block transaction" you are referring to canceling a `ChangeBlockEvent`? Could you supply some example code of when this is happening for you?

[2016-02-15 22:30] viveleroi commented on #510
By calling `transaction.setValid(false)` while iterating transactions in a `ChangeBlockEvent`.

[2016-02-16 22:12] chrismack opened #514 "Issue offering PotionEffect to ItemStack (ItemPotionDataProcessor)"
I'm unable to offer PotionEffectData to a potion item stack. When the data is offered to the item stack the console print this : index out of bounds to set tag in tag list

original thread : https://forums.spongepowered.org/t/creating-potion-types/11386/2

[2016-02-17 06:04] #514 closed

[2016-02-17 06:05] gabizou commented on #481
@20zinnm If you can please give it a try, as I don't know off the top of my head whether the exploit will still crash Minecraft servers since they've patched it in 1.8.3.

[2016-02-18 08:56] ryantheleach commented on #479
Do you want the current highest block? or the one that originally generated?

[2016-02-18 16:46] Ollie2000 opened #515 "Unable to place blocks in specific locations"
Myself and a few of my friends have run into a somewhat serious bug, where you cannot place a block in these specific locations. We were trying to figure out why and none of us could... until now.

What was happening was there some some sort of invisible, un-killable, undetectable entitie stopping anything that required the space to be free of entities (solid blocks) from being placed. Items that

[2016-02-18 16:48] viveleroi opened #516 "Excessive chunk loading"
We've been noticing an average of 400+ chunks being loaded for every player, and even a high number of loaded chunks for an idle server with no one on it.

While idling (standing still in a single spot) on a development server with only sponge/EssentialCmds loaded, as the only player to ever join it, for 10+ minutes, the chunk count begins around 600 and averages out around 400. If we're loading/r

[2016-02-18 16:54] Ollie2000 commented on #516
I want to put a comment of the player to TPS ratio. From what I saw 3-4 players kept 20TPS, while 15-20 dropped it own to 4-5 TPS

[2016-02-18 17:34] gabizou commented on #516
If your chunk range is 10, that's 10 chunks in +-x/z so actually 400 is correct as it's a 20x20 chunk square being loaded for the player.

[2016-02-18 17:36] viveleroi commented on #516
Ok, how many chunks are loaded when idling then? There's still 272 chunks loaded which seems high for spawn.

[2016-02-18 17:43] gabizou commented on #516
I don't recall seeing anywhere where we are managing how many chunks are loaded, though it's certainly possible we could write some sort of chunk management where instead of a square chunk radius is loaded, loading a circular radius of chunks. @Zidane I'm sure there are some performance optimizations we can make with regards to chunks being loaded aside from the async chunk loader forge has.

[2016-02-18 17:51] viveleroi commented on #516
It's hard to pin down but it just feels like we're seeing excessive chunk counts and entity counts. We see clear TPS drops with 15-20 people online and we're nowhere near our busiest yet. Granted I'm sure sponge has a lot of performance profling work left to do.

[2016-02-18 20:00] El-minadero commented on #479
I could see utilities for both methods, but mainly for the original baseGenerator surface. It would have added functionality for me if the get method didn't have to query chunk objects, but could instead sample the noiseMap the surface is made from (so I could use info in places the world has not yet generated)

[2016-02-18 20:51] Deamon5550 commented on #479
Fetching from the noise map would be far more expensive than just doing a trace.

[2016-02-18 20:53] El-minadero commented on #479
Is this because the noise map in question is after the caves etc; have been applied? is there no way to sample just the base terrain map?

[2016-02-18 21:43] JBYoshi commented on #516
One reason for the extra chunks being loaded while idling is that Minecraft automatically loads chunks near the spawn point.

[2016-02-18 21:46] viveleroi commented on #516
272 of them seems high, but maybe that's standard?

[2016-02-18 21:57] ST-DDT commented on #516
I experienced similar values in Bukkit, thats why i usually disable the keep spawn loaded option in most worlds.

[2016-02-18 22:00] viveleroi commented on #516
I didn't consider additional worlds, it seems like they aren't a problem in my tests above, though it only covers the nether/end - not other overworld maps.

[2016-02-19 00:46] viveleroi opened #517 ""Will stop" event, in which database pool is still open"
With the current server "stopping" events, the database pool is automatically closed. However, I have a plugin which needs to update records in the database with the "disconnect" time of all players. This cannot be done properly when the pool is closed already.

In addition to a stopping/stopped event, it would be useful to have a "will stop" event, in which everything remains active/open, but we

[2016-02-19 00:50] bloodmc commented on #516
@viveleroi Install warmroast on your server and post the sampling results when the server begins to experience a drop in TPS.

https://github.com/sk89q/WarmRoast

[2016-02-19 03:05] xChristopher210 opened #518 "Items disappearing when block broken or item dropped"
When players and I drop items they go nowhere on the ground. This issue has been going on for a while but a simple restart fixes it before it just happens again.

Currently running:
spongeforge-1.8.9-1732-3.1.0-BETA-1158
Forge 1732
Pixelmon 4.2.1

NEW REPORT AS OF 2/25/16:
I'm currently on SpongeForge version 3.1.0-BETA-1164 running the Forge version 1732. I have made recent posts about this issue

[2016-02-19 05:34] #516 closed

[2016-02-19 05:34] viveleroi commented on #508
After hunting down the cause, this turned out to be an EssentialCmds issue.

[2016-02-19 05:34] #508 closed

[2016-02-19 07:38] Minecrell commented on #517
On SpongeVanilla the pool is shut down **after** the server stopped event so it shouldn't happen there. On SpongeForge it is shut down during the server stopped event, so normally it should be still up during the server **stopping** event.

[2016-02-19 15:54] viveleroi commented on #517
This is my mistake, I misread a method name. I have a different issue which is my own to resolve.

[2016-02-19 15:54] #517 closed

[2016-02-19 21:13] #460 closed

[2016-02-20 01:36] RobertHerhold commented on #362
@gabizou Is this in the pipeline somewhere?

[2016-02-20 01:53] gabizou commented on #362
@gravityfox is this still actually happening? It's been a while since I've pushed a few fixes with regards to inventory movements and such.

[2016-02-20 02:02] gravityfox commented on #362
I'm pretty sure it's been resolved, as the custom data based implementation has been out in the wild for awhile now and I haven't heard anything about it.

I think this can be marked as resolved.

[2016-02-20 02:03] #362 closed

[2016-02-20 05:57] 20zinnm opened #521 "Implementation of Inventory API"
## Implementation of Inventory API [![Bountysource](https://api.bountysource.com/badge/issue?issue_id=31041996)](https://www.bountysource.com/issues/31041996-implementation-of-inventory-api?utm_source=31041996&utm_medium=shield&utm_campaign=ISSUE_BADGE)

I wrote the Sponge port of BuycraftX, which centers around a GUI functionality. Little did I know, the Inventory API has not yet been implemented

[2016-02-20 06:00] windy1 commented on #521
:moneybag: :moneybag: :moneybag:

[2016-02-20 08:22] mmonkey opened #522 "Hotbar#setSelectedSlotIndex() does not change the active slot"
If a player is on index 5 of the hotbar, and does Hotbar#setSelectedSlotIndex(0), the hotbar stays on index 5. (the highlight box and item in hand stay the same)

[2016-02-20 12:36] Mumfrey commented on #521
The next phase of inventory is blocked on some features of Mixin needed to support it properly for mods. Once Mixin 0.6 is completed the remaining inventory will follow shortly afterward.

[2016-02-20 12:36] #521 closed

[2016-02-20 12:41] Mumfrey commented on #522
I'll have a look into this for you. Probably isn't being replicated to the client properly.

[2016-02-22 17:04] Minecrell commented on #421
I'm going to close this - the changes were intentional because the old API implied it was usable everywhere, even though it was only properly working for chat messages. As soon as the messages were serialized the translations were gone, even though per design of the Text API a text should always stay the same. SpongePowered/SpongeAPI#1088 will be the replacement for the old API.

[2016-02-22 17:04] #421 closed

[2016-02-22 17:10] thekeenant opened #527 "Keys.HIDE_UNBREAKABLE hides enchantments"
It doesn't hide the unbreakable attribute, instead it hides enchantments.

[2016-02-22 17:29] Zidane commented on #450
Closing this until @clienthax says otherwise.

[2016-02-22 17:29] #450 closed

[2016-02-22 17:31] #522 closed

[2016-02-22 18:14] viveleroi opened #528 "Cancelling DropItemEvent.Dispense removes item"
SF 1159 - When the `DropItemEvent.Dispense` event is cancelled, the dropped items disappear rather than return to the dropping inventory. Tested with players dropping an item and cancelling the event.

[2016-02-22 22:46] Hummer12007 opened #530 "Default value for ImmutableSpongeSkullData is inconsistent"
Default value for ImmutableSpongeSkullData is inconsistent (it is SkullType.ZOMBIE) with the default value for SpongeSkullData (SkullType.SKELETON), which is more logical, so in
https://git.io/v2OfI, we should s/ZOMBIE/SKELETON/.
P.S. @Zidane said that it matters a bit ;)

[2016-02-23 00:45] #530 closed

[2016-02-23 06:51] mmonkey opened #531 "Slot#isEmpty() always returns true"
If a Slot contains an ItemStack, slot#isEmpty() still returns true.

[2016-02-23 11:36] Mumfrey commented on #531
Correct, read the contract of `isEmpty()`.

[2016-02-23 11:36] #531 closed

[2016-02-23 13:33] Minecrell commented on #435
If this requires API changes it should be re-opened in SpongeAPI so we can track it there.

[2016-02-23 13:35] Minecrell commented on #446
I'm going to close this for now. If at all, this should be handled together with a general discussion on the handling of certain asynchronous events we should target for a later release.

[2016-02-23 13:35] #446 closed

[2016-02-23 13:43] Minecrell commented on #338
This is fixed in https://github.com/SpongePowered/SpongeAPI/pull/1081, plugin IDs can no longer contain spaces.

[2016-02-23 13:46] Minecrell commented on #281
@gravityfox Can you move this issue to SpongeForge? We will need some awesome log4j2 hacks here in order to fix this in SpongeForge, I'll need to take a look at that soon. Not an issue on SV anymore.

[2016-02-23 13:47] gravityfox commented on #281
Hacks? I fixed this by literally adding a few lines the the xml file...

Also i'm not sure how to move issues...

[2016-02-23 13:51] Minecrell commented on #281
1. Close issue
2. Open new issue

As for the fix: On SpongeForge the log4j configuration is controlled by Forge, it will be loaded before Sponge is actually loaded, we can't simply replace it somehow. We will need to ship a custom configuration and add ugly log4j hacks to make it reconfigure all loggers based on the configuration in our custom XML files.

[2016-02-23 13:59] #281 closed

[2016-02-24 14:50] bloodmc commented on #518
@xChristopher210 This should be fixed in 1162, please confirm.

[2016-02-25 00:10] DarkArc opened #536 "StackOverflow from CollideEntityEvent"
[code]

Listener:
[code]

[2016-02-25 00:28] DarkArc commented on #536
Changing this to CollideEvent.Impact or CollideBlockEvent stops the stack overflow. Maybe there should be some form of cycle detection however, or should we just let this happen?

[2016-02-25 05:41] #419 closed

[2016-02-25 05:51] viveleroi opened #538 "Provide true original text to MessageChannel::transformMessage"
The `MessageChannel::transformMessage` method receives an argument called `Text original`, but this Text object is the final "vanilla" formatted chat message, complete with `<playername>` formatting. The same is true for a `MessageChannelEvent`, the original/message methods include the player content.

Our custom chat plugin needs to remove this player content from the message (in favor of custom

[2016-02-25 09:15] kashike commented on #538
There isn't really a nice way to do this without adding **another** parameter to the `send` and `transformMessage` methods, however I suppose I can provide the original `String`.

[2016-02-25 11:52] ST-DDT commented on #538
AFAICT there is already a sender parameter.

https://github.com/SpongePowered/SpongeAPI/blob/master/src/main/java/org/spongepowered/api/text/channel/MessageChannel.java#L158

Or are you referring to the impl that does not make use of that param.

[2016-02-25 11:54] kashike commented on #538
@ST-DDT `sender` is the literal sender (player, etc) of the message. See https://github.com/SpongePowered/SpongeAPI/pull/1104

[2016-02-25 15:19] kashike commented on #538
Assuming you're talking about `MessageChannelEvent` for player chat, `MessageChannelEvent.Chat` has a `getRawMessage` method that contains what you want, you just need to set that as the message, the channel will use that afterwards.

[2016-02-25 19:52] xChristopher210 commented on #518
This issue still occurs in build 1164

[2016-02-25 21:57] Zidane commented on #518
@xChristopher210

Does this happen with JUST SpongeForge installed? I can't reproduce this locally with only us installed.

[2016-02-26 02:17] Aaron1011 commented on #515
Is this still reproduceable with the latest SpongeForge?

[2016-02-26 15:48] Ollie2000 commented on #515
From what I see no, it's not an issue anymore. Though before this is closed I'd like to see if updating from 1155 to the latest 1167 (forge 1762) fixes previous cases of this bug.

[2016-02-26 17:02] Aaron1011 commented on #515
Ok, sounds good.

[2016-02-26 17:44] hsyyid opened #541 "Configurate Fails to Save to Config, and Creates .tmp Files"
**This issue was reported by several users of my Kits plugin.**

[Original Issue](https://github.com/hsyyid/Kits/issues/6)
[Console Log](http://pastebin.com/twEuWMPz)

Basically, when Configurate fails to save something to the config (it says there is an AccessDeniedException) it creates LOTS of `.tmp` files, resulting in server TPS to drop, sever RAM usage to go up, and many more issues.

[2016-02-26 17:46] Minecrell commented on #541
Pretty sure you should report this @ https://github.com/zml2008/configurate

[2016-02-26 17:49] hsyyid commented on #541
@Minecrell Okay! :)

[2016-02-26 17:49] #541 closed

[2016-02-26 19:17] viveleroi opened #542 "World properties set via API are not retained through reboots"
I originally noticed this issue with EssentialCmds but am seeing the same result with a custom plugin.

    world.getProperties().setSpawnPosition(location);

World properties like difficulty, spawn position, etc work fine when set via the API - yet when the server is rebooted the values are lost and they revert to the originals.

@Zidane and I spoke briefly about this in IRC.

[2016-02-27 11:21] Minecrell opened #544 "Guardians are not spawning naturally"
Currently Guardians are not spawning naturally in ocean monuments, at least on SV (and likely also on SF, see https://forums.spongepowered.org/t/guardians-not-spawning-at-ocean-monument-after-migrating-to-spongevanilla/11143/3?u=minecrell). This can be reproduced by e.g. generating a world with the seed `-1211445164` which has a ocean monument near the spawn.

The issue seems to be caused by the w

[2016-02-27 19:16] Minecrell opened #545 "Make graph ordering utility able to report cyclic elements"
SpongeCommon's [graph ordering utility](https://github.com/SpongePowered/SpongeCommon/tree/master/src/main/java/org/spongepowered/common/util/graph) is used in the registry and in bleeding additionally in SpongeVanilla to order the plugin construction according to their dependencies. Currently when cyclic dependencies are found it will simply throw an `IllegalStateException` without a way to tell

[2016-02-27 19:39] xChristopher210 opened #546 "Exception while ticking a block"
I'm having an issue that is occurring around 10 - 15 minutes apart. When 5 players are on it spits out a crash report message in console and this is what I get.

SpongeForge: 1.8.9-1763-3.1.0-BETA-1170
Forge: 1.8.9-11.15.1.1763

Crash Report:
http://paste.ubuntu.com/15219203/

Any help?

[2016-02-27 20:21] Aaron1011 commented on #546
Can you try removing Pixelmon, and seeing if you still get this?

[2016-02-27 23:12] viveleroi opened #547 "Vanished players pickup items, are targeted by entities"
Using spongeforge 1167.

[2016-02-27 23:52] gabizou commented on #547
@viveleroi Is this still present in the latest SF/SV?

[2016-02-27 23:54] viveleroi commented on #547
1167 is only three builds behind and I haven't seen any commits related to this.

[2016-02-27 23:54] gabizou commented on #547
Just double checking as I don't want it to be a non-issue on master by it being somehow broken and then fixed in the commits between builds ;). I'll get to this shortly.

[2016-02-28 02:37] gabizou commented on #547
@viveleroi I can't reproduce this locally, any noticeable changes server side?

[2016-02-28 15:59] viveleroi opened #550 "IndexOutOfBoundsException: Index: 55, Size: 45"
[code]

[2016-02-28 17:07] Minecrell opened #551 "Qualified plugin ID configuration folders"
SpongePowered/SpongeAPI#1081 changed the recommendation of plugin IDs to qualify them with a group, e.g. `net.minecrell.testplugin`. This is generally working fine, however when I tested it a bit for while updating the SpongeDocs, I realized this affects several places in our implementations:

- The IDs result in a certain overhead for configuration folders, because now the qualified plugin ID is

[2016-02-28 18:08] phroa commented on #551
I'm a fan of namespacing. I'm not a fan of user-visible Java package namespacing, because nobody understands it and the developers might use a namespace that doesn't include the name of the plugin.

What comes to mind is to add a new field to the `@DefaultConfig`/`@ConfigDir` annotation with a "config tag".

[2016-02-28 19:19] Ollie2000 commented on #515
We updated to 1167 and the problem is still persisting.  (sorry it's taking a while, I don't own the server it's on) I'm going to assume it's the same for 1173.

[2016-02-28 19:33] Aaron1011 commented on #515
@Ollie2000: I've tried killing the chicken being ridden by the baby zombie, but the zombie remained normal. I was still able to place in its previous hedspace, and able to place where it was after killing it.

[2016-02-28 19:34] Minecrell commented on #551
@phroa Then there could be easily conflicts with the "config tag". I mean if every plugin chooses the same "config tag" as the unqualified part of the plugin ID (so often a lower case form of the plugin name) and these cause conflicts then we might as well remove the groups from the IDs. We would need to find a solution that doesn't easily cause more conflicts.

[2016-02-28 19:50] Deamon5550 commented on #551
Could we use the simple ids and only resort to the qualified ids if using the simple id would cause a conflict. Makes the final location indeterminate is the only issue.

[2016-02-28 19:52] Minecrell commented on #551
Well the problem is the following situation: Server has been running with one plugin only for a while, now it is started but a plugin with the same unqualified ID was added. We should probably move the existing folder now. How do we know which plugin the existing config directory belongs to?

[2016-02-28 21:01] #435 closed

[2016-02-28 21:09] Ollie2000 commented on #515
The cause of the problem no longer exists, but the issue is still apparent after you update. I can show you on the server I play on if you wish. That cause happened in 1155, when we updated to 1167 the spots that were effected by the cause were still there, but the cause is no longer replicatable

[2016-02-28 21:11] Aaron1011 commented on #436
@viveleroi: Sorry for the delay in getting to this. Aren't you able to look up the ban object internally, based off the gameprofile or address passed in?

[2016-02-28 21:13] Aaron1011 commented on #461
This is intentional, as the data is stored with the `Sign` TileEntity. Offering data to a `BlockSnapshot` goes through the blockstate, which doesn't support `SignData`.

[2016-02-28 21:14] Aaron1011 commented on #271
`DisplaceEntityEvent.Move` is now implemented.

[2016-02-28 21:14] #271 closed

[2016-02-28 21:17] Aaron1011 commented on #350
This has since been implemented.

[2016-02-28 21:17] #350 closed

[2016-02-28 21:26] Aaron1011 commented on #527
@thekeenant: I can't seem to reproduce this. Can I see the code you're using?

[2016-02-28 23:22] Aaron1011 commented on #509
The underlying problem is that while written books can use json-formatted text, the 'Book and Quill' or  writable book only supports literal, unformatted strings. There are two ways to fix this:

1. Support `PagedData` for both types of books, but serialize the plain content of each of the `Text` objects when dealing with an editable book. This has the advantage of not requiring two different `Dat

[2016-02-28 23:57] simon816 commented on #461
A blocksnapshot stores TileEntity data too though. Shouldn't it fall back to the tileentity if the data is not accepted by the blockstate? (or other way around)

[2016-02-29 00:44] Aaron1011 commented on #461
@simon816: You're right - I'll be implementing that.

[2016-02-29 04:48] thekeenant commented on #527
I lost the exact snippet that I used, but I think this was similar:

https://github.com/thekeenant/sponge-gamer/blob/master/src/main/java/net/keenant/Gamer.java

[2016-02-29 13:45] collller opened #554 "[offline server]server freeze when place of player's skull [spongeforge#1173]"
is the reason is run web connections on the main thread?

btw skull's UUID is offline UUID

[2016-02-29 15:48] viveleroi commented on #436
I'm not clear on what you're advising. How would the `GameProfile` or address tell me who's performing the pardon?

[2016-03-01 01:47] viveleroi opened #555 "Plugin annotation warns for missing name, even when it's present"
Using bleeding branch (2c82b018), I get a warning from gradle about a missing name value, yet it's there.

    warning: Missing plugin name: @Plugin(id = "prism", name = "Prism", version = "3.1")

[2016-03-01 02:24] simon816 commented on #542
I just tested setting the spawn point (overworld) and it persisted. I could see it in the NBT.
Does this still happen?

[2016-03-01 02:26] viveleroi commented on #542
I've been working with @Zidane on this and I think the real issue is that spawn isn't used an exact position by Minecraft itself, it's apparently randomly around that position. For my needs, it needs to be a exact spot.

[2016-03-01 02:29] #542 closed

[2016-03-01 02:50] simon816 commented on #542
Ahh right, that'll be the spawn 'fuzz' most likely
https://github.com/SpongePowered/SpongeCommon/blob/65f897e9c5b427578de64cbcd577b9976a9ddb21/src/main/java/org/spongepowered/common/interfaces/world/IMixinWorldType.java#L39
Maybe we could expose that in the API?

[2016-03-01 05:57] Minecrell commented on #555
Can you paste the full compile output here?

[2016-03-01 08:13] thomas15v opened #556 "The world may have leaked: seen X times!"
We encountered this message after we did this with a world.
1. unload
2. delete

MapLoader class we use: http://hastebin.com/enulamomub.java
Server logs: http://hastebin.com/sitimadufu
minecraft version: 1.8.9
SpongeAPI: 4.0.0-SNAPSHOT-05b3db
SpongeVanilla: 1.8.9-4.0.0-BETA-249.

However the server doesn't seem to be badly affected. We did a unload and delete for 10 times and let the server run fo

[2016-03-01 12:02] #555 closed

[2016-03-01 14:46] Zidane commented on #556
This is a design issue with your plugin lol.

You have several Optional<World> refs that you don't nullify when unloading a world. In all actuality, this is a poor way to store a Word. Unless the object in question is temp, Worlds should ALWAYS be stored within WeakReference.

[2016-03-01 14:46] #556 closed

[2016-03-02 15:10] jk-5 opened #557 "Changing CommandBlock successCount needs manual block update on comparator"
Example code:

    CommandBlock.offer(Keys.SUCCESS_COUNT, 5);

After calling this, you need to update the comparator manually for the redstone level to be outputted.

[2016-03-02 15:39] Rain336 commented on #557
I would say that the `TileEntitySuccessCountValueProcessor` needs a `container.markDirty()` before the return.

[2016-03-02 15:50] jk-5 commented on #557
That would mark the TileEntity for saving. Just doing one of the 5 world.blockupdate methods should suffice

[2016-03-04 00:25] DarkArc opened #560 "Inventory poll does not work with certain queries"
Given the following code:
[code]

One would expect 4 Iron Ore to be removed regardless of the number of stacks as per this documentation:
[code]

However, given an inventory which contains more than one stack of Iron ore, no action will take place.

[2016-03-04 01:12] gabizou opened #561 "[1.9.4] Data Implementation Checklist"
Opening a checklist to note of the various changes that have taken place that need to be implemented for 1.9 full functionality.
- [x] PotionData available from Tipped Arrows
- [x] PotionData available from new Potion items (Splash potions and Lingering Potions)
- [x] Potion data implementation to solely focus based on NBT stored potions or try to pre-process them through the converters
- [x] Pass

[2016-03-05 00:00] gabizou commented on #561
Encourage the `ItemStackBuilder` to pass the `NBTTagCompound` through the data fixers to update content.

[2016-03-05 01:37] gabizou commented on #492
@windy1 @Minecrell can either of you look at this?

[2016-03-05 18:52] rexbut commented on #509
It would be better to support "PagedData" for both types of books

[2016-03-06 00:12] gravityfox opened #564 "Speed up event snapshots"
Carried over from post-SoS9 conversation, there is talk of optimizing data snapshots that are passed to events.

Among the ideas discussed are:

- Lazy initialization/creation of snapshots
- Stop throwing events when no one is listening
- Using weak references and gc (probably not viable)
- caching snapshots so they don't need to be reconstructed over and over.

This is among the several major opt

[2016-03-07 16:38] Zidane commented on #551
@Minecrell

Sounds like your trying to fix a problem afflicting the 5% but affecting the 95% in the process. Configuration folders need to remain unqualified names otherwise you'll hit the NTFS filename limit pretty quickly for Windows machines.

If the situation above presents itself, that is between the admin and the two plugin developers to sort out themselves.

[2016-03-07 17:02] Minecrell commented on #551
@Zidane If using a qualified plugin ID does not ensure you don't run into conflicts we might as well return to our old convention and continue using unqualified plugin IDs where you directly notice the conflict when starting the server, not when the configurations are loaded. If you say we should not care about the 5%, then one of these options will be probably better:

- Remove qualified plugin I

[2016-03-07 17:07] Mumfrey commented on #551
To be honest this is only going to be at the same kind of dir depth as `.m2` or `.gradle/caches` so there should be plenty of headroom unless people are idiots and decide to use `ludicrously.long.qualified.name.because.fuck.the.system.ima.gon.use.all.the.packages.mofos.bwhahahahaha.they.told.me.I.couldnt.combine.sheep.dna.with.cheese.sandwiches.and.they.were.wrong`

In which case, the user frankly

[2016-03-07 17:09] windy1 commented on #551
:sheep: :+1:

[2016-03-07 17:21] windy1 commented on #551
Possible solution:

* Map the qualified IDs to config directories in a file
* Use unqualified ID if no conflict
* Use qualified ID if conflict

E.g.
[code]

[code]

[2016-03-07 17:52] Mumfrey commented on #551
:white_check_mark: more options == more flexibility
:warning: more options == confusing and unnecessary

[2016-03-07 18:06] windy1 commented on #551
@Mumfrey Hey I love scripture as much as the next Jobe but I was actually thinking we make this a hidden file.

[2016-03-07 21:41] Aaron1011 commented on #452
Closed in https://github.com/SpongePowered/SpongeAPI/commit/00a305d92cf5d82ef12e6a375072a32c2cf82ae7.

[2016-03-07 21:41] #452 closed

[2016-03-07 21:42] Aaron1011 commented on #436
@viveleroi: Ah, sorry - I thought you were asking two different questions here. I'll add a way to do that.

[2016-03-08 12:51] minecrafter opened #567 "GameProfileManager.getAllByName() produces ConcurrentModificationException"
[code]

The code that causes this is rather straightforward:

[code]

[2016-03-08 12:52] minecrafter commented on #567
Sponge version:
[code]

[2016-03-08 13:31] Minecrell commented on #551
Closing this, considering we have a 4.0 release now this was pretty much decided.

[2016-03-08 13:31] #551 closed

[2016-03-08 16:34] Aaron1011 opened #568 "GameProfileManager#get always uses the cache"
`GameProfileManager#get` ends up calling `Query#fromNames` (from `SingleGet`). Even if `useCache` is false, `Query#fromNames` just ends up calling `cache#getByNames`, which never actually performs a network query.

The result is that looking up a profile by name (and UUID) is impossible, unless it has already been looked up.

Pinging @kashike to take a look at this.

[2016-03-08 17:00] Aaron1011 commented on #567
Closed in https://github.com/SpongePowered/SpongeCommon/commit/a558930c5543479d2dddbee94e12cfd43af59028.

[2016-03-08 17:00] #567 closed

[2016-03-09 17:34] Ollie2000 opened #569 "Punctuation in chat"
So doing any type of command (for the server I play on we can use chat commands like `/s` `/g` `/l` etc for other channels for chatting) such as /s then using any of these punctuation mars - `'` `\` and `"` will give an error message and won't let you send the message; using both quotation marks will let you send the message but won't show them - http://i.imgur.com/Ou3Ug9T.png but with only one of

[2016-03-09 17:43] zml2008 commented on #569
On March 9, 2016 9:34:40 AM PST, Oliver <notifications@github.com> wrote:

This is intentional. Use backslash escapes like basically every shell ever. There might also be a raw joined string, which can be combined with lenient parsing (iirc can be set in CommandSpec) to work without having to use escapes.

[2016-03-09 18:45] Minecrell opened #570 "Asset loading is broken on Windows"
The asset manager is currently not usable on Windows due to different path separators returned by the `Path` implementation on Windows (it returns the platform-native path separators). Because of that the implementation will not find the resource because the `URL` to the resource is constructed with the platform-specific `Path` String representation.

A temporary fix would be replacing the Windows

[2016-03-09 19:16] viveleroi commented on #569
I think the crux of the issue is that in certain situations, like chat, it's not user-friendly. Players are used to vanilla chat allowing these characters without special escaping (and many need to be educated as to what escaping means) so in certain contexts we need a way to treat them normally.

[2016-03-09 19:52] windy1 commented on #570
This could probably be fixed with

[code]

No? (I don't have a Windows env to test on)

[2016-03-09 21:44] Minecrell commented on #570
Probably. I think you should only construct a Pah object when necessary as these will be always file system specific and therefore only used when actually interacting with the file system. For now it's fine but I'd replace it for later

[2016-03-09 23:47] #570 closed

[2016-03-10 03:23] DarkArc opened #571 "Spawning an item with the give command throws an exception"
[code]

[2016-03-10 03:25] #518 closed

[2016-03-10 03:26] Zidane commented on #538
API 4 should have addressed this.

[2016-03-10 03:26] #538 closed

[2016-03-10 03:27] #515 closed

[2016-03-10 03:28] Zidane commented on #472
Closing this as it is on the plugin to move the Entity to a safe spot (if they even care...)

[2016-03-10 03:28] #472 closed

[2016-03-10 03:29] Zidane commented on #546
Error with Pixelmon.

[2016-03-10 03:29] #546 closed

[2016-03-10 03:52] #571 closed

[2016-03-10 05:27] gabizou opened #572 "Move a majority of World API methods into MixinWorldServer"
As mentioned by @Zidane the other day, a majority of the API methods should only be called on by a `WorldServer` object since there are things such as `WorldClient`s and mod introduced fake worlds. The reasoning behind this is that interacting through the API in any way that provides access to a client side `WorldClient` will result in errors and or exceptions being thrown. This is just a general

[2016-03-10 15:29] Zidane commented on #572
All bits of MixinWorld can be moved to WorldServer and should be moved because we shouldn't touch non-server worlds with Sponge.

[2016-03-11 00:19] gabizou opened #575 "Workaround MAX_HEALTH limitations"
Currently, max health is unlimited in 1.8.9, however in 1.9, there's a hard limit of the max health displayed on a client. This workaround will closely tie into health scaling to a certain point.

Note in 1.9: The maximum allowed health that both the client and server will accept is 1024.

[2016-03-11 02:52] hsyyid opened #576 "DurabilityData Doesn't Seem to Work"
[Test Code] (https://github.com/NucleusPowered/Nucleus/blob/feature/command-repair/src/main/java/io/github/nucleuspowered/nucleus/commands/item/RepairCommand.java)

I was testing out `DurabilityData`, which appears to be implemented, but it doesn't appear to be working. As shown, I get the `default` value of the durability of an `itemstack` in a player's `hand`, and then set the `ITEM_DURABILITY`

[2016-03-11 03:38] kashike commented on #575
I'm pretty sure the same limit applied in 1.8.9 and earlier.

[2016-03-11 04:31] Zidane commented on #551
@Minecrell

I think I want to make one change here.

If the config is **shared root** then the config file gets the full name.

If the config is under a **non shared root** then the **folder name** is the qualified path but the config file is the unqualified ids we did before.

Ex.

[code]

[2016-03-12 03:56] gabizou commented on #550
Closing as I believe @Grinch fixed this a few days ago.

[2016-03-12 03:56] #550 closed

[2016-03-12 03:57] Zidane commented on #481
We're on 1.8.9 plus now, should be fixed now.

[2016-03-12 03:57] #481 closed

[2016-03-12 04:05] Zidane commented on #479
@Deamon5550

Is this feasible or?

[2016-03-12 04:24] Zidane commented on #353
@windy1 covered this a bit back.

[2016-03-12 04:24] #353 closed

[2016-03-12 04:24] #406 closed

[2016-03-12 04:26] Zidane commented on #330
This is a task for a plugin to do.

[2016-03-12 04:26] #330 closed

[2016-03-12 04:29] Zidane commented on #409
Pretty sure @Grinch fixed this with his last two PRs.

[2016-03-12 04:29] #409 closed

[2016-03-12 04:31] Zidane commented on #399
A plugin can change help to your liking. The sponge help menu remains standardized.

[2016-03-12 04:31] #399 closed

[2016-03-12 04:48] #338 closed

[2016-03-12 04:49] Zidane commented on #15
Resolved by zml

[2016-03-12 04:49] #15 closed

[2016-03-12 05:57] gabizou opened #577 "[1.9.4] Refactor Player movement handling"
Since player movement is drastically changed (for the better) to where not only do clients control their own movement, but they also control the vehicles they ride on for movement.

[2016-03-12 14:20] Minecrell commented on #544
@Deamon5550 Any news on this issue?

[2016-03-12 18:45] hsyyid opened #579 "Player Inventory Armor Slots Not Working"
Test Code:
[code]
[Result](https://gyazo.com/f1365ff7d5d190b1542336ba4a0c50f0)

Basically, all of the armor slots are somehow going to the boots slot.

In addition, if you try setting any of the slots 36-39, they all change the boots slot (or so it seems).

[2016-03-12 19:12] hsyyid opened #580 "Error with S2FPacketSetSlot"
[Result] (https://gyazo.com/7dc71de836244e6c19d4124fb92b107d)

No errors are logged in console.

[code]

[Console Output] (http://pastebin.com/dHx4avXa)

[2016-03-12 22:01] SocraticPhoenix opened #581 "LaunchProjectetile, Item Dropping, and Entities spawned by command do not follow new SpawnCause conventions"
Simply put, calling the method "launchProjectile," dropping an item with 'q' or using the /summon Command throw errors that say that the root Cause must be a spawn cause. I'm not sure if this is coming in #502, but I couldn't find an issue, so here you go.

Edit:
Not sure if it's helpful, but the /summon and q actions still complete (the item is dropped, or the entity is summoned), but launchProje

[2016-03-13 04:41] DarkArc opened #584 "Zombie Reinforcements get categorized as "DROPPED_ITEM""
Zombie Reinforcements when spawned are categorized as DROPPED_ITEM rather than something more applicable like PASSIVE, or their own type.

[2016-03-13 05:20] DarkArc opened #585 "spawnEntity ignores the SpawnCause"
Spawning an entity using the following code with result in the corresponding event's Spawn Cause object having a SpawnType of CUSTOM, instead of the expected PLUGIN SpawnType.
[code]

[2016-03-13 07:55] Minecrell commented on #569
The [`RemainingJoinedStringsCommandElement`](https://github.com/SpongePowered/SpongeAPI/blob/master/src/main/java/org/spongepowered/api/command/args/GenericArguments.java#L823-L864) seems to support a `raw` option, although from what I can tell there is no way to set it currently.

[2016-03-13 07:57] #437 closed

[2016-03-13 10:27] me4502 opened #586 "Use FastUtil rather than Trove for more memory efficient collections and maps."
Whilst Trove has been around for a while, it isn't as actively developed anymore. FastUtil is much more recent, and actively developed.

On top of this, Trove doesn't hold up in terms of performance compared to more modern libraries. Here's an example of a benchmark that pits numerous libraries together,

http://java-performance.info/hashmap-overview-jdk-fastutil-goldman-sachs-hppc-koloboke-trove-

[2016-03-13 10:36] me4502 commented on #586
Koloboke is looking to be a better option, as the FastUtil jar is 17mb.

[2016-03-13 17:07] Zidane commented on #586
@amaranth

Your thoughts on this?

[2016-03-13 17:16] Minecrell commented on #586
Koloboke's full JAR is even bigger (about 18 MB), so if we'd choose one of them we'd need to filter the unused classes out before shading, because that would be way to big to shade completely.

[2016-03-13 18:31] viveleroi commented on #544
I'm pretty sure this applies to other mobs. For quite some time my players have been complaining that wither skeletons, blazes, etc do not spawn either at all, or so rarely it's impossible to tell the difference. We've seen this on a server without any custom plugins too.

[2016-03-13 18:51] #544 closed

[2016-03-13 22:10] #576 closed

[2016-03-13 22:56] #554 closed

[2016-03-14 00:47] Zidane commented on #418
@Grinch tested both of these issues and wasn't able to reproduce this. Reopen if still an issue.

[2016-03-14 00:47] #418 closed

[2016-03-14 04:34] clucky opened #588 "Issue with Data Keys.INVISIBILITY"
I'm encountering an issue when offering the following data to an ArmorStand Entity that I created within my plugin:
-  Keys.INVISIBLE: true
-  Keys.CUSTOM_NAME_VISIBLE: true
-  Keys.DISPLAY_NAME: ████████████████

The issue is that the name is not visible. In fact, I can't even change the armor stand to not be invisible using the Minecraft /entitydata command, nor does manually changing CustomName

[2016-03-14 04:45] clucky commented on #588
I've created a gist highlighting my code, for relevance. Note: this is not a complete class file, so there may be some methods/fields missing, but I attempted to include all relevant ones.

https://gist.github.com/clucky/51e5c946844452051d2d

[2016-03-14 05:33] clucky commented on #588
It is appearing that Keys.INVISIBLE is creating complete invisibility. Upon spawning of the invisible entity, there is no increase on the Entity counter in f3, even though the entity does exist on the server (/kill @e displays death message for ArmorStand).

[2016-03-14 20:41] modwizcode commented on #588
This is rather strange, I will look into this and see what I can dig up.

[2016-03-15 15:52] viveleroi opened #589 "Teleported dragon eggs do not have Player as cause"
In SpongeForge 1208, I have a use case where I need to invalid the block change when a player punches a dragon egg (zone permissions stuff). For the original block, it works. However, the "new" block  doesn't seem to have the Player as a cause, so I am unable to properly check that player's permission. This allows duping the block.

For my use case, I'm cancelling the primary click -  but it would

[2016-03-15 17:30] modwizcode commented on #588
Ok I've found the issue, I need some comments about how to handle this though. Basically the problem is that invisibility has two components. There's "invisibility" which is a property of an entity, and "vanished" which is a component of Sponge.

Minecraft uses invisibility to handle entities that are marked invisibile, which are still sent to the client, just marked with a flag so the game doesn'

[2016-03-15 17:36] clucky commented on #588
My thought would be to have the functionality of Keys.INVISIBLE to serve the purpose of the Minecraft NBT Invisible data, and then have methods `setVanished()` and `isVanished()` for entities, which would provide the Sponge packet filtering. When I think of the DataApi, I think of actually accessing the Minecraft NBT, not Sponge methods.

[2016-03-15 19:57] minecrafter opened #590 "Placing a skull block down disregards the skull's position and outputs an error"
When I place a skull block down, it disregards the skull's position (it faces west) and outputs an error.

Sponge version:
[code]

The error:

[code]

[2016-03-15 20:09] #590 closed

[2016-03-15 20:48] #579 closed

[2016-03-16 00:08] DarkArc commented on #420
This is back.

[2016-03-16 09:25] ryantheleach commented on #588
DataAPI is available for custom features by plugins and mods as well, I don't see why sponge should be singled out as not being allowed to have data.

I agree however that the naming for vanishing is confusing, and should be a separate key/value to invisibility.

[2016-03-16 12:05] modwizcode commented on #588
I can implement another key for this. Another thing to consider is the fact that setting invisibility currently automatically seems to activate unbreakable and disable hitbox, unless they are previously set. However, that functionality seems unexpected especially as I can't see any documentation on the API or docs informing the difference.

[2016-03-16 23:47] zml2008 opened #592 "Let users know about /page next and /page prev commands in paginations"
Perhaps with a notice on the first page (but not later pages to reduce noise)

Users should have the option to disable this as well (though that's not super important)

Another thought:
[code]

[2016-03-16 23:51] turtledude01 opened #593 ""/page <number>" should give the specified page"
When doing /page <number> the sub command does not exist, but should show the user the page they specify.

[2016-03-17 00:00] kenzierocks commented on #593
`/page page <number>`

[2016-03-17 00:01] turtledude01 commented on #593
That seems like a really redundant command, but i guess with how Sponge handles sub commands, your stuck with doing it that way, right?

[2016-03-17 05:26] VcSaJen commented on #593
Help for /page shows:
`/page <pagination-id> next|previous|page`
Which is implies that pagination-UUID is non-optional, while it can be omitted. I don't know what's up with that.

P.S. On unrelated note, I think it would be helpful if page number below paginated list would link to onClick 'suggest_command' `/page page ` (or `/page `, if it will be changed)

[2016-03-17 21:03] DarkArc opened #595 "Explosions made with the explosion builder are "CUSTOM" damage type"
Explosions made with the explosion builder are set to the "CUSTOM" damage type, rather than being set to the more reasonable "EXPLOSIVE" damage type.

[2016-03-17 21:08] DarkArc commented on #592
I actually think the pagination stuff should use fixed page numbers for it's forward and back arrows. It's kind of weird when you get multiple pagination views up. For instance, if you've moved to page three, then click on page one's right arrow, you end up at page four instead of page two, which is what you might expect.

[2016-03-18 03:05] gabizou opened #597 "Rewrite SpongeUser serialization to use Sponge related Compounds"
SpongeUser currently duplicates how Forge saves bed spawns per world, which isn't going to work going towards the future versions of Minecraft. This needs to be converted during the 1.8.9 support phase and continue with 1.9.

[2016-03-18 10:08] theboomer opened #598 "Incomplete information in EntitySpawnEvent to distinguish.."
See image attached for event.toString() printouts for events involving spawning tests involving Silverfish and Spiders as just two examples.

It seems that naturally-spawning mobs appearing at night, etc, will appear different only in that the spongetype is WorldSpawner (and they are .Spawner subevents).  But spawned via the speckled eggs, or the flaming mobspawner cubes, there is no distinction.

[2016-03-18 13:52] ryantheleach commented on #598
For what it's worth I think it's possible that the positions recorded are those positions in minecraft. the positions that silverfish from eggs are spawned where the player interacts with a block. but the flame cube positions are based on random ranges which could be the reason for seeing the differences in position.

[2016-03-18 15:08] Feeliiix commented on #588
What's about adding a Keys.VANISHED and modify the current Keys.INVISIBLE

[2016-03-18 15:22] modwizcode commented on #588
That was exactly my plan. Working on it now.
On Mar 18, 2016 10:08 AM, "Felix K." <notifications@github.com> wrote:

[2016-03-19 02:39] gabizou commented on #588
I haven't had a chance to carefully reply to this issue until now.

A few things to state:

- `Keys.INVISIBLE` is meant to render the entity completely invisible. Completely invisible such that packets are not sent to players for the invisible entity, sounds are not played, particles aren't spawned, etc. The reasoning why it calls the internal `setInvisible(boolean)` is to maintain compatibility w

[2016-03-19 02:39] #588 closed

[2016-03-19 03:08] kashike commented on #588
API issue: https://github.com/SpongePowered/SpongeAPI/issues/1151

[2016-03-19 03:09] simon816 commented on #588
I would just like to point out that complete invisibility was never the intention of InvisibilityData. I can only assume that at some point the definition was changed (not in writing? I don't remember this)
Before the data API it was simply a boolean render toggle
https://github.com/SpongePowered/SpongeAPI/blob/2046c95cb1fb689133f9bd7f2d110cce112d5546/src/main/java/org/spongepowered/api/entity/liv

[2016-03-19 03:10] gabizou commented on #588
@simon816 refer to the API issue.

[2016-03-19 04:17] theboomer commented on #598
It might also turn out that the CAUSE for the "EntityConstructEvent" and sub-events might be the more useful - as those events are single-entity pre-spawn and cancellable easily, instead of getting an event with 17 spawn-events in it, and having to flip through each of them to test the coordinate precision, and removing that one transaction from the list if need be.  The EntityConstructEvent might

[2016-03-19 04:50] gabizou commented on #598
Currently, the system is somewhat functional for the basics, but nonfunctional beyond what it was designed for. I can assure you that when #502 is merged, it'll have much cleaner implementation/usage than currently available. I'll take a look at possibly cleaning up the current implementation, unless @Zidane wishes the refactor to get merged sooner than later.

[2016-03-19 05:14] TheRaspPie commented on #34
@JBYoshi
- you can't easily see which world requires which plugin, which is bad for transparency
- you shouldn't mix the concerns of when to load a world with the actual content of it
- personally, I think it's ugly if you have a server writing any data other than Vanilla to a world folder

[2016-03-19 05:37] TheRaspPie commented on #536
I think it's somehow a bug when you have something like this because I don't think someone would intentionally recurse until a stack overflow happens.
Small recursions into events could be useful though, however I do not have any use cases at the moment. If it turns out to be always an error to recurse into events we could add something like a cycle detection. The question then is if the overhead

[2016-03-19 14:45] ryantheleach commented on #116
Should this be closed? Sponge has moved significantly since this was first created, and originally I believe I was confused at why SpongeVanilla and SpongeForge didn't have matching configuration directories, the rest was just me being confused at the data layout vs the other platforms.

[2016-03-19 14:51] ryantheleach commented on #536
CollideEvent.Impact is for the moment when the snowball actually collides with the block/entity the rest of the collide events are for checking whether the collision should go ahead or not, triggering an explosion (and thus more collisions as the damage is checked (explosions collide with the entities they are damaging)) with the cause still set to the snowball (because really, the explosion is ca

[2016-03-19 16:20] JBYoshi commented on #536
I think I found the problem. When the explosion is triggered, it looks for all the entities within its range, and when doing that, Sponge sends another `CollideEntityEvent`.

https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/mixin/core/world/MixinChunk.java#L387

[2016-03-19 16:22] gabizou commented on #116
@ryantheleach Well, the question I believe is: is this still an issue where the directories aren't matching up?

[2016-03-19 17:59] DarkArc opened #601 "WorldGen causes server crash"
[code]

[2016-03-19 18:39] Minecrell commented on #601
Caused by https://github.com/SpongePowered/SpongeCommon/commit/fce3f106f722bc2a695e769befc8c0d51529efa9 although I have no idea why that error is happening

[2016-03-19 19:03] #601 closed

[2016-03-20 20:25] DarkArc commented on #575
This seems to apply to 1.8.9, I'm fairly certain that it wasn't in 1.7, can't attest for 1.8. Very strange modification, I wonder what the reason for the change was.

[2016-03-20 22:10] gravityfox commented on #581
Can confirm with @Aaron1011.

[2016-03-20 22:53] DarkArc opened #602 "Click Interact Inventory Event triggers IndexOutOfBoundsException"
[code]

[2016-03-20 23:51] DarkArc opened #603 "Offering a player no health doesn't result in the normal death sequence"
I have a minigame where I use the Data API to set a player's health to 0.

If I kill the player using the "/kill" command, I see a death message, and things proceed as I expect. If I kill them via setting their health to 0 via offering them the health key (ex ```.offer(Keys.HEALTH, 0D);```) they just respawn with their inventory items in tact, and no death message appears.

[2016-03-21 05:51] me4502 opened #604 "Issues with gradle dependencies on the SpongePowered repo."
As of a few days ago, I am receiving a 403 error when gradle attempts to download any dependencies used in the latest master from the SpongePowered repo. This has been reproduced on multiple computers, using multiple different internet connections. One of them being a Uni computer that re-images itself on restart.

Before a few days ago I was running on this commit, https://github.com/SpongePowere

[2016-03-21 16:15] Minecrell commented on #604
Until recently (since https://github.com/SpongePowered/SpongeAPI/commit/0d59212ceb22d0ec1b3c34c39011e00bd68aa6a5) the Gradle builds used to not warn when duplicate elements are included in the JAR but rather just include all of them. This can easily cause issues at runtime, therefore it will now fail already at compile time. However, with the current configuration you should never run into duplica

[2016-03-21 18:53] #457 closed

[2016-03-21 18:57] #560 closed

[2016-03-21 22:46] me4502 commented on #604
Grade wrapper included in Sponge

[2016-03-22 12:55] modwizcode commented on #603
Are you considering this a bug? This is the current processing that happens https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/data/processor/multi/entity/HealthDataProcessor.java#L67-L69

[2016-03-22 12:57] modwizcode commented on #603
Sorry that's when using the `HealthData` `DataManipulator`, compared to using the value `https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/data/processor/value/entity/HealthValueProcessor.java`, it just sets the health, not calling an onDeath. I would say this is an oversight unless @gabizou has another opinion.

[2016-03-22 13:01] modwizcode commented on #602
What container? Are any mods installed? I thought this issue was resolved.

[2016-03-22 16:07] DarkArc commented on #602
I don't know, appeared in my log.

[2016-03-22 16:09] modwizcode commented on #602
Mods and or plugins installed?

[2016-03-22 16:15] DarkArc commented on #602
WorldEdit, PermissionsEx, and a couple I wrote that you've probably never heard of. Regardless, nice of them are going to be sending invalid packets, which appears to be what the issue is here.

[2016-03-22 16:23] modwizcode commented on #602
Client mods are usually the problem. I will investigate further when I get
home this issue was recently seen and addressed I assume it was inadequate
or this is a similar one.
On Mar 22, 2016 11:15 AM, "Wyatt Childers" <notifications@github.com> wrote:

[2016-03-22 16:28] DarkArc commented on #602
This is probably just a case where we need to assume the packet should be ignored if it's outside of the parameters of what we expect.

[2016-03-22 17:00] modwizcode commented on #602
Yeah but it could he a calculation error somewhere. Give me time to get
home from school and look.

[2016-03-22 20:03] ryantheleach commented on #603
It's surprising that the respawn code fires when setting the health to 0, but death doesn't happen.

That said, people have wanted a way for people to die without showing the respawn gui, this just feels like a clunky way to do it.

[2016-03-22 20:05] modwizcode commented on #603
Maybe a 0 health set by plugins should be invalid and have killing players
happen by another method. That way the respawn cause is modifiable and
relevant.

[2016-03-22 20:12] DarkArc commented on #603
@ryantheleach The GUI is still shown... Item dropping, and the death events are what seem to be absent.

@modwizcode No I don't think that's a good solution at all. Then any kind of forced health change code that might kill someone has to handle ``` if newHeath == 0 { kill(); } else { ... } ```, and that's just annoying.

[2016-03-22 20:19] ryantheleach commented on #603
The least surprising action to happen when setting health to 0 is for the player to die normally.

[2016-03-22 20:20] modwizcode commented on #603
Yes in that case probably going with the least surprising behavior will be
best.

[2016-03-23 00:41] TheRaspPie commented on #564
If we aren't creating the events in the first place if nobody listens to them, we could avoid a lot of object creation. Although the implementation will probably be very tedious...

[2016-03-23 13:18] modwizcode commented on #602
No calculation error that I can see. The `MixinContainer` is just assuming all passed in data is valid. I can fix this in like 5 hours or someone else can address it.

[2016-03-23 20:31] vorburger opened #607 "minecraft.util.ReportedException: Exception while updating neighbours at CauseTracker.notifyBlockOfStateChange Caused by: java.util.NoSuchElementException: No value present at java.util.Optional.get()"
I've hit the exception below in https://github.com/vorburger/SwissKnightMinecraft/blob/633baf583981829c2ddd25a00c686fffa3191893/SpongePowered/MyFirstSpongePlugIn/src/main/java/ch/vorburger/minecraft/logo/UndoableTurtle.xtend

In https://github.com/SpongePowered/SpongeCommon/blob/0b269ba28274632f46a81f340fb4702dba4786a1/src/main/java/org/spongepowered/common/event/CauseTracker.java#L1105 I can see

[2016-03-23 20:34] kenzierocks commented on #607
You should not be setting blocks off of the server thread, MC isn't thread safe.

[2016-03-23 21:41] vorburger opened #608 "Automated detection of World etc. objects from non-Server thread, and rejection with "invalid thread access exception""
Based on my learning in https://github.com/SpongePowered/SpongeCommon/issues/607, and fully understanding https://docs.spongepowered.org/master/en-GB/plugin/scheduler.html, just as a suggestion for a future enhancement:

How about Sponge would automatically detect when a plugin accesses World etc. objects from any non-Server thread, and reject that with some sort of "invalid thread access exceptio

[2016-03-23 21:42] vorburger commented on #607
@kenzierocks thank you. I' just looked around further, and found https://docs.spongepowered.org/master/en-GB/plugin/scheduler.html - presumably that is this the appropriate API in Sponge to "submit something to be done on the 'Server thread' whenever it can next" which I was looking for, like [SWT's Display asyncE‌xec](https://wiki.eclipse.org/FAQ_Why_do_I_get_an_invalid_thread_access_exception%3F

[2016-03-23 21:42] #607 closed

[2016-03-24 04:07] ewized commented on #608
An exception will be bad as there are times that one can safely access the world on a different thread.

[2016-03-24 07:36] kashike commented on #608
:-1: As what @ewized said above. I wouldn't call this "handy" at all, I'd call it annoying.

[2016-03-24 08:48] Deamon5550 commented on #608
We could have it behind a default false flag as something to enable if you think you are accidently accessing the world from off thread somewhere. We wouldn't want it enabled by default for the reasons above and just plain performance.

[2016-03-24 09:19] gabizou commented on #608
@Deamon5550 I think it'll be better to have it as a pure mixin plugin toggle, because almost all the world methods really don't need an extra if check that is a basic world configuration check. I feel something like this should be all or nothing. Not in between.

An additional thing is that most of the World API related methods should only apply to `WorldServer`, which coincidentally is applicable

[2016-03-24 13:46] Cybermaxke opened #609 "SpongeContextCalculator#matches will always fail for dimension contexts."
There is a check in `SpongeContextCalculator` that prevent the dimension context to be compared,
removing `context.getType().equals(Context.WORLD_KEY)` from line 103 should fix this.
https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/service/permission/SpongeContextCalculator.java#L103

[2016-03-24 15:06] Deamon5550 commented on #608
@gabizou A mixin plugin is what I meant when I said a flag. (is there any other way heh)

[2016-03-25 22:47] #471 closed

[2016-03-26 21:04] Cybermaxke opened #611 "WorldBorder.ChunkPreGenerate does not populate the chunks."
Using the ChunkPreGenerate task does not populate any chunks, the thread that is relevant to this issue can be found [here](https://forums.spongepowered.org/t/chunk-pregeneration-utility/12002).

The source of the issue is that the ChunkPreGenerate task the chunks generates one by one and unloads them directly afterwards, but in order to be able to populate the chunks should the surrounding chunks

[2016-03-26 21:53] Zidane commented on #604
I am now hitting this issue too with a fresh Windows install and simply trying to compile. It isn't an issue on our end.

I want this fixed ASAP @Minecrell

[2016-03-26 22:08] Zidane commented on #604
Further testing shows that @Minecrell didn't correctly test this commit.

If I revert the following: https://github.com/SpongePowered/SpongeAPI/commit/0d59212ceb22d0ec1b3c34c39011e00bd68aa6a5 and run either gradle or gradlew and let that finish and THEN restore @Minecrell 's commit, all works well.

[2016-03-26 22:16] Zidane commented on #604
Scratch the last comment, it fails after the tests too with the same problem as @me4502 's original post.

[2016-03-26 22:20] Minecrell commented on #604
Reverting that commit doesn't fix the underlying problem, that somehow the classes get included twice in the JARs on your PCs, which will result in potentially malfunctioning JARs. I'm not sure why this is happening only on your PCs, however, simply reverting that commit is definitely not the way to fix it.

[2016-03-26 22:38] Zidane commented on #604
@Minecrell

Yet reverting that commit allows me to compile and run the server without an issue. I understand the spirit of the commit but its hard for me to accept it when MY setup doesn't work from scratch when I've changed literally nothing for the last year and a half.

[2016-03-27 07:47] Minecrell commented on #604
@Zidane Then simply change the `FAIL` I added to `EXCLUDE` for now, I'll try to fix it properly once I'm back at home.

[2016-03-27 10:37] VcSaJen opened #612 "Can't set Dispenser and Dropper to Direction.UP and DOWN, can't set special rails to any RailDirection."
I can't set Dispenser and Dropper to Direction.UP and DOWN, and can't set special rails to any RailDirection. I'm testing it with this code:
[code]
Problem is that `.with` return Optional.empty() or BlockState with default Value of Key.

Tested on SpongeForge 1.8.9-1763-4.1.0-BETA-1225 and SpongeVanilla 1.8.9-4.1.0-BETA-281.

[2016-03-27 14:21] Aaron1011 commented on #612
@VcSaJen: I've fixed the issue with dispensers and droppers in https://github.com/SpongePowered/SpongeCommon/commit/470fa428a2dd1961deeff30cb26e8c59f9d814a1. You can download the latest SpongeForge to get those fixes.

After investigating the rail direction issue, I've discovered that it's not actually possible to set (at least for now). No matter what state you set, `BlockRailBase` always forces

[2016-03-27 14:21] #612 closed

[2016-03-27 15:34] viveleroi commented on #602
We get a similar issue, which I assume is the exact same one, but it crashes us roughly once a day:

[code]

[2016-03-28 11:06] Cybermaxke commented on #611
@DDoS It seems like the issue is not completely resolved, only parts of the region are being populated.
http://imgur.com/B0Sro90

[2016-03-28 14:01] DDoS commented on #611
I'll try keeping more loaded, let me known if that works.

[2016-03-28 15:55] randombyte-developer commented on #8
I wanted to use TargetedLocationData, read the list of this issue and saw that TargetedLocationData isn't done. So I waited and waited, nothing happened. Today I wanted to implement it myself and saw [this PR](https://github.com/SpongePowered/SpongeCommon/pull/485).
TargetedLocationData should be ticked in the list above.

[2016-03-28 16:04] kashike commented on #8
@gabizou This list needs updating whenever you get time :)

[2016-03-29 00:52] DarkArc commented on #585
@gabizou I'm still seeing CUSTOM

[2016-03-29 01:34] modwizcode commented on #420
I'll look into this

[2016-03-29 01:43] modwizcode commented on #581
Taking a look

[2016-03-29 05:03] modwizcode commented on #581
This is caused by [ProjectileLauncher](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/entity/projectile/ProjectileLauncher.java) creating the causes wrong. Instead of using a SpawnCause, it creates a named cause with the entity as the root source. There are many ways to patch this, but @gabizou I would like to know what you think is the best soluti

[2016-03-29 07:07] Deamon5550 opened #617 "World corruption from scoreboards error"
While working with scoreboards I caused an error and upon restarting the server found that it now crashed while loading the scoreboard data. I boiled it down to the following code which while evidently is wrong should not be corrupting the world.

[code]
Which causes the error
[code]
Here is the resultant scoreboard.dat file which will fail to load.

![scoreboards.dat](http://puu.sh/nXUbW/431db671

[2016-03-29 19:10] MichaelFedora opened #618 "Player.getKeys() is unimplemented"
I was trying to get the keys/values of a player (i.e. CAN_FLY, IS_FLYING), but apparently it's not implemented.
[code]

[2016-03-29 19:20] #617 closed

[2016-03-29 19:54] Zidane commented on #617
@Aaron1011

Damn kids.

[2016-03-29 19:55] mcsnetworks commented on #617
He did it for the lulz.

[2016-03-29 23:05] modwizcode commented on #581
Going to leave this to https://github.com/SpongePowered/SpongeCommon/pull/502 or at least until that is done. Since there are massive changes there.

[2016-03-30 00:40] #618 closed

[2016-03-31 06:35] gabizou opened #621 "Optimization Mixin Plugins"
Throughout #502's development, I've found many areas where I thought "this could be optimized to reduce the amount of entity spawns," or "this type of system can reduce the stress of chunk loads." A few of these optimizations have started making their way into the implementation as Mixin plugins, an example being #566 where some changes in the server performance can be less noticeable.

Ultimately

[2016-03-31 11:07] kashike commented on #621
:+1: for using mixin plugins instead of including in core - some optimisations/changes, such as merging itemstacks, are unwanted quite often, so being able to enable/disable each optimisation/change is a huge plus.

[2016-03-31 15:17] mcsnetworks commented on #621
Crop growth....

[2016-03-31 15:23] mcsnetworks commented on #621
Also, blood had a function within Cauldron that TE's would skip ticks if a player wasn't near.  This can have a bad effect on a mod but a good effect on the servers performance.

[2016-03-31 15:23] mcsnetworks commented on #621
Limiting Chunks Generated per tick helps servers with complex map generation (aka TerrainControl).

[2016-03-31 15:42] Deamon5550 commented on #621
- The fix for end spikes
- If we didn't fix the chunk loading from file twice in core we could do that here

[2016-03-31 17:51] Zidane commented on #621
@Aikar
This seems to be right up your alley...I know you gave us full permission to use your commits to Paper.

Are there any that you would recommend we do "right away"?

Also pinging @amaranth since he had ideas as well (beyond wall time).

[2016-04-01 00:33] aikar commented on #621
https://github.com/PaperMC/Paper/blob/dea2d41b86e2a749251e12dd33439a08e9622dba/Spigot-Server-Patches/0105-Optimize-Chunk-Access.patch
https://github.com/PaperMC/Paper/blob/dea2d41b86e2a749251e12dd33439a08e9622dba/Spigot-Server-Patches/0082-Chunk-save-queue-improvements.patch
https://github.com/PaperMC/Paper/blob/dea2d41b86e2a749251e12dd33439a08e9622dba/Spigot-Server-Patches/0100-Optimize-Chunk-Unl

[2016-04-01 01:17] me4502 commented on #621
The patch that optimises isValidLocation for inlining... Does that really make a measurable difference?

[2016-04-01 02:38] Flibio opened #622 "Command usage does not display sub command arguments"
Command arguments for sub-commands do not display at all in the help message when a user types in a sub-command without the required arguments. A detailed explanation can be found below.

Command `/main` has a sub-command `set`. The sub-command `set` has a required argument, called `arg1`. Running `/main set`, without submitting the required argument, displays an unhelpful usage message: `Usage: /

[2016-04-01 03:10] ZephireNZ commented on #622
Can you show your code for the relevant `CommandSpec`s?

[2016-04-01 04:25] aikar commented on #621
@me4502 it's showing up in profilers as a hotspot, meaning it's not inlined. It's one of the most hottest methods called. It's a micro optimization, but at scale, it adds up. Lot of the performance comes by multiple micro optimizations in combination together.

[2016-04-01 04:42] aikar commented on #621
updated chunk access patch to https://github.com/PaperMC/Paper/blob/081420d738fffe256fd18aa57dfe762be356493d/Spigot-Server-Patches/0105-Optimize-Chunk-Access.patch

noted by amaranth that previous version where invalidation was handled manually at caller would be an issue for mods that may mess with the map themselves., so moved the invalidation to be an overloaded .remove()

[2016-04-01 10:10] dualspiral commented on #622
I think this is actually an API issue, so should be filed there.

To explain: the issue isn't anything to do with the specific `CommandSpec` @Flibio wrote, so it would be unnecessary to see his code. I see it too with the child commands I've been writing. It's to do with what happens when parsing arguments on child commands built up by a `CommandSpec` throw an exception. Specifically, if [this lin

[2016-04-01 11:35] Flibio commented on #622
Moved to https://github.com/SpongePowered/SpongeCommon/issues/622

[2016-04-01 11:36] #622 closed

[2016-04-01 15:05] Zidane commented on #621
@aikar

Thanks for the links. This is actually pretty simple to put into place with Mixin's capabilities. The bigger challenge is making sure that what we do doesn't break mods (though SpongeVanilla has full reign to do as it pleases).

[2016-04-01 19:32] kashike commented on #621
A few of the patches @aikar linked might be good being PR'd to Forge instead.

[2016-04-01 19:34] gabizou commented on #621
@kashike sure, but you're still leaving out SpongeVanilla.

[2016-04-01 19:57] RobertHerhold commented on #362
@gabizou I believe I've run into this issue again (assuming my data implementation is correct). [This](https://gist.github.com/RobertHerhold/f67023d9e1a5616f1c82b97f1633c5c6) is what I've been working with.

[2016-04-01 20:03] kashike commented on #621
no, I'm not. I'm saying to PR to Forge instead of SC/SF, and add to SV separately.

[2016-04-01 20:14] gabizou commented on #362
@RobertHerhold You're not adding the `DataManipulator` to the builder. The builder does not know how to add custom manipulators from keys.

[2016-04-02 02:55] DarkArc opened #624 "ItemStacks should be constructable with a -1 size"
The ItemStack builder doesn't currently allow an item stack to be created with a size of -1:
https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/item/inventory/SpongeItemStackBuilder.java#L86

However, some portions of the Inventory API need ItemStack's with a size of -1 to function properly:
https://github.com/SpongePowered/SpongeAPI/blob/master/src/ma

[2016-04-02 04:10] DarkArc opened #626 "Interact at 0, 0, 0 when right clicking water"
I recently got some reports of strange "block interaction denials" on my server. Upon adding some debug code, it appears that right clicking water (with an empty bucket in hand) includes a block interact at 0, 0, 0.

This may be related to:
https://github.com/SpongePowered/SpongeForge/issues/260

Screen shot of debug output provided by one user:
https://screencloud.net/v/pLJu

Code used to produce

[2016-04-02 04:42] DarkArc opened #627 "Normal zombies are spawning in the nether"
Normal zombies are spawning in the nether, presumably from the Zombie reinforcement code.

[2016-04-02 07:17] gabizou opened #628 "ItemStackBuilder with keyValues does not work"
Long story short, if you try to use vanilla supported values, the keyed values do not get applied correctly.

I can fix this in the morning.

[2016-04-03 02:22] DarkArc opened #629 "Water buckets are created even when BlockChange events are cancelled"
If a player attempts to fill a bucket, and the corresponding BlockChangeEvent on the water, is cancelled, the block will not change, however, the player's bucket will still be filled with water.

[2016-04-03 07:20] bloodmc commented on #626
This has been brought up many times. If a player does not select a block(water cannot be selected) and right-clicks in AIR, the C08PacketPlayerBlockPlacement will use its default BlockPos of (-1, -1, -1) which is not in the accepted range of

(-30000000, 0, -30000000) to (29999999, 255, 29999999)

To workaround this, Forge passes the location 0, 0, 0 with action type of AIR as seen here

https://g

[2016-04-03 07:31] bloodmc commented on #627
Did you test with no plugins or mods and with a fresh world? List exact build you were using and whether it was client or server.

[2016-04-03 12:29] modwizcode commented on #627
I just tested with no plugins, no mods and a clean world from the latest build. I cannot reproduce this issue in any form.

[2016-04-03 17:30] DarkArc commented on #627
Ah, I should've specified, this Nether world is not the Nether world generated by the server by default. It's a created nether world using the API:
[code]

As for the build info:
[code]

[2016-04-03 17:40] DarkArc commented on #626
Well we convert their interact event into our interact event, correct?

So, why can't we safely have a "UntargetedInteractEvent", w/ "UntargetedInteractEvent.Primary" and "UntargetedInteractEvent.Secondary" or something of that sort, when we get the special case, we instead use those, that way the InteractBlockEvent always has a valid block target?

Since the block's invalid anyways, it's not like

[2016-04-03 17:46] Minecrell commented on #604
Tried to reproduce this, but it none of the problems mentioned here happened for me when I built the project on a clean installation of Windows 10.

[2016-04-04 10:18] VcSaJen opened #632 "SECONDARY interact event isn't fired for ArmorStand"
https://forums.spongepowered.org/t/how-to-deny-interact-with-armorstands/11845
https://forums.spongepowered.org/t/armorstand-interact-does-fire-any-event/11909

When clicking on ArmorStand, Primary event is fired normally, but no events is fired for Secondary.

Tested on SpongeForge and SpongeVanilla 4.1.0-BETA-285

[2016-04-04 12:04] modwizcode commented on #627
I will investigate this after classes today.

[2016-04-04 15:17] #632 closed

[2016-04-04 15:27] randombyte-developer opened #633 "setBlock() LIT_REDSTONE_LAMP doesn't work"
Location#setBlockType(BlockTypes.LIT_REDSTONE_LAMP) doesn't work. It instead places an unlit lamp. The bug can be reproduced by the setBlock command ingame. https://bugs.mojang.com/browse/MC-46649 states that this behavior is intended.
Sponge should do the right thing: Forcefully place a lit lamp!

https://github.com/randombyte-developer/street-lights/blob/693a89418a11686fdb07c866bda3125f1451e1ba/

[2016-04-04 15:31] Deamon5550 commented on #633
It would become unlit again as soon as it receives a block update.

[2016-04-04 15:33] randombyte-developer commented on #633
How to prevent this?

[2016-04-04 16:59] ryantheleach commented on #633
Cancel change block events that change it from lit to unlit?

[2016-04-04 21:04] gabizou commented on #633
You have to set it with [`#setBlock(int x, int y, int z, BlockState block, boolean notifyNeighbors)`](https://github.com/SpongePowered/SpongeAPI/blob/master/src/main/java/org/spongepowered/api/world/extent/Extent.java#L117-L128). This should effectively set the redstone lamp without notifications.

[2016-04-04 21:04] #633 closed

[2016-04-05 13:05] salmjak opened #635 "Pixelmon Saving entity NBT NullReference crash"
I posted about this on the forum. Know when I have a better idea about what's going on I decide to post it here:

https://forums.spongepowered.org/t/pixelmon-saving-entity-nbt-server-crash/12153

This might have nothing to do with Sponges SnapShotBuilder, but it would be nice if someone could take a look.

[2016-04-05 14:40] randombyte-developer commented on #633
Sorry, but changing it with [this commit](https://github.com/randombyte-developer/street-lights/commit/f367ba2533ffd9efc076889062b568fd806cc557) doesn't help. Even with `notifyNeighbors = false` it doesn't work(but this is as I assume only for the neighbor blocks as the name says).

[2016-04-05 15:19] simon816 commented on #635
Looks like an issue with pixelmon, report it to them.

[2016-04-05 19:08] Aaron1011 commented on #633
@randombyte-developer: Are you cancelling changes to the block (e.g. from lit to unlit)?

[2016-04-06 00:11] Wolfizen opened #637 "A DataQuery part containing "." is expanded incorrectly when deserializing data"
**SpongeForge version:** 1.8.9-1808-4.1.0-BETA-1237
**Forge version:** 1.8.9-11.15.1.1808
**Plugins installed:** My personal WIP plugin
**Logs:** N/A

My plugin id is `net.my.plugin` as recommended by the code style. For any custom `Key`s, I use a query like `DataQuery.of("net.my.plugin_MyData")`. I use the query when converting my `DataManipulator` to a `DataContainer`. However, when my manipulat

[2016-04-06 00:14] modwizcode commented on #637
This is one of a few uses of `asString('.')` that causes a '.' separated query from behaving as expected. https://github.com/SpongePowered/SpongeCommon/blob/ce903298ff8293513495c865509e2af5b0fc1239/src/main/java/org/spongepowered/common/data/persistence/NbtTranslator.java#L83

[2016-04-06 10:06] randombyte-developer commented on #633
No, not yet. How could I do that? Giving a cause to the setBlock and cancel all other change events to lamps instead of my own setBlock?

[2016-04-06 11:58] ryantheleach opened #638 "Pagination jitters."
At the moment Pagination jitters if the next element would span multiple lines making it appear inconsistent in chat.

Perhaps the contents should be padded with lines so that way it fills the entire chat box, making the previous and next arrows of the previous text hidden.

@Zidane You asked for more justification.

![image](https://cloud.githubusercontent.com/assets/141554/15266769/9d83c0e2-19ee

[2016-04-06 14:08] ryantheleach commented on #638
I'm partially through coding this, and it looks somewhat empty if there is a large amount of whitespace. But still somewhat better then what the jitter did. Wondering what the best method of dealing with it will be.

![image](https://cloud.githubusercontent.com/assets/141554/14319511/a36c3cfc-fc50-11e5-9b89-8b2b5d7b7db5.png)

![image](https://cloud.githubusercontent.com/assets/141554/14319497/959c

[2016-04-06 19:24] Aaron1011 commented on #633
@randombyte-developer: I mean, you need to listen to `ChangeBlockEvent.Modify`, and cancel any transaction which changes your block from lit to unlit.

[2016-04-06 22:47] ST-DDT commented on #638
I would prefer the whitespace before the content so it is aligned to the bottom. Because the textbox itself is too. Otherwise the text just flies in the middle of the screen.

[2016-04-07 04:01] #626 closed

[2016-04-07 05:39] theboomer opened #640 "Need to add support for latched/impulse physical events (initial pressure in collisions)"
Need a way to capture the initial impulse event only of ie a player stepping on a pressure plate, instead of firing thousands of times

Re: EntityCollideBlock event

Posted per blood's request.

Note, would it make sense to think of a Transducer Input Event to capture things like vanilla plates, levers, tripwires and other on/off devices - capturing the toggle state of those toggleable mechanics (

[2016-04-07 10:34] ryantheleach commented on #638
![image](https://cloud.githubusercontent.com/assets/141554/14348410/742ff3f6-fcfb-11e5-9836-0bc7f252639f.png)

![image](https://cloud.githubusercontent.com/assets/141554/14348416/802234bc-fcfb-11e5-9381-805548aeca67.png)

As the textbox has focus, and the text all appears at the same time it's going to "fly into the middle of the screen" regardless if it's paddded, as the background of the text bo

[2016-04-07 12:33] clienthax commented on #635
Fixed in next release <3

[2016-04-07 13:07] ST-DDT commented on #638
I would move the available commands section after the whitespace too because then you only need one or two lines of whitespace and the other stuff would already fade out.

But waiting for official approval is also a good idea.

[2016-04-07 15:45] #635 closed

[2016-04-07 15:50] Zidane commented on #604
Closing until I see this crop up again.

[2016-04-07 15:50] #604 closed

[2016-04-07 22:43] gabizou opened #641 "[Current CauseTracking] Test if cancelling a player block break still spawns itemstacks"
Currently, I've been writing around a potential bug that may exist in master, but I have yet to actually test on master: If a player breaks a block, and the ensuing block break is cancelled in the event system, the logic for the block breaking where `harvestBlock(World, EntityPlayer, BlockPos, IBlockState, TileEntity)` is still called on the block, which ultimately spawns the item drops.

In the r

[2016-04-07 23:36] gabizou commented on #641
Found the issue, to put into context:

[CauseTracker#handleBlockCaptures(Cause)](https://github.com/SpongePowered/SpongeCommon/blob/master/src/main/java/org/spongepowered/common/event/CauseTracker.java#L748) is clearing all item and entity spawns depending on the blocks being changed. I'm curious whether this has other potential ramifications for other items/entities that are spawned but cleared b

[2016-04-07 23:36] #641 closed

[2016-04-08 00:01] theboomer opened #642 "Itemframes wash away in spongeforge, but not vanilla/forge"
Tested with spongeforge-1808-1250, vanilla minecraft 1.8.9 and forge-1808

In spongeforge, if water flows down over an itemframe, or it is at ground level and water flows into it, the itemframe remains on the block submerged fine, but when the water source is removed and frames are reexposed to air, the itemframes pop off the blocks.  Vanilla minecraft behavior is they are not impacted by the addi

[2016-04-08 00:06] gabizou commented on #642
Can you test this in SpongeVanilla?

[2016-04-08 00:07] theboomer commented on #642
i can, and shall.

[2016-04-08 00:16] theboomer commented on #642
Yes, the behaviour is identical in spongevanilla Beta-291

[2016-04-08 05:17] #528 closed

[2016-04-08 05:38] #642 closed

[2016-04-08 13:33] bloodmc commented on #640
I reduced the amount of CollideEntityEvent calls by ignoring AIR blocks. It seems to perform much better now and should be good enough for what you need. I also looked into how Bukkit handled this and it was the same.

[2016-04-08 13:33] #640 closed

[2016-04-08 13:35] #602 closed

[2016-04-08 13:58] bloodmc commented on #581
This does not occur in latest build.

[2016-04-08 13:58] #581 closed

[2016-04-08 16:46] randombyte-developer opened #643 "@Exclude has no effect"
`@Exclude` has no effect. https://github.com/randombyte-developer/teleport-compass/blob/1485525853cc47e1bdaf6cfa8b5afa9853f20fec/src/main/kotlin/de/randombyte/teleportcompass/ExcludedListenerJava.java#L14-L14 gets fired but it shouldn't when `InteractBlockEvent`. https://forums.spongepowered.org/t/event-gets-fired-although-exclude/12189 others have problems too.

[2016-04-08 20:49] gabizou commented on #643
@Deamon5550 this is your realm of expertise.

[2016-04-08 22:20] gabizou commented on #52
I believe we've taken a deviation from this original thought where the old code isn't directly copied as comments, but rather just eliminated if overwritten. There are approximately 90+ `@Overwrite`s in the current implementation, so re-evaluating all of them to work would not sufficiently suffice unless we spent the time now to re-analyze the original overwrites and re-document and update with al

[2016-04-09 03:43] bloodmc commented on #343
This was fixed in commit

https://github.com/SpongePowered/SpongeCommon/commit/ff65dacfb3bd8e902b66a4dff1ee4caf552f3493

[2016-04-09 03:43] #343 closed

[2016-04-09 03:57] #354 closed

[2016-04-09 21:44] randombyte-developer commented on #633
@Aaron1011 I have to listen to `ChangeBlockEvent.Place`. Cancelling the block update produces the effect that the lamp stays lit. My problem is to identify those specific block updates so not that the plugin blocks all events that contain lit lamps. The cause of the block updates is somehow lava that is about 100 blocks away... ?!

[2016-04-09 21:49] Aaron1011 commented on #633
@randombyte-developer: I'm confused - don't you want certain lamp blocks to always stay lit? If so, can't you just cancel the `ChangBlockEvent.Modify` event transactions that touch the blocks you care about?

[2016-04-09 22:21] randombyte-developer commented on #633
@Aaron1011 You understood it right.
It is too late. I have to sleep :smile:. I have to restructure my code. When I am finished I publish the plugin and you can see what I did.

[2016-04-10 02:46] Zidane commented on #624
This is a duplicate of https://github.com/SpongePowered/SpongeCommon/issues/150

Please review open issues before creating them in the future.

[2016-04-10 02:46] #624 closed

[2016-04-10 02:47] Zidane commented on #291
Closing this as the UserStorageService is reliant on Overworld being loaded which doesn't happen till after SERVER_ABOUT_TO_START.

[2016-04-10 02:47] #291 closed

[2016-04-10 02:54] bloodmc commented on #536
It doesn't make sense to put stackoverflow detection in this method when 'CollideEvent.Impact' is the correct method to be using in your use-case. Whenever you attempt to use the base CollideEvent, you need to be really careful as it is called literally all the time. Marking this as closed since the correct event to listen for is 'CollideEvent.Impact'.

[2016-04-10 02:54] #536 closed

[2016-04-10 04:09] DarkArc commented on #624
I tried to, evidently not hard enough.

[2016-04-10 19:04] #643 closed

[2016-04-11 19:23] dualspiral opened #646 "Cancelled events still firing on default listeners"
When registering multiple listeners for the same event, and then cancelling the first one, the other events still fire. Sponge Docs suggest that cancelled events should not fire (https://docs.spongepowered.org/master/en-GB/plugin/event/listeners.html)

Test code can be found at: https://gist.github.com/dualspiral/29ffaa079de0341c19acfdb8c924e974. The test plugin fires when a block break event is f

[2016-04-11 19:36] Deamon5550 commented on #646
Most likely an issue with the event filter code, I'll investigate.

[2016-04-11 20:49] #646 closed

[2016-04-11 21:51] Cybermaxke commented on #637
Replacing all the `of('.', key)` with `of(key)` in the NbtTranslator should fix this issue.

[2016-04-12 18:32] gabizou commented on #52
@Zidane after dealing with a few overwrite rewrites the last couple of days, I feel that we need to heavily start enforcing the idea at least to either include (commented out) vanilla code and the javadoc for `@author` and `@reason`. Mixin is already complaining about all of the current overwrites for the missing javadocs.

[2016-04-12 18:58] modwizcode commented on #637
Why? I believe internally that calls `of('.', key)`

[2016-04-12 19:10] TheRaspPie commented on #629
Can't reproduce in SpongeVanilla build 293.

[2016-04-13 17:35] mentlerd opened #647 "InteractBlockEvent.Primary gets called repeatedly on air click, even after releasing the button"
As the title says, the 'Primary' variant of the event gets called indefinitely, unless you interact with a block, or interact with the air with the right button.

[2016-04-13 20:33] TheRaspPie opened #648 "`NullPointerException: uuid` while loading migrated Spigot world"
Confirmed to fail with the latest SpongeVanilla build 293 and SpongeForge build 1265.

Steps to reproduce:

1. Put a Spigot world (not the main world!) into the root folder of your Sponge server.
2. Delete all other worlds and configs in that root folder until you only have the files necessary for Sponge to run.
3. Let the plugin load the world with `server.loadWorld("copiedspigotworld")`. This th

[2016-04-13 21:37] Zidane commented on #648
The world migrator's purpose is to solely migrate the folder into the right spot. It is NOT a world manager, it doesn't load the world. It doesn't generate any sponge files (since you didn't load it).

Now the actual bug where loadWorld isn't creating a UUID is valid and I'll look into it. Thanks for letting me know.

[2016-04-14 05:03] simon816 commented on #428
This seems to be caused by `PacketUtil#onProcessPacket`

When calling `setBlockType` in your code, the world is updated and the block transaction is stored in the `CauseTracker`
Nothing happens for the rest of that tick. (From what I could tell)
Meanwhile, on the network thread, the client sends some packet to the server (could be anything). The packet is added to a queue to be processed next tick

[2016-04-14 05:33] simon816 commented on #580
That's probably because you're using `ItemTypes.NONE` which is an invalid item.
Try calling `slots.get(i).set(null);`

[2016-04-14 06:35] bloodmc commented on #647
@mentlerd I cannot reproduce this. Remove all plugins/mods except for sponge and test again.

[2016-04-14 12:30] amaranth commented on #586
Now that Minecraft is including a subset of fastutil it makes sense to use that in place of trove.

[2016-04-14 19:25] hsyyid commented on #580
@simon816 Shouldn't the inventory impl handle that?

[2016-04-14 19:28] simon816 commented on #580
Yes, it should add some defense against invalid items.

[2016-04-14 20:07] hsyyid commented on #580
@simon816 Not only that, if `NONE` is an `ItemType`, it shouldn't be throwing errors when you try to set that - the impl should be dealing with that.

[2016-04-14 20:48] DarkArc opened #650 "Exception when attempting to obtain the PassableProperty status via getProperty"
[code]

Triggering code:
https://github.com/Skelril/Pitfall-2/blob/sponge/src/main/java/com/skelril/Pitfall/sponge/PitfallPlugin.java#L95

This worked previously.

[2016-04-14 21:03] simon816 commented on #8
I have updated the list

[2016-04-14 21:32] simon816 commented on #650
Looks like this is caused by the addition of a `BlockSnapshot.NONE`, the `BlockTypes.AIR` is accessed before it is remapped
https://github.com/SpongePowered/SpongeCommon/commit/dfae1e0018e9326248821b5ea46a7b6259e9acaa#diff-42cddc4a65ed4b8ef843be2329b4bbd6R146

[2016-04-14 22:10] #650 closed

[2016-04-15 00:18] ryantheleach commented on #8
Cheers simon! It's damned close to being closed.

[2016-04-15 00:48] kenzierocks commented on #8
I'm going to take WireAttachmentData.

[2016-04-15 01:01] modwizcode commented on #580
I feel like a null item is something that should be invalid, while a NONE item should be the correct solution. Just a thought though.

[2016-04-15 09:20] ghost opened #651 "Crash when too close to world limit border"
In the 'org.spongepowered.common.world.storage.SpongeChunkLayout' file, there is a maximum of coordinates in the world. In the vanilla server, when you go further than this limit, there is void, but
it works. In SpongeCommon it throws an exception:

Command to teleport: `/tp @p 29999999 100 29999999`.

[code]

When you restart the server and try to log in again.

[code]

[2016-04-15 09:36] gravityfox opened #652 "Scoreboard entries with long names can kick players."
If a score in the sidebar scoreboard has a name greater than 40 characters, the user will disconnect with an error. Sponge should check to make sure a particular string is within that limit, and truncate it if need be.

Mentioning @Aaron1011 cause scoreboards.

[2016-04-15 09:47] kashike commented on #652
Probably best to throw an exception instead of truncating - here's what vanilla does, for reference:
[code]

[2016-04-15 22:32] modwizcode commented on #652
Agree with @kashike, truncating could technically allow overlap, and it's a pretty valid reason to throw.

[2016-04-16 01:52] #652 closed

[2016-04-16 07:08] gravityfox commented on #652
This does leave an unanswered question though. Let's say this does happen. How would I go about truncating a Text object that is too long?

[2016-04-16 07:57] gravityfox commented on #652
Actually, Objective names apparently have a 36 character limit. An exception should be thrown there too @Aaron1011.

[2016-04-16 11:38] kashike commented on #652
@gravityfox Objective **display** names are limited to `32` characters, not `36`.

As for objective names - they are internally limited to `16` characters:
[code]

[2016-04-16 14:18] simon816 commented on #580
I'm assuming the intention here is to empty a slot, perhaps using `slot.clear()` would be more appropriate here.
We either throw `IllegalArgumentException` on a `NONE` item, or we internally clear the slot.

[2016-04-16 15:23] modwizcode commented on #580
If we have a `slot.clear()` then that should be how you clear items. I think `NONE` should still be supported to have it be cleaner if you have let's say a hotbar toolbox plugin, and need to define all the hotbar slots, having a none item slot is a better (and simpler) format than making the plugin special case that gap. Obviously other solutions are possible, but that somehow feels cleaner to me.

[2016-04-16 17:36] mentlerd commented on #647
I have forgot to mention that this happens when I cancel the event. In this case the method handling this event exits prematurely, so lastAnimTick will never get changed.
[I think this part of code should run even if the event got cancelled](https://github.com/SpongePowered/SpongeCommon/blob/1953c13297f81517062b9404f31b97869e9e955f/src/main/java/org/spongepowered/common/mixin/core/server/MixinMine

[2016-04-16 19:22] gravityfox commented on #652
I meant the display name. xD

Either way my score names and display names have variable length, and if players decided to use ridiculously long world names or foxguard object names then it just sorta explodes. I would like to have it NOT do that.

[2016-04-17 01:57] DarkArc opened #654 "Cancelling the DropItemEvent.Destruct event no longer preserves inventory items"
When a player is killed, previously you could cancel the DropItemEvent.Destruct and that would prevent the player's items from being dropped, instead, they would be kept in the player's inventory. This is no longer the case, and the player's items will instead be destroyed.

[2016-04-17 02:48] theboomer opened #655 "MemoryDataView issue parsing collections"
gabizou spotted issue while looking over Set<UUID> deserialization...  I can't state what the issue is other than to quote the chat as reference.

`<gabizou>oh hah`
`<gabizou>Wolfizen, TheHiggsBozo, there's a minor bug in MemoryDataView`
`<TheHiggsBozo>oh?`
`<gabizou>it doesn't parse over objects within collections`

[2016-04-17 03:29] gabizou commented on #655
Wrong repo: https://github.com/SpongePowered/SpongeAPI/issues/1188

[2016-04-17 03:29] #655 closed

[2016-04-17 20:22] TheRaspPie commented on #647
The same happens to me. Very strange.

[2016-04-18 01:01] #647 closed

[2016-04-18 02:05] DarkArc opened #657 "DropItemEvent.Destruct not fired for creatures"
The DropItemEvent.Destruct is not fired for any drops created by killing entities. To reproduce monitor the event, and kill a zombie, no event will be fired.

[2016-04-18 03:14] #657 closed

[2016-04-18 23:02] TheRaspPie commented on #648
After searching through a lot of code, I think this is the issue:

As `worldInfo.getUniqueId()` is null in https://github.com/SpongePowered/SpongeCommon/blob/cfec312a67e61bc4f718846d6c8a79170b065ff5/src/main/java/org/spongepowered/common/mixin/core/server/MixinMinecraftServer.java#L680 the mistake must be in the lines above.

The `uuid` field in `MixinWorldInfo` is never initialized if the else br

[2016-04-19 00:21] TheRaspPie opened #658 "Calling `Server.loadWorld(String)` for a non-existent world name creates world files"
Validated with SpongeVanilla build 293 and SpongeForge build 1272.

Specifically, these files are created:

* non-empty `session.lock` file
* empty `playerdata` folder
* empty `data` folder

[2016-04-19 01:36] #611 closed

[2016-04-19 23:32] 12AwsomeMan34 opened #659 "Some block translations are off"
Performing `getTranslation()` on a blocktype usually produces the correct translation (ie. if I use it on grass, I get 'Grass Block'). However, if use it on something such as sponge, I get 'tile.sponge.name'

Essentially, running the following code
https://gist.github.com/12AwsomeMan34/8023b50333d0be8707862ed51a70e72d

will produce this output
https://gist.github.com/12AwsomeMan34/753a8e191958776c

[2016-04-19 23:33] Zidane commented on #659
I think this is because some translations are not known unless its in an ItemStack.

@Minecrell @gabizou ?

[2016-04-21 19:20] DarkArc opened #660 "Version Checker Problems"
Ubuntu's OpenJDK builds say their version is the following when accessed via the ```java.version``` property:
[code]

However, this is not the case, and the build is actually:
[code]

If you use ```java.runtime.version``` property you receive:
[code]

[2016-04-21 19:22] DarkArc commented on #660
Why exactly do we need a version post update 40?

[2016-04-21 19:26] gabizou commented on #660
@DarkArc because certain parts of our implementation relies on the various "fixes' that were pushed to the JRE for better stream compatibility with various collections (namely things like `CopyOnWriteArrayList`).

[2016-04-21 19:46] DarkArc commented on #660
@gabizou do those changes only affect performance, or is there actually something that would crash Sponge?

It seems like a bit of overkill to crash the server if they're on Java 8 but they don't have the right update/we can't verify it.

[2016-04-21 19:56] DarkArc commented on #660
This will hopefully be addressed by Ubuntu at some point, just as an fyi:
https://bugs.launchpad.net/ubuntu/+source/openjdk-8/+bug/1550244